<form class="full-width fleft padding-10">
    <fieldset ng-disabled="$ctrl.isdisabledforversioning">
        <div class="form-group">
            <label class="control-label margin-bottom-5" ng-hide="$ctrl.shapeModel.Name === 'participant'">
                User Role
            </label>
            <label class="control-label margin-bottom-5" ng-show="$ctrl.shapeModel.Name === 'participant'">
                Process Owner Role
            </label>
            <div>
                <userrolesintellisensetemplate isdisabledforversioning="$ctrl.isdisabledforversioning" lstuserroles="$ctrl.userRoles" propertyname="'dictAttributes.roles'" model="$ctrl.userRoleModel" rolename="$ctrl.userRoleModel.dictAttributes.roles"></userrolesintellisensetemplate>
            </div>
        </div>
    </fieldset>
</form>
