<div class="portlet-body">
    <div class="col-xs-12">
        <div class="pull-right">
            <img src="images/Common/icon_add_dark.svg" ng-click="AddValue()" />
        </div>
    </div>
    <div class="col-xs-12 full-width-form-table">
        <div class="table-scrollable">
            <table class="table table-striped table-hover table-bordered dataTable no-footer">
                <tbody>             
                    <tr role="row" ng-repeat="obj in lstPropertyValues">
                        <td>
                            <div class='input-group'>
                                <input class="form-control input-sm" type="text" ng-model="obj.value" />
                                <span title="Remove this value" class="input-group-addon btn-delete-value" ng-click="deletevalue($index)"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="form-actions">
    <input class="dialog-btn-default" type="button" value="OK" ng-click="setValueClick()" />
    <input class="dialog-btn-default" type="button" value="Cancel" ng-click="cancelClick()" />
</div>