<div class="portlet-body">
    <table class="table">
        <thead>
            <tr>
                <th class="table-header">Parameter</th>
                <th class="table-header">Parameter Value</th>
            </tr>
        </thead>
        <tbody class="table-body-text">
            <tr class="table-bg-light" ng-repeat="parameter in lstParameter">
                <td>
                    {{::parameter.DisplayField}}
                </td>
                <td ng-show="BusObjectName">
                    <objecttreeintellisensetemplate isshowcollection="false" model="parameter" objtree="ObjTree" objectfield="parameter.ParameterValue" propertyname="'ParameterValue'" isloadmethod="false" isxmlmethod="false" busobject="BusObjectName"></objecttreeintellisensetemplate>
                </td>
                <td ng-show="!BusObjectName">
                    <common-intellisense collection="lstQuerySchema" selected-item="parameter.ParameterValue" model="parameter" propertyname="'ParameterValue'"></common-intellisense>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="setParameter()" />
    <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeSetParameterDialog()" />
</div>
