<div>
    <i ng-class="field.Items.length==0?'custom-attribute-icons': field.IsExpanded?'fa fa-minus':'fa fa-plus'"  ng-click="ExpandCollapsedCustomAttrField(field,$event)" ng-show="field.Items.length>0"></i>
    {{field.Text}}
    <ul ng-if="field.Items.length > 0" ng-show="field.IsExpanded" role="group">
        <li ng-repeat="field in field.Items" entitytreefielddraggable dragdata="SelectedField.Text" dragobject="field"
            ng-mousedown="SelectFieldClick(field, $event)" class="common-tree-list marg-left-15"
            ng-class="field.IsSelected && field.Items.length==0?'selected':''">
            <div customattributetreetemplate></div>
        </li>
    </ul>
</div>