<div class='col-xs-12' ng-class="{'floating-reference-box': !IsQueryReferencePopover, 'content-width' : IsQueryReferencePopover  }">
    <label>Reference(s) <i class='badge'>{{$searchFindReferences.lstReferences.length}}</i></label>
    <b class='pull-right'>"{{$searchFindReferences.ReferenceValue | cut:false:50:'...' }}"</b>
    <i class="fa" ng-class="{ 'fa-times-circle-o' : IsQueryReferencePopover , 'fa-minus-circle' : !IsQueryReferencePopover }" aria-hidden="true" ng-click='closeFindReferencesPopover($event)'></i>
    <ul draggable='true' class='list-group'>
        <li class="list-group-item Padding-all-5" ng-repeat='objref in $searchFindReferences.lstReferences' ng-class="{'list-group-item-success': ($searchFindReferences.activeReferenceID == (objref.FileInfo.FileName + objref.LineNumber))}" ng-click='triggerFindReferences(objref, $event)'>
            <div class='col-xs-6' title="{{objref.FileInfo.FileName}}">{{objref.FileInfo.FileName | cut:false:35:'...'}}</div>
            <div class='col-xs-6' title="{{objref.LineData}}">{{objref.LineData  | cut:false:30:'...' }}</div>           
        </li>
    </ul>
</div>