<div id="help-container" style="height:100%;width:100%">
    <section ng-cloak class="cs-loader" ng-if="!isUrlLoaded">
        <div class="cs-loader-inner">
            <div ng-hide="$root.projectLoadError">
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
            </div>
        </div>
        <div class="cs-loader-text">Loading Help Contents...</div>
    </section>
    <iframe id="help-iframe" ng-src="{{helpUrl | trustAsResourceUrl}}" style="height:100%;width:100%;border:none"></iframe>
</div>
