<div class="portlet-body">
    <div class="col-xs-12 load-details-popup-table">
        <div class="form-group">
            <label class="control-label"> Method Name</label>
            <input type="text" class="col-xs-10 form-control" ng-model="button.methodName" />
        </div> 
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="errorMessage.length>0">{{errorMessage}}</span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="btn  default" ng-click="onBtnOkClick()" ng-disabled="validateBtnMethod()" />
    </div>
</div>
