

<wizard wizard-title-update hide-indicators="true" current-step="SelectedStep" class="full-height">
    <wz-step wz-title="Enter Chart Details" class="full-height">
        <div class="portlet-body">
            <div class="form-body">

                <div class="form-group">
                    <label class="col-md-3 control-label">ID:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.ID}}" ng-model="ObjChartModel.dictAttributes.ID">
                    </div>
                </div>
                <div class="form-group">

                    <label class="col-md-3 control-label">Chart Name:</label>
                    <div class="col-md-7">
                        <entityfieldelementintellisense modebinding="ObjChartModel.dictAttributes.ChartName" model="ObjChartModel" entityid="FormModel.dictAttributes.sfwEntity" propertyname='"dictAttributes.ChartName"'></entityfieldelementintellisense>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Entity Collection:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.sfwEntityField}}" ng-model="ObjChartModel.dictAttributes.sfwEntityField">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Chart Type:</label>
                    <div class="col-md-7">
                        <select ng-options="chart for chart in lstChartType" ng-change="onChartTypeChanged()" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.ChartType}}" ng-model="ObjChartModel.dictAttributes.ChartType" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Width:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.Width}}" ng-model="ObjChartModel.dictAttributes.Width" postfix="px" numbers-only />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Height:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.Height}}" ng-model="ObjChartModel.dictAttributes.Height" postfix="px" numbers-only />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">No Data Text :</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.NoDataText}}" ng-model="ObjChartModel.dictAttributes.NoDataText" />
                    </div>
                </div>

                <div class="form-group" ng-show="ObjChartModel.dictAttributes.ChartType != 'Donut' && ObjChartModel.dictAttributes.ChartType != 'Pie'">
                    <label class="col-md-3 control-label">Is Dynamic Series :</label>
                    <div class="col-md-7">
                        <input type="checkbox" ng-model="ObjChartModel.dictAttributes.sfwIsDynamicSeries" ng-change="removeSeriescolumnValues(ObjChartModel)" ng-true-value="'True'" ng-false-value="'False'">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">X-Axis Render Function:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.sfwXAxisRenderFun}}" ng-model="ObjChartModel.dictAttributes.sfwXAxisRenderFun" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Y-Axis Render Function:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.sfwYAxisRenderFun}}" ng-model="ObjChartModel.dictAttributes.sfwYAxisRenderFun" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">X-Axis Format Function:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.sfwXAxisFormatFun}}" ng-model="ObjChartModel.dictAttributes.sfwXAxisFormatFun" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Y-Axis Format Function:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.sfwYAxisFormatFun}}" ng-model="ObjChartModel.dictAttributes.sfwYAxisFormatFun" />
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-md-3 control-label">Chart Area Name:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{sfwChartAreaModel.dictAttributes.ChartAreaName}}" ng-model="sfwChartAreaModel.dictAttributes.ChartAreaName">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Back Color:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{sfwChartAreaModel.dictAttributes.BackColor}}" ng-model="sfwChartAreaModel.dictAttributes.BackColor">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Enable 3D:</label>
                    <div class="col-md-7">
                        <input type="checkbox" ng-model="Area3DStyle.dictAttributes.IsEnable3D" ng-true-value="'True'" ng-false-value="'False'">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Show Legend:</label>
                    <div class="col-md-7">
                        <input type="checkbox" ng-model="ObjChartModel.dictAttributes.ShowLegend" ng-true-value="'True'" ng-false-value="'False'">

                    </div>
                </div>-->

                <div class="form-group" ng-if="Area3DStyle.dictAttributes.IsEnable3D=='true' || Area3DStyle.dictAttributes.IsEnable3D=='True'">
                    <label class="col-md-3 control-label">Inclination:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{Area3DStyle.dictAttributes.Inclination}}" ng-model="Area3DStyle.dictAttributes.Inclination">

                    </div>
                </div>

                <div class="form-group" ng-if="Area3DStyle.dictAttributes.IsEnable3D=='true' || Area3DStyle.dictAttributes.IsEnable3D=='True'">
                    <label class="col-md-3 control-label">Light Style:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{Area3DStyle.dictAttributes.LightStyle}}" ng-model="Area3DStyle.dictAttributes.LightStyle">
                    </div>
                </div>

                <!--<div class="form-group">
                    <label class="col-md-3 control-label">Background Color :</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.BackGroundColor}}" ng-model="ObjChartModel.dictAttributes.BackgroundChartColor">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">XAxis Title :</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.XAxisTitle}}" ng-model="ObjChartModel.dictAttributes.XAxisTitle">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">YAxis Title :</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.YAxisTitle}}" ng-model="ObjChartModel.dictAttributes.YAxisTitle">

                    </div>
                </div>-->

            </div>
        </div>
        <div class="form-actions">
            <div class="col-xs-6 text-left">
                <span class="alert-error-msg" ng-if="ObjChartModel.ErrorMessageForDisplay.length>0">{{ObjChartModel.ErrorMessageForDisplay}}</span>
            </div>
            <div class="col-xs-6">
                <input type="button" value="Cancel" ng-click="onSfxChartCancelClick()" class="dialog-btn" />
                <input type="button" wz-previous="onPrevious()" value="Back" ng-disabled="true" class="dialog-btn" />
                <input type="button" wz-next="onNext()" value="Next" ng-disabled="isChartNextDisable()" class="dialog-btn" />
                <input type="button" wz-finish value="Finish" ng-disabled="true" class="dialog-btn" />
            </div>
        </div>
    </wz-step>

    <wz-step wz-title="Add Series Details" canexit="ValidateEntityDetails" wz-disabled="{{objEntityDetail.CanShowEntitySteps()}}" class="full-height">
        <div class="portlet-body  series-details-popup">
            <table class="table table-hover table-bordered dataTable no-footer">
                <thead>
                    <tr role="heading">
                        <th tabindex="0" class="sorting_asc ui-resizable padding-0" aria-controls="sample_editable_1" aria-label="Attribute activate to sort column ascending"
                            aria-sort="ascending" rowspan="1" colspan="13">
                            <div class="table-hader-actions">
                                <i class="fa fa-plus" ng-click="OnAddSeriesClick()" title="Add Series"></i>
                                <i class="fa fa-minus" ng-click="OnRemoveSeriesClick()" title="Remove Series" ng-disabled="ObjSeriesModel==undefined"></i>
                            </div>
                            <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
                        </th>
                    </tr>
                    <tr>
                        <th>Series Name</th>
                        <th>X Value Member</th>
                        <th>Y Value Member</th>
                        <!--<th>Navigation Form</th>-->
                    </tr>
                    <tr ng-repeat="itm in SeriesModel.Elements" ng-click="SelectSeries(itm)" ng-dblclick="OnEditSeries(itm)"
                        ng-class="ObjSeriesModel==itm?'selected':''">
                        <td><span ng-bind="itm.dictAttributes.Name"></span></td>
                        <td><span ng-bind="itm.dictAttributes.XValueMember"></span></td>
                        <td><span ng-bind="itm.dictAttributes.YValueMembers"></span></td>
                        <!--<td><span ng-bind="itm.dictAttributes.sfwActiveForm"></span></td>-->
                    </tr>
                </thead>
            </table>
        </div>
        <div class="form-actions">
            <div class="col-xs-6 text-left">
                <span class="alert-error-msg" ng-if="ErrorMessageForDisplay.length>0" ng-bind="ErrorMessageForDisplay"></span>
            </div>
            <div class="col-xs-6">
                <input type="button" value="Cancel" ng-click="onSfxChartCancelClick()" class="dialog-btn" />
                <input type="button" wz-previous="onPrevious()" value="Back" class="dialog-btn" />
                <input type="button" wz-next="onNext()" value="Next" ng-disabled="true" class="dialog-btn" />
                <input type="button" wz-finish value="Finish" ng-click="onSfxChartFinishClick()" class="dialog-btn" />
            </div>
        </div>
    </wz-step>
</wizard>


