<div class="portlet-body" id="highlight">
    <div class="col-xs-12">
        <div class="margin-bottom-15" style="border-bottom: 1px solid;padding-bottom:15px;">
            <label class="checkbox-inline">
                <input type="checkbox" class="marg-top-2" ng-model="AllFilesObj.selected" ng-click="selectAll()" />
                {{::AllFilesObj.name}}
            </label>
        </div>
        <div ng-repeat="obj in attributesList" class="marg-bottom-5">
            <label class="checkbox-inline">
                <input type="checkbox" class="marg-top-2" ng-model="DesignAttribute[obj.value]" />
                {{::obj.label}}
            </label>
        </div>
    </div>    
</div>
<div class="form-actions">
   <label class="pull-left">Note: This is a read only view.</label>
   <input type="button" class="dialog-btn-default" value="OK" ng-click="onOKClick()" />  
</div>