<div>
    <!--<div ng-click="ExpandCollapsedControl(field,$event)" ng-show="field.Elements.length>0"></div>
    {{field.ID}}
    <ul ng-if="field.Elements.length > 0" ng-show="field.IsExpanded" role="group" class="jstree-children list-unstyled">
        <li ng-repeat="field in field.Elements" parameterdraggable dragdata="field.ID" ng-include="'parameterNavigationTree2'" ng-click="SelectFieldClick(field, $event)"
            ng-mousedown="SelectFieldClick(field, $event)"
            role="treeitem" id="j2_2" ng-class="field.Elements.length == 0?'jstree-node  jstree-leaf':field.IsExpanded?'jstree-node jstree-open':'jstree-node jstree-closed'">
        </li>
    </ul>-->

    <i ng-class="field.IsExpanded?'fa fa-minus':'fa fa-plus'" ng-click="ExpandCollapsedControl(field, $event)" ng-show="field.Elements.length > 0"></i>
    <input type="checkbox" ng-model="field.IsSelected" ng-show="field.IsCheckBoxVisible" id="chk{{field.ID}}" />
    <label for="chk{{field.ID}}" ng-bind="field.ID"></label>
    <ul ng-if="field.Elements.length > 0" ng-show="field.IsExpanded" role="group">
        <li ng-repeat="field in field.Elements" ng-click="SelectFieldClick(field, $event)"
            parameterdraggable dragdata="field.ID" ng-mousedown="SelectFieldClick(field, $event)" class="common-tree-list marg-left-15">
            <div navigationparamchildtemplate></div>
        </li>
    </ul>

</div>