<div ng-controller="RetrievalControlsController" id="RetrievalControls" class="full-height">
    <div class="portlet-body series-details-popup" id="ScopeId_{{$id}}">
        <div class="client-visi-layout">
            <div class="retrieve-param-tree-list">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Parameters</span>
                    </div>
                    <div class="client-visi-content">
                        <ul class="list-unstyled">
                            <li ng-repeat="column in lstColumns" retrievalcontroldraggable dragdata="column.CodeID">
                                <span ng-bind="column.CodeID"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="retrieve-param-value-table">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Available Fields</span>
                        <div class="fright" ng-if="formobject.dictAttributes.sfwType != 'FormLinkLookup' && formobject.dictAttributes.sfwType != 'FormLinkMaintenance' && formobject.dictAttributes.sfwType != 'FormLinkWizard'">
                            <input type="checkbox" ng-model="ShowAll.isShowAll" ng-change="ShowAllControls()" />
                            <span class="heading-span">Show All Controls</span>
                        </div>
                    </div>
                    <div class="client-visi-content">
                        <table class="table table-condensed table-hover table-fixedheader">
                            <thead>
                                <tr>
                                    <th width="35%">ID</th>
                                    <th width="65%">Retrieval Control ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="RetrievalControl in lstRetrievalControl">
                                    <td width="35%"><span ng-bind="RetrievalControl.ID"></span></td>
                                    <td width="65%"><input type="text" class="form-control input-sm" title="{{RetrievalControl.ControlID}}" ng-model="RetrievalControl.ControlID" retrievalcontroldroppable dropdata="RetrievalControl.ControlID" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" ng-disabled="ValidateDataAll()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeClick()" />
    </div>
</div>

