
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

/*body {
padding:0px;
margin:0px;

}
#login-box
{
    width: 333px;
    height: 352px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font-family: 'Open Sans','Segoe UI Symbol',Helvetica;
    background: url('../Image/login-box-backg.png') no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


.login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	margin:0 0 7px 0;
    font-weight:bold;
    padding-right: 10px;
   
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


#UserName, #Password {
	padding: 7px;   
    border: 1px solid #333333;
    width:200px;
    height:20px;
    
    background: -moz-linear-gradient(center top , #FFFFFF,  #eeead7 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeead7', endColorstr='#FFFFFF');
    font-family:'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    font-size:14px;
    color:#333;
 
 
   
}
#UserName:hover, #Password:hover
{
    border:1px solid #f7cd83;
}
#UserName:focus, #Password:focus
{
    box-shadow:0 0 2px #ffba00;
}

.login-box-options  {
	clear:both;
	font-size: 15px;
    font-family:Arial;
    color:#FFFFFF;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}


.ReqInfo
{
    color: red!important;
     padding-left:3px;   
}

.btnLogin{
font:bold 17px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#333333;
border:1px solid #ffe88b;
width:90px;
height:40px;
line-height:24px;
border-radius:5px;
cursor:pointer;
background: rgb(117,214,255);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1ZDZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDgxYWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(117,214,255,1) 0%, rgba(20,129,174,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,214,255,1)), color-stop(100%,rgba(20,129,174,1)));
background: -webkit-linear-gradient(top,  rgba(117,214,255,1) 0%,rgba(20,129,174,1) 100%);
background: -o-linear-gradient(top,  rgba(117,214,255,1) 0%,rgba(20,129,174,1) 100%);
background: -ms-linear-gradient(top,  rgba(117,214,255,1) 0%,rgba(20,129,174,1) 100%);
background: linear-gradient(to bottom,  rgba(117,214,255,1) 0%,rgba(20,129,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75d6ff', endColorstr='#1481ae',GradientType=0 );


}

    .btnLogin:hover {
        cursor: pointer;
        position: relative;
        background: rgb(20,129,174);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0ODFhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NWQ2ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(20,129,174,1) 0%, rgba(117,214,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,129,174,1)), color-stop(100%,rgba(117,214,255,1)));
        background: -webkit-linear-gradient(top,  rgba(20,129,174,1) 0%,rgba(117,214,255,1) 100%);
        background: -o-linear-gradient(top,  rgba(20,129,174,1) 0%,rgba(117,214,255,1) 100%);
        background: -ms-linear-gradient(top,  rgba(20,129,174,1) 0%,rgba(117,214,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(20,129,174,1) 0%,rgba(117,214,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1481ae', endColorstr='#75d6ff',GradientType=0 );
    

    }

.btnLogin:active
{
    position:relative;
    top:2px;
}

    .btnLogin:focus {
        outline:none;
    }

h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Open Sans','Segoe UI Symbol',Helvetica;
    padding: 5px 3px 0px 4px;
    text-shadow: rgba(0,0,0,.9) 0 1px 0;
}
.LoginBg {
    background:#ace1ff;
    clear: none;
    height: auto;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #F69034;
    color: #FFFEFF;
    text-shadow: none;
}
.logheader {
    background-color:#193658;
    width:100%;
    height:60px;

    
}
.loginband {
    background:#2b506f;
    font-family: 'Open Sans','Segoe UI Symbol',Helvetica;
    background-image: url("../Images/login_box_bg.png") repeat left top;
    margin: 0;
    color:#fff;
    padding: 0;
    width:100%;
    height:370px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.logbox {
     display: block;
    margin: 0 auto;
    position: relative;
    width:990px;
}
    .logbox .divizlogo {
        width: 400px;
        position: relative;
        height:330px;
        float: left;
        margin-top:20px;
        background: url("../Images/logo.png") no-repeat center center;
		padding-right:100px;
		border-right:1px solid #FFFFFF;
    }
.logbox .logscreen {
   
    position:relative;
    margin-top:20px;
    margin-left:20px;
    float:left;
    
}

.footer {
    bottom:0px;
    height:100%;
    margin:0 auto;
    display:block;
    float:left;
    width:100%;
    font-family:'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    font-size:14px;
    color:#333;
}


.login-wrapper
{
    width:450px;
    height:auto;
    margin:150px auto 0px auto;
}

.login-logo
{
    width:450px;
    height:115px;
    margin:0px auto;
    border:1px solid #0f515f;
    border-bottom:1px solid #ffcf82;
    border-radius:5px 5px 0px 0px;
    background: rgb(160,227,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZTNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYWEwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(160,227,255,1) 0%, rgba(42,160,208,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,227,255,1)), color-stop(100%,rgba(42,160,208,1)));
    background: -webkit-linear-gradient(top,  rgba(160,227,255,1) 0%,rgba(42,160,208,1) 100%);
    background: -o-linear-gradient(top,  rgba(160,227,255,1) 0%,rgba(42,160,208,1) 100%);
    background: -ms-linear-gradient(top,  rgba(160,227,255,1) 0%,rgba(42,160,208,1) 100%);
    background: linear-gradient(to bottom,  rgba(160,227,255,1) 0%,rgba(42,160,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0e3ff', endColorstr='#2aa0d0',GradientType=0 );

   
}

.login-contents
{
    width:450px;
    height:250px;
    background:#54a8c7;
    border:1px solid #0f515f;
    border-top:none;
    background: rgb(10,62,89);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhM2U1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjVjODIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(10,62,89,1) 0%, rgba(18,92,130,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,62,89,1)), color-stop(100%,rgba(18,92,130,1)));
    background: -webkit-linear-gradient(top,  rgba(10,62,89,1) 0%,rgba(18,92,130,1) 100%);
    background: -o-linear-gradient(top,  rgba(10,62,89,1) 0%,rgba(18,92,130,1) 100%);
    background: -ms-linear-gradient(top,  rgba(10,62,89,1) 0%,rgba(18,92,130,1) 100%);
    background: linear-gradient(to bottom,  rgba(10,62,89,1) 0%,rgba(18,92,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3e59', endColorstr='#125c82',GradientType=0 );

}

.login-inner-wrapper
{
    width:425px;
    height:200px;
    margin:0px auto;
    padding-top:50px;
 
}

.login-caption
{
    width:125px;
    padding-left:15px;
    height:50px;
    font-family:Arial;
    font-weight:bold;
    font-size:18px;
    line-height:40px;
    float:left;
    color:#FFFFFF;
}

.login-textboxes
{
    width:285px;
    height:50px;
    float:left;
}

.remember-me
{
    margin-bottom:15px;
}


.margleft-65
{
    margin-left:65px !important;
}

.login-shaddow 
{
    width:660px;
    height:30px;
    position:relative;
    margin-left:-105px;
    margin-top:-24px;
}*/

/******************************************************* LOGIN HEADER ************************************************************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../Images/bg.jpg');
    font-family: 'Poppins', sans-serif;
    color: #252525;
    background-position: right top;
    background-attachment: fixed;
}

.login-header {
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #bbb
}
.logn-name {
    text-align: center;
    text-transform: uppercase;
}
.logn-name hr {
    width: 100px;
    margin: 10px auto;
    text-align: center;
    display: block;
    border: 0.5px solid #ccc;
}
.login-wrapper {
    max-width: 550px;
    padding: 0px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login-body
{
    background-image:url(../CSS/login-bg.jpg);
    background-size:cover;
}

/*.login-wrap
{
    max-width:585px;
    width:100%;
    height:auto;
    margin:50px auto 0px auto;
}*/


.login-head {
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #bbb;
}


.login-box
{
    /*width:100%;*/
    margin-top:15px;
    /*background-color:rgba(255,255,255,0.2);
    text-align:center;
    padding:40px 0px;
    position:relative;*/
 
}

    .login-box p {
        /*font-family:'Segoe UI';
    font-weight:normal;
    font-size:16px;
    color:#FFFFFF;
    padding:10px 20px;
    width:75%;
    margin:0px auto;
    border:1px solid #efdda7;*/
    text-align: center;
    padding: 0px 0px 10px;
    font-size: 13px;
    font-weight: 500;
}

.logerror {
    
    font-size: 14px;
    font-family: verdana;
    color:red;
   
}

#UserName
{
    width:50%;
    height:30px;
    padding-left:45px;


}

.UserName
{
    width:50%;
    height:30px;
    padding:4px 5px;
    border:1px solid #ccc;
    width:47%;
    margin-left:20px;

}

.Password
{
    width:50%;
    height:30px;
    padding:4px 5px;
    border:1px solid #ccc;
    width:47%;
    margin-left:20px;

}

#Password
{
    width:50%;
    height:30px;
    padding-left:45px;
}
.logn-name h3{
    font-size:16px;
}
.login-btn {
    display: block;
    background: #efdda7;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    border: 1px solid #FFFFFF;
    padding: 5px 30px;
    margin: 20px auto;
}

form
{
    margin:0px !important;
}

.icon_username
{
    width:39px !important;
    height:38px !important;
    position:absolute;
    background:url('../CSS/icon-username.png') no-repeat #9b2e33 center;
    left:119px;
    border:1px solid #FFFFFF;
}

.icon_password
{
    width:39px !important;
    height:38px !important;
    position:absolute;
    background:url('../CSS/icon-password.png') no-repeat #9b2e33 center;
    left:119px;
    border:1px solid #FFFFFF;
}

.select-member-box 
{
    height: 32px!important;
    width: 70% !important;
    border-radius: 0!important;
    float: left;
    margin-right: 5px;
}

.search-member
{
    /*display: inline;*/
    width: 28px;
    height: 28px;
    border: none;
    background:url('../CSS/member-search.png') no-repeat #9b2e33 center;
    color:#9b2e33;
    border:1px solid #FFFFFF;
}

.ok-member
{
    display:block !important;
    background:#efdda7 !important;
    font-family:'Segoe UI' !important;
    font-weight:bold !important;
    font-size:16px !important;
    color:#333333 !important;
    border:1px solid #FFFFFF !important;
    padding:2px 30px !important;
    margin:20px auto !important;
}

.go-btn {
    /*display:block !important;
    background:#efdda7 !important;
    font-family:'Segoe UI' !important;
    font-weight:bold !important;
    font-size:16px !important;
    color:#333333 !important;
    border:1px solid #FFFFFF !important;
    padding:2px 30px !important;
    margin:20px auto 0px auto !important;
    clear:both;*/
    background: #ff9100;
    color: #FFFFFF;
    padding: 8px 30px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s all ease-in-out;
    border: 1px solid #ff9100;
    width: 100%;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
}

.change-password
{
    display:block !important;
    background:#efdda7 !important;
    font-family:'Segoe UI' !important;
    font-weight:bold !important;
    font-size:16px !important;
    color:#333333 !important;
    border:1px solid #FFFFFF !important;
    padding:2px 30px !important;
    margin:20px auto 0px auto !important;
    clear:both;
}


.radio-wrap
{
    margin-top:20px;
    margin-bottom:30px;
    text-align:center;
}

.radio-wrap label {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 16px;
    color: #252525;
    margin-right: 20px;
}

#vlsErrors ul
{
    color:red;
    list-style-type:none;
    margin-top:10px;
}

.LoginInfo ul
{
    width: 35%;
    border: 1px solid #FFF;
    margin: 15px auto 0px auto;
    padding: 10px;
}

.LoginInfo ul li
{

    text-align: left;
    margin-left: 15px;
    color: #fff;


}

.disclaimer
{
    text-align:justify;
    margin:10px auto;
    list-style-type:none;
    width:100%;
    max-width:585px;
}

#user-confirm-wrap
{
    width:50%;
    margin:0px auto;
}


.loginForgotPWDButton
{
    color:#333333;
    display:block;
    margin-top:10px;
}

.loginPhraseTxt
{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.securityTxtHeading
{
    font-size:16px;
    color:#FFFFFF;
}


.answers-wrap
{
    max-width:520px;
    width:100%;
    margin:20px auto;
}

.answers-div
{
    height:40px;
    font-size:12px;
    color:#FFF;
    text-align:left;
}

.answers-div input
{
    height:20px;
}

.answers-wrap .answers-row .answers-div:first-child
{
    width:320px;
    float:left;
}

.answers-wrap .answers-row .answers-div:last-child
{
    width:200px;
    float:left;
}


.authenticationImageList input[type='image']

{
    width:100%;
}

.authentication
{
    color:#FFFFFF;
    font-size:14px;
}

.naviHeadStep
{
    color:#FFFFFF;
}

#txtPhrase
{
    width:75%;
    height:25px;
}

.terms-text
{
    max-width:500px;
    margin:0px auto !important;
}
.login-inner-wrap {
    width: 100%;
    float: left;
    padding: 20px 50px 40px;
}
.terms-text p
{
    border:none !important;
    width:95% !important;
    padding: 10px !important;
    font-size:14px;
    line-height:20px;
}

.naviHeadPara
{
    border:1px solid #efdda7;
}

.agreeTerms
{
    color:#FFFFFF;
    font-size:12px;
}

.agreeTerms label
{
    margin-left:5px;
}

.astrick
{
    color:red;
}

.password-wrap
{
    max-width:350px;
    margin:0px auto;
}

.password-wrap .row
{
    float:left;
    margin-bottom:10px;
    width:100%;
 }


.password-wrap label
{
    display:block;
    float:left;
    max-width:170px;
    width:100%;
    text-align:left;
    line-height:25px;
    height:25px;
    font-size:13px;
}

.txtbx-wrap
{
    float:left;
    max-width:180px;
    width:100%;
    height:25px;
    
}

.txtbx-wrap input
{
    width:100%;
    float:left;
    height:25px;
}


.LoginContent span
{
    display:block;
    font-size:12px;
    font-weight:bold;
    margin:10px 0px;
    color:#CCCCCC;
}


.LoginContent
{
    max-width:350px;
    width:100%;
    margin:0px auto;
    padding-top:20px;
}
.LoginContent ul li

{
    text-align:justify;
    color:#CCC;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.icon_password  { margin-top:50px; }
    .icon_username {
        left: 118px;
    }
}

@media (max-width:600px)
{
    .icon_username
    {
        display:none;
    }

    .icon_password
    {
        display:none;
    }

    #UserName
    {
        padding-left:5px;
    }

    #Password
    {
        padding-left:5px;
    }

    .login-box
    {
        width:85%;
        margin:0px auto;
    }

    .login-head
    {
        font-size:24px;
        width:85%;
        margin:0px auto;
    }

    .disclaimer
    {
        width:85%;
    }

    .password-wrap
    {
      
        width:80%;
        max-width:80%;
    }

    .txtbx-wrap
    {
        max-width:100%;
    }

    .password-wrap label
    {
        max-width:100%;
    }

    .LoginContent ul
    {
        padding:25px;
    }

    .change-password {
        padding:5px 15px !important;
        font-size:12px !important;
    }

    .answers-wrap
    {
        width:90%;
    }

    .answers-wrap .answers-row .answers-div:first-child
    {
        width:100%;
        float:left;
    }

    .answers-wrap .answers-row .answers-div:last-child
    {
        width:100%;
        float:left;
    }

    .answers-div input
    {
        width:100%;
    }

}








