* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 100%;
    margin: 0px auto 0px auto;
}

.btn-row {
    margin-left: 5px;
    float: left;
    width: 98.1%;
    margin-bottom: 5px;
    /*border: 1px solid #CCC;*/
}

    .btn-row input[type="button"] {
        float: left;
    }

input[type="button"] {
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 5px;
}

.panel {
    border: 1px solid #888;
    float: left;
    width: 100%;
    margin-top: 5px;
}

.btn-row span {
    margin-left: 10px;
    display: block;
}

.form {
    float: left;
    width: 100%;
   
}

.innerform {
    float: left;
    width: 50%;
}

    .form .head {
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 22px;
        color: #333333;
        padding: 10px;
        display: block;
        text-align: left;
    }

    .form .trow {
        margin-top: 0px;
        float: left;
        width: 100%;
        margin-left: 0px;
        /*border: 1px solid #CCC;*/
        border-bottom: none;
        display: table;
        border-left: none;
        border-right: none;
        padding-top: 5px;
    }

        .form .trow:last-child {
            /* border-bottom: 1px solid #CCCCCC; */
            border-bottom: none;
        }

.trow div {
   
    text-align: left;
    color: #333333;
    display: table-cell;
    vertical-align: top;
}




.CaptionDiv {
    text-align: right !important;
}

    .CaptionDiv label {
        margin-right: 5px;
   
    }

.CaptionDivHeading {
    text-align: left !important;
}

    .CaptionDivHeading label {
        margin-right: 5px;
        font-weight: bold !important;
    }

.FontItalic {
    font-style: italic !important;
}


.col-1 {
    width: 100%;
   
}

.col-2 {
    width: 50%;
    
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.66%;
}

.col-7 {
    width: 14.28%;
}

.col-8 {
    width: 12.5%;
}
/** .col-4:before{ content:" "; border-left:1px solid #CCC; position:absolute; display:block; height:40px;}For Lines of Columns**/
.form .trow .col-4:first-child:before {
    border-left: none;
}

.form .trow div span {

    word-break: break-all;
  
}

input[type="text"] {
    width: 90%;
    height: 25px;
    float: left;
}

#pnlAddressDialog table td {
    width: 25%;
}

input[type="checkbox"] {
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}

.astrick {
    color: red;
    margin-right: 3px;
    margin-top: 3px;
}

select {
    float: left;
    width: 90%;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

.img-tile {
    float: left;
}

.tile-text {
    float: left;
    margin-left:10px;
}

    .tile-text a {
        color: #333333;
    }

@media (max-width:800px) {
    .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
        float: left;
        text-align: left !important;
    }

    .astrick {
        display: inline !important;
    }

    input {
        margin-bottom: 15px;
    }

    .needtohide {
        display: none !important;
    }


    .CaptionDiv {
        text-align: left !important;
    }

        .CaptionDiv label {
            margin-bottom: 0px !important;
        }

    .HideInResponsive {
        display: none !important;
    }
}

.rightFloatingCheckbox
{
    float : right !important;
    margin-top : 2px !important;
}

legend
{
    font-size:16px !important;
}

.separator
{
    width: 100%;
    height: 1px;
    background: #CCC;
    float: left;
    margin-top: 5px;
}

input[type="radio"]
{
    margin-left:5px !important;
    margin-right:2px !important;
}


input[type="checkbox"]
{
    margin:0px 5px 0px 5px !important;
}

.table-structure
{
    width:auto;
}

.div-label
{
    width:130px;
}

.div-input
{
    width:200px;
}

