/* Sagitec Switch CSS*/
.switch {
  position: relative;
  width: 42px;
  top:2px;
  
}

.switch-control
{
    margin-right:10px;
}

.switch-control label
{
    display:block;
    float:left;
    padding:3px;
    box-sizing:border-box;
    height: 17px;
    line-height:17px;
    margin:3px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a2a2a2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:disabled + .slider {
  background-color: #d2d2d2 !important;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-control.round .slider{
  border-radius: 34px;
}

.switch-control.round .slider:before {
  border-radius: 50%;
}
/* End Switch CSS*/