<tr ng-click="clickCallback({ prop : prop, $event : $event})" category="{{category}}">
    <td>
        <div advance-prop-caption-wrapper>
            <label ng-bind="prop.PropertyName" title="{{prop.PropertyName}}" class="common-prop-caption" ng-dblclick="dbclickCallback({ prop : prop, $event : $event})"></label>
        </div>
    </td>
    <td>
        <div class="configured-div-style">
            <label ng-bind="prop.PropertyValue" ng-if="disabledProplist && disabledProplist.indexOf(prop.PropertyName) >= 0"></label>
            <input type="text" title="{{prop.PropertyValue}}" ng-model='prop.PropertyValue' ng-if='(!prop.lstValues || (prop.lstValues && prop.lstValues.length == 0)) && disabledProplist.indexOf(prop.PropertyName) < 0' ng-style="prop.PropertyValue!=prop.DefaultValue? { 'font-weight':'bold'} : { 'font-weight': 'normal' }" ng-change='changeCallback()' undoredodirective model="prop" />
            <select ng-options='val for val in prop.lstValues' title='{{prop.PropertyValue}}' ng-model='prop.PropertyValue' ng-if='prop.lstValues.length>0' ng-style="prop.PropertyValue!=prop.DefaultValue? { 'font-weight':'bold'} : { 'font-weight': 'normal' }" ng-change='changeCallback()' undoredodirective model="prop"></select>
            <input type="button" ng-click="deletePropCallback()" value="x" ng-hide="!showDeleteButton || (disabledProplist && disabledProplist.indexOf(prop.PropertyName) >= 0)" class="fright"  title="Delete Property"/>
        </div>
    </td>
</tr>