<div class="full-height" ng-controller="GroupExpressionController">
    <div class="portlet-body">
        <div class="col-xs-12">
            <table class="table table-condensed table-hover table-fixedheader">
                <thead>
                    <tr>
                        <th width="50%">Field Name</th>
                        <th width="50%">Group Expression</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="column in lstGridColumns">
                        <td width="50%"><span ng-bind="column.FieldName"></span></td>
                        <td width="50%"><select class="form-control input-sm" ng-options="groupExpression for groupExpression  in lstGroupExpression" title="{{column.GroupExpression}}" ng-model="column.GroupExpression" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeClick()" />
    </div>
</div>