<div class="portlet-body scenario-overflow-hide" id='Scope_{{$id}}'>
    <div class="col-xs-12 div-border full-height overflowA">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th width="40%">Parameter ID</th>
                    <th></th>
                    <th width="40%">Parameter Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="param in queryParameters">
                    <td width="40%"><span ng-bind="param.ID"></span></td>
                    <td>=</td>
                    <td width="40%">
                        <select class="form-control input-sm" ng-options="x for x in queryValues" title="{{param.Value}}" ng-model="param.Value">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOKClickQueryParameters()" />
</div>
