/*------------New Dashboard Responsive-----------*/
@media (max-width: 1410px) {
  .UnusedSickLeaveMonths {
    white-space: normal !important; } }

@media (max-width: 1260px) {
  .mob-hidden {
    width: 68% !important; }
  .mob-menus {
    width: 32% !important; } }

@media (max-width: 1130px) {
  .sagi-nav a {
    width: 28px;
    height: 28px; }
  .mob-hidden {
    width: 60% !important;
    padding: 5px; }
  .mob-menus {
    width: 40% !important;
    position: absolute !important;
    right: 0; } }

@media (max-width: 1024px) {
  .page-content-wrapper .page-content, .row.page-header-wrap {
    width: 100% !important;
    margin-left: 0 !important; }
  .menu-toggle {
    left: 12px;
    top: 17px; }
  a.nav-link.nav-toggle.alerts-img {
    padding-top: 10px !important;
    background-position: 18px 8px; }
  .box-layout-col.col-md-3 {
    width: calc(50% - 10px) !important;
    float: left;
    margin: 5px; }
  .ghdv-annual-wizard .ProgressBar li .stepSpan {
    width: 40px;
    font-size: 13.5px; }
  .page-content-wrapper .page-content {
    width: 100%; }
  .welcome-text {
    font-size: 12px !important; }
  .row.page-header-wrap {
    width: 100%; }
  .ProgressBar li:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: normal; }
  .BenefitApplicationWizardDiv .ProgressBar li {
    height: auto !important;
    min-width: auto !important;
    padding: 0 0px 0px 15px !important; }
  .BenefitApplicationWizardDiv .ProgressBar li:before {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;
    font-size: 12px !important; }
  .BenefitApplicationWizardDiv .ProgressBar .stepSpan {
    width: 30px; }
  .ProgressBar li:after {
    top: 15px; }
  .ProgressBar .stepSpan {
    text-indent: -100000px;
    padding-top: 0;
    min-height: auto; }
  .ProgressBar li {
    min-width: auto !important; }
  .ProgressBarDivParent {
    margin-top: 0px; }
  .ProgressBarDiv {
    margin-bottom: 10px; }
  .ProgressBar .stepSpan {
    width: 30px; }
  .col-md-12 {
    width: 100%;
    float: left; }
  .form-group {
    display: block; }
  .form-group.dashboard-listview {
    display: flex !important; }
  .dashboard-listview input {
    width: auto !important; }
  select, input[type='text'], input[type='password'], .hasDatepicker {
    width: auto !important; }
  div[id^='wfmMSSAppointmentScheduleMaintenance'] input[type='text'] {
    width: 100% !important; }
  .page-slideout-body-collaped .page-slideout-left-wrapper {
    top: 140px; }
  .crumDiv {
    margin-left: 15px; }
  .box-layout-col.col-md-3.annual-entrollment-border {
    width: 100% !important;
    margin: 0px; } }

@media (max-width: 991px) {
  .toggle-menu-container {
    top: 140px; }
  .CaptionDiv {
    text-align: left; }
  select, input[type='text'], input[type='password'], .hasDatepicker {
    margin-bottom: 5px !important; }
  .GridColumnHide .s-grid td[data-th="Acknowledgement Text"],
  #GridTable_grvAcknowledgementMemAuth .s-grid td[data-th="Acknowledgement Text"],
  #GridTable_grvGridView1 .s-grid td[data-th="Acknowledgement Text"] {
    padding-left: 0% !important; }
  .GridColumnHide .s-grid td[data-th="Acknowledgement Text"]::before,
  #GridTable_grvAcknowledgementMemAuth .s-grid td[data-th="Acknowledgement Text"]::before,
  #GridTable_grvGridView1 .s-grid td[data-th="Acknowledgement Text"]::before {
    display: none; }
  .AppointmentMaint .col-md-2,
  .AppointmentMaint .col-md-6, .AppointmentMaint textarea {
    float: left;
    width: 100% !important; }
  .mob-hidden {
    width: 60% !important;
    padding: 5px; }
  .mob-menus {
    width: 40% !important; }
  .sagi-nav > li {
    margin-right: 3px; }
  .MSSBenefit-pad-top-date {
    padding-top: 0px; }
  .MSSBenefit-pad-top-text {
    padding-top: 0px; }
  .mob-hidden {
    width: 50% !important;
    padding: 5px; }
  .mob-menus {
    width: 50% !important; } }

@media (max-width: 768px) {
  .page-slideout-body-collaped .page-slideout-left-wrapper {
    z-index: 9999;
    top: 140px; }
  .mob-menus {
    padding: 5px 0 5px;
    position: relative !important;
    width: 32% !important; }
  .mob-hidden {
    width: 55% !important;
    padding: 5px; }
  .mob-menus {
    width: 45% !important; }
  .sagi-nav > li {
    margin-right: 5px; }
  .welcome-text {
    margin-top: -7px !important; }
  .toggle-menu-container {
    top: 98px; }
  #logo .desktop-logo {
    display: none !important; }
  .mob-logo {
    display: block !important;
    margin-left: 25px;
    background: url(../Images/mob-logo.png) no-repeat center center;
    height: 40px;
    background-position: center center;
    background-size: contain; }
  #logo img {
    width: auto; }
  .mob-logo img {
    display: none !important; }
  .menu-toggle {
    position: fixed;
    left: 12px;
    top: 50px; }
  .navbar-toggle {
    display: none; }
  .main-logo {
    width: 100px;
    padding: 7px 5px 0; }
  .portal-head {
    margin-left: 100px !important;
    width: auto;
    padding: 6px 0;
    float: right; }
  .button, #clickExcel {
    margin-bottom: 0px;
    font-size: 13px; }
  .s-grid-container {
    width: 100%; }
  .row.page-header-wrap {
    width: 100%; }
  .userinfo-welcome {
    width: 100%;
    border-top: 0px solid #eee;
    margin: 0;
    padding: 5px 5px;
    font-size: 11px;
    position: absolute;
    top: -27px;
    text-align: right;
    background-color: transparent; }
  .crumDiv {
    padding-left: 0;
    margin-top: 0; }
  .breadcrumb li:first-child {
    margin-left: 0; }
  .header-topstrip {
    padding-left: 0;
    padding-right: 0; }
  select, input[type='text'], input[type='password'], .hasDatepicker {
    width: 100% !important;
    margin-bottom: 5px !important; }
  .death-notice-maintenance input[type="text"] {
    width: 100%; }
  .page-header-fixed .page-container {
    margin-top: 140px !important; }
  .wrapper {
    padding: 0px; }
  .mainpage-title {
    font-size: 16px; }
  span.s-spnControlPanelbar {
    font-size: 15px !important; }
  .s-ulControlPanelbar {
    padding: 5px 8px !important; }
  .ui-helper-reset {
    font-size: 95% !important; }
  .form-group {
    margin-bottom: 0px !important; }
  td .ui-datepicker-trigger {
    margin: 3px 0 0 0px;
    float: right;
    position: relative;
    right: 35px;
    top: unset; }
  .ui-datepicker-trigger {
    margin: 4px 0 0 -15px;
    position: absolute;
    right: 13px;
    top: -1px; }
  td[data-container-for='rowSelect'], th[data-field='rowSelect'] {
    text-align: left !important; }
  .CaptionDiv {
    overflow: hidden; }
  .alignright {
    text-align: left !important; }
  .login-wrapper {
    max-width: 100% !important; }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    width: 100%; }
  .dispaly-table tr:nth-child(1) td:last-child {
    display: none; }
  .dispaly-table tr:nth-child(2) {
    display: table-row !important; }
    .dispaly-table tr:nth-child(2) td {
      text-align: left !important; }
      .dispaly-table tr:nth-child(2) td label {
        white-space: normal !important; }
  .hide-br-tag br {
    display: none; }
  .page-content-wrapper .page-content, .row.page-header-wrap {
    width: 100% !important;
    margin-left: 0px !important; } }

@media (max-width: 767px) {
  #crumDiv {
    display: none !important; }
  .mob-hidden {
    display: none; }
  .mob-menus {
    width: 100% !important; }
  .page-slideout-body-collaped .page-slideout-left-wrapper {
    top: 100px; }
  .box-layout-col.col-md-3.annual-entrollment-border {
    width: 100% !important;
    margin: 0px; }
  .row.page-header-wrap {
    height: 0px; }
  .page-header-fixed .page-container {
    margin-top: 100px !important; } }

@media (max-width: 661px) {
  .ghdv-annual-wizard .ProgressBar li .stepSpan {
    width: 30px;
    font-size: 13.5px; }
  .ProgressBar .stepSpan {
    width: 20px; }
  .ProgressBar li:before {
    left: 4%;
    font-size: 15px; } }

@media (max-width: 480px) {
  .box-layout-col.col-md-3 {
    width: 100% !important; }
  .ProgressBar .stepSpan {
    width: 16px; }
  .portal-head {
    margin-left: 0 !important; }
  .ProgressBar li:before {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 13px; }
  .BenefitApplicationWizardDiv .ProgressBar li:before {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;
    font-size: 12px !important; }
  .BenefitApplicationWizardDiv .ProgressBar .stepSpan {
    width: 16px; } 
  }
