$tab-theme-bg-color:#eae7e2;
$tab-theme-border:1px solid #888888;
$tab-selected-text-color:#333;
$tab-non-selected-bg-color:#878788;
$tab-non-selected-text-color:#FFFFFF;




.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
    font-family:sans-serif !important;
    font-size:8.8pt !important;
    background:$tab-non-selected-bg-color;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding:5px .92em;
	text-decoration: none;
    color:$tab-non-selected-text-color !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.tabstrip
{
    padding:0px !important;
    border:0 !important;
    background:#FFFFFF !important;
    margin:5px;
}

.tabstrip .ui-widget-header
{
    background:#FFFFFF !important;
    border:0 !important;
    
}

.ui-tabs-panel.ui-widget-content
{
    border:$tab-theme-border !important;
    background-color:$tab-theme-bg-color !important;
    border-radius:0px !important;
}


.ui-widget-content
{
    font-family:sans-serif !important;
    font-size:8.8pt !important;
}

.tabstrip .ui-state-active
{
    
    background-color:$tab-theme-bg-color !important;
    font-weight:bold !important;
    border:$tab-theme-border !important;
    border-bottom-width:0 !important;
}

.tabstrip .ui-state-active .ui-tabs-anchor
{
    color:$tab-selected-text-color !important;
}