<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Name</label>

                <input class="form-control input-sm" type="text" title="{{ParameterName}}" ng-show="!isExistingRule" ng-model="ParameterName" ng-change="validateImportExcelMatrixParameter()" />
                <span ng-show="isExistingRule" ng-bind="ParameterName"></span>

            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Description </label>

                <textarea class="form-control" ng-show="!isExistingRule" ng-model="ParameterDescription"></textarea>
                <span ng-show="isExistingRule" ng-bind="ParameterDescription"></span>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group" ng-show="!isReturnParameter">
                <label class="control-label">Data Type</label>

                <select class="form-control input-sm" ng-options="type for type in ReturnTypes" ng-show="!isExistingRule" title="{{ParameterDataType}}" ng-model="ParameterDataType" ng-change="validateImportExcelMatrixParameter()" />
                <span ng-show="isExistingRule" ng-bind="ParameterDataType"></span>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group" ng-show="ParameterType == 'Input'">
                <label class="control-label">Operator</label>
                <select class="form-control input-sm" ng-options="op for op in Operators" title="{{ParameterOperator}}" ng-model="ParameterOperator" ng-change="validateImportExcelMatrixParameter()" />
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left" ng-show="ImportExcelMatrixParameterError && ImportExcelMatrixParameterError.trim().length>0">
        <span class="alert-error-msg">{{ImportExcelMatrixParameterError}}</span>
    </div>
    <div class="col-xs-6 pull-right no-right-padding">
        <input type="button" class="dialog-btn-default" value="OK" ng-click="onOkAddOrEditClick()" ng-disabled="ImportExcelMatrixParameterError && ImportExcelMatrixParameterError.trim().length>0" />
        <input type="button" class="dialog-btn-default" value="Cancel" ng-show="!isExistingRule ||(ParameterType == 'Input') " ng-click="onCloseAddOrEditClick()" />
    </div>
</div>

