<div class="portlet-body">
    <div id="sample_editable_1" class="table table-striped table-hover table-bordered dataTable no-footer" role="grid" aria-describedby="sample_editable_1_info" scopeid="$id" threshold="250">
        <table>
            <thead>
                <tr role="row">
                    <th aria-controls="sample_editable_1" rowspan="1" colspan="1" ng-repeat="(key, value) in lstData[0]"><label style="color:black;margin-left:15px">{{key}}</label></th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" ng-repeat="rowdata in lstData" ng-click="setRowIndex($index)">
                    <td ng-repeat="coldata in rowdata" ng-class="{'selected':((ColumnIndex==$index) && (RowIndex==$parent.$index) && (coldata == SelectedDataStartingCell)) }" ng-click="setColumnIndex($index)"><label style="color:black;margin-left:15px" ng-click="setSelectedCellData(coldata)" ng-bind="coldata"></label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input class="dialog-btn-default" type="button" value="OK" ng-click="onOkClickExcelDailog()" />
    <input class="dialog-btn-default" type="button" value="Cancel" ng-click="closeExcelDailog()" />
    <input class="dialog-btn-default" type="button" value="Load Data" ng-click="LoadSomeData()" />
</div>

