<table class="sws-table" style="table-layout:fixed">
    <thead>
        <tr class='boldfont grey-bottom-border'>
            <th ng-if="!isdisabledforversioning" style="width:20px"></th>
            <th>Role</th>
            <th>Skill</th>
            <th>Location</th>
            <th>Authority Level</th>
            <th>Position</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody ng-repeat="objcondition in conditionsModel.Elements" ng-click="selectCondition(objcondition)">
        <tr ng-class="{'selected': (selectedCondition == objcondition)}">
            <td style="width:20px" ng-if="!isdisabledforversioning">
                <div class="default-condition-grid-arrow">
                    <div ng-class="objcondition.IsUsertaskConditionVisibility?'callactivity-arrow-down':'callactivity-arrow-right'" ng-click="objcondition.IsUsertaskConditionVisibility = !objcondition.IsUsertaskConditionVisibility"></div>
                </div>
            </td>
            <td>
                <span id="role" contenteditable="false" class="placeholder td-span-ellipsis" data-placeholder="Role" title="{{objcondition.dictAttributes.role}}" ng-bind="objcondition.dictAttributes.role"></span>
            </td>
            <td>
                <span id="skill" contenteditable="false" class="placeholder td-span-ellipsis" data-placeholder="Skill" title="{{objcondition.dictAttributes.skill}}" ng-bind="objcondition.dictAttributes.skill"></span>
            </td>
            <td>
                <span id="location" contenteditable="false" class="placeholder td-span-ellipsis" data-placeholder="Location" title="{{objcondition.dictAttributes.location}}" ng-bind="objcondition.dictAttributes.location"></span>
            </td>
            <td>
                <span id="authoritylevel" contenteditable="false" class="placeholder td-span-ellipsis" data-placeholder="Authority Level" title="{{objcondition.dictAttributes.authorityLevel}}" ng-bind="objcondition.dictAttributes.authorityLevel"></span>
            </td>
            <td>
                <span id="position" contenteditable="false" class="placeholder td-span-ellipsis" data-placeholder="Position" title="{{objcondition.dictAttributes.position}}" ng-bind="objcondition.dictAttributes.position"></span>
            </td>
            <td>
                <span id="user" contenteditable="false" class="placeholder td-span-ellipsis" data-placeholder="Required" title="{{objcondition.dictAttributes.user}}" ng-bind="objcondition.dictAttributes.user"></span>
            </td>
        </tr>
        <tr ng-if="objcondition.IsUsertaskConditionVisibility && !isdisabledforversioning" ng-class="{'selected': (selectedCondition == objcondition)}">
            <td colspan="7" class="padding-10">
                <table class="full-width">
                    <tr>
                        <td width="100">Role</td>
                        <td style="width:40%">
                            <bpmncodevaluesbasedontypeintellisense objconditionmodel="objcondition" lstbpmnrelatedcodevalues="lstbpmnrelatedcodevalues" lstuserroles="lstuserroles" mapvariablesmodel="mapvariablesmodel" type="'role'"></bpmncodevaluesbasedontypeintellisense>
                        </td>
                        <td style="width:20%">
                            <input id="chkIsRoleMapVariable{{$root.currentopenfile.file.FileName}}" type="checkbox" ng-model="objcondition.dictAttributes.isRoleBasedOnMapVariable" ng-true-value="'True'" ng-false-value="'False'" ng-change="setEmptyvalueOnChange(objcondition,types.Role)" />
                            <label for="chkIsRoleMapVariable{{$root.currentopenfile.file.FileName}}">&nbsp;Is Map Variable</label>
                        </td>
                        <td  width="100">Role Operator</td>
                        <td style="width:20%">
                            <select class="form-control input-sm" title="{{objcondition.dictAttributes.roleoperator}}" ng-model="objcondition.dictAttributes.roleoperator"> <option>Equal</option><option>NotEqual</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="100">Skill</td>
                        <td style="width:40%">
                            <bpmncodevaluesbasedontypeintellisense objconditionmodel="objcondition" lstbpmnrelatedcodevalues="lstbpmnrelatedcodevalues" lstuserroles="lstuserroles" mapvariablesmodel="mapvariablesmodel" type="'skill'"></bpmncodevaluesbasedontypeintellisense>
                        </td>
                        <td style="width:20%">
                            <input id="chkIsSkillMapVariable{{$root.currentopenfile.file.FileName}}" type="checkbox" ng-model="objcondition.dictAttributes.isSkillBasedOnMapVariable" ng-true-value="'True'" ng-false-value="'False'" ng-change="setEmptyvalueOnChange(objcondition,types.Skill)" />
                            <label for="chkIsSkillMapVariable{{$root.currentopenfile.file.FileName}}">&nbsp;Is Map Variable</label>
                        </td>
                        <td width="100">Skill Operator</td>
                        <td style="width:20%">
                            <select class="form-control input-sm" title="{{objcondition.dictAttributes.skilloperator}}" ng-model="objcondition.dictAttributes.skilloperator"><option>Equal</option><option>NotEqual</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="100">Location</td>
                        <td style="width:40%">
                            <bpmncodevaluesbasedontypeintellisense objconditionmodel="objcondition" lstbpmnrelatedcodevalues="lstbpmnrelatedcodevalues" lstuserroles="lstuserroles" mapvariablesmodel="mapvariablesmodel" type="'location'"></bpmncodevaluesbasedontypeintellisense>
                        </td>
                        <td style="width:20%">
                            <input id="chkIsLocationMapVariable{{$root.currentopenfile.file.FileName}}" type="checkbox" ng-model="objcondition.dictAttributes.isLocationBasedOnMapVariable" ng-true-value="'True'" ng-false-value="'False'" ng-change="setEmptyvalueOnChange(objcondition,types.Location)" />
                            <label for="chkIsLocationMapVariable{{$root.currentopenfile.file.FileName}}">&nbsp;Is Map Variable</label>
                        </td>
                        <td width="100">Location Operator</td>
                        <td style="width:20%">
                            <select class="form-control input-sm" title="{{objcondition.dictAttributes.locationoperator}}" ng-model="objcondition.dictAttributes.locationoperator"> <option>Equal</option><option>NotEqual</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="100">Authority Level</td>
                        <td style="width:40%">
                            <bpmncodevaluesbasedontypeintellisense objconditionmodel="objcondition" lstbpmnrelatedcodevalues="lstbpmnrelatedcodevalues" lstuserroles="lstuserroles" mapvariablesmodel="mapvariablesmodel" type="'authorityLevel'">
                        </td>
                        <td style="width:20%">
                            <input id="chkIsAuthLvlMapVariable{{$root.currentopenfile.file.FileName}}" type="checkbox" ng-model="objcondition.dictAttributes.isAuthorityLevelBasedOnMapVariable" ng-true-value="'True'" ng-false-value="'False'" ng-change="setEmptyvalueOnChange(objcondition,types.AuthorityLevel)" />
                            <label for="chkIsAuthLvlMapVariable{{$root.currentopenfile.file.FileName}}">&nbsp;Is Map Variable</label>
                        </td>
                        <td width="100">Authority Level Operator</td>
                        <td style="width:20%">
                            <select class="form-control input-sm" title="{{objcondition.dictAttributes.authorityLeveloperator}}" ng-model="objcondition.dictAttributes.authorityLeveloperator"> <option>Equal</option><option>NotEqual</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="100">Position</td>
                        <td style="width:40%">
                            <bpmncodevaluesbasedontypeintellisense objconditionmodel="objcondition" lstbpmnrelatedcodevalues="lstbpmnrelatedcodevalues" lstuserroles="lstuserroles" mapvariablesmodel="mapvariablesmodel" type="'position'">
                        </td>
                        <td style="width:20%">
                            <input id="chkIsPosMapVariable{{$root.currentopenfile.file.FileName}}" type="checkbox" ng-model="objcondition.dictAttributes.isPositionBasedOnMapVariable" ng-true-value="'True'" ng-false-value="'False'" ng-change="setEmptyvalueOnChange(objcondition,types.Position)" />
                            <label for="chkIsPosMapVariable{{$root.currentopenfile.file.FileName}}">&nbsp;Is Map Variable</label>
                        </td>
                        <td width="100">Position Operator</td>
                        <td style="width:20%">
                            <select class="form-control input-sm" title="{{objcondition.dictAttributes.positionoperator}}" ng-model="objcondition.dictAttributes.positionoperator"> <option>Equal</option><option>NotEqual</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="100">User</td>
                        <td style="width:40%">
                            <bpmncodevaluesbasedontypeintellisense objconditionmodel="objcondition" lstbpmnrelatedcodevalues="lstbpmnrelatedcodevalues" lstuserroles="lstuserroles" mapvariablesmodel="mapvariablesmodel" type="'user'">
                        </td>
                        <td style="width:20%">
                            <input id="chkIsUserMapVariable{{$root.currentopenfile.file.FileName}}" type="checkbox" ng-model="objcondition.dictAttributes.isUserBasedOnMapVariable" ng-true-value="'True'" ng-false-value="'False'" ng-change="setEmptyvalueOnChange(objcondition,types.User)" />
                            <label for="chkIsUserMapVariable{{$root.currentopenfile.file.FileName}}">&nbsp;Is Map Variable</label>
                        </td>
                        <td width="100">User Operator</td>
                        <td style="width:20%">
                            <select class="form-control input-sm" title="{{objcondition.dictAttributes.useroperator}}" ng-model="objcondition.dictAttributes.useroperator"> <option>Equal</option><option>NotEqual</option></select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

