<div class="entity-dashboard-editable-content padding-10">
    <div class="constraint-container property-table" id="entity-constraint-container">
        <table class="table table-striped table-bordered table-condensed" id="grid-entity-constraint-{{::currentfile.FileName}}" st-table="lstCloneConstraints" st-safe-src="objConstraints.Elements" st-table-item-row="FieldConstraint" role="grid" aria-describedby="grid-entity-constraint-{{::currentfile.FileName}}-info">
            <thead>
                <tr st-operation-row st-operation-allowed="delete" st-operation-add-object="objnewConstraint" st-operation-before-delete-callback="updateValidation(updatedobject,'BEFORE')" st-operation-after-delete-callback="updateValidation(updatedobject,'AFTER')" st-operation-delete-item-property="dictAttributes.sfwDisplayName,dictAttributes.sfwFieldName" st-operation-add-validation-errors="sfwFieldName" st-select-row-dblclick="addEditAttributeConstraint(record.dictAttributes.sfwFieldName)">
                    <th colspan="11">
                        <a href="#"><img class="fright" st-operation="delete" src="images/Common/icon_delete_dark.svg" title="Remove Constraint" /></a>
                        <a href="#"><img class="fright" src="images/Common/icon_add_dark.svg" title="Add Constraint" ng-click="addEditAttributeConstraint()" /></a>
                    </th>
                </tr>
                <tr role="heading">
                    <th st-sort="dictAttributes.sfwFieldName">Field Name</th>
                    <th st-sort="dictAttributes.sfwDataType">Data Type</th>
                    <th st-sort="dictAttributes.sfwDisplayName">Display Name</th>
                    <th st-sort="dictAttributes.sfwLength">Length</th>
                    <th st-sort="dictAttributes.sfwRequired">Required</th>
                    <th st-sort="dictAttributes.sfwMinValue">Min Value</th>
                    <th st-sort="dictAttributes.sfwMaxValue">Max Value</th>
                    <th st-sort="dictAttributes.sfwRelatedField">Related Field</th>
                    <th st-sort="dictAttributes.sfwRelDisplayName">Related Display Name</th>
                    <th st-sort="dictAttributes.sfwOperator">Operator</th>
                    <th>Action</th>
                </tr>
                <tr ng-if="objConstraints.Elements.length" role="search">
                    <th colspan="16"><input st-search="" class="form-control" placeholder="search with Field name, Display name , Related Field etc..." type="text" /></th>
                </tr>
            </thead>
            <tbody>
                <tr tabindex="{{$index}}" role="row" st-select-row="constraint" ng-repeat="constraint in lstCloneConstraints" ng-class="{'bckgGrey': constraint.isAdvanceSearched, 'bckgGreen': (constraint.isSelected && constraint.isAdvanceSearched)}">
                    <td>{{constraint.dictAttributes.sfwFieldName}}</td>
                    <td>{{constraint.dictAttributes.sfwDataType}}</td>
                    <td>{{constraint.dictAttributes.sfwDisplayName}}</td>
                    <td>{{constraint.dictAttributes.sfwLength}}</td>
                    <td>{{constraint.dictAttributes.sfwRequired}}</td>
                    <td>{{constraint.dictAttributes.sfwMinValue}}</td>
                    <td>{{constraint.dictAttributes.sfwMaxValue}}</td>
                    <td>{{constraint.dictAttributes.sfwRelatedField}}</td>
                    <td>{{constraint.dictAttributes.sfwRelDisplayName}}</td>
                    <td>{{constraint.dictAttributes.sfwOperator}}</td>
                    <td><a ng-click="addEditAttributeConstraint(constraint.dictAttributes.sfwFieldName)"><i class="glyphicon glyphicon-pencil"></i></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="16" class="text-center">
                        <div st-pagination="" st-items-by-page="12" st-displayed-pages="5" st-template="common/views/pagination-grid.html" st-navigation-select="activeGridRow"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


