<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings>
    <!--Region Specific App Settings Section starts Here -->
    <!--We need to have region specific BusinessTierUrl, please replace the value with below values 
        based on the region:
        SAG1 - Systest     Region - net.tcp://localhost:9350/{0}
        SAG1 - SysAlt      Region - net.tcp://localhost:9450/{0}
        SAG2 - UAT         Region - net.tcp://localhost:9050/{0}
        SAG2 - UATAlt      Region - net.tcp://localhost:9060/{0}
        SAG2 - Parallel    Region - net.tcp://localhost:9070/{0}
        SAG8 - PerslinkWss Region - net.tcp://ITDERNSAG8.ITD.ND.GOV:9050/{0}
        SAG9 - PerslinkWss Region - net.tcp://localhost:9050/{0}
    -->
    <add key="BusinessTierUrl" value="net.tcp://localhost:9350/{0}"/>
    <!--Non-production region specific settings start here-->
    <add key="ServerEnvironment" value="dev"/>
    <add key="devNDLdapWS" value="https://test.apps.nd.gov/itd/services/ldap/2.0/LdapService"/>
    <add key="RPOverrideDomain" value="http://10.2.17.105"/>
    <add key="WSSRetrieveMailFrom" value="vinovin.pt@sagitec.com"/>
    <add key="SecureWayPassword" value="5YP0sIJFhEX1AC4kkcnyVQ=="/>
    <!--Non-production region specific settings end here-->
    <!--Production region specific settings start here-->
    <!--<add key="SmtpServer" value="itdmbx2.nd.gov"/>
    <add key="MailTo" value="rgilliam@nd.gov"/>
    <add key="ServerEnvironment" value="prod"/>
    <add key="prodNDLdapWS" value="https://apps.nd.gov/itd/services/ldap/1.0/services/LdapService"/>
    <add key="DomainExt" value="secure.apps.nd.gov;perslink.nd.gov"/>
    <add key="RPOverrideDomain" value="perslink.nd.gov"/>
    <add key="SecureWayPassword" value="NXe+bTFpc3w0DvfitFcgzQ=="/>
    <add key="FILENET_URL" value="http://filenet.state.nd.us"/>-->
    <!--Production region specific settings end here-->
    <!--Region Specific App Settings Section Ends Here -->
    <!--App settings common across all regions start here-->
    <add key="ApplicationName" value="PERSlinkMSS"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000"/>
    <add key="CheckViewStateUserKey" value="False"/>
    <add key="AllowedReferrerDomains" value="*"/>
    <add key="ReaderQuotasMaxArrayLength" value="2147483647"/>
    <add key="ReaderQuotasMaxStringContentLength" value="2147483647"/>
    <add key="WebBundling" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="OverrideControls" value="NVD3.Chart,JQueryControls.HtmlEditor,JQueryControls.FileUpload"/>
    <add key="JsFilesForBundle" value="Initializer.js,UserDefinedFunctions.js,Notification.js,JQPrint.js"/>
    <add key="CssFilesForBundle" value="jquery-ui.min.css,kendo.common.min.css,App.css,smart_wizard_vertical.css,Common.css,Custom-Kendo.css,                                         kendo.blueopal.min.css,jquery-ui.min.css,summernote.css,MultiSelect.css,neoGrid.min.css,                                         jsTree.min.css,jquery.jqplot.css,fileUpload.css,SASDisplayRule.css,SASRuleExecution.css,                                         switch-styles.css,smart_wizard_vertical.css,jquery-ui-timepicker-addon.min.css,                                         tooltip.css,Calendar.css,nv.d3.min.css,tabs-styles.min.cs, custom-responsive.css, ResponsiveTable.css"/>
    <add key="UseStoreDefaultsForLookup" value="true"/>
    <add key="AuthType" value="public"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="WCFSendTimeOut" value="00,59,00"/>
    <add key="SecureWayGroup" value="v4nOkQ0QxVygJ34FKaoJZvHSYqc8z2/7ZuxLnKSsdn3nDJ1Z+XaLMC7CKoTmK3JqjAXA+iyCDGx/b361FWE9+A=="/>
    <add key="SecureWayUser" value="x25uBX+SX915JRu1DsdBiw=="/>
    <add key="gov.nd.appstest.secure.LdapService" value="http://secure.appstest.nd.gov/itd/services/ldap/services/LdapService"/>
    <!--B2C Configuration Section Starts Here For Nonproduction Region-->
    <add key="MSSOIDCClientID" value="36b5a366-d708-4ef8-b81e-8052f80966b3"/>
    <add key="MSSOIDCClientSecret" value="Kdp8Q~n5FhUtT9Xr4EHkUFoB2anPovUXbsalucy2"/>
    <add key="MSSOIDCIssuerUrl" value="https://publicauth.nd.gov/6ad5bb30-924d-4733-88bb-45c24150030e/v2.0/"/>
    <add key="MSSOIDCScope" value="openid"/>
    <add key="MSSOIDCCallbackUri" value="http://localhost/PERSLinkWSS/Account/OIDCRedirect"/>
    <add key="MSSOIDCLogoutEndpoint" value="https://publicauth.nd.gov/6ad5bb30-924d-4733-88bb-45c24150030e/b2c_1a_ndlogin_signuporsignin/oauth2/v2.0/logout?post_logout_redirect_uri=http://localhost/PERSLinkWSS/Account/PostPublicAuthLogout"/>
    <!--B2C Configuration Section End Here For Nonproduction Region-->
    <add key="IsPublicAuthLoginEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="SagitecMVVMClient, Version=6.0.0.0, Culture=neutral, PublicKeyToken=17dcd5518e4461a3"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="SagitecWebClient, Version=6.0.0.0, Culture=neutral, PublicKeyToken=DE5D1FBC6B66D2F0"/>
        <add assembly="SagitecWebControls, Version=6.0.0.0, Culture=neutral, PublicKeyToken=2FAFCCD2A44457D5"/>
        <add assembly="SagitecExceptionPub.Interfaces, Version=6.0.0.0, Culture=neutral, PublicKeyToken=E194146EF13FC5AC"/>
        <add assembly="SagitecExceptionPub, Version=6.0.0.0, Culture=neutral, PublicKeyToken=6B869967020F164D"/>
        <add assembly="SagitecBusinessObjects, Version=6.0.0.0, Culture=neutral, PublicKeyToken=9670b75419327b3c"/>
        <add assembly="SagitecCommon, Version=6.0.0.0, Culture=neutral, PublicKeyToken=130d1a64d9ca2157"/>
        <add assembly="SagitecInterface, Version=6.0.0.0, Culture=neutral, PublicKeyToken=319652840b3d7d17"/>
        <add assembly="SagitecDBUtility, Version=6.0.0.0, Culture=neutral, PublicKeyToken=ACD7276C242F28D5"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--For all non-production regions, the timeout value should be equal to TIMS code_value, code_id 52 
      in the database the region is pointing to-->
      <forms name="NeoSpinMSSMVVMAuth" loginUrl="~/Account/wfmLoginMI" timeout="120"/>
      <!--For production region, the timeout value should be equal to TIMS code_value, code_id 52 
      in the database the region is pointing to-->
      <!--<forms name="NeoSpinMSSMVVMAuth" loginUrl="~/wfmLoginME.aspx" timeout="120" />-->
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
    <trace enabled="false" localOnly="true"/>
    <httpCookies httpOnlyCookies="true"/>
    <sessionState cookieless="UseCookies" cookieName="NeoSpinMSSSession"/>
    <httpRuntime executionTimeout="900000" maxRequestLength="11226" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
      <controls>
        <add tagPrefix="swc" namespace="Sagitec.WebControls" assembly="SagitecWebControls, Version=6.0.0.0, Culture=neutral, PublicKeyToken=2FAFCCD2A44457D5"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
        <!--<add name="Pragma" value="no-cache" />-->
        <!--The value attribute of the below element should be as per region 
            SAG8,SAG9 Regions -https://perslink.nd.gov/PERSLinkWSS
        -->
        <add name="Access-Control-Allow-Origin" value="http://localhost/PERSLinkWSS"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <runtime>
    <!--The below is added as part of 6.0.10.0.A F/W Upgrade-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>