<div draggable="true" class="node" ng-class="getCssClass(model)">
    <span class="node-header-container node-header-block {{::model.Name}}-node-icon" ng-bind="model.dictAttributes.Text" ng-show="model.dictAttributes.Text && model.dictAttributes.Text.toString().trim().length > 0"></span>
    <span class="node-header-container text-italic node-header-block {{::model.Name}}-node-icon" ng-hide="model.dictAttributes.Text && model.dictAttributes.Text.toString().trim().length > 0">[BLANK]</span>
    <div ng-repeat="action in model.Elements" class="node-expression-container" ng-class="getClass()">
        <span class="execution-value node-expression-inline " ng-show="action.ActualValue && action.ActualValue.toString().trim().length > 0" ng-bind="action.ActualValue"></span>
        <span class="execution-value text-italic node-expression-inline " ng-hide="action.ActualValue && action.ActualValue.toString().trim().length > 0">[BLANK]</span>
        <span node-id="{{::action.dictAttributes.sfwNodeID}}" class="node-expression-inline" ng-bind="action.dictAttributes.sfwExpression" ng-show="action.dictAttributes.sfwExpression && action.dictAttributes.sfwExpression.toString().trim().length > 0"></span>
        <span node-id="{{::action.dictAttributes.sfwNodeID}}" class="text-italic node-expression-inline" ng-hide="action.dictAttributes.sfwExpression && action.dictAttributes.sfwExpression.toString().trim().length > 0">[BLANK]</span>
    </div>
</div>
