<div>
    <!--for new/current bpm-->
    <div class="form-group" >
        <!--Initialize Load Method labels-->
        <label class="control-label marg-bottom-5" ng-if='!$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID && !($ctrl.model.baseChild.dictAttributes.variable && $ctrl.model.baseChild.dictAttributes.variable.trim().length > 0)'>Initialize Load Method:</label>
        <label class="control-label marg-bottom-5" ng-if='$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID && !($ctrl.model.baseChild.dictAttributes.variable && $ctrl.model.baseChild.dictAttributes.variable.trim().length > 0)'><a ng-click='selectMethodClick($ctrl.model.baseChild.dictAttributes.sfwEntity,"methods",$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID)'>Initialize Load Method:</a></label>
        <!--Fail Over Load Method labels-->
        <label class="control-label marg-bottom-5" ng-if='!$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID && ($ctrl.model.baseChild.dictAttributes.variable && $ctrl.model.baseChild.dictAttributes.variable.trim().length > 0)'>Fail Over Load Method:</label>
        <label class="control-label marg-bottom-5" ng-if='$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID && ($ctrl.model.baseChild.dictAttributes.variable && $ctrl.model.baseChild.dictAttributes.variable.trim().length > 0)'><a ng-click='selectMethodClick($ctrl.model.baseChild.dictAttributes.sfwEntity,"methods",$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID)'>Fail Over Load Method:</a></label>
        <!--for old bpm show only span -->
        <div ng-if="$ctrl.isDisabledforVersioning" ng-bind="$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID" title="{{$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID}}"></div>
        <!--current bpms-->
        <div ng-if="!$ctrl.isDisabledforVersioning">
            <common-intellisense model="$ctrl.model.baseChild.initializeModel.xmlmethodModel" propertyname="'dictAttributes.ID'" collection="$ctrl.model.baseChild.initializeModel.xmlMethods" selected-item="$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID" display-property-name="'ID'" selected-property-name="'ID'" 
                                 update-data-callback="getXmlMethods()" change-callback="onXmlMethodChange()" is-reset="true"></common-intellisense>
        </div>
        <!--<select ng-if="!$ctrl.isDisabledforVersioning" class="form-control input-sm full-width" ng-init="loadXmlmethods()" ng-options="method.ID as method.ID for method in $ctrl.model.baseChild.initializeModel.xmlMethods" title="{{$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID}}" ng-model="$ctrl.model.baseChild.initializeModel.xmlmethodModel.dictAttributes.ID" ng-change="onXmlMethodChange()"  undoredodirective model="$ctrl.model.baseChild.initializeModel.xmlmethodModel" propertyname="'dictAttributes.ID'">
            <option value=""></option>
        </select>-->
    </div>    
    <div class="form-group">
        <label class="control-label marg-bottom-5">Navigation Parameters: </label>
        <div class='input-group full-width'>
            <!--Initialize Load Method labels-->
            <input ng-disabled="$ctrl.isDisabledforVersioning" ng-if="!($ctrl.model.baseChild.dictAttributes.variable && $ctrl.model.baseChild.dictAttributes.variable.trim().length > 0)"
                    class="form-control" type="text" readonly title="{{$ctrl.model.baseChild.dictAttributes.sfwNavigationParameter}}" ng-model="$ctrl.model.baseChild.dictAttributes.sfwNavigationParameter" />
            <!--Fail Over Load Method labels-->
            <input ng-disabled="$ctrl.isDisabledforVersioning" ng-if="($ctrl.model.baseChild.dictAttributes.variable && $ctrl.model.baseChild.dictAttributes.variable.trim().length > 0)" 
                   class="form-control input-sm" type="text" readonly title="{{$ctrl.model.baseChild.FailOverServiceModel.dictAttributes.sfwNavigationParameter}}" 
                   ng-model="$ctrl.model.baseChild.FailOverServiceModel.dictAttributes.sfwNavigationParameter" />
            <span ng-if="!$ctrl.isDisabledforVersioning" class='input-group-addon input-sm' ng-click="setXmlparameters()" style="cursor:pointer">
                <i title="set Navigation Parameters" class="fa fa-chevron-right col-xs-1"></i>
            </span>
        </div>
    </div>
</div>

