<div class="portlet-body">
    <div class="form-body">

        <div class="col-xs-6">

            <div class="form-group">

                <label class="control-label">ID  </label>
               
                    <input type="text" class="form-control input-sm" ng-model="id" ng-change="validateID()" ng-disabled="IsBaseAppModel || BaseAppModel"/>
               
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Description  </label>                
                    <input class="form-control input-sm" type="text" title="{{description}}" ng-model="description" ng-disabled="IsBaseAppModel || BaseAppModel"/>
           
            </div>
        </div>
        
        
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="errorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input class="dialog-btn-default" type="button" value="OK" ng-disabled="errorMessage && errorMessage.length > 0" ng-click="updateCommonProperty()" />
        <input class="dialog-btn-default" type="button" value="Cancel" ng-click="cancel()" />
    </div>
</div>
