<div class="portlet-body">
    <div class="form-group">
        <label class="control-label">Project Name </label>
        <div class="input-icon right">
            <input type="text" class="form-control input-sm" placeholder="Project Name" title="{{newprojectName}}" ng-model="newprojectName" ng-change="checkProjectNameNew(newprojectName)" />
        </div>
    </div>
    <div class="form-group">
        <label style="color:red">{{ErrorMessage}}</label>
    </div>
</div>
<div class="form-actions right">
    <input type="button" value="OK" class="dialog-btn-default" ng-disabled="checkProjectNameNew()" ng-click="addProjectOkClick(newprojectName)" />
    <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDialog()" />
</div>