<div class="portlet-body" id="ScopeId_{{$id}}">
    <div class="col-xs-12">
        <div class="form-group">
            <span class="col-xs-4">Method</span>
            <div class="col-xs-8">
                <select ng-model="selectedMethodGroup" ng-options="item for item in remoteObjCollection" class="form-control input-sm" ng-change="checkMethodGroupValidity(selectedMethodGroup);" undoredodirective></select>
                <!--<select name="method-id" ng-options="method for method in remoteObjCollection" class="form-control input-sm" undoredodirective />-->
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-show="validData" ng-bind="srvMethodMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-disabled="validData" ng-click="OnOkClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="OnCancelClick()" />
    </div>
</div>
