<div class="portlet-body">
    <div class="form-group">
        <label class="control-label">Project Name </label>
        <div class="input-icon right">
            <input type="text" class="form-control input-sm" placeholder="Project Name" title="{{editprojectName}}" ng-model="editprojectName" ng-change="checkProjectName(editprojectName)" />
        </div>
    </div>
    <div class="form-group">
        <label style="color:red">{{errorMessage}}</label>
    </div>
</div>
<div class="form-actions right">
    <input type="button" value="OK" class="dialog-btn-default" ng-disabled="checkProjectName()" ng-click="saveEditProject(editprojectName)" />
    <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDialog()" />
</div>


