<div class="portlet-body">
    <div class="form-group">
        <label ng-bind="ErrorMessage"></label>
        <label class="control-label" ng-if="IsSignalRError">Could not connect to the SignalR hub.</label>
        <label class="control-label" ng-if="IsDBError">Error in DB connection.</label>
        <label class="control-label" ng-if="IsProjectLoading">Error in project loading.</label>
    </div>
</div>
<div class="form-actions right">
    <input type="button" value="OK" class="btn dialog-btn-default" ng-click="closeDialog()" />
</div>