<div class="portlet-body">
    <div class="col-xs-12 full-height">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        Form ID
                    </th>
                    <th>
                        Error Message
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="error in lstErrorMessage">
                    <td><span ng-bind="error.strFormId"></span></td>
                    <td><span ng-bind="error.strErrorMsg"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="Send Error Report" ng-click="sendErrorReport()" />
    <input type="button" class="dialog-btn-default" value="Close" ng-click="closeDialog()" />
</div>
