<div class="node" ng-class="getCssClass(model)">
    <span class="node-header-container node-header-block {{::model.Name}}-node-icon" ng-bind="model.dictAttributes.Text" ng-show="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0"></span>
    <span class="node-header-container node-header-block {{::model.Name}}-node-icon text-italic" ng-hide="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0">[BLANK]</span>
    <span class="node-expression-container node-expression-block" ng-class="getClass()">Notes</span>
</div>
