<div class="node" ng-class="getCssClass(model)" ng-dblClick="OnLoopExecutionClick()">
    <div class="node-header-container {{::model.Name}}-node-icon">
        <span class="node-expression-inline node-header-block {{::model.Name}}-node-icon" ng-bind="model.dictAttributes.Text" ng-show="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0"></span>
        <span class="node-expression-inline node-header-block {{::model.Name}}-node-icon text-italic" ng-hide="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0">[BLANK]</span>

        <span class="execution-count" ng-show="model.LoopExecutionCount && model.LoopExecutionCount > 0" ng-if="!model.CanExpandOrCollapse && model.Name == 'while'" ng-bind="model.LoopExecutionCount"></span>
        <span class="execution-count" ng-hide="model.LoopExecutionCount && model.LoopExecutionCount > 0" ng-if="!model.CanExpandOrCollapse && model.Name == 'while'">0</span>
    </div>
    <div class="node-expression-container" ng-class="getClass()">
        <span class="execution-value node-expression-inline" ng-bind="model.ActualValue" ng-show="model.ActualValue && model.ActualValue.trim().length>0"></span>
        <span class="execution-value node-expression-inline text-italic" ng-hide="model.ActualValue && model.ActualValue.trim().length>0">[BLANK]</span>
        <span class="node-expression-inline" ng-bind="model.dictAttributes.sfwExpression" ng-show="model.dictAttributes.sfwExpression && model.dictAttributes.sfwExpression.trim().length>0"></span>
        <span class="node-expression-inline text-italic" ng-hide="model.dictAttributes.sfwExpression && model.dictAttributes.sfwExpression.trim().length>0">[BLANK]</span>
    </div>
</div>
