<div class="full-height full-width overflowA">
    <table class="table table-striped table-bordered table-condensed" ng-if="initializeComponentPicker" id="grid-users" st-table="cloneUserTypes" st-safe-src="userTypes" st-table-item-row="User" role="grid">
        <thead>
            <tr st-operation-row st-operation-allowed="{{ !isAdminMapping ? 'update' : ''}},delete" st-operation-add-template="StartUp/views/UserAssociationDialog.html" st-operation-before-update-callback="onUserUpdateClick(updatedobject, stId, IsUpdate)" st-operation-before-delete-callback="unmapUser()" st-operation-delete-trigger="manual" st-operation-delete-item-property="User.UserName" st-operation-update-trigger="manual">
                <th colspan="16">
                    <i title="Remove the selected user from {{::isAdminMapping?'owner':''}} list." class="fa fa-minus marg-left-10 fright" st-operation="delete" />
                    <i title="Create user for the client." ng-if="!isAdminMapping" class="fa fa-plus marg-left-10 fright" ng-click="createUser()" ng-disabled="!clientId" />
                    <i title="Add an existing AD user {{::isAdminMapping?'as owner':''}} for the {{::isAdminMapping?'selected':''}} client." class="marg-left-10 fright" ng-click="mapADUsers()" ng-disabled="!clientId"><img src="images/Admin/ADUser.svg" /></i>
                    <i title="Add an existing user {{::isAdminMapping?'as owner':''}} for the {{::isAdminMapping?'selected':''}} client." class="marg-left-10 fright" ng-click="mapUsers()" ng-disabled="!clientId"><img src="images/Admin/NormalUser.svg" /></i>
                </th>
            </tr>
            <tr role="heading">
                <th st-sort="User.UserName">Username</th>
                <th st-sort="User.FirstName">First Name</th>
                <th st-sort="User.LastName">Last Name</th>
                <th st-sort="User.EmailID">Email</th>
                <th st-sort="User.DomainName">Domain Name</th>
                <th st-sort="StartDate">Start Date</th>
                <th st-sort="EndDate">End Date</th>
                <th st-sort="UserType">User Type</th>
                <th ng-if="!isAdminMapping">Action</th>
                <th ng-if="!isAdminMapping">Status</th>
            </tr>
            <tr role="search">
                <th colspan="16"><input st-search="" class="form-control" placeholder="search with User Name, First Name , Last Name , Domain name, etc..." type="text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr tabindex="{{$index}}" role="row" st-select-row="usertype" ng-repeat="usertype in cloneUserTypes" ng-click="selectUser(usertype)">
                <td>{{usertype.User.UserName}}</td>
                <td>{{usertype.User.FirstName}}</td>
                <td>{{usertype.User.LastName}}</td>
                <td>{{usertype.User.EmailID}}</td>
                <td>{{usertype.User.DomainName}}</td>
                <td>{{usertype.StartDate | date:'MM-dd-yyyy'}}</td>
                <td>{{usertype.EndDate | date:'MM-dd-yyyy'}}</td>
                <td>{{usertype.UserType}}</td>
                <td ng-show="!isAdminMapping"><a st-operation="update"><i class="glyphicon glyphicon-pencil"></i></a></td>
                <td ng-if="!usertype.User.IsActive && !isAdminMapping"> <a ng-click="reSendActivationMailForUser(usertype)">Send Activation Mail</a> </td>
                <td ng-if="usertype.User.IsActive && !isAdminMapping">Activated</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="16" class="text-center">
                    <div st-pagination="" st-items-by-page="12" st-displayed-pages="5" st-template="common/views/pagination-grid.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>