<div class="portlet-body">
    <div class="popup-box-header">
      
        <div class="fright">
            <i class="fa fa-plus marg-left-10" ng-click="objPrototypeLookupColumns.AddColumn()"></i>
            <i class="fa fa-minus marg-left-10" ng-click="objPrototypeLookupColumns.deleteColumn()" ng-disabled="!objPrototypeLookupColumns.canDeleteColumn()"></i>

            <i class="fa fa-arrow-down marg-left-10" ng-click="objPrototypeLookupColumns.moveSelectedGridColumnDown()" ng-disabled="objPrototypeLookupColumns.canmoveSelectedGridColumnDown()"></i>
            <i class="fa fa-arrow-up marg-left-10" ng-click="objPrototypeLookupColumns.moveSelectedGridColumnUp()" ng-disabled="objPrototypeLookupColumns.canmoveSelectedGridColumnUp()"></i>
        </div>
    </div>
    <div id="prototype-lookup-column-details" class="popup-box-content">
        <table class="pop-up-box-table">
            <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Control Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in objPrototypeLookupColumns.lstColumns" ng-click="objPrototypeLookupColumns.onSelectLookupColumns(obj)"
                    ng-class="objPrototypeLookupColumns.SelectedColumn==obj?'selected':''">
                    <td><input type="text" class="form-control input-sm" ng-model="obj.ColumnName" /></td>
                    <td><select ng-options="controlType for controlType in objPrototypeLookupColumns.ControlTypes" class="form-control input-sm" ng-model="obj.ControlType" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objPrototypeLookupColumns.ErrorMessageForDisplay.length>0">{{objPrototypeLookupColumns.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input type="button" value="Cancel" class="dialog-btn" ng-click="CloseWizardClick()" />
        <input type="button" value="Back" class="dialog-btn" wz-previous="onPrevious()" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-disabled="!objPrototypeLookupColumns.isPrototypeFormDetailsFinishDisable" />
    </div>
</div>