<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group ">
                <label class="control-label"> Entity</label>
                <fileintellisensetemplate isdisabled="IsEntityDisabled || objUserCtrlDetails.isPrototype" onfileblur="objUserCtrlDetails.PopulateFormName(); objUserCtrlDetails.isFinsihDisable()" propertyname="'sfwEntity'"
                                          onfilechange="objUserCtrlDetails.isFinsihDisable()" model="objUserCtrlDetails" filename="objUserCtrlDetails.sfwEntity"  projectbasename="'OnlyApp'" filetype="'Entity'"
                                          isinsidedialog="true" />
            </div>
            <div class="form-group relative-parent">
                <label class="control-label  blocked-element"> User Control(ID) </label>
                <span class="file-prefix">udc</span>
                <input type="text" class="form-control input-sm file-suffix" title="{{objUserCtrlDetails.ID}}" ng-change="objUserCtrlDetails.isFinsihDisable()" ng-model="objUserCtrlDetails.ID">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label"> Path</label>
                <locationintellisensetemplate validate-location-callback="objLocationCallback.locationCallback" locationchanged="objUserCtrlDetails.isFinsihDisable()" locationname="objUserCtrlDetails.Path" model="objUserCtrlDetails" validate="true" errorprop="objUserCtrlDetails.errors.invalid_path"></locationintellisensetemplate>
            </div>
            <div class="form-group checkbox-row" style="margin-top:24px;">
                <input id="chk-is-uc-prototype" type="checkbox" ng-model="objUserCtrlDetails.isPrototype" ng-change="objUserCtrlDetails.toggleIsPrototype()" ng-disabled="IsEntityDisabled">
                <label for="chk-is-uc-prototype" class="control-label">Is Prototype</label>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objUserCtrlDetails.ErrorMessageForDisplay.length>0">{{objUserCtrlDetails.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input class="dialog-btn" type="button" value="Cancel" ng-click="CloseWizardClick()" />
        <input class="dialog-btn" type="button" value="Back" wz-previous="onPrevious()" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="!showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="showExtraFieldsTab" ng-disabled="!objUserCtrlDetails.isUserCtrlFinsihDisable" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="!showExtraFieldsTab" ng-disabled="!objUserCtrlDetails.isUserCtrlFinsihDisable" />
    </div>
</div>