/* Important Note: Common classes has been added in Common.css file */

/* Begin: Login Part Styles */
#loginbody
    {
        background-position:left top;
		background-repeat:repeat-x;
		background-image: url(Image/Main_bg.gif);
		background-color:#ded9c3;
    }
#loginboxBg
	{
		background-position:left;
		background-repeat: no-repeat;
		background-image: url(Image/login_bg.png);
	}
#loginAuthenticationBoxBg
	{
	    background:#f5f5f5;
		background-position:left;
		background-repeat: no-repeat;
		/*background-image: url(Image/login_bg.png);*/
	}
#loginAuthenticationBoxDescBg
	{
	    background:#f5f5f5;
		background-position:left;
		background-repeat: no-repeat;
		/*background-image: url(Image/login_bg.png);*/
	}
.exisistingUser
	{
	    background:#f5f5f5;
		/*background-position:left;
		background-repeat: no-repeat;
		background-image: url(Image/login_bg.png);*/
	}
.loginAuthenticationBoxBgBtm, .loginAuthenticationImgBoxBgBtm, .loginAuthenticationTermsBoxBgBtm, .loginChangePWDBoxBgBtm, .loginAuthenticatConfirmBoxBgBtm, .loginAuthenticationImgBoxDescBgBtm
	{
		background-position:left;
		background-repeat: no-repeat;
		background-image: url(Image/Login_Bottom_Bg.png);
	}
.loginQABoxBgBtm, .loginAuthenticatBoxBgBtm
	{
		background-position:left;
		background-repeat: no-repeat;
		background-image: url(Image/Login_Bottom_Bg.png);
	}
.loginPWDBoxBgBtm
	{
		background-position:left;
		background-repeat: no-repeat;
		background-image: url(Image/Login_Bottom_Bg.png);
	}
.loginTxt, .loginPhraseTxt, .loginAsteriskTxt, .loginPwdLabel
	{
		color:#333;
	}
.loginInstructionTxt
	{
		color:#333;
	}

input.Logintxtbox
	{
	    border:none;
	}
input.Logintxtboxexternal
	{
	    border:none;
	}
.Logintxtbox
	{
		color:#333;
		background:#f5f5f5 url(Image/login_Text_Box.png) no-repeat left top;
	}
.Logintxtboxexternal
	{
		color:#333;
		background:#f5f5f5 url(Image/login_Text_Box.png) no-repeat left top;
	}
.loginButtonbg
	{
		color:#ffffff;
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Button.png);
	}
.loginContinueButton, .loginContinueAuthenticationButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Continue_Button.png);
	}
.loginSubmitButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Submit_Button.png);
	}
.loginForgotPWDButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Forgot_Password_Button.png);
	}
.loginContinueTermsButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Continue_Button.png);
	}
.loginResetButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Reset_Button.png);
	}
.loginCancelButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Cancel_Button.png);
	}
.loginChangePWDButton
	{
		border:solid 0px #000000;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Change_Password_Button.png);
	}
.loginSelectButtonbg
	{
		color:#ffffff;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Login_Select_Button.png);
	}
.copytxt
	{
		color:#333;
	}
#lgnBase_UserNameRequired
	{
		color:Red;
	}
#lgnBase_PasswordRequired
	{
		color:Red;
	}
.loginRibbon { background:url(Image/Top_Bg_Pattern.png) no-repeat left top; }
.slidingText
    {
        width:500px;
        top:559px;
        left:22px;
        min-height:70px;
        position:absolute;
        display:inline-block;
        border:1px solid #f5bc6d;
        background-color:#f5e6d1;
    }
.slidingText P
    {
        width:500px;
        color:#794039;
        text-align:center;
        padding:5px 0px 5px 0px;
        *padding:15px 0px 5px 0px;
    }
.LoginContent ul li
    {
        background:url(Image/arrowRight.png) no-repeat scroll left 10px transparent;
    }
.naviHeadPara ul li
    {
        background:url(Image/arrowRight.png) no-repeat scroll left 10px transparent;
    }
.securityTxtBox
    {
        background-color:#FFFFFF;
        color:#2D3741 !important;
        border:1px solid #BEBEBE !important;
    }
.securityTxt, .securityTxtHeading
    {
        color:#333;
    }
/* End: Login Part Styles */
.innerPgsBody
	{
		background-color:#fff;
	}
#top_head
	{
		height:72px;
		background-color:#c5e2ea;
		background-repeat:repeat-x;
		background-image: url(Image/Header_Top_Bg.png);
	}
.ReportViewer
	{
		height:100%;
		overflow:auto;
	}
.UnreadMessage
	{
		background-color:#ffff9F;
	}
.WorkflowButton
	{
		margin-right:2px;
	}
.silhouette
	{
		width:16px;
		border:0px;
		/*height:16px;*/
		padding-top:21px;
		*padding-top:10px;
		display:inline-block;
		background-position:center;
		background-repeat:no-repeat;
		background-image:url(Image/silhouette1.png);
	}
.headerDiv
	{
		width:2px;
		border:0px;
		height:18px;
/*		padding-top:21px;
		*padding-top:10px;*/
		margin:0px 2px 0px 3px;
		display:inline-block;
		background-position:center;
		background-repeat:no-repeat;
		background-image:url(Image/headerDevider.png);
	}
/* Begin: Header Part Styles */
#header
	{
		background-color:#c5e2ea;
		background:url(Image/Header_Top_Bg.png) repeat-x left bottom;
	}
.HeaderTopLeft
	{
		background-color:#c5e2ea;
		background-repeat:no-repeat;
		background-position:left top;
		background-image:url(Image/Header_Top_Left.png);
	}
.HeaderTopCenter
	{
		color:#fff;
		background-color:#c5e2ea;
		background:url(Image/Header_Top_Bg.png) repeat-x;
	}
.HeaderTopRight
	{
		background-color:#c5e2ea;
		background:url(Image/Header_Top_Bg.png)  repeat-x right top;
	}
.headrightIcon
	{
		padding-top:3px;
		vertical-align:top;
	}
.headrightIcon a
	{
		color:#4c7996;
		font-weight:bold;
		text-decoration:none;
	}
.headrightIcon a:hover
	{
		color:#44a6e5;
		text-decoration:none;
	}
.menubg
	{
		background:url(Image/Menu_Bg.png) repeat-x;
	}
.menuL
	{
		background:url(Image/Menu_L.png) no-repeat left top;
	}
.menuR
	{
		background:url(Image/Menu_R.png) no-repeat right top;
	}
.Menuleft
	{
		float:left;
		width:21px;
		height:34px;
		display:inline;
		background-position:left;
		background-repeat: no-repeat;
		background-color:transparent;
		background-image: url(Image/Menu_L.png);
	}
.MenuCenter
	{
		float:left;
		color:#333;
		width:auto;
		height:34px;
		display:inline;
		padding-top:2px;
		font-weight:bold;
		background-repeat:repeat-x;
		background-image:url(Image/Menu_Bg.png);
	}
.MenuCenter a
	{
		color:#333;
		font-weight:bold;
		text-decoration:none;
	}

.MenuCenter a:hover
	{
		color:#3399cc;
		font-weight:bold;
		text-decoration:none;
	}
.MenuRight
	{
		float:left;
		width:50px;
		height:34px;
		display:inline;
		padding-top:2px;
		background-position:right;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Menu_R.png);
	}
.ButtonCell
	{
		color:#683531;
		background:url(Image/innerbtnbg.png) repeat-x right -305px;
		*background:url(Image/innerbtnbg.png) repeat-x right -305px;
	}
.ButtonTable
	{
		color:#683531;
	}
.buttonbg
	{
		color:#683531;
		background:url(Image/innerbtnbg.png) repeat-x left -275px;
		*background:url(Image/innerbtnbg.png) repeat-x left -275px;
	}
input.buttonbg:hover
	{
		color:#9c807d;
	}
.MyModalPanel
	{
		background:#fff url(Image/loading.gif) center center no-repeat;
	}

A A:link A:active A:visited
	{
		color:#238fc7;
		font-weight:bold;
	}
.loader
	{
		color:#cc0033;
		font-weight:bold;
	}
.menubg a:link
	{
		color: #ffffff;
		text-decoration: none;
	}
.menubg a:hover
	{
		color:#ffffff;
		text-decoration: none;
	}
.menubg a:visited
	{
		color: #ffffff;
		text-decoration: none;
	}
.submenuitem
	{
		color:#333;
		padding:5px;
		z-index:20000;
		font-weight:bold;
		margin-bottom:1px;
		background-color:#c4e2e2;
	}
.submenu
	{
		background-color:#ffffff;
	}
.submenu a
	{
		color: #333;
	}
.mainmenu
	{
		margin-top:1px;
		padding-left:10px;
	}
.level1
	{
		margin-top:1px;
		padding-left:20px;
	}
.submenuover
	{
		color:#333;
		padding:5px;
		margin-top:1px;
		background-color:#97d3da;
	}
#pnlSmartLinks ul li
	{
		background-repeat:no-repeat;
		background-position:2px 5px;
		background-image:url(Image/listArrow.gif);
	}

			/* Begin: Grid Styles */
			.gridTable 
				{
					border:1px solid #5e5030;
					background:none repeat scroll 0 0 #FFFFFF;
				}
			.gridhead
				{
					color:#fff !important;
					background-color:#a58a87 !important;
					background:url(Image/table-heading-bg.jpg) repeat-x left top;
				}
			.gridhead th a
				{
					color:#fff;
				}
			.gridhead th a:hover
				{
					color:#e5d7b7;
				}
			.gridhead a:hover
				{
					color:#e5d7b7;
					background:none !important;
				}
			.gridhead a:visited
				{
					color:#e5d7b7;
				}
			.gridhead th, .gridodd td, .grideven td, .gridselected td, .primaryaddrcontct td
				{
					border:1px solid #987c79;
					*border-right:2px solid #987c79 !important;
				}
			.gridodd td
				{
					*border-right:1px ridge #69f8fe !important;
				}
			.gridnormal
				{
					color:#333333;
				}
			.gridnormal td
				{
					color:#333333;
				}
			.gridnormal span
				{
					border:1px solid #ccc;
					background:#f1f1f1 url(Image/pageNavBg.gif) repeat-x left top;
				}
			.gridnormal a:hover
				{
					color:#005197;
					background:none !important;
				}
			.gridodd
				{
					color:#2d3741;
					background:none repeat scroll 0 0 #b9e0ff;
				}
			.gridodd a
				{
					color:#2d3741;
				}
			.gridodd a:hover
				{
					color:#2d3741;
					background:none !important;
				}
			tr.gridodd span
				{
					color:#2d3741;
				}
			.grideven
				{
					color:#2d3741;
					background:none repeat scroll 0 0 #a1d2f9;
				}
			tr.grideven span
				{
					color:#2d3741;
				}
			.grideven a
				{
					color:#2d3741;
				}
			.grideven a:hover
				{
					color:#2d3741;
					background:none !important;
				}
			tr.grideven span
				{
					color:#2d3741;
				}
			.gridselected
				{
					color:#2d3741;
					background:none repeat scroll 0 0 #f7de96;
				}
			tr.gridselected span
				{
					color:#2d3741;
				}
			tr.gridodd:hover, tr.grideven:hover, tr.gridselected:hover
				{
					color:#000;
					background:none repeat scroll 0 0 #ffebe2;
				}
			.primaryaddrcontct td
				{
					background-color:#9bd9a7;
				}
			tr.primaryaddrcontct span
				{
					color:#2d3741;
				}
			/* End: Grid Styles */
a
	{
		color:#2d3741;
		text-decoration:none;
	}
.gridhead a:link
	{
		color:#fff;
		text-decoration:underline;
	}
.gridhead a:hover
	{
		color:#997d7a;
		text-decoration:underline;
	}
.gridhead a:visited
	{
		color:#997d7a;
		text-decoration:underline;
	}
.gridnormal
	{
		color:#333333;
		padding:10px;
	}
.gridnormal span
	{
		padding: 2px 5px;
		font-weight: bold;
		display: inline-block;
		border: 1px solid #CCCCCC;
		background: url(Image/pageNavBg.gif) repeat-x scroll left top #F1F1F1;
	}
.gridodd
	{
		padding:10px;
		color:#2d3741;
		background-color:#f3f3f3;
	}
.grideven
	{
		padding:10px;
		color:#2d3741;
		background-color:#e1dfdf;
	}
.gridselected
	{
		padding:10px;
		color:#2d3741;
		background-color:#f0e247;
	}
.Content
	{
		border-top:none !important;
		border:solid 1px #725450;
		background:#ffffff;
	}
#cphCenterMiddle_tblAuditInfo
	{
		border:solid 1px #5e5030;
	}
.DisabledControls
	{
		background-color:#fff;
	}
.Label
	{
		text-align:right;
		padding-left:15px;
		font-weight:bold;
	}
.ReqInfo
	{
		color: #FF4500;
	}
.txtlabel
	{
		color: #333300;
	}
.Table
	{
		width:100%;
		vertical-align:top;
	}
.Message
	{
		border:1px solid #F4D795;
		color: #683531 !important;
		background:url(Image/msgBg.gif) repeat-x scroll left top #fbe9c1;
	}
.loginEntrustMessageBg
	{
		background:#FFF6E2;
		border:1px solid #F4D795;
		color: #683531 !important;
	}
#vlsErrors
	{
		color: #683531 !important;
	}
 caption
	{
		border:1px solid #bdbcbd;
		background:url(Image/msgBg.gif) repeat-x scroll left bottom #FFFFFF;
	}
.textboxbg
	{
		color:#2d3741;
		margin-right:5px;
		background-color:#FFFFFF;
		border:1px solid #bebebe;
		font-family:Times New Roman !important;
	}
.rightAlignControl
	{
		color:#2d3741;
		margin-right:5px;
		background-color:#FFFFFF;
		border:1px solid #bebebe;
		font-family:Times New Roman !important;
	}
select
	{
		color:#2d3741 !important;
		margin-right:5px;
		background-color:#FFFFFF;
		border:1px solid #bebebe !important;
/*		<!--[if IE 7]>
		*border:1px solid #bebebe; !important;
		<![endif]-->*/
		*border:1px solid #bebebe; !important;
		font-family:"Segoe UI", Verdana, Geneva, sans-serif !important;
	}
option
	{
		border:1px solid #fff !important;
		*border:1px solid #fff; !important;
		
	}
.hasDatepick
	{
		color:#2d3741;
		margin-right:5px;
		background-color:#FFFFFF;
		border:1px solid #bebebe;
	}
.Divider
	{
		width:90%;
		margin-right:6px;
		border:solid 1px #d8e6eb;
	}
.panelbg
	{
		width:100%;
		height:100%;
		/*color:#2d3741;*/
		background-color:#fff;
	}
#content
	{
		background-color:#fff;
	}
.PanelMiddle
	{
		margin-top:1px;
	}
.panelbg a:hover
	{
		text-decoration: underline;
	}
/* Begin: Footer Part Styles */
.footer
	{	
		color:#333;
		background-color:#c4e2e2;
	}
.footerLeft
	{
		background-color:#c4e2e2;
	}
.footerRight
	{
		background-color:#c4e2e2;
	}
/* End: Footer Part Styles */
.gridItemThresholdYellow
	{
		padding:10px;
		color:#2d3741;
		background-color: #f0e247;
	}
.gridItemThresholdRed
	{
		padding:10px;
		color:#185373;
		background-color: #FF0000;
	}
.gridItemWrapText
	{
		text-align:left;
		white-space:pre-line;
	}
.labelColumn
	{
		text-align:right;
		white-space:nowrap;
	}
.UnreadMessageRow
	{
		background-color:#ffff99;
	}
.uppLockPerson
	{
		display:inline-block !important;
		*display:inline-block !important;
		padding-top:5px;
	}
.textBoxDisplayStyleNone
	{
		display:none;    
	}
.otherMonth a
	{
		color:#ccc !important;
	}
#calEvents
	{
		background-color:#fff !important;
	}
#calAgency
	{
		background-color:#fff !important;
	}
.redbanner
{
    color:#ffffff;
    background-color:#f9786d;
}

.floatRight
{
    float:right;
    padding-right:15px;
}

.floatLeft
{
    float: left;
    padding-left:15px;
}

.boldUnderline
{
    font-weight:bold;
    text-decoration:underline;
}
.bold
{
    font-weight:bold;
}    

.ui-autocomplete {
		max-height: 500px;
		background-color: rgb(196, 226, 226);
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}

/* dialog classes */
  #pnlPopupDialogContainer
    {
        position: relative;
        padding: .2em;
        margin:0 auto;
        width: 700px !important;
    }
    .ui-dialog .ui-dialog-titlebar
    {
        padding: .5em .3em .3em 1em;
        position: relative;
        border: 1px solid #4297d7;
        background: #2191C0;
        color: #eaf5f7;
        font-weight: bold;
    }
    .ui-dialog .ui-dialog-title
    {
        float: left;
        margin: .1em 0 .2em;
    } 
    .ui-dialog .ui-dialog-titlebar-close
    {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 19px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 18px;
    }
    .ui-dialog .ui-dialog-titlebar-close span
    {
        display: block;
        margin: 1px;
    }
    .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
    {
        padding: 0;
    }
    .ui-dialog .ui-dialog-content
    {
        border: 1px solid #4297d7;
        padding: .5em 1em;
        background: #fcfdfd;
        overflow: auto;
    }
    .ui-dialog .ui-dialog-buttonpane
    {
        text-align: left;
        border-width: 1px 0 0 0;
        background-image: none;
        margin: .5em 0 0 0;
        padding: .3em 1em .5em .4em;
    }
    .ui-dialog .ui-dialog-buttonpane button
    {
        float: right;
        margin: .5em .4em .5em 0;
        cursor: pointer;
        padding: .2em .6em .3em .6em;
        line-height: 1.4em;
        width: auto;
        overflow: visible;
    }
    .ui-dialog .ui-resizable-se
    {
        width: 14px;
        height: 14px;
        right: 3px;
        bottom: 3px;
    }
    .ui-draggable .ui-dialog-titlebar
    {
        cursor: move;
    }
    
.WhiteSpaceNormal
{
    white-space:normal !important;
}
    
/* Browse button style
.BrowserVisibleAttachment {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background:url(image/btn_browse.jpg) 100% 0px no-repeat;
    height:27px;
    width:220px;
    margin:110px 0px 0px 122px !important;
}

.BrowserVisibleUpload {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background:url(image/btn_browse.jpg) 100% 0px no-repeat;
    height:27px;
    width:220px;
    margin:140px 0px 0px 94px !important;
}

.BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background:url(image/btn_browse.jpg) 100% 0px no-repeat;
    height:27px;
    width:220px;
    margin:65px 0px 0px 124px !important;
}

#FileField {
    width:155px;
    height:22px;
    margin-right:85px;
    font-size:16px;
    border:solid 1px #000;
                margin-top:2px;
}

#cphCenterMiddle_fluFileUpload {
    position:relative;
    width:220px;
    height:26px;
    text-align: left;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
                background-color:#960;
}

input#cphCenterMiddle_FileField
{
    background-color:#edecec !important;
}
End Browse button style*/

/* Authentication */
.authenticationImageListTxt
	{
		color:#333;
	}