/* Important Note: Common classes has been added in Common.css file */
.mainmenu
	{
		background-image:none !important;
	}
#menu ul li
	{
		background:url(Image/menuDevider.png) no-repeat right 7px;
		*background:url(Image/menuDevider.png) no-repeat right 7px;
	}
#menu ul li a
	{
		color:#8f2104;
	}
#menu ul li a:hover
	{
		background:#b92903;
		color:#9a4215 !important;
	}	
#menu ul ul
	{
		border:1px solid #fff;
	}
#menu ul ul li
	{
		border-bottom:1px thin #fff;
	}
#menu ul ul li a
	{
		background:#eed7ab !important;
	}
#menu ul li a:hover
	{
		color:#9a4215;
		background:#f4e6ca !important;
	}
#menu ul li .subarrow
	{
		background:#eed7ab url(Image/downarrow.gif) no-repeat right -16px;
	}
#menu ul li .subarrow:hover
	{
		background:#f4e6ca url(Image/downarrow.gif) no-repeat right -16px;
	}