<div class="portlet-body">
    <form class="form-horizontal" action="#">
        <div class="form-body">
            <div class="form-group">
                <label class="col-xs-4 control-label ">User Name </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" maxlength="50" placeholder="Enter Username" ng-model="selectedUser.UserName" ng-change="checkValidUser()" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">First Name </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" maxlength="50" placeholder="Enter first name" ng-model="selectedUser.FirstName" ng-change="checkValidUser()" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Last Name </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" maxlength="50" placeholder="Enter last name" ng-model="selectedUser.LastName" ng-change="checkValidUser()" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Email ID </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" maxlength="50" placeholder="Enter email id" ng-model="selectedUser.EmailId" ng-change="checkValidUser()" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-show="IsError" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="Create User" ng-disabled="IsError" class="btn dialog-btn-default" ng-click="createUser()" />
        <input type="button" value="Cancel" class="dialog-btn" ng-click="closeAddUserDialog()" />
    </div>
</div>
