<div class="full-height">
    <div class="portlet-body series-details-popup" id="ScopeId_{{$id}}">
        <div class="client-visi-layout">
            <div class="retrieve-param-tree-list" ng-if="SelectedObject.Name=='sfwSeries'">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Available Fields</span>
    </div>
                    <div class="client-visi-content">
        <newentityobjecttreetemplate ischeckboxvisible="false" selectedfield="SelectedObject.selectedobjecttreefield" showonlycollection="false" lstdisplayentity="SelectedObject.LstDisplayedEntities"
                                     selectedentityobjecttreefields="SelectedObject.lstselectedobjecttreefields" entityname="ParentEntityName"></newentityobjecttreetemplate>

    </div>
                </div>
            </div>

            <div class="retrieve-param-value-table">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Columns</span>

        <div class="panel-icons">
            <a title="Add New Property">
                <img src="images/Common/icon_add_dark.svg" ng-click="addProperty()" />
            </a>
            <a title="Delete Property">
                <img src="images/Common/icon_delete_dark.svg" ng-click="deleteProperty()" />
            </a>
        </div>
                    </div>
                    <div class="client-visi-content" chartcolumndroppable dropdata="item.Property" lstcolumns="sfwAddtionalChartColumns">
                <table class="table table-hover table-fixedheader full-height">
                    <thead>
                        <tr>
                            <th width="100%" chartcolumndroppable dropdata="item.Property" lstcolumns="sfwAddtionalChartColumns">
                                ID
                            </th>
                        </tr>
                    </thead>
                            <tbody>
                                <tr ng-repeat="item in sfwAddtionalChartColumns" ng-click="selectRow(item)" ng-class="selectedRow==item?'selected':''">
                            <td width="100%">
                                <input type="text" class="form-control input-sm" ng-model="item.Property" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOkClick()" />
    <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onCancelClick()" />
</div>
</div>





