<div id="tablediv_{{currentfile.FileName}}"  ng-mouseleave="clearCellsFromtable($event)" class="addtablecelldiv" style="display:none">
    <table style='width:200px;height:200px;border:1px solid black'>
        <tr style="height:8px">
            <td ng-mouseover="clearCellsFromtable()" ng-class="isCellDelete(-1,k-1)?'deletetablecelltd1':'deletetablecelltd'" ng-mousedown="onDeleteColumnOrRowCellClick($event,k-1,'Column')" ng-repeat='k in getArrayCount(objRowAndColumnIndex.CurrentColumnIndex,"Delete")'></td>
        </tr>
        <tr ng-repeat='j in getArrayCount(objRowAndColumnIndex.CurrentRowIndex,"")'>
            <td ng-mouseover="clearCellsFromtable()" ng-mousedown="onDeleteColumnOrRowCellClick($event,j,'Row')" ng-class="isCellDelete(j,-1)?'deletetablecelltd1':'deletetablecelltd'" style="width:8px"></td>
            <td ng-mouseover="AddCellsFromTable($event,j,i,true)" ng-class="isCellDelete(j,i)?'addtablecelltd3': (j<=objRowAndColumnIndex.CurrentRowIndex && i<=objRowAndColumnIndex.CurrentColumnIndex)?'addtablecelltd2' :(j<=objRowAndColumnIndex.RowIndex && i<=objRowAndColumnIndex.ColumnIndex)?'addtablecelltd':'addtablecelltd1'" ng-mousedown="AddCellsFromTable1($event,j,i,false)" ng-repeat='i in getArrayCount(objRowAndColumnIndex.CurrentColumnIndex,"")'></td>
        </tr>
    </table>
</div>