<div>
    <div  ng-class="field.IsExpanded?'fa fa-minus':'fa fa-plus'" ng-click="ExpandCollapsedControl(field,$event)" ng-show="field.Items.length>0"></div>
    <input type="checkbox" ng-model="field.IsSelected" />
    <span ng-bind="field.Text"></span>
    <ul ng-if="field.Items.length > 0" ng-show="field.IsExpanded">
        <li ng-repeat="field in field.Items" controlistchildtreetemplate ng-click="SelectFieldClick(field, $event)"
            ng-mousedown="SelectFieldClick(field, $event)">
        </li>
    </ul>
</div>