<div ng-controller="ImageConditionController" class="full-height">

    <div class="portlet-body">
        <div class="col-xs-12">
            <div class="Result-grid">
                <ul>
                    <li title="Add"><i class="fa fa-plus" ng-click="AddNewImageCondtion()"></i></li>
                    <li title="Delete"><i class="fa fa-minus" ng-click="deleteImageCondition()" ng-disabled="conditions.length==0||selectedImageCondition==undefined"></i></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="">
                <table class="table table-condensed table-hover table-fixedheader">
                    <thead>
                        <tr>
                            <th width="50%">Value</th>
                            <th width="50%">ImageUrl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Imagecondition in conditions[0].Elements" ng-class="Imagecondition==selectedImageCondition?'selected':''" ng-click="setRowSelection(Imagecondition)">
                            <td width="50%">
                                <input type="text" class="form-control input-sm" title="{{Imagecondition.dictAttributes.value}}" ng-model="Imagecondition.dictAttributes.value" />
                            </td>
                            <td width="50%">
                                <!--<input type="text" ng-model="Imagecondition.dictAttributes.ImageUrl" />
                                <img src='images/find_search.svg' ng-click='OpenImageUrl("ImageCondition")' class='icon-search' />-->


                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" title="{{Imagecondition.dictAttributes.ImageUrl}}" ng-model="Imagecondition.dictAttributes.ImageUrl">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-search-popup" type="button" ng-click='OpenImageUrl("ImageCondition",$index)'></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onImageCondtionSaveClick(conditions)" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onCancelClick()" />
    </div>

</div>
