<div class="portlet-body"> 
    <div class="col-xs-12 load-details-popup-table">
        <table class="sws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Update Auto Load</th>
                    <th>New Auto Load</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dummyLstLoadDetails">
                    <td>{{item.dictAttributes.ID}}</td>
                    <td><input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-model="item.dictAttributes.sfwUpdateAutoLoad" /></td>
                    <td><input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-model="item.dictAttributes.sfwNewAutoLoad" /></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions right">
    <input type="button" value="OK" class="btn  default" ng-click="onOkClick()" />
</div>
