<div class="portlet-body">
    <div class="form-group">
        <table class="table table-condensed table-hover table-fixedheader full-height">
            <thead>
                <tr>
                    <th width="50%">Parameter Field</th>
                    <th width="50%">Parameter Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="objpara in objParameter">
                    <td width="50%"><span ng-bind="objpara.ParameterField"></span></td>
                    <td width="50%">
                        <select class="min-width-80 form-control input-sm" ng-options="param for param in lstParameters" ng-model="objpara.ParameterValue" undoredodirective model="objpara">
                            <option value=""></option>
                        </select>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions right">
    <input type="button" value="OK" class="btn  default" ng-click="paraOkClick()" />
    <input type="button" value="Cancel" class="btn default" ng-click="paraCancelClick()" />
</div>
