<div class="portlet-body" style="overflow:hidden!important">
    <newentityobjecttreetemplate ischeckboxvisible="true"  iscollectionnextlevelload="false" showonlycollection="false" lstdisplayentity="ObjSeriesModel.LstDisplayedEntities" selectedentityobjecttreefields="ObjSeriesModel.lstselectedobjecttreefields" entityname="ParentEntityName" selectedfield="ObjSeriesModel.selectedobjecttreefield"></newentityobjecttreetemplate>
</div>

<div class="form-actions">
    <input type="button" class="dialog-btn" value="OK" ng-click="onSfxChartTooltipTableOKClick()" />

    <input type="button" class="dialog-btn" value="Cancel" ng-click="onSfxChartTooltipTableCancelClick()" />
</div>
