
/*------------New Dashboard Responsive-----------*/
@media (max-width:1360px){
    .userinfo-welcome-menu {
        padding: 10px ;
    }
}
@media (max-width:1290px) {
    .mob-hidden {
        width: 70% !important;
        text-align: center;
    }
}
@media (max-width:1170px) {
    .mob-hidden {
        width: 65% !important;
        text-align: center;
    }
}

@media (min-width:1025px) and (max-width:1255px) {
    .btnViewPayroll {
        width: 150px;
    }

    #btnNewStatus {
        left: 125px;
    }
}
@media (max-width:1070px){
    .sagi-nav>li{
        margin-right: 5px;
}
}
@media (max-width:1024px) {
    .menu-toggle {
        left: 12px;
        top: 17px;
    }
    #ActiveMember a.alerts-img {
        padding-top: 10px !important;
        background-position: 18px 8px;
    }
    .page-slideout-body-collaped .page-slideout-container-wrapper {
        margin-left: 0 !important;
    }
    .dashboard-listview {
        display: inline-block;
    }

    .box-layout-col {
        margin: 0 0px 5px;
    }

        .box-layout-col.col-md-3 {
           width: calc(50% - 10px) !important;
           float: left;
           margin: 5px;
        }

        .box-layout-col fieldset {
            height: 380px;
            min-height: auto;
        }

    .welcome-text {
        font-size: 12px;
    }
    .mob-menus {
        float: right;
    }

    .CaptionDiv {
        text-align: right;
        margin-bottom: 5px;
    }

    .GridHolder {
        overflow: unset;
    }

    .ProgressBar li {
        min-width: 75px !important;
    }

    .ProgressBar .stepSpan {
        padding-top: 15px;
        text-indent: -10000px;
    }

    ul.s-ulControlPanelbar .form-group {
        margin-bottom: 0;
    }

    ul.s-ulControlPanelbar .s-textbox, ul.s-ulControlPanelbar select {
        margin-bottom: 10px;
    }

    .exprot-to-excel-btn {
    display:block !important;
    }
    .exprot-to-excel-btn .col-md-2, .exprot-to-excel-btn .col-md-10 {
        width: 100%;
        display: block;
    }

    #wzsMemberEmploymentDetails #lblLabel37[skinid="ReqInformation"] {
        float: left;
    }
    .sagi-nav > li {
        margin-right: 5px;
    }
    .userinfo-welcome-menu {
        font-size: 11px;
        padding: 0px 10px;
    }
    .s-crumDivContainer {
        width: calc(100% - 0px);
    }
    .toggle-menu-container {
        top: 148px;
    }
    #crumDiv {
        padding: 0px 10px 0px 30px;
    }
}
@media screen and (max-width:991px) {
    .mob-hidden {
        width: 60% !important;
        text-align: center;
    }
    .sagi-nav a {
        width: 28px;
        height: 28px;
    }
}
    @media screen and (max-width:845px) {
        .s-crumDivContainer {
            width: 100%;
            top: 120px;
        }

        .GlobalMessage {
            margin-top: 20px;
        }

        .display-none-br table td br {
            display: none;
        }

        #NorthSplitter {
            height: 120px !important;
        }

        .userinfo-welcome-menu {
            font-size: 11px;
            padding: 7px 10px;
        }

        .CaptionDiv {
            text-align: left;
            margin-bottom: 5px;
            width: 100%;
        }

            .CaptionDiv + div {
                width: 100%;
            }

        #SouthSplitter {
            padding-top: 0px;
        }

        #wizMain .actionBar {
            margin-bottom: 20px;
        }
    }

    @media (max-width:768px) {
        #crumDiv {
            padding: 0px 10px 0px 0px;
        }
        .mobile-view-head {
            display: block;
        }

        .web-view-head {
            display: none;
        }
        .desktop-logo {
            display: none !important;
        }

        .mob-logo img {
            display: none !important;
        }

        .mob-logo {
            display: block !important;
            margin-left: 35px;
            background: url(../Images/mob-logo.png) no-repeat center center;
            height: 50px;
            background-position: center center;
            background-size: contain;
        }

        #logo {
            background: none;
        }

            #logo img {
                width: auto;
            }

        .header-topstrip {
            padding: 5px 0;
        }

        .box-layout-col.col-md-3 {
            width: 50%;
        }


        .page-slideout-body-collaped .page-slideout-container-wrapper {
            margin-left: 0 !important;
        }

        .menu-toggle {
            position: fixed;
            left: 12px;
            top: 50px;
            z-index: 999;
        }

        .welcome-text {
            padding-left: 0;
            padding-top: 5px;
            font-size:11px;
        }

        .mob-menus {
            width: auto;
        }


        .sagi-nav a {
            width: 28px;
            height: 28px;
            line-height: 28px;
        }

        .main-logo {
            width: 100px;
            padding: 7px 5px 0;
        }

        .portal-head {
            margin-left: 100px !important;
            width: auto;
            padding: 6px 0;
            float: right;
        }

        .sagi-nav {
            margin-top: 0px;
        }

        .breadcrumb {
            padding-right: 0;
        }

        .ProgressBar li:before {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-weight: normal;
        }

        .ProgressBar li:after {
            top: 15px;
        }

        .ProgressBar .stepSpan {
            visibility: hidden;
            padding-top: 0;
        }

        .ProgressBar li {
            min-width: 60px !important;
        }

        .ProgressBarDivParent {
            margin-top: 15px;
        }

        .button, #clickExcel {
            margin-bottom: 10px;
        }

        .s-grid-container {
            width: 100%;
        }

        #NotificationBar {
            margin-top: 15px;
        }


        ul.s-ulControlPanelbar .col-md-3 {
            width: 100%;
        }

        .page-slideout-body-collaped .page-slideout-left-wrapper {
            z-index: 9999;
        }

        .toggle-menu-container {
            top: 120px
        }

        .CaptionDiv + div {
            width: 100%;
        }

        .login-wrapper {
            max-width: 100% !important;
        }
        .mob-menus {
            position: relative !important;
            right: 0px;
        }
        .userinfo-welcome-menu {
            padding: 10px;
        }

    }
    @media (max-width:767px){
        .s-crumDivContainer{
            height:0px;
            padding:0px;
        }
        #CenterMiddle{
            top:0px !important;
        }
        .breadcrumb-page-info {
            display: none;
        }
    }
    @media screen and (max-width:640px) {
        .crumDiv, .userinfo-welcome-menu {
            width: 100%;
        }

        .userinfo-welcome-menu {
            text-align: right;
        }

        .employer-retirement-contribution-table input[type="text"] {
            width: 140px;
            text-align: left;
        }

        .sagi-nav > li {
            margin-right: 3px;
        }
        .mob-hidden {
            display: none !important;
        }
    }

    @media (max-width:480px) {

        .box-layout-col.col-md-3 {
            width: 100% !important;
        }

        .box-layout-col fieldset {
            height: auto;
            min-height: auto;
        }

        .box-layout-col {
            margin: 0 0 10px 0;
        }

        .portal-head {
            margin-left: 50px !important;
        }

        .main-logo {
            padding: 5px;
        }

        .userinfo-welcome-menu {
            padding: 15px 5px 8px 5px;
            width:100%;
        }
       
        #NotificationBar ul li .badge {
            right: auto;
            left: 12px;
        }

        .mob-logo {
            height: 35px;
        }
    }


  