/** {
    margin: 0px;
    padding: 0px;
}


th {
}

table {
    border-collapse: collapse;
   background-color: #000000;
}

.login-btn {
    display: none;
}

#panelContent {
    height: 500px !important;
}


.fluid-table td {
    border: 1px solid #AAAAAA;
    color: #333333;
    border-collapse: collapse;
    padding: 5px;
}

.fluid-table .td-head {
    text-align: center;
    color: #fff;
    background: #dc9c16;
    font-weight: bold;
    padding: 0px !important;
}

.fluid-table th {
    background: #000000;
    border: 1px solid #FFFFFF;
    color: #FFF;
    text-align: center;
}



.nores {
    position: relative;
    padding: 0px !important;
}

.sfwgrid {
    border: none !important;
}


.login-btn {
    width: 75px;
    height: 32px;
    display: none;
    text-decoration: none;
    background: #1a3b69;
    color: #FFFFFF;
    position: absolute;
    top: 0%;
    z-index: 9999;
    right: 70px;
    text-align: center;
    line-height: 32px;
}

.Logout {
    width: 75px;
    height: 32px;
    background: #1a3b69;
    color: #FFFFFF;
    position: fixed;
    top: 0%;
    z-index: 10;
    right: 70px;
    text-align: center;
    line-height: 32px;
}*/


@media only screen and (max-width: 800px) {

    .k-grid table {
        width: 100% !important;
    }

    .k-content table
    {
        width:100% !important;
    }

    .login-btn {
        display: block !important;
    }

    .bottomBarWrapper {
        display: none;
    }

    .TileSeperator {
        height: 50px;
        width: 100%;
        display: block !important;
        float: left !important;
    }

    .tile {
        margin: 2px !important;
        position: relative !important;
        float: left !important;
        max-width: 145px !important;
        max-height: 135px !important;
    }

    #contentWrapper {
        width: 100% !important;
    }

    #centerWrapper {
        padding-left: 0px !important;
    }

    .fluid-table {
        border-collapse: collapse;
        width: 100%;
        
    }
        /* Force table to not be like tables anymore */
        .fluid-table table, .fluid-table thead, .fluid-table tbody, .fluid-table th, .fluid-table td, .fluid-table tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        .fluid-table th {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .fluid-table tr {
            border: 1px solid #ccc;
        }

        .fluid-table td {
            /* Behave  like a "row" */
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50% !important;
            text-align:left !important;
            min-height:40px;
            width:100% !important;
        }



            .fluid-table td:before {
                /* Now like a table header */
                display:block;
                position: relative !important;
                /* Top/left values mimic padding */
                top: 6px;

                min-width: 150px;
                padding-right: 10px;
                white-space: nowrap;
                content: attr(data-th);
                color: #999;
                font-weight:bold;
                margin-bottom:5px;
            }


        .fluid-table .nores td {
            /* Behave  like a "row" */
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50% !important;
        }



        .fluid-table tr:nth-of-type(even) {
            background: #DDDDDD !important;
        }

            .fluid-table tr:nth-of-type(even) td:before {
                color: #333333;
            }

        .fluid-table tr:nth-of-type(odd) {
            background: #ededed !important;
        }

            .fluid-table tr:nth-of-type(odd) td:before {
                color: #333333;
            }


    /*
		Label the data
		*/
}

@media only screen and (max-width: 800px) and (min-width:501px) {

    .bottomBarWrapper {
        display: none !important;
    }

    .navArrows {
        display: none !important;
    }

    #tileContainer {
        width: 100% !important;
    }

    .TileSeperator {
        height: 50px;
        width: 100%;
        display: block !important;
        float: left !important;
    }

    .tile {
        margin: 2px !important;
        position: relative !important;
        float: left !important;
        max-width: 245px !important;
        max-height: 235px !important;
    }

    #contentWrapper {
        width: 100% !important;
    }

    #centerWrapper {
        padding-left: 0px !important;
    }

    .fluid-table {
        border-collapse: collapse;
        width: 100%;
    }

    .login-btn {
        display: none !important;
    }

    .s-grid-container{
        width:100%;
    }
}

.filelayout .fluid-table td
{
    border:0 !important;
}


.filelayout table
{
    width:auto;
}


@media (max-width:459px) {

    .fluid-table td:before {
        position: static;
    }

    .fluid-table td {
        padding-left: 10px!important;
        max-width:400px;
        width:100%;
        word-wrap:break-word;
    }


}
