<div class="portlet-body">
    <div class="form-body">

        <div class="col-xs-6">

            <div class="form-group">
                <label class="control-label"> Entity</label>

                <fileintellisensetemplate filename="objFormLinkDetails.sfwEntity" onfileblur="objFormLinkDetails.PopulateFormName(); objFormLinkDetails.isFormLinkFinish()" model="objFormLinkDetails" propertyname="'sfwEntity'" projectbasename="'OnlyApp'" filetype="'Entity'"
                                          isdisabled="IsEntityDisabled" isinsidedialog="true" />

            </div>

            <div class="form-group">
                <label class="control-label">Html File Name</label>
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Type here..." title="{{objFormLinkDetails.HtmlTemplatePath}}" ng-change="objFormLinkDetails.isFormLinkFinish()" ng-model="objFormLinkDetails.HtmlTemplatePath">

                    <span class="input-group-btn">
                        <button class="textbox-search-icon" type="button" ng-click="objFormLinkDetails.getSelectedDetails('HtmlTemplatesLocation','FilePath','S','html')"></button>
                    </span>

                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="form-group relative-parent">
                <label class="control-label  blocked-element"> Form Name(ID)</label>

                <span class="file-prefix">htx</span>
                <input class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty file-suffix" type="text" title="{{objFormLinkDetails.ID}}" ng-change="objFormLinkDetails.isFormLinkFinish()" ng-model="objFormLinkDetails.ID" />

            </div>


            <div class="form-group">
                <label class="control-label"> Path</label>

                <locationintellisensetemplate validate-location-callback="objLocationCallback.locationCallback" locationchanged="objFormLinkDetails.isFormLinkFinish()" locationname="objFormLinkDetails.Path" model="objFormLinkDetails" validate="true" errorprop="objFormLinkDetails.errors.invalid_path"></locationintellisensetemplate>

            </div>

            <!--<div class="form-group" ng-if="objNewItems.SelectedOption == 'HtxLookup' && objFormLinkDetails.IsShowMainQuery">
                <label class="control-label">Main Query</label>

                <entityqueryintellisense selecteditem="objFormLinkDetails.MainQueryID" onchangecallback="objFormLinkDetails.isFormLinkFinish()" propertyname="'MainQueryID'" model="objFormLinkDetails" showsearchbutton="true" isinsidedialog="true"></entityqueryintellisense>

                    </div>-->

        </div>

        <div class="form-group search-btn-manage" ng-show="objFormLinkDetails.IsShowMainQuery && objNewItems.SelectedOption == 'HtxLookup'">
            <label class="control-label">Main Query:</label>
            <entityqueryintellisense selecteditem="objFormLinkDetails.MainQueryID" onchangecallback="objFormLinkDetails.isFormLinkFinish()" propertyname="'MainQueryID'" model="objFormLinkDetails" showsearchbutton="true" isinsidedialog="true"></entityqueryintellisense>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objFormLinkDetails.ErrorMessageForDisplay.length>0">{{objFormLinkDetails.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input type="button" value="Cancel" class="dialog-btn" ng-click="CloseWizardClick()" />
        <input type="button" value="Back" class="dialog-btn" wz-previous="onPrevious()" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="!showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="showExtraFieldsTab" ng-disabled="!objFormLinkDetails.isFormLinkDetailsFinishDisable" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="!showExtraFieldsTab" ng-disabled="!objFormLinkDetails.isFormLinkDetailsFinishDisable" />
    </div>
</div>