
.entity-dashboard-worakable {
    width: 78%;
    float: left;
    height: 100%;
}

.entity-dashboard-item-list {
    width: 20%;
    margin-left: 2%;
    height: 100%;
    float: right;
    background: #FFFFFF;
    border: 1px solid #b2b2b2;
}

.entity-dashboard-editable {
    width: 100%;
    float: left;
    background: #fff;
    padding: 0px;
}


.entity-dashboard-editable-heading {
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #b2b2b2;
    font-weight: bold;
    font-size: 15px;
}

.entity-dashboard-editable-content {
    width: 100%;
    background: #FFFFFF;
    height: 100%;
    padding: 0px;
    margin-top: 0px;
    box-shadow: 1px 2px 4px 0px #cacbcc;
}




.entity-dashboard-boxes {
    width: 100%;
    height: 28%;
    margin-top: 2%;
    float: left;
}

.width-80percent {
    width: 80% !important;
}

.icon_findReference {
    width: 25px;
    float: left;
    margin-left: 2px;
}

.entity-dashboard-editable-content .panel-heading {
    width: 100%;
    float: left;
    padding: 5px 12px !important;
    font-size: 14px;
    color: #333333 !important;
    cursor: pointer;
    border-radius: 3px 3px 0px 0px !important;
    background: linear-gradient(to bottom, #f8f8f8 0%,#d2d2d2 100%);
    border: 1px solid #a1a1a1;
    font-weight: bold;
}

.entity-dashboard-wrapper {
    width: 100%;
    float: left;
    height: 100%;
    padding: 0px 10px;
}

.entity-box {
    height: 100%;
    padding: 5px;
    border-radius: 10px !important;
    border: 1px solid #afafaf;
    background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%);
    box-shadow: 0px 1px 5px #ababab;
}

.entity-dashboard-boxes .col-xs-3:first-child {
    padding-left: 0px;
}

.entity-dashboard-boxes .col-xs-3:last-child {
    padding-right: 0px;
}

.entity-dashboard-boxes .entity-box-header {
    width: 35%;
    float: left;
    height: 100%;
    border-right: 1px solid #bdbdbd;
    padding: 5px;
}

.entity-box-title {
    font-weight: bold;
    font-size: 14px;
    color: #6d6d6d;
    margin-top: 10px;
}


.entity-box-content {
    width: 65%;
    float: left;
    padding: 5px;
    height: 100%;
    overflow: auto;
}


    .entity-box-content li {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 0px;
        cursor: pointer;
        list-style-type: circle;
    }

.entity-page-container {
    float: left;
    width: 100%;
    background: #FFF;
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #cacbcc;
}



.entity-sidebar {
    border-right: solid 1px #c5c5c5;
}



.entity-content-wrapper {
    float: left;
    height: calc(100% - 10px);
    background: #fff;
    border-left: 0px !important;
}



.marg-top-5 {
    margin-top: 5px;
    /*margin-left: -1px !important;*/
}

.marg-left-0 {
    margin-left: 0px !important;
}

.width-20 {
    width: 20% !important;
}

.width-25 {
    width: 25% !important;
}




.entity-sidebar .left-list-items-wrapper .list-items ul {
    padding: 5px 10px;
    list-style: none !important;
}

    .entity-sidebar .left-list-items-wrapper .list-items ul li {
        white-space: nowrap;
        line-height: 25px;
        padding-left: 5px;
    }



.business-next-arrow {
    transform: translateY(80%);
    height: 50%;
    padding: 0px;
}

.business-delete-plus {
    font-size: 25px;
    padding: 5px;
    color: #333333;
    cursor: pointer;
    cursor: pointer;
}



.business-plus-minus {
    position: relative;
    top: 5px;
    right: 10px;
}

    .business-plus-minus i {
        margin-left: 10px !important;
        cursor: pointer;
        font-size: 18px;
        color: #808080;
    }

.fa-search {
    cursor: pointer !important;
}



.entity-sidebar .object-tree {
    height: 150px;
}

    .entity-sidebar .object-tree ul {
        list-style: none;
        padding: 0px;
    }

        .entity-sidebar .object-tree ul li {
            line-height: 25px;
            white-space: nowrap;
        }


.entity-sidebar .left-list-items-wrapper .list-items ul li img {
    display: none;
}


.entity-sidebar .object-inner-tree-head {
    padding: 5px 2px;
    font-size: 13px;
    display: inline-block;
}

.object-tree-container .object-search-div .expression-search {
    width: 60% !important;
}

/* stylesheet for Query Module Start here*/

.page-sidebar-header .search-box {
    padding: 2px;
    width: 75%;
    height: 22px !important;
    border: solid 1px #c5c5c5;
    margin-top: 2.5px;
}




.query-search {
    margin-left: -22px;
    font-size: 16px;
    color: #c5c5c5;
    position: relative;
    top: 3px;
}

.page-sidebar-content {
    padding: 2px 2px 2px 8px;
    height: calc(100% - 50px);
    overflow: auto;
}


.list-items-queries ul {
    padding: 0px;
    list-style: none;
}


    .list-items-queries ul li {
        cursor: pointer;
        width: auto;
        white-space: nowrap;
        display: table-row;
    }

        .list-items-queries ul li .selected {
            color: white;
            background-color: #336799;
        }


        /*.jstree-default .jstree-node {
    line-height: normal !important;
    min-height: initial !important;
}*/

        .list-items-queries ul li span {
            display: block;
            padding: 5px 3px;
        }

.Padding-all-5 {
    padding: 5px !important;
}

.nowrap {
    white-space: nowrap !important;
}

.entity-tab-content {
    padding: 10px;
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 0px;
    height: calc(100% - 45px);
    overflow: auto;
    box-shadow: 1px 2px 4px 0px #cacbcc;
}

.manage-entity-validation {
    height: calc(100% - 30px) !important;
}


.entity-panel-icons {
    float: right;
    margin-top: 7px;
    background: #c5c5c5;
}

.entity-table-head {
    text-align: left !important;
    padding: 0px !important;
    font-size: 13px !important;
    margin-top: 5px;
    font-family: Lato-Bold;
}



.entity-tab-content .control-label {
    margin-top: 5px;
}

.entity-tab-content select {
    height: 30px;
    font-size: 13px !important;
}

/*.entity-tab-content input[type="text"] {
    height: 30px;
    font-size: 13px !important;
}*/
/* stylesheet for Query Module End here*/


.entity-box-content ul {
    padding: 5px;
    list-style-type: circle;
    white-space: nowrap;
    line-height: 18px;
    margin-bottom: 0px;
}

.attributepanelheight {
    height: 185px;
    border: 1px solid #a1a1a1;
    float: left;
}

.entity-tab-content .table-scrollable td input[type='text'] {
    height: 24px !important;
    font-size: 12px !important;
    border: solid 1px #ccc;
    width: 90%;
    padding: 0px 4px !important;
}

.entity-tab-content .table-scrollable td select {
    height: 24px !important;
    font-size: 12px !important;
    border: solid 1px #ccc;
    width: 100%;
}

.entity-dashboard-container {
    width: 100%;
    height: 100%;
    float: left;
}

.entity-dashboard-container-inner {
    width: 100%;
    float: left;
    height: 100%;
}

.entity-dashboard-container-section {
    height: 100%;
    padding: 0px 7.5px;
}

    .entity-dashboard-container-section .content-wrapper {
        position: relative;
        height: 100%;
        box-shadow: 2px 2px 4px 0px #a6a6a6;
        background: #FFFFFF;
    }


        .entity-dashboard-container-section .content-wrapper:before {
            position: absolute;
            left: 0px;
            top: 50px;
            width: 4px;
            height: calc(100% - 50px);
            content: " ";
        }


.attributes-border:before {
    background: #1596d9;
}

.constraitns-border:before {
    background: #ff975e;
}

.queries-border:before {
    background: #a374be;
}

.validations-border:before {
    background: #41bc24;
}

.c-sharp-border:before {
    background: #d37777;
}


.attributes-border .entity-dashboard-tab-head:before {
    background: #1596d9;
}

.constraitns-border .entity-dashboard-tab-head:before {
    background: #ff975e;
}

.queries-border .entity-dashboard-tab-head:before {
    background: #a374be;
}

.validations-border .entity-dashboard-tab-head:before {
    background: #41bc24;
}

.c-sharp-border .entity-dashboard-tab-head:before {
    background: #d37777;
}





.entity-dashboard-tab-head {
    background: #fff;
    padding: 0px 10px;
    font-size: 20px;
    font-family: DroidSerif-Regular;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
}

    .entity-dashboard-tab-head:before {
        content: " ";
        position: absolute;
        width: calc(100% - 20px);
        margin: 0 auto;
        height: 1px;
        bottom: 0;
    }

.entity-dashboard-inner-section-container {
    height: calc(100% - 50px);
    background: #fff;
    overflow: auto;
    padding: 5px;
    padding-top: 0px;
    margin-top: 10px;
    float: left;
    width: 100%;
}


.field-contraint-queries-validation-container {
    height: 100%;
    padding: 0px;
}

.field-contraint-queries {
    height: 40%;
    padding: 0px;
}

.validation-rule {
    height: calc(60% - 15px);
    padding: 0px;
    margin-top: 15px;
}


.entity-dashboard-inner-section-subcontainer {
    height: calc(100% - 50px);
    background: #fff;
    overflow: auto;
    padding: 5px;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.entity-dashboard-container-section li.selected {
    background: #c0c2c3;
}


.validation-panel-left {
    width: 38%;
    height: 100%;
    float: left;
    overflow: auto;
}

.validation-panel-right {
    width: 60%;
    height: 100%;
    float: left;
    background: #fff;
    margin-left: 2%;
}

    .validation-panel-right .entity-content-wrapper {
        border-left: 1px solid #a374be !important;
    }

.validation-panel-right-selection {
    width: 15%;
    float: right;
    height: 100%;
    background: #fff;
}

    .validation-panel-right-selection img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }


    .validation-panel-right-selection ul {
        list-style-type: none;
        height: 100%;
        padding-left: 0px;
        padding-right: 10px;
    }


    .validation-panel-right-selection li {
        width: 90%;
        height: 16.2%;
        float: left;
        margin-left: 10%;
        cursor: pointer;
        background: #ebebeb;
        margin-bottom: 2px;
        position: relative;
        text-align: center;
    }



        .validation-panel-right-selection li.selected {
            background: #219ae7 !important;
        }


.validation-panel-right-content {
    width: 85%;
    float: left;
    height: 100%;
    background: #E9E0CF;
}

    .validation-panel-right-content .entity-content-wrapper {
        width: 100%;
        margin: auto;
        height: 100%;
    }



.entity-dashboard-panel-head.validation-panel {
    background: transparent !important;
    border-bottom: 1px solid #FFFFFF;
    font-size: 15px;
    color: cadetblue;
    padding-left: 7px;
}

.entity-dashboard-panel-content {
    width: 100%;
    float: left;
}



.entity-dashboard-panel-head.validation-panel {
    background: transparent !important;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
    float: left;
    width: 100%;
}


.entity-dashboard-panel-head .panel-head-text {
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}



.tabs-boxes {
    width: 100%;
    float: left;
}









.tabs-content {
    width: calc(100% - 40px);
    float: left;
    box-sizing: border-box;
    padding: 10px;
    background: #ececec;
    height: 100%;
    font-size: 14px;
}

.entity-tabs-main-heading {
    width: 100%;
    float: left;
    border-bottom: 1px solid #888888;
    box-sizing: border-box;
    font-size: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}




.entity-dashboard-inner-section-container ul li, .entity-dashboard-inner-section-subcontainer ul li {
    display: block;
    float: left;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: 13px !important;
    overflow: hidden;
}

.entity-dashboard-inner-section-container ul, .entity-dashboard-inner-section-subcontainer ul {
    list-style: none !important;
    font-size: 13px;
}


.entity-dashboard-panel-content ul {
    list-style: none;
    padding: 10px;
    font-size: 12px;
    width: 100%;
}

    .entity-dashboard-panel-content ul li {
        line-height: 25px;
    }


.entity-tabs-section {
    width: 100%;
    float: left;
    height: 100%;
    background: transparent;
    padding: 0px;
}


.entity-tabs-section-head {
    width: 100%;
    height: 80px;
    float: left;
}



.entity-tabs-section-head-content ul {
    padding-left: 0px;
    list-style-type: none;
    float: left;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
}





/* ==========================================*/

.entity-tabs-section-head-content {
    width: 100%;
    float: left;
    height: 30px;
    background: #fff;
    border-bottom: 0px;
}



    .entity-tabs-section-head-content ul li {
        width: 150px;
        float: left;
        height: 100%;
        text-align: center;
        cursor: pointer;
        padding: 2px;
        position: relative;
    }


    .entity-tabs-section-head-content .entity-main-nav-tab {
        position: absolute;
        transform: translateY(15%);
    }


    .entity-tabs-section-head-content .entity-tabs-img {
        width: 18px;
        height: 18px;
        display: block;
        float: left;
    }


.entity-tabs-title {
    display: block;
    width: auto;
    float: left;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
    transform: translateX(60%);
}



.entity-tabs-section-head-content li.selected {
    border-bottom: solid 2px #336799;
    background: #fff !important;
}


.button-autocomplete {
    top: 2px !important;
}

.checklist-body {
    padding: 2px 15px !important;
}





/* ==========================================*/





/*.entity-attributes-link.selected {
    border-bottom: 3px solid #42a0c6;
}

.entity-validation-link.selected {
    border-bottom: 3px solid #7b76e0;
}

.entity-queries-link.selected {
    border-bottom: 3px solid #c4a85c;
}

.entity-field-constraints-link.selected .entity-tabs-img img {
    border-bottom: 3px solid #2ca495;
}

.entity-business-object-link.selected {
    border-bottom: 3px solid #929115;
}


 .entity-home-link.selected {
    border-bottom: 3px solid #d24444;
}


*/


/*.entity-tabs-img {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    background: #FFFFFF;
    margin-top: -30px;
    border: 1px solid #c9c9c9;
    border-radius: 50% !important;
    position: relative;
}



.entity-tabs-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}*/

.entity-tabs-home {
    color: #d24444;
}

.entity-tabs-attributes {
    color: #369ac3;
}

.entity-tabs-validation-rules {
    color: #7b76e0;
}

.entity-tabs-queries {
    color: #c4a85c;
}

.entity-tabs-field-constraints {
    color: #2ca495;
}

.entity-tabs-business-object {
    color: #929115;
}


.entity-tabs-section-content {
    width: 100%;
    float: left;
    height: calc(100% - 40px);
    background: transparent;
    border-top: 0px;
}

















/* stylesheet for validation Rule start here*/

.validation-container {
    padding: 0px !important;
    margin-left: 0px;
    overflow: auto;
}



.validation-entity-rightsection {
    padding: 0px !important;
}

.validation-entity-sidebar {
    border-right: solid 1px #c5c5c5;
    height: 100%;
    width: 20%;
}

    .validation-entity-sidebar .validation-header {
        padding: 0px !important;
        height: 35px !important;
    }



    .validation-entity-sidebar ul {
        height: 100%;
    }

.validation-container .form-manage .control-label {
    text-align: left;
}

.validation-container input[type='checkbox'] {
    position: relative;
    top: 2px;
}


.validation-container input[type='radio'] {
    position: relative;
    top: 1px;
}

.width-30 {
    width: 30% !important;
}

.width-3 {
    width: 3% !important;
}

.width-70 {
    width: 70% !important;
}

.width-75 {
    width: 75% !important;
}

.nocheckchange {
    margin-left: 2px !important;
    top: 3px !important;
}


.form-manage {
    padding-bottom: 10px;
    float: left;
}

.validation-container .value-txt {
    margin-right: 15px;
    margin-left: 5px;
}

.mode-section-checkboxes .value-txt {
    margin-left: 0px !important;
}

.col-xs-8 .panel-icons img {
    margin-right: 10px !important;
}



.bottom-style {
    border-bottom: solid 2px #ccc;
    width: 99%;
    margin-left: 2px;
}

.head-text {
    padding: 6px 0px 0px 15px;
    font-size: 15px;
}

.check-base {
    margin-top: -3px;
}

.height-25 {
    height: 25px !important;
}

.check-base img {
    float: right;
    margin-right: -43px;
}


.check-base span {
    font-size: 11px;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.backcolor {
    background: #ccc;
}



/* validation css end here*/



.height-200 {
    height: 200px;
}

.bus-object-tree-method {
    height: 218px;
    border: solid 1px #c5c5c5;
}


    .bus-object-tree-method ul {
        height: calc(100% - 60px);
        overflow: auto;
    }


.width-5 {
    width: 5% !important;
}

.padding-2 {
    padding: 2px !important;
}

.marg-top-30 {
    margin-top: 30px !important;
}

/*.fleft label {
    position: relative;
    top: 5px;
}*/



.expression-search {
    width: 80%;
    padding: 2px;
    border: solid 1px #ccc;
    height: 25px;
    margin: 3px;
}


.entity-tabs-section-content .nav {
    border-bottom: 1px solid #336799;
    background: #f0f1f2;
}

.entity-dashboard-editable .fade {
    display: none;
}

    .entity-dashboard-editable .fade.in {
        display: block;
    }

.width-6 {
    width: 6% !important;
}

.entity-calc-height {
    height: calc(100% - 10px);
}

.entity-validation-height {
    height: calc(100% - 40px) !important;
}

.entity-attributes-tab-content {
    height: calc(100% - 30px);
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #cacbcc;
}

.table-hader-actions {
    float: right;
}

    .table-hader-actions .fa {
        margin-right: 5px;
        cursor: pointer;
    }

.entity-tab-head-icons {
    float: right;
    margin-top: -1px;
}

    .entity-tab-head-icons input {
        float: left;
        border: 1px solid #555555;
        margin-right: 5px;
        width: 100px;
        font-weight: normal;
        font-size: 13px;
        font-family: Lato;
        padding: 2px;
        line-height: normal;
        position: relative;
        top: 10px;
    }


    .entity-tab-head-icons .xml-method-input {
        float: left;
        border: 1px solid #AAA;
        margin-right: 5px;
        width: 90px;
        font-weight: normal;
    }

.entity-tab-head-textbox-close {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    position: relative;
    top: 14px;
    cursor: pointer;
    font-size: 12px;
}


.hyperlink-url-underline {
    float: left;
    text-decoration: underline;
    margin-right: 10px;
}


.business-object-details-container {
    height: calc(100% - 10px);
    background: #fff;
    width: 100%;
    padding: 0px;
}


.business-sidebar-border-overflow {
    border: solid 1px #c5c5c5;
    overflow: auto;
}

.partial-label {
    width: 12%;
    font-size: 12px !important;
    text-align: left !important;
}


.business-entity-tab {
    height: 100% !important;
}

.delete-content-wrapper {
    float: right;
    height: 100%;
    background: #fff;
    border: solid 1px #c5c5c5;
    /*width: 78%;*/
    padding: 5px;
}


.margin-top-5 {
    margin-top: 5px !important;
}


.marg-bottom-0 {
    margin-bottom: 0px !important;
}

.marg-top-0 {
    margin-top: 0px !important;
}


.object-tree-labelhead {
    background: #c5c5c5;
    margin-bottom: 5px;
}

.padding-15 {
    padding: 15px !important;
}

.setnavigation-tree-ul-manage {
    list-style: none;
    padding: 15px;
}

    .setnavigation-tree-ul-manage li {
        list-style: none;
        cursor: default;
        white-space: nowrap;
    }

.setnavigation-pahel-head {
    background: #c5c5c5;
    margin-bottom: 5px;
    padding: 3px;
}

.business-object-delete-arrow {
    width: 1% !important;
    margin-left: 10px;
}

.load-method-checkbox {
    margin-top: 9px !important;
}

.set-nav-parameter {
    font-size: 16px;
    margin-top: 0px;
    margin-left: 5px;
}

.query-sidebar-content {
    padding: 2px 2px 2px 8px;
    height: calc(100% - 70px);
    overflow: auto;
}

.query-sidebar-header {
    float: left;
    width: 100%;
    padding: 7PX;
    border-bottom: 1px solid #AAA;
    height: 70px;
}

    .query-sidebar-header input[type='text'] {
        border: solid 1px #c5c5c5;
        width: 80% !important;
    }

.query-panel-icon {
    font-size: 20px;
    float: right;
    color: #c5c5c5;
}

.field-constraint-label .control-label {
    white-space: nowrap !important;
    padding: 0px !important;
}

.validation-container .form-panel-body {
    padding: 3px !important;
}




.validation-container .table-scrollable {
    margin: 0px !important;
}





.validation-disabled {
    background: #cecece;
    width: calc(100% - 30px);
    float: left;
    padding: 3px;
    margin-left: 15px;
}

.max-height-100 {
    height: 100px !important;
}

.max-height-50 {
    height: 50px !important;
}

.validation-manage .form-group {
    margin-bottom: 5px;
}

.marg-bottom-8 {
    margin-bottom: 8px !important;
}

.validation-manage .btn-search-popup {
    padding: 3px 15px;
    background-color: #CECECE !important;
    background: url(../images/Home/icon-search.png) no-repeat scroll center center #CECECE !important;
    min-height: 25px;
}

.validation-manage .btn-default {
    height: 24px;
    background: #cecece;
    width: 24px;
    border: 0;
}


    .validation-manage .btn-default i {
        position: relative;
        top: -6px;
        display: inline;
        left: -6px;
        color: #FFF;
    }


.validation-table-manage {
    overflow: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.validation-table-manage-heading {
    height: 25px;
    line-height: 25px;
    font-family: Lato-Bold;
}

.validation-table-manage-content {
    width: 100%;
    height: calc(100% - 25px);
    overflow: auto;
    border: 1px solid #CCCCCC;
}



.validation-table-manage th {
    font-weight: normal !important;
    font-size: 13px !important;
}


.font-size-15 {
    font-size: 15px !important;
}


.validation-inner-sidebar {
    padding: 0px 0px 0px 5px !important;
}


    .validation-inner-sidebar .search-box {
        padding: 2px;
        width: 75%;
        height: 22px !important;
        border: solid 1px #c5c5c5;
        margin-top: 2.5px;
    }



.validation-table-manage table td:nth-child(2) {
    text-align: center !important;
}

.field-constraint-txtbox {
    width: 48% !important;
    margin-right: 4px;
}

.object-tree-container {
    height: 100%;
}

    .object-tree-container ul {
        padding: 0px 0px 0px 3px !important;
    }

        .object-tree-container ul div ul {
            padding: 5px 0px 0px 15px !important;
        }

    .object-tree-container .object-search-div {
        border-bottom: solid 1px #c5c5c5;
        height: 32px;
        margin-bottom: 3px;
    }


.calc-object-tree-ul {
    height: calc(100% - 43px);
}

.calc-query-entity-height {
    height: 100% !important;
}

.object-search-div .query-search {
    margin-left: -26px !important;
}

.query-object-tree-border .object-tree-container .expression-search {
    width: 50% !important;
}

.query-object-tree-border .object-tree-container .object-inner-tree-head {
    display: inline-block !important;
}




.object-tree-container ul .padding-0 .object-tree-expand {
    float: left !important;
    margin-right: 3px !important;
}


.object-tree-container ul .padding-0 {
    padding-left: 0px !important;
    white-space: nowrap !important;
    cursor: pointer;
}

.query-object-tree-border {
    border: solid 1px #c5c5c5;
    padding: 5px;
    height: calc(100% - 34px) !important;
    margin-bottom: 0px;
    overflow: auto;
}

.textarea-height-250 {
    height: 250px !important;
}

.validation-entity-sidebar .page-sidebar-content {
    padding: 2px 2px 0px 0px;
    height: calc(100% - 35px);
    overflow: auto;
}



.constraint-container {
    height: 100%;
    overflow: auto;
}

    .constraint-container table {
        margin-bottom: 0px !important;
    }

.query-inner-tab {
    height: 100%;
}



.innerWrapper-manage {
    padding-right: 7px !important;
    padding-left: 13px !important;
}

.inner-query-table {
    height: 25%;
    float: left;
    width: 100%;
}


.query-panel-head {
    padding-left: 5px;
    color: #333 !important;
    margin-bottom: 0px;
    border-bottom-width: 0px !important;
}



.list-items-queries ul li table td {
    padding: 3px !important;
}


.calc-nav-tab {
    height: 29px !important;
}

.manage-tree-node .jstree-node .selected {
    padding: 3px 2px 3px 2px !important;
}

.validation-entity-sidebar .selected {
    /*background: #336799 !important;*/
    color: #fff;
}


.inactive-content {
    padding: 5px 0px;
    background: #eee;
    height: calc(100% - 75px);
}


    .inactive-content input[type='text'] {
        border: solid 1px #c5c5c5;
    }

    .inactive-content textarea {
        border: solid 1px #c5c5c5;
    }


.manage-ruleitem-common-template {
    padding: 5px 5px 0px 0px;
    height: 100%;
}


.message-content-msg-Id {
    width: 98%;
    margin-left: 9px;
    height: auto;
    border: solid 1px #c5c5c5;
}


    .message-content-msg-Id .message-content-head {
        background: #c5c5c5;
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }


.manage-btn-default-search .btn-search-popup {
    min-height: 25px !important;
}

.business-object-table-manage table td {
    padding: 4px !important;
}

    .business-object-table-manage table td input[type="text"], .business-object-table-manage table td select {
        vertical-align: top !important;
    }


.marg-left-minus-4 {
    margin-left: -4px;
}

.soft-error-tree-node ul li span.selected {
    padding: 3px !important;
}



.checklist-container {
    height: 100%;
    margin-top: 10px;
    padding: 5px 5px 0px 0px;
}

    .checklist-container .panel-body {
        border: solid 1px #c5c5c5;
        height: calc(100% - 5px);
        padding: 5px;
    }


    .checklist-container .panel-heading {
        background: #336799 !important;
        color: #fff !important;
    }


    .checklist-container.control-label {
        top: 3px !important;
    }

.border-left .entity-content-wrapper {
    border: solid 1px #c5c5c5 !important;
    padding: 0px !important;
}


.sql-query-box {
    border: 1px solid #c5c5c5;
    height: 300px;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    height: 100%;
}

.entity-query-tree-fa-minus {
    float: left;
    margin-top: 7px;
}

.entity-object-method-add {
    margin-left: 6px !important;
    background: lightgray !important;
    height: 25px;
    padding-top: 2px;
}

.entity-object-method-param {
    width: 95% !important;
    float: left;
}

.entity-xml-addmethodlist {
    height: calc(100% - 155px);
}

.entity-xml-addmethod {
    height: calc(100% - 50px);
}

.entity-add-fields-from-object-tree {
    float: right !important;
    margin-right: -20px;
    cursor: pointer;
}

    .entity-add-fields-from-object-tree a {
        margin-right: 20px !important;
        padding: 1px !important;
    }

        .entity-add-fields-from-object-tree a:hover {
            background: #fff !important;
        }



    .entity-add-fields-from-object-tree img {
        height: 20px;
    }


.entity-expression-style {
    color: red;
    font-weight: bold;
}

.entity-vlidation-rules-expression-style {
    color: darkred;
    font-weight: bold;
    font-style: italic;
    margin-left: 0px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}


.fixed-table-top {
    border-bottom: none;
    width: 100%;
    height: 30px;
    padding: 3px 5px;
}

.property-table {
    height: calc(100%);
    width: 100%;
    float: left;
    overflow: auto;
}

.partial-file-header {
    position: relative;
    top: 0px;
    left: 3px;
    float: left;
    font-size: 18px;
}


.entity-tabs-section li a {
    font-size: 14px !important;
}


.entity-dashboard-refresh {
    font-size: 12px;
}

.entity-dashboard-items-wrapper {
    background: #FFFFFF;
    border: 1px solid #dbdbdb;
    height: 100%;
}

    .entity-dashboard-items-wrapper .item-heading {
        width: 100%;
        float: left;
        height: 35px;
        background: #219ae7;
        line-height: 35px;
        color: #FFFFFF;
        font-family: Lato-Bold;
        font-size: 16px;
        border-bottom: 1px solid #dbdbdb;
        padding: 0px 10px;
        cursor: pointer;
        position: relative;
    }


.item-list-content {
    float: left;
    width: 100%;
    overflow: auto;
    height: calc(100% - 140px);
}

    .item-list-content ul {
        padding: 0px;
        width: 100%;
        display: table;
    }

        .item-list-content ul li {
            list-style-type: none;
            position: relative;
            border-bottom: 1px solid #dbdbdb;
            /*display: table-row;*/
            width: 100%;
        }

            .item-list-content ul li span {
                display: block;
                padding: 10px;
                /* width: 100%; */
                margin-left: 20px;
                /* border-bottom-color: #dadada; */
                /* border-bottom-width: 1px; */
                font-family: Lato;
                font-size: 13px;
                /* border-bottom: 1px solid #dbdbdb; */
                color: #333333;
            }


.items-add-delete {
    float: right;
    padding-left: 0px;
}

    .items-add-delete li {
        float: left;
        list-style-type: none;
    }

.expression-height {
    height: 100% !important;
}


.validation-rules-search {
    width: 85% !important;
    float: left;
}


.lookup-result-field-table select {
    width: 120px;
}

.lookup-result-field-table input[type='text'] {
    width: 120px;
}

.expression-textarea-section {
    height: 60%;
}

.comments-textarea-section {
    height: calc(40% - 15px);
}

.valdataion-rules-list-section {
    height: calc(60% - 15px);
    float: left;
    width: 100%;
}


.expression-height-wrapper {
    float: left;
    width: 100%;
    height: calc(100% - 28px);
}




.validation-table-manage-wrapper {
    height: calc(100% - 41px);
    margin-bottom: 0px;
}

.validation-rules-comments-box {
    height: calc(100% - 30px) !important;
}

.white-bg {
    background: #FFFFFF !important;
}

.entity-queries .entity-sidebar {
    width: 20% !important;
}

.entity-queries .entity-content-wrapper {
    width: 80% !important;
}


.entity-queries .entity-tab-content {
    box-shadow: none !important;
}


.entity-queries .page-sidebar-content {
    padding: 5px 0px !important;
    width: 100%;
}

.entity-queries .page-sidebar-header {
    padding: 0px !important;
}


    .entity-queries .page-sidebar-header .form-control {
        width: 85% !important;
    }


.entity-queries .entity-tab-content {
    padding: 10px 0px 0px 0px !important;
}


.query-input-section {
    height: 60%;
    overflow: auto;
}


.query-expression-textarea-wrapper {
    height: calc(100% - 115px);
    border: solid 1px #c5c5c5;
}

.validation-container-table {
    width: 100%;
    float: left;
    height: calc(100% - 24px);
}


.validation-delete-left-list {
    width: 20%;
    border: 1px solid #CCCCCC;
}

.validation-delete-left-header {
    font-family: Lato-Bold;
    padding: 5px 0px;
    border-bottom: 1px solid #CCCCCC;
}

.validation-delete-left-list-items {
    overflow: auto;
    height: calc(100% - 40px);
    margin-top: 5px;
}


    .validation-delete-left-list-items ul {
        list-style-type: none;
    }

        .validation-delete-left-list-items ul li {
            padding: 5px 0px;
        }


.enity-delete-add-btn {
    width: 2%;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.enity-delete-table {
    overflow: auto;
    height: calc(100% - 20px );
}

.delete-content-wrapper .table-top i {
    padding: 3px;
}

.object-methods-table-wrapper {
    float: left;
    width: 100%;
    height: calc(100% - 77px);
    overflow: auto;
}



.validation-constant-sidebar {
    border: 1px solid #CCCCCC;
    padding: 0px !important;
}

    .validation-constant-sidebar .tab-content {
        padding: 0px !important;
    }

    .validation-constant-sidebar .list-items-queries ul li {
        border-bottom: 1px solid #CCCCCC;
    }

.lookup-result-field-table select {
    width: 120px;
}

.lookup-result-field-table input[type='text'] {
    width: 120px;
}

.expression-heigth {
    height: 285px !important;
}

.columns-numeric-value {
    display: block;
    width: 40px;
    text-align: right;
}


.expression-validate-icon {
    margin-left: 20px;
    position: relative;
    top: 5px;
    float: right;
}


.marg-bottom-30 {
    margin-bottom: 30px !important;
}

.validation-rules-input-section {
    width: 100%;
    height: 40%;
    float: left;
    margin-bottom: 15px;
}


    .validation-rules-input-section .help-block {
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
    }


    .validation-rules-input-section label[id^='ScopeId'] {
        position: absolute;
    }

.msg-type-description-section {
    height: calc(100% - 65px);
}

.entity-validation-rules-list-box {
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
}


.entity-validation-rules-list-box-header {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #FFFFFF;
    height: 35px;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
    padding: 0px 10px;
}

    .entity-validation-rules-list-box-header .panel-icons i {
        float: left;
    }

    .entity-validation-rules-list-box-header .fa-arrow-up, .entity-validation-rules-list-box-header .fa-arrow-down {
        position: relative;
        top: 2px;
        font-size: 17px !important;
    }


.entity-validation-rules-list-box .page-sidebar-content {
    height: calc(100% - 105px) !important;
    padding: 0 !important;
}


.entity-validation-rules-list-box .list-area {
    height: 100%;
}

.entity-validation-rules-options {
    padding: 5px;
    float: left;
    width: 100%;
}


    .entity-validation-rules-options .top-border {
        border-top: 1px solid #CCCCCC;
        padding-top: 5px;
        float: left;
        width: 100%;
    }

.entity-business-object-box-heading {
    background: #fff;
    padding: 0px 10px;
    font-size: 20px;
    font-family: DroidSerif-Regular;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
}


.entity-business-object-box-content {
    padding: 10px;
    float: left;
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

    .object-methods-box-content .input-group
    {
        min-width:200px;
    }
    
    
    .entity-business-object-tab {
        background: #f0f1f2;
    }

.validations-mode-select {
    float: left;
    width: 100px !important;
    padding: 0px !important;
}


.no-box-shaddow {
    box-shadow: none !important;
}

.mode-section {
    width: 55%;
    float: left;
    padding-right: 10px;
}

.mode-section-checkboxes {
    width: 45%;
    float: right;
}


.entity-validation-rules-list-box.initial-load-box {
    border: 1px solid #185691;
}

    .entity-validation-rules-list-box.initial-load-box .entity-validation-rules-list-box-header {
        background: #185691;
    }

.entity-validation-rules-list-box.hard-errors-box {
    border: 1px solid #a42525;
}

    .entity-validation-rules-list-box.hard-errors-box .entity-validation-rules-list-box-header {
        background: #a42525;
    }

    .entity-validation-rules-list-box.hard-errors-box .entity-validation-rules-options .top-border {
        border-color: #a42525;
    }


.entity-validation-rules-list-box.soft-errors-box {
    border: 1px solid #c46d06;
}

    .entity-validation-rules-list-box.soft-errors-box .entity-validation-rules-list-box-header {
        background: #c46d06;
    }

    .entity-validation-rules-list-box.soft-errors-box .entity-validation-rules-options .top-border {
        border-color: #c46d06;
    }

.entity-validation-rules-list-box.validate-delete-box {
    border: 1px solid #178686;
}

    .entity-validation-rules-list-box.validate-delete-box .entity-validation-rules-list-box-header {
        background: #178686;
    }

.entity-two-icon-search {
    position: absolute !important;
    right: 50px;
}


.entity-three-icon-search {
    position: absolute !important;
    right: 70px;
}

.attribute-textbox {
    width: calc(100% - 20px);
    float: right;
}

.attribute-text {
    float: left;
    width: 20px;
    padding-top: 5px;
}

.attribute-tooltip {
    width: 15px;
    float: left;
}

.attribute-textbox-validate {
    width: calc(100% - 45px);
    float: right;
}

.attribute-expr-prop-textbox-validate {
    width: calc(100% - 15px);
    float: right;
}

.entity-validation-rules-list-box.validate-delete-box .entity-validation-rules-options .top-border {
    border-color: #178686;
}


.entity-validation-rules-list-box.group-rules-box {
    border: 1px solid #008fd5;
}

    .entity-validation-rules-list-box.group-rules-box .entity-validation-rules-list-box-header {
        background: #008fd5;
    }

    .entity-validation-rules-list-box.group-rules-box .entity-validation-rules-options .top-border {
        border-color: #008fd5;
    }

.entity-validation-rules-list-box-header .panel-icons i {
    color: #FFFFFF !important;
}

.five-column-parent {
    width: 20% !important;
}

.validation-rules-icon-search {
    position: absolute !important;
    right: 80px;
    width: 60px;
    top: 8px;
    border: 0;
    color: #333;
    font-size: 12px;
    height: 17px;
    line-height: 0;
    padding: 2px;
}

.validation-rules-textbox-close {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: -3px;
    position: relative;
    top: 5px;
    cursor: pointer;
    font-size: 12px;
}



.mode-section-checkboxes .form-group {
    margin-bottom: 3px !important;
}

ul.inherited-rules {
    background: #FFFFFF !important;
}

.inherited-rules-list {
    overflow: auto;
    height: calc(100% - 40px) !important;
}


.validation-entity-sidebar .tab-pane {
    float: left;
    width: 100%;
}

.query-tables-section {
    height: 40%;
    float: left;
    width: 100%;
}


.obj-methods-refresh {
    float: right;
}


.tbody-selected {
    border: 1px solid #656565 !important;
}

.width-120 {
    width: 120px;
}


.top-4 {
    position: relative;
    top: 4px;
}

.partial-file-box {
    float: left;
    width: 98%;
}

.entity-business-object-properties {
    overflow: auto;
    width: 100%;
    float: left;
    height: calc(100% - 70px);
}

.refresh-inherited-rules {
    float: right;
    margin-top: -20px;
    margin-right: 5px;
}

.xml-method-param-column {
    max-width: 350px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.custome-fieldset fieldset {
    padding: .35em .625em .75em !important;
    margin: 0 2px !important;
    border: 1px solid silver !important;
    margin-bottom:6px !important; 
}

    .custome-fieldset fieldset legend {
        width: auto !important;
        margin: 0px;
        border: 0px;
        font-size:15px !important;
    }