<div class="portlet-body">
    <newentityobjecttreetemplate ischeckboxvisible="false" showonlyobject="true"  iscollectionnextlevelload="false" lstdisplayentity="objCorrespondenceDetail.LstDisplayedEntities"
                                 selectedentityobjecttreefields="objCorrespondenceDetail.lstselectedobjecttreefields" selectedfield="SelectedAssociatedForm.SelectedField" entityname="SelectedAssociatedForm.SfwEntity"></newentityobjecttreetemplate>
</div>
<div class="form-actions">
    <input class="dialog-btn" type="button" value="OK" ng-click="onOKClick()" />
    <input class="dialog-btn" type="button" value="Cancel" ng-click="onCloseClick()" />
</div>