<div class="portlet-body">
    <div class="form-group">
        <label class="control-label">Portal Name </label>
        <div class="input-icon right">
            <input type="text" class="form-control input-sm" placeholder="Portal Name" title="{{portalName}}" ng-model="portalName" ng-change="checkProjectNameNew(newprojectName)" />
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-7">
        <span class="alert-error-msg" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-5 pull-right">
        <input type="button" value="OK" class="dialog-btn-default" ng-disabled="checkPortalName()" ng-click="onPortalDialogOkClick()" />
        <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDialog()" />
    </div>
</div>