<div ng-controller="ChangePasswordController" class="full-height">
    <div class="portlet-body" >
        <form autocomplete="off">
            <div class="form-group">
                <label class="control-label">User Name </label>
                <div class="input-icon right">
                    <input type="text" class="form-control input-sm" placeholder="User Name" title="{{userDetails.UserName}}" ng-model="userDetails.UserName" ng-disabled="true" />
                </div>
            </div>
            <div class="form-group" ng-if="showOldPassword">
                <label class="control-label">Old Password </label>
                <div class="input-append input-group">
                    <input type="password" id="oldpassword" class="form-control input-sm login-password" placeholder="Password" ng-model="userDetails.oldPassword" ng-change="checkPassword()" autocomplete='off' />
                    <span tabindex="100" title="Show/Hide password" class="add-on input-group-addon show-login-password" style="cursor: pointer;">
                        <i class="glyphicon icon-eye-open glyphicon-eye-open" ng-mousedown="ShowHidePassword(true,'oldpassword')" ng-mouseup="ShowHidePassword(false,'oldpassword')"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">New Password </label>
                <div class="input-append input-group">
                    <input type="password" id="newpassword" class="form-control input-sm login-password" placeholder="Password" ng-model="userDetails.Password" ng-change="checkPassword()" autocomplete='off' />
                    <span tabindex="100" title="Show/Hide password" class="add-on input-group-addon show-login-password" style="cursor: pointer;">
                        <i class="glyphicon icon-eye-open glyphicon-eye-open" ng-mousedown="ShowHidePassword(true,'newpassword')" ng-mouseup="ShowHidePassword(false,'newpassword')"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password </label>
                <div class="input-append input-group">
                    <input type="password" id="confirmPassword" class="form-control input-sm login-password" placeholder="Password" ng-model="confirmPassword" ng-change="checkPassword()" />
                    <span tabindex="100" title="Show/Hide password" class="add-on input-group-addon show-login-password" style="cursor: pointer;">
                        <i class="glyphicon icon-eye-open glyphicon-eye-open" ng-mousedown="ShowHidePassword(true,'confirmPassword')" ng-mouseup="ShowHidePassword(false,'confirmPassword')"></i>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-show="IsError">
                <label class="control-label" style="color:red" ng-bind="ErrorMessage"></label>
            </div>
        </form>
    </div>
    <div class="form-actions right">
        <input type="button" value="Update Password" class="dialog-btn-default" ng-disabled="IsError||!userDetails.Password||!confirmPassword" ng-click="ChangePasswordOkClick(userDetails)" />
        <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDialog()" />
    </div>
</div>
