/*#1d75bf*/
/*--------z-Common.scss-----------*/
#header {
  background: #0d5898; }

.navDiv {
  border: 1px solid #0d5898; }

div.tabstrip li.s-liControlTabSheet:hover:before {
  background: #0d5898; }

div.tabstrip li.s-liControlTabSheet.s-liControlTabSheet-active:before {
  content: " ";
  background: #0d5898; }

div.tabstrip li.s-liControlTabSheet.s-liControlTabSheet-active a.k-link {
  color: #0d5898 !important; }

.my-task-btn {
  border: 1px solid #0d5898;
  background: url("../Images/btn-my_task.svg") no-repeat 20px 8px #0d5898;
  background-size: 16px; }

.my-task-btn:hover {
  background: url("../Images/btn-my_task_hover.svg") no-repeat 15px 9px #FFFFFF;
  color: #0d5898;
  background-size: 16px; }

.global-nav li a {
  border: 1px solid #0d5898; }

.global-nav li a:hover {
  color: #0d5898;
  /*background: url('../Green_Images/btn-previous_hover.svg') #fff;
    background-size:20px;*/ }

.user-account:hover {
  background: url("../Images/user-profile-drop-down-hover.png") no-repeat 95% center #fff;
  color: #0d5898; }

.task-panel .inner-content .task-panel-wrapper .k-widget.k-panelbar .k-link.k-header, .ui-accordion .ui-accordion-header {
  background: #0d5898 !important; }

.task-panel .inner-content .task-panel-wrapper .k-widget.k-panelbar .k-state-focused.k-state-hover {
  background: #0d5898 !important; }

.task-panel .inner-content ul.task-panel-tabs li a {
  color: #0d5898; }

.task-panel .inner-content ul.task-panel-tabs li a::before {
  background: #0d5898; }

.toggle-menu-container {
  background: #0b416f; }

.toggle-menu-container .CssCenterLeftMenu.cssmenu {
  background: #0b416f; }

.toggle-menu-container .CssCenterLeftMenu.cssmenu li {
  background-color: #0b416f; }

.toggle-menu-container .CssCenterLeftMenu.cssmenu li a {
  background: #0b416f; }

.toggle-menu-container .CssSliderLeftMenu.cssmenu {
  background: #0b416f; }

.toggle-menu-container .CssSliderLeftMenu.cssmenu li {
  background-color: #0b416f; }

.toggle-menu-container .CssSliderLeftMenu.cssmenu li a {
  background: #0b416f; }

.toggle-menu-container .CssSliderLeftMenu.cssmenu li > .sub-menu {
  background: #0b416f; }

.toggle-menu-container .CssSliderLeftMenu.cssmenu li a:hover {
  background: #0d5898; }

#header ul {
  color: #0d5898; }

/*---------y-Custom-Kendo.scss---------------*/
.button, #clickExcel {
  color: #FFFFFF;
  border: 1px solid #0d5898;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px 10px 5px 0;
  letter-spacing: .5px;
  background-color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 1em !important;
  transition: .3s all ease-in-out;
  background-repeat: no-repeat;
  background: #0d5898; }
  .button:hover, #clickExcel:hover {
    color: #0d5898;
    border: 1px solid #0d5898;
    background: none; }

#NotificationBar {
  float: left;
  position: absolute;
  width: 0px;
  left: 250px;
  top: 22px;
  border-right: 0 !important; }
  #NotificationBar ul {
    background: none; }
    #NotificationBar ul li {
      background: none;
      display: table-row;
      position: relative; }
      #NotificationBar ul li:hover ul {
        visibility: visible; }
      #NotificationBar ul li #notify {
        background: none;
        background: none;
        border: 0;
        display: table; }
        #NotificationBar ul li #notify .badge {
          top: -9px;
          left: -11px;
          right: auto;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background: #739500;
          border: 0;
          line-height: 20px;
          font-size: 0.857em;
          padding: 0;
          text-align: center; }
      #NotificationBar ul li a {
        border: none;
        white-space: nowrap;
        background: #FFFFFF;
        color: #333333;
        display: block;
        padding: 5px;
        font-size: 1em; }
    #NotificationBar ul ul {
      position: absolute;
      top: 20px;
      left: 10px;
      border: 1px solid #0d5898;
      display: table;
      visibility: hidden; }
      #NotificationBar ul ul li {
        padding: 0; }
        #NotificationBar ul ul li a {
          border-bottom: 1px solid #0d5898; }
        #NotificationBar ul ul li:last-child a {
          border-bottom: none; }

.navigator {
  background: url(../Images/navigator.png) #0d5898;
  height: 117px !important;
  top: 0 !important;
  border-radius: 0 !important; }
  .navigator:hover {
    background: url(../Images/navigator.png) #0d5898 !important; }

.jstree-default .jstree-anchor {
  padding: 5px;
  display: table;
  color: #333;
  font-size: 1em; }
  .jstree-default .jstree-anchor:hover {
    background: #0d5898;
    color: #FFFFFF; }

.jstree-default .jstree-clicked {
  background: #0d5898;
  color: #FFFFFF; }

.k-window-titlebar.k-header {
  height: 50px;
  background: #0d5898;
  border: 0;
  box-shadow: none;
  color: #fff;
  font-size: 1.286em; }

.k-tabstrip-items {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 0px !important; }
  .k-tabstrip-items .k-link {
    font-size: 1.071em;
    color: #555555 !important;
    font-weight: 600;
    position: relative;
    background: #FFFFFF; }
    .k-tabstrip-items .k-link:before {
      content: " ";
      width: 1px;
      height: 70%;
      right: 0;
      top: 0;
      background: #ddd;
      z-index: 99;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .k-tabstrip-items .k-loading {
    display: none; }
  .k-tabstrip-items .k-item {
    border-radius: 0 !important;
    margin-right: 0px !important;
    color: #333333;
    margin-right: 3px;
    background: #FFFFFF;
    border: 0 !important; }
    .k-tabstrip-items .k-item.k-state-hover {
      background: none !important; }
    .k-tabstrip-items .k-item.k-state-active {
      margin: 0px !important;
      padding: 0px !important; }
    .k-tabstrip-items .k-item.k-state-hover .k-link {
      background: none !important;
      color: #0d5898 !important; }
  .k-tabstrip-items .k-item.k-state-hover:before {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    /*background: $theme-color-primary;*/
    z-index: 99; }
  .k-tabstrip-items li.k-state-active {
    border-bottom: 0px !important; }
    .k-tabstrip-items li.k-state-active .k-link {
      position: relative;
      background: none !important; }
    .k-tabstrip-items li.k-state-active a {
      color: #0d5898 !important; }
    .k-tabstrip-items li.k-state-active:before {
      content: " ";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 3px;
      width: 100%;
      background: #0d5898;
      z-index: 99; }
  .k-tabstrip-items .k-first {
    margin-left: 0px !important; }
  .k-tabstrip-items .k-item.k-state-hover a, .k-tabstrip-items .k-item.k-state-hover a {
    background: #FFFFFF !important; }
  .k-tabstrip-items .k-item.k-state-active a:hover {
    background: #FFFFFF !important; }

.GlobalMessage {
  color: #0d5898 !important;
  border: 1px solid #0d5898; }

/*----------Images--------------*/
.nav-logoff {
  background: url("../Images/btn-logoff.svg"); }

.nav-prev {
  background: url("../Images/btn-previous.svg");
  background-size: 20px; }

.nav-prev:hover {
  background: url("../Images/btn-previous_hover-blue.svg") #fff;
  background-size: 20px; }

.nav-dashboard {
  background: url("../Image/icon-dashboard.png") no-repeat 3px 2px;
  width: 90px; }

.nav-reset {
  background: url("../Images/btn-reset.svg"); }

.nav-reset {
  background: url("../Images/btn-reset.svg"); }

.nav-cache {
  background: url("../Images/btn-cache.svg"); }

.nav-print {
  background: url("../Images/btn-print.svg"); }

.nav-help {
  background: url("../Images/btn-help.svg"); }

.nav-store-state {
  background: url("../Images/store-blue.svg");
  background-size: 20px; }

.task-panel .inner-content ul.task-panel-tabs li a.tab-quick-search {
  background-image: url("../Images/task-btn-Person_Quick-Searc_hover.svg");
  background-size: 32px; }

.task-panel .inner-content ul.task-panel-tabs li a.tab-mybasket.tab-mybasket.selected {
  background-image: url("../Images/task-btn-my_basket_hover.svg");
  background-size: 32px; }

.task-panel .inner-content ul.task-panel-tabs li a.tab-quick-search.tab-quick-search.selected {
  background-image: url("../Images/task-btn-Person_Quick-Searc_hover.svg");
  background-size: 32px; }

/*----jquery-ui.min.css-----*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #0d5898 !important; }

.loading-text {
  color: #0d5898; }

a.ui-state-default.ui-state-highlight {
  background: #9ac4e8 !important; }

a.ui-state-default.ui-state-active {
  background: #0d5898 !important;
  color: #FFF !important; }

.ui-slider-handle:hover {
  background: #0d5898 !important; }

.s-grid th {
  background: #6fa4db !important; }

.s-altrow {
  background-color: #dfeeff; }

.s-grid-settings-box h3 {
  color: #ffffff;
  background: #0d5898; }

.securitynavigator {
  background: url(../Images/security-navigator.png) #0d5898;
  height: 117px !important;
  top: 0 !important;
  border-radius: 0 !important; }
  .securitynavigator:hover {
    background: url(../Images/security-navigator.png) #0d5898 !important; }

.callcenternavigator {
  background: url(../Images/call_center.svg) #0d5898;
  height: 117px !important;
  top: 0 !important;
  border-radius: 0 !important; }
  .callcenternavigator:hover {
    background: url(../Images/call_center.svg) #0d5898 !important; }

.mybasketnavigator {
  background: url(../Images/my_basket.svg) #0d5898;
  height: 117px !important;
  top: 0 !important;
  border-radius: 0 !important; }
  .mybasketnavigator:hover {
    background: url(../Images/my_basket.svg) #0d5898 !important; }

div.tabstrip ul.s-ulControlTabs li.s-liControlTabSheet .k-link {
  background: #0d5898;
  color: #ffffff; }
