$theme-color-primary: #0d5898; /*#1d75bf*/
$theme-color-secondary: #ffffff;
$theme-header-bgcolor: #0d5898;
$menu-bg-color: #0b416f;
$menu-bg-hover-color: #0d5898;


/*--------z-Common.scss-----------*/

#header {
    background: $theme-header-bgcolor;
}

.navDiv {
    border: 1px solid $theme-color-primary;
}

div.tabstrip {



    li.s-liControlTabSheet {


        &:hover:before {
            background: $theme-color-primary;
        }

        &.s-liControlTabSheet-active {

            &:before {
                content: " ";
                background: $theme-color-primary;
            }
        }

        &.s-liControlTabSheet-active a.k-link {
            color: $theme-color-primary !important;
        }
    }
}


.my-task-btn {
    border: 1px solid $theme-color-primary;
    background: url("../Images/btn-my_task.svg") no-repeat 20px 8px $theme-color-primary;
    background-size: 16px;
}

.my-task-btn:hover {
    background: url("../Images/btn-my_task_hover.svg") no-repeat 15px 9px #FFFFFF;
    color: $theme-color-primary;
    background-size: 16px;
}

.global-nav li a {
    border: 1px solid $theme-color-primary;
}

.global-nav li a:hover {
    color: $theme-color-primary;
    /*background: url('../Green_Images/btn-previous_hover.svg') #fff;
    background-size:20px;*/
}

.user-account:hover {
    background: url("../Images/user-profile-drop-down-hover.png") no-repeat 95% center #fff;
    color: $theme-color-primary;
}


.task-panel .inner-content .task-panel-wrapper .k-widget.k-panelbar .k-link.k-header, .ui-accordion .ui-accordion-header {
    background: $theme-color-primary !important;
}

.task-panel .inner-content .task-panel-wrapper .k-widget.k-panelbar .k-state-focused.k-state-hover {
    background: $theme-color-primary !important;
}

.task-panel .inner-content ul.task-panel-tabs li a {
    color: $theme-color-primary;
}

.task-panel .inner-content ul.task-panel-tabs li a::before {
    background: $theme-color-primary;
}


.toggle-menu-container {
    background: $menu-bg-color;
}

.toggle-menu-container .CssCenterLeftMenu.cssmenu {
    background: $menu-bg-color;
}

.toggle-menu-container .CssCenterLeftMenu.cssmenu li {
    background-color: $menu-bg-color;
}

.toggle-menu-container .CssCenterLeftMenu.cssmenu li a {
    background: $menu-bg-color;
}

.toggle-menu-container .CssSliderLeftMenu.cssmenu {
    background: $menu-bg-color;
}

.toggle-menu-container .CssSliderLeftMenu.cssmenu li {
    background-color: $menu-bg-color;
}

.toggle-menu-container .CssSliderLeftMenu.cssmenu li a {
    background: $menu-bg-color;
}

.toggle-menu-container .CssSliderLeftMenu.cssmenu li > .sub-menu {
    background: $menu-bg-color;
}

.toggle-menu-container .CssSliderLeftMenu.cssmenu li a:hover {
   background: $menu-bg-hover-color;
}

#header ul {
    color: $theme-color-primary;
}


/*---------y-Custom-Kendo.scss---------------*/

.button, #clickExcel {
    color: #FFFFFF;
    border: 1px solid $theme-color-primary;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 10px 5px 0;
    letter-spacing: .5px;
    background-color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 1em !important;
    transition: .3s all ease-in-out;
    background-repeat: no-repeat;
    background: $theme-color-primary;


    &:hover {
        color: $theme-color-primary;
        border: 1px solid $theme-color-primary;
        background:none;
    }
}

#NotificationBar {
    float: left;
    position: absolute;
    width: 0px;
    left: 250px;
    top: 22px;
    border-right: 0 !important;

    ul {
        background: none;



        li {
            background: none;
            display: table-row;
            position: relative;

            &:hover ul {
                visibility: visible;
            }

            #notify {
                background: none;
                background: none;
                border: 0;
                display: table;



                .badge {
                    top: -9px;
                    left: -11px;
                    right: auto;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background: #739500;
                    border: 0;
                    line-height: 20px;
                    font-size: 0.857em;
                    padding: 0;
                    text-align: center;
                }

                img {
                }
            }

            a {
                border: none;
                white-space: nowrap;
                background: #FFFFFF;
                color: #333333;
                display: block;
                padding: 5px;
                font-size: 1em;
            }
        }

        ul {
            position: absolute;
            top: 20px;
            left: 10px;
            border: 1px solid $theme-color-primary;
            display: table;
            visibility: hidden;

            li {
                padding: 0;

                a {
                    border-bottom: 1px solid $theme-color-primary;
                }

                &:last-child a {
                    border-bottom: none;
                }
            }
        }
    }
}

.navigator {
    background: url(../Images/navigator.png) $theme-color-primary;
    height: 117px !important;
    top: 0 !important;
    border-radius: 0 !important;


    &:hover {
        background: url(../Images/navigator.png) $menu-bg-hover-color !important;
    }
}

.jstree-default .jstree-anchor {
    padding: 5px;
    display: table;
    color: #333;
    font-size: 1em;

    &:hover {
        background: $theme-color-primary;
        color: #FFFFFF;
    }
}

.jstree-default .jstree-clicked {
    background: $theme-color-primary;
    color: #FFFFFF;
}

.k-window-titlebar.k-header {
    height: 50px;
    background: $theme-color-primary;
    border: 0;
    box-shadow: none;
    color: #fff;
    font-size: 1.286em;
}


.k-tabstrip-items {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 0px !important;

    .k-link {
        font-size: 1.071em;
        color: #555555 !important;
        font-weight: 600;
        position: relative;
        background: #FFFFFF;

        &:before {
            content: " ";
            width: 1px;
            height: 70%;
            right: 0;
            top: 0;
            background: #ddd;
            z-index: 99;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .k-loading {
        display: none;
    }

    .k-item {
        border-radius: 0 !important;
        margin-right: 0px !important;
        color: #333333;
        margin-right: 3px;
        background: #FFFFFF;
        border: 0 !important;

        &.k-state-hover {
            background: none !important;
        }

        &.k-state-active {
            margin: 0px !important;
            padding: 0px !important;
        }

        &.k-state-hover .k-link {
            background: none !important;
            color: #0d5898 !important
        }
    }



    .k-item.k-state-hover:before {
        content: " ";
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 100%;
        /*background: $theme-color-primary;*/
        z-index: 99;
    }

    li.k-state-active {
        border-bottom: 0px !important;


        .k-link {
            position: relative;
            background: none !important;
        }

        a {
            color: $theme-color-primary !important;
        }



        &:before {
            content: " ";
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 3px;
            width: 100%;
            background: $theme-color-primary;
            z-index: 99;
        }
    }

    .k-first {
        margin-left: 0px !important;
    }

    .k-item.k-state-hover a, .k-item.k-state-hover a {
        background: #FFFFFF !important;
    }

    .k-item.k-state-active a:hover {
        background: #FFFFFF !important;
    }
}


.GlobalMessage {
    color: $theme-color-primary !important;
    border: 1px solid $theme-color-primary;
}


/*----------Images--------------*/

.nav-logoff {
    background: url('../Images/btn-logoff.svg');
}

.nav-prev {
    background: url('../Images/btn-previous.svg');
    background-size:20px;
}

.nav-prev:hover {
    background: url('../Images/btn-previous_hover-blue.svg') #fff;
    background-size: 20px;
}

.nav-dashboard {
    background: url('../Image/icon-dashboard.png') no-repeat 3px 2px;
    width: 90px;
}

.nav-reset {
    background: url('../Images/btn-reset.svg');
}

.nav-reset {
    background: url('../Images/btn-reset.svg');
}

.nav-cache {
    background: url('../Images/btn-cache.svg');
}

.nav-print {
    background: url('../Images/btn-print.svg');
}

.nav-help {
    background: url('../Images/btn-help.svg');
}

.nav-store-state {
    background: url('../Images/store-blue.svg');
    background-size: 20px;
}

.task-panel .inner-content ul.task-panel-tabs li a.tab-quick-search {
    background-image: url("../Images/task-btn-Person_Quick-Searc_hover.svg");
    background-size: 32px;
}

.task-panel .inner-content ul.task-panel-tabs li a.tab-mybasket.tab-mybasket.selected {
    background-image: url("../Images/task-btn-my_basket_hover.svg");
    background-size: 32px;
}

.task-panel .inner-content ul.task-panel-tabs li a.tab-quick-search.tab-quick-search.selected {
    background-image: url("../Images/task-btn-Person_Quick-Searc_hover.svg");
    background-size: 32px;
}


/*----jquery-ui.min.css-----*/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: $theme-color-primary !important;
}

.loading-text{
    color:$theme-color-primary;
}

a.ui-state-default.ui-state-highlight {
    background: #9ac4e8 !important;
}

a.ui-state-default.ui-state-active {
    background: $theme-color-primary !important;
    color: #FFF !important;
}

.ui-slider-handle:hover {
    background: $theme-color-primary !important;
}

.s-grid th {
    background: #6fa4db !important;
}

.s-altrow {
    background-color: #dfeeff;
}

.s-grid-settings-box h3 {
    color: #ffffff;
    background: #0d5898;
}
.securitynavigator {
    background: url(../Images/security-navigator.png) #0d5898;
    height: 117px !important;
    top: 0 !important;
    border-radius: 0 !important;

    &:hover {
        background: url(../Images/security-navigator.png) $menu-bg-hover-color !important;
    }
}

.callcenternavigator {
    background: url(../Images/call_center.svg) #0d5898;
    height: 117px !important;
    top: 0 !important;
    border-radius: 0 !important;

    &:hover {
        background: url(../Images/call_center.svg) $menu-bg-hover-color !important;
    }
}

.mybasketnavigator {
    background: url(../Images/my_basket.svg) #0d5898;
    height: 117px !important;
    top: 0 !important;
    border-radius: 0 !important;

    &:hover {
        background: url(../Images/my_basket.svg) $menu-bg-hover-color !important;
    }
}

div.tabstrip {

    ul.s-ulControlTabs {

        li.s-liControlTabSheet {

            .k-link {
                background: #0d5898;
                color: #ffffff;
            }
        }
    }
}