.k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link {
    display: block;
    position: relative;
    padding: 3px;
    text-decoration: none;
    color: #fff;
    background: url('../Images/corner-symbol-green.svg') no-repeat #7a7672;
    line-height:20px !important;
    padding-left:20px;

}


.navigator {
    background: url("../Images/navigator-teel.png") no-repeat !important;
    height: 117px !important;
}


.SlideoutSplitter {
    background: #017c8b !important;
}

.button {
  
    font-style: normal;
    color: #ffffff;
    border: 0;
    background:#026270;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 10px 5px 5px;
    letter-spacing: 0.5px;
    font-size:13px;


}

    .button:active {
        cursor: pointer;
        position: relative;
        top: 1px;
    }

    .button:hover {
        background: #00525e;
    }


.cssmenu {
    border-top: 2px solid #017c8b;
}


.GoToLinksTrigger {
   
    background: url('../Images/teal-icon-info.png') no-repeat 50% 50%;

}

    .delete-form {

    background: url('../Images/close-form.png') no-repeat 50% 50% #017c8b;


}
