
$percent100: 100%;
$borderColor: #989898;
$colorWhite: #fff;
$color1: #5ebcd8;
$color2: #279cbd;
$color3: #575757;
$color4: #7f7f7f;
$color5: #564742;
$color6: #94c0d2;
$color7: #3c312e;
$color8: #333333;
$color9: #3c3c3c;
$colorBlack: #000;
$color11: #2f5e8e;
$color12: #808080;
$color13: #060408;
$color14: #aeaeb2;
$color15: #1c9dc2;
$color16: #c2f1ff;
$color17: #888888;
$color18: #6b6b6b;
$color19: #acbe78;
$color20: #e8fdff;
$color21: #9ce6ec;
$color22: #152a3f;
$color23: rgba(230, 241, 246, 1);
$color24: rgba(180, 206, 236, 1);
/*$theme-color-primary: #739500;
$theme-color-secondary: #012F39*/;


.k-block, .k-widget {
    border-color: $borderColor;
    background-color: $colorWhite;
}

.k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link {
    display: block;
    position: relative;
    padding: 7px 0px;
    text-decoration: none;
    font-size: 1.143em;
    color: $colorWhite;
    line-height: 20px !important;
    font-weight: bold;
    text-indent: 20px;
    background: $color1;
    /* Old browsers */
    background: -moz-linear-gradient(top, $color1 0%, $color2 $percent100);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop($percent100, $color2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color1 0%, $color2 $percent100);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color1 0%, $color2 $percent100);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color1 0%, $color2 $percent100);
    /* IE10+ */
    background: linear-gradient(to bottom, $color1 0%, $color2 $percent100);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-9 */
}

.k-panelbar {
    .k-link.k-header:before {
        position: absolute;
        content: " ";
        width: 10px;
        height: $percent100;
        left: 0px;
        top: 0px;
        background: #386e9d;
    }

    .k-content {
        padding: 10px  !important;
        color: $color8;
    }

    .k-panel, .k-item {
        color: $color8;
    }
}

/*.k-group
{
    background-color: $colorWhite;
}*/



.k-i-calendar {
    /*margin-left: -15px !important;*/
}

.k-menu {
    background-color: $colorWhite;
    font-size: 10pt !important;

    .k-item {
        color: $colorWhite;
        background: $color11;
        margin-bottom: 1px;
        font-size: 9pt;

        .k-link:hover {
            color: $colorWhite;
            background: $colorBlack;
            margin-bottom: 1px;
        }
    }
}

.button {
   /*color: $theme-color-primary;*/
    /*border: 1px solid $theme-color-primary;*/
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
    margin: 5px 10px 5px 0;
    letter-spacing: .5px;
    background-color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 1em !important;
    transition: .3s all ease-in-out;
    background-repeat: no-repeat;
   

    &:hover {
        /*background: $theme-color-primary;*/
        color:#FFFFFF;
    }
}

.popbutton {
    font-style: normal;
    color: $colorWhite;
    background: #e88f30;
    border: 0px solid $colorWhite;
    text-shadow: 0px 0px 0px $color3;
    box-shadow: 1px 1px 3px $color12;
    -moz-box-shadow: 1px 1px 3px $color12;
    -webkit-box-shadow: 1px 1px 3px $color12;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 2px;

    &:active {
        cursor: pointer;
        position: relative;
        top: 2px;
    }

    &:hover {
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    }
}

.button2 {

    font-style: normal;
    color: $colorWhite;
    background: #06090f;
    border: 3px solid #9399cc;
    text-shadow: 0px 0px 0px $colorWhite;
    box-shadow: 3px 3px 9px $color13;
    -moz-box-shadow: 3px 3px 9px $color13;
    -webkit-box-shadow: 3px 3px 9px $color13;
    border-radius: 30px 0px 30px 0px;
    -moz-border-radius: 30px 0px 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;
    padding: 2px 21px;
    cursor: pointer;
    margin: 0 auto;

    &:active {
        cursor: pointer;
        position: relative;
        top: 2px;
    }
}

th .k-link {
    white-space: pre-wrap !important;
}

.k-menu {
    background: $color11;
    /* Old browsers */
}

.testBg {
    color: $colorWhite;
    background: $color11;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2NzY2OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NCUiIHN0b3AtY29sb3I9IiMyYzMyNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover, $color11 0%, $color22 74%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, $percent100, color-stop(0%, $color11), color-stop(74%, $color22));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, $color11 0%, $color22 74%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, $color11 0%, $color22 74%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, $color11 0%, $color22 74%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, $color11 0%, $color22 74%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color11', endColorstr='$color22',GradientType=1 );
    /* IE6-8 fallback on horizontal gradient */
}

.Chartconfiguration {
    padding: 10px !important;
    padding-left: 20px !important;
}

.LeftSidePanels {
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 5px 20px #aeaeb2;
    -moz-box-shadow: 0px 5px 20px #aeaeb2;
    -webkit-box-shadow: 0px 5px 20px #aeaeb2;
    z-index: 100;
    background: rgb(230, 241, 246);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZjFmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGNlZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $color23 0%, $color24 $percent100);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color23), color-stop($percent100, $color24));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color23 0%, $color24 $percent100);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color23 0%, $color24 $percent100);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color23 0%, $color24 $percent100);
    /* IE10+ */
    background: linear-gradient(to bottom, $color23 0%, $color24 $percent100);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f6', endColorstr='#b4ceec',GradientType=0 );
    /* IE6-8 */
}

.GoToLinks {
    color: #333;
    font-size: 0.929em;
    display: none;
    position: fixed;
    padding: 10px;
    background-color: #FFF;
    z-index: 100;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;


    ul {
        padding-left: 15px !important;
        list-style: none;
    }

    li {
        padding-bottom: 2px;
        padding-left: 10px !important;
    }

    b {
        color: $colorBlack;
        padding: 3px;
    }
}
.GoToLinksTrigger {
    position: absolute;
    z-index: 100;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin-left: -34px;
    height: 25px;
    width: 25px;
    background: url('../Images/info.png') no-repeat 50% 50%;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
}
.scrollit:hover {
    cursor: pointer;
    color: #007acc;
    text-decoration: underline;
}

#DivExportCols {
    -webkit-transition: margin-left 1s ease-in-out;
}

.DirtyFormStar {
    color: red;
    font-size: 2em;
    position: absolute;
    padding: 0px 5px 0px 5px;
}

#NotificationBar {
    float: left;
    position: absolute;
    width: 0px;
    left: 250px;
    top: 22px;
    border-right: 0 !important;

    ul {
        background: none;



        li {
            background: none;
            display: table-row;
            position: relative;

            &:hover ul {
                visibility: visible;
            }

            #notify {
                background: none;
                background: none;
                border: 0;
                display: table;



                .badge {
                    top: -9px;
                    left: -11px;
                    right: auto;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background: #fff !important;
                    border: 0;
                    line-height: 20px;
                    font-size: 0.857em;
                    padding: 0;
                    text-align: center;
                }

                img {
                }
            }

            a {
                border: none;
                white-space: nowrap;
                background: #FFFFFF;
                color: #333333;
                display: block;
                padding: 5px;
                font-size: 1em;
            }
        }

        ul {
            position: absolute;
            top: 20px;
            left: 10px;
            /*border: 1px solid $theme-color-primary;*/
            display: table;
            visibility: hidden;
            z-index: 9999;

            li {
                padding: 0;

                a {
                    /*border-bottom: 1px solid $theme-color-primary;*/
                }

                &:last-child a {
                    border-bottom: none;
                }
            }
        }
    }
}

.cssmenu > ul > li > a#notify:hover {
    color: $color8;
    background-color: transparent !important;
}

.badge {
    display: block;
    position: absolute;
    top: -12px;
    right: 3px;
    line-height: 12px;
    height: 12px;
    padding: 0 5px;
    color: #333;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-color: #30aae9;
    background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
    background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
    background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
    background-image: linear-gradient(to bottom, #acddf6, #67c1ef);

    &.green {
        background: #77cc51;
        border-color: #59ad33;
        background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
        background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
        background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
        background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
    }

    &.yellow {
        background: #faba3e;
        border-color: #f4a306;
        background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
        background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
        background-image: -o-linear-gradient(top, #fcd589, #faba3e);
        background-image: linear-gradient(to bottom, #fcd589, #faba3e);
    }

    &.red {
        background: #fa623f;
        border-color: #fa5a35;
        background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
        background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
        background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
        background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
    }
}

a.tab-close {
    cursor: pointer;
    z-index: 2;
    font-size: small;
    font-weight: bold;
    color: #000080;

    :hover {
        cursor: pointer;
        z-index: 2;
        font-size: small;
        font-weight: bold;
        color: $colorWhite;
        text-decoration: underline;
    }
}

/************************** Tree View Lines CSS*************************************/

.k-treeview-lines {
    .k-top, .k-mid, .k-bot {
        background-image: url('../Image/treeview-nodes.png');
    }

    .k-item {
        background-image: url('../Image/treeview-line.png');
    }

    .k-last {
        background-image: none;
    }

    .k-top, .k-mid, .k-bot {
        background-repeat: no-repeat;
        margin-left: -16px;
        padding-left: 16px;
    }

    .k-top {
        background-position: -91px 0;
    }

    .k-bot {
        background-position: -69px -22px;
    }

    .k-mid {
        background-position: -47px -44px;
    }

    .k-last .k-top {
        background-position: -25px -66px;
    }

    .k-group .k-last .k-bot {
        background-position: -69px -22px;
    }

    .k-item {
        background-repeat: no-repeat;
    }

    .k-first {
        background-repeat: no-repeat;
        background-position: 0 16px;
        background-color: #f6f4e9;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        overflow: auto;
    }
}

.delete-treenode-link {
    width: 12px;
    height: 12px;
    background: transparent url("../Image/close.png") no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
}

/**************************Left Navigationn CSS*************************************/

ul#navigation {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 20px;
    left: 0px;
    list-style: none;
    z-index: 100;

    li {
        width: 20px;
    }

    .navDiv {
        display: block;
        margin-left: -2px;
        width: 100px;
        height: 70px;
        background-color: $colorWhite;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 2px 2px 3px $color6;
        -moz-box-shadow: 2px 2px 3px $color6;
        -webkit-box-shadow: 2px 2px 3px $color6;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
    }

    .sideitem .navDiv {
        border-width: thin medium thin thin;
        border-color: $color22;
        border-right-style: solid;
        border-top-style: solid;
        border-bottom-style: solid;
    }
}


.k-grid .k-pager-numbers .k-link {
    font-weight: 600;
    color: #555555 !important;
}

.k-pager-numbers {
    .k-state-selected {
        background: $colorWhite;
        /* Old browsers */
        background: -moz-linear-gradient(top, $colorWhite 0%, #f5edb0 $percent100);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $colorWhite), color-stop($percent100, #f5edb0));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $colorWhite 0%, #f5edb0 $percent100);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $colorWhite 0%, #f5edb0 $percent100);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $colorWhite 0%, #f5edb0 $percent100);
        /* IE10+ */
        background: linear-gradient(to bottom, $colorWhite 0%, #f5edb0 $percent100);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorWhite', endColorstr='#f5edb0',GradientType=0 );
        /* IE6-9 */
        color: #555555 !important;
    }

    li a:hover {
        background: #f3e996 !important;
    }
}

.k-grid-pager a:hover {
    background: #f3e996 !important;
}

.k-pager-wrap > .k-link {
    line-height: 20px;
}

.crumDiv {
    /*margin-top: 5px;*/
    padding-left: 56px;

}

.crumLinks {
    cursor: pointer;
}

#dropDiv {
    border: thin solid #800080;
    color: #CCC;
    display: none;
    background: $colorBlack;
    height: auto;
    z-index: 1999;
    opacity: 0.6;
    position: absolute;
    top: 100px;
    left: 500px;
    height: 400px;
    width: 600px;
    text-align: center;
    vertical-align: middle;
}

.dropTd {
    text-align: center;
    width: 50%;

    &:hover {
        background-color: #f7e40c;
        color: #2e2300;
    }
}

.k-grid-header .k-header {
    font-size: 1em;
    background: #7ec6dd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7ec6dd 0%, #49a0bd $percent100);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ec6dd), color-stop($percent100, #49a0bd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7ec6dd 0%, #49a0bd $percent100);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7ec6dd 0%, #49a0bd $percent100);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7ec6dd 0%, #49a0bd $percent100);
    /* IE10+ */
    background: linear-gradient(to bottom, #7ec6dd 0%, #49a0bd $percent100);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec6dd', endColorstr='#49a0bd',GradientType=0 );
    /* IE6-9 */
    padding: 8px 10px !important;
    font-weight: 600;
    color: $colorWhite;

    .k-link {
        white-space: normal !important;
        color: $colorWhite;

        &:hover {
            background-color: transparent !important;
        }
    }
}

.k-grid {
    .k-grouping-header {
        background-color: #dcd8d2 !important;
        background-image: none;
    }

    .k-group-indicator {
        background-color: #adb4bc;

        &:hover {
            background-color: #daecf4;
        }
    }

    table {
        width: auto;
        border: 1px solid $color17;
    }

    td {
        border-style: solid;
        border-width: 0 0 0 1px;
        padding: .4em .6em;
        line-height: 1.6em;
        vertical-align: middle;
        white-space: normal;
        border-color: $color17 !important;
    }

    th {
        border-color: $color17 !important;
    }
}

.ui-layout-west .k-grid td {
    white-space: normal !important;
    background: #e9e9e9;
}

.k-grid-edit-row .check_row {
    padding-left: 5px;
}

.k-grid .k-widget {
    /*height: 27px;
  padding: 5px 11px 3px 11px;*/
}

.k-grid-pager {
    background-color: $colorWhite !important;
    background-image: none !important;
    border-color: $color17 !important;
    border: 1px solid $color17;
    border-bottom: 0;
}

.k-link {
    &:link, &:visited {
        color: $colorBlack;
    }
}

.GridLinks {
    height: $percent100;
    width: $percent100;
    color: #025483;
    text-decoration: none;
    font-weight: 500;

    a {
        text-decoration: none;

        &:link {
            color: #e48f36;
            text-decoration: none;
        }
    }
}

/*.GridLinks:hover {
    background-color: #deeef5;
    text-decoration: none;
}*/

/********************* Sidebar Panel*******************/

div.trigger {
    &.left {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        display: block;
        position: relative !important;
        padding-left: 5px;
        z-index: 200;
        cursor: pointer;
        -webkit-transition: background .1s ease;
        -moz-transition: background .1s ease;
        transition: background .1s ease;
        vertical-align: bottom;
        text-align: center;
        color: $colorWhite;
        font-weight: bold;
        font-size: 0.929em;

        &:hover {
            background: $color19;
        }
    }

    &.right {
        right: 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
    }
}

.lookups {
    background: url("../Images/lockups.png") !important;
    height: 118px !important;
}

.org {
    background: url("../Images/org.png") !important;
    height: 110px !important;
}

.navigator {
        /*background: url(../Images/navigator.png) $theme-color-primary;*/
    height: 117px !important;
    top: 0 !important;
    border-radius: 0 !important;


    &:hover {
        /*background: url(../Images/navigator.png) $theme-color-secondary !important;*/
       
    }
}

.org:hover {
    background: url("../Images/org-hover.png") !important;
    height: 110px !important;
}

.lookups:hover {
    background: url("../Images/lockups-hover.png") !important;
    height: 118px !important;
}

.panel {
    border: none;
    position: absolute;
    display: none;
    height: auto;
    z-index: 199;

    &.left {
        padding-left: 10px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        margin-left: 20px;
        overflow: visible;
        z-index: 999;
    }

    &.right {
        right: 0;
        padding-right: 30px;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }

    p {
        font-size: 0.786em;
    }
}

.delete-link {
    width: 12px;
    height: 12px;
    background: transparent url('../Image/close.png') no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#SlideOutLookup {
    /*background-color: $color19;*/
    background-color: #D4D5C7;
    width: 75%;
    height: 80%;
    padding: 10px 20px 0px 0px;
    -moz-box-shadow: 5px 2px 5px $color18;
    -webkit-box-shadow: 5px 2px 5px $color18;
    box-shadow: 5px 2px 5px $color18;
}

#SlideOutOrgSearchLookup {
    width: 22%;
    height: 60%;
}

#SlideOutTree {
    height: 75%;
    padding: 5px;
    padding-right: 40px;
    margin: 12px 0px 0px 13px;
    top: 98px !important;

    .jstree {
        padding: 0;


        .jstree-node
            {
            background-image:none !important;
        }
    }

    .jstree-default .jstree-anchor {
        padding: 5px;
        display: table;
        color: #333;
        font-size: 12px;

        &:hover {
            /*background: $theme-color-primary;*/
            color: #FFFFFF;
        }
    }

    .jstree-default .jstree-clicked {
        /*background: $theme-color-primary;*/
        color: #FFFFFF;
    }

    .jstree-default :empty.jstree-icon {
        display: none;
    }
}
/******* AUTOCOMPLETE FORMS ***********/

.runtimeSelect {
    z-index: 2000;
    overflow: visible;
}

.AutocompleteEditor {
    border: 1px solid black;
    width: $percent100;
    overflow: auto;
}

.AutocompleteResult {
    height: 350px;
    width: $percent100;
}

.autocompleteUpperDiv {
    border: thin solid #FF00FF;
    padding: 2px;
    margin: 1px;
    background-color: $colorBlack;
    color: $colorWhite;
    position: absolute;
    opacity: 0.9;
    filter: alpha(opacity = 90);
    font-size: small;
    z-index: 20;
}

.SelectTextLink {
    cursor: pointer;
    color: #4ee9e4;
    font-weight: bold;
}

.configpanel {
    background: #feffe8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf $percent100);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffe8), color-stop($percent100, #d6dbbf));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffe8 0%, #d6dbbf $percent100);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffe8 0%, #d6dbbf $percent100);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feffe8 0%, #d6dbbf $percent100);
    /* IE10+ */
    background: linear-gradient(to bottom, #feffe8 0%, #d6dbbf $percent100);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 );
    /* IE6-9 */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #AFAD89;
    padding: 5px;
    margin: 2px;

    .confighead {
        color: #333;
        font-size: 1em;
        padding: 2px 0px 5px 0px;
    }
}

.tooltip {
    text-align: center;
    color: black;
    display: none;
    position: absolute;
    z-index: 9999;

    .text {
        background-color: black;
        color: white;
        margin-top: -15px;
    }

    .arrow {
        margin-bottom: 8px;
        margin-top: -5px;
    }

    td {
        text-align: left;
        vertical-align: middle;
    }

    .leftTd {
        text-align: right;
        padding-right: 5px;
        vertical-align: middle;
    }
}

#drpLookupNamesParent {
    position: absolute;
    margin: 50px 0px 0px 30px;
    z-index: 999;
}

#LookupNameDiv {
    margin: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    margin-left: 20px;
    background: #483D39;
    border: 2px solid #35262a;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
    position: absolute;
    display: none;
    color: $colorWhite;
    min-width: 200px;
    z-index: 9999;

    ul {
        width: $percent100;

        li {
            width: $percent100;
            list-style-type: none;
            height: 20px;
            color: $colorWhite;

            a {
                div {
                    padding: 2px 0px 2px 5px;
                }

                color: $colorWhite;
            }

            &:hover {
                background: #ffa200;
                background: -moz-linear-gradient(top, #ffa200, #ffa200);
                background: -webkit-gradient(linear, 0% 0%, 0% $percent100, from(#ffa200), to(#ffa200));
                list-style-type: none;
                color: $colorWhite;
            }
        }
    }
}

.downarrow {
    background-image: url('../Images/downarrow .png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.LookupDropLink {
    cursor: pointer;
    font-weight: normal;
    color: #660066;
    width: $percent100;
    height: 20px;
}

.formNavigationPrev {
    margin: 3px 5px 0px 2px;
    cursor: pointer;
    background: url('../Images/arrow-prev.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
}

.formNavigationPrevDisabled {
    margin: 3px 5px 0px 2px;
    background: url('../Images/disabled-prev.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border-style: none;
}

.formNavigationNext {
    margin: 3px 5px 0px 5px;
    cursor: pointer;
    background: url('../Images/arrow-next.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
}

.formNavigationNextDisabled {
    margin: 3px 5px 0px 5px;
    background: url('../Images/disabled-next.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border-style: none;
}

.delete-form {
    margin: 0px 5px 0px 5px;
    width: 25px;
    height: 25px;
    background: url('../Images/close-form.png') no-repeat 50% 50%;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
    margin-top: 3px;
}


.k-popup .k-list .k-item {
    min-height: 1.8em;
}

.k-splitbar {
    background: #a4e2f3 !important;
}

/***************************************************** New Styles ***********************************************************/

.k-splitter .k-scrollable {
}

.SlideoutSplitter {
    width: 15px;
    height: 800px;
    position: fixed;
    background: none;
}

.k-pager-wrap {
    .k-textbox, .k-widget {
        padding: 3px !important;
    }
}

.k-pager-info {
    float: none !important;
    color: $color8;
}

.k-pager-numbers li, .k-pager-input {
    margin-left: 5px;
}

.k-link:hover {
    background-color: $borderColor;
}

.k-pager-input, .k-pager-sizes {
    color: $color8;
}

input[type="checkbox"] {
    margin: 5px;
}

.k-editable-area .k-content {
    border: none !important;
    background: none !important;
}

.k-state-selected {
    box-shadow: none !important;
}

.k-tabstrip-items .k-state-default, .k-ie7 .k-tabstrip-items .k-state-default .k-loading {
    border-color: $borderColor;
}

.k-tabstrip-items .k-state-default .k-link, .k-panelbar > li.k-state-default > .k-link {
    color: $colorWhite;
}

.k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, .k-grid-header {
    border-color: $borderColor;
}

.k-pager-wrap {
    border-color: $borderColor;

    .k-textbox, .k-link {
        border-color: $borderColor;
    }
}

.k-grouping-header .k-group-indicator {
    border-color: $borderColor;
}

.k-state-selected {
    border-color: $color7;

    &:link, &:visited {
        border-color: $color7;
    }
}

.k-list > {
    .k-state-selected, .k-state-highlight {
        border-color: $color7;
    }
}

.k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-marquee-color {
    border-color: $color7;
}

.k-state-hover {
    background-color: $color5;
    border-color: $color9;

    &:hover {
        background-color: $color5;
        border-color: $color9;
    }
}

.k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-imagebrowser-dropzone {
    background-color: $color5;
    border-color: $color9;
}

.k-mobile-list {
    .k-item > {
        .k-link:active, .k-label:active {
            background-color: $color5;
            border-color: $color9;
        }
    }

    .k-edit-label.k-check:active, .k-scheduler-timezones .k-edit-field:nth-child(2):active, .k-recur-view .k-check:active {
        background-color: $color5;
        border-color: $color9;
    }
}

.k-block, .k-widget, .k-input, .k-group, .k-content, .k-header, .k-editable-area, .k-separator, .k-colorpicker .k-i-arrow-s, .k-textbox > input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar, .k-group-footer td, .k-grid-footer, .k-footer-template td {
    border-color: $colorWhite;
}

.k-state-default {
    border-color: $colorWhite;

    .k-select {
        border-color: $colorWhite;
    }
}

.k-state-disabled, .k-grid-header-wrap, .k-grid-header {
    border-color: $colorWhite;
}

.k-grid td {
    border-color: $colorWhite;

    &.k-state-selected {
        border-color: $colorWhite;
    }
}

.k-grid-footer-wrap {
    border-color: $colorWhite;
}

.k-pager-wrap {
    border-color: $colorWhite;

    .k-link {
        border-color: $colorWhite;
    }
}

.k-pager-refresh {
    border-color: $colorWhite;
}

.k-grouping-header {
    border-color: $colorWhite;

    .k-group-indicator {
        border-color: $colorWhite;
    }
}

.k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link {
    border-color: $colorWhite;
}

.k-panelbar {
    .k-panel, .k-content {
        border-color: $colorWhite;
    }
}

.k-calendar th, .k-slider-track, .k-splitbar, .k-dropzone-active, .k-tiles, .k-toolbar, .k-tooltip, .k-button-group .k-tool, .k-upload-files {
    border-color: $colorWhite;
}

.k-block, .k-widget, .k-popup, .k-content, .k-dropdown .k-input {
    color: $color7;
}

.k-panelbar {
    .k-panel, .k-item {
        color: $color7;
    }
}

.k-textbox {
    border-color: $borderColor;
}

.k-alt, .k-separator {
    background-color: #e6f1f5;
}

.k-icon, .k-sprite, .k-button-group .k-tool-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0px;
    line-height: 0;
    text-align: center;
}

.k-splitbar-horizontal {
    .k-collapse-prev, .k-expand-next {
        background: url('../Images/left_arrow.png') 2px 0px !important;
        z-index: 10;
        position: absolute;
        margin-left: 3px;
        width: 15px;
        height: 15px;
    }

    .k-collapse-next, .k-expand-prev {
        background: url('../Images/left_arrow-flipped.png') 1px 0px !important;
        z-index: 10;
        position: absolute;
        margin-left: 3px;
        width: 15px;
        height: 15px;
    }
}

.k-upload-button:hover {
    background: $color5;
    color: $colorWhite;
    border: 1px solid $borderColor;
}

.k-upload-selected, .k-button {
    background: $color4;
    /* Old browsers */
    background: -moz-linear-gradient(top, $color4 0%, $color9 $percent100);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color4), color-stop($percent100, $color9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color4 0%, $color9 $percent100);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color4 0%, $color9 $percent100);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color4 0%, $color9 $percent100);
    /* IE10+ */
    background: linear-gradient(to bottom, $color4 0%, $color9 $percent100);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color4', endColorstr='$color9',GradientType=0 );
    font-style: normal;
    color: $colorWhite;
    border: 1px solid $borderColor;
    text-shadow: 0px 0px 0px $color3;
    padding: 5px 0px 5px 0px;

    &:hover {
        background: $color5;
        color: $colorWhite;
        border: 1px solid $borderColor;
    }
}

.ui-datepicker-trigger {
    /*margin-top: 5px;*/
    position: absolute;
    /*margin-left: -20px;*/
    transform: translate(-18px, 6px);
    width:12px;
}

input[type='radio'] {
    margin-right: 5px;
}

.k-widget.k-panelbar {
    margin-bottom: 20px !important;
    width: 99%;
    border: 1px solid #AAAAAA;
}

.k-tabstrip .k-tabstrip-items {
    white-space: nowrap;
}

/*********************Pagination Styling for Centerleft Div****************************/

#pnlCenterLeft {
    .k-pager-numbers {
        .k-link {
            width: 1em !important;
            line-height: 10px !important;
            padding: 3px !important;
            height: 1em;
            font-weight: normal;
        }

        .k-state-selected {
            width: 1em !important;
            line-height: 10px !important;
            padding: 4px !important;
            position: relative;
            height: 1em;
        }
    }

    .k-pager-info {
        padding: 0px !important;
    }

    .k-pager-numbers li {
        margin-left: 2px !important;
    }
}

.k-pager-input {
    margin-left: 2px !important;
}

#pnlCenterLeft {
    .k-pager-wrap > .k-link {
        height: 1em !important;
        width: 1em !important;
        padding: 3px !important;
    }

    .k-i-seek-w {
        background-position: -2px -116px !important;
        position: relative !important;
        top: -2px !important;
    }

    .k-i-arrow-w {
        background-position: -3px -53px !important;
        position: relative !important;
        top: -1px !important;
    }

    .k-i-arrow-e {
        background-position: -2px -21px !important;
        position: relative !important;
        top: -1px !important;

        &:hover {
            background-position: -2px -21px !important;
            position: relative !important;
            top: -1px !important;
        }
    }

    .k-i-seek-e {
        background-position: -1px -84px !important;
        position: relative !important;
        top: -2px !important;

        :hover {
            background-position: -1px -84px !important;
            position: relative !important;
            top: -2px !important;
        }
    }
}

/************************************************************************************/


.k-splitbar.k-state-default.k-splitbar-vertical.k-splitbar-static-vertical
{
    display:none;
}

.k-i-arrow-n {
    background-image: url(../Images/panel-up.png) !important;
    background-position: center !important;
    left:auto !important;
    right:10px;
    }

.k-i-arrow-s {
    background-image: url(../Images/panel-down.png) !important;
    background-position: center !important;
    left:auto !important;
    right:10px;
}


.k-window-titlebar.k-header {
    height: 50px;
    /*background: $theme-color-primary;*/
    border: 0;
    box-shadow: none;
    color: #fff;
    font-size: 1.286em;
}

div.k-window .k-icon.k-i-close, div.k-window .k-icon.k-i-close:hover {
    background-image: url(../Images/close-white.svg);
    background-position: center;
}

.k-window-titlebar .k-window-actions {
    right: 20px;
    top: 3px;
}


div.k-window
{
    box-shadow:none;
    border:0;
}


.k-window-action.k-link.k-state-hover 
{
    background:none !important;
    border:0 !important;
}


.ui-autocomplete
{
    z-index:999999 !important;
}

div.k-window .autocompleteUpperDiv
{
    display:none !important;
}

.k-tabstrip-items {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px !important;

    .k-link {
        font-size: 1.071em;
        color: #555555 !important;
        font-weight: 600;
        position: relative;
        background: #FFFFFF;

        &:before {
            content: " ";
            width: 1px;
            height: 70%;
            right: 0;
            top: 0;
            background: #ddd;
            z-index: 99;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .k-loading {
        display: none;
    }

    .k-item {
        border-radius: 0 !important;
        margin-right: 0px !important;
        color: #333333;
        margin-right: 3px;
        background: #FFFFFF;
        border: 0 !important;

        &.k-state-hover {
            background: none !important;
        }

        &.k-state-active {
            margin: 0px !important;
            padding: 0px !important;
        }

        &.k-state-hover .k-link {
            background: none !important;
        }
    }



    .k-item.k-state-hover:before {
        content: " ";
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 100%;
        /*background: $theme-color-primary;*/
        z-index: 99;
    }

    li.k-state-active {
        border-bottom: 0px !important;


        .k-link {
            position: relative;
            background: none !important;
        }

        a {
            /*color: $theme-color-primary !important;*/
        }



        &:before {
            content: " ";
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 3px;
            width: 100%;
            /*background: $theme-color-primary;*/
            z-index: 99;
        }
    }

    .k-first {
        margin-left: 0px !important;
    }

    .k-item.k-state-hover a, .k-item.k-state-hover a {
        background: #FFFFFF !important;
    }

    .k-item.k-state-active a:hover {
        background: #FFFFFF !important;
    }
}