<form class="full-width fleft">
    <fieldset ng-disabled="$ctrl.isdisabledforversioning" class="full-height">
        <div class="inner-section">
            <div class="panel-group" id="accordion_{{$id}}_3">
                <div class="panel panel-default">
                    <div class="panel-heading panel-tab-nw" ng-click="showperformers=!showperformers">
                        <div class="panel-collapse accordion-toggle collapsed" data-toggle="collapse" href="#collapse_{{$id}}_3" aria-expanded="false">
                            Performers
                            <img src="images/Common/icon_add_dark.svg" ng-show="showperformers" class="pull-left">
                            <img src="images/Common/icon_delete_dark.svg" ng-show="!showperformers" class="pull-left">
                        </div>
                    </div>
                    <div id="collapse_{{$id}}_3" class="panel-collapse collapse in" aria-expanded="false">
                        <div class="panel-body padding-10">
                            <div class="form-group">
                                <label class="control-label margin-bottom-5">
                                    Assignment Option
                                </label>
                                <select class="form-control input-sm" ng-options="x for x in $ctrl.AssignmentOptions" title="{{$ctrl.PerformersModel.dictAttributes.sfwAssignmentMethod}}"
                                         ng-model="$ctrl.PerformersModel.dictAttributes.sfwAssignmentMethod" undoredodirective model="$ctrl.PerformersModel" propertyname="'dictAttributes.sfwAssignmentMethod'"></select>
                            </div>
                            <div class="form-group marg-bottom-8">
                                <label class="checkbox-inline" style="display:inline-block">
                                    <input type="checkbox" ng-model="$ctrl.PerformersModel.dictAttributes.sfwFollowAssignmentUsingParameter" ng-true-value="'False'" ng-false-value="'True'" 
                                           ng-change="$ctrl.onChangeConstant()" undoredodirective model="$ctrl.PerformersModel" propertyname="'dictAttributes.sfwFollowAssignmentUsingParameter'"/>
                                    <span class="control-label">Is Constant</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label margin-bottom-5">
                                    Follow Assignment
                                </label>
                                <select class="form-control full-width input-sm" ng-options="x for x in $ctrl.FollowAssignmentOptions" title="{{$ctrl.PerformersModel.dictAttributes.sfwFollowAssignment}}"
                                         ng-model="$ctrl.PerformersModel.dictAttributes.sfwFollowAssignment" undoredodirective model="$ctrl.PerformersModel" propertyname="'dictAttributes.sfwFollowAssignment'">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group marg-bottom-8">
                                <label class="checkbox-inline" style="display:inline-block">
                                    <input type="checkbox" ng-model="$ctrl.ExtraSettingsModel.dictAttributes.sfwCanCompleteFromLeftPanel" ng-true-value="'True'" ng-false-value="'False'" 
                                           undoredodirective model="$ctrl.ExtraSettingsModel" propertyname="'dictAttributes.sfwCanCompleteFromLeftPanel'"/>
                                    <span class="control-label">Complete From Centre Left</span>
                                </label>
                            </div>
                            <div class="form-group marg-bottom-8">
                                <label class="checkbox-inline" style="display:inline-block">
                                    <input type="checkbox" ng-model="$ctrl.ObjConditonAndExternaltask.IsExternaltask" ng-change="$ctrl.removeOrAddModelBasedOnExternaltaskCondition()" 
                                           undoredodirective model="$ctrl.ObjConditonAndExternaltask" propertyname="'IsExternaltask'"/>
                                    <span class="control-label">External Task</span>
                                </label>
                            </div>
                            <div class="form-group marg-bottom-8">
                                <label class="checkbox-inline" style="display:inline-block">
                                    <input type="checkbox" ng-model="$ctrl.ObjConditonAndExternaltask.IsPreCondition" ng-change="$ctrl.changeModelBasedOnConditionInPreformers()" 
                                           undoredodirective model="$ctrl.ObjConditonAndExternaltask" propertyname="'IsPreCondition'"/>
                                    <span class="control-label">Pre Condition</span>
                                </label>
                            </div>
                            <div class="form-group" ng-show="$ctrl.ObjConditonAndExternaltask.IsExternaltask">
                                <label class="control-label margin-bottom-5">Target Site</label>
                                <select class="form-control input-sm" ng-model="$ctrl.externalTaskModel.dictAttributes.sfwTargetSite" ng-options="target.CodeValue as target.Description for target in $ctrl.targetsitelist"
                                        undoredodirective model="$ctrl.externalTaskModel" propertyname="'dictAttributes.sfwTargetSite'" ></select>
                            </div>
                            <div class="form-group marg-top-8">                              
                                <button class="dialog-btn-default" ng-click="$ctrl.setPreConditionOrDefaultCondition()" ng-show="$ctrl.ObjConditonAndExternaltask.IsPreCondition">Set PreCondition</button>
                                <button class="dialog-btn-default" ng-click="$ctrl.setPreConditionOrDefaultCondition()" ng-show="!$ctrl.ObjConditonAndExternaltask.IsPreCondition">Set DefaultCondition</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
