/*html, body, #container { min-height: 91%; height: 91%;}*/
html, body
	{
		font:normal 11px verdana,tahoma,helvetica;
		padding:0px;
		margin:0px;
	}

.Qrdo, .Qrdo a, .Qrdo a:link
	{
		font-size:12px !important;
		line-height:14px;
		font-weight:bold;
	}
a
	{
	    
		text-decoration:none;
	}
img
	{
		border:none;
	}
#container
	{
		width:100%;
	}
/* Begin: Login Part Styles */
.loginBody
	{
		font:normal 11px Verdana, Geneva, sans-serif !important;
	}
#wrapper
    {
        width:734px;
        margin:0 auto;
        position:relative;
    }
.banner
	{
		width:674px;
		height:210px;
		margin:0px 0px 0px 18px;
		*margin:0px 0px 0px 18px;
	}    
#loginboxBg
	{
		top:30%;
		left:35%;
		width:734px;
		margin-top:-50px;
		padding:100px 20px 0px 20px;
	}
.loginContent
    {
		width:500px;
		padding:20px;
		*padding:20px 20px 0px 20px;
		text-align:justify;
    }
.loginTxt
    {
        padding:0px;
        margin-left:10px;
        padding-right:5px;
        font:bold 12px "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
    }
.loginTxtI
    {
        width:100px;
        padding-bottom:2px;
        margin:0px;
        padding-right:0px;
        display:inline-block;
        font:normal 12px "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
    }
.loginTxtBox
    {
        padding-left:5px;
        line-height:22px;
        margin:7px 0px 7px 0px;
        font:normal 12px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
.loginTxtBoxI
    {
        height:23px;
        width:200px;
        padding-left:5px;
        line-height:20px;
        margin:2px 0px 2px 0px;
        font:normal 12px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
          
input.btnLogin
    {
        border:none;
    }
.btnLogin
    {
        width:62px;
        height:27px;
        margin:7px 0px 7px 72px;
    }
input.btnLoginI
    {
        border:none;
    }
.btnLoginI
    {
        width:62px;
        height:27px;
        margin:-7px 0px 7px 105px;
    }
.LoginTxtBoxSelect
    {
        height:24px;
        *height:19px;
        width:178px;
        padding-left:5px;
        line-height:22px;
        *padding-top:5px;
        margin:7px 0px 0px 0px;
        font:normal 12px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
.loginButton
    {
        margin-top:7px;
        margin-right:152px;
        *margin-left: 81px;
    }
input.LoginSelectButton
    {
        border:none;
        cursor:pointer;
    }    
.LoginSelectButton
    {
        width:93px;
        height:31px;
        margin-top:-20px;
        margin-left:111px;
        *margin-left: 123px;
    }
/* End: Login Part Styles */
/* Start Left Menu */
.inboxborder
    {
        border:#CCCCCC 1px solid;
        background-repeat:repeat-x;
        background-image:url(image/Bg_Inbox.gif);
    }
.boxborder
    {
	    /*
            border:#CCCCCC 1px solid;
	        background-color: #FEFEFE;
	        background-repeat:repeat-x;
	        background-position:bottom;
	        background-image:url(image/Bg_Inbox.gif);
        */
    }
.inboxImage
    {
        margin-left:10px;
        text-decoration: underline;
    }
.leftMenuHeading
    {
	    color:#fff;
	    height:32px;
	    width:190px;
	    text-align:left;
	    font-weight:bold;
	    overflow:visible;
	    margin:0px 0px 5px 0px;
	    padding:0px 0px 0px 5px;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.leftMenuHeadingRet
    {
	    height:20px;
	    color:#fff;
	    width:225px;
	    text-align:left;
	    font-weight:bold;
	    overflow:visible;
	    margin:0px 0px 5px 0px;
	    padding:0px 0px 0px 5px;
	    background-color:#81a7ca;
	    border-top:1px solid #ccc;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.leftMenuTxt
    {
	    color:#333;
	    padding:8px 5px 8px 5px;
	    text-align:left;
	    overflow:visible;
	    
	    font-weight:normal;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.leftMenuTxtOther
    {
	    color:#333;
	    padding:0px;
	    text-align:left;
	    overflow:visible;
	    line-height:18px;
	    font-weight:normal;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.leftMenuTxtOther a
    {
        font-weight:normal;
        text-decoration:none;
    }
.leftMenuTxtOther a:hover
    {
        font-weight:normal;
        text-decoration:underline;
    }
.leftMenuTxtOther a:link
    {
        font-weight:normal;
    }
.leftMenuTxtHome
    {
	    color:#333;
	    
	    text-align:left;
	    overflow:visible;
	    line-height:20px;
	    display:block;
	    padding:0px 0px 3px 0px;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.leftMenuTxtHome a
    {
        font-weight:normal;
        text-decoration:none;
    }
.leftMenuTxtHome a:hover
    {
        font-weight:normal;
        text-decoration:underline;
    }
.leftMenuTxtHome a:link
    {
        font-weight:normal;
    }
.leftMenuTxtRet
    {
	    color:#333;
	    
	    text-align:left;
	    overflow:visible;
	    line-height:20px;
	    display:inline-block;
	    padding:3px 0px 0px 0px;
	    font-weight:normal;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.leftMenuTxtRet a
    {
        font-weight:normal;
        text-decoration:none;
    }
.leftMenuTxtRet a:hover
    {
        font-weight:normal;
        text-decoration:underline;
    }
.leftMenuTxtRet a:link
    {
        font-weight:normal;
    }
.leftMenuTxt a
    {
        
        font-weight:normal;
        text-decoration:none;
        line-height:16px;
        white-space:normal !important;
    }
.leftMenuTxt a:hover
    {
        
        font-weight:normal;
    }
.leftMenuTxt a:link
    {
        font-weight:normal;
        white-space:normal !important;
        line-height:16px;
    }
.leftNavArrowHome    
    {
        width:6px;
        height:7px;
        float:left;
        margin:0px 0px 3px 5px;
    }
.leftNavArrowRet   
    {
        width:6px;
        height:7px;
        float:left;
        margin:3px 0px 3px 5px;
    }
.leftNavArrow    
    {
        width:8px;
        height:8px;
        float:left;
        margin:3px 0px 3px 12px;
    }
/* End Left Menu */
/* Begin: Inner Pages Part Styles */
.innerPgsBody
	{
		height:100%;
	}
#top_head
	{
		height:72px;
	}
.ReportViewer
	{
		height:100%;
		overflow:auto;
	}
.WorkflowButton
	{
		margin-right:2px;
	}
.silhouette
	{
		width:16px;
		border:0px;
		padding-top:21px;
		*padding-top:10px;
		display:inline-block;
	}
.headerDiv
	{
		width:2px;
		border:0px;
		height:18px;
		display:inline-block;
		margin:0px 2px 0px 3px;
	}
/* Begin: Header Part Styles */
#header
	{
		width:100%;
		height:78px;
		min-width:1024px !important;
	}
.HeaderTopLeft
	{
		width:22%;
		float:left;
		height:78px;
		display:inline;
	}
.HeaderTopCenter
	{
		width:20%;
		height:78px;
		line-height:23px;
		text-align:center;
		padding-top:10px;
		display:inline-block;
		font-family:verdana,tahoma,helvetica;
	}
#uppFormTitle
	{
		font-weight:bold;
		padding:7px 0px 0px 10px;
	}
.pageFormTitle
    {   
        /*padding:0px 22px 0px 0px;*/
		font:normal 18px verdana,tahoma,helvetica;
    }
.pageArrow
    {   
        /*padding:14px 22px 0px 0px;*/
		font:normal 13px verdana,tahoma,helvetica;
    }
.HeaderTopRight
	{
		width:58%;
		float:right;
		margin-top:0px\9;
		*margin-top:-88px !important;
		min-width:350px !important;
	}
.headrightIcon
	{
		padding-top:3px;
		vertical-align:top;
	}
.headrightIcon a
	{
		font-weight:bold;
		text-decoration:none;
	}
.headrightIcon a:hover
	{
		text-decoration:none;
	}
#sp5
	{
		padding:0px 2px 0px 1px;
	}
#lblUserId
	{
		padding-left:2px;
	}
.welcomeUser
    {
        color:#fff;
        display:inline;
        padding:3px 10px 0px 18px;
    }	
/*#pnlSmartLinks ul
	{
		list-style:none;
		margin-left:0;
		padding-left:1.063em;
		text-indent:-1.063em;
	}*/
#pnlSmartLinks ul
	{
		margin:10px 0px 0px 0px !important;
	}
#pnlSmartLinks ul
	{
		padding:0;
		list-style-type:none;
	}
#pnlSmartLinks ul li
	{
		margin:2px 0px 2px 0px;
		padding:0px 2px 0px 20px;
	}
#pnlSmartLinks ul li a:hover
	{
		background:none !important;
	}
#calAgency
	{
		margin:5px !important;
	}	
#calAgency td
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calAgency th
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calAgency td a:hover
	{
		background:none !important;
	}
#calEvents
	{
		margin:5px !important;
	}	
#calEvents td
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calEvents th
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calEvents td a:hover
	{
		background:none !important;
	}
.headerButtonBg
	{
		width:31%;
		float:right;
		padding:12px 0 0 0;
		*padding:-10px 0 0 0;
	}
.headerButtons
	{
		float:right;
		cursor:pointer;
		margin-right:20px;
		display:inline-block;
	}
.menubg
	{
		width:100%;
		height:28px;
		display:block;
	}
.Menuleft
	{
		float:left;
		width:24px;
		height:28px;
		display:inline;
	}
.MenuCenter
	{
		float:left;
		width:auto;
		height:28px;
		display:inline;
		padding-top:2px;
		font-weight:bold;
	}
.MenuCenter a
	{
		font-weight:bold;
		text-decoration:none;
	}

.MenuCenter a:hover
	{
		font-weight:bold;
		text-decoration:none;
	}
.MenuRight
	{
		float:left;
		width:24px;
		height:34px;
		display:inline;
		padding-top:2px;
	}
.submenuitem
	{
		padding:5px;
		z-index:20000;
		font-weight:bold;
		margin-bottom:1px;
	}
.submenuover
	{
		padding:5px;
		margin-top:1px;
	}
.mainmenu
	{
		margin-top:1px;
		padding-left:10px;
	}
.level1
	{
		margin-top:1px;
		padding-left:20px;
	}
/* End: Header Part Styles */
/* Begin: Main Content Styles */
/* Begin: Left Content Styles */
		.smartlinks
			{
				margin:0px;
				padding:0px;
				font:bold 10px Verdana, Geneva, sans-serif !important;
			}
		 .smartlinks a
			{
				line-height:15px;
				vertical-align :top;
				text-decoration:none;
				font:bold 10px Verdana, Geneva, sans-serif !important;
			}
		.smartlinks a:hover
			{
				vertical-align:top;
				text-decoration:underline;
				font:bold 10px Verdana, Geneva, sans-serif !important;
			}
		.smartlinks a:visited
			{
				vertical-align:top;
				text-decoration:none;
			}
		.smartlinks ul
			{					
				padding-left:0px;
				padding-top :0px;
				margin:20px 0px 0px 0px !important;
				vertical-align:bottom;
			}
		.smartlinks ul li
			{
				display:block;
				margin:2px 2px 0px 2px;
			}
		.smartlinks ul li a
			{
				padding:0px 5px 5px 0px;
				_height:14px;
				display:block;
				min-height:14px;
				margin-right:5px;
			}
		.leftMPIIcon
		    {
		        float:left;
		        width:20px;
		        height:18px;
		        margin:1px 5px 0px 0px;
		    }
		.leftSmartNaviIcon
		    {
		        float:left;
		        width:20px;
		        height:18px;
		        margin:1px 5px 0px 0px;
		    }
		.leftMyBasketIcon
		    {
		        float:left;
		        width:20px;
		        height:18px;
		        margin:1px 5px 0px 0px;
		    }
	/* End: Left Content Styles */
	/* Begin: Right Content Styles */
		.Message
			{
				width:99%;
				font-weight:bold;
				margin:7px 0px 2px 5px;
				/* min-width:100% !important; */
				
			}
		.Message td
			{
				/*padding:5px 0px 2px 5px;
				*padding:5px 0px 5px 5px;*/
			}
			
		#pnlSubMenu
			{
				padding-left:10px;
			}
		.rightContent
			{
				float:left;
			}
		#lblMessageID
			{
				padding-bottom:10px !important;
			}
		#lblMessage
			{
				padding-bottom:10px !important;
			}
		.headerRtBtn
			{
				float:right;
				cursor:pointer;
				margin:16px 3px 22px -3px;
			}
		.Imagebutton
			{
				cursor:pointer;
				margin:1px 0px 0px 1px;
				*margin:1px 0px 0px 3px;
			}
		.Table
			{
	            width:100%;
	            vertical-align:top;
	            margin-bottom:2px 0px 5px 0px;
			}
		.Table td
			{
			    
				
			}
		.Table td a
			{
				text-decoration:underline;
			}
		.Table td a:hover
			{
				text-decoration:underline;
				background:none !important;
			}	
		#cphCenterMiddle_imgHRSS, #cphCenterMiddle_imgMyVRS, #cphCenterMiddle_imgVRSU, #cphCenterMiddle_imgTLC, #cphCenterMiddle_imgDHRM
			{
				margin-top:3px !important;
			}
		.Label
			{
				text-align:right;
				line-height:20px;
				padding-left:20px !important;
				font: 11px verdana,tahoma,helvetica !important;
			}
		.LabelCenter
			{
				text-align:center;
				line-height:20px;
				padding-left:20px !important;
				font: 11px verdana,tahoma,helvetica !important;
			}
		.LabelLeft
			{
				text-align:left;
				line-height:20px;
				padding-left:20px !important;
				font: 11px verdana,tahoma,helvetica !important;
			}
		.ButtonTable
			{
				display:inline-block;
				display:inline\9;
				*display:inline;
				margin-left:5px;
			}
		.ButtonCell
			{
				border:none;
				height:25px;
				font-weight:bold;
				display:inline-block;
				margin:7px 3px 0px 0px;
				*margin:5px 3px 0px 0px;
				padding:0px 3px 0px 0px;
			}
		input.textboxbg
			{
				height:15px;
				width:150px;
			}
		input.textboxbgnocursor
			{
				/*height:18px;*/
				width:150px;
			}
		input.hasDatepick
			{
				font-family:Verdana;
				font-size:11px;
				width:150px;
				cursor:pointer;
			}
		.hasDatepick
			{
				margin-right:2px;
			}
		select.textboxbg
			{
				padding:2px;
			}
		.textboxbg
			{
				/*font-size:11px;
				line-height:20px;*/
				margin:0px 2px 3px 0px !important;
				font: 11px verdana,tahoma,helvetica !important;
			
			}
        .textboxbgnocursor
			{
				/*font-size:11px;
				line-height:20px;*/
				margin:0px 2px 3px 0px !important;
				font: 11px verdana,tahoma,helvetica !important;
			
			}
		select
			{
				
				font-size:11px;
				margin-right:-0px !important;
				margin:2px 3px 3px 0px !important;
				font: 11px verdana,tahoma,helvetica !important;
			}
		input.buttonbg
			{
			    border:none;
			}
		.buttonbg
			{
				height:25px;
				cursor:pointer;
				line-height:21px;
				display:inline-block;
				padding:0px 5px 4px 10px;
				font-size:10px !important;
				font-weight:bold !important;
				font-family:Verdana !important;
			}
		#cphCenterMiddle_tctHeaderTab
			{
				*border:none !important;
			}
		.Content
			{
				padding:2px;
				/*margin-right:15px;*/
				vertical-align:top;
				/*padding:5px
				overflow-x:auto !important;
				overflow-y:hidden !important;
				height:100% !important;
				max-width:1200px !important;
				visibility:visible;;*/
			}
		
			/* Begin: Grid Styles */
			.gridTable 
				{
					border-width:1px !important;
				}
			.gridTable
				{
					display:block;
					padding:0 10px;
				}
			.gridhead
				{
					
					word-spacing:normal !important;
					white-space:normal ;
					font-size:11px;
					font-weight:bold;
					height:25px !important;
				}
			.gridhead a:hover
				{
					font-weight:bold;
					text-decoration:underline;
				}
			.gridhead a:visited
				{
					font-weight:bold;
					text-decoration:none;
				}
			.gridhead th
				{
					font-size:11px !important;
					text-align:center !important;
					padding:2px 3px 2px 3px !important;
				}
			.gridhead th a
				{
					font-size:11px !important;
					text-align:center !important;
					padding:2px 3px 2px 3px !important;
				}
			.gridnormal
				{
					padding:10px;
					white-space:normal;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridnormal td 
				{
					white-space:normal;
					padding:3px !important;
				}
			.gridnormal span
				{
					font-weight:bold;
					display:inline-block;
					padding:2px 5px 2px 5px;
				}
			.gridodd
				{
					
					/*text-align:center;*/
					word-spacing:normal !important;
					white-space:normal !important;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridodd a
				{
					
					/*text-align:center;*/
					font:bold 10px Verdana, Geneva, sans-serif !important;
				}
			.gridodd td
				{
					/*text-align:left;*/
				}
			tr.gridodd span
				{
					*white-space:pre;
					/*text-align:center;*/
					/*white-space:pre-wrap;*/
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.grideven
				{
					
					/*text-align:center;*/
					word-spacing:normal !important;
					white-space:normal !important;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.grideven a
				{
					
					/*text-align:center;*/
					font:bold 10px Verdana, Geneva, sans-serif !important;
				}
			.grideven td
				{
					/*text-align:left;*/
				}
			tr.grideven span
				{
					*white-space:pre;
					/*text-align:center;*/
					/*white-space:pre-wrap;*/
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridselected
				{
					padding:10px;
					text-align:center;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridselected td
				{
					text-align:left;
				}
			tr.gridselected span
				{
					*white-space:pre;
					text-align:center;
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.primaryaddrcontct td
				{
					padding:3px !important;
				}
			tr.primaryaddrcontct span
				{
					*white-space:pre;
					text-align:center;
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridLabelTextWrap
				{
					font-weight: normal;
					white-space:normal;
				}
		    .HideClientSide
                {
                    display:none;
                    visibility:hidden;
                } 
			/* End: Grid Styles */
	/* End: Right Content Styles */
	/* Begin: Pre-Loader Part Styles */
		.pannelLoader
			{
				top:33px;
				z-index:10;
				left:210px;
				width:250px;
				position:fixed;
			}
		.loaderTxt
			{
				font-weight: bold;
			}
	/* End: Pre-Loader Part Styles */
/* Begin: Footer Part Styles */
#uppFooter
	{
		min-width:1024px !important;
	}
.footer
	{	
		top:auto;
		left:0px;
		right:0px;
		width:100%;
		bottom:0px;
		height:31px;
		display:block;
		visibility:visible;
	}
.footerLeft
	{
		float:left;
		margin:0px;
		height:25px;
		padding:5px 0px 0px 7px;
	}
.footerRight
	{
		margin:0px;
		float:right;
		height:25px;
		text-align:right;
		padding:5px 7px 0px 0px;
	}
.loginFooter
    {
        width:698px;
        height:33px;
        display:inline-block;
        margin:0px 0px 0px 38px;
    }
.loginFooterCenter
    {
        float:left;
        width:698px;
        padding:0px;
        text-align:center;
        *padding:13px 0px 0px 0px;
    }
.loginFooterCenter span
    {
        color:#014274;
        text-decoration:underline;
    }
.loginFooterCenter a
    {
        color:#014274;
        cursor:pointer;
        text-decoration:underline;
    }
.loginFooterCenter a:hover
    {
        color:#0274e7;
        cursor:pointer;
        text-decoration:underline;
    }
.midBoxGrey p
    {
        color:#014274;
        height:25px !important;
        text-decoration:underline;
       /* padding:10px 25px 0px 12px; */
        font:bold 11px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
.midBoxGrey p a.textLinks
    {
        color:#014274;
        text-decoration:underline;
        padding:10px 25px 0px 12px;
        font:bold 12px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
.midBoxGrey p a:hover
    {
        color:#0274e7;
        text-decoration:underline;
        padding:10px 25px 0px 12px;
    }
/* End: Footer Part Styles */
/* Bigin: Mixed Part Styles */
.PanelBodyMiddle
	{
		float: left;
		clear: both;
		width: 100%;
		overflow: auto;
		vertical-align:top;
	}
.PanelBody
	{
		float: left;
		clear: both;
		width: 100%;
		overflow: auto;
	}
.PayeeAccount
	{
		text-align:right;
		font-weight:bold;
		line-height:20px;
		padding-left:20px !important;
		white-space:normal !important;
	}
caption
	{
		width:30%;
		height:25px;
		display:block;
		padding-top:7px;
		font-weight:bold;
		margin:7px 2px 5px 6px;
		text-align:left !important;
	}
.PageNavHead
	{
		height:25px;
		font-size: 11px;
		font-weight: bold;
		padding-bottom:10px;
	}
.PanelHeaderLeft
	{
		border:0px;
		width:32px;
		height:23px;
		padding:0px;
		margin-top:2px;
	}
.PanelHeaderMiddle
	{
		width: 100%;
		font-weight: bold;
	}
.PanelHeaderRight
	{
		width:32px;
		height:23px;
	}
.AlignRight
	{
		text-align:right;
	}
.AlignLeft
	{
		text-align:left;
	}
.AlignCenter
	{
		text-align:center;
	}
.ReqInfo
	{
		width: 150px;
		text-align: right;
	}
.lnkAlert
	{
		font-size:11px;
		font-weight:normal;
	}
.txtlabel
	{
		width:150px;
		font-size:11px;
		margin-right:5px;
	}
.text
	{
		margin-right:5px;
	}
.Divider
	{
		width:90%;
		margin-right:6px;
	}
.TreeNodeMaintenance
	{
		font-weight:normal;
		padding-right:10px;
	}
.TreeNodeLookup
	{
		font-weight:normal;
		padding-right:10px;
	}
#ctl00_cphCenterMiddle_tblCenterMiddle
	{
		padding-top:5px;
	}
.panelbg
	{
		width:100%;
		border:0px;
		margin:0px;
		height:100%;
	}
.PanelMiddle
	{
		margin-top:5px;
		margin-left:5px;
		margin-right:5px;
		width:100%;
	}
.panelleft
	{
		height: 100%;
		font-size:10px;
		font-weight: bold;
	}
.panelleft a, a:link
	{
		font-size:11px;
		line-height:14px;
		font-weight:bold;
	}
.panelleft a:hover
	{
		text-decoration: underline;
	}
.panelbg a:hover
	{
		text-decoration:underline;
	}
.paddingleft25
	{
		padding-left:25px;
	}
.width25
	{
		width:25%;   
	}
.MaskedEditMessage
	{
		font-weight:bold;
	}
.WhiteText
	{
		display:none;
	}
.TDAlignRight
	{
		align:right;
	}
.btnServerSideRefresh
	{
		display:none;
	}
#uppCenterMiddle, #uppMessage
	{
		width:99%;
		z-index:0;
	}
/* End: Mixed Part Styles */
/* End: Main Content Styles */
/* End: Inner Pages Part Styles */

/* Start Of Accordion.css */
div.basic
	{
		width:100%;
		margin:0px;
		padding:0px;
		font-size:11px;
	}
.basic > a
	{
		height:20px;
		outline: none;
		display:block;
		cursor:pointer;
		font-weight:bold;
		line-height:20px;
		/*margin-left:17px;*/
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a.selected
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a.active
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a:hover
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a
	{
		-moz-border-radius-bottomleft:3px !important;
		-moz-border-radius-bottomright:3px !important;
	}
.basic > div.scrolling
	{
		overflow:auto !important;
	}
.basic > div > p
	{
		margin:1.5ex 0px;
		padding:0px 10px 0px 10px;
	}
.basic > div > ul
	{
		margin-top:1ex;
	}
/* End Of Accordian.css */

/* Start Of CollapsiblePanel.css */
.ContainerPanel
	{
		width:100%;
		*margin-top:5px;
	}
.collapsePanelHeader
	{
		height:36px;
		line-height:36px;
		font-size:11px;
		font-family:verdana,tahoma,helvetica;
		font-weight:bold;
		position:relative;
		padding-right:33px;
		margin:3px 0px 0px 0px;
	}
.HeaderContent
	{
		height: 36px;
		cursor:pointer;
		padding-left:7px;
        line-height: 25px;
	}
.ArrowExpand
	{
		bottom:13px;
		width:18px;
		height:18px;
		cursor:pointer;
		float:right;
		right:5px;
		position:absolute;
	}
.ArrowExpand:hover
	{
		cursor:pointer;
	}
.ArrowClose
	{
		bottom:13px;
		width:18px;
		height:18px;
		cursor:pointer;
		float:right;
		right:5px;
		position:absolute;
	}
.ArrowClose:hover
	{
		cursor:pointer;
	}
/* End Of CollapsiblePanel.css */

/* Start Of jquery.datepick.css */
#datepick-div, .datepick-inline
	{
		width:15em;
		margin:0px;
		padding:5px;
		z-index:1000;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
#datepick-div
	{
		display: none;
		z-index: 9999; /*must have*/
	}
.datepick-inline
	{
		float: left;
		display: block;
	}
.datepick-rtl
	{
		direction: rtl;
	}
.datepick-dialog
	{
		padding: 5px !important;
	}
.datepick-disabled
	{
		z-index: 100;
		opacity: 0.5;
		position: absolute;
		filter: alpha(opacity=50);
	}
button.datepick-trigger
	{
		width: 25px;
		padding: 0px;
	}
img.datepick-trigger
	{
		margin: 2px;
		cursor:pointer;
		vertical-align: middle;
	}
.datepick-prompt
	{
		float: left;
		padding: 2px;
	}
* html .datepick-prompt
	{
		width: 15em;
	}
.datepick-control, .datepick-links, .datepick-header, .datepick
	{
		clear: both;
		float: left;
		width: 100%;		
		font-size:9px;
		font-family:Verdana, Geneva, sans-serif !important;
	}
.datepick-control
	{
		padding:0px;
		line-height: 20px;
		vertical-align:middle;
	}
.datepick-links
	{
		padding:0px;
		margin-top:3px;
		line-height: 20px;
		vertical-align:middle;
	}
.datepick-links label
	{
		padding: 2px 5px;
	}
.datepick-clear, .datepick-prev
	{
		float:left;
		width:50px;
		height:20px;
		*padding-top:2px;
		text-align:center;
	}
.datepick-rtl .datepick-clear, .datepick-rtl .datepick-prev
	{
		float: right;
		text-align: right;
	}
.datepick-current
	{
		width:50px;
		height:20px;
		float: left;
		margin-left:4px;
		*padding-top:2px;
		text-align: center;
	}
.datepick-close, .datepick-next
	{
		width:50px;
		height:20px;
		float: right;
		*padding-top:2px;
		text-align:center;
	}
#datepick-div a, .datepick-inline a
	{
		margin:0;
		padding:0;
		cursor:pointer;
		font-size:11px;
		text-decoration:none;
	}
#datepick-div a:hover, .datepick-inline a:hover
	{		
		cursor: pointer;
	}
.datepick-rtl .datepick-close, .datepick-rtl .datepick-next
	{
		float:left;
		text-align:left;
	}
.datepick-header
	{
		width:160px;
		padding:0px 3px 3px 3px;
		font-weight:bold;
		text-align:center;
		margin:2px 2px 0px 0px;
	}
.datepick-header select
	{
		background:none;
	}
.datepick-header span
	{
		top:3px;
		border:0px;
		position:relative;
	}
.datepick-new-month	
	{
		float:left;
		font:bold 10px Verdana, Geneva, sans-serif !important;
	}
.datepick-new-year
	{
		float:right;
		font:bold 10px Verdana, Geneva, sans-serif !important;
	}
.datepick
	{
		text-align:center;
	}
.datepick a
	{
		display: block;
		width: 100%;
	}
.datepick-title-row
	{
		font:bold 11px Verdana,Geneva,sans-serif !important;
	}
.datepick-title-row th
	{
		text-align: center;
	}
.datepick-days-cell
	{
		padding:3px;
	}
.datepick-title-row .datepick-week-end-cell
	{
		padding:3px;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
.datepick-today a
	{
		font-weight:bold;
	}
.datepick-days-cell-over
	{
		font-weight:bold;
	}
.datepick-status
	{
		width: 100%;		
		text-align: center;
	}
.datepick-inline .datepick-links a
	{
		font-size:9px;
		padding: 0 5px !important;
	}
.datepick-links a
	{
		font-size:9px;
		padding: 2px 10px 5px 7px !important;
		font-family:Verdana, Geneva, sans-serif !important;
	}
.datepick-control a
	{
		font-size:9px;
		font-weight:bold;
		padding: 2px 10px 5px 7px !important;
	}
.datepick-one-month
	{
		float: left;
		width: 15em;
	}
.datepick-new-row
	{
		clear: left;
	}
/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover
	{
		top: -1px; /*must have*/
		left: -1px; /*must have*/
		z-index: -1; /*must have*/
		width: 187px; /*must have*/
		height: 187px; /*must have*/
		filter: mask(); /*must have*/
		display: none; /*sorry for IE5*/
		position: absolute; /*must have*/
		display/**/: block; /*sorry for IE5*/
	}
/* End Of jquery.datepick.css */

/* Start Of jquery.flexbox.css */
.ffb-input
	{
		float:left;
	}
/* Drop-down arrow, with sprited image */
.ffb-arrow
	{
		float:left;
		width:18px;
		height:22px;
	}
.ffb-arrow.out
	{ 
		background-position:0;
	}
.ffb-arrow.over
	{
		background-position:-18px 0;
	}
.ffb-arrow.active
	{
		background-position:-36px 0;
	}
.ffb-no-results 
	{
		padding: 2px;
		font-style:italic;
	}
/* Container for dropdown contents */
.ffb
	{
		overflow:hidden;
		position:absolute;
	}
/* Inner div for dropdown */
.ffb .content
	{
		overflow:auto;
	}
.ffb .content .row
	{
		clear:both;
		height:20px;
	}
.ffb-sel
	{
		cursor:hand;
		cursor:pointer;
	}
.ffb-match
	{
		text-decoration:underline;
	}
/* Paging */
.ffb .paging
	{
		margin:2px;
		vertical-align:middle;
	}
.ffb .page, .ffb a.page
	{
		margin:2px;
		float:left;
		padding:2px;
		font-size:85%;
	}
.ffb .box
	{
		float:left;
		width:18px;
		margin:2px;
	}
.ffb .summary
	{
		float:right;
		font-size:85%;
	}
/* Unique IDs */
#ffb8 .row .col1
	{
		float:left;
		width:132px;
	}
#ffb8 .row .col2
	{
		float:left;
		width:232px;
	}
/* End Of jquery.flexbox.css */

/* Start Of jquery-ui-1.7.2.custom.css */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden
	{
		display: none;
	}
.ui-helper-hidden-accessible
	{
		left: -99999999px;
		position: absolute;
	}
.ui-helper-reset
	{
		margin: 0;
		border: 0;
		padding: 0;
		outline: 0;
		font-size: 100%;
		line-height: 12px;
		list-style: none;
		text-decoration: none;
	}
.ui-helper-clearfix:after
	{
		height: 0;
		clear: both;
		content: ".";
		display: block;
		visibility: hidden;
	}
.ui-helper-clearfix
	{
		display: inline-block;
	}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix
	{
		height:1%;
	}
.ui-helper-clearfix
	{
		display:block;
	}
/* end clearfix */
.ui-helper-zfix
	{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		filter:Alpha(Opacity=0);
	}
.ui-state-default a, .ui-widget-content .ui-state-default a
	{
		outline: none;
		font-weight: normal;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
	{
		outline: none;
		/*font-weight: bold;*/
	}
.ui-state-hover
	{
		outline: none;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-state-hover a, .ui-state-hover a:hover
	{
		outline: none;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
/* Overlays */
.ui-widget-overlay
	{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
.ui-state-active, .ui-widget-content .ui-state-active
	{
		outline: none;
		font-weight: bold;
	}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
		outline: none;
		border-top:0px;
		border-bottom:0px;
		text-decoration:none;
		font-size:11px !important;
		font-weight:bold !important;
	}

/* Overlays */
.ui-widget-overlay
	{
		opacity: .30;
		filter:Alpha(Opacity=30);
	}
.ui-widget-shadow
	{
		padding: 8px;
		opacity: .30;
		margin: -8px 0 0 -8px;
		-moz-border-radius: 8px;
		filter:Alpha(Opacity=30);
		-webkit-border-radius: 8px;
	}

/* Tabs */
.ui-tabs
	{
		padding: .2em;
		zoom: 1;
	}
.ui-tabs .ui-tabs-nav
	{
		list-style: none;
		position: relative;
		padding:.6em .2em 0 0;
		font-size:11px !important;
	}
.ui-tabs .ui-tabs-nav li
	{
		float: left;
		position: relative;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li a
	{
		float: left;
		/*padding: .47em 1.063em;
		padding-bottom:.50em;*/
		text-decoration:none;
		font-size:11px !important;
		
		padding:8px 10px 7px 10px;
		*padding:9px 10px 7px 10px;
	}
.ui-tabs-nav li a:hover
	{
		float: left;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
	{
		border-bottom-width: 0;
		padding-bottom: -1px !important;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
	{
		cursor: default;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
	{
		cursor: pointer;
	}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel
	{
		padding:5px;
		display: block;
		margin:-1px 0px 0px 0px;
		*margin:-2px 0px 0px 0px;
	}
.ui-tabs .ui-tabs-hide
	{
		display: none !important;
	}
/* End Of jquery-ui-1.7.2.custom.css */

/* Start Of layout-default-latest.css */
.ui-layout-pane
	{
		padding:0px;
		overflow-y:auto;
		overflow-x:hidden;
	}
.ui-layout-content
	{
		overflow-y:auto;
		overflow-x:hidden;
		position:relative;
		padding:0px 0px 0px 0px;
	}
.ui-layout-resizer
	{
		margin-top:0px;
	}
.ui-layout-resizer-open-hover
	{
		 margin-top:-1px !important;
	}
.ui-layout-resizer-sliding
	{
		opacity: .10;
		FILTER: alpha(opacity=10);
	}
.ui-layout-resizer-sliding-hover
	{
		opacity: 1.00;
		FILTER: alpha(opacity=100);
	}
.ui-layout-resizer-north-sliding-hover
	{
		border-bottom-width:1px;
	}
.ui-layout-resizer-south-sliding-hover
	{
		border-top-width:1px;
	}
.ui-layout-resizer-west-sliding-hover
	{
		border-right-width: 1px
	}
.ui-layout-resizer-east-sliding-hover
	{
		border-left-width:1px;
	}
.ui-layout-resizer-hover .ui-layout-toggler
	{
		opacity: .60;
		FILTER: alpha(opacity=60);
	}
.ui-layout-resizer-hover .ui-layout-toggler-hover
	{
		opacity: 1.00;
		FILTER: alpha(opacity=100);
	}
.ui-layout-toggler-north
	{
		border-width:0px 1px 0px 1px;
	}
.ui-layout-toggler-south
	{
		border-width:0px 1px 0px 1px;
	}
.ui-layout-toggler-west
	{
		border-width:1px 1px 1px 0px;
	}
.ui-layout-toggler-east
	{
		border-width:1px 1px 1px 0px;
	}
.ui-layout-resizer-sliding ui-layout-toggler
	{
		display:none;
	}
.ui-layout-toggler .content
	{
		font-size:11px;
		font-weight:bold;
		padding-bottom:0.35ex;
	}
.ui-layout-center
	{
		padding:0px 5px 5px 5px;
		overflow:auto;
		padding-right:10px;
	}
.ui-layout-south
	{
	    position:fixed;
	    overflow:hidden !important;
	}
/* End Of layout-default-latest.css */

/* Start Of menu.css */
#mnuMain
	{
		width:100%;
		display:inline;
		overflow:visible;
		margin-left:15px;
		position:absolute;
		font-weight:bold;
		height:28px !important;
		font-size :11px !important;
		min-width:1024px !important;
		font-family:verdana,tahoma,helvetica;
	}
#mnuMain ul
	{
		top:0px;
		*top:2px;
		font-size :11px !important;
		margin:0px !important;
		padding:0px !important;
	}
#Menu1
	{
		margin:0px;
		clear:both;
		padding:0px;
	}
#mnuMain ul li
	{
		float:left;
		padding-left:1px;
		position:relative;
		padding-right:3px;
		padding-top:3px !important;
		*padding-top:5px !important;
	}
#mnuMain ul li a
	{
		display:block;
		font-weight:bold;
		line-height:17px;
		font-size :11px !important;
		padding:2px 7px 2px 7px !important;
	}
#mnuMain ul li a:hover
	{
		padding:1px 7px 0px 5px;
	}	
#mnuMain ul ul
	{
		left:0;
		top:27px;
		z-index:999;
		width:220px;
		_width:220px;
		position:absolute;
		margin-top:0px !important;
		border-top:none !important;
	}
#mnuMain ul ul li
	{
		margin:0;
		width:100%;
		padding:0px !important;
		font-size:11px !important;
	}
#mnuMain ul ul li a
	{
		float:none;
		display:block;
		white-space:normal;
		font-size:11px !important;
		padding:5px 6px 5px 7px !important;
	}
#mnuMain ul ul, 
#mnuMain ul li:hover ul ul,
#mnuMain ul li:hover ul ul ul,
#mnuMain ul li.ieover ul ul,
#mnuMain ul li.ieover ul ul ul
	{
		display:none;
	}
#mnuMain li:hover ul,
#mnuMain ul ul li:hover ul,
#mnuMain ul ul ul li:hover ul,
	{
		display:block;
	}
/* End Of menu.css */

/* Start Of ModalPopup.css */
.modalBackground
	{
		text-align:center;
		border-bottom:none !important;
	}
.updateProgress
	{
		width:130px;
		height:70px;
		margin:0px auto;
		border-top:none !important;
		margin-left:-1px !important;
		text-align:center !important;
		border-right:none !important;
		*margin-left:-66px !important;
	}
.progressBarImg
	{
		*margin-left:30px;
		*display:inline-block;
	}
.updateProgressMessage
	{
		font-size:small;
		*margin-left:55px;
		*display:inline-block;
		font:normal 11px Verdana, Geneva, sans-serif !important;
	}
/* End Of ModalPopup.css */

/* Start Of ui.datetimepicker.css */
#datetimepicker_div,  .datetimepicker_inline
	{
		padding: 0;
		margin: 0;
		width: 185px;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}
#datetimepicker_div
	{
		z-index: 10;
		display: none;
	}
.datetimepicker_inline
	{
		border: 0;
		float: left;
		display: block;
	}
.datetimepicker_dialog
	{
		padding: 5px !important;
	}
button.datetimepicker_trigger
	{
		width: 25px;
	}
img.datetimepicker_trigger
	{
		margin: 2px;
		vertical-align: middle;
	}
.datetimepicker_prompt
	{
		float: left;
		padding: 2px;
	}
*html  .datetimepicker_prompt
	{
		width: 185px;
	}
.datetimepicker_control,  .datetimepicker_links,  .datetimepicker_header,  .datetimepicker
	{
		clear: both;
		float: left;
		width: 100%;
	}
.datetimepicker_links
	{
		padding: 2px 0px;
	}
.datetimepicker_control,  .datetimepicker_links
	{
		font-size: 80%;
		font-weight: bold;
		letter-spacing: 1px;
	}
.datetimepicker_links label
	{
		padding: 2px 5px;
	}
.datetimepicker_clear,  .datetimepicker_prev
	{
		width: 34%;
		float: left;
	}
.datetimepicker_current
	{
		width: 30%;
		float: left;
		text-align: center;
	}
.datetimepicker_close,  .datetimepicker_next
	{
		width: 34%;
		float: right;
		text-align: right;
	}
.datetimepicker_header
	{
		height: 3em;
		font-weight: bold;
		padding: 1px 0 3px;
		text-align: center;
	}
.datetimepicker_header select
	{
		border: 0px;
		font-weight: bold;
	}
.datetimepicker
	{
		font-size: 100%;
		text-align: center;
	}
.datetimepicker a
	{
		width: 100%;
		display: block;
	}
#datetimepicker .datetimepicker_daysCell a
	{
		display: block;
	}
#datetimepicker_div a,  .datetimepicker_inline a
	{
		margin: 0;
		padding: 0;
		cursor: pointer;
		background: none;
	}
.datetimepicker_inline .datetimepicker_links a
	{
		padding: 0 5px !important;
	}
.datetimepicker_control a,  .datetimepicker_links a
	{
		padding: 2px 5px !important;
	}
.datetimepicker_oneMonth
	{
		float: left;
		width: 185px;
	}
.datetimepicker_newRow
	{
		clear: left;
	}
.datetimepicker_cover
	{
		top: -4px;
		left: -4px;
		z-index: -1;
		width: 193px;
		height: 200px;
		display: none;
		filter: mask();
		display/**/: block;
		position: absolute;
	}
/* End Of ui.datetimepicker.css */
.watermark
	{
		line-height:25px !important;
		display:inline-block;
	}
/* Start Of extra.css */
#lgnBase_UserNameRequired
	{
	    margin:10px 0px 0px 0px !important;
		*margin:-10px 0px 0px 0px !important;
	}
#lgnBase_PasswordRequired
	{
		margin:-10px 0px 0px 0px !important;
		*margin:-10px 0px 0px 0px !important;
	}
.loginFailureText
	{
		position:absolute !important;
		*padding-top:84px;
		*padding-left:12px;
	}
#lblError
	{
        padding:2px;
        background:#e7e8ec;
	    display:inline-block;
        margin:-5px 5px 15px 5px;
        border:1px solid #dbdce0;
	}
.failureText
	{
        padding:5px;
        background:#e7e8ec;
        border:1px solid #dbdce0;
        font:normal 12px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
		*padding-top:110px;
	}
.datepick-trigger
	{
		width:16px;
		height:16px;
	}
	
	#uppAgencyLinks a
	{
	    padding:5px;
	    line-height:22px;
	}
	
	#uppAgencyLinks a:hover
	{
	    background-image:none !important;
	    padding:5px;
	    line-height:22px;
	}
	#Div1
	{
		/*height:auto !important;*/
	}
#trvCenterLeft	
	{
		margin-left:19px !important;
		font:bold 10px Verdana, Geneva, sans-serif !important;
	}
#trvCenterLeft a:hover
	{
		background:none !important;
	}
#cphCenterMiddle_tblComment td
	{
		text-align:left !important;
	}
#cphCenterMiddle_capSystemMonthlyBaseBenefitAmt
	{
		font-weight:bold !important;
	}
.gridItemThresholdYellow
	{
		padding:10px;
	}
.gridItemThresholdRed
	{
		padding:10px;
	}
.gridItemWrapText
	{
		text-align:left;
		white-space:pre-line;
	}
.labelColumn
	{
		text-align:right;
		white-space:nowrap;
	}
.uppLockPerson
	{
		padding-top:5px;
		display:inline-block !important;
		*display:inline-block !important;
	}
.textBoxDisplayStyleNone
	{
		display:none;    
	}

.s-textbox {
    text-indent: 0.16em;
    height:20px !important;
    color: #003f59;
    background-color: #FFFFFF;
    border: 1px solid #878788;
   border-radius: 4px;
    font-size: 100%;
    padding: 2px .3em;
}

.k-i-calendar
{
    margin-top:-5px !important;
}

.k-numerictextbox .k-link
{
    height:10px !important;
}

.k-numerictextbox .k-icon
{
    height:13px !important;
}

.k-datepicker, .k-numerictextbox {
    border: 0px !important;
    padding: 0px !important;
}

.k-picker-wrap, .k-numeric-wrap {
    background: #FFF !important;
    border: 1px solid #878788 !important;
}

.k-timepicker
{
padding:0px !important;
border:0px !important;
}

#cphCenterMiddle_tblLinkToolbox
	{
		line-height:18px !important;
		vertical-align:top !important;
	}
/* End Of extra.css */
/*Start - Added for Benefit Calculation Screens*/
 .spanLabelOne
	{
		width:320px !important;
		text-align:right !important;
		display:inline-block !important;
	}
.spanLabelTwo
	{
		width:235px !important;
		text-align:right !important;
		display:inline-block !important;
	}
.AppTracking
	{
		width:100px;
		text-align:right;
		padding-left:25px;
		font-weight:normal;
	}
/*End*/

@media print 


{
               .table
                {
                    font:normal 11px verdana,tahoma,helvetica !important;
                }
                    
             .label
                 {
                     font:normal 11px verdana,tahoma,helvetica;
                 }
            .Content
	            {
		            border:none !important;
		            font:normal 11px verdana,tahoma,helvetica !important;
	            }
            .buttonbg
                {
                    background:none !important;
                    color:#000 !important;
                }
            .collapsePanelHeader
                {
                    border:1px solid #000 !important;
                }
                
             .ui-tabs .ui-tabs-panel
                 {
                    border:none !important;
                    border-top:1px solid #000 !important;
                 }
  }
  
 .RowSelectedWF
{
    background-color:Yellow;
}


/* Start: midContent Style */
#midContent
    {
        float:left;
		width:780px;
        margin:4px 0px 0px 0px;
    }
.midContentBox
    {
        float:left;
        width:783px;
    }
.midContentBoxLt
    {
        float:left;
        width:385px;
        padding-right:3px;
    }
.midContentBoxRt
    {
        float:left;
        width:350px;
        padding-left:3px;
        margin-left:10px;
    }
.midContentBoxNewLt
    {
        float:left;
        width:355px;
    }
.midContentBoxNewRt
    {
        width:385px;
    }
.midContentBoxTop
    {
        height:11px;
		width:759px;
    }
.midContentBoxBtm
    {
        height:11px;
		width:759px;
		float:left;
    }
.midBoxTop
    {
        height:11px;
		width:376px;
    }
.midBoxBtm
    {
        height:11px;
		width:376px;
    }
.midBoxBtmInner
    {
        height:11px;
		width:376px;
    }
.midBoxContentBgRpt
    {
        float:left;
		width:735px;
        padding:0px 12px 0px 12px;
    }
.midBoxContent
    {
		min-height:235px;
        padding:0px 0px 0px 12px;
    }
.midBoxContentUser
    {
        width:325px;
        padding:0px;
		min-height:235px;
    }
.midBoxContent img
    {
        float:left;
    }
.midBoxContentUser h1
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:15px 0px 10px 10px;
        font:bold 14px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent h1
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:15px 0px 10px 10px;
        font:bold 14px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent h2
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:5px 0px 20px 0px;
        font:normal 13px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent p
    {
        margin:0px;
        color:#243338;
        text-align:justify;
        padding:7px 0px 7px 10px;
        line-height:23px !important;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent p.bgBottom
    {
        background:none;
    }
.midBoxContent p a
    {
        float:left;
        width:200px;
        color:#424040;
        margin:6px 0px;
        padding-left:6px;
        text-decoration:none;
    }
.midBoxContent p a:hover
    {
        text-decoration:underline;
    }
.midBoxContent ul
    {
        padding:0px;
        color:#243338;
        list-style:none;
        text-align:justify;
        margin:0px 0px 0px 6px;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent ul li
    {
        margin:0px;
        list-style:none;
        line-height:18px;
        padding:3px 15px 3px 15px;
    }
.midBoxBlue
    {
		width:376px;
    }
.midBoxBlue h1
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:10px 0px 0px 12px;
    }
.midBoxBlue h2
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:10px 0px 0px 12px;
    }
.midBoxBlue p
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:14px 11px 0px 22px;
    }
.midBoxBlue p a.textLinks
    {
        color:#243338;
        text-decoration:underline;
        padding:10px 25px 0px 12px;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxBlue p a:hover
    {
        color:#6b9fb0;
        text-decoration:underline;
        padding:10px 25px 0px 12px;
    }
.midBoxBlue span
    {
        color:#014274;
        text-decoration:none;
    }
/* End: midContent Style */
#vlsErrors ul
    {
        margin:0px 0px 0px 7px;
        padding:0px 0px 0px 7px;
    }
#vlsErrors ul
    {
        margin:0px 0px 0px 7px;
        padding:0px 0px 0px 7px;
    }
.bottomTextLeft    
    {
        text-align:left;
    }
.bottomTextRight    
    {
        text-align:right;
    }
    
 .classFormatSSN
 {
 }
 
 /* Entrust Page */
 
.naviHead
    {
		float:left;
		width:100%;
		margin:0px 0px 5px 0px;
		padding:0px 0px 0px 0px;
		border-bottom:1px solid #00377B;
    }
.naviHeadTxt
    {
        color:#194bab;
        text-align:left;
		padding:0px 0px 0px 0px;
        font: lighter 18px 'Open Sans',sans-serif;
    }
.naviHeadStep
    {
        float:right;
        color:#194bab;
		padding:0px 0px 0px 0px;
        font:bold 12px 'Open Sans',sans-serif;
    }
.naviHeadPara
    {
		float:left;
		margin:0px;
		width:100%;
		padding:0px;
		font:normal 12px 'Open Sans',sans-serif;
    }
.naviHeadPara p
    {
		float:left;
		width:100%;
        text-align:justify;
        line-height:18px;
		padding:10px 0px 5px 0px;
		font:normal 12px 'Open Sans',sans-serif;
    }
.loginTxtLeft
	{
		text-align:right;
		display:inline-block;
		padding:0px 5px 0px 7px;
		font:normal 14px 'Open Sans',sans-serif;
	}
.loginTxtLeftPwd
	{
	    width:125px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 13px 7px;
		font:normal 14px 'Open Sans',sans-serif;
	}
.loginTxtLeftUserId
	{
	    width:125px;
		text-align:left;
		display:inline-block;
		padding:3px 5px 0px 7px;
		font:normal 14px 'Open Sans',sans-serif;
	}
.loginTxtRight
	{
		width:175px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 0px 7px;
		font:normal 14px 'Open Sans',sans-serif;
	}
input.btnContinue
	{
		border:none;
		cursor:pointer;
	}

.btnEnroll
	{
		color:#fff;
		background:url(Images/btnBg.png) no-repeat left top;
	}
.btnLogin
	{
		color:#fff;
		background:url(Images/loginBtnBg.png) no-repeat left top;
	}
.btnLoginI
	{
		color:#fff;
		background:url(Images/loginBtnBg.png) no-repeat left top;
	}
.btnContinue
	{
		color:#fff;
		background:url(Images/btnBg.png) no-repeat left top;
	}	
.btnContinue
	{
		float:left;
		width:80px;
		height:27px;
		margin:0px 0px 0px 5px;
		padding:3px 0px 5px 0px;
		font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
	}
.loginContentMid
    {
        float:left;
		width:610px;
        color:#014274;
        padding:0px 0px 10px 25px;
    }
    
.loginTxtBoxQA
    {
	    height:25px;
	    width:207px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 2px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginSelectBoxQA
    {
	    height:26px;
	    width:356px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 1px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginTxtBoxMM
    {
	    height:20px;
	    width:30px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 0px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginTxtBoxDD
    {
	    height:20px;
	    width:30px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 0px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginTxtBoxYYYY
    {
	    height:20px;
	    width:78px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 0px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginTxtBoxSSN4
    {
	    height:20px;
	    width:30px;
	    text-align:left;
	    margin:0px 0px 10px 13px;
	    vertical-align:middle;
	    padding:2px 0px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginTxtBoxSSN5
    {
	    height:20px;
	    width:78px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 0px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.LinkButtonBlue
    {
        color: blue; 
        text-decoration: underline;  
    }
    
 #cphCenterMiddle_txtESSOrgId
    {
        display:none;
        background-color:White;
    } 
    
    .Literal
    {
        padding:5px 5px 2px 18px;
        display:block;
    }
    
.RemoveWrap
{
    text-align:left;
}

  #datePicker
        {
            display:none;
            position:absolute;
            border:solid 2px black;
            background-color:white;
        }
        .content
        {
            width:400px;
            background-color:white;
            margin:auto;
            padding:10px;
        }
/* Added for Framework version 6.0.0.24*/
        .tag-list {
    list-style-type: none;
    width: calc(100% - 11px);
    border: 1px solid #808080;
    float: left;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    margin: 0px 0px 5px 5px;
}

    .tag-list li {
        float: left;
        box-sizing: border-box;
        margin-right: 5px;
        position: relative;
    }

        .tag-list li .tagcaption {
            display: none;
            position: absolute;
            z-index: 99;
            top: -22px;
            white-space: nowrap;
            background: #CCC;
            padding: 3px;
            border: 1px solid #EEE;
            font-size: 10px;
        }

        .tag-list li a {
            cursor: pointer;
            display: block;
            color: #FFF;
            padding: 5px 20px;
            position: relative;
            background: #808080;
            height: 15px;
        }

            .tag-list li a:hover {
                color: #FFFFFF;
                background: #BBB;
            }

        .tag-list li:hover a:before {
            content: "X";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            border-left-color: #BBB;
            color: red;
        }

        .tag-list li:hover a:after {
            border-left-color: #BBB;
        }

        .slider-container
{
    width: 100%;
    float: left;
}


.ui-slider
{
    width: 80%;
    float: left;
}


.slider-value
{
    width: 18%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}

/* Add bleow css at the end of common.css */
.nav-store-state {
    background: url('../Images/store-session-img.png') no-repeat 3px 6px;
}


.nav-store-state:hover {
    background: url('../Images/store-session-img-hover.png') no-repeat 3px 6px;
}

/* Note: You may need to take the help of UI team*/

/*Add below css at the end common.css*/
   .ui-datepicker{
       z-index: 9999999999 !important;
     }
/*Freamwork Versoin 6.0.0.26.0*/
.slider-container
{
    width: 100%;
    float: left;
}
 
 
.ui-slider
{
    width: 80%;
    float: left;
}
 
 .slider-value {
    width: 10%;
    float: left;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: -2px;
}
 #slider_sldPageSize
{
    width: 100px;
    border: 1px solid;
}
 
.ui-slider-handle:hover {
   background: #026270 !important;
   border:1px solid;
}

.ui-slider-handle {
   background: #7a7672 !important;
}

#ToolTipDiv{
    opacity: 1 !important;
}

/*Freamwork Versoin 6.0.0.28.0
Add below css at the end of Commn.css*/
	
.HighlightError {
border: 1px solid red !important;
}

.HighlightError_Page {
border: 1px solid red !important;
color: red !important;
}


.HighlightError_Tab {
border: 1px solid red !important;
color: red !important;
}
.HighlightError_Tab a {
/*border: 1px solid red !important;*/
font-weight: bold;
color: red !important;
}

.drplistforcasddl {  background: -webkit-linear-gradient(#eee, #fff); /* For Safari 5.1 to 6.0 */    
                     background: -o-linear-gradient(#eee, #fff); /* For Opera 11.1 to 12.0 */   
                     background: -moz-linear-gradient(#eee, #fff); /* For Firefox 3.6 to 15 */   
                     background: linear-gradient(#eee, #fff); /* Standard syntax (must be last) */ 
} 
       