<div class="portlet-body" id="$id">
    <div class="form-group">
        <label class="col-xs-4">Table Name :</label>
        <div class="col-xs-8">
            <tablenameintellisense selecteditem="objEntityTableName" onchangecallback="validateTableName()" />
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="EntityTableErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input class="dialog-btn" type="button" value="OK" ng-click="setTableName()"  ng-disabled="EntityTableErrorMessage.length>0"/>
        <input class="dialog-btn" type="button" value="Cancel" ng-click="closeTableDialog()" />
    </div>
</div>

