<div>
    <ul ng-if="element[expandedProperty]" class="marg-left-20">
        <li ng-repeat='element in element[childCollectionProperty] |filter:filtertext'>
            <span class="info-tooltip" ng-if="element.errors.empty_id || element.errors.inValid_id || element.errors.duplicate_id" ng-attr-title="{{element.errors.empty_id || element.errors.inValid_id || element.errors.duplicate_id}}" style="color:red !important"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
            <!--<span style="position: relative;padding:0px;" duplicate-id-obj curr-obj="element" callback-fn="findParentAndChildObject(paramObj)"> </span>-->
            <div context-menu="contextmenuproperty" ng-class="{'selected':element==selecteditem, 'bckgGrey' : element.isAdvanceSearched, 'bckgGreen': (element==selecteditem && element.isAdvanceSearched)}">
                <i ng-if="element[childCollectionProperty].length>0" ng-click="toggleExpandCollapse($event,element)"
                   ng-class="element[expandedProperty]?'fa fa-minus':'fa fa-plus'" class="entity-query-tree-fa-minus"></i>
                <span ng-dblclick='onItemDoubleClik($event,element)' ng-click="onItemClick(element)"
                      ng-bind="getPropertyValue(element,textProperty)" selectedsection="selectedsection"
                      droprule dropdata="element" ondragenter="return false;" title="{{getPropertyValue(element,textProperty)}}"></span>
            </div>
            <div common-entity-tree-child-directive>
            </div>
        </li>
    </ul>
</div>