<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HTTPPORT" value="8081" />
    <add key="HTTPSPORT" value="8082" />
	<add key="SilentInstallation" value="false" />
	<add key="SkipCertificateInstallation" value="false" />
	<add key="CertificateLocation" value="" />
	<add key="CertificateHash" value="" />
	<add key="CertificatePassword" value="" />
	<add key="AddToTrustedRoot" value="true" />
	<add key="UseExistingCertificate" value="true" />
	<add key ="PrinterRequiresOutputFileName" value="Microsoft XPS Document Writer;Microsoft Print to PDF;OneNote;One Note;"/>	
  </appSettings>
</configuration>