<div class="portlet-body" id="$id">
    <div class="col-xs-12 full-height">
        <div class="height-5">
            <input type="checkbox" ng-model="isMappedColumnSelectAllChecked" ng-change="onSelectAllMappedColumnChange()" />
            <span class="marg-left-10">Select All</span>
        </div>
        <div class="height-90">
            <ul class="list-unstyled">
                <li ng-repeat="unmappedColumn in lstUnmappedColumns">
                    <input type="checkbox" ng-model="unmappedColumn.IsSelect" />  {{unmappedColumn.dictAttributes.ID}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="setUnmappedColumns()" />
    <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeAddUnmappedColumnsDialog()" />
</div>
