<div class="portlet-body" id="$id">
    <div class="form-group">
        <label class="col-xs-4">Business Object :</label>
        <div class="col-xs-8">
            <businessobjectintellisensetemplate isonlybusobject=true busobjectname="objEntityBusinessObject" ></businessobjectintellisensetemplate>
        </div>
    </div>
</div>
<div class="form-actions">
    <input class="dialog-btn" type="button" value="OK" ng-click="setBusinessObject()" />
    <input class="dialog-btn" type="button" value="Cancel" ng-click="closeBusinessObjectDialog()" />
</div>

