<div class="portlet-body">
    <table class="table table-striped table-hover table-bordered dataTable no-footer">
        <tr role="columnheader">
            <th>Field Name</th>
            <th>Code ID</th>
        </tr>
        <tr role="row" ng-repeat="codeValue in lstCodeValues">
            <td><span ng-bind="codeValue.FieldName"></span></td>
            <td style="position:relative">
                <codegroupintellisensetemplate insidegrid="true" codegrouplabelclass="" codegrouptextboxclass="" codegroupid="codeValue.CodeValue" propertyname="'CodeValue'" model="codeValue" codegrouptext="" showcodegrouptext="false"></codegroupintellisensetemplate>
            </td>
        </tr>
    </table>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="OK" ng-click="onOKClick()" />
    <!--<input type="button" class="dialog-btn" value="Cancel" ng-click="onCancelClick()" />-->
</div>

