<div class="portlet-body scenario-overflow-hide" id='Scope_{{$id}}'>
    <div class="col-xs-12 div-border full-height overflowA">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th width="40%">Parameter Field</th>
                    <th width="40%">Parameter Value</th>
                    <th width="20%">Constant</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="param in xmlMethodParameters">
                    <td width="40%"><span ng-bind="param.ParamID"></span></td>
                    <td width="40%" ng-show="param.IsConstant">
                        <input type="text" class="form-control input-sm" ng-model="param.Value" ng-disabled="isParamAlreadySet && isParamAlreadySet(param)" />
                    </td>
                    <td width="40%" ng-hide="param.IsConstant">
                        <span ng-bind="param.Value" ng-show="isParamAlreadySet && isParamAlreadySet(param)"></span>
                        <entityattributeintellisense type="'Column,Object,Property'" isloadinheritedobjects="true" modebinding="param.Value" model="param" entityid="objEntity.dictAttributes.ID"
                                                      propertyname="'Value'" ng-hide="isParamAlreadySet && isParamAlreadySet(param)"></entityattributeintellisense>
                    </td>
                    <td width="20%">
                        <input type="checkbox" ng-model="param.IsConstant" ng-disabled="isParamAlreadySet && isParamAlreadySet(param)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onSetNavParamOKClick()" />
</div>
