<div class="node" ng-class="getCssClass(model)" ng-dblClick="OnLoopExecutionClick()">
    <div class="node-header-container {{::model.Name}}-node-icon">
        <span class="node-expression-inline node-header-block" ng-bind="model.dictAttributes.Text" ng-show="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0"></span>
        <span class="node-expression-inline node-header-block text-italic" ng-hide="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0">[BLANK]</span>

        <span class="execution-count" ng-show="model.LoopExecutionCount && model.LoopExecutionCount > 0" ng-if="!model.CanExpandOrCollapse" ng-bind="model.LoopExecutionCount"></span>
        <span class="execution-count" ng-hide="model.LoopExecutionCount && model.LoopExecutionCount > 0" ng-if="!model.CanExpandOrCollapse">0</span>
    </div>
    <div class="node-expression-container" ng-class="getClass()">
        <span class="node-expression-inline" ng-bind="model.dictAttributes.sfwItemName" ng-show="model.dictAttributes.sfwItemName && model.dictAttributes.sfwItemName.trim().length>0"></span>
        <span class="node-expression-inline text-italic" ng-hide="model.dictAttributes.sfwItemName && model.dictAttributes.sfwItemName.trim().length>0">[BLANK]</span>
        &nbsp;&nbsp;of&nbsp;&nbsp;
        <span class="node-expression-inline node-expression-inline-long" ng-bind="model.dictAttributes.sfwObjectID" ng-show="model.dictAttributes.sfwObjectID && model.dictAttributes.sfwObjectID.trim().length>0"></span>
        <span class="node-expression-inline node-expression-inline-long text-italic" ng-hide="model.dictAttributes.sfwObjectID && model.dictAttributes.sfwObjectID.trim().length>0">[BLANK]</span>
    </div>
</div>
