<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">ID  </label>
                <input type="text" class="form-control input-sm" title="{{objBookMark.id}}" ng-model="objBookMark.id" ng-change="validateID()" ng-disabled="IsBaseAppModel" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Entity Field</label>
                <div>
                    <entityfieldelementintellisense modebinding="objBookMark.EntityField" model="objBookMark" entityid="objBookMark.Entity" propertyname="'EntityField'" isshowonetoone="true" isshowcolumns="true" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="errorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input class="dialog-btn-default" type="button" value="OK" ng-disabled="errorMessage && errorMessage.length > 0" ng-click="updateStandardBookMark()" />
        <input class="dialog-btn-default" type="button" value="Cancel" ng-click="cancel()"/>
    </div>
</div>