
<div control-head ng-click='selectControl(model,$event)' ng-dblclick='selectControlOnDoubleClick(model,$event)'
     ng-class='{ "select-label-control": model.IsSelected, "bckgGrey": model.isAdvanceSearched, "bckgGreen": model.isAdvanceSearched && model.IsSelected}'>
    <img height='18' width='18' src='images/Form/icon-user-control.svg' class="image-icon-tools" ng-if="!model.IsSelected" />
    <img height='18' width='18' src='images/Form/icon-user-control-selected.svg' class="image-icon-tools" ng-if="model.IsSelected" />

    {{getValue(model)}}

    <div class='display-readonly'>
        <base-control-view ng-repeat='obj in model.UcChild' formodel='formodel' model='obj' objparent='model' entitytreename='entitytreename' lstdisplayentities='lstdisplayentities'
                         lstloadedentitytrees='lstloadedentitytrees' lstloadedentitycolumnstree='lstloadedentitycolumnstree' ng-click='selectControl(obj, $event)'
                         ng-dblclick='selectControlOnDoubleClick(obj,$event)' ng-if='obj.Name == "sfwTable"' buttons-collection='buttonsCollection' modelname="{{obj.Name}}">
        </base-control-view>
    </div>

</div> 





