/*issue no - 4055*/
.overflow-hidden {
    overflow: hidden !important;
}
    .overflow-hidden .form-body {
    height:100%;
    }
.overflow-hidden .form-body .information-div {
    height: 39%;
    float: left;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.overflow-hidden .form-body .value-tablediv {
    height: 60%;
    float: left;
    overflow: auto;
    width: 100%;
}

    .overflow-hidden .form-body .value-tablediv .set-value-table {
    height:97%;
    }

    .overflow-hidden .form-body .value-tablediv .portlet-body {
    height:calc(100% - 0px) !important;
    overflow:hidden;
    }
.mar-rgt-10 {
margin-right:10px;
    }
.span-width5 {
width:5%;
float:left;
color:darkred;
font-weight:bold
}
.input-width95 {
width:95%;
float:left;
}
.input-output-column
{
    border:1px solid #ddd;
    height:200px;
    overflow:auto;
    margin-left: -9px;
    margin-right: -7px;
    padding:5px 0px;
}
.input-output-column ul li{
    list-style-type:none;
    padding-left:20px;
}
.scroll-hide
{
    overflow:hidden !important;
}
.input-output-border
{
    border-bottom:1px solid #ddd;
}
.input-outout-right{
    text-align:right;

}
.scroll-not .form-body .new-rule-table {
height:40% !important;
overflow:auto !important;
}
.retrun-type-span {
width:2%;
float:left;
color:red;
}
.retrun-type-select {
width:98%;
float:left;
}
.bdr-btm-rp {
border:1px solid #ccc;
width:49% !important;
padding:0px;
}
    .bdr-btm-rp p {
    border-bottom:1px solid #ccc;
    padding:5px;
    }