
.selected-item {
    border: 2px solid #e77b21 !important;
}

.selected-label {
    color: #e77b21 !important;
    font-weight: bold;
}

.selected-button {
    background: #e77b21 !important;
}

table[sfwcontroltype="sfwGrid"].selected-item:before {
    background-color: #e77b21;
}
.selected-checkbox {
    outline: 2px solid #e77b21!important;
}

.s3-table-selector-parent {
    position: absolute;
    cursor: pointer;
}
.s3-table-selector {
    position: relative;
    height: 20px;
    width: 20px;
    left: -10px;
    z-index: 9999;
    top: -17px;
}

    .s3-table-selector::before {
        content: url('../images/FormLink/Table_Selector_12_12.png');
    }

.s3-selected-tabsheet {
    color: #e77b21 !important;
    font-weight: bold;
}
    .s3-selected-tabsheet a {
        color: #e77b21 !important;
    }
