<div class="portlet-body">
    <div class="form-group" ng-repeat="objType in lstDBTypes">
        <input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" class="col-xs-1" ng-model="objType.IsSelected" />
        <label class="col-xs-3 control-label input-sm">{{objType.ID}}</label>
    </div>
</div>
<div class="form-actions">
    <input type="button" value="OK" class="btn dialog-btn" ng-click="onAddQueryTypeOkClick()" />
    <input type="button" value="Cancel" class="btn dialog-btn" ng-click="onCancelClick()" />
</div>