<div class="portlet-body run-result-main">
    <div class="form-body rule-errors-search-criteria">

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Error From Date</label>
                <input class="form-control input-sm form-control-inline date-picker" size="16" type="text" ng-model="EffectiveDate" ng-change="validationForDate(EffectiveDate)">
            </div>
            <div class="form-group">
                <label class="control-label">Rule Name</label>

                <input type="text" class="form-control input-sm" title="{{RuleName}}" autofocus ng-model="RuleName" ng-readonly="RuleNameReadOnly" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Error To Date</label>
                <input class="form-control input-sm form-control-inline date-picker" size="16" type="text" ng-model="ToDate" ng-change="validationForDate(ToDate)">
            </div>
            <div class="form-group">
                <input type="button" class="btn dialog-btn-default dialog-btn-search" value="Search" ng-click="OnSearchClick('Rule Errors')" ng-disabled="!isValid"/>
        </div>
        </div>
    </div>
    <div class="run-result-table-outer rule-errors-search-criteria-table">
        <div class="run-result-table-inner full-height" ng-scrolldown callback="OnSearchScrollDown()" ngpausescroll="runResult.IsProcessing" ngscrollheight="9" ng-show="runResult.lstRuleErrors && runResult.lstRuleErrors.length>0">
            <table class="sws-table">
                <thead>
                    <tr>
                        <th>ERROR_ID</th>
                        <th>ERROR_MESSAGE</th>
                        <th>PRIMARY_KEY</th>
                        <th>RULE_NAME</th>
                        <th>RULE_STEP</th>
                        <th>RULE_STEP_ID</th>
                        <th>CREATED_BY</th>
                        <th>CREATED_DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in runResult.lstRuleErrors">
                        <td><span ng-bind="data.ERROR_ID"></span></td>
                        <td><span ng-bind="data.ERROR_MESSAGE"></span></td>
                        <td><span ng-bind="data.PRIMARY_KEY"></span></td>
                        <td><span ng-bind="data.RULE_NAME"></span></td>
                        <td><span ng-bind="data.RULE_STEP"></span></td>
                        <td><span ng-bind="data.RULE_STEP_ID"></span></td>
                        <td><span ng-bind="data.CREATED_BY"></span></td>
                        <td><span ng-bind="data.CREATED_DATE"></span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8">
        <span class="alert-error-msg fleft" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="btn dialog-btn-default" ng-click="CloseRuleErrorsDialog()" />
    </div>
</div>