<div class="portlet-body">

    <div class="table-scrollable">
        <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
            <thead>

                <tr role="heading">
                    <th tabindex="0" class="sorting_asc ui-resizable padding-0" aria-controls="sample_editable_1" aria-label="Attribute activate to sort column ascending" aria-sort="ascending" rowspan="1" colspan="13">
                        <div class="table-hader-actions">
                            <i class="fa fa-arrow-down" ng-click="objLookupResultGrid.moveSelectedRowDown()" ng-disabled="objLookupResultGrid.canmoveSelectedRowDown()"></i>
                            <i class="fa fa-arrow-up" ng-click="objLookupResultGrid.moveSelectedRowUp()" ng-disabled="objLookupResultGrid.canmoveSelectedRowUp()"></i>
                        </div>
                        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
                    </th>
                </tr>

                <tr>
                    <th>Field Name</th>
                    <th>Data Type</th>
                    <th>Header</th>
                    <th>Control Type</th>
                    <th>Data Format</th>
                    <th>Data Key</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="obj in objLookupResultFields.lstResultFieldsForGrid" ng-click="objLookupResultGrid.SelectedResultGridRow(obj)" ng-class="{'selected':obj==objLookupResultGrid.SelectedCurrentResultGridRow}">
                    <td><span ng-bind="obj.strFieldName"></span></td>
                    <td><span ng-bind="obj.strDataType"></span></td>

                    <td><input type="text" name="header" title="{{obj.strHeaderText}}" ng-model="obj.strHeaderText" class="form-control form-filter input-sm" /></td>
                    <td>
                        <select ng-options="x for x in lstControlTypes" title="{{obj.strControlType}}" ng-model="obj.strControlType" class="form-control form-filter input-sm"></select>
                    </td>
                    <td>
                        <select ng-options="x for x in lstDataFormat" title="{{obj.strDataFormat}}" ng-model="obj.strDataFormat" class="form-control form-filter input-sm"></select>
                    </td>
                    <td>
                        <select ng-options="x for x in lstDataKey" title="{{obj.strDataKey}}" ng-model="obj.strDataKey" class="form-control form-filter input-sm"></select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>



<div class="form-actions">
    <input class="dialog-btn" type="button" value="Cancel" ng-click="CloseWizardClick()" />
    <input class="dialog-btn" type="button" value="Back" wz-previous="onPrevious()" />
    <input class="dialog-btn" type="button" value="Next" wz-next="objLookupResultGrid.UpdateOnFormDetailsNext();onNext()" />
    <input class="dialog-btn" type="button" value="Finish" wz-finish disabled="disabled" />
</div>