<div class="portlet-body">

    <div class="create-object-container col-xs-12">

        <div class="col-xs-4 full-height width-40">
            <div class="panel panel-primary">
                <div class="panel-body full-height">

                    <div class="form-group">
                        <input type="checkbox" name="New button" ng-true-value="'True'" ng-false-value="'False'" ng-model="objLookupGridButton.IsNewButton" />
                        <label>New Button</label>
                    </div>

                    <div class="form-group full-height">
                        <ul class="Active-Ul">
                            <li ng-repeat="obj in objLookupGridButton.lstParamFieldsForNew">  
                                                                    
                                   
                                  <input type="checkbox" name="batch" ng-model="obj.IsSelected" class="form-filter input-sm" /> {{obj.ID}}
                                    
                                    
                                                          
                            </li>
                        </ul>

                        <label>Active Form:</label>
                        <input type="text" name="active form" class="form-control input-sm" title="{{objLookupGridButton.NewActiveForm}}" ng-model="objLookupGridButton.NewActiveForm" />

                    </div>

                </div>

            </div>
        </div>

        <div class="col-xs-4 full-height width-40">
            <div class="panel panel-primary">
                <div class="panel-body full-height">

                    <div class="form-group">
                        <input type="checkbox" name="Open button" ng-true-value="'True'" ng-false-value="'False'" ng-model="objLookupGridButton.IsOpenButton" />
                        <label>Open Button</label>
                    </div>

                    <div class="form-group full-height">
                        <ul class="Active-Ul">
                            <li ng-repeat="obj in objLookupGridButton.lstParamFieldsForUpdate">
                              
                                   
                                        <input type="checkbox" name="batch" ng-model="obj.IsSelected" class="form-filter input-sm" /> {{obj.ParamName}}
                                  
                                   
                                
                            </li>
                        </ul>

                        <label>Active Form:</label>
                        <input type="text" name="active form" class="form-control input-sm" title="{{objLookupGridButton.OpenActiveForm}}" ng-model="objLookupGridButton.OpenActiveForm" />

                    </div>

                </div>

            </div>
        </div>

        <div class="col-xs-4 add-btn-adjust check-label-manage">
            <div class="form-group">
                <div class="col-xs-10"><input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-model="objLookupGridButton.IsDeleteButton" /> Delete Button</div>        
            </div>

            <div class="form-group">
                <div class="col-xs-10"><input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-model="objLookupGridButton.IsExportExcelButton" /> Export Excel Button</div>
              
            </div>
                     
        </div>

    </div>
</div>

<div class="form-actions">
    <input class="dialog-btn" type="button" value="Cancel" ng-click="CloseWizardClick()" />
    <input class="dialog-btn" type="button" value="Back" wz-previous="onPrevious()" />
    <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-disabled="!showExtraFieldsTab"/>
    <input class="dialog-btn" type="button" value="Finish" wz-finish ng-disabled="showExtraFieldsTab" />
</div>
