<div class="node" ng-class="getCssClass(model)" ng-dblClick="OnCallLogicalRuleDoubleClick()">
    <div class="node-header-container {{::model.Name}}-node-icon">
        <span class="node-header-inline" ng-bind="model.dictAttributes.Text"></span>
    </div>
    <div class="node-expression-container" ng-class="getClass()">
        <span class="node-expression-inline execution-value" ng-show="model.ActualValue && model.ActualValue.toString().trim().length > 0" ng-bind="model.ActualValue"></span>
        <span class="node-expression-inline execution-value text-italic" ng-hide="model.ActualValue && model.ActualValue.toString().trim().length > 0">[BLANK]</span>
        <span class="node-expression-inline" ng-bind="model.dictAttributes.sfwReturnField" ng-show="model.dictAttributes.sfwReturnField && model.dictAttributes.sfwReturnField.trim().length>0"></span>
        <span class="node-expression-inline text-italic" ng-hide="model.dictAttributes.sfwReturnField && model.dictAttributes.sfwReturnField.trim().length>0">[BLANK]</span>
        &nbsp;&nbsp;=&nbsp;&nbsp;
        <span class="node-expression-inline node-expression-inline-long" ng-bind="model.dictAttributes.sfwRuleID" ng-show="model.dictAttributes.sfwRuleID && model.dictAttributes.sfwRuleID.trim().length>0"></span>
        <span class="node-expression-inline node-expression-inline-long text-italic" ng-bind="model.dictAttributes.sfwRuleID" ng-hide="model.dictAttributes.sfwRuleID && model.dictAttributes.sfwRuleID.trim().length>0">[BLANK]</span>
    </div>
</div>
