<div>
    <div unselectable="on">
        <i ng-class="getPropertyValue(element,expandedProperty)?'fa fa-minus':'fa fa-plus'" ng-click="toggleExpandCollapse($event,element)" ng-show="getPropertyValue(element,childCollectionProperty).length>0"></i>
        <!--<input type="checkbox" ng-model="getPropertyValue(element,checkedProperty)" ng-show="showCheckBox" />-->
        <span ng-dblclick='onItemDoubleClik($event,element)' ng-click="onItemClick($event,element)" ng-class="element == selectedItem? 'selected' : '' " ng-bind="getPropertyValue(element,textProperty)"></span>
    </div>
    <ul ng-show="getPropertyValue(element,expandedProperty)">
        <li ng-repeat='element in getPropertyValue(element,childCollectionProperty)' class="common-tree-list marg-left-15 margin-left-24">
            <div common-tree-child-directive></div>
        </li>
    </ul>
</div>