<div id="invalidFiles" class="portlet-body" style="height:calc(100% - 5px) !important">
    <ul class="nav nav-tabs" ng-init="selectedErrorTab='Duplicate'">
        <li ng-class="selectedErrorTab=='Duplicate'?'active':''" ng-click="selectedErrorTab='Duplicate'">
            <a data-toggle="tab" aria-expanded="true">
                Duplicate
            </a>
        </li>
        <li ng-class="selectedErrorTab=='Invalid'?'active':''" ng-click="selectedErrorTab='Invalid'">
            <a data-toggle="tab" aria-expanded="false">
                Invalid
            </a>
        </li>
        <li ng-class="selectedErrorTab=='NotSupported'?'active':''" ng-click="selectedErrorTab='NotSupported'">
            <a data-toggle="tab" aria-expanded="false">
                Not Supported
            </a>
        </li>
    </ul>
    <div class="form-group">
        <div class="col-md-12">
            <table class="table table-bordered dataTable no-footer" role="grid" aria-describedby="sample_editable_1_info">
                <thead>
                    <tr>
                        <th ng-if="selectedErrorTab=='Invalid'">Error</th>
                        <th>File Name</th>
                        <th>File Path </th>
                        <!--<th>Status </th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in fileErrorList | orderBy:'FileName' | filter:{Status:selectedErrorTab}">
                        <td ng-if="selectedErrorTab=='Invalid'">
                            <span ng-bind="error.Error"></span>
                        </td>
                        <td>
                            <span ng-bind="error.FileName"></span>
                        </td>
                        <td>
                            <span ng-bind="error.FilePath"></span>
                        </td>
                        <!--<td>
                            <span ng-bind="error.Status"></span>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

