<div class="searchSource" ng-class="{'blurredElement' : !searchfocus , 'borderRed' : !SearchSource.searchFindarray.length && SearchSource.searchSourceText}">
    <div class="col-xs-12 marg-b">
        <div class="input-group marg-top-5">
            <input type='text' class='form-control input-sm marg-top-5 xm-search-textbox' placeholder='Search' title='Search in the source' ng-focus="searchfocus=true" ng-blur="searchfocus=false" ng-model="searchtext" ng-change="onsearchtextchange()" ng-keydown="inputKeydownCallback($event)" ng-paste="inputpasteCallback($event)"/>
            <button ng-disabled="!searchtext" class='input-group-addon xm-search-add-btn'  ng-click='SearchSourceFind($event)'>
                <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
            <button class='input-group-addon xm-search-close-btn' ng-click='CloseSearchSource($event)' >
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>       
    <div class="col-xs-12 marg-bottom-5 mar-top4" ondragstart="return false;">
        <span class="searchSourceIcons" ng-class="{enable : SearchSource.IsCaseSensitive }" title="Match case" ng-click='SearchCriteriaChange("case")'>
            <img src="images/Common/matchcase_black.svg" height="20" width="20" />
        </span>
        <span class="searchSourceIcons" ng-class="{enable : SearchSource.IsWholeMatchWord }" title="Match whole word" ng-click='SearchCriteriaChange("word")'>
            <img src="images/Common/matchwholeword_black.svg" height="20" width="20" />
        </span>
        <span class="searchSourceIcons" ng-class="{enable : SearchSource.IsSearchRegex }" title="Use Regular Expressions" ng-click='SearchCriteriaChange("regex")'>
            <img src="images/Common/regex_black.svg" height="20" width="20" />
        </span>
        <span class="pull-right" ng-if="SearchSource.searchFindarray.length > 0">{{SearchSource.searchFindarray.length}} match<text ng-if="SearchSource.searchFindarray.length > 1">es</text></span>
        <span class="pull-right" ng-if="!SearchSource.searchFindarray.length && SearchSource.searchSourceText">No match</span>
    </div>
</div>