<div class="portlet-body" ng-controller="BrowseForQueryController">
    <div class="form-fiveandsix" ng-show="isSet(1)">
        <div class="bpm-container">
            <div class="bpm-container-title">
                <span>Parameters</span>
                <img src="images/Scenario/icon-refresh.svg" class="image-icon-tools fright" ng-click="onRefreshParams()" title="Refresh Parameters">                  
            </div>
            <div class="bpm-container-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Value</th>
                            </tr>
                            <tr role="row" ng-repeat="obj in queryParameters">
                                <td><span ng-bind="obj.ID"></span></td>
                                <td>
                                    <select class="form-control input-sm" ng-options="x for x in queryValues" title="{{obj.Value}}" ng-model="obj.Value">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <input class="dialog-btn-default" type="button" value="OK" ng-click="setQueryParameters()" />
</div>