<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">File Name</label>
                <input type="text" class="form-control input-sm" title="{{objFormsDetails.FormName}}" ng-model="objFormsDetails.FormName" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label"> Entity</label>
                <fileintellisensetemplate model="objFormsDetails" propertyname="'Entity'" filename="objFormsDetails.Entity" filetype="'Entity'" isinsidedialog="true" errorprop="objFormsDetails.errors.invalid_entity"/>
            </div>
        </div>
        <div class="col-xs-6">
            <label class="control-label"> Path</label>
            <locationintellisensetemplate validate-location-callback="ValidateConvertToWfm" locationchanged="ValidateConvertToWfm()" locationname="objFormsDetails.Path" model="objFormsDetails" validate="true" errorprop="objFormsDetails.errors.invalid_path"></locationintellisensetemplate>
        </div>
    </div>

</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="convertToWfmErrors.length>0">{{convertToWfmErrors}}</span>
    </div>
    <div class="col-xs-6 pull-right no-right-padding">

        <input type="button" class="dialog-btn" ng-click="OkClick()" value="OK" ng-disabled="ValidateConvertToWfm()" />
        <input type="button" class="dialog-btn" ng-click="closeConvertToWfmDialog()" value="Cancel" />
    </div>
</div>

