<div class="full-height">

    <div class="portlet-body">

        <div class="col-xs-12 hard-soft-err-form">
            <div class="form-group panel panel-default">
                <div class="col-xs-12 mar-top4">
                    <div class="col-xs-10">
                        <input type="text" class="form-control input-sm" ng-model="ruleName" placeholder="Search Rule...." />
                    </div>
                </div>
                <div class="panel-body hard-soft-err-content">
                    <ul class="list-unstyled">
                        <li ng-repeat="rule in lstValidationRule|filter:{dictAttributes:{ID:ruleName}}">
                            <div class="form-group">
                                <input type="checkbox" ng-model="rule.IsSelected" class="fleft"/>
                                <span class='info-tooltip dtc-span' style='position:relative;color:red!important;' ng-if='rule.errors.empty_id || rule.errors.inValid_id || rule.errors.duplicate_id' ng-attr-title='{{rule.errors.empty_id || rule.errors.inValid_id || rule.errors.duplicate_id}}'><i class='fa fa-exclamation-circle' aria-hidden='true'></i></span>
                                <span ng-bind="rule.dictAttributes.ID"></span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onAddChildRuleClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onCancelClick()" />
    </div>
</div>