<div class="portlet-body">

    <div class="form-body">

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Attribute Name</label>
                <input type="text" class="form-control input-sm" placeholder="Enter text" title="{{AttributeName}}" ng-model="AttributeName" ng-change="validateAttributeDailog();">
            </div>
            <div class="form-group">
                <label class="control-label">Object Field</label>
                <objecttreeintellisensetemplate isdisabled="JSONFieldInAttribute != undefined && JSONFieldInAttribute.trim() != ''" objtree="objBusinessObject.ObjTree" objectfield="ObjectFieldInAttribute" isloadmethod="false"
                                           onselectioncallback="clearDefaultValue(id)" busobject="objEntity.dictAttributes.sfwObjectID"></objecttreeintellisensetemplate>
            </div>
            
            <div class="form-group">
                <label class="control-label">Data Type</label>
                <select ng-options="x for x in datatypes" class="form-control input-sm" title="{{DataTypeInAttribute}}" ng-model="DataTypeInAttribute" ng-change="validateAttributeDailog();" />
            </div>


            <div class="form-group checkbox-row">
                <label class="control-label">Private</label>
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="IsPrivateAttribute" />
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" class="form-control input-sm" ng-model="DescriptionInAttribute" />
            </div>

            <div class="form-group">
                <label class="control-label">Related JSON Field</label>
                <div class="col-xs-12 no-left-padding">
                    <entityattributeintellisense type="'Column'" isdisabled="ObjectFieldInAttribute != undefined && ObjectFieldInAttribute.trim() != ''" isloadinheritedobjects="false" modebinding="JSONFieldInAttribute" isjson="true" entityid="objEntity.dictAttributes.ID" ></entityattributeintellisense>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Default Value</label>
                <div class="col-xs-12 no-left-padding">
                    <input type="text" title="{{DefaultValue}}" ng-disabled="ObjectFieldInAttribute != undefined && ObjectFieldInAttribute.trim() != ''" ng-model="DefaultValue" class="form-control form-filter input-sm" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Data Format</label>
                <common-intellisense collection="dataformats" selected-item="DataFormatInAttribute"></common-intellisense>
                <!--<select ng-options="x for x in dataformats" class="form-control input-sm" title="{{DataFormatInAttribute}}" ng-model="DataFormatInAttribute" />-->
            </div>
        </div>

    </div>

</div>

<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span style="color:red" ng-bind="attributeError"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="btn  dialog-btn-default" ng-click="onOkClickAttributeDailog()" ng-disabled="attributeError" />
        <input type="button" value="Cancel" class="btn  dialog-btn" ng-click="onCancelAttributeClick()" />
    </div>
</div>