<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">

            <div class="form-group">
                <label class="control-label">ID </label>
                
                    <input type="text" class="form-control input-sm" title="{{RuleID}}" ng-model="RuleID" ng-change="validateValidationRuleDailog()" />
                
            </div>

            <div class="form-group checkbox-row">
                <label class="control-label">Is Object Based</label>
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="isObjectBasedRule" ng-true-value="'True'" ng-false-value="'False'" />
                </div>
            </div>
           
            </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Expression </label>
                <div class="input-group">
                    <textarea id="textarea-expression" ng-model="ExpressioninRule" class="form-control input-sm" ng-keydown="onkeydownInExpressions($event)" ng-keyup="onActionKeyDownForExpressions($event,isObjectBasedRule)" />
                    <span class='input-group-addon button-intellisense' ng-click='showList($event,isObjectBasedRule,true,false,false)'></span>
                </div>
            </div>

           
        </div>

        </div>


   
   
   
</div>

<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span style="color:red" ng-bind="validationRuleError"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn  dialog-btn-default" ng-click="onRuleTemplateOkClick()" value="OK" ng-disabled="validationRuleError" />
        <input type="button" class="btn  dialog-btn" ng-click="OnRuleTemplateCancelClick()" value="Cancel" />
    </div>
</div>