<div class="form-group full-height">

    <div class="checklist-container full-height">


        <div class="form-body checklist-body">

            <div class="form-group">
                <label class="col-xs-2 control-label padding-0">Status :</label>
                <div class="col-xs-8">
                    <select class="form-control input-sm" title="{{model.dictAttributes.sfwStatus}}" ng-model="model.dictAttributes.sfwStatus" undoredodirective model="model" ng-disabled="iscontroldisable">
                        <option value=""></option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label padding-0">Mode :</label>
                <div class="col-xs-8">
                    <select class="form-control input-sm" title="{{model.dictAttributes.sfwMode}}" ng-model="model.dictAttributes.sfwMode" undoredodirective model="model" ng-disabled="iscontroldisable">
                        <option value="All">All</option>
                        <option value="New">New</option>
                        <option value="Update">Update</option>
                    </select>
                </div>
            </div>

            <div class="form-group manage-btn-default-search">
                <codevaluesintellisensetemplate codevalueslabelclass="col-xs-2 control-label padding-0" codevaluestextboxclass="col-xs-8"
                                                codevaluesid='model.dictAttributes.sfwChecklistValue'
                                                propertyname="'dictAttributes.sfwChecklistValue'" model='model'
                                                codevaluestext="'CheckList Value :'" showcodevaluestext='true'
                                                codedescription="codeDescription"
                                                codeid="entitymodel.dictAttributes.sfwChecklistId">
                </codevaluesintellisensetemplate>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label padding-0">CheckList Description:</label>
                <div class="col-xs-8">
                    <textarea onmouseup="" ng-bind="codeDescription" class="form-control max-height-100" disabled="disabled"></textarea>
                </div>
            </div>

        </div>

        <!--<div class="panel-primary full-height">
            <div class="panel-heading">
                <label class="col-xs-12 control-label" ng-bind="model.dictAttributes.ID"></label>
            </div>

            <div class="panel-body">

          

            </div>
        </div>-->


    </div>
</div>