<div class="portlet-body">
    <!--<div style="height:30px;"  ng-show="objEntity.dictAttributes.sfwObjectID">
        <label>Is Object Based : </label>
        <input type="checkbox" ng-model="isObjectBased"/>
    </div>-->
    <div>
        <textarea class="form-control full-height full-width overflowA expression-heigth" ng-model="expression" ng-keydown="$parent.onkeydownInExpressions($event)" ng-keyup="$parent.onActionKeyDownForExpressions($event,false,true,true,true)"></textarea>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="ValidationMessageForDisplay.length>0">{{ValidationMessageForDisplay}}</span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="dialog-btn" value="OK" ng-click="onSaveClick()" />
        <input type="button" class="dialog-btn" value="Cancel" ng-click="onCancelClick()" />
    </div>
</div>