<form class="full-width fleft marg-top-8">
    <fieldset ng-disabled="$ctrl.isDisabledforVersioning">
        <div class="form-group">
            <label class="control-label marg-bottom-5">Message Kind</label>
            <select class="form-control input-sm" title="{{$ctrl.selectedShape.MessageVisibleKind}}" ng-model="$ctrl.selectedShape.MessageVisibleKind" ng-change="$ctrl.onMessageKindChange($ctrl.selectedShape.MessageVisibleKind)" undoredodirective model="$ctrl.selectedShape" propertyname="'MessageVisibleKind'">
                <option></option>
                <option>initiating</option>
                <option>non_initiating</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label marg-bottom-5">Doc Types</label>
            <div class="input-group">
                <select class="form-control input-sm" ng-options="doctype as doctype.Description for doctype in $ctrl.docTypes" title="{{$ctrl.obj.selectedDocType}}" ng-model="$ctrl.obj.selectedDocType"
                         type="text" undoredodirective model="$ctrl.obj" propertyname="'selectedDocType'"/>
                <div class="input-group-addon">
                    <i class="fa fa-plus" ng-class="{'disabledlink' : $ctrl.isDisabledforVersioning}" ng-click="$ctrl.addDocType()" value="Add" ng-disabled="!$ctrl.canAddDocType()" style="cursor:pointer" />
                    <i class="fa fa-minus" ng-class="{'disabledlink' : $ctrl.isDisabledforVersioning}" ng-click="$ctrl.deleteDocType()" ng-disabled="!$ctrl.canDeleteDocType()" value="Remove" style="cursor:pointer" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <ul style="border: 1px solid black;padding:2px;" ng-show="$ctrl.docTypesModel.Elements.length>0">
                <li role="row" ng-repeat="item in $ctrl.obj.docTypes" ng-class="item == $ctrl.obj.selectedDocTypeFromGrid?'selected':''" ng-click="$ctrl.selectDocType(item)">{{item}}</li>
            </ul>
        </div>
    </fieldset>
</form>
