<fieldset ng-disabled="$ctrl.isDisabledforVersioning" class="full-width">
    <div class="form-group">
        <label class="control-label marg-bottom-5">Display Name</label>
        <input type="text" ng-disabled="$ctrl.isDisabledforVersioning" class="form-control input-sm" title="{{$ctrl.model.dictAttributes.DisplayName}}" ng-model="$ctrl.model.dictAttributes.DisplayName" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.DisplayName'" />
    </div>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Description</label>
        <input type="text" ng-disabled="$ctrl.isDisabledforVersioning" class="form-control input-sm" title="{{$ctrl.model.dictAttributes.Description}}" ng-model="$ctrl.model.dictAttributes.Description" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.Description'" />
    </div>
    <processusertaskcommonproperties model="$ctrl.model" is-disabledfor-versioning="$ctrl.isDisabledforVersioning" datetypevariables="$ctrl.dateTypeVariables"></processusertaskcommonproperties>
</fieldset>


