<!--<div class="popup-wrapper">
    <div class="popup-head">Object Tree<div class="ngdialog-close"></div></div>
    <div class="popup-content">
       
    </div>
    <div class="popup-btn">
       
    </div>
</div>-->
<div class="portlet-body overflow-hidden">
    <div class="form-group full-height">
        <!--<table class="full-width">
            <tr>
                <td><input type="text" ng-model="searchObjectTree" class="full-width" /></td>

                <td>
                    <img src="images/Common/uparrow.png" ng-click="onLoadPreviosObjectTree()" title="up" ng-disabled="!(StrObjectTreeText && StrObjectTreeText.trim().length>0)" />

                    <input type="checkbox" ng-model="IsSelectAll" class="marg-left-5" value="Select All" ng-change="onToggleSelectionClick(IsSelectAll)" />
                    Select All
                </td>

            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        <li ng-repeat="obj in ObjTreeForFields.ChildProperties | filter:{Name:searchObjectTree}" ng-dblclick="onObjectTreeClick(obj)" style="list-style:none">
                            <div>
                                <input type="checkbox" ng-model="obj.IsChecked" ng-checked="obj.IsChecked"  />
                                <img ng-show="obj.DataTypeName == 'Int32'" src="images/Form/icon-integer.png" />
                                <img ng-show="obj.DataTypeName == 'Boolean'" src="images/Form/icon-boolean.png" />
                                <img ng-show="obj.DataType == 'collection' || obj.DataType == 'List' || obj.DataType == 'CDOCollection'" src="images/Form/icon-collection.png" />
                                <img ng-show="obj.DataTypeName == 'DateTime'" src="images/Form/icon-datetime.png" />
                                <img ng-show="obj.DataTypeName == 'Decimal'" src="images/Form/icon-decimal.png" />
                                <img ng-show="obj.DataTypeName == 'Int64'" src="images/Form/icon-double.png" />
                                <img ng-show="obj.DataTypeName == 'Float'" src="images/Form/icon-float.png" />
                                <img ng-show="obj.DataTypeName == 'String'" src="images/Form/icon-string.png" />
                                <img ng-show="obj.DataTypeName == 'Int16'" src="images/Form/icon-integer.png" />
                                <img ng-show="obj.DataType == 'TableObjectType'" src="images/Form/icon-table-object-type.png" />
                                <img ng-show="obj.DataType == 'BusObjectType'" src="images/Form/icon-object.png" />
                                <img ng-show="obj.DataType == 'CollctionType'" src="images/Form/icon-collection.png" />
                                <img ng-show="obj.DataType == 'OtherReferenceType'" src="images/Form/icon-other-reference-type.png" />
                                {{obj.Name}}
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>-->
        <newbusobjecttreedirective ischeckboxvisible="true" lstmultipleselectedfields="objBusinessObjectTree.lstmultipleselectedfields" lstcurrentbusinessobjectproperties="objBusinessObjectTree.lstCurrentBusinessObjectProperties" lstdisplaybusinessobject="objBusinessObjectTree.lstdisplaybusinessobject" busobjectname="objBusinessObjectTree.BusObjectName" isshowproperties="true" isshowmethods="false" isshowrules="false" selectedfield=""></newbusobjecttreedirective>
    </div>
</div>
<div class="form-actions right">
    <input type="button" class="dialog-btn-default" ng-click="onOkObjectTree()" value="OK" />
    <input type="button" class="dialog-btn" ng-click="onCancelObjectTreeclick()" value="Cancel" />
</div>