.ButtonTable
{
    display: inline;

}
/* framewok related browser specific change for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    .ButtonTable
    {   
    float:left; /* framewok related browser specific change*/
    }    
}

html, body
{
	font-family: verdana,tahoma,helvetica;
	font-size:11px;
	margin: 0px;
	padding:0px;
	width:100%;
}

caption
{
	padding-left:20px;
	font-weight:bold;
	text-align:left;
}
.loginbg
{
	background-image: url(Image/login_bg.jpg);
	background-repeat: repeat-x;
	height: 165px;
	font-weight: bold;
	font-size: 10px;
	color: #69cff2;
}
.logintxt
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
}
.logintxtbox 
{
	background-image:url(Image/Login_txtLabel_Bg.png);
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: #232323;
	width:150px;
	height:25px;
	border: solid 1px #666;
	margin-top:5px;
	line-height:25px;
}
.forgettxt
{
	font-family: Verdana;
	font-weight:normal;
	font-size: 10px;
	color: #333;
	margin-top:10px;
}

A A:link A:active A:visited
{
	font-weight: bold;
	color: #238fc7;
}
.loader
{
	font-weight: bold;
	color: #CC0033;
}
 .UpdateProgressLoader
 {   
   color:White;
   top: 0px;
   left: 300px;
   position:fixed;
   width:250px;
 }
.HeaderTopLeft
{
	background-image: url(Image/Header_Top_Left.gif);
	background-repeat: no-repeat;
}
.HeaderTopCenter
{
	background-image: url(Image/Header_Top_Center.gif);
	background-repeat: repeat-x;
	height: 66px;
	color:White;
	font-size:9px;
}
.HeaderTopRight
{
	background-image: url(Image/Header_Top_Right.gif);
	background-repeat: no-repeat;
}
.headerbgblue
{
	background-image: url(Image/Top_Header_Bg.gif);
	background-repeat: repeat-x;
	height: 66px;
}
.menuleft
{
	background-image: url(Image/Menu_L.gif);
	background-repeat: no-repeat;
}
.menuright
{
	background-image: url(Image/Menu_R.gif);
	background-repeat: no-repeat;
}

.menubg
{
	background-image: url(Image/MainMenu_Bg.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	vertical-align: top;
	color: #ffffff;
	height: 28px;
	width:100%;
}
.menubg a:link
{
	color: #ffffff;
	text-decoration: none;
}
.menubg a:hover
{
	color: #ffffff;
	text-decoration: none;
}
.menubg a:visited
{
	color: #ffffff;
	text-decoration: none;
}

.submenu
{
	border-bottom: solid 1px #e3ddd2;
	border-right: solid 1px #ffffff;
	padding: 5px;
	height:25px;
	/*margin-top: 1px;*/
	font-weight: bold;
	color: #cedfe5;
	background-color: #2c6169;
}
.menuover
{
	
	padding: 0px;
	margin: 0px;
	color: #000000;
	width: 100%;
}
.submenuover
{
	background-color: #6fc4d1;
	color: #666633;
	width: 100%;
	padding: 5px;
	margin-top: 1px;
}
.submenuvisit
{
	background-color: #8cbafb;
}
.menustatic
{
	background-color: #cedfe5;
}
.gridhead
{
	color: #333333;
	background-color: #c0d4da;
	padding: 5px;
	text-align: left !important;/* framework upgradation */
	text-decoration: underline;
}

.grid-chkbox-head th /* framework upgradation */
{
    text-align:left !important;
}
.gridhead a:link
{
	color: #2d7383;
	text-decoration: underline;
}
.gridhead a:hover
{
	color: #2d7383;
	text-decoration: underline;
}
.gridhead a:visited
{
	color: #2d7383;
	text-decoration: underline;
}
.gridnormal
{
	color: #333333;
	padding: 10px;
}
.gridodd
{
	color: #185371;
	background-color: #f9f9f4;
	padding: 10px;
}
.grideven
{
	color: #185371;
	background-color: #e0dcd4;
	padding: 10px;
}
.gridselected
{
	color: #185371;
	background-color: #f0e247;
	padding: 10px;
}

.PanelHeaderLeft
{
	background-image: url(Image/Round_Bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top:2px;
	border: 0px;
	width: 32px;
	height: 23px;
}

.PanelHeaderMiddle
{
	background-image: url(Image/Round_Bg.gif);
	background-repeat: repeat-x;
	width: 100%;
	color: #336699;
	font-weight: bold;
}

.PanelHeaderRight
{
	background-image: url(Image/Round_Bg.gif);
	background-repeat: no-repeat;
	width: 32px;
	height: 23px;
}

.PanelBody
{
 width:100%;
 vertical-align: top;
 border-left:1px solid white;
}

.PanelBodyMiddle
{
    float: left;
    clear: both;
    background-image: url(Image/Box_Bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    vertical-align: bottom;
    border-left:1px solid white;
}



.DisabledControls
{
	background-color: white;
}

.Label
{
	text-align: right;
	font-weight:bold;
	padding-left:15px;
}

.AlignRight
{
	text-align: right;
}

.ReqInfo
{
	text-align: right;
	width: 150px;
	color: #FF4500;
}

.txtlabel
{
	font-weight: bold;
	color: #333300;
}

.Table
{
	vertical-align: top;
	width:100%;
	border: solid 1px #d8e6eb;
}
.Imagebutton
{
	cursor:pointer;
}

.buttonbg
{
	font-weight: bold;
	font-size:10px;
	color: #333300;
	height: 21px;
	padding-left:5px;
	padding-right:5px;
	margin-top: 2px;
	margin-right: 10px;
	background-image: url(Image/button_bg.gif);
	background-repeat: repeat-x;
	border: solid 1px #000000;
	vertical-align:middle;
	cursor: hand;
}
.Message
{
	background-color: #F0F0F0;
	width: 99%;
	height: 30px;
	font-weight: bold;
	color: #000000;
	margin-left: 5px;
	padding-left: 5px;
	border: 1px solid #CCCCFF;
}

.textboxbg
{
	color: #545659;
	background-color: #FFFFFF;
	border: 1px solid #7eaff5;
	margin-right: 5px;
	resize:none;/* framework upgradation */
}
.Divider
{
	border: solid 1px #d8e6eb;
	margin-right:6px;
}
.TreeNodeMaintenance
{
	font-weight: bold;
}
.TreeNodeLookup
{
	font-weight: normal;
}
.panelbg
{
	width:100%;
	color: #145166;
	background-color: #ffffff;
	height:100%;
}

.PanelMiddle
{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	width:100%;
	
}
.panelleft
{
	font-size: 10px;
	font-weight: bold;
	color: #2d7398;
	background-color: #e1f1f4;
	height: 100%;
	border-right: 1px solid #d8e6eb; /*-border-top-width:0px;*/
}
.LeftCell
{
}
.panelleft a:hover
{
	text-decoration: underline;
}
.panelbg a:hover
{
	text-decoration: underline;
}
#footer
{
	background-color:#2c6169;
	height:25px;
	color:#fff;
	line-height:20px;

}
.footertxt
{
	color:#fff;
}
.footerbg
{
	background-image: url(Image/footer_strip.gif);
	color:White;
}
.footerleft
{
	background-image: url(Image/Footer_L.gif);
	background-repeat: no-repeat;
	color:White;
}
.footerright
{
	background-image: url(Image/Footer_R.gif);
	background-repeat: no-repeat;
	color:White;
}
.MessageMiddleCenter
{
	width:100%;
	height:100%;
	font-size:11px;
	font-weight:bold;
	color:black;
}
.MessageMiddleRight
{
	background-image:url(Image/MessageMiddleRight.gif);
	background-repeat:repeat-y;
	width:8px;
	height:100%;
}
.MessageBottomLeft
{
	background-image:url(Image/MessageBottomLeft.gif);
	background-repeat:no-repeat;
	width:8px;
	height:5px;
}

/* new tab look */
/* .ajax__tab_header - A container element that wraps all of the tabs at the top of the TabContainer. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_outer - An outer element of a tab, often used to set the left-side background image of the tab.Child CSS classes: .ajax__tab_inner. */
/* .ajax__tab_inner	 - An inner element of a tab, often used to set the right-side image of the tab. Child CSS classes:.ajax__tab_tab. */
/* .ajax__tab_tab - An element of the tab that contains the text content. Child CSS classes:none. */
/* .ajax__tab_body - A container element that wraps the area where a TabPanel is displayed. Child CSS classes: none. */
/* .ajax__tab_hover - This is applied to a tab when the mouse is hovering over. Child CSS classes:.ajax__tab_outer. */
/* .ajax__tab_active - This is applied to a tab when it is the currently selected tab. Child CSS classes:.ajax__tab_outer. */   

/* XP IE7 theme - Backgrounds */
.ajax__tab_xpie7 .ajax__tab_header
{ 
	background:url(Image/xpie7/tab-line.gif) repeat-x bottom; 
	overflow:auto;
}
.ajax__tab_xpie7 .ajax__tab_outer
{ 
	background:url(Image/xpie7/tab-active-right.gif) no-repeat right; 
	padding-right:4px;
}
.ajax__tab_xpie7 .ajax__tab_inner
{ 
	background:url(Image/xpie7/tab-active-left.gif) no-repeat; 
}
.ajax__tab_xpie7 .ajax__tab_tab
{ 
	background:url(Image/xpie7/tab-active.gif) repeat-x; 
}
.ajax__tab_xpie7 .ajax__tab_hover .ajax__tab_outer	
{ 
	background:url(Image/xpie7/tab-hover-right.gif) no-repeat right; 
}
.ajax__tab_xpie7 .ajax__tab_hover .ajax__tab_inner	
{ 
	background:url(Image/xpie7/tab-hover-left.gif) no-repeat; 
}
.ajax__tab_xpie7 .ajax__tab_hover .ajax__tab_tab		
{ 
	background:url(Image/xpie7/tab-hover.gif) repeat-x; 
}
.ajax__tab_xpie7 .ajax__tab_active .ajax__tab_outer	
{ 
	background:url(Image/xpie7/tab-right.gif) no-repeat right; 
}
.ajax__tab_xpie7 .ajax__tab_active .ajax__tab_inner	
{ 
	background:url(Image/xpie7/tab-left.gif) no-repeat; 
}
.ajax__tab_xpie7 .ajax__tab_active .ajax__tab_tab		
{ 
	background:url(Image/xpie7/tab.gif) repeat-x; 
}

/* XP IE7 theme - Other Styles */
.ajax__tab_xpie7 .ajax__tab_header 					
{ 
	font-family:verdana,tahoma,helvetica;font-size:11px; 
}
.ajax__tab_xpie7 .ajax__tab_outer						
{ 
	height:29px; 
}
.ajax__tab_xpie7 .ajax__tab_inner						
{ 
	padding-left:3px; 
}
.ajax__tab_xpie7 .ajax__tab_tab						
{ 
	padding:8px 10px;margin:0; 
}
.ajax__tab_xpie7 .ajax__tab_body						
{ 
	border: solid 1px #d8e6eb;
	border-top:0;
	background-color:#ffffff; 
	background-image: url(Image/Box_Bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	width:100%;
}

/* ajax__tab_yuitabview-theme theme (img/yui/sprite.png) */
.ajax__tab_yuitabview-theme .ajax__tab_header
{
	font-weight: bold;
	border-bottom: solid 1px #d8e6eb;
	margin-top: 1px;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer
{
	background: url(Image/tab_bg.gif) #000000 repeat-x;
	margin: 0px 0.16em 0px 0px;
	padding: 1px 0px 1px 0px;
	vertical-align: bottom;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{
	color: #135a7e;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer
{
	background: url(Image/tab_bg_over.gif) repeat-x;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab
{
	color: #444444;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
	background: url(Image/tab_bg_active.gif) #000000 repeat-x;
	color: Black;
}
.ajax__tab_yuitabview-theme .ajax__tab_body
{
	padding: 0.25em 0.5em;
	border-bottom: solid 1px #d8e6eb;
	border-left: solid 1px #d8e6eb;
	border-right: solid 1px #d8e6eb;
}

.MyCalendar .ajax__calendar_container
{
	background: url(Image/cal_bg.gif) repeat-x 50% bottom;
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #5595b5;
	color: #1a5296;
	z-index: 1000;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day, .MyCalendar .ajax__calendar_other .ajax__calendar_year
{
	color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day, .MyCalendar .ajax__calendar_hover .ajax__calendar_month, .MyCalendar .ajax__calendar_hover .ajax__calendar_year
{
	color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day, .MyCalendar .ajax__calendar_active .ajax__calendar_month, .MyCalendar .ajax__calendar_active .ajax__calendar_year
{
	color: black;
	font-weight: bold;
}

.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}
.MaskedEditError
{
	background-color: #ffcccc;
}
.MaskedEditBlurNegative
{
	color: #ff0000;
}

.TableDataLeftAlign
{
    text-align:left;
    font-weight:bold;
}

#uppToolbar
{
    border-bottom: 5px solid #dddddd;
}


#cphPopupDialog_tblExportToExcel td /* framework upgradation*/
{
    white-space:normal !important;
}

.gridhead th /* framework upgradation*/
{
    padding:7px;
}

table /* framework upgradation*/
{
    border-spacing:0px;
}