/* Important Note: Common classes has been added in Common.css file */

.basic > a
	{
		color:#fff;
		border-top:#fff 1px solid;
		/* border-bottom:#999 1px solid; */
	}
.basic > a
	{
		background:url(image/tab.gif) #4c5356;
	}
.basic > a.selected
	{
		background-image:url(Image/tab.gif);
	}
.basic > a.active
	{
		background-image:url(Image/tab-hover.gif);
	}
.basic a:hover
	{
		color:#e5d7b7;
		background:url(Image/tab-hover.gif) repeat-x left top !important;
	}
.basic > a.active
	{
		color:#8f2104;
	}