/* Important Note: Common classes has been added in Common.css file */

.collapsePanelHeader
	{
		background:url(Image/acctab.png) no-repeat right -23px;
	}
.HeaderContent
	{
	    color:#fff;
		background:url(Image/acctab.png) no-repeat left 0;
	}
.ArrowExpand
	{
		background:url(Image/innerbtnbg.png) repeat-x left -253px;
	}
.ArrowClose
	{
		background:url(Image/innerbtnbg.png) repeat-x left -234px;
	}