/* Important Note: Common classes has been added in Common.css file */

.modalBackground 
	{
		color:#fff;
		font-weight:bold;
		padding-bottom:10px;
		background:url(Image/loadingBg.png) no-repeat scroll left 5px;
		
	}
.updateProgress
	{
		color:#fff;
		font-weight:bold;
	}
.updateProgressMessage
	{
		color:#2e3a3d;
		padding-top:5px;
		font-weight:bold !important;
	}
#pnlPopup
    {
        background:none !important;
        border:none !important;
    }	