<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <label class="col-xs-3">Return Type :</label>
            <div class="col-xs-9">
                <span ng-if="!(setDetailsReturnType && setDetailsReturnType.trim().length>0)" class="retrun-type-span">!</span><select class="form-control input-sm retrun-type-select" ng-options="type for type in ReturnTypes" ng-model="setDetailsReturnType" ng-change="SetDetailsReturnTypeChange(setDetailsReturnType)" ng-disabled="isSetDetailsReturnTypeDisable"></select>
            </div>
        </div>
        <div class="col-md-6 pull-left bdr-btm-rp">
            <div class="form-group">
                <p class="col-xs-12">Row Parameter</p>
            </div>

            <div class="form-group">
                <label class="col-xs-4">Name :</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" title="{{setDetailsRowParamName}}" ng-model="setDetailsRowParamName" ng-change="SetDetailsRowParameterNameChange(setDetailsRowParamName)" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4">Data Type :</label>
                <div class="col-xs-8">
                    <select class="form-control input-sm" ng-options="type for type in ReturnTypes" title="{{setDetailsRowReturnType}}" ng-model="setDetailsRowReturnType" ng-change="SetDetailsRowReturnTypeChange(setDetailsRowReturnType)" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4">Description :</label>
                <div class="col-xs-8">
                    <textarea class="form-control" style="height:60px" ng-model="setDetailsRowDescription"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6 pull-right bdr-btm-rp">
            <div class="form-group">
                <p class="col-xs-12">Column Parameter</p>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Name :</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" title="{{setDetailsColumnParamName}}" ng-model="setDetailsColumnParamName" ng-change="SetDetailsColumnParameterNameChange(setDetailsColumnParamName)" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Data Type :</label>
                <div class="col-xs-8">
                    <select class="form-control input-sm" ng-options="type for type in ReturnTypes" title="{{setDetailsColumnReturnType}}" ng-model="setDetailsColumnReturnType" ng-change="SetDetailsColumnReturnTypeChange(setDetailsColumnReturnType)" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Description :</label>
                <div class="col-xs-8">
                    <textarea class="form-control" style="height:60px" ng-model="setDetailsColumnDescription"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">

    <div class="col-xs-8 text-left">
        <span class="alert-error-msg"ng-if="SetDetailsErrorMessage && SetDetailsErrorMessage.trim().length>0">Error: {{SetDetailsErrorMessage}}</span>
    </div>
    <div class="col-xs-4">
        <input class="dialog-btn-default" type="button" value="OK" ng-click="onSetDetailsOkClick()" ng-disabled="ValidateSetDetails()" />
        <input class="dialog-btn-default" type="button" value="Cancel" ng-click="onSetDetailsCancelClick()" />
    </div>
  
   
</div>
