<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Chart Type:</label>
            <div class="col-md-7">
                <input type="text" class="form-control input-sm" title="{{ObjChartModel.dictAttributes.ChartType}}" ng-model="ObjChartModel.dictAttributes.ChartType" ng-disabled="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Name:</label>
            <div class="col-md-7">
                <input type="text" class="form-control input-sm" title="{{ObjSeriesModel.dictAttributes.Name}}" ng-model="ObjSeriesModel.dictAttributes.Name">

            </div>
        </div>
        <div class="form-group" ng-show="ObjChartModel.dictAttributes.sfwIsDynamicSeries == 'True'">
            <label class="col-md-3 control-label">Series Column Name:</label>
            <div class="col-xs-7">
                <div class="textbox-autocomplete-block">
                    <entityfieldelementintellisense modebinding="ObjSeriesModel.dictAttributes.sfwSeriesColumnName" model="ObjSeriesModel" entityid="ParentEntityName"
                                                    propertyname='"dictAttributes.sfwSeriesColumnName"' errorprop="ObjSeriesModel.errors.sfwSeriesColumnName" validate="true"></entityfieldelementintellisense>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">X Value Member:</label>
            <div class="col-xs-7">
                <div class="textbox-autocomplete-block">
                    <entityfieldelementintellisense modebinding="ObjSeriesModel.dictAttributes.XValueMember" model="ObjSeriesModel" entityid="ParentEntityName"
                                                    propertyname='"dictAttributes.XValueMember"' errorprop="ObjSeriesModel.errors.XValueMember" validate="true"></entityfieldelementintellisense>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">Y Value Member:</label>
            <div class="col-xs-7">
                <div class="textbox-autocomplete-block">
                    <entityfieldelementintellisense modebinding="ObjSeriesModel.dictAttributes.YValueMembers" model="ObjSeriesModel" entityid="ParentEntityName"
                                                    propertyname='"dictAttributes.YValueMembers"' errorprop="ObjSeriesModel.errors.YValueMembers" validate="true"></entityfieldelementintellisense>
                </div>
            </div>
        </div>
    	 
        
        <div class="form-group">
            <label class="col-md-3 control-label">Y Member Color:</label>
            <div class="col-md-7">
                <input type="text" class="form-control input-sm" title="{{ObjSeriesModel.dictAttributes.YMemberColor}}" ng-model="ObjSeriesModel.dictAttributes.YMemberColor">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Is Value Shown As Label:</label>
            <div class="col-md-7">
                <input type="checkbox" ng-model="ObjSeriesModel.dictAttributes.IsValueShownAsLabel" ng-checked="ObjSeriesModel.dictAttributes.IsValueShownAsLabel" ng-true-value="'True'" ng-false-value="'False'">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Format Field:</label>
            <div class="col-md-7">
                <select ng-options="x for x in DataFormats" class="form-control input-sm" title="{{ObjSeriesModel.dictAttributes.sfwFormatField}}" ng-model="ObjSeriesModel.dictAttributes.sfwFormatField" />


            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Tooltip Type:</label>
            <div class="col-md-7">
                <select ng-options="x for x in lstToolTipTypes" class="form-control input-sm" title="{{ObjSeriesModel.dictAttributes.sfwTooltipType}}" ng-model="ObjSeriesModel.dictAttributes.sfwTooltipType" />

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">Tooltip Table Params:</label>
            <div class="col-xs-7">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" title="{{ObjSeriesModel.dictAttributes.sfwTooltipTableParams}}" ng-model='ObjSeriesModel.dictAttributes.sfwTooltipTableParams'>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search-popup" type="button" ng-click='OpenTooltipParams()'></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">Additional Chart Columns:</label>
            <div class="col-xs-7 col-md-7">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" title="{{ObjSeriesModel.dictAttributes.swfAddtionalChartColumns}}" ng-model='ObjSeriesModel.dictAttributes.swfAddtionalChartColumns' undoredodirective model='model'>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search-popup" type="button" ng-click='onAdditionalChartColumnClick()'></button>
                    </span>
                </div>
            </div>
        </div>

        <!--<div class="form-group">
            <label class="col-md-3 control-label">Navigation Form:</label>
            <div class="col-md-7">

                <activeformintellisensetemplate activeformname='ObjSeriesModel.dictAttributes.sfwActiveForm' formtype="'Lookup,Maintenance'"
                                                multiactiveformflag='false' canhidesearchactiveformwindow="true" onactiveformchange="ClearParamtersForform()" />


            </div>
            <input type="button" value=">" ng-click="populateParamtersForform()" ng-disabled="!seriesactiveform" class="navigation-form-btn" />
        </div>-->

    </div>
    <div class="col-md-10">
        <table class="navigation-table">
            <tr ng-show="ShowParameters==true">
                <td>
                    <div class="data-grid-wrapper ">

                        <div class="data-grid-header">


                        </div>

                        <div class="data-grid  ">
                            <table col-resizeable-jquery>
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Parameter Field</th>
                                        <th>Parameter Value</th>
                                        <th>Constant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="objparam in ObjSeriesModel.FormParameters track by $index">
                                        <td>
                                            <span ng-bind="objparam.ParmeterType"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="objparam.ParmeterField"></span>
                                        </td>
                                        <td ng-show="!objparam.ParmeterConstant || objparam.ParmeterConstant == 'False'">
                                            <entityfieldelementintellisense modebinding="objparam.ParmeterValue" model="objparam" entityid="ParentEntityName"
                                                                            propertyname='"ParmeterValue"'></entityfieldelementintellisense>
                                        </td>
                                        <td ng-show="objparam.ParmeterConstant == 'True'">
                                            <input ng-model="objparam.ParmeterValue" class="form-control input-sm"/>
                                        </td>
                                        <td>
                                            <input type="checkbox" title="{{objparam.ParmeterConstant}}" ng-model="objparam.ParmeterConstant" ng-checked="objparam.ParmeterConstant" ng-true-value="'True'" ng-false-value="'False'" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </td>

            </tr>

        </table>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="ErrorMessageForDisplay.length>0" ng-bind="ErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" ng-click="OnOkClick()" value="OK" class="dialog-btn" ng-disabled="isChartFinishDisable()"/>
        <input type="button" value="Cancel" ng-click="onCancelClick()" class="dialog-btn" />
  </div>
</div>
