<div ng-controller="AutoCompleteParameterController" id="RetrievalControls" class="full-height">
    <div class="portlet-body series-details-popup" id="ScopeId_{{$id}}">
        <div class="client-visi-layout">
            <div class="col-xs-4 full-height">
                <div class="span-extended-name">
                    <label>Form :</label>
                    <span  title="{{formobject.dictAttributes.ID}}" ng-bind="formobject.dictAttributes.ID"></span>
                </div>

                <div class="navigation-param-tree-list">
                    <div class="client-visi-layout-inner">
                        <div class="client-visi-header">
                            <span>Available Fields</span>
                            <div class="fright" ng-if="FormType != 'FormLinkLookup' && FormType != 'FormLinkMaintenance' && FormType != 'FormLinkWizard'">
                                <input type="checkbox"  ng-model="ShowAll.isShowAll" ng-change="ShowAllControls()"/>
                                <span class="heading-span" ng-hide="isFormLink">Show All Controls</span>
                            </div>
                        </div>
                        <div class="client-visi-content" >
                            <ul>
                                <li ng-repeat="lstParameters in lstParameters" class="common-tree-list">
                                    <div commonparametertree></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-8 full-height">
                <div class="span-extended-name">
                    <label> {{model.autocompleteType}} Parameters :</label>
                    <span title="{{model.autocompleteType==='Query'?model.dictAttributes.sfwAutoQuery:model.dictAttributes.sfwAutoMethod}}">{{model.autocompleteType==='Query'?model.dictAttributes.sfwAutoQuery:model.dictAttributes.sfwAutoMethod}}</span>
                </div>

                <div class="navigation-param-value-table">

                    <div class="client-visi-layout-inner">
                        <div class="client-visi-header">
                            <span>Parameters</span>
                        </div>
                        <div class="client-visi-content">
                            <table class="table table-condensed table-hover table-fixedheader">
                                <thead>
                                    <tr>
                                        <th width="50%">Parameter Field</th>
                                        <th width="50%">Parameter Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="parameter in ParameterCollection">
                                        <td width="50%"><span ng-bind="parameter.ParameterField"></span></td>
                                        <td width="50%"><input type="text" class="form-control input-sm" title="{{parameter.ParameterValue}}" ng-model="parameter.ParameterValue" retrievalparameterdroppable dropdata="parameter.ParameterValue" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeClick()" />
    </div>
</div>



