<div class="portlet-body">
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-header">Code Value</th>
                    <th class="table-header">Description</th>
                </tr>
            </thead>
            <tbody class="table-body-text">
                <tr class="table-bg-light" ng-repeat="item in ::lstCodeValues">
                    <td>
                        {{::item.CodeValue}}
                    </td>
                    <td>
                        {{::item.Description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="dialog-btn" ng-click="closeDialog()" value="OK" />
    </div>
</div>