<div>
    <i class="fa fa-minus" ng-click="ExpandCollapsedCustomAttrField(field, $event)" ng-show="field.Items.length > 0 && field.IsExpanded"></i>
    <i class="fa fa-plus" ng-click="ExpandCollapsedCustomAttrField(field, $event)" ng-show="field.Items.length > 0 && !field.IsExpanded"></i>
    <input type="checkbox" class="margin5N" ng-model="field.IsSelected" ng-show="field.IsCheckBoxVisible" id="chk{{field.Text}}"/>
    <label for="chk{{field.Text}}" ng-bind="field.Text"></label>
    <ul ng-if="field.Items.length > 0" ng-show="field.IsExpanded" >
        <li ng-repeat="field in field.Items" ng-click="SelectFieldClick(field, $event)" 
            entitytreefielddraggable dragdata="SelectedField.Text"
            ng-mousedown="SelectFieldClick(field, $event)" class="common-tree-list marg-left-15">
            <div customattributechildtree class="tree-second-level"></div>
        </li>
    </ul>
</div>