<div ng-controller="ParameterNavigationOpenReportController" class="full-height">
    <div class="portlet-body padding-10 overflowH" id='Scope_{{$id}}'>
        <table class="table table-condensed table-fixedheader">
            <thead>
                <tr>
                    <th width="20%">Parameter Field</th>
                    <th width="70%">Parameter Value</th>
                    <th width="10%">Constant</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">Report Name :</td>
                    <td width="70%">
                        <div ng-hide="iobjReportName.iblnConstant">
                            <entityfieldelementintellisense modebinding="iobjReportName.istrReportName" model="iobjReportName" isshowonetomany="false" entityid="istrEntityName" propertyname='"istrReportName"'></entityfieldelementintellisense>
                        </div>
                        <div ng-show="iobjReportName.iblnConstant">
                            <fileintellisensetemplate model="iobjReportName" propertyname="'istrReportName'" filename="iobjReportName.istrReportName" filetype="'Report'"></fileintellisensetemplate>
                        </div>
                    </td>
                    <td width="10%" class="align-center"><input type="checkbox" ng-model="iobjReportName.iblnConstant" ng-click="iobjReportName.istrReportName=''" /></td>
                </tr>
                <tr>
                    <td width="20%">Report Template :</td>
                    <td width="70%">
                        <div ng-hide="iobjReportTemplate.iblnConstant">
                            <entityfieldelementintellisense modebinding="iobjReportTemplate.istrReportTemplate" model="iobjReportTemplate" isshowonetomany="false" entityid="istrEntityName" propertyname='"istrReportTemplate"'></entityfieldelementintellisense>
                        </div>
                        <div ng-show="iobjReportTemplate.iblnConstant">
                            <common-intellisense collection="lstReportData" is-reset="true" true selected-item="iobjReportTemplate.istrReportTemplate" model="iobjReportTemplate" propertyname="'istrReportTemplate'"></common-intellisense>
                        </div>
                    </td>
                    <td width="10%" class="align-center"> <input type="checkbox" ng-model="iobjReportTemplate.iblnConstant" ng-click="iobjReportTemplate.istrReportTemplate=''" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOkClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onCancelClick()" />
    </div>
</div>