<div class="portlet-body">
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-model="selectAll" ng-change="checkBoxListDefaultValueSelectAllChange(selectAll)" /></th>
                    <th class="table-header">Code Value</th>
                    <th class="table-header">Description</th>
                </tr>
            </thead>
            <tbody class="table-body-text">
                <tr class="table-bg-light" ng-repeat="item in lstValues">
                    <td>
                        <input type="checkbox" ng-model="item.selected" ng-disabled="selectAll" />
                    </td>
                    <td>
                        {{item.CodeValue}}
                    </td>
                    <td>
                        {{item.Description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="checkBoxListDefaultValueOkClick()" />
    <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeDialog()" />
    <!--<div class="col-xs-2 align-right">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="checkBoxListDefaultValueOkClick()" />
    </div>
    <div class="col-xs-4 align-right">
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeDialog()" />
    </div>-->
</div>
