

<div class="full-height" ng-controller="ValidationRulesController">
    <!--<div class="popup-secondary-head"> <h5> Hard Errors and Soft Errors </h5></div>-->
    <div class="portlet-body">

        <div class="col-xs-12 hard-soft-err-form">
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <b>{{entityID}}</b>
                </div>
                <div class="panel-body hard-soft-err-content">
                    <ul class="list-unstyled">
                        <li ng-repeat="hardError in HardErrorList">
                            <input type="checkbox" ng-model="hardError.IsSelected" /> {{hardError.Name}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!--<div class="col-xs-6 hard-soft-err-form" ng-hide="IsChildOfWizardStep">
            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <b> Soft Errors</b>
                </div>

                <div class="panel-body hard-soft-err-content">
                    <ul class="list-unstyled">
                        <li ng-repeat="softError in SoftErrorList">
                            <input type="checkbox" ng-model="softError.IsSelected" /> {{softError.Name}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>-->
    </div>
    <div class="form-actions">
        
            <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onSaveClick()" />
            <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onCancelClick()" />
       
    </div>
</div>