<div class="portlet-body" id="$id">
    <div class="form-group">
        <label class="control-label">
            Correspondence Test Name
        </label>
        <input type="text" class="form-control input-sm" title="{{newTest}}" ng-model="newTest" />
    </div>

    <div class="form-group">
        <label class="control-label">
            Is Object Based
        </label>
        <input type="checkbox" ng-model="isObjectBased" ng-true-value="'True'||'true'" ng-false-value="''||'False'||'false'" style="margin-left: 5px;" />
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="testErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="addTest()" ng-disabled="validateTest()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeTest()" />
    </div>
</div>
