<div class="portlet-body">
    <div ng-show="blnAssociatedFormPresent">
        <newentityobjecttreetemplate ischeckboxvisible="false" showonlyobject="true" iscollectionnextlevelload="false" lstdisplayentity="selectedAssociatedFormRow.LstDisplayedEntities"
                                     selectedentityobjecttreefields="selectedAssociatedFormRow.lstselectedobjecttreefields" selectedfield="selectedAssociatedFormRow.SelectedField" entityname="selectedAssociatedFormRow.FormEntity" isallownavigation="false" ></newentityobjecttreetemplate>
    </div>
    <div ng-show="!blnAssociatedFormPresent">
        <newentityobjecttreetemplate ischeckboxvisible="false" showonlyobject="true" iscollectionnextlevelload="false" lstdisplayentity="selectedWithoutAssociatedFormRow.LstDisplayedEntities"
                                     selectedentityobjecttreefields="selectedWithoutAssociatedFormRow.lstselectedobjecttreefields" selectedfield="selectedWithoutAssociatedFormRow.Field" entityname="selectedWithoutAssociatedFormRow.EntityName" isallownavigation="false" ></newentityobjecttreetemplate>
    </div></div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="OK" ng-click="onAssociatedFormOKClick()" />
    <input type="button" class="dialog-btn" value="Cancel" ng-click="onAssociatedFormCloseClick()" />

</div>