<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group ">
                <label class="control-label"> Entity</label>
                <fileintellisensetemplate model="objWizardDetails" propertyname="'sfwEntity'" filename="objWizardDetails.sfwEntity" filetype="'Entity'" onfilechange="objWizardDetails.isFinsihDisable()" onfileblur="objWizardDetails.PopulateFormName(); objWizardDetails.isFinsihDisable()"
                                           isdisabled="IsEntityDisabled" isinsidedialog="true"></fileintellisensetemplate>

            </div>

            <div class="form-group">
                <label class="control-label"> Form Title</label>
                <input type="text" class="form-control input-sm" title="{{objWizardDetails.sfwTitle}}" ng-model="objWizardDetails.sfwTitle" />

            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group relative-parent">
                <label class="control-label  blocked-element"> Form Name(ID)</label>

                <span class="file-prefix">wfm</span>
                <input type="text" class="form-control input-sm file-suffix" title="{{objWizardDetails.ID}}" ng-change="objWizardDetails.isFinsihDisable()" ng-model="objWizardDetails.ID">

            </div>
            <div class="form-group">
                <label class="control-label"> Path</label>
                <locationintellisensetemplate validate-location-callback="objLocationCallback.locationCallback" locationchanged="objWizardDetails.isFinsihDisable()" locationname="objWizardDetails.Path" model="objWizardDetails" validate="true" errorprop="objWizardDetails.errors.invalid_path"></locationintellisensetemplate>

            </div>
           
        </div>

    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objWizardDetails.ErrorMessageForDisplay.length>0">{{objWizardDetails.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input type="button" value="Cancel" class="dialog-btn " ng-click="CloseWizardClick()" />
        <input type="button" value="Back" class="dialog-btn" wz-previous="onPrevious()" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="!showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="showExtraFieldsTab" ng-disabled="!objWizardDetails.isWizardFinsihDisable" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="!showExtraFieldsTab" ng-disabled="!objWizardDetails.isWizardFinsihDisable" />
    </div>
</div>