
<div class="portlet-body" id="ScopeId_{{$id}}">
    <div class="col-xs-12">
        <div class="form-group">
            <span class="col-xs-4">Method ID</span>
            <div class="col-xs-8">
                <select ng-model="selectedMethodName" ng-options="method.MethodName for method in lstRemoteObjMethod" ng-change="getParameters();validateServerMethod();" class="form-control input-sm" undoredodirective></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <span class="col-xs-4">Mode</span>
            <div class="col-xs-8">
                <select name="method-id" class="form-control input-sm" ng-init="sfwMode='All'" ng-model="sfwMode" ng-change="validateServerMethod();">
                    <option value="All">All</option>
                    <option value="New">New</option>
                    <option value="Update">Update</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <table class="table table-hover table-fixedheader">
                <thead>
                    <tr>
                        <th width="100%">Parameters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="param in lstParameters">
                        <td width="100%">{{param.ParameterName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="methodMessage.length > 0" ng-bind="methodMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" ng-disabled="validateServerMethod()" value="OK" ng-click="OnOkClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="OnCancelClick()" />
    </div>
</div>
