<div class="portlet-body run-result-main">
    <div class="div-border">
        <div class="row run-result-table-outer padding-10">
            <table class="table table-condensed table-hover table-fixedheader">
                <thead>
                    <tr>
                        <th width="25%">Entity Name</th>
                        <th width="25%">Query Id</th>
                        <th width="25%">Status</th>
                        <th width="25%">Error Message</th>
                    </tr>
                </thead>
                <tbody ng-scrolldown callback="OnSearchScrollDown()" ngpausescroll="runResult.IsProcessing" ngscrollheight="9">
                    <tr ng-repeat="rowdata in lstQueriesData">
                        <td width="25%">{{rowdata.strTableName}}</td>
                        <td width="25%">{{rowdata.strQueryId}}</td>
                        <td width="25%">{{rowdata.strResult}}</td>
                        <td width="25%">{{rowdata.strError}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="form-actions">
    <input type="button" value="Execute All" class="btn dialog-btn-default" ng-click="OnExecuteQueryClick()" />
    <input type="button" value="Cancel" class="btn dialog-btn-default" ng-click="CloseCheckQueriesDialog()" />
</div>