<style>


    .entity-attributes-tab-content {
        height:calc(100% - 32px);
        overflow:auto;
    }
    .entity-attributes-tab-content .tab-pane ul {
        margin: 0px;
        padding: 0px;
        list-style:none;
    }
    .entity-attributes-tab-content .tab-pane ul li {
        height: 35px;
        line-height: 35px;
    }

</style>
<div class="portlet-body entity-table-report">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" data-target="#DuplicateTableName">
                Duplicate Table Name
            </a>
        </li>
        <li>
            <a data-toggle="tab" data-target="#DoWithoutTable">
                "do" Without Table
            </a>
        </li>
        <li>
            <a data-toggle="tab" data-target="#TableWithoutDo">
                Table Without "do"
            </a>
        </li>
    </ul>
    <div class="tab-content entity-attributes-tab-content ">
        <div class="tab-pane fade in active full-height" id="DuplicateTableName">
            <table class="table table-bordered table-striped table-hover dataTable no-footer" role="grid" aria-describedby="sample_editable_1_info">
                <thead>
                    <tr>
                        <th>Table Name</th>
                        <th>Entity Name </th>
                        <!--<th>New Entity Name</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in entityReport.lstDuplicateTableNameEntities track by $index">
                        <!--<td><input type="checkbox" ng-model="item.IsSelected" ng-change="setNewEntity(item)"/></td>-->
                        <td>{{item.istrTableName}}</td>
                        <td>
                            <ul ng-repeat="itemEntity in item.lstEntityName">
                                <li ng-dblclick="setNewEntity(item,itemEntity)">{{itemEntity}}</li>
                            </ul>
                        </td>
                        <!--<td>
                            <input type="text" readonly class="form-control" ng-model="item.istrMergeEntityName"/>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="DoWithoutTable">
            <ul  ng-repeat="itemDo in entityReport.lstDoWithoutTable track by $index">
                <li>{{itemDo}}</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="TableWithoutDo">
            <ul ng-repeat="itemTable in entityReport.lstTableWithoutDo track by $index">
                <li>{{itemTable}}</li>
            </ul>
        </div>
    </div>
</div>
<!--<div class="form-actions">
    <div class="col-xs-8 text-left">
    </div>
    <div class="col-xs-4">
        <input class="dialog-btn" type="button" value="Merge Entity" ng-click="MergeSelectedFile()" />
    </div>
</div>-->
