<style>
    /* Style the tab */
    .veritcal-tab-menu {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 30%;
        height: 100%;
    }

        /* Style the buttons inside the tab */
        .veritcal-tab-menu button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 10px 10px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .veritcal-tab-menu button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .veritcal-tab-menu button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .veritcal-tab-tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 70%;
        border-left: none;
        height: 100%;
    }

        .veritcal-tab-tabcontent ul {
            list-style: none;
            overflow: auto;
            height: 100%;
        }

            .veritcal-tab-tabcontent ul li {
                padding: 11px 0;
                width: 100%;
                border-bottom: 1px solid rgba(0,0,0,0.12);
                text-align: left;
                float: left;
            }
</style>

<div class="veritcal-tab-menu">
    <button class="tablinks" onclick="openShortcuts(event, 'General-shortcut')" id="defaultOpen-shortcut">General</button>
    <button class="tablinks" onclick="openShortcuts(event, 'Design-shortcut')">Design</button>
    <button class="tablinks" onclick="openShortcuts(event, 'XMLEditor-shortcut')">XML Editor</button>
</div>

<div id="General-shortcut" class="veritcal-tab-tabcontent">
    <ul>
        <li>
            <div class="col-xs-6">Advance Search</div>
            <div class="col-xs-6">Ctrl + Shift + F</div>
        </li>
        <li>
            <div class="col-xs-6">Active Files</div>
            <div class="col-xs-6">Shift + TAB</div>
        </li>
        <li>
            <div class="col-xs-6">Undo</div>
            <div class="col-xs-6">Ctrl + Z</div>
        </li>
        <li>
            <div class="col-xs-6">Redo</div>
            <div class="col-xs-6">Ctrl + Y</div>
        </li>
        <li>
            <div class="col-xs-6">Save</div>
            <div class="col-xs-6">Ctrl + S</div>
        </li>
        <li>
            <div class="col-xs-6">Cut</div>
            <div class="col-xs-6">Ctrl + X</div>
        </li>
        <li>
            <div class="col-xs-6">Copy</div>
            <div class="col-xs-6">Ctrl + C</div>
        </li>
        <li>
            <div class="col-xs-6">Paste</div>
            <div class="col-xs-6">Ctrl + V</div>
        </li>
    </ul>
</div>

<div id="Design-shortcut" class="veritcal-tab-tabcontent">
    <ul>
        <li>
            <div class="col-xs-6">Insert Row Above</div>
            <div class="col-xs-6">Ctrl + Shift + A</div>
        </li>
        <li>
            <div class="col-xs-6">Insert Row Below</div>
            <div class="col-xs-6">Ctrl + Shift + B</div>
        </li>
        <li>
            <div class="col-xs-6">Insert Column Left</div>
            <div class="col-xs-6">Ctrl + Shift + L</div>
        </li>
        <li>
            <div class="col-xs-6">Insert Column Right</div>
            <div class="col-xs-6">Ctrl + Shift + R</div>
        </li>
        <li>
            <div class="col-xs-6">Insert Cell Left</div>
            <div class="col-xs-6">Ctrl + Alt + L</div>
        </li>
        <li>
            <div class="col-xs-6">Insert Cell Right</div>
            <div class="col-xs-6">Ctrl + Alt + R</div>
        </li>
        <li>
            <div class="col-xs-6">Delete Cell</div>
            <div class="col-xs-6">Alt + DEL</div>
        </li>
        <li>
            <div class="col-xs-6">Move Row Up</div>
            <div class="col-xs-6">Ctrl + U</div>
        </li>
        <li>
            <div class="col-xs-6">Move Row Down</div>
            <div class="col-xs-6">Ctrl + D</div>
        </li>
        <li>
            <div class="col-xs-6">Move Column Left</div>
            <div class="col-xs-6">Ctrl + L</div>
        </li>
        <li>
            <div class="col-xs-6">Move Column Right</div>
            <div class="col-xs-6">Ctrl + R</div>
        </li>
        <li>
            <div class="col-xs-6">Delete Column</div>
            <div class="col-xs-6">Ctrl + Shift + DEL</div>
        </li>
        <li>
            <div class="col-xs-6">Delete Row</div>
            <div class="col-xs-6">Ctrl + DEL</div>
        </li>
        <li>
            <div class="col-xs-6">Clear Panel</div>
            <div class="col-xs-6">Shift + DEL</div>
        </li>
        <li>
            <div class="col-xs-6">Delete Row(s)/Column(s)</div>
            <div class="col-xs-6">DEL</div>
        </li>
    </ul>
</div>

<div id="XMLEditor-shortcut" class="veritcal-tab-tabcontent">
    <ul>
        <li>
            <div class="col-xs-6">Find</div>
            <div class="col-xs-6">Ctrl + F</div>
        </li>
        <li>
            <div class="col-xs-6">Replace</div>
            <div class="col-xs-6">Ctrl + H</div>
        </li>
        <li>
            <div class="col-xs-6">Find next</div>
            <div class="col-xs-6">Ctrl + K</div>
        </li>
        <li>
            <div class="col-xs-6">Remove line</div>
            <div class="col-xs-6">Ctrl + D</div>
        </li>
        <li>
            <div class="col-xs-6">Select all from multi-selection</div>
            <div class="col-xs-6">Ctrl + Shift + L</div>
        </li>
        <li>
            <div class="col-xs-6">Go to matching bracket</div>
            <div class="col-xs-6">Ctrl + P</div>
        </li>
        <li>
            <div class="col-xs-6">Find previous</div>
            <div class="col-xs-6">Ctrl + Shift + K</div>
        </li>
        <li>
            <div class="col-xs-6">Change to lower case</div>
            <div class="col-xs-6">Ctrl + Shift + U</div>
        </li>
        <li>
            <div class="col-xs-6">Change to upper case</div>
            <div class="col-xs-6">Ctrl + U</div>
        </li>
    </ul>
</div>

<script>
    function openShortcuts(evt, Category) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("veritcal-tab-tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(Category).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen-shortcut").click();
</script>