<div context-menu='controlmenuOptions' class='form-control-wrapper' ng-class='{"form-invisible-control" : model.dictAttributes.Visible === "False"}'
     ng-switch="model.Name">

    <div ng-switch-when="sfwPanel|sfwDialogPanel|sfwListView" ng-switch-when-separator="|">
        <childpanel-control-directive model='model' formodel='formodel' is-hidecontrols='isHidecontrols' objparent='objparent' buttons-collection='buttonsCollection'
                                      entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' lstloadedentitytrees='lstloadedentitytrees'
                                      lstloadedentitycolumnstree='lstloadedentitycolumnstree' />

    </div>
    <div ng-switch-when="sfwTable">
        <table-control-directive model='model' formodel='formodel' is-hidecontrols='isHidecontrols' objparent='objparent' buttons-collection='buttonsCollection'
                                 entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' lstloadedentitytrees='lstloadedentitytrees'
                                 lstloadedentitycolumnstree='lstloadedentitycolumnstree' />

    </div>
    <div ng-switch-when="sfwGridView">
        <grid-control-directive model='model' formodel='formodel' is-hidecontrols='isHidecontrols' objparent='objparent' buttons-collection='buttonsCollection'
                                entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' lstloadedentitytrees='lstloadedentitytrees'
                                lstloadedentitycolumnstree='lstloadedentitycolumnstree' />

    </div>
    <div ng-switch-when="sfwTabContainer">
        <tabcontainer-control-directive model='model' formodel='formodel' is-hidecontrols='isHidecontrols' objparent='objparent' buttons-collection='buttonsCollection'
                                        entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' lstloadedentitytrees='lstloadedentitytrees'
                                        lstloadedentitycolumnstree='lstloadedentitycolumnstree' />

    </div>
    <div ng-switch-when="sfwTextBox|sfwLabel|sfwDropDownList|sfwCascadingDropDownList|sfwMultiSelectDropDownList" ng-switch-when-separator="|">
        <editable-control-directive model='model' formodel='formodel' />

    </div>
    <div ng-switch-when="udc">
        <usercontrol-control-directive model='model' formodel='formodel' is-hidecontrols='isHidecontrols' objparent='objparent' buttons-collection='buttonsCollection'
                                       entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' lstloadedentitytrees='lstloadedentitytrees'
                                       lstloadedentitycolumnstree='lstloadedentitycolumnstree' />

    </div>
    <div ng-switch-default>
        <common-control-directive model='model' formodel='formodel' />

    </div>






    <!--ng-if="scope.model.Name == 'sfwCheckBoxList' || scope.model.Name == 'sfwRadioButtonList' || scope.model.Name == 'sfwChart' || scope.model.Name == 'sfwCalendar' || scope.model.Name == 'sfwScheduler' |
         scope.model.Name=='sfwCheckBox' || scope.model.Name=='CompareValidator' || scope.model.Name=='sfwFileLayout' || scope.model.Name=='sfwSourceList' || scope.model.Name=='sfwRadioButton' || scope.model.Name=='sfwSlider'
    || scope.model.Name=='sfwImage' || scope.model.Name=='sfwCRViewer' || scope.model.Name=='sfwFileUpload' || scope.model.Name=='sfwMultiCorrespondence' || scope.model.Name=='sfwOpenDetail' || scope.model.Name=='sfwQuestionnairePanel'
    || scope.model.Name=='RequiredFieldValidator' || scope.model.Name=='sfwSoftErrors' || scope.model.Name=='sfwListPicker' || scope.model.Name=='sfwTargetList' || scope.model.Name=='sfwRuleViewer' || scope.model.Name=='sfwListBox'
    || scope.model.Name == 'sfwJSONData' || scope.model.Name == 'br' || scope.model.Name == 'hr' || scope.model.Name == 'sfwKnob' || scope.model.Name == 'sfwDateTimePicker' || scope.model.Name == 'sfwLiteral'
       || scope.model.Name == 'sfwButton' || scope.model.Name == 'sfwLinkButton' || scope.model.Name == 'sfwImageButton' || scope.model.Name == 'sfwHyperLink'" />-->

</div>

