<!--<div ng-class="getdisplayClass(items,true)" context-menu="menuOptions" nodeid="{{items.dictAttributes.sfwNodeID}}" ng-mousedown="onStepSelectChange(items)" ng-keydown="onkeydownevent($event,items,objparent)">
    <div class="text-assign-blank" ng-class="getClassForDesc(items,true)">
        <div class="crcl-assign" customdraggable dragdata=[objparent.dictAttributes.sfwNodeID,items.dictAttributes.sfwNodeID]>
            <div class="method-block-icon"></div>
        </div>
        <p ng-class="items.ShowParams ? 'callactivity-arrow-down' : 'callactivity-arrow-right'" id="p_2" ng-click="expandCollapseParameters(event)"></p>
        <span class="hidden-span hidden-span-with-refresh" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.Text" placeholder="Description" description-keydown="onDescriptionKeyDown($event)" model="items"></span>
        <a class="fa fa-refresh" title="Refresh Method" ng-click="refreshMethodParameters()"></a>
    </div>
    <div ng-show="iviewmode == 'Developer View'" class="line-assign"></div>
    <div ng-show="iviewmode == 'Developer View'" ng-class="getdisplayClass(items,false)">
        <span class="hidden-span-expression" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.sfwReturnField" placeholder="ReturnField" action-keydown="onActionKeyDown($event)" model="items"></span>
        <span class="symbol-margin"> = </span>
        <span class="hidden-span-expression" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.sfwMethodName" placeholder="MethodName" methodname-keydown="onMethodNameKeyDown($event)" model="items"></span>
    </div>
    <div ng-show="iviewmode == 'Developer View' && items.ShowParams" ng-repeat="itm in items.Elements" ng-if="itm.Name == 'parameters' && itm.Elements.length > 0" ng-class="getdisplayClass(items,false,null)">
        <div ng-repeat="parameter in itm.Elements">
            <span spellcheck=false>{{parameter.dictAttributes.ID}}[{{parameter.dictAttributes.sfwDataType}}]</span>
            <span>=</span>
            <span class="hidden-span-expression" contenteditable="true" spellcheck=false content-editable ng-model="parameter.dictAttributes.sfwExpression" placeholder="Expression" action-keydown="onActionKeyDown($event)" model="parameter"></span>
        </div>
    </div>
</div>-->

<div draggable="true" customdraggable dragdata=[parentModel.dictAttributes.sfwNodeID,model.dictAttributes.sfwNodeID] class="node" ng-class="getCssClass(model)" ng-mousedown="onStepSelectChange(model)" context-menu="menuOptions">
    <div class="node-header-container {{::model.Name}}-node-icon">
        <span class="parameters-expander-refresh fa fa-caret-right" ng-click="toggleParameters($event)" ondblclick="stopPropogation(event)"></span>
        <span class="node-header-inline" logical-rule-editable contenteditable="false" content-editable ng-model="model.dictAttributes.Text" placeholder="Description" description-keydown="onDescriptionKeyDown($event)" model="model"></span>
        <span  class="parameters-expander-refresh fa fa-refresh" ng-click="refreshMethodParameters($event)" ondblclick="stopPropogation(event)"></span>
    </div>
    <div class="node-expression-container" ng-show="viewMode == 'Developer View'">
        <span class="node-expression-inline" logical-rule-editable spellcheck=false contenteditable="false" content-editable ng-model="model.dictAttributes.sfwReturnField" placeholder="ReturnField" action-keydown="onActionKeyDown($event)" model="model"></span>
        &nbsp;&nbsp;=&nbsp;&nbsp;
        <span class="node-expression-inline node-expression-inline-long" logical-rule-editable spellcheck=false contenteditable="false" content-editable ng-model="model.dictAttributes.sfwMethodName" placeholder="MethodName" methodname-keydown="onMethodNameKeyDown($event)" model="model"></span>
        <div class="parameters-wrapper" ng-repeat="parameter in parameters.Elements" style="display:none">
            <span spellcheck=false>{{::parameter.dictAttributes.ID}}[{{::parameter.dictAttributes.sfwDirection}},{{::parameter.dictAttributes.sfwDataType}}]</span>
            <span>&nbsp;=&nbsp;</span>
            <span class="node-expression-inline" logical-rule-editable spellcheck="false" contenteditable="false" content-editable ng-model="parameter.dictAttributes.sfwExpression" placeholder="Expression" action-keydown="onActionKeyDown($event)" model="parameter"></span>
        </div>
    </div>
</div>
