<div ng-controller="RuleController" class="innerWrapper">
    <div class="col-xs-12 rule-wrapper" ng-hide="selectedDesignSource">
        <div class="toolbox-sidebar" ng-show="!selectedDesignSource && IsToolsDivCollapsed">
            <div class="toolbox-sidebardiv" ng-click="toggleSideBar()">

            </div>
        </div>
        <div class="toolbox-wrapper" ng-show="!selectedDesignSource && !IsToolsDivCollapsed">
            <span class="toolbox-close-icon" ng-click="toggleSideBar()"> </span>
            <div class="toolbox toolbox-form">
                <ul class="nav nav-tabs">
                    <li ng-class="activeLeftTab=='Toolbox'?'active':''" ng-click="setActiveLeftTab('Toolbox')" ng-if="$root.currentopenfile.file.FileType =='LogicalRule'">
                        <a data-toggle="tab" aria-expanded="true">
                            Toolbox
                        </a>
                    </li>
                    <li ng-class="activeLeftTab=='Parameters'?'active':''" ng-click="setActiveLeftTab('Parameters')">
                        <a data-toggle="tab" aria-expanded="false">
                            Parameters
                        </a>
                    </li>
                    <li ng-class="activeLeftTab=='ParentRules'?'active':''" ng-click="setActiveLeftTab('ParentRules')">
                        <a data-toggle="tab" aria-expanded="false">
                            Parent Rules
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div ng-class="activeLeftTab=='Toolbox'?'tab-pane fade active in':'tab-pane fade'" ng-show="activeLeftTab=='Toolbox'" ng-if="$root.currentopenfile.file.FileType =='LogicalRule'" onselectstart="return false;">

                        <div class="toolbox-items">
                            <div class="toolbox-items-heading">
                                Basic
                            </div>
                            <div class="toolbox-items-left">
                                <div title="Switch" customdraggable dragdata="'switch'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_condition.svg" />
                                    <span>Switch</span>
                                </div>
                            </div>
                            <div class="toolbox-items-right">
                                <div title="Action" customdraggable dragdata="'actions'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_action.svg" />
                                    <span>Action</span>
                                </div>
                            </div>

                            <div class="toolbox-items-left">
                                <div title="For Loop" customdraggable dragdata="'foreach'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_loop.svg" />
                                    <span>For Loop</span>
                                </div>
                            </div>
                            <div class="toolbox-items-right">
                                <div title="While Loop" customdraggable dragdata="'while'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_while.svg" />
                                    <span>While Loop</span>
                                </div>
                            </div>

                            <div class="toolbox-items-left">
                                <div title="Call Logical Rule" customdraggable dragdata="'calllogicalrule'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_calllogical.svg" />
                                    <span>Call Logical Rule</span>
                                </div>
                            </div>
                            <div class="toolbox-items-right">
                                <div title="Call Decision Table" customdraggable dragdata="'calldecisiontable'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_calldecision.svg" />
                                    <span>Call Decision Table</span>
                                </div>
                            </div>

                            <div class="toolbox-items-left">
                                <div title="Call Excel Matrix" customdraggable dragdata="'callexcelmatrix'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_callexcel.svg" />
                                    <span>Call Excel Matrix</span>
                                </div>
                            </div>
                            <div class="toolbox-items-right">
                                <div title="Return" customdraggable dragdata="'return'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_return.svg" />
                                    <span>Return</span>
                                </div>
                            </div>

                            <div class="toolbox-items-left">
                                <div title="Break" customdraggable dragdata="'break'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_break.svg" />
                                    <span>Break</span>
                                </div>
                            </div>
                            <div class="toolbox-items-right">
                                <div title="Continue" customdraggable dragdata="'continue'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_continue.svg" />
                                    <span>Continue</span>
                                </div>
                            </div>

                            <div class="toolbox-items-left">
                                <div title="Query" customdraggable dragdata="'query'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_query.svg" />
                                    <span>Query</span>
                                </div>
                            </div>
                            <div class="toolbox-items-right">
                                <div title="Notes" customdraggable dragdata="'notes'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_notes.svg" />
                                    <span>Notes</span>
                                </div>
                            </div>

                            <div class="toolbox-items-left" ng-show="ShowMethod">
                                <div title="Method" customdraggable dragdata="'method'" isruletoolbar="true" class="toolbox-items-wrapper">
                                    <img width="18" height="16" class="image-icon-tools" src="images/Rule/icon_method.svg" />
                                    <span>Method</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-class="activeLeftTab=='Parameters'?'tab-pane fade active in':'tab-pane fade'" ng-show="activeLeftTab=='Parameters'">
                        <div id="dvParameters" ng-if="!IsDecisionTable" class="full-height">
                            <div class="rule-right-panel-header">
                                <div class="panel-icons" ng-hide="objLogicalRule.dictAttributes.sfwRuleType == 'ExcelMatrix'">
                                    <a title="Add Parameter"><img src="images/Common/icon_add_dark.svg" ng-click="AddParameters()" /></a>
                                    <a title="Delete Selected Parameter" ng-disabled="parameters.Elements.length <= 0"><img src="images/Common/icon_delete_dark.svg" ng-disabled="parameters.Elements.length <= 0" ng-click="RemoveParameters()" /></a>
                                </div>
                            </div>
                            <div class="rule-right-panel-container">
                                <ul id="ulParameter">
                                    <li ng-repeat="objParam in parameters.Elements track by $index" ng-click="setSelectedParameters(objParam,$event)" context-menu="(objLogicalRule.dictAttributes.sfwRuleType == 'ExcelMatrix') ? [] :menuOptionsForParameters">
                                        <div id="tblParameters" class="rule-right-panel-section-wrapper" ng-class="getClassForParameters(objParam)" tabindex='{{$index}}' key-up-down-with-element callbackfn='setSelectedParameters' objproperty="'objParam'" parentelem="'li'">
                                            <div class="rule-right-panel-top-section">
                                                <div class="titlebar">
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'int'" src="images/Rule/icon-int.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'bool'" src="images/Rule/icon-boolean.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'Collection' || objParam.dictAttributes.sfwDataType == 'List'" src="images/Rule/icon-list.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'datetime'" src="images/Rule/icon-datetime.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'decimal'" src="images/Rule/icon-decimal.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'double'" src="images/Rule/icon-double.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'float'" src="images/Rule/icon-float.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'long'" src="images/Rule/icon-long.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'string'" src="images/Rule/icon-string.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'short'" src="images/Rule/icon-short.svg" />
                                                    <img ng-show="objParam.dictAttributes.sfwDataType == 'Object'" src="images/Rule/icon-object.svg" />
                                                    <span id="localVarId" contenteditable="false" class="placeholder textoverflow-style" style="max-width:280px" data-placeholder="ID" ng-bind="objParam.dictAttributes.ID"></span>
                                                </div>
                                                <div class="pull-right"><img src="images/Rule/icon-edit.png" class="pull-right btn-edit-and-close" id="btnEditLocalVar" ng-show="objParam == SelectedParameter" ng-click="AddOrUpdateParameter(objParam,false)" title="Edit" /></div>
                                            </div>
                                            <div class="rule-right-panel-bottom-section">
                                                <span id="paramEntity" ng-if="!objParam.dictAttributes.sfwEntity.trim()" contenteditable="false" class="placeholder" data-placeholder="Entity" ng-bind="objParam.dictAttributes.sfwEntity"></span>
                                                <span id="paramEntity" ng-if="objParam.dictAttributes.sfwEntity.trim()" style="color: #5b9bd1!important;" contenteditable="false" class="placeholder" data-placeholder="Entity" ng-bind="objParam.dictAttributes.sfwEntity" ng-click="NavigateToEntity(objParam.dictAttributes.sfwEntity)"></span>
                                                |<span id="paramDirection" contenteditable="false" class="placeholder" data-placeholder="Direction" ng-bind="objParam.dictAttributes.sfwDirection"></span>
                                                |<span id="paramText" contenteditable="false" class="placeholder textoverflow-style" style="max-width:100px" data-placeholder="Description" ng-bind="objParam.dictAttributes.Text" ng-trim="false"></span>
                                            </div>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="dvDecisionTableParameters" ng-if="IsDecisionTable" class="full-height">
                            <div class="rule-right-panel-header">
                                <div class="panel-icons">
                                    <a title="Add Parameter"><img src="images/Common/icon_add_dark.svg" ng-click="AddParameters()" /></a>
                                    <a title="Delete Selected Parameter" ng-disabled="parameters.length <= 0"><img src="images/Common/icon_delete_dark.svg" ng-disabled="parameters.length <= 0" ng-click="RemoveParameters()" /></a>
                                </div>
                            </div>
                            <div class="rule-right-panel-container">
                                <ul id="ulParameter">
                                    <li ng-repeat="objParam in parameters track by $index" ng-click="setSelectedParameters(objParam,$event)">
                                        <div id="tblParameters" ng-hide="objParam.IsEditParameter==true" class="rule-right-panel-section-wrapper" ng-class="getClassForParameters(objParam)" tabindex='{{$index}}' key-up-down-with-element callbackfn='setSelectedParameters' objproperty="'objParam'" parentelem="'li'">
                                            <div class="rule-right-panel-top-section">
                                                <div class="titlebar ">
                                                    <img ng-show="objParam.DataType == 'int'" src="images/Rule/icon-int.svg" />
                                                    <img ng-show="objParam.DataType == 'bool'" src="images/Rule/icon-boolean.svg" />
                                                    <img ng-show="objParam.DataType == 'Collection' || objParam.DataType == 'List'" src="images/Rule/icon-list.svg" />
                                                    <img ng-show="objParam.DataType == 'datetime'" src="images/Rule/icon-datetime.svg" />
                                                    <img ng-show="objParam.DataType == 'decimal'" src="images/Rule/icon-decimal.svg" />
                                                    <img ng-show="objParam.DataType == 'double'" src="images/Rule/icon-double.svg" />
                                                    <img ng-show="objParam.DataType == 'float'" src="images/Rule/icon-float.svg" />
                                                    <img ng-show="objParam.DataType == 'long'" src="images/Rule/icon-long.svg" />
                                                    <img ng-show="objParam.DataType == 'string'" src="images/Rule/icon-string.svg" />
                                                    <img ng-show="objParam.DataType == 'short'" src="images/Rule/icon-short.svg" />
                                                    <img ng-show="objParam.DataType == 'Object'" src="images/Rule/icon-object.svg" />
                                                    <span id="localVarId" contenteditable="false" class="placeholder textoverflow-style" style="max-width:280px" data-placeholder="ID" ng-bind="objParam.ParamID"></span>
                                                </div>
                                                <div class="pull-right"><img src="images/Rule/icon-edit.png" class="pull-right btn-edit-and-close" ng-show="objParam == SelectedParameter" id="btnEditLocalVar" ng-click="AddOrUpdateParameter(objParam,false)" title="Edit" /></div>
                                            </div>
                                            <div class="rule-right-panel-bottom-section">
                                                <span id="paramEntity" contenteditable="false" class="placeholder" data-placeholder="Entity" ng-bind="objParam.Entity"></span>
                                                |<span id="paramDirection" contenteditable="false" class="placeholder" data-placeholder="Direction" ng-bind="objParam.Direction"></span>
                                                |<span id="paramText" contenteditable="false" class="placeholder textoverflow-style" style="max-width:100px" data-placeholder="Description" ng-bind="objParam.Text"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-class="activeLeftTab=='ParentRules'?'tab-pane fade active in':'tab-pane fade'" ng-show="activeLeftTab=='ParentRules'">
                        <div id="dvChildRules" class="full-height">
                            <div class="rule-right-panel-header">

                                <div class="rule-right-panel-header-images">
                                    <i ng-click="updateParentRules()" title="Refresh Child Rules" class="fa fa-refresh"></i>
                                </div>
                            </div>

                            <div class="rule-right-panel-container">
                                <ul id="ulParentRules">
                                    <li ng-if="isParentRulesLoading">Loading Parent Rules...</li>
                                    <li ng-if="parentRules.length==0 && !isParentRulesLoading">No Parent Rules Available.</li>
                                    <li ng-if="parentRules.length>0 && !isParentRulesLoading" ng-repeat="parentRule in parentRules" ng-click="openRule(parentRule.ID)" title="{{parentRule.ID}}">
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="images/Home/logical_rule_black.png" class="marg-right-5" style="height: 14px;width: 16px;margin-right: 3px;margin-bottom: 3px;" />
                                                </td>
                                                <td>
                                                    {{parentRule.ID}}
                                                </td>
                                            </tr>
                                        </table>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-class="IsToolsDivCollapsed?'form-area-expanded':'form-area'">
            <search-design main-model="objLogicalRule" ng-if="objLogicalRule.dictAttributes.sfwRuleType != 'ExcelMatrix'" current-file="currentfile" select-element="selectElement(path, strPath)" traverse-model="traverseMainModel(path, strPath)" toggle-design="ToggleUIDesginAttribute(items, IsAction)" class="design-search"></search-design>
            <div class="inner-container">
                <div class="rule-tab-content-wrapper">
                    <div class="tab-main-rule">
                        <ul class="content-tab-rule rule-scrollable-tab" id="{{$root.currentopenfile.file.FileName}}_version_tabs">
                            <li id="{{$root.currentopenfile.file.FileName}}_version_{{effectiveDate.replace('\\','')}}" ng-repeat="effectiveDate in objEffectiveDate track by $index" ng-class="(!selectedEffectiveDate && effectiveDate == 'Default') ||(selectedEffectiveDate == effectiveDate)?'active':''" ng-mousedown="selectRule(effectiveDate)" ng-dblclick="EditEffectiveDateDailog()">
                                <a>
                                    <span ng-bind="effectiveDate"></span>
                                    <i class="fa fa-close marg-left-10 fright marg-top-5" ng-click="DeleteLogicalRule(effectiveDate)" ng-if="effectiveDate != 'Default'" style="cursor:pointer" />
                                </a>
                            </li>
                        </ul>
                        <div class="rule-version-actions">
                            <i class="fa fa-chevron-left marg-left-10" onclick="scrollToLeft(event)" check-tab-overflow function-name="canShowScrollLeft" ng-disabled="!canShowScrollLeft()" title="Scroll Left" />
                            <i class="fa fa-chevron-right marg-left-10" onclick="scrollToRight(event)" check-tab-overflow function-name="canShowScrollRight" ng-disabled="!canShowScrollRight()" title="Scroll Right" />
                            <i class="fa fa-step-forward marg-left-10" ng-click="selectRuleAndScrollToEffectiveDate('Default')" title="Navigate to 'Default' Version" ng-hide="selectedEffectiveDate=='Default' ||!hasDefaultVersion" />
                            <i class="fa fa-plus marg-left-10" ng-click="NewVersion()" title="Add New Version" ng-if="$root.currentopenfile.file.FileType !='ExcelMatrix'" />
                            <img title="Export To Excel" src="images/Rule/icon-export-to-excel.svg" ng-if="$root.currentopenfile.file.FileType =='DecisionTable'" ng-click="ExportToExcel(false)" />
                            <img title="Export To Excel" src="images/Rule/icon-export-to-excel.svg" ng-if="$root.currentopenfile.file.FileType =='ExcelMatrix'" ng-click="ExportToExcel(true)" />
                        </div>
                    </div>
                    <div class="tab-content">
                        <div ng-repeat="rule in loadedRules track by $index" ng-show="objSelectedLogicalRule == rule" class="full-height">
                            <div class="rule-diagram" ng-if="isLogicalRule">
                                <div class="btn-group" title="Details">
                                    <a class="dropdown-toggle" data-close-others="true" aria-expanded="true" ng-click="EditVersionDetailsDailog()">
                                        <img src="images/Rule/icon-detail_rule.svg">
                                    </a>
                                </div>
                                <span ng-show="rule.dictAttributes.sfwStatus && selectedEffectiveDate!='Default'" ng-bind="rule.dictAttributes.sfwStatus"></span>
                                <span ng-hide="rule.dictAttributes.sfwStatus || selectedEffectiveDate=='Default'">Status</span>
                                <span ng-show="selectedEffectiveDate!='Default'">&nbsp;|&nbsp;</span>
                                <span ng-show="rule.dictAttributes.Text" ng-bind="rule.dictAttributes.Text" ng-trim="false" style="display:inline-block;vertical-align:middle;max-width:150px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden"></span>
                                <span ng-hide="rule.dictAttributes.Text" ng-trim="false">Description</span>

                                <div class="btn-group pull-right" style="margin-right:15px;" title="Variables">
                                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true" ng-click="AddLocalVariable()" style="box-shadow:none">
                                        <i class="fa fa-list-ul" />
                                        <span class="home-openFileListCount">
                                            <i class="fa fa-plus" style="font-size: 10px;" />
                                        </span>
                                    </a>
                                </div>
                                <div class="btn-group pull-right" style="margin-right:15px;" title="Variables">
                                    <a ng-disabled="variables.Elements.length <= 0" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true" style="box-shadow:none">
                                        <i class="fa fa-list-ul" />
                                        <span class="home-openFileListCount">{{variables.Elements.length}}</span>
                                    </a>
                                    <ul class="dropdown-menu pull-right variable-list">
                                        <li ng-repeat="objVar in variables.Elements" ng-click="setSelectedLocalVar(objVar,$event)" context-menu="menuOptionsForLocalVariables" style="width:350px;">
                                            <div id="tblLocalVarDetails" class="rule-right-panel-section-wrapper" ng-class="getClassForLocalVar(objVar)">
                                                <div class="rule-right-panel-top-section">
                                                    <div class="titlebar ">
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'int'" src="images/Rule/icon-int.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'bool'" src="images/Rule/icon-boolean.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'Collection' || objVar.dictAttributes.sfwDataType == 'List'" src="images/Rule/icon-list.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'datetime'" src="images/Rule/icon-datetime.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'decimal'" src="images/Rule/icon-decimal.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'double'" src="images/Rule/icon-double.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'float'" src="images/Rule/icon-float.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'long'" src="images/Rule/icon-long.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'string'" src="images/Rule/icon-string.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'short'" src="images/Rule/icon-short.svg" />
                                                        <img ng-show="objVar.dictAttributes.sfwDataType == 'Object'" src="images/Rule/icon-object.svg" />
                                                        <span id="localVarId" contenteditable="false" class="placeholder textoverflow-style" style="max-width:280px" data-placeholder="ID" ng-bind="objVar.dictAttributes.ID"></span>
                                                    </div>
                                                    <div class="pull-right">
                                                        <i class="fa fa-edit" ng-click="OnLocalVarEdit(objVar)" title="Edit Variable" />
                                                        <i class="fa fa-close" ng-click="RemoveLocalVariable(objVar)" title="Delete Variable" />
                                                        <!--<img src="images/Rule/icon-edit.png" class="pull-right btn-edit-and-close" ng-show="objVar == SelectedLocalVariable" id="btnEditLocalVar" ng-click="OnLocalVarEdit(objVar)" title="Edit" />-->
                                                    </div>
                                                </div>
                                                <div class="rule-right-panel-bottom-section">
                                                    <span id="localVarValue" contenteditable="false" class="placeholder table-cell-display" data-placeholder="Value" ng-bind="objVar.dictAttributes.Value"></span>
                                                    <span class="table-cell-display">|</span>
                                                    <span id="LocalvarEntity" ng-if="!objVar.dictAttributes.sfwEntity.trim()" contenteditable="false" class="placeholder table-cell-display" data-placeholder="Entity" ng-bind="objVar.dictAttributes.sfwEntity"></span>
                                                    <span id="LocalvarEntity" ng-if="objVar.dictAttributes.sfwEntity.trim()" style="color: #5b9bd1!important;" contenteditable="false" class="placeholder table-cell-display" data-placeholder="Entity" ng-bind="objVar.dictAttributes.sfwEntity" ng-click="NavigateToEntity(objVar.dictAttributes.sfwEntity)"></span>
                                                    <span class="table-cell-display">|</span><span id="LocalVarText" contenteditable="false" style="max-width:150px" class="placeholder textoverflow-style table-cell-display" title="{{objVar.dictAttributes.Text}}" data-placeholder="Description" ng-bind="objVar.dictAttributes.Text" ng-trim="false"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <span style="float:right;margin:0px 10px 0px 0px;">|</span>
                                <div class="btn-group pull-right" style="margin-right:15px;" title="Refresh Child Rules">
                                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true" ng-click="updateChildRules()" style="box-shadow:none">
                                        <img src="images/Rule/Child_rule4.svg" style="width:20px;height:20px;" />
                                        <span class="home-openFileListCount">
                                            <i class="fa fa-refresh" style="font-size: 10px;" />
                                        </span>
                                    </a>
                                </div>
                                <div class="btn-group pull-right" style="margin-right:15px;" title="Child Rules">
                                    <a ng-disabled="childRules.length <= 0" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true" style="box-shadow:none">
                                        <img src="images/Rule/Child_rule4.svg" style="width:20px;height:20px;" />
                                        <span class="home-openFileListCount">{{childRules.length}}</span>
                                    </a>
                                    <ul class="dropdown-menu pull-right" style="overflow: auto;max-height: calc(100vh - 255px);">
                                        <li ng-repeat="childRule in childRules" class="filetype-icons home-filetype-{{childRule.Type}}{{childRule.IsStatic?'-static':''}}-black" style="padding: 10px 10px 10px 0px;position: relative;overflow: hidden;text-overflow: ellipsis;max-width: 300px;" ng-click="navigateToFileService.NavigateToFile(childRule.ID,'','')">
                                            <span ng-bind="childRule.ID" style="margin-left:35px;"></span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="logical-rule-container" id="dvLogicalRule" logical-rule-drag-drop is-first-node="true">
                                    <ul class="logical-rule-first-ul">
                                        <li ng-if="item.Name != 'variables'" ng-repeat="item in rule.Elements">
                                            <logical-rule-node-wrapper model="item" parent-model="rule" view-mode="ViewMode"></logical-rule-node-wrapper>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="rule-diagram full-height" ng-if="isExcelMatrix">
                                <div class="left">
                                    <div class="btn-group" title="Details">
                                        <a class="dropdown-toggle" data-close-others="true" aria-expanded="true" ng-click="EditVersionDetailsDailog()">
                                            <img src="images/Rule/icon-detail_rule.svg">
                                        </a>
                                    </div>
                                    <span ng-show="rule.dictAttributes.sfwStatus && selectedEffectiveDate!='Default'" ng-bind="rule.dictAttributes.sfwStatus"></span>
                                    <span ng-hide="rule.dictAttributes.sfwStatus || selectedEffectiveDate=='Default'">Status</span>
                                    <span ng-show="selectedEffectiveDate!='Default'">&nbsp;|&nbsp;</span>
                                    <span ng-show="rule.dictAttributes.Text" ng-bind="rule.dictAttributes.Text" ng-trim="false"></span>
                                    <span ng-hide="rule.dictAttributes.Text" ng-trim="false">Description</span>

                                </div>
                                <div class="tree data-table-container full-height excelmatrix-container">
                                    <span class="excelmatrix-columnheader" ng-bind="objLogicalRule.dictAttributes.columnHeader"></span>

                                    <div class="excelmatrix-rowheader-wrapper">
                                        <span class="excelmatrix-rowheader" ng-bind="objLogicalRule.dictAttributes.rowHeader"></span>
                                    </div>

                                    <div class="excelmatrix-table" excelmatrixscrolldirective>
                                        <table id="tblExcelMatricsMain" class="excel-table" cellspacing="0" cellpadding="0">
                                            <thead>
                                                <tr ng-repeat="objcol in rule.objHeaderColumnValues">
                                                    <th valign="top" class="excel-colheader">
                                                        <span ng-bind="rule.objHeaderRowTitle"></span>
                                                    </th>
                                                    <td class="excel-colheader excel-data" ng-repeat="obj in objcol track by $index">
                                                        <span valign="top" ng-bind="obj"></span>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="objval in rule.objColumnValues">
                                                    <td class="excel-rowheader" valign="top">
                                                        <span ng-bind="rule.objHeaderRowValues[rule.objColumnValues.indexOf(objval)]"></span>
                                                    </td>
                                                    <td class="excel-data" valign="top" ng-repeat="obj in objval track by $index">
                                                        <span valign="top" ng-bind="obj"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="rule-diagram full-height" ng-if="isDecisionTable">
                                <div class="left">
                                    <div class="btn-group" title="Details">
                                        <a class="dropdown-toggle" data-close-others="true" aria-expanded="true" ng-click="EditVersionDetailsDailog()">
                                            <img src="images/Rule/icon-detail_rule.svg">
                                        </a>
                                    </div>
                                    <span ng-show="rule.Status && selectedEffectiveDate!='Default'" ng-bind="rule.Status"></span>
                                    <span ng-hide="rule.Status || selectedEffectiveDate=='Default'">Status</span>
                                    <span ng-show="selectedEffectiveDate!='Default'">&nbsp;|&nbsp;</span>
                                    <span ng-show="rule.Description" ng-bind="rule.Description"></span>
                                    <span ng-hide="rule.Description">Description</span>
                                </div>
                                <div class="tree data-table-container full-height scroll-second-xy" decisiontablescrolldirective id="dvDecisionTable">
                                    <div>
                                        <!--dont remove this empty div it is needed for design by nikhil-->
                                        <table class="dt-table-border " cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr rowconditiondirective ng-repeat="obj in rule.Rows | limitTo : rule.noConditionsDisplayed" data-row-index="{{$index}}" returntype="objLogicalRule.ReturnType" items="obj" logicalrule="rule" rcviewmode="ViewMode"></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="selectedDesignSource" class="full-height">
        <div id="editor_{{currentfile.FileName}}" class="ace-editor-div"></div>
    </div>
</div>
