<form class="full-width fleft padding-10">
    <fieldset ng-disabled="$ctrl.isdisabledforversioning">
        <div class="form-group">
            <label class="control-label margin-bottom-5">
                User Role
            </label>  
            <div>
                <userrolesintellisensetemplate isdisabledforversioning="$ctrl.isdisabledforversioning" lstuserroles="$ctrl.userRoles" propertyname="'dictAttributes.roles'" model="$ctrl.userRoleModel" rolename="$ctrl.userRoleModel.dictAttributes.roles"></userrolesintellisensetemplate>
            </div>      
        </div>
    </fieldset>
</form>
