<div class="portlet-body" id="$id">
    <div class="form-group">
        <label class="col-xs-2">Name :</label>
        <div class="col-xs-4">
            <input type="text" class="form-control input-sm" title="{{newGroupID}}" ng-model="newGroupID" />
        </div>
    </div>
</div>


<div class="form-actions">

    <div class="col-xs-8 text-left">
        <span class="alert-error-msg">{{queryGroupError}}</span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="setNewQueryGroupDetails()" ng-disabled="validateQueryGroupDailog()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeNewQueryDialog()" />
    </div>
   
    
</div>


