<div class="portlet-body" id="$id">
    <div class="form-group">
        <label class="col-xs-2">ID :</label>
        <div class="col-xs-10">
            <input type="text" class="form-control input-sm" title="{{newQueryName}}" ng-model="newQueryName" ng-change="validateQueryDailog()" />
        </div>
    </div>
  
</div>
<div class="form-actions">

    <div class="col-xs-8 text-left">
        <span class="alert-error-msg"  ng-bind="queryError"></span>
    </div>
    <div class="col-xs-4">

        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="setNewQueryDetails()" ng-disabled="queryError" />
        <input type="button" class="btn dialog-btn" value="Cancel" ng-click="closeNewQueryDialog()" />
    </div>


</div>
