<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <span class="col-xs-3">No.Of Table(s) Create :</span>
            <span class="col-xs-3">{{::createTableSuccessQueryCount}} / {{::createTableQueryCount}}</span>
            <span class="col-xs-3">No.Of Table(s) Update :</span>
            <span class="col-xs-3">{{::alterTableSuccessQueryCount}} / {{::alterTableQueryCount}}</span>
        </div>
        <div class="form-group">
            <table class="sws-table sws-bordered-table">
                <thead>
                    <tr>
                        <th>Entity Name</th>
                        <th>Table Name</th>
                        <th>Table Operation</th>
                        <th>Column Name</th>
                        <th>Column Operation</th>
                        <th>Mismatch</th>
                        <th>Error</th>
                        <!--<th>Query</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="table in lstSummaryReport">
                        <td>
                            <span ng-bind="table.EntityID"></span>
                        </td>
                        <td>
                            <span ng-bind="table.TableName"></span>
                        </td>
                        <td>
                            <span ng-bind="table.Operation"></span>
                        </td>
                        <td>
                            <span ng-bind="table.ColumnName"></span>
                        </td>
                        <td>
                            <span ng-bind="table.SubOperation"></span>
                        </td>
                        <td>
                            <span ng-bind="table.Mismatch"></span>
                        </td>
                        <td>
                            <span ng-bind="table.Error"></span>
                        </td>                        
                        <!--<td>
                            <span ng-bind="table.Query"></span>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="OK" ng-click="onOKClick()" />
</div>