<div>
    <ul>
        <li ng-repeat='element in collection|filter:filtertext' aria-selected='false' tabindex="{{$index}}" key-up-down-with-element callbackfn="onItemClick" objproperty="'element'">
            <div context-menu="contextmenuproperty" ng-class="{'selected color-light2':element==selecteditem,'bckgGrey':element.isAdvanceSearched, 'bckgGreen':(element==selecteditem && element.isAdvanceSearched)}">
                <i ng-if="element[childCollectionProperty].length>0" ng-click="toggleExpandCollapse($event,element)"
                   ng-class="element[expandedProperty]?'fa fa-minus':'fa fa-plus'" class="entity-query-tree-fa-minus"></i>
                <span ng-dblclick='onItemDoubleClik($event,element)' ng-click="onItemClick(element,$event)" 
                      ng-bind="getPropertyValue(element,parentTextProperty)" 
                      droprule dropdata="element.Name!='group'?validationerrorobject:element" selectedsection="selectedsection" ondragenter="return false;" title="{{getPropertyValue(element,parentTextProperty)}}"></span>
            </div>
            <div common-entity-tree-child-directive>
            </div>
        </li>
    </ul>
</div>

