<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <div class="col-xs-5">
                <label class="control-label">ID</label>
                <div class="col-xs-12 no-left-padding">
                    <objecttreeintellisensetemplate model="model" isdisabled="IsBaseAppFile && model.IsBaseAppModel" objtree="objBusinessObject.ObjTree" objectfield="model.dictAttributes.ID" propertyname="'dictAttributes.ID'" isloadonlymethod="true" isxmlmethod="true" allowdrop="false" busobject="objEntity.dictAttributes.sfwObjectID" onselectioncallback="onObjectMethodIdChanged(id, model)" errorprop="model.errors.empty_id || model.errors.inValid_id || model.errors.duplicate_id"></objecttreeintellisensetemplate>
                </div>
            </div>
            <div class="col-xs-3">
                <label class="control-label">Return Type</label>
                <div class="col-xs-12 no-left-padding">
                    <span ng-bind="model.dictAttributes.sfwReturnType"></span>
                </div>
            </div>
            <div class="col-xs-4">
                <label class="control-label">Entity</label>
                <div class="col-xs-12 no-left-padding">
                    <span ng-bind="model.dictAttributes.sfwEntity"></span>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
           
        </div>-->
        <div class="form-group padding-15">
            <table class="sws-bordered-table entity-object-method-param">
                <thead>
                    <tr>
                        <th>Parameter ID</th>
                        <th>DataType</th>
                        <th>Entity ID</th>
                    </tr>
                </thead>
                <tbody ng-repeat="params in model.Elements" ng-if="params.Name=='parameters'">
                    <tr ng-repeat="param in params.Elements">
                        <td><span ng-bind="param.dictAttributes.ID"></span></td>
                        <td><span ng-bind="param.dictAttributes.sfwDataType"></span></td>
                        <td><span ng-bind="param.dictAttributes.sfwEntity"></span></td>
                    </tr>
                </tbody>
            </table>
            <i class="fa fa-refresh obj-methods-refresh" ng-disabled="IsBaseAppFile && model.IsBaseAppModel" ng-click="refreshMethodParams(model)" title="Refresh Method Parameters" />
        </div>
    </div>
</div>
<div class="form-actions right">
    <!--<div class="col-xs-8 text-left">
        <span class="text-danger" ng-if="ErrorMessageForDisplay.length>0">{{ErrorMessageForDisplay}}</span>
    </div>-->
    <div class="col-xs-12">
        <input type="button" value="OK" class="btn dialog-btn-default" ng-disabled="model.errors.empty_id || model.errors.inValid_id || model.errors.duplicate_id" ng-click="OkClick()" isvalidate="'true'" />
        <input type="button" value="Cancel" class="btn dialog-btn" ng-show="model.errors.empty_id || model.errors.inValid_id || model.errors.duplicate_id" ng-click="onCancelClick()" />
    </div>
</div>
