<div class="full-height" ng-controller="SearchIDDescriptionController">
    <div class="portlet-body">
        <!--<div class="popup-secondary-head">Search ID Description</div>-->

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">ID:</label>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control input-sm" title="{{Search.ID}}" ng-model="Search.ID" ng-change="PopulateSearchResult()"/>
                </div>
                <div class="col-xs-4">

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Description:</label>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control input-sm" title="{{Search.Description}}" ng-model="Search.Description" ng-change="PopulateSearchResult()"/>
                </div>
                <div class="col-xs-4">

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <table class="table table-condensed table-hover table-fixedheader">
                        <thead>
                            <tr>
                                <th width="50%">ID</th>
                                <th width="50%">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in SearchResultCollection" ng-dblclick="onOkClick()" ng-click="SelectSearchObject(obj)" ng-class="SelectedSearchResult == obj?'selected':''">
                                <td width="50%">
                                  <span ng-bind="obj.ID"></span>
                                </td>
                                <td width="50%">
                                   <span ng-bind="obj.Description"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOkClick()" />
        <input type="button" class="btn dialog-btn" value="Cancel" ng-click="onCancelClick()" />
    </div>
</div>