<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group ">
                <label class="control-label"> Entity</label>
                <fileintellisensetemplate model="objTooltipDetails" propertyname="'sfwEntity'" onfilechange="objTooltipDetails.isFinsihDisable()" projectbasename="'OnlyApp'" filename="objTooltipDetails.sfwEntity" filetype="'Entity'" onfileblur="objTooltipDetails.PopulateFormName(); objTooltipDetails.isFinsihDisable()"
                                          isdisabled="IsEntityDisabled" isinsidedialog="true"/>

            </div>

            <div class="form-group relative-parent">
                <label class="control-label  blocked-element"> Form Name(ID) </label>

                <span class="file-prefix">wfm</span>
                <input style="width:315px !important;float:left;margin-left:8px" type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty file-suffix" title="{{objTooltipDetails.ID}}" ng-change="objTooltipDetails.isFinsihDisable()" ng-model="objTooltipDetails.ID">

                <span class="col-xs-1 padding-0 marg-top-5">Tooltip</span>
            </div>

       
        </div>


        <div class="col-xs-6">
          
       
            <div class="form-group ">
                <label class="control-label"> Path</label>
                <locationintellisensetemplate validate-location-callback="objLocationCallback.locationCallback" locationchanged="objTooltipDetails.isFinsihDisable()" locationname="objTooltipDetails.Path" model="objTooltipDetails" validate="true" errorprop="objTooltipDetails.errors.invalid_path"></locationintellisensetemplate>

            </div>
        </div>
    

        <!--<div class="form-group parametermanage">
            <ul ng-if="paramtersForXmlMethodforTooltip.length>0">
                <li ng-repeat="item in paramtersForXmlMethodforTooltip">
                    <div>
                        <label>{{item.ID}}</label>
                    </div>

                    <div>
                        <span contenteditable="false" class="dashoard-rules-span" data-placeholder="Parameter">{{item.SfwParameters}}</span>
                        <span contenteditable="false" class="dashoard-rules-span" data-placeholder="Load Type">{{item.LoadType}}</span>
                        <span contenteditable="false" class="dashoard-rules-span" data-placeholder="Load Source">{{item.LoadSource}}</span>
                    </div>

                </li>
            </ul>
        </div>-->
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objTooltipDetails.ErrorMessageForDisplay.length>0">{{objTooltipDetails.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input class="dialog-btn" type="button" value="Cancel" ng-click="CloseWizardClick()" />
        <input class="dialog-btn" type="button" value="Back" wz-previous="onPrevious()" disabled="disabled"/>
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="!showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="showExtraFieldsTab" ng-disabled="!objTooltipDetails.isToolTipDetailsFinishDisable" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="!showExtraFieldsTab" ng-disabled="!objTooltipDetails.isToolTipDetailsFinishDisable" />
    </div>
</div>