/* Main Dark Style Sheet for jQuery UI Datepicker */
#datetimepicker_div,  .datetimepicker_inline 
	{
		background:#222;
	}
#datetimepicker_div
	{
		border:1px solid #07F;
	}
.datetimepicker_dialog
	{
		border:4px ridge #222 !important;
	}
.datetimepicker_prompt
	{
		color:snow;
		background:#222;
	}
.datetimepicker_control,  .datetimepicker_links,  .datetimepicker_header,  .datetimepicker
	{
		color:#111;
	}
.datetimepicker_control
	{
		background:#469;
	}
.datetimepicker_links
	{
		background:#347;
	}
.datetimepicker_links label
	{
		color:#888;
	}
.datetimepicker_header
	{
		background: #944;
	}
.datetimepicker_header select
	{
		color:snow;
		background:#944;
	}
.datetimepicker
	{
		background: #333;
	}
.datetimepicker .datetimepicker_titleRow
	{
		color:snow;
		background:#733;
	}
.datetimepicker .datetimepicker_daysRow
	{
		color:#aaa;
		background:#111;
	}
.datetimepicker_weekCol
	{
		color:#fff;
		background:#733;
	}
.datetimepicker .datetimepicker_daysCell
	{
		color:snow;
		border:1px solid #222;
	}
.datetimepicker .datetimepicker_weekEndCell
	{
		background:#444;
	}
.datetimepicker .datetimepicker_daysCellOver
	{
		background:#111;
		border:1px solid #999;
	}
.datetimepicker .datetimepicker_unselectable
	{
		color:#888;
	}
.datetimepicker_today
	{
		background:#944 !important;
	}
.datetimepicker_currentDay
	{
		background:#733 !important;
	}
#datetimepicker_div a,  .datetimepicker_inline a
	{
		color:snow;
	}
.datetimepicker_control a,  .datetimepicker_links a
	{
		color:snow !important;
	}
.datetimepicker_titleRow a
	{
		color:snow !important;
	}
.datetimepicker_control a: hover
	{
		color:#ccc !important;
	}
.datetimepicker_links a: hover,  .datetimepicker_titleRow a: hover
	{
		color:#ccc !important;
		background:#111 !important;
	}
.datetimepicker_multi .datetimepicker
	{
		border:1px solid #944;
	}