<div control-head ng-class="getDisplayClass(model)"
     ng-click="selectControl(model,$event,formodel)" ng-dblclick="selectControlOnDoubleClick(model,$event);getCodeValue(model,$event,$root)">

    <span class="hidden-span" ng-class="{'hasContent' : (!model.dictAttributes.sfwEntityField && model.Name == 'sfwLabel' && !model.dictAttributes.sfwIsCaption) ,'font-entityfield' : model.Name == 'sfwLabel' && !model.dictAttributes.sfwIsCaption}"
          ng-if="$root.currentopenfile && $root.currentopenfile.file && !model.IsShowDataField && !formodel.IsLookupCriteriaEnabled && $root.currentopenfile.file.FileType != 'Report'
          && $root.currentopenfile.file.FileType != 'Correspondence' && !model.dictAttributes.sfwIsCaption"
          spellcheck=false contenteditable="true" content-editable ng-model="model.dictAttributes.sfwEntityField" placeholder='EntityField'
          action-keydown="onActionKeyDown($event)"
          ng-change="validateEntityField(model)" model="model" title="{{model.dictAttributes.sfwEntityField}}">

    </span>

    <span class="hidden-span" ng-class="{'hasContent' : (!model.dictAttributes.sfwDataField && model.Name == 'sfwLabel' && !model.dictAttributes.sfwIsCaption) ,'font-entityfield' : model.Name == 'sfwLabel' && !model.dictAttributes.sfwIsCaption}"
          ng-if="$root.currentopenfile && $root.currentopenfile.file && ((formodel.IsLookupCriteriaEnabled && $root.currentopenfile.file.FileType != 'Report') || model.IsShowDataField) && !model.dictAttributes.sfwIsCaption"
          spellcheck=false contenteditable="true" content-editable ng-model="model.dictAttributes.sfwDataField" placeholder='DataField'
          action-keydown="onDataFieldKeyDown($event)"
          ng-blur="checkDataFieldValueAndClearList(model)" model="model" id="ScopeId_{{$id}}" title="{{model.dictAttributes.sfwDataField}}">

    </span>

    <span class="hidden-span" ng-class="{'hasContent' : (!model.dictAttributes.sfwObjectField && model.Name == 'sfwLabel' && !model.dictAttributes.sfwIsCaption) ,'font-entityfield' : model.Name == 'sfwLabel' && !model.dictAttributes.sfwIsCaption}"
          ng-if="$root.currentopenfile && $root.currentopenfile.file &&$root.currentopenfile.file.FileType == 'Report' && !model.dictAttributes.sfwIsCaption"
          spellcheck=false contenteditable="true" content-editable
          ng-model="model.dictAttributes.sfwObjectField" placeholder='ObjectField' action-keydown="onActionKeyDown($event)" model="model">

    </span>

    <span class="hidden-span"
          ng-if="$root.currentopenfile && $root.currentopenfile.file &&$root.currentopenfile.file.FileType == 'Correspondence' && !model.dictAttributes.sfwIsCaption"
          spellcheck=false contenteditable="true"
          content-editable ng-model="model.dictAttributes.sfwQueryID" placeholder='QueryID' action-keydown="onQueryIDKeyDown($event)" model="model">

    </span>


    <span class="hidden-span font-entityfield form-caption" ng-class='{"hasContent" : !model.dictAttributes.Text }' title="{{model.dictAttributes.Text}}" spellcheck=false contenteditable="true"
          content-editable ng-model="model.dictAttributes.Text" placeholder='Text' model="model" id='ScopeId_{{$id}}'
          ng-if="model.Name == 'sfwLabel' && model.dictAttributes.sfwIsCaption">

    </span>
</div>
