<div ng-click='selectControl(model,$event,$parent.formodel);' ng-dblclick="selectControlOnDoubleClick(model,$event)" class="empty-control-div"  formcontroldroppable dropdata="model" formodel='$parent.formodel'
     ng-class='{ "select-cell-control" : model.IsSelected, "form-control-column" : !model.IsSelected, "bckgGrey": model.isAdvanceSearched, "bckgGreen": model.isAdvanceSearched && model.IsSelected, "form-invisible-control" : model.dictAttributes.Visible === "False"}'>

    {{model.dictAttributes.ID}}
    <base-control-view ng-repeat='elem in model.Elements' entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' objparent='model' formodel='formodel' model='elem'
                       lstloadedentitytrees='lstloadedentitytrees' lstloadedentitycolumnstree='lstloadedentitycolumnstree' buttons-collection='buttonsCollection' modelname="{{elem.Name}}" />
</div>

