$theme-color-primary: #1d75bf;

.s-imgPanelbar {
    width: 16px;
    /* top: 22px; */
    /* margin-top: -15px; */
    float: left;
    /* position: relative; */
    margin-right: 7px;
}

input[imagebutton='true'][retrievalbutton='true'] {
    position: absolute;
    top: 3px;
    right: 5px;
}

.s-divGroupControls-Container {


    fieldset {
        border: 0.1px solid #CCCCCC;
        padding: 5px;
        margin-right: 5px;

        legend.s-legendPanelbar {
            padding: 0px 5px;
        }
    }

    .s-readonly-control-field {
        width: 100%;
        float: left;
    }

    label[materialize='true'] input[type='checkbox']:checked ~ span {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 0;
    }

    label[materialize='true'] input[type='checkbox'] ~ span {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 0;
    }

    .s-grid-container {
        .spnListviewCheckRow {
            position: relative;
            top: 2px;

            label[materialize='true'] input[type='checkbox']:checked ~ span, label[materialize='true'] input[type='checkbox'] ~ span {
                /*position: absolute;
                left: -1px;
                background: #FFFFFF;*/
            }
        }
    }

    img.ui-datepicker-trigger {
        top: 6px;
    }

    .k-widget.k-panelbar {
        margin-top: 7px;
    }

    .s-input-control-field .validator-error {
        position: absolute;
    }

    input[imagebutton='true'][retrievalbutton='true'] {
        top: 29px !important;
        right: 5px !important;
    }


    input[type='text'], select, textarea {
        background-color: transparent;
        outline: none;
        /*border: none;
        border-bottom: 1px solid #2d71aa;
        border-radius: 0;*/
    }
    /*label.lblCaptionPostiontop[for] {
        color: #9e9e9e;
        font-weight: 300;
    }*/
    .ms-options-wrap {
        border-radius: unset !important;
        border: none !important;
    }

    .ms-options-wrap button,
    select, input:not([type]), input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea {
        font-size: 1em;
        color: #000000;
        font-weight: 400;
        //rgb(198, 200, 201)
        border: none !important;
        border-radius: unset !important;
        border-bottom: 1px solid #888 !important; /*#26a69a;*/
    }

    .ms-options-wrap button:focus,
    select:focus:not([readonly]):not([disabled]), input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea:focus:not([readonly]) {
        border: none !important;
        border-bottom: 1px solid #555555 !important; /*#26a69a;*/
        -webkit-box-shadow: 0 1px 0 0 #555555; //2px 1px 2px 1px rgb(45, 113, 170); /*0 1px 0 0 #26a69a;*/
        box-shadow: 0 1px 0 0 #555555; // 2px 1px 2px 1px rgb(45, 113, 170); /*0 1px 0 0 #26a69a;*/
    }

    .displayImageMail, .displayImageWebUrl {
        float: right;
        position: absolute;
        display: block;
        right: 12px;
        background-repeat: no-repeat;
        top: 30px;
    }

    .divAssociatedContainer {
        padding-right: 8px;
        padding-left: 8px;
        margin-top: 10px;

        .s-input-check-control-field {
            label {
                float: left;
                padding-right: 10px;
                font-size: 1em;
            }
        }

        &.s-readonly-control-field {
            margin: 15px 0px;

            .s-readonly-control-wrapper {
                height: 45px;
                margin-bottom: 8px;
                line-height: 45px;

                @media only screen and (min-device-width: 772px) and (max-width: 992px) {
                    height: 45px;
                    margin-bottom: 8px;
                    line-height: unset;
                }

                @media only screen and (max-width: 772px) {
                    height: auto !important;
                    margin-bottom: 8px;
                    /*line-height: unset;*/
                }

                * {
                    font-size: 1.143em;
                }   
            }
        }

        &.s-input-check-control-field {
            margin: 15px 0px;

            @media only screen and (max-width: 772px) {
                margin-bottom: 10px;
                float: left;
                width: 100%;
            }

            label:last-child {
                height: 45px;

                @media only screen and (min-device-width: 772px) and (max-width: 992px) {
                    height: 45px;
                    line-height: unset;
                }

                @media only screen and (max-width: 772px) {
                    &:not([class*='switchlabel']) {
                        height: 1px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
    /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
    @media only screen and (max-width: 960px) {
        .divAssociatedContainer {
            padding: 0;
        }

        .displayImageMail, .displayImageWebUrl {
            /*top: -52px;*/
        }
        /* styles for browsers larger than 960px; */
    }

    @media only screen and (min-width: 1440px) {
        /* styles for browsers larger than 1440px; */
    }

    @media only screen and (min-width: 2000px) {
        /* for sumo sized (mac) screens */
    }

    @media only screen and (max-device-width: 480px) {
        /* styles for mobile browsers smaller than 480px; (iPhone) */
    }

    @media only screen and (device-width: 768px) {
        /* default iPad screens */
    }
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
        /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        /* For landscape layouts only */
    }



    input[type='text'].s-grid-common-filterbox.s-textbox {
        height: 30px !important;
    }

    .s-grid-common-filterbutton {
        margin-left: -20px;
        margin-top: 3px;
    }
    /*ul[data-sfwControlType='sfwPanelBar'], ul[data-sfwControlType='sfwPanelBar'] {
        padding-bottom: 5px;
    }*/
    /*.divAssociatedContainer .s-input-check-control-field{
        margin-top: 25px;
    }*/
    .s-grid-pager-input {
        height: 19.4px !important;
        width: 40px !important;
    }

    ul.s-ulControlPanelbar li.s-liControlPanelbar span.s-spnControlPanelbar {

       

        .s-lblPanelbarTitle {
            /*font-size: 1.429em;*/
        }
    }

    ul.s-ulControlTabs .s-liControlTabSheet a.k-link {
        font-size: 1em !important;
        font-weight: 400 !important;
    }



    .s-grid th {
        font-size: 1em;
        font-weight: 400;
    }
}

/* Effects css */

.s-divGroupControls-Container.s-divCssTransitionEffects {
    .s-input-control-field > label.s-groupCaption {
        color: #777777; /*#9e9e9e; Color change */
        position: absolute;
        top: 0;
        left: 8px;
        cursor: text;
        /*font-weight: 600;*/
        font-size: 1em;
        -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
        @media only screen and (max-width: 767px) {
        }

        @media only screen and (max-width: 960px) {
            left: 0px;
            position: static;
        }
    }

    .s-input-control-field {
        position: relative;
        margin: 15px 0px;
        width: 100%;
        float: left;

        * {
            font-family: "Roboto", sans-serif;
        }
    }

    .s-select-control-field {
        margin: 15px 0px;
        width: 100%;
        float: left;

        button {
            height: 45px;
            margin-top: 0px !important;
        }

        select {
            height: 45px;
            margin-top: 0px !important;
        }
    }
    /* Text Inputs + Textarea
   ========================================================================== */
    /* Style Placeholders */
    ::-webkit-input-placeholder {
        color: #d1d1d1;
    }

    ::-moz-placeholder {
        color: #d1d1d1;
    }

    :-ms-input-placeholder {
        color: #d1d1d1;
    }

    ::-ms-input-placeholder {
        color: #d1d1d1;
    }

    ::placeholder {
        color: #d1d1d1;
    }
    /* Text inputs */
    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default),
    textarea.materialize-textarea {
        background-color: transparent;
        border: none;
        /*border-bottom: 1px solid #2d71aa;*/ /*#9e9e9e; color change*/
        border-radius: 0;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: border .3s, -webkit-box-shadow .3s;
        transition: border .3s, -webkit-box-shadow .3s;
        transition: box-shadow .3s, border .3s;
        transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    }

    input:not([type]):disabled, input:not([type])[readonly="readonly"],
    input[type=text]:not(.browser-default):disabled,
    input[type=text]:not(.browser-default)[readonly="readonly"],
    input[type=password]:not(.browser-default):disabled,
    input[type=password]:not(.browser-default)[readonly="readonly"],
    input[type=email]:not(.browser-default):disabled,
    input[type=email]:not(.browser-default)[readonly="readonly"],
    input[type=url]:not(.browser-default):disabled,
    input[type=url]:not(.browser-default)[readonly="readonly"],
    input[type=time]:not(.browser-default):disabled,
    input[type=time]:not(.browser-default)[readonly="readonly"],
    input[type=date]:not(.browser-default):disabled,
    input[type=date]:not(.browser-default)[readonly="readonly"],
    input[type=datetime]:not(.browser-default):disabled,
    input[type=datetime]:not(.browser-default)[readonly="readonly"],
    input[type=datetime-local]:not(.browser-default):disabled,
    input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
    input[type=tel]:not(.browser-default):disabled,
    input[type=tel]:not(.browser-default)[readonly="readonly"],
    input[type=number]:not(.browser-default):disabled,
    input[type=number]:not(.browser-default)[readonly="readonly"],
    input[type=search]:not(.browser-default):disabled,
    input[type=search]:not(.browser-default)[readonly="readonly"],
    textarea.materialize-textarea:disabled,
    textarea.materialize-textarea[readonly="readonly"] {
        color: rgba(0, 0, 0, 0.42);
    }

    input:not([type]):disabled + label,
    input:not([type])[readonly="readonly"] + label,
    input[type=text]:not(.browser-default):disabled + label,
    input[type=text]:not(.browser-default)[readonly="readonly"] + label,
    input[type=password]:not(.browser-default):disabled + label,
    input[type=password]:not(.browser-default)[readonly="readonly"] + label,
    input[type=email]:not(.browser-default):disabled + label,
    input[type=email]:not(.browser-default)[readonly="readonly"] + label,
    input[type=url]:not(.browser-default):disabled + label,
    input[type=url]:not(.browser-default)[readonly="readonly"] + label,
    input[type=time]:not(.browser-default):disabled + label,
    input[type=time]:not(.browser-default)[readonly="readonly"] + label,
    input[type=date]:not(.browser-default):disabled + label,
    input[type=date]:not(.browser-default)[readonly="readonly"] + label,
    input[type=datetime]:not(.browser-default):disabled + label,
    input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
    input[type=datetime-local]:not(.browser-default):disabled + label,
    input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
    input[type=tel]:not(.browser-default):disabled + label,
    input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
    input[type=number]:not(.browser-default):disabled + label,
    input[type=number]:not(.browser-default)[readonly="readonly"] + label,
    input[type=search]:not(.browser-default):disabled + label,
    input[type=search]:not(.browser-default)[readonly="readonly"] + label,
    textarea.materialize-textarea:disabled + label,
    textarea.materialize-textarea[readonly="readonly"] + label {
        color: rgba(0, 0, 0, 0.42);
    }

    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border: 0px;
        border-bottom: 1px solid #555555;
        -webkit-box-shadow: 0 1px 0 0 #555555;
        box-shadow: 0 1px 0 0 #555555;
    }

    input:not([type]):focus:not([readonly]) + label.s-groupCaption,
    input[type=text]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=password]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=email]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=url]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=time]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=date]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=tel]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=number]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    input[type=search]:not(.browser-default):focus:not([readonly]) + label.s-groupCaption,
    textarea.materialize-textarea:focus:not([readonly]) + label.s-groupCaption {
        color: #26a69a;
    }



    input:not([type]) + label.s-groupCaption:after,
    input[type=text]:not(.browser-default) + label.s-groupCaption:after,
    input[type=password]:not(.browser-default) + label.s-groupCaption:after,
    input[type=email]:not(.browser-default) + label.s-groupCaption:after,
    input[type=url]:not(.browser-default) + label.s-groupCaption:after,
    input[type=time]:not(.browser-default) + label.s-groupCaption:after,
    input[type=date]:not(.browser-default) + label.s-groupCaption:after,
    input[type=datetime]:not(.browser-default) + label.s-groupCaption:after,
    input[type=datetime-local]:not(.browser-default) + label.s-groupCaption:after,
    input[type=tel]:not(.browser-default) + label.s-groupCaption:after,
    input[type=number]:not(.browser-default) + label.s-groupCaption:after,
    input[type=search]:not(.browser-default) + label.s-groupCaption:after,
    textarea.materialize-textarea + label.s-groupCaption:after, .select-wrapper + label.s-groupCaption:after {
        display: block;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        -webkit-transition: .2s opacity ease-out, .2s color ease-out;
        transition: .2s opacity ease-out, .2s color ease-out;
    }



    .s-input-control-field > label.s-groupCaption:not(.label-icon).active,
    .s-input-check-control-field > label.s-groupCaption.active,
    .s-select-control-field > label.s-groupCaption.active,
    .s-readonly-control-field > label.s-groupCaption.active {
        -webkit-transform: translateY(-14px) scale(0.9);
        transform: translateY(-14px) scale(0.9);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        font-size: 1em;
        font-weight: 400;
    }

    .s-input-control-field > input[type]:-webkit-autofill:not(.browser-default):not([type="search"]) + label.s-groupCaption,
    .s-input-control-field > input[type=date]:not(.browser-default) + label.s-groupCaption,
    .s-input-control-field > input[type=time]:not(.browser-default) + label.s-groupCaption {
        -webkit-transform: translateY(-14px) scale(0.9);
        transform: translateY(-14px) scale(0.9);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .s-input-check-control-field > label.s-groupCaption,
    .s-select-control-field > label.s-groupCaption,
    .s-readonly-control-field > label.s-groupCaption {
        color: #777777;
        position: absolute;
        top: 0;
        left: 0px;
        cursor: text;
        font-weight: 300 !important;
        -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;
    }
}









.FilterBox select, .FilterBox #filterBox1:not(.hasDatepicker), .FilterBox #filterBox2:not(.hasDatepicker) {
    padding: 2px !important;
    /*width: 120px !important;*/
}

.FilterBox #filterBox1.hasDatepicker, .FilterBox #filterBox2.hasDatepicker {
    padding: 2px !important;
    /*width: 80px !important;*/
}

.FilterBox .row {
    /*padding: 5px 10px !important;
    font-size: 13px !important;*/
    margin: 0 !important;
}

.tabstrip ul.s-ulControlTabs li.s-liControlTabSheet {
    background: transparent !important;
}

div.s-tabNavigatorBarContainer {
    width: 240px;
    float: left;
    height: calc(100vh - 150px);
    position: fixed;
    top: 110px;
    z-index: 100;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 400;
    background: #FFF;
    border: 1px solid #d7d7d7;
    margin-left: 5px;

    .s-tabNavigator-header {
        border-radius: 4px 4px 0px 0px;
        color: #FFF;
        font-size: 1.143em;
        padding: 10px;
    }

    .s-tabNavigatorBar-wrapper {
        overflow: auto;
        height: calc(100% - 42px);


        .s-panel-ul-navigator {
            li.s-panel-navigator-li {
                border-top: 1px solid #1d75bf;


                &:first-child {
                    border-top: 0;
                    padding-top: 0px;
                    margin-top: 0px;
                }

                .s-tabstrip-ul-navigator {
                    a {
                        padding: 5px 10px 5px 20px;
                        font-size: 0.929em;

                        &:focus {
                            outline: none;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .s-tab-navigator-panel-caption {
        display: block;
        background: #fff !important;
        color: #444444;
        font-weight: 600;
        padding: 10px 10px 5px 10px;
    }

    .s-tab-navigator-tab-caption {
        display: block;
        color: #000000;
    }

    strong {
        display: block;
        /*background: #2d71aa !important;*/
        padding: 5px;
        border-radius: 5px;
        color: #2d71aa;
    }

    .s-tabstrip-ul-navigator {


        .s-tab-navigator-li {
            display: block;
            /*border: 1px solid;*/
        }

        .s-tab-navigator-li-active {
            background: #e8e8e8;

            a {
            }
        }
    }
}


@media only screen and (min-width: 440px) and (max-width: 772px) {
    /* styles for browsers larger than 440px; */
    /*.s-freezed-crumtoolbar-Container {
        top: 67px !important;
        left: 17px !important;
    }*/
}
/*@media (max-width: 772px) {
    .s-freezed-crumtoolbar-Container {
        top: 67px !important;
        left: 17px !important;
    }
}*/
.tab-navigator {
    /*background: url("../Images/tabnavigatoricon.png") #1d75bf;*/
    height: 32px !important;
    top: 0 !important;
    border-radius: 0px !important;
    margin-top: 5px;
    background-repeat: no-repeat;

    &:hover {
        background: url("../Images/tabnavigatoricon.png") $theme-color-primary !important;
    }
}
/********************************UX Changes - Nikhil***********************************/
.s-divTable {
    float: left;
    width: 100%;
    padding: 0px;
}

.s-input-control-field input[type='text'] {
    margin-bottom: 8px !important;
    height: 45px;
}

.s-divTableCell {
    * {
        font-family: "Roboto", sans-serif;
    }
}

span[data-sfwcontroltype="sfwCheckBoxList"] {
    label {
        display: inline-block;
        margin-right: 15px;
        color: #333333;
        display:flex;

        input[type="checkbox"] {
            position: relative;
            top: 2px;
        }
    }
}



.s-tabnavigator-content {
    .tabstrip {
        margin: 0 auto;
        margin-left: -10px;
        margin-right: -10px;

        .s-divControlTabSheetContainer {
            border: 0 !important;
            padding: 0px !important;
            margin: 0px !important;
        }

        .s-tab-navigator-captiondiv {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            border-bottom: 1px solid #d7d7d7;
            padding: 0px 35px 5px 50px;

            label {
                font-size: 1.429em;
                font-weight: 600;
                position: relative;
                top: -9px;
            }
        }

        ul.s-ulControlTabs {
            display: none;
        }
    }

    .s-divControlTabSheet {
        position: relative;

        span.s-tab-navigator-prev-next {
            * {
                display: none;
            }

            position: absolute;
            width: 30px;
            height: 30px;
            color: $theme-color-primary;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
            font-size: 0px;
            top: -12px;
            box-shadow: 0px 0px 1px 2px #d0d0d0;



            &.s-tab-navigator-prev {
                background: url('../Images/move-left.svg') center no-repeat;
            }

            &.s-tab-navigator-next {
                background: url('../Images/move-right.svg') center no-repeat;
                right: 0;
            }

            &.s-tab-navigator-prev.s-tab-navigator-disabled {
                background: url('../Images/move-left-disable.svg') center no-repeat;
            }

            &.s-tab-navigator-next.s-tab-navigator-disabled {
                background: #fff url(../Images/move-right-disable.svg) center no-repeat !important;
            }
        }
    }
}




#pnlAuditInfo {

    * {
        font-size: 1em;
    }

    margin-top: 15px;

    .s-row-md {
        display: block;
        float: left;

        .s-divTableCell {
            width: auto !important;
            float: left;

            &.s-cell-md-4 {
                padding-right: 5px;

                &:first-child {
                    padding-left: 5px;
                }
            }

            &.s-cell-md-2 {
                position: relative;
                top: 21px;
                padding: 0 10px 0px 0px;
            }

            .s-readonly-control-wrapper {
                height: 30px;
                line-height: 30px;
            }
        }
    }
}


.footerLeft {
    float: none !important;
}

.s-liControlPanelbar {
    float: left;
    width: 100%;
}

.s-crumDivContainer .auditInformation-inner-content {
    display: flex;
    margin: 5px;
}

.s-crumDivContainer .auditInformation-inner-content .row-auditInfo label {
    font-size: 0.857em;
}

.s-crumDivContainer .auditInformation-inner-content .row-auditInfo label:first-child {
    font-weight: 600;
    margin: 0px 5px 0px 10px;
}

.ms-options-wrap > button:after {
    content: ' ';
    border: 4px solid transparent;
    border-top-color: #000;
}

.k-icon:not(.k-loading), .k-grouping-dropclue, .k-drop-hint, .k-callout, .k-tool-icon, 
.k-state-hover .k-tool-icon, .k-state-active .k-tool-icon, .k-state-active.k-state-hover 
.k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, 
.k-column-menu .k-sprite, .k-mobile-list .k-check:checked, .k-mobile-list 
.k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked{
    background-size:unset!important;
}

.s-tabnavigator-content .s-divControlTabSheet span.s-tab-navigator-prev-next.s-tab-navigator-prev{
    left:10px;
}

.s-tabnavigator-content .s-divControlTabSheet span.s-tab-navigator-prev-next.s-tab-navigator-next{
    right:10px;
}

ul.s-ulControlPanelbar li.s-liControlPanelbar span.s-spnControlPanelbar {
    font-size: 1.286em;
}