@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
body {
  background-image: url("../Images/bg.jpg");
  font-family: 'Poppins', sans-serif;
  color: #252525;
  background-position: right top;
  background-attachment: fixed; }

input[type='button'] {
  font-family: "Roboto", sans-serif; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.login-header {
  text-align: center;
  width: 100%;
  float: left;
  padding: 20px 20px 10px;
  border-bottom: 1px solid #bbb; }

.logn-name {
  text-align: center;
  text-transform: uppercase; }

.logn-name hr {
  width: 100px;
  margin: 10px auto;
  text-align: center;
  display: block;
  border: 0.5px solid #ccc; }

.login-wrapper {
  max-width: 550px;
  padding: 0px;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.login-body {
  background-image: url(../CSS/login-bg.jpg);
  background-size: cover; }

.login-inner-wrap {
  width: 100%;
  float: left;
  padding: 20px 50px 40px; }

.logn-box-info h3 {
  text-align: center;
  padding: 0px 0px 10px;
  font-size: 12px;
  font-weight: 500; }

input[type='text'], input[type='password'] {
  display: inline-block;
  width: 100%;
  padding: 5px 5px 5px 40px;
  font-size: 14px;
  border: 1px solid #3c6e7a;
  height: 35px; }

.login-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 19px;
  height: 19px; }

.login-row {
  width: 100%;
  float: left;
  margin: 0px 0px 15px;
  position: relative; }

.login-btn:hover {
  background: #ff9100 !important;
  color: #FFFFFF; }

.login-btn {
  background: #ff9100;
  color: #FFFFFF;
  padding: 8px 30px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s all ease-in-out;
  border: 1px solid #ff9100;
  width: 100%;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 600; }

.logn-box-info {
  margin-bottom: 5px; }

/*.login-page-Bg {
    background: url('../Images/login-Bg.png') no-repeat;
    height: 100vh;
    background-size: 80%;
    background-position: left 128%;
}

.login-box {
    width: 750px;
    background: $theme-color-primary;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    border-radius: 5px;
    border:1px solid $theme-color-primary;
}

.login-box .wrapper {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 5px;
}


.login-box .wrapper .logo {
    width: 348px;
    text-align: center;
    position: absolute;
    border-radius: 5px 0px 0px 5px;
    background: $theme-color-primary;
    top: 50%;
    transform: translateY(-50%);
}



.login-box .wrapper .content {
    width: 400px;
    float: right;
    border-radius: 0px 5px 5px 0px;
    padding: 30px;
    background: #FFFFFF;
}

.login-box .wrapper .content span {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.login-box .wrapper .content span:last-child {
    margin-bottom: 0px;
    margin-top: -5px;
}

.login-box .wrapper .content span input[type='text'], input[type='password'], select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    text-indent: 50px;
    color: #555555;
    font-size: 14px;
}


h2 {
    color: #616161;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10PX;
}


.login-box .wrapper .content span input[type='text']:before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
}

input[type='text']:focus, input[type='password']:focus {
    outline: 0;
}

.login-btn {
    float: left;
    padding: 10px 24px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    color: $btn-text-color;
    cursor: pointer;
    font-weight: bold;
    background: $theme-color-primary;
    border: 1px solid $theme-color-primary;
    transition: .3s all ease-in-out;
}

.login-btn:hover {
    background: #FFF;
    border: 1px solid $theme-color-primary;
    color: $theme-color-primary;
}

.login-errors {
    color: #c12121;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    top: -10px;
    float: left;
    width: 100%;
}

.login-errors span {
    margin-bottom: 5px !important;
}



.remember-text {
    line-height: 30px;
    font-size: 14px;
    float: right;
}

.remember-text input {
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.login-box .wrapper .content span p input {
    margin-right: 5px;
}


.login-btn:focus {
    outline: 0;
}


.login-head {
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #bbb;
}


.login-box {
    margin-top: 15px;
}

.login-box p {
    text-align: center;
    padding: 0px 0px 10px;
    font-size: 13px;
    font-weight: 500;
}

.logerror {
    font-size: 14px;
    font-family: verdana;
    color: red;
}

#UserName {
    width: 50%;
    height: 30px;
    padding-left: 45px;
}

.UserName {
    width: 50%;
    height: 30px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    width: 47%;
    margin-left: 20px;
}

.Password {
    width: 50%;
    height: 30px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    width: 47%;
    margin-left: 20px;
}

#Password {
    width: 50%;
    height: 30px;
    padding-left: 45px;
}

.logn-name h3 {
    font-size: 16px;
}

.login-btn {
    display: block;
    background: #efdda7;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    border: 1px solid #FFFFFF;
    padding: 5px 30px;
    margin: 20px auto;
}
*/
::-webkit-input-placeholder {
  color: #333333 !important; }

:-moz-placeholder {
  color: #333333 !important; }

::-moz-placeholder {
  color: #333333 !important; }

:-ms-input-placeholder {
  color: #333333 !important; }

.neospin-login {
  background: url("../Images/neospin-login.png");
  width: 126px;
  height: 30px;
  position: absolute;
  left: 20px;
  bottom: 20px; }

.login-errors {
  color: #c12121;
  font-weight: normal;
  font-size: 14px;
  position: relative;
  top: -10px;
  float: left;
  width: 100%; }
