.monitoring-dashlet {
  float: left;
  margin-right: 1%;
  background: white;
  /*border: 1px solid #dfdfdf;*/
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  margin-top: 0px;
  width: 100%; }

.monitoring-dashlet * {
  box-sizing: border-box; }

.monitoring-dashlet-header {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #CCC;
  display: none; }

.monitoring-dashlet-content {
  padding: 10px;
  float: left;
  width: 100%; }

.monitoring-dashlet-footer {
  padding: 10px;
  float: left;
  width: 100%;
  border-top: 1px solid #dfdfdf; }

.monitoring-dashlet-footer span {
  font-weight: 600; }

.counts {
  float: left;
  width: 25%;
  border-right: 1px solid #CCC;
  min-height: 80px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; }

.counts:last-child {
  border: 0; }

.counts a {
  font-size: 22px;
  font-weight: normal;
  text-decoration: none !important;
  padding: 5px;
  text-align: center; }

.counts a div {
  position: relative;
  font-weight:600;
}

#errorcount {
  color: red; }

.s-grid-container {
  width: 100%; }

.monitoring-summary-dashlet {
  width: 32%;
  float: left;
  margin-right: 1%;
  background: white;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 0px; }

.monitoring-summary-dashlet * {
  box-sizing: border-box; }

.monitoring-summary-dashlet-header {
  background: #e2e2e2;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 600; }

.monitoring-summary-dashlet-content {
  padding: 10px;
  float: left;
  width: 100%; }

.ui-state-active {
  background: #017c8b !important;
  color: white !important; }

.s-pnlSelectFrequecy {
  float: right;
  margin-right: 20px; }

.refresh-data-btn {
  margin-left: 30px !important; }

.webserverRow_content_requestcount {
  margin: 5px 0px;
  font-weight: 600; }

.webserverRow_content_requestcount_data {
  position: relative;
  margin-top: 5px;
  display: inline-block;
  border-radius: 5px;
  min-width: 40px; }

.webserverRow_content_requestcount_data:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
  border-radius: 5px; }

.error-bg div {
  color: #FFFFFF !important; }

.request-bg div {
  color: #0b6ace !important; }

.error-bg:before {
  background: #b73434 !important; }

.error-bg:before {
  background: #b73434 !important; }

.slow-bg {
  background: #ffe564 !important;
  color: #555; }
  .slow-bg a div.GridLinks {
    color: #555 !important; }

a.slow-bg div.GridLinks, .ui-widget-content a.slow-bg {
    color: #555 !important;
    font-weight: bold;
}

.ui-widget-content a.response-bg {
    background: #289a5b;
    color: #FFF !important;
    font-weight:600;
}

.request-bg:before {
  background: #0786b5;
  color: #FFF; }

.request-bg div {
  color: #FFF !important; }

.monitoring-dashlet .GridLinks:hover {
  background-color: transparent !important; }

.system-dashboard-wrapper {
  /*.k-panelbar > .k-item > .k-link {
        pointer-events: none;
    }*/ }
  .system-dashboard-wrapper .ui-datepicker-trigger {
    position: relative; }
  .system-dashboard-wrapper .s-grid-toolbar-container {
    display: none; }
  .system-dashboard-wrapper .s-grid {
    border: 0; }
    .system-dashboard-wrapper .dashlet {
        width: calc(50% - 10px) !important;
        display: inline-block;
        padding: 0px !important;
        border: 1px solid #dfdfdf;
        background: none !important;
        margin-bottom: 0 !important;
    }
.web-server-dashlet {
    margin-right:10px;
}
.system-dashboard-wrapper .dashlet .k-icon {
    display: none;
}
    .system-dashboard-wrapper .dashlet .s-pnlSelectFrequecy {
      margin: 0;
      position: relative;
      top: -6px;
      width: 90px; }
    .system-dashboard-wrapper .dashlet .s-liControlPanelbar {
      background: none !important; }
    .system-dashboard-wrapper .dashlet .s-divControlPanelContainer {
      background: none !important;
      padding: 0 !important; }
    .system-dashboard-wrapper .dashlet .s-spnControlPanelbar {
      border: 1px solid #dfdfdf;
      border-bottom: 0 !important;
      padding: 15px 10px 15px 50px !important;
      border-radius: 4px 4px 0 0;
      border-color: #dfdfdf !important; }

.monitoring-dashlet-footer a {
  color: #136d2a; }


ul.s-ulControlPanelbar.web-server-dashlet li.s-liControlPanelbar span.s-spnControlPanelbar {
    background: url(../Images/icon-web-server.svg) no-repeat #FFF 10px 7px !important;
    background-size: 32px !important;
}

ul.s-ulControlPanelbar.app-server-dashlet li.s-liControlPanelbar span.s-spnControlPanelbar
{
    background: url(../Images/icon-app-server.svg) no-repeat #FFF 10px 7px !important;
    background-size: 32px !important;
}

ul.s-ulControlPanelbar.job-server-dashlet li.s-liControlPanelbar span.s-spnControlPanelbar
{
    background: url(../Images/icon-job-server.svg) no-repeat #FFF 10px 7px !important;
    background-size: 32px !important;
}

ul.s-ulControlPanelbar.bpm-server-dashlet li.s-liControlPanelbar span.s-spnControlPanelbar
{
    background: url(../Images/icon-bpm-server.svg) no-repeat #FFF 10px 7px !important;
    background-size: 32px !important;
}

ul.s-ulControlPanelbar.database-dashlet li.s-liControlPanelbar span.s-spnControlPanelbar
{
    background: url(../Images/icon-database.svg) no-repeat #FFF 10px 7px !important;
    background-size: 32px !important;
}

.control-wrapper {
  float: left;
  margin: 0px 10px; }
  .control-wrapper .control-label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #333; }
  .control-wrapper img.ui-datepicker-trigger {
    margin-top: 0 !important;
    /*position: relative;
    top:4px;*/
  }
    .control-wrapper .button {
        margin-top: 18px !important;
        padding: 6px 15px !important;
    }

.job-server-dashlet {
    width:33% !important;
    float: left;
    /*min-height: 220px;*/
    padding: 0px !important;
    margin: .5% .5% 0 0; /*.5%;*/
    /*border: 0 !important;*/
    background: none !important;
}
  .job-server-dashlet .k-icon {
    display: none; }
  .job-server-dashlet .s-pnlSelectFrequecy {
    margin: 0;
    position: relative;
    top: -6px;
    width: 90px; }
  .job-server-dashlet .s-divControlPanelContainer {
    /*border: 1px solid #dfdfdf !important;*/
    border-radius: 0px 0px 4px 4px;
    padding: 20px;
    min-height: 260px; }
    .job-server-dashlet .s-divControlPanelContainer table.s-grid {
        border: 1px solid #0786b5;
        border-collapse: collapse;
    }
        .job-server-dashlet .s-divControlPanelContainer table.s-grid .s-altrow {
            background-color: transparent /*#e9f9ff*/;
        }
        .job-server-dashlet .s-divControlPanelContainer table.s-grid th {
            padding: 5px !important;
            border: 1px solid #0786b5 !important;
            background: #0786b5 !important;
            color: #FFF !important;
        }
        .job-server-dashlet .s-divControlPanelContainer table.s-grid td {
            padding: 5px !important;
            border: 1px solid #0786b5;
            color: #333;
            width: 50%;
        }
  .job-server-dashlet .s-spnControlPanelbar {
    border: 1px solid #dfdfdf;
    border-bottom: 0 !important;
    padding: 15px 10px 15px 50px !important;
    border-radius: 4px 4px 0 0;
    border-color: #dfdfdf !important; }

    .job-server-dashlet .s-divControlPanelContainer .Table,
    .bpm-server-dashlet .s-divControlPanelContainer .Table,
    .database-dashlet .s-divControlPanelContainer .Table {
        padding:0 10px !important;
    }

    .bpm-server-dashlet {
    width: 33% !important;
    float: left;
    /*min-height: 220px;*/
    padding: 0px !important;
    margin: .5% .5% 0 0;
    /*border: 0 !important;*/
    background: none !important;
    /*margin-left: 1%;*/
}
  .bpm-server-dashlet .k-icon {
    display: none; }
  .bpm-server-dashlet .s-pnlSelectFrequecy {
    margin: 0;
    position: relative;
    top: -6px;
    width: 90px; }
  .bpm-server-dashlet .s-divControlPanelContainer {
    /*border: 1px solid #dfdfdf !important;*/
    border-radius: 0px 0px 4px 4px;
    padding: 20px !important;
    min-height: 260px; }
    .bpm-server-dashlet .s-divControlPanelContainer table.s-grid {
      border: 1px solid #289a5b;
      border-collapse: collapse; }
      .bpm-server-dashlet .s-divControlPanelContainer table.s-grid .s-altrow {
        background-color: #f6fffa; }
        .bpm-server-dashlet .s-divControlPanelContainer table.s-grid th {
            padding: 5px !important;
            border: 1px solid #289a5b !important;
            background: #289a5b !important;
            color: #FFF !important;
        }
        .bpm-server-dashlet .s-divControlPanelContainer table.s-grid td {
            padding: 5px !important;
            border: 1px solid #289a5b;
            color: #333;
            width: 50%;
        }
  .bpm-server-dashlet .s-spnControlPanelbar {
    border: 1px solid #dfdfdf;
    border-bottom: 0 !important;
    padding: 15px 10px 15px 50px !important;
    border-radius: 4px 4px 0 0;
    border-color: #dfdfdf !important; }

.database-dashlet {
    width: 33% !important;
    float: right;
    /*min-height: 220px;*/
    padding: 0px !important;
    margin: .5%  0 0;
    /*border: 0 !important;*/
    background: none !important;
}
  .database-dashlet .k-icon {
    display: none; }
  .database-dashlet .s-pnlSelectFrequecy {
    margin: 0;
    position: relative;
    top: -6px;
    width: 90px; }
  .database-dashlet .s-divControlPanelContainer {
    /*border: 1px solid #dfdfdf !important;*/
    border-radius: 0px 0px 4px 4px;
    padding: 20px !important;
    min-height: 260px; }
    .database-dashlet .s-divControlPanelContainer table.s-grid {
        border: 1px solid #289a5b;
        border-collapse: collapse;
    }
      .database-dashlet .s-divControlPanelContainer table.s-grid .s-altrow {
        background-color: #f6fffa; }
        .database-dashlet .s-divControlPanelContainer table.s-grid th {
            padding: 5px !important;
            border: 1px solid #b59213 !important;
            background: #b59213 !important;
            color: #FFF !important;
           
        }
        .database-dashlet .s-divControlPanelContainer table.s-grid td {
            padding: 5px !important;
            border: 1px solid #b59213;
            color: #333;
            width: 50%;
        }
  .database-dashlet .s-spnControlPanelbar {
    border: 1px solid #dfdfdf;
    border-bottom: 0 !important;
    padding: 15px 10px 15px 50px !important;
    border-radius: 4px 4px 0 0;
    border-color: #dfdfdf !important; }

.server-detail .dashlet {
  width: 32.3%;
  float: left;
  background: #FFF;
  min-height: 445px;
  margin: 0 .5%;
  border: 1px solid #dfdfdf;
  border-radius: 4px; }
  .server-detail .dashlet .pieTitle {
    display: none; }
  .server-detail .dashlet td {
    text-align: center !important; }
  .server-detail .dashlet th {
    text-align: center !important; }
  .server-detail .dashlet .daslet-content {
    padding: 20px;
    float: left;
    width: 100%; }
  .server-detail .dashlet .dashlet-header {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    text-align: center; }
  .server-detail .dashlet.blue-bar .dashlet-header {
    background: #1177b3; }
  .server-detail .dashlet.yellow-bar .dashlet-header {
    background: #b58f25; }
  .server-detail .dashlet.green-bar .dashlet-header {
    background: #14a28f; }
  .server-detail .dashlet.green-bar th {
    background: #caf9f3; }
  .server-detail .dashlet.green-bar .s-grid {
    border-color: #14a28f; }
  .server-detail .dashlet.green-bar td, .server-detail .dashlet.green-bar th {
    border: 1px solid #14a28f !important; }

.chart-page-header {
    display: block;
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 10px;
    color: #333;
    border-bottom: 1px solid #c6c8c9
}

.date-input-wrapper {
  /*width: calc(100% - 35px);*/
  width:100%;
  float: left;
  background: #FFF;
  padding: 10px;
  /*margin-left: 10px;*/
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
  margin-top: 10px; }

.ui-tooltip {
  opacity: 1;
  padding: 20px;
  background: #F1F1F1 !important; }
 
 
