.k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link {
    display: block;
    position: relative;
    padding: 3px;
    text-decoration: none;
    color: #fff;
    background: url('../Images/corner-symbol-red.svg') no-repeat #7a7672;
    line-height: 20px !important;
    padding-left: 20px;
}


.navigator {
    background: url("../Images/navigator-red.png") no-repeat !important;
    height: 117px !important;
}


.SlideoutSplitter {
    background: #e74c4c !important;
}

.button {
    font-style: normal;
    color: #ffffff;
    border: 0;
    background: #BB2716;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 10px 5px 5px;
    letter-spacing: 0.5px;
    font-size:13px;
}

    .button:active {
        cursor: pointer;
        position: relative;
        top: 1px;
    }

    .button:hover {
        background: #801b10;
    }

.cssmenu {
    border-top: 2px solid #e8533f;
}

.GoToLinksTrigger {
    background: url('../Images/red-icon-info.png') no-repeat 50% 50%;
}


.delete-form {
    background: url('../Images/close-form.png') no-repeat 50% 50% #e8533f;
}
