.tooltipform {
    background: url(/media/img/tooltip/black_arrow_big.png);
    font-size: 12px;
    color: #fff;
    min-width: 200px;
    min-height: 20px;
    z-index: 99999;
    background-color: #dadada;
    position: absolute;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px 1px #6d6d6d;
    border: 1px solid#9c9c9c;
}

    /* a .label element inside tooltip */
.tooltipform .label {
        color: yellow;
        width: 35px;
    }

.tooltipform a {
        color: #ad4;
        font-size: 11px;
        font-weight: bold;
    }

.tooltipfomwrapper {
    overflow: auto;
    box-sizing: border-box;
    padding: 8px;
    padding-bottom: 0px;
}

    .tooltipfomwrapper .k-content {
        /*pointer-events: none;*/
    }

    .tooltipfomwrapper .jqplot-target, .tooltipfomwrapper .k-chart {
        pointer-events: auto;
    }

.tooltipform .k-link.k-header {
    background: #585858 !important;
}

.tooltipform .s-grid th {
    background: #585858 !important;
    background: none !important;
    font-weight: bold;
    color: #333333 !important;
    border-bottom: 1px solid #9e9e9e;
}

.tooltipform .s-pager.simple-pagination {
    background: #cacaca !important;
    border: 1px solid #CCCCCC !important;
}

.tooltipform table.s-grid th, .tooltipform table.s-grid td {
    border-left: 1px solid #9e9e9e !important;
}

.tooltipform table.s-grid {
    border: 1px solid #9e9e9e;
}

.tooltipform .s-altrow {
    background-color: #e8e8e8 !important;
}

.s-grid td a[sfwmoreinfo="True"] {
    display: block;
    padding: 3px 0px;
    float: left;
}

.tooltipindicator {
    height: 18px;
    width: 18px;
    float: left;
    background: url('../Images/icon-info.png');
    cursor: pointer;
    margin-right: 5px;
}

.closetooltip {
    position: absolute;
    height: 20px;
    width: 20px;
    float: left;
    background: url('../Images/tooltip-close.png') center #c34b4b no-repeat;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    border: 2px solid #FFF;
    cursor: pointer;
}

.tooltipfomwrapper legend {
    padding: 0px 5px;
    font-weight: bold;
}

.tooltipfomwrapper fieldset {
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
    pointer-events: none;
}


.tooltipfomwrapper table td {
    color: #333333;
}

    .tooltipfomwrapper table td.captionTd {
        font-weight: bold;
    }

.tooltipfomwrapper .Table {
    margin: 5px;
    float: left;
}


.jqplot-highlighter-tooltip table td {
    color: #FFFFFF;
}

.tooltipfomwrapper .k-panelbar > .k-item > .k-link {
    background: #6b6b6b !important;
    line-height: inherit !important;
    padding: 5px !important;
    border: 0 !important;
}

.tooltipfomwrapper .k-panelbar .k-content {
    float: left;
    width: 100%;
    background: #FFF !important;
    border: 1px solid #6b6b6b !important;
    box-sizing: border-box;
    pointer-events: none;
}

.tooltipfomwrapper .k-panelbar {
    margin: 0 !important;
    float: left;
    width: 100%;
    margin-bottom: 10px !important;
    border: 0 !important;
}

.tooltipfomwrapper .s-pager.light-theme .current {
    background: #444 !important;
}

.tooltipfomwrapper .k-icon.k-i-arrow-n {
    background: url('../Images/icon-collapse.png') no-repeat center;
}

.tooltipfomwrapper .k-icon.k-i-arrow-s {
    background: url('../Images/icon-expand.png') no-repeat center;
}


.tooltipfomwrapper .k-state-hover > .k-i-arrow-n, .k-state-hover > .k-i-arrow-s {
    background-position: center !important;
}


.tooltipfomwrapper .s-grid-container {
    pointer-events: none;
}

.tooltipform .s-pager.simple-pagination {
    pointer-events: all;
}

.tooltipfomwrapper .s-pager .page-link.next, .tooltipfomwrapper .s-pager .page-link.prev, .tooltipfomwrapper .s-pager .current.next, .tooltipfomwrapper .s-pager .current.prev {
    background: #444444 !important;
    color: #FFFFFF;
    border: 0;
}

.tooltipfomwrapper .s-pager li.disabled span {
    color: #adadad !important;
}

.tooltipfomwrapper .s-pager.light-theme a:hover {
    background: #666666 !important;
    color: #FFFFFF !important;
}

.tooltipindicator:hover {
    background: url('../Images/icon-info.png') center rgba(159, 245, 234, 0.77) no-repeat;
    border-radius:50%;
}