<div class="portlet-body overflow-hidden">
    <div class="form-body">
        <div class="information-div">
        <div class="form-group">
            <input class="dialog-btn-default" type="button" style="float: right;"  value="Set Details" ng-click="OnSetDetailsClick()" />
        </div>
        <div class="form-group">
            <label class="col-xs-3">Distinct File Name :</label>
            <div class="input-group col-xs-9">
                <input class="form-control input-sm" type="text" title="{{DistinctFileValue}}" ng-model="DistinctFileValue" dropvalue scopeid="scopeId" dropdata="'distinctfile'" ng-keydown="onImoprtExcelValueKeyDown($event)" />
                <span class='input-group-addon button-intellisense' ng-click='SetValuesIntellisenseButtonClick($event)'></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3">X Axis Cell Value:</label>
            <div class="input-group col-xs-9">
                <input type="text" class="form-control input-sm" title="{{XAxisCellValue}}" ng-model="XAxisCellValue" dropvalue scopeid="scopeId" dropdata="'xvalue'" ng-keydown="onImoprtExcelValueKeyDown($event)" ng-change="SetValuesXAxisCellValueChange(XAxisCellValue)" />
                <span class='input-group-addon button-intellisense' ng-click='SetValuesIntellisenseButtonClick($event)'></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3">Value:</label>
            <div class="input-group col-xs-9">
                <input type="text" class="form-control input-sm" title="{{Value}}" ng-model="Value" dropvalue scopeid="scopeId" dropdata="'value'" ng-keydown="onImoprtExcelValueKeyDown($event)" ng-change="SetValuesValueChange(Value)" />
                <span class='input-group-addon button-intellisense' ng-click='SetValuesIntellisenseButtonClick($event)'></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3">Y Axis Cell Value:</label>
            <div class="input-group col-xs-9">
                <input type="text" class="form-control input-sm" title="{{YAxisCellValue}}" ng-model="YAxisCellValue" dropvalue scopeid="scopeId" dropdata="'yvalue'" ng-keydown="onImoprtExcelValueKeyDown($event)" ng-change="SetValuesYAxisCellValueChange(YAxisCellValue)" />
                <span class='input-group-addon button-intellisense' ng-click='SetValuesIntellisenseButtonClick($event)'></span>
            </div>
        </div>

        </div>
        <div class="value-tablediv">
        <div class="form-group full-height">
            <div class="portlet-body ">
                <div class="table-scrollable set-value-table">
                    <table id="sample_editable_1" class="table table-striped table-hover table-bordered dataTable no-footer" role="grid" aria-describedby="sample_editable_1_info">
                        <thead>
                            <tr role="row">
                                <th aria-controls="sample_editable_1" rowspan="1" colspan="1" ng-repeat="(key, value) in lstSetValuesData[0]" ondragstart="return false;"><span ng-bind="key"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="rowdata in lstSetValuesData" ng-click="setRowIndex($index)">
                                <td ng-repeat="coldata in rowdata" customvaluedraggable dragdata="$index+1"><span ng-bind="coldata"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="setValueShowError" ng-bind="setvaluesError"></span>
    </div>
    <div class="col-xs-4">
        <input class="dialog-btn-default" type="button" value="OK" ng-click="onSetValuesOkClick()" ng-disabled="validatesetValues()" />
        <input class="dialog-btn-default" type="button" value="Cancel" ng-click="onSetValuescloseClick()" />
    </div>

    
   
</div>
