.constant-sidebar-content {
    height: 100%;
    width: 20%;
    float: left;
}


.constant-entity-validation {
    height: calc(100% - 10px);
}

.constant-primary-panel .panel-body {
    height: calc(100% - 40px) !important;
}

.constant-tree-view {
    height: 100%;
    overflow: auto;
}

.constant-sidebar-content .page-sidebar-content {
    height: calc(100% - 35px) !important;
    float: left;
    width: 100%;
    padding: 0 !important;
    margin-top: 5px;
}

.constant-sidebar-content .page-sidebar-content ul
{
    margin-bottom:0px !important;
}



.constant-sidebar-content .page-sidebar-header {
    float: left;
    width: 100%;
    padding: 0px;
    height: 30px;
    border-bottom:0 !important;
}

.marg-left-30 {
    margin-left: 30px !important;
}

.marg-left-31 {
    margin-left: 31px !important;
}


.constant-content-wrapper {
     width:80%;
     background:none !important;
}


.const-search {
    width: 50%;
    float: left;
}
.const-search::-ms-clear {
    display: none;
}

.constant-content-wrapper .radio-inline {
    padding-left: 0px !important;
}

    .constant-sidebar-content .panel-icons i {
        color: #c5c5c5;
        font-size: 18px;
        position:relative;
        left:-5px;
    }

    .marg-left-5 {
    margin-left: 5px !important;
}

.marg-left-10 {
    margin-left: 10px !important;
}

.marg-left-20 {
    margin-left: 20px !important;
}

.manage-constant-file-list, .manage-constant-entity-list {
    height:100%;
}


.constant-group {
    width: 100%;
    padding: 5px 0px;
    float: left;
    
}

.manage-constant-file-ul {
    list-style: none;
   margin-bottom:0px;
}



.constant-content-wrapper .panel-body .form-control {
    height: 35px;
}

.constant-tree-view span ul li {
    white-space: nowrap !important;
}


.constant-primary-panel {
    background:#FFFFFF;
    box-shadow:1px 2px 4px 0px #cacbcc;
    padding:10px;
}

    .constant-primary-panel .panel-heading {
        background: #336799 !important;
        color: #fff;
    }

.constant-entity-validation .fa-plus, .constant-entity-validation .fa-minus {
    cursor: pointer;
    color: #c5c5c5;
    font-size: 15px;
}


.constant-content-wrapper .item-border {
 border-bottom:2px solid #336799 !important;
 margin-bottom:10px !important;
}

.constant-sidebar-content-holder
{
    background:#FFFFFF;
    height:100%;
    box-shadow:1px 2px 4px 0px #cacbcc;
    padding:5px;
}

.constants-tree-minus
{
    width:18px;
    height:18px;
    background:url('../images/Common/icon_delete_dark.svg') no-repeat;
    display:table;
    position:relative;
    top:3px;
}

.constants-tree-plus
{
    width:18px;
    height:18px;
    background:url('../images/Common/icon_add_dark.svg') no-repeat;
    display:table;
    position:relative;
    top:3px;
}

.constant-tree-label
{
    display:table-cell;
    padding:5px;
}

.constant-tree-view-wrap
{
    display:table;
}

.constant-tree-child-label
{
   padding:5px;
   display:table-cell;
}

.constant-sidebar-content-holder ul
{
    list-style-type:none;
}


.constant-tree-view .selected
{
    background:#CCCCCC !important;
}

.constants-query-textarea
{
    width: 90%;
    float: left;
    margin-right: 10px;
    height:100px !important;
}



.constant-panel-content-section
{
    height:calc(100% - 50px);
}

.manage-constant-file-ul label
{
    font-size:13px !important;
    margin-left:5px;
}


.constants-files-list
{
    width:100%;
    float:left;
}


.constants-items-table
{
    height: calc(100% - 100px);
    overflow: auto;
    float: left;
    width: 100%;
}


.constants-items-table-wrapper
{
    height:100%;
}


.constant-searchbox
{
    width:90%;
    float:left;
}