.correspondence-object-tree {

    height: 100%;
    width: 100%;
}

.correspondence-toolbar label.control-label
{
    font-size:12px !important;
}

.correspondence-tab-content{
    height:100% !important;
}


.correspondence-tab-content .page-content-wrapper .page-content
{
    padding:5px !important;
}

.tab-container{
    height:calc(100% - 30px);
}


.correspondence-tab-content .col-xs-10{
    padding-right:5px !important;
}

.correspondence-panel
{
    background:#fff !important;
}

.report-panel
{
    background:#fff !important;
      border: 0 !important;
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #cacbcc !important;
    float: left;
    width: 100%;
    height:100% ;
    margin-bottom: 0px;
    overflow:auto;
}


.correspondence-panel .panel-heading {
    color: #333 !important;
    font-size: 14px;
    padding: 5px 10px !important;
    background-color: transparent !important;
    border-color:#cecece !important;
    font-weight:bold;
}

.correspondence-content div.panel-primary {
    border: 0 !important;
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #cacbcc !important;
    float: left;
    width: 100%;
    height: calc(100% - 30px) !important;
    margin-bottom: 0px;
    overflow:auto;
}


.correspondence-panel .form-group .panel-heading {
    height: 35px !important;
}


.correspondence-panel .control-label{
   
    text-align:right;
}


.correspondence-panel .contact-table-manage{
    width:100%;
    height:100%;
    float:left;
    overflow:auto;
    margin-top:10px;
}


.page-sidebar-menu ul {
    list-style: none;
    padding-top: 5px;
}


.page-sidebar-menu .query-value {
    height: calc(100% - 30%) !important;
    width: 100%;
    border-bottom: solid 2px #c5c5c5;
    margin-bottom: 10px;
    padding: 0px !important;
    margin-left: 0px !important;
    overflow: auto;
}


.manage-form-float {
    top: 75px !important;
    right: 0px !important;
    bottom: 210px !important;
}

.padding-3{
    padding:3px !important;
}




/*.common-properties-content.correspondence-object-tree .form-control {
    height: 20px !important;
}*/

.query-value ul li {
    display: block;
    padding: 8px  5px !important;
}


.query-value ul li input {
    float: left;
    margin: 0px 5px;
    position: relative;
    top: 3px;
}


/*  new changes*/

.correspondence-sidebar-header {
    padding: 0px 0px 5px 0px;
    height: auto;
    border-bottom:0px !important;
}


.correspondence-sidebar-header .search-box{
    width:100%;
}

.correspondence-content
{
    width:77%;
    float:left;
    height:100%;
}

.file-page .correspondence-content
{
    width:80% !important;
}

.file-page .toolbox-wrapper
{
    width:20% !important;
}

.correspondence-content .panel-body
{
    margin-top:10px;
}


.correspondence-toolbar .page-sidebar .page-sidebar-menu > li > a
{
    padding:7px 5px !important;
    font-size:13px !important;
}

.correspondence-toolbar .page-sidebar-menu li.active
{
    background:#656565 !important;
    color:#FFFFFF !important;
}
.correspondence-toolbar .query-value li.active
{
    background:#656565 !important;
    color:#FFFFFF !important;
}

.correspondence-toolbar .page-sidebar
{
    background-color:#FFFFFF !important;
}


.query-value {
    width: 100%;
    float: left;
    height: calc(100% - 130px);
    overflow: auto;
    float: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    padding-bottom: 10px;
}



.query-bottom-form {
    width: 100%;
    float: left;
    height: 60px;
    margin-top: 10px;
}


.query-bottom-form .form-group
{
    margin-bottom:5px !important;
}

.query-bottom-form .col-xs-4, .query-bottom-form .col-xs-8
{
    padding:0px 3px !important;
}

.corr-tables
{
   
}

.corr-tables .panel-heading
{
    font-family:DroidSerif-Regular !important; 
    border:0 !important;
    font-size:20px;
}

.corr-tables .panel-body
{
    padding:10px !important;
    margin-top:0px !important;
}

.corr-tables .panel {
    border-left: 4px solid #006eb4 !important;
    margin-bottom: 10px !important;
    border: 1px solid #d1d1d1;
    transition:.3s all ease-in-out;
}

.corr-tables-caption
{
    display: block;
    float: left;
    width: 75px;
    text-align: left !important;
    padding-top: 3px;
}

.corr-tables-input
{
    display: inline-block;
    width: 30%;
    margin-left: 10px;
}

.correspondence-panel-arrow {
    width: 24px;
    height: 24px;
    position:relative;
    border-radius: 50% !important;
    border: 1px solid #444444;
    float: right;
    position: relative;
    top: 2px;
    cursor:pointer;
}




.correspondence-panel-arrow  .fa-chevron-up:before, .correspondence-panel-arrow .fa-chevron-down{
    font-size: 13px;
    position: absolute;
    left: 50%;
    display: block !important;
    float: left;
    top: 45%;
    transform: translate(-50%, -50%);
}

