<fieldset ng-disabled="$ctrl.isDisabledforVersioning" class="marg-top-8">
    <set-value-by-constant-variable-query is-left-side-expression="true" is-disabledfor-versioning="$ctrl.isDisabledforVersioning" model="$ctrl.leftSideExpression" direction="'Left'" setqueryparam="$ctrl.setQueryParam({ mapObj : $ctrl.leftSideExpression})">
    </set-value-by-constant-variable-query>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Operator</label>
        <select class="form-control input-sm" ng-options="x for x in $ctrl.operatorsList" title="{{$ctrl.gatewayOperator.sfwOperator}}" ng-model="$ctrl.gatewayOperator.sfwOperator" undoredodirective model="$ctrl.gatewayOperator" propertyname="'sfwOperator'"></select>
    </div>
    <set-value-by-constant-variable-query model="$ctrl.rightSideExpression" is-disabledfor-versioning="$ctrl.isDisabledforVersioning" direction="'Right'" setqueryparam="$ctrl.setQueryParam({ mapObj : $ctrl.rightSideExpression} )">
    </set-value-by-constant-variable-query>
</fieldset>