
<div ng-controller="customSettingsController" class="innerWrapper">
    <div class="full-height" ng-show="selectedDesignSource">
        <div id="editor_customsettings" class="ace-editor-div"></div>
    </div>
    <div class="full-height padding-10" ng-hide="selectedDesignSource">
        <ul class="nav nav-tabs">
            <li ng-click="selectTab('entity')" ng-class="selectedTab=='entity'?'active':''"><a>Entity</a></li>
            <li ng-click="selectTab('form')" ng-class="selectedTab=='form'?'active':''"><a>Form</a></li>
            <li ng-click="selectTab('html')" ng-class="selectedTab=='html'?'active':''"><a>HTML</a></li>
            <li ng-click="selectTab('correspondence')" ng-class="selectedTab=='correspondence'?'active':''"><a>Correspondence</a></li>
            <li ng-click="selectTab('rule')" ng-class="selectedTab=='rule'?'active':''"><a>Rule</a></li>
            <li ng-click="selectTab('scenario')" ng-class="selectedTab=='scenario'?'active':''"><a>Scenario</a></li>
            <li ng-click="selectTab('bpm')" ng-class="selectedTab=='bpm'?'active':''" ng-if="!$root.IsWorkFlowMap"><a>BPM</a></li>
            <li ng-click="selectTab('workflow')" ng-class="selectedTab=='workflow'?'active':''" ng-if="$root.IsWorkFlowMap"><a>Workflow</a></li>
            <li ng-click="selectTab('file')" ng-class="selectedTab=='file'?'active':''"><a>Files</a></li>
            <li ng-click="selectTab('report')" ng-class="selectedTab=='report'?'active':''"><a>Report</a></li>
        </ul>
        <div class="tab-content custom-settings-div">
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='entity'" ng-class="selectedTab=='entity'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Entity')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Entity')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objEntity"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='rule'" ng-class="selectedTab=='rule'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Rule')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Rule')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objRule"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='form'" ng-class="selectedTab=='form'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Form')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Form')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objForm"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='html'" ng-class="selectedTab=='html'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('HTML')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('HTML')"></a>
                    </div>
                </div>
               <custom-setttings-directive current-file-object="objFormHtml"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='correspondence'" ng-class="selectedTab=='correspondence'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Correspondence')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Correspondence')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objCorrespondence"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='scenario'" ng-class="selectedTab=='scenario'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Scenario')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Scenario')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objScenario"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='bpm'" ng-class="selectedTab=='bpm'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('BPM')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('BPM')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objBPM"></custom-setttings-directive>
            </div>


            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='workflow'" ng-class="selectedTab=='workflow'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Workflow')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Workflow')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objWorkflow"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='file'" ng-class="selectedTab=='file'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('File')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('File')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objFile"></custom-setttings-directive>
            </div>
            <div class="tab-pane full-height div-border padding-0" ng-if="selectedTab=='report'" ng-class="selectedTab=='report'?'active':''">
                <div class="col-xs-12 padding-10 gray-background-color">
                    <div class="div-left-heading"><b>Extra Fields</b></div>
                    <div class="div-right-icons">
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="AddExtraFields('Report')"></a>
                        <a><img src="images/Common/icon_delete_dark.svg" ng-click="DeleteExtraFields('Report')"></a>
                    </div>
                </div>
                <custom-setttings-directive current-file-object="objReport"></custom-setttings-directive>
            </div>
        </div>
    </div>
</div>

