<div class="portlet-body">
    <div class="form-group">
        <span ng-if="IsDelete">Are you sure you want to delete this project?</span>
        <span ng-if="IsSaveAndReLoad">Application will be reloaded, are you sure you want to save this project?</span>
        <span ng-if="IsSave">Are you sure you want to save this project? Click 'yes' to save and reload project.</span>
    </div>
</div>
<div class="form-actions right">
    <input type="submit" class="dialog-btn-default" value="Yes" ng-click="OkClick()" />
    <input type="button" class="dialog-btn" value="No" ng-click="closeDialog()" />
</div>

