<div ng-controller="executequerycontroller" class="innerWrapper">
    <div class="full-height">
        <!--<div class="col-xs-12 height-10">
            <div class="col-xs-12 padding-10">
                {{QueryHeader}}
            </div>
        </div>-->
        <div class="col-xs-12 full-height">
            <div class="col-xs-3 full-height">
                <div class="query-left full-height">
                    <div class="col-xs-12 padding-10">
                        <input class="form-control input-sm" type="text" placeholder="Search here" ng-model="tableFilterText" />
                    </div>
                    <div class="row padding-10">
                        <div class="col-xs-12">
                            <ul class="list-unstyled">
                                <li ng-repeat="table in  lstExecuteQueryTables | filter:{name:tableFilterText}" customtabledraggable dragdata="table" ng-mousedown="selectTable(table)" ng-class="selectedTable == table ?'selected':''"> <span customtabledraggable><label ng-bind="table.name"></label></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 full-height">
                <div class="query-right full-height">
                    <div class="col-xs-12 padding-10 height-10" ng-if="!$root.IsOracleDB">
                        <div class="col-xs-3">
                            <input type="checkbox" ng-model="chkbxFetchRows" ng-change="onChange(chkbxFetchRows)"  /> &nbsp;&nbsp; <span>Fetch First 50 Rows</span>
                        </div>
                        <!--<div class="col-xs-3 column-inner-align">
                            <button class="functional-prop-btn" ng-click="RunAll()">Run All</button>
                        </div>-->
                    </div>
                    <div class="col-xs-12 div-border height-30">
                        <div class="col-xs-11 padding-10 full-height" droptable dropdata="table">
                            <div id="Queryeditor_{{QueryDivID}}" class="ace-editor-executequery-div"></div>
                        </div>
                        <div class="col-xs-1 padding-10 full-height">
                            <div>
                                <button class="" ng-click="ExecutetableQuery('btn1')">Execute</button>
                            </div>
                            </div>
                        </div>
                    <div class="col-xs-12 div-border height-60">
                        <ul class="nav nav-tabs">
                            <li ng-click="selectTab('data')" ng-class="selectedTab=='data'?'active':''"><a >Data</a></li>
                            <li ng-click="selectTab('summary')" ng-class="selectedTab=='summary'?'active':''"><a >Summary</a></li>
                        </ul>
                        <div class="tab-content height-90">
                            <div class="tab-pane full-height" ng-show="selectedTab=='data'" ng-class="selectedTab=='data'?'active':''">
                                <div class="col-xs-12 div-border execute-data full-height">
                                    <table class="table table-condensed table-hover">
                                        <tr>
                                            <th ng-repeat="(key, value) in lstExecuteQuery1[0]">{{key}}</th>
                                        </tr>
                                        <tr ng-repeat="rowdata in lstExecuteQuery1">
                                            <td ng-repeat="coldata in rowdata"><span ng-bind="coldata"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane full-height" ng-show="selectedTab=='summary'" ng-class="selectedTab=='summary'?'active':''">
                                <div class="col-xs-12 padding-10 full-height">
                                    <textarea style="height:170px !important"  class="form-control full-height" ng-readonly="true" ng-model="strErrorMsgdata">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
