<div class="full-height">
    <!--<div class="popup-secondary-head"> Active Forms </div>-->
    <div class="portlet-body" ng-disabled="IsDisabledforVersioning">
        <div class="col-xs-12">
            <div class="pull-left"><b>Active Forms:</b></div>
            <div class="pull-right">
                <img src="images/Common/icon_delete_dark.svg" ng-click="DeleteActiveForm()" />
                <img src="images/Common/icon_add_dark.svg" ng-click="AddActiveForm()" />

            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group"></div>
        </div>
        <div class="col-xs-12 full-width-form-table">
            <table class="table table-bordered table-fixedheader">
                <thead>
                    <tr>
                        <th width="50%">Field Value</th>
                        <th width="50%">Active Form</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="form in lstActiveForm" ng-click="selectActiveFormRow(form)" ng-class="selectedActiveForm==form?'selected':''">
                        <td width="50%">
                            <input class="form-control input-sm" type="text" title="{{form.FieldValue}}" ng-model="form.FieldValue" />
                        </td>
                        <td width="50%">
                            <div class="input-group">
                                <!--<activeformintellisensetemplate modebinding='form.ActiveForm' model="form" formtype='ActiveFormType' multiactiveformflag='false' />-->
                                <activeformintellisensetemplate activeformname='form.ActiveForm' model='form' propertyname='"ActiveForm"' formtype='ActiveFormType' multiactiveformflag='false' />
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="form-actions">
        <div class="col-xs-8 text-left">
            <span class="alert-error-msg" ng-bind="ErrorMessageForDisplay"></span>
        </div>
        <div class="col-xs-4">
            <input type="button" value="OK" class="dialog-btn" ng-click="OkClick()" ng-disabled="validateActiveForms()" />
            <input type="button" value="Cancel" class="dialog-btn" ng-click="CancelClick()" />
        </div>
    </div>
</div>


