<div class="portlet-body bpm-body-content" ng-class="{'disabledlink': IsDisabledforVersioning}">
    <form>
        <div class="form-group margin-bottom-10">
                <label class="margin-right-10 bold">Please redeploy map only for any configuration changes. If any activity is added or removed from map, please deploy a new version.</label>
        </div>

        <div class="form-group margin-bottom-10">
            <div class="col-xs-3 padding0">
                <label class="margin-right-10">Case ID: </label>
            </div>
            <div class="col-xs-9">
                <select class="form-control input-sm" ng-options="x.CaseID as ('Case ID: '+x.CaseID+ ' - Version: ' + x.Version) for x in versionList" ng-model="selectedCaseID" ng-change=""></select>
            </div>
        </div>
    </form>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn-default" value="OK" ng-click="onOKClick()" ng-disabled="!selectedCaseID" />
    <input type="button" class="dialog-btn" value="Cancel" ng-click="closeDialog()" />
</div>
