<div class="portlet-body">
    <div class="bpmn-tree-manage">
        <span>Select a control to be focused: </span>
        <common-tree-directive collection="controlTree" child-collection-property="'Items'" text-property="'Header'" expanded-property="'isExpanded'" onitemdblclick-callback="" onitemclick-callback="selectControlID"/>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn-default" value="OK" ng-click="onSaveClick()" />
    <input type="button" class="dialog-btn" value="Cancel" ng-click="onCancelClick()" />
</div>
