<td>
    <input class="form-control form-filter input-sm" type="text" ng-model="variable.dictAttributes.id" undoredodirective model='variable' ng-disabled="mandatoryElementIds.indexOf(variable.dictAttributes.id) != -1" />
</td>
<td>
    <select class="form-control form-filter input-sm" ng-options="x for x in datatypes" ng-change="changeMapType(variable)" title="{{variable.dictAttributes.dataType}}" ng-model="variable.dictAttributes.dataType" undoredodirective model='variable' ng-disabled="mandatoryElementIds.indexOf(variable.dictAttributes.id) != -1"></select>
</td>
<td>
    <fileintellisensetemplate model='variable' filename="variable.dictAttributes.entity" propertyname="'dictAttributes.entity'" filetype="'Entity'" isdisabled="mandatoryElementIds.indexOf(variable.dictAttributes.id) != -1 || variable.dictAttributes.dataType != 'Entity'"></fileintellisensetemplate>
</td>
<td>
    <select class="form-control form-filter input-sm" ng-options="x for x in types" title="{{variable.dictAttributes.type}}" ng-model="variable.dictAttributes.type" undoredodirective model='variable' ng-disabled="mandatoryElementIds.indexOf(variable.dictAttributes.id) != -1"></select>
</td>
<td>
    <select class="form-control form-filter input-sm" ng-options="x for x in dvtypes" undoredodirective model='variable' ng-change="changeMapdvType(variable)" title="{{variable.dictAttributes.sfwDefaultValueType}}" ng-model="variable.dictAttributes.sfwDefaultValueType" ng-disabled="variable.dictAttributes.dataType == 'Entity'"></select>
</td>
<td>
    <input class="form-control form-filter input-sm" type="text" title="{{variable.dictAttributes.sfwDefaultValue}}" ng-model="variable.dictAttributes.sfwDefaultValue" undoredodirective model='variable' ng-disabled="variable.dictAttributes.dataType == 'Entity' || variable.dictAttributes.sfwDefaultValueType != 'Constant'" />
</td>
<td>
    <entityqueryintellisense selecteditem="variable.dictAttributes.sfwQueryID" disableflag="(variable.dictAttributes.dataType === 'Entity') || !(variable.dictAttributes.sfwDefaultValueType === 'Query')" model="variable" propertyname="'dictAttributes.sfwQueryID'" parametermodel="variable.dictAttributes.sfwQueryParameters" showsearchbutton="true"></entityqueryintellisense>
</td>
<td>
    <div class="input-group">
        <input class="form-control form-filter input-sm" type="text" undoredodirective model='variable' ng-model="variable.dictAttributes.sfwQueryParameters" title="{{variable.dictAttributes.sfwQueryParameters}}" disabled />
        <span class="input-group-btn">
            <button class="btn btn-sm default" ng-click="getQueryParam_dialog(variable.dictAttributes)" ng-disabled="!(variable.dictAttributes.sfwQueryParameters)" style="padding: 4px 5px;">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</td>
