
.create-object-container, .create-object-container .panel-primary {
    height: calc(100% - 50px);
}

    .create-object-container .panel-body {
        height: calc(100% - 50px);
        overflow: auto;
    }

.add-btn-adjust {
    height: 40%;
    transform: translateY(100%);
}

.create-object-container .panel-body ul {
    padding: 0px;
    list-style: none;
    line-height: 25px;
    font-size: 12px;
    height:100%;
    width:100%;
    float:left;
}

.create-object-container .panel-body table td {
    font-size: 12px;
}

    .create-object-container .panel-body table td .form-group {
        margin-bottom: 0px !important;
    }


.create-object-container .panel-body ul li a {
    text-decoration: none !important;
    cursor: pointer;
    color: #000;
}



.entity-summary-report {
    height: calc(100% - 10px);
    overflow: auto;
}

    .entity-summary-report ul {
        padding: 5px !important;
        list-style: none !important;
    }

        .entity-summary-report ul ul {
            border: solid 1px #c5c5c5;
        }

        .entity-summary-report ul li {
            margin-bottom: 10px;
        }

    .entity-summary-report .filepath {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }


    .entity-summary-report a:hover {
        color: #555;
    }

.calculated-height {
    height: 150px;
}

.no-border {
    border: none !important;
}

    .no-border table td, .no-border table th {
        border: none !important;
    }

 .search-btn-manage .btn-search-popup, .no-border table td .btn-search-popup {
    min-height: 25px !important;
}


 .search-btn-manage .button-autocomplete{


 }
.parametermanage ul {
    list-style: none !important;
    padding: 0px;
    height: 200px;
    overflow: auto;
}


    .parametermanage ul li {
        line-height: 25px;
        border: solid 1px #c5c5c5;
        margin-bottom: 5px;
        padding: 5px;
    }



.form-height {
    height: calc(100% - 40px);
}



.form-content .portlet-body {
    height: calc(100% - 40px);
    overflow: auto;
}

.mainquery-subqury-content {
    height: 250px;
    overflow: auto;
    padding: 5px;
}

.form-panel-container {
    height: calc(100% - 50px);
    border: solid 1px #c5c5c5;
}

.form-panel-head {
    background: #c5c5c5;
    padding: 2px;
    height: 38px;
    border: solid 1px #c5c5c5;
}

    .form-panel-head a.fright {
        margin-left: 5px !important;
        margin-top: 5px !important;
    }


    .form-panel-head select {
        height: 30px;
    }

.form-panel-content .panel-body {
    height: calc(100% - 70px);
    overflow: auto;
}

.Active-Ul {
    height: calc(100% - 100px) !important;
    border: solid 1px #c5c5c5;
    padding: 5px !important;
    overflow: auto !important;
}

    .Active-Ul li input[type=checkbox] {
        position: relative;
        top: 10px !important;
    }

.width-40 {
    width: 40% !important;
}


.check-label-manage {
    width: 20% !important;
    white-space: nowrap;
    font-size: 12px !important;
}

.subquey-icon {
    margin-right: 5px;
    color: #fff !important;
}

.text-left {
    text-align: left;
}


.manage-create-object .button-autocomplete {
    top: 0px;
}

.manage-create-object .panel-body {
    padding: 5px;
}

.manage-create-object .tree-boxes-search-box {
    float:left;
}


.manage-create-object .query-search {
    margin-left: -22px;
    font-size: 16px;
    color: #c5c5c5;
    margin-top: 4px;
}

.manage-create-object .table-hader-actions i {
    color: #555;
}


.manage-create-object .textbox-search-icon {
    padding: 12px 13px !important;
}

.subquery-panel-manage{
    margin-left: 9px;
    width: calc(100% - 2.5%);
}

/*.table-head-text{
    float:left;
    padding:5px 0px;
}*/



.browse-query-panel{
    border:solid 1px #c5c5c5;
    float:left;
    width:100%;
    margin-bottom:5px;
}


.browse-query-panel-head{
    background: #336699;
    color: #fff;
    padding-left: 10px !important;
}

.browse-for-query-sub-form ul {
    list-style: none;
    padding: 5px;
}


.lookup-field-details {
    height: 100%;
    margin-bottom: 0px;
}

.lookup-field-details .panel
{
    height: 100%;
    margin-bottom: 0px;
}


.lookup-field-details .form-group
{
    margin-bottom:0px !important;
}


.column-number-row 
{
    margin-bottom:10px;

}

.column-number-row label
{
    display:inline-block;
}


.column-number-row select
{
    width:80px;
    display:inline-block;
}


.lookup-field-details-search-table
{
    height: calc(100% - 47px);
    overflow: auto;
}

.textoverflow-style
{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}


.consolidated-item-div{
    height: 100%;
    width: 100%;
    float: left;
    background: #efefef;
    margin-top: 3px;
}


.consolidated-item-div-selected{
    color: #333 !important;
    background: #cecece !important ;
    display: block;
    float: left;
    width:100%;
}



.parameter {
    border: solid 1px #555;
    color: #fff !important;
    background: #1a1a1a !important;
    display: block;
    float: left;
}


    .parameter span[contenteditable]:empty.placeholder::before {
        color: #fff !important;
    }


.entity-creation-warning{
    position: absolute;
    bottom: 60px;
    left: 10px;
}