.scenario-panel-head {
    height: 40px;
}

.scenario-overflow-hide {
    overflow: hidden !important;
}

.scenario-panel-body {
    overflow: auto;
    height: calc(100% - 30px);
    margin-top: 5px;
    padding: 0px !important;
    width: 100%;
    float: left;
}

.scenario-calc-height {
    height: calc(100% - 60px);
}

.scenario-marg-0 {
    margin: 0px !important;
}



.scenario-table-scrollable {
    width: 100%;
    border: 1px solid #dddddd;
    margin: 0px;
}


.scenario-popup-body {
    overflow: auto;
    height: calc(100% - 40px);
    float: left;
    width: 100%;
}

.alert-error-msg {
    color: #a94442 !important;
    white-space: normal;
}

.scenario-logical-rule-calc-height { /* when object*/
    height: 65% !important;
}


.method-table {
    height: 120px;
    overflow: auto;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}


/*.method-table table th, td{
    padding:2px !important;
}*/

.popup-wrapper-run-result {
    height: 100%;
}

.RunResult-body {
    /*border: solid 1px #555;*/
    overflow: auto;
    height: 100%;
    width: 100% !important;
}

.RunResult-body-tools {
    border: solid 1px #555;
    margin-left: 5px;
    overflow: auto;
    height: calc(100% - 40px);
    padding: 5px !important;
    width: 100% !important;
}

    .RunResult-body-tools .tree {
        overflow: auto;
        height: 100% !important;
    }

.popup-run-result-table, .popup-run-result-child-table {
    width: 100%;
    margin: 0px;
    border: none;
}

.popup-run-result-btn {
    text-align: right;
    padding-right: 20px;
    margin-bottom: 10px !important;
}

.RunResult-body .tree {
    overflow: auto;
    height: 100% !important;
}


.scenario-popup-body .tree {
    height: 100% !important;
}

.scenario-panels .panel-heading {
    padding: 8px 15px !important;
    background: linear-gradient(to bottom, #eeeeee 0%,#c1c1c1 100%);
    color: #333;
    font-size: 14px;
}


.plusicon {
    float: right !important;
    cursor: pointer !important;
}

.scenario-test-list {
    white-space: nowrap !important;
}

    .scenario-test-list li a {
        padding: 10px !important;
    }

.scenario-header-manage {
    padding: 0px 5px !important;
}

.faTimesScenario {
    color: red;
    font-size: 14px;
}

.faCheckScenario {
    color: green;
    font-size: 14px;
}

.tests-menu > li:hover, .tests-menu > li.selected {
    background-color: #F0A752 !important;
    color: white !important;
}

/*.tests-menu > li:hover, .tests-menu > li.selected a{
color: white !important;
}*/


.execution-count {
    right: -10px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border-radius: 50% !important;
    text-align: center;
    border: 2px solid #ac8e52;
    top: -10px !important;
    line-height: 14px;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    padding-top: 1px;
}


.execution-value {
    background: #555050;
    color: white;
    /*padding: 5px;*/
    border-radius: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.execution-value-decisiontable {
    background: #555050;
    color: white;
    /*padding: 5px;*/
    border-radius: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: -30px;
    margin-top: 16px;
    margin-right: 10px;
}

.dt-assign-execution-decisiontable {
    background: #518e50;
    border-color: transparent;
    border-right-color: #adadad !important;
    border-right-width: 2px;
    border-style: solid;
    white-space: nowrap;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: inline-flex;
    position:relative;
}

.dt-assign-execution-decisiontable span
{
    color:#FFFFFF !important;
}

.excelmatrix-result {
    height: calc(100% - 40px);
}

.min-width-80 {
    min-width: 80px;
}

.execution-result-wrapper {
    width: 40% !important;
}

.execution-result-diagram-area {
    width: 60% !important;
    border: 1px solid #CCCCCC;
    height: 100%;
    overflow: auto;
}

.execution-result-diagram-area-border {
    border: 1px solid #CCCCCC;
}

ruledirectiveforscenarioexecution .dt-table-cell>div {
    overflow: hidden;
}

ruledirectiveforscenarioexecution [contenteditable] {
   cursor: not-allowed;
   pointer-events: none;
}

.parameter-data-table {
    height: 110px;
    overflow: auto;
    width: 100%;
}


div.scenario-sidebar .page-sidebar .page-sidebar-menu > li > a, .scenario-table td
{
    font-weight:600;
    font-size:12px !important;
}

.loop-execution-column{
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
}
