
.tool-heading {
    height: 30px;
    background-color: #ddd;
}

.width-sm {
    width: 2%;
    padding-right: 5px;
    padding-left: 5px;
}

.width-lg {
    width: 97%;
    padding-right: 5px;
    padding-left: 5px;
}

.tool-panel {
    padding: 5px 5px 5px 26px;
    float: left;
    width: 100%;
}

    .tool-panel .table-fixedheader > tbody {
        max-height: 140px !important;
    }

.tool-form-body {
    height: calc(100% - 45px);
}

.tool-left-form-body .table-fixedheader > tbody {
    max-height: 500px !important;
}

.tool-main-body {
    border: 1px solid #ddd;
    float: left;
    height: 100%;
    width: 100%;
    border-top: 0;
    padding-top: 10px;
}

.tool-main-body-padding {
    padding: 10px;
}

.tool-form-body-scroll {
    overflow-y: auto;
}

.div-bottom-border {
    border-bottom: 1px solid #999;
    padding: 5px;
    margin-bottom: 10px;
}

.properties-margin-bottom-0 {
    margin-bottom: 0px !important;
}

.custom-settings-div {
    height: calc(100% - 30px) !important;
}


.configure-correspondance .form-group {
    margin-bottom: 0 !important;
    padding: 5px;
}

.configure-correspondance table th {
    background: #FFFFFF;
}



.configure-correspondance .tool-heading {
    background: #FFFFFF !important;
}


.correspondence-table-buttons {
    width: 100%;
    float: left;
    border-bottom: 1px solid #888888;
}


.project-config-common-prop .form-group {
    margin-bottom: 0 !important;
    padding: 5px;
}


.project-config-common-prop table th {
    background: #FFFFFF;
}

.project-config-common-prop .tool-panel {
    padding: 5px 5px 5px 31px !important;
}


.project-configuration-screen .selected {
    background: #c3c3c3 !important;
}

/************** SERVER METHODS **************8*/

.main-section-server-method {
    height: 100%;
}

    .main-section-server-method ul {
        list-style: none;
        height: calc(100% - 30px);
        overflow: auto;
        float: left;
        width: 100%;
    }

.server-method-list {
    height: 100%;
}

[list-header].searchrow {
    text-transform: capitalize;
    padding: 5px;
    font-size: 14px;
    font-family: Lato-Bold;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 5px;
}


.searchrow {
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}

.details-server-method {
    height: 100%;
    float: left;
    padding: 10px;
    background: #FFF;
    box-shadow: 1px 2px 4px 0px #cacbcc;
    width: 100%;
}




.searchrow:not([list-header]):hover, .searchrowSelected {
    background-color: #555555;
}

.searchrow a {
    color: #333333;
}

.app-box-shaddow {
    box-shadow: 1px 2px 4px 0px #cacbcc;
}

:not([list-header]).searchrow:hover, .searchrowSelected a, .searchrow a:hover, .searchrow:hover a {
    color: #FFF;
    text-decoration: none;
}

.para-table-head {
    font-size: 15px !important;
    font-family: Lato-Bold;
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    border-top: 1px solid #AAAAAA;
}

.old-id-text {
    display: block;
    float: left;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.validation_utility td:first-child {
    width: 30%;
}
.validation_utility td {
    border-bottom:1px solid #8d8d8d;
}

.validation_utility td:last-child {
    width: 70%;
}

.validation_utility td:first-child span {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

/************** SERVER METHODS **************8*/






