<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group checkbox-row">
                <label class="control-label" for="chkDefault">Default Version</label>
                <input id="chkDefault" type="checkbox" ng-model="objDummyRule.chkDefaultVersion" ng-change="isValidVersion()" class="popup-single-checkbox" />

            </div>

            <div class="form-group">
                <label class="control-label">Effective Date </label>

                <input type="text" ng-change="isValidVersion()" class="form-control input-sm form-control-inline date-picker" ng-model="objDummyRule.effectiveDatePicker" placeholder="Enter EffectiveDate" ng-disabled="objDummyRule.chkDefaultVersion" ng-change="getDisableValue()" />

            </div>
         
            <div class="form-group checkbox-row">
                <label class="control-label" for="chkCopy">Copy Current Rule</label>
                <input id="chkCopy" type="checkbox" ng-model="objDummyRule.chkCopyCurrentRule" class="popup-single-checkbox" />

            </div>
           
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Description </label>

                <textarea type="text" class="form-control input-sm" autofocus id="tbDescription" title="{{objDummyRule.description}}" ng-model="objDummyRule.description" placeholder="Description"></textarea>

            </div>

            <div class="form-group">
                <label class="control-label">Status </label>

                <select id="ddlstatus" class="form-control input-sm" title="{{objDummyRule.status}}" ng-model="objDummyRule.status" ng-options="x for x in objstatus"></select>

            </div>

         

        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="objDummyRule.errorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="btn dialog-btn-default" ng-click="AddLogicalRule()" ng-disabled="objDummyRule.IsOkDisable" />
        <input type="button" value="Cancel" class="btn dialog-btn-default" ng-click="CancelNewVersion()" />
    </div>
</div>