<div class="innerWrapper overflowA">
    <div class="col-xs-12">
        <table class="table table-condensed table-fixedheader adv-search-result-table-height">
            <thead>
                <tr>
                    <th width="25%">
                        ID
                    </th>
                    <th width="25%">
                        Data Type
                    </th>
                    <th width="25%">
                        Value Of Initiation
                    </th>
                    <th width="25%">
                        Value of Completion
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="step in lstParametersofExecutedStep" ng-click="SelectExecutedStep(step)" ng-class="(step == selectedExecutedStep)?'selected':''">
                    <td width="25%">{{step.Id}}</td>
                    <td width="25%">{{step.DataType}}</td>
                    <td width="25%">{{step.Value}}</td>
                    <td width="25%">{{step.EndValue }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>