<div class="portlet-body">
    <!--<div class="popup-head">Add New Group<div class="ngdialog-close"></div></div>-->
    <div class="form-group">
        <label class="col-xs-3 control-label">Name :</label>
        <div class="col-xs-9">
            <input type="text" class="form-control input-sm" title="{{newGroupID}}" ng-model="newGroupID" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label"></label>
        <div class="col-xs-9">
            <span style="color:red;" ng-bind="queryGroupError"></span>
        </div>
    </div>
</div>
<div class="form-actions right">
    
    <input type="button" value="OK" class="btn  default" ng-click="setNewQueryGroupDetails()" ng-disabled="validateQueryGroupDailog()" />
    <input type="button" value="Cancel" class="btn  default" ng-click="closeNewQueryDialog()" />
</div>