<div>
    <div context-menu="queryMenuOptions" ng-class="{'selected color-light2':selectedQuery==objQuery, 'bckgGrey' : (objQuery.isAdvanceSearched), 'bckgGreen': (selectedQuery==objQuery && (objQuery.isAdvanceSearched))}">      
        <span class="info-tooltip dtc-span" ng-if="objQuery.errors.empty_id || objQuery.errors.inValid_id || objQuery.errors.duplicate_id" ng-attr-title="{{objQuery.errors.empty_id || objQuery.errors.inValid_id || objQuery.errors.duplicate_id}}" style="position:relative;color:red !important"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>        
        <span ng-click='selectQueryGroup(objQuery,$event)' ng-bind='objQuery.dictAttributes.ID'  data-toggle="popover"></span>
    </div>
</div>