<div class="portlet-body full-height">
    <div class="form-body full-height">
        <div class="col-xs-6 full-height">
            <div class="div-entity-object-tree">
                  <newentityobjecttreetemplate ischeckboxvisible="false" selectedfield="objNewButtonFilterGridQueryParam.SelectedField" lstdisplayentity="objNewButtonFilterGridQueryParam.LstDisplayedEntities" selectedentityobjecttreefields="objNewButtonFilterGridQueryParam.lstselectedobjecttreefields" entityname="formodel.dictAttributes.sfwEntity"></newentityobjecttreetemplate>
            </div>
        </div>
        <div class="col-xs-6 full-height">
            <div class="div-base-query-param full-height">
             
                <div class="col-xs-12">
                    <table class="sws-table">
                        <thead>
                            <tr>
                                <th width="50%">Parameter Name</th>
                                <th width="50%">Parameter Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="param in objNewButtonFilterGridQueryParam.lstQryField">
                                <td width="50%"><span ng-bind="param.CodeID"></span></td>
                                <td width="50%"><input type="text" class="form-control input-sm" title="{{param.ParamValue}}" ng-model="param.ParamValue" entitytreefielddroppable dropdata="param" fieldname="'ParamValue'" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">

    <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
    <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" />
    <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-click="objNewButtonFilterGridQueryParam.OnNextClick()" />
    <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" disabled="disabled" />

</div>