<div class="full-height">

    <div newbuttoncommonproptemplate></div>

    <div class="col-xs-12 column-inner-align custom-attr-table">
        <!--<label ng-bind="objNewButtonCustomAttr.CustomAttributeText"></label>-->
        <div class="client-visi-layout">
            <div class="client-visi-tree-list">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Available Fields</span>
                        <label class="control-label fright">Show All Controls</label>
                        <input class="fright" type="checkbox" ng-model="objNewButtonCustomAttr.IsShowAllControl" ng-change="objNewButtonCustomAttr.showAllControlChange()" />

                    </div>
                    <div class="client-visi-content">
                        <ul>
                            <li ng-repeat="field in objNewButtonCustomAttr.FieldCollection" class="common-tree-list">
                                <div customattributechildtree></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="client-visi-layout-inner-button">

                <input type="button" ng-click="objNewButtonCustomAttr.AddToGridClick()" class="button-add-to-right" />

            </div>

            <div class="auto-complete-table">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Parameters</span>
                        <ul class="list-inline pull-right">
                            <li><img src="images/Common/icon_delete_dark.svg" class="fleft" title="Delete Parameter" ng-click="objNewButtonCustomAttr.onDeleteParameter()" ng-disabled="objNewButtonCustomAttr.SelectedParameter == undefined" /></li>
                            <li><img src="images/Common/icon_add_dark.svg" class="fleft" title="Add Parameter" ng-click="objNewButtonCustomAttr.onAddParameter()" /></li>
                        </ul>
                    </div>
                    <div class="client-visi-content" ondrop="onFieldCollectionDrop(event);" ondragover="onDragOverCommon(event);">
                        <table class="sws-table">
                            <thead>
                                <tr>
                                    <th width="40%">Parameter Name</th>
                                    <th width="40%">Parameter Value</th>
                                    <th width="20%">constant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="param in objNewButtonCustomAttr.ParameterCollection" ng-click="objNewButtonCustomAttr.SelectParameter(param)"
                                    ng-class="objNewButtonCustomAttr.SelectedParameter == param?'selected':''">
                                    <td width="40%"><input type="text" class="form-control input-sm" title="{{param.ParameterField}}" ng-model="param.ParameterField" /></td>
                                    <td width="40%"><input type="text" class="form-control input-sm" title="{{param.ParameterValue}}" ng-model="param.ParameterValue" /></td>
                                    <td width="20%"><input type="checkbox" ng-model="param.Constants" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

