<div class="full-height">
    <!--<div class="popup-secondary-head"> Browse for Query <div class="ngdialog-close"></div></div>-->
    <div class="portlet-body overflow-hidden">
        <ul class="nav nav-tabs ">
            <li class="active" ng-click="setActiveTab('MAP')">
                <a data-toggle="tab" aria-expanded="true">
                    Map Controls
                </a>
            </li>
            <!--<li ng-click="setActiveTab('MAPPED')">
                <a data-toggle="tab" aria-expanded="false">
                    Mapped Controls
                </a>
            </li>-->
            <li ng-click="setActiveTab('REMOVED')" ng-show="activeTab=='REMOVED' && RemovedControls.length > 0">
                <a data-toggle="tab" aria-expanded="false">
                    Removed Controls
                </a>
            </li>
            <li ng-click="setActiveTab('IGNORE')" ng-show="activeTab=='IGNORE' && IgnoredControls.length > 0">
                <a data-toggle="tab" aria-expanded="false">
                    Ignore Controls
                </a>
            </li>
            <li ng-click="setActiveTab('INVALID')" ng-show="activeTab=='INVALID' && InvalidControls.length > 0">
                <a data-toggle="tab" aria-expanded="false">
                    Invalid Controls
                </a>
            </li>
        </ul>
        <div class="tab-content control-mapping-table">
            <div ng-show="activeTab=='MAP'" class="full-height">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Control ID</th>
                                <th>Html Control Type</th>
                                <th>Control Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="cntrl in MapControls">
                                <td><span ng-bind="cntrl.ControlID"></span></td>
                                <td><span ng-bind="cntrl.HtmlControlType"></span></td>
                                <td>
                                    <select class="form-control form-filter input-sm" ng-options="x for x in ControlTypes" undoredodirective model='cntrl'
                                            title="{{cntrl.ControlType}}" ng-model="cntrl.ControlType"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div ng-show="activeTab=='MAPPED'" class="full-height">
                <div class="table-scrollable" ng-if="isMappedControlClick && activeTab=='MAPPED'">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Control ID</th>
                                <th>Html Control Type</th>
                                <th>Control Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="cntrl in MappedControls">
                                <td><span ng-bind="cntrl.ControlID"></span></td>
                                <td><span ng-bind="cntrl.HtmlControlType"></span></td>
                                <td><span ng-bind="cntrl.ControlType"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->
            <div ng-show="activeTab=='REMOVED' && RemovedControls.length > 0" class="full-height">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Control ID</th>
                                <th>Html Control Type</th>
                                <th>Control Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="cntrl in RemovedControls">
                                <td><span ng-bind="cntrl.ControlID"></span></td>
                                <td><span ng-bind="cntrl.HtmlControlType"></span></td>
                                <td><span ng-bind="cntrl.ControlType"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="activeTab=='IGNORE' && IgnoredControls.length > 0" class="full-height">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Control ID</th>
                                <th>Html Control Type</th>
                                <th>Control Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="cntrl in IgnoredControls">
                                <td><span ng-bind="cntrl.ControlID"></span></td>
                                <td><span ng-bind="cntrl.HtmlControlType"></span></td>
                                <td><span ng-bind="cntrl.ControlType"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="activeTab=='INVALID' && InvalidControls.length > 0" class="full-height">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Control ID</th>
                                <th>Html Control Type</th>
                                <th>Control Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="cntrl in InvalidControls">
                                <td><span ng-bind="cntrl.ControlID"></span></td>
                                <td><span ng-bind="cntrl.HtmlControlType"></span></td>
                                <td><span ng-bind="cntrl.ControlType"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="col-xs-8 text-left">
            <span class="pull-left" ng-bind="ErrorMessageForDisplay"></span>
        </div>
        <div class="col-xs-4">
            <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOKClick()" />
            <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeDialog()" />
        </div>
    </div>
</div>
