<div class="portlet-body">
    <input type="text" class="form-control placeholder input-sm" placeholder="Search Here..." ng-model="searchColumnsForCollection" />
    <ul style="list-style:none;height:500px;">
        <li ng-repeat="obj in lstEntityFieldsCollection" ng-show="obj.ID && obj.ID.toLowerCase().indexOf(searchColumnsForCollection.toLowerCase()) > -1">
            <input type="checkbox" ng-model="obj.IsSelected" ng-checked="obj.IsSelected" />
            {{obj.ID}}
        </li>
    </ul>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="Select All" ng-click="SelectAllEntityFields()" />
    <input type="button" class="dialog-btn" value="Clear All" ng-click="ClearAllEntityFields()" />
    <input type="button" class="dialog-btn" value="OK" ng-click="OnOKClickEntityFields()" />
    <input type="button" class="dialog-btn" value="Cancel" ng-click="OnCloseClickEntityFields()" />
</div>