.mainWrapper .dashboard-outerWrapper {
    height: 100%;
    background-color: #dedede;
}

.dashboard-Wrapper {
    padding: 10px 0;
}

.dashboard-left-lg-child {
    margin-bottom: 10px;
    padding: 0;
}

.dashboard-left-lg-child-md-child {
    height: calc(55% - 10px);
    background-color: white;
    position: relative;
}

.dashboard-left-lg-child-md-xs-child {
    height: 45%;
}

.dashboard-left-lg-child-md-xs-xs-child {
    background-color: white;
    height: 100%;
    position: relative;
    padding: 10px;
}

.dashboard-right-lg-child {
    background-color: white;
    height: 100%;
    padding: 10px;
    position: relative;
    margin-right: 10px;
}

.dashboard-panel-text {
    padding: 5px;
    color: #333;
    width: 100%;
    font-size: 14px !important;
    font-family: Lato-Bold;
    background: #FFF;
    height: 30px;
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ff9900;
    margin-left: 1%;
    width: 98%;
}

.dashboard-panel-header {
    width: 100%;
    float: left;
    background: #FFFFFF;
}



.dashboard-files-list {
    list-style: none;
    height: 95%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

.dashboard-files-list-item {
    padding: 5px;
    font-size: 12px;
    float: left;
    width: 100%;
    position: relative;
    background: #f6f5eb;
    margin-bottom: 2px;
    position: relative;
}

    .dashboard-files-list-item span {
        cursor: pointer;
        float: left;
    }

.dashboard-files-list-item-border-left {
    border-left: 3px solid #dab45f;
}

.dashboard-list-item-readmore-btn {
    color: #dab45f;
    font-size: 12px;
}

#TfsChart {
    height: 92%;
}

.bar:hover {
    fill: steelblue;
}

.axis line, .axis path {
    fill: none;
    stroke: black;
}

.tick text {
    font-size: 12px;
}

.x.axis .tick text {
    -ms-transform: translate(0px,2px) rotate(-12deg);
    -webkit-transform: translate(0px,2px) rotate(-12deg);
    -moz-transform: translate(0px,2px) rotate(-12deg);
    transform: translate(0px,2px) rotate(-12deg);
}

.tick line {
    opacity: 0.2;
    stroke-width: 1px;
}

.home-openFileListCount {
    position: absolute;
    top: 6px;
    right: -7px;
    background-color: #dde375;
    padding: 0px;
    color: #111;
    border-radius: 12px !important;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 9px;
    vertical-align: middle;
    text-shadow: none !important;
    line-height: 18px;
    font-family: Lato-Bold;
}


/*==== file type icon fonts ========================*/

/*.home-fileType-icon {
    position: absolute;
}*/

.home-fileType-icon:before {
    content: "";
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: relative;
    left: 2px;
    top: 2px;
    background-position: center;
}

.home-fileType-Entity-icon:before {
    /*background-image: url('../images/Home/small_filetype/Entity.png');*/
    background-color: #219ae7;
}

.home-fileType-DecisionTable-icon:before {
    /*background-image: url('../images/Home/small_filetype/decision_table..png');*/
    background-color: #5E78CD;
}

.home-fileType-LogicalRule-icon:before {
    /*background-image: url('../images/Home/small_filetype/logical_rule.png');*/
    background-color: #294ec7;
}

.home-fileType-ExcelMatrix-icon:before {
    /*background-image: url('../images/Home/small_filetype/Excel_matrix.png');*/
    background-color: #30437E;
}

.home-fileType-ExcelScenario-icon:before {
    /*background-image: url('../images/Home/small_filetype/excel-based-scneario.png');*/
    background-color: #763555;
}

.home-fileType-ObjectScenario-icon:before {
    /*background-image: url('../images/Home/small_filetype/object-based-scenario.png');*/
    background-color: #421D2F;
}

.home-fileType-ParameterScenario-icon:before {
    /*background-image: url('../images/Home/small_filetype/Entity-Based-Scenario.png');*/
    background-color: #662A48;
}

.home-fileType-Lookup-icon:before {
    /*background-image: url('../images/Home/small_filetype/Lookup.png');*/
    background-color: #CD6E1F;
}

.home-fileType-Maintenance-icon:before {
    /*background-image: url('../images/Home/small_filetype/Maintenance.png');*/
    background-color: #e77b21;
}

.home-fileType-Wizard-icon:before {
    /*background-image: url('../images/Home/small_filetype/Wizard.png');*/
    background-color: #EE9F5D;
}

.home-fileType-UserControl-icon:before {
    /*background-image: url('../images/Home/small_filetype/Lookup.png');*/
    background-color: #f7caa5;
}

.home-fileType-Tooltip-icon:before {
    background-color: #e0ab7f;
}

.home-fileType-Prototype-icon:before {
    background-color: #ef6000;
}

.home-fileType-FormLinkLookup-icon:before {
    /*background-image: url('../images/Home/small_filetype/Html_lookup.png');*/
    background-color: #1FA28E;
}

.home-fileType-FormLinkMaintenance-icon:before {
    /*background-image: url('../images/Home/small_filetype/html_Maintenance.png');*/
    background-color: #25bba4;
}

.home-fileType-FormLinkWizard-icon:before {
    /*background-image: url('../images/Home/small_filetype/Html_wizard.png');*/
    background-color: #34E0C6;
}

.home-fileType-Report-icon:before {
    /*background-image: url('../images/Home/small_filetype/Report.png');*/
    background-color: #366657;
}

.home-fileType-InboundFile-icon:before {
    /*background-image: url('../images/Home/small_filetype/Inbound_file.png');*/
    background-color: #6d2d80;
}


.home-fileType-OutboundFile-icon:before {
    /*background-image: url('../images/Home/small_filetype/outbound.png');*/
    background-color: #6A5870;
}

.home-fileType-Correspondence-icon:before {
    /*background-image: url('../images/Home/small_filetype/correspondence.png');*/
    background-color: #004C63;
}

.home-fileType-PDFCorrespondence-icon:before {
    /*background-image: url('../images/Home/small_filetype/pdfcorrespondance.png');*/
    background-color: #136B85;
}

.home-fileType-BPMN-icon:before {
    /*background-image: url('../images/Home/small_filetype/bpm.png');*/
    background-color: #149398;
}

.home-fileType-BPMTemplate-icon:before {
    /*background-image: url('../images/Home/small_filetype/.png');*/
    background-color: #107074;
}

.home-fileType-RuleConstants-icon:before, .home-fileType-CustomSettings-icon:before, .home-fileType-ProjectConfiguration-icon:before, .home-fileType-AuditLog-icon:before, .home-fileType-default-icon:before {
    /*background-image: url('../images/Home/small_filetype/default_list_item.png');*/
    background-color: #463D3D;
}


.home-fileType-WorkflowMap-icon:before {
    /*background-image: url('../images/Home/small_filetype/bpm.png');*/
    background-color: #149398;
}

.home-tfsState-icon:before {
    content: "";
    display: block;
    float: left;
    height: 18px;
    margin-top: 3px;
    margin-right: 8px;
    width: 18px;
    background-repeat: no-repeat;
}

.home-tfsState-InAdd-icon:before {
    background-image: url('../images/Home/tfs-add-icon.png');
}

.home-tfsState-InEdit-icon:before {
    background-image: url('../images/Home/tfs-checkedout-icon.png');
}

.home-tfsState-LocalWithoutChange-icon:before {
    background-image: url('../images/Home/tfs-lock-icon.png');
}

.home-tfsState-OnlyLocal-icon:before {
    background-image: url('../images/Home/tfs-onlyLocal-icon.svg');
}
/*==== file type icon fonts ========================*/

/*==== initial project load animation ========================*/

.cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1000000;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.cs-loader-inner {
    font-size: 15px;
    width: 1em;
    height: 1em;
    margin: 100px auto;
    position: relative;
    top: 15%;
}

    .cs-loader-inner.cs-loader-xs {
        margin: 0px;
        width: 40px;
        height: 60px;
        font-size: 5px;
    }

.cs-loader-text {
    font-size: 20px;
    font-family: cursive;
    color: #ef9d3e;
    font-weight: bold;
    /* width: 100%; */
    text-align: center;
    /* margin: 100px auto; */
    position: relative;
    top: 10%;
}

.cs-loader-text-error {
    font-size: 20px;
    font-family: cursive;
    color: #ef9d3e;
    text-align: center;
}

.cs-loader-text-error-btn {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.cs-loader-inner label {
    width: 60px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    font-size: 10px;
    height: 60px;
    position: absolute;
    color: #ef9d3e;
    animation: lol 6.96s infinite;
    -o-animation: lol 6.96s infinite;
    -ms-animation: lol 6.96s infinite;
    -webkit-animation: lol 6.96s infinite;
}

.fa-thumb-tack-unpin {
    transform: rotate(90deg);
}

    .fa-thumb-tack-unpin:before {
        content: "\f08d";
    }

@keyframes lol {
    0% {
        opacity: 1;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 1;
        -webkit-transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        animation-timing-function: linear;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        animation-timing-function: linear;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        animation-timing-function: ease-out;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        animation-timing-function: ease-out;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

.cs-loader-inner label:nth-child(6) {
    animation-delay: 1.53s;
    -o-animation-delay: 1.53s;
    -ms-animation-delay: 1.53s;
    -webkit-animation-delay: 1.53s;
    -moz-animation-delay: 1.53s;
}

.cs-loader-inner label:nth-child(5) {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}

.cs-loader-inner label:nth-child(4) {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.cs-loader-inner label:nth-child(3) {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.cs-loader-inner label:nth-child(2) {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.cs-loader-inner label:nth-child(1) {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.btn-search-popup {
    padding: 3px 12px;
    background: url(../images/Home/icon-search-dark.png) no-repeat scroll center center #FFF !important;
    min-height: 28px;
    transition: .2s all ease-in-out;
    border-color: #CCCCCC !important;
}

    .btn-search-popup:hover {
        background: url(../images/Home/icon-search.png) no-repeat scroll center center #333333 !important;
    }

.btn-search-multiple-popup {
    padding: 3px 12px;
    background-color: #CECECE !important;
    background: url(../images/Common/icon_add_dark.svg) no-repeat scroll center center #CECECE !important;
    min-height: 28px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid black;
}

.slice path {
    stroke: #fff;
    stroke-width: 1px;
}

.textTop {
    font-family: 'Segoe UI';
    font-size: 12pt;
    fill: #bbb;
}

.textBottom {
    fill: #444;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 18pt;
}

.top {
    border: 1px solid #bbb;
    color: #777;
    font-family: 'Segoe UI';
    padding: 5px;
    text-decoration: none;
}

    .top:hover {
        border: 1px solid #555;
        color: #333;
    }
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.tooltipWrapper {
    position: relative;
}

.recent-files-icon {
    width: 20px;
}

.recent-files-link {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 45px);
    font-size: 12px;
}


.dashboard-panel-content {
    height: 100%;
    border-top: 0px;
    background: #FFFFFF;
    padding: 10px;
    float: left;
    width: 100%;
}

.dashboard-recent-files-content {
    padding: 2px !important;
}

.legendWrapper {
    box-shadow: 0 0 8px 8px #e5e5e5 inset;
    /*margin: 30px 0px 0;*/
    padding: 10px;
    width: 32%;
    /* border: 2px solid #e5e5e5; */
    float: left;
}

.legendheader {
    width: 100%;
    float: left;
    font-family: Lato-Bold;
    font-size: 13px;
    border-bottom: 2px solid #bfbfbf;
    margin: 5px 0;
}

.dropdown-menu li > a:hover {
    background-color: none !important;
}

.file-type-wrapper {
    height: 92%;
    display: flex;
    align-items: center;
}

.upper-menu-bottom .create-new-file-list .home-fileType-icon {
    padding-left: 15px !important;
}

.upper-menu-bottom .create-new-file-list li {
    padding: 8px 10px;
    color: #555555;
}


.dashboard-files-list-item p {
    font-family: Lato-Bold;
}


.dashboard-list-item-readmore-btn {
    font-family: Lato-Bold;
    ;
}

.create-new-file-list li {
    position: relative;
}


.create-new-file-list .home-fileType-icon::before {
    left: 8px !important;
    top: 9px !important;
    position: absolute !important;
}


.s3-table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.s3-table-head {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    display: table;
    table-layout: fixed;
}

.s3-table-body {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.s3-table-row {
    display: table-row;
}

.s3-table-body .s3-table-row {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.s3-table-cell {
    display: table-cell;
    word-wrap: break-word;
}

.table-container {
    border: 1px solid black;
}

.s3-table {
    border: 1px solid lightgrey;
}

    .s3-table .s3-table-cell, .s3-table .s3-table-head {
        padding: 0.3em;
        border: 1px solid lightgrey;
    }

@-webkit-keyframes flyRight {
    25% {
        left: 25%;
        width: 45px;
        height: 45px;
    }

    50% {
        left: 50%;
        width: 40px;
        height: 40px;
    }

    75% {
        left: 75%;
        width: 35px;
        height: 35px;
    }

    100% {
        left: 97%;
    }
}

@-moz-keyframes flyRight {
    25% {
        left: 25%;
        width: 45px;
        height: 45px;
    }

    50% {
        left: 50%;
        width: 40px;
        height: 40px;
    }

    75% {
        left: 75%;
        width: 35px;
        height: 35px;
    }

    100% {
        left: 97%;
    }
}

@-ms-keyframes flyRight {
    25% {
        left: 25%;
        width: 45px;
        height: 45px;
    }

    50% {
        left: 50%;
        width: 40px;
        height: 40px;
    }

    75% {
        left: 75%;
        width: 35px;
        height: 35px;
    }

    100% {
        left: 97%;
    }
}

@keyframes flyRight {
    25% {
        left: 25%;
        width: 45px;
        height: 45px;
    }

    50% {
        left: 50%;
        width: 40px;
        height: 40px;
    }

    75% {
        left: 75%;
        width: 35px;
        height: 35px;
    }

    100% {
        left: 97%;
    }
}

.findReferences-floating-btn {
    position: absolute;
    left: 200px;
    width: 50px;
    top: 25%;
    height: 50px;
    background-size: contain;
    background-image: url("../images/Common/find-query-reference.svg");
    background-repeat: no-repeat;
    z-index: 19999;
    -webkit-animation: flyRight 0.75s ease-in-out 0s forwards;
    -moz-animation: flyRight 0.75s ease-in-out 0s forwards;
    -ms-animation: flyRight 0.75s ease-in-out 0s forwards;
    -o-animation: flyRight 0.75s ease-in-out 0s forwards;
    animation: flyRight 0.75s ease-in-out 0s forwards;
}

/*.findReferences-floating-btn:hover {   
   transform: scale(1.5);
}*/

.find-reference-popover .popover-content {
    /*width: 550px;*/
    background-color: #fff;
    box-shadow: 5px 8px 20px 0px;
}

.find-reference-popover .content-width {
    width: 550px;
}

.find-reference-popover.right .arrow {
    top: 15px;
}

.floating-reference-box {
    position: absolute;
    right: -550px;
    padding: 10px;
    width: 550px;
    top: 25%;
    background-color: #fff;
    box-shadow: 5px 8px 20px 0px;
    display: none;
}


    .floating-reference-box.showref {
        display: block;
        -webkit-animation: flyLeft .3s linear 0s forwards;
        -moz-animation: flyLeft .3s linear 0s forwards;
        -ms-animation: flyLeft .3s linear 0s forwards;
        -o-animation: flyLeft .3s linear 0s forwards;
        animation: flyLeft .3s linear 0s forwards;
    }

.find-reference-popover .fa-times-circle-o {
    font-size: 2em;
    right: -25px;
    top: -25px;
    position: absolute;
}

.findReferences-floating-btn > .fa-times-circle-o {
    font-size: 1.5em;
    right: 5px;
    top: -10px;
    position: absolute;
}

.findReferences-floating-btn .fa-minus-circle {
    font-size: 1.5em;
    left: -10px;
    top: -15px;
    position: absolute;
}

find-referencebox ul {
    max-height: 200px;
    overflow: auto;
}

    find-referencebox ul li {
        display: block;
        width: 100% !important;
        float: left;
    }

/*find-referencebox li:hover {
    box-shadow: 5px 8px 20px 0px;
}*/

@-webkit-keyframes flyLeft {
    50% {
        right: 72px;
    }

    100% {
        right: 50px;
    }
}

@-moz-keyframes flyLeft {
    50% {
        right: 62px;
    }

    100% {
        right: 50px;
    }
}

@-ms-keyframes flyLeft {
    50% {
        right: 62px;
    }

    100% {
        right: 50px;
    }
}

@keyframes flyLeft {
    50% {
        right: 72px;
    }

    100% {
        right: 50px;
    }
}


.home-fileType-icons {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-top: 2px;
}

.home-fileType-staticrule-icons {
    height: 17px;
    width: 16px;
    margin-right: 5px;
    margin-top: 2px;
}

.filetype-icons:before {
    content: "";
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    /* left: 10px; */
    margin-left: 10px;
    top: 10px;
    background-position: center;
}

/*====================form type icons===========================*/

.home-filetype-Lookup {
    background-image: url('../images/Home/FileTypeIcon/Lookup.svg');
    background-repeat: no-repeat;
}

.home-filetype-Maintenance {
    background-image: url('../images/Home/FileTypeIcon/Maintenance.svg');
    background-repeat: no-repeat;
}

.home-filetype-Wizard {
    background-image: url('../images/Home/FileTypeIcon/Wizard.svg');
    background-repeat: no-repeat;
}

.home-filetype-Tooltip {
    background-image: url('../images/Home/FileTypeIcon/Tooltip.svg');
    background-repeat: no-repeat;
}

.home-filetype-UserControl {
    background-image: url('../images/Home/FileTypeIcon/UserControl.svg');
    background-repeat: no-repeat;
}

.home-filetype-PrototypeLookup {
    background-image: url('../images/Home/FileTypeIcon/PrototypeLookup.svg');
    background-repeat: no-repeat;
}

.home-filetype-PrototypeMaintenance {
    background-image: url('../images/Home/FileTypeIcon/PrototypeMaintenance.svg');
    background-repeat: no-repeat;
}

.home-filetype-PrototypeWizard {
    background-image: url('../images/Home/FileTypeIcon/PrototypeWizard.svg');
    background-repeat: no-repeat;
}

.home-filetype-Lookup-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/Lookup.svg');
    background-repeat: no-repeat;
}

.home-filetype-Maintenance-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/Maintenance.svg');
    background-repeat: no-repeat;
}

.home-filetype-Wizard-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/Wizard.svg');
    background-repeat: no-repeat;
}

.home-filetype-Tooltip-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/Tooltip.svg');
    background-repeat: no-repeat;
}

.home-filetype-UserControl-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/usercontrol.svg');
    background-repeat: no-repeat;
}

.home-filetype-PrototypeLookup-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/prototypelookup.svg');
    background-repeat: no-repeat;
}

.home-filetype-PrototypeMaintenance-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/PrototypeMaintenance.svg');
    background-repeat: no-repeat;
}

.home-filetype-PrototypeWizard-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/PrototypeWizard.svg');
    background-repeat: no-repeat;
}

/*====================form type icons===========================*/

.home-filetype-BPMN {
    background-image: url('../images/Home/FileTypeIcon/BPMN.svg');
    background-repeat: no-repeat;
}

.home-filetype-WorkflowMap {
    background-image: url('../images/Home/FileTypeIcon/BPMN.svg');
    background-repeat: no-repeat;
}

.home-filetype-BPMTemplate {
    background-image: url('../images/Home/FileTypeIcon/BPMN.svg');
    background-repeat: no-repeat;
}

/*====================Correspondence type icons===========================*/

.home-filetype-Correspondence {
    background-image: url('../images/Home/FileTypeIcon/Correspondense.svg');
    background-repeat: no-repeat;
}

.home-filetype-Correspondence-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/Correspondense.svg');
    background-repeat: no-repeat;
}

/*====================Correspondence type icons===========================*/

.home-filetype-InboundFile {
    background-image: url('../images/Home/FileTypeIcon/Inbound.svg');
    background-repeat: no-repeat;
}

.home-filetype-OutboundFile {
    background-image: url('../images/Home/FileTypeIcon/Outbound.svg');
    background-repeat: no-repeat;
}

/*====================Htx Forms type icons===========================*/

.home-filetype-FormLinkLookup {
    background-image: url('../images/Home/FileTypeIcon/FormLinkLookup.svg');
}

.home-filetype-FormLinkMaintenance {
    background-image: url('../images/Home/FileTypeIcon/FormLinkMaintenance.svg');
    background-repeat: no-repeat;
}

.home-filetype-FormLinkWizard {
    background-image: url('../images/Home/FileTypeIcon/FormLinkWizard.svg');
    background-repeat: no-repeat;
}

.home-filetype-FormLinkLookup-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/FormLinkLookup.svg');
}

.home-filetype-FormLinkMaintenance-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/FormLinkMaintenance.svg');
    background-repeat: no-repeat;
}

.home-filetype-FormLinkWizard-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/FormLinkWizard.svg');
    background-repeat: no-repeat;
}

/*====================Htx Forms type icons===========================*/

.home-filetype-Report {
    background-image: url('../images/Home/FileTypeIcon/Report.svg');
    background-repeat: no-repeat;
}

.home-filetype-Entity {
    background-image: url('../images/Home/FileTypeIcon/Entity.svg');
    background-repeat: no-repeat;
}

/*====================Rule type icons===========================*/

.home-filetype-LogicalRule {
    background-image: url('../images/Home/FileTypeIcon/LogicalRule.svg');
    background-repeat: no-repeat;
}

.home-filetype-DecisionTable {
    background-image: url('../images/Home/FileTypeIcon/DecisionTable.svg');
    background-repeat: no-repeat;
}

.home-filetype-ExcelMatrix {
    background-image: url('../images/Home/FileTypeIcon/ExcelMatrix.svg');
    background-repeat: no-repeat;
}

.home-filetype-StaticLogicalRule {
    background-image: url('../images/Home/FileTypeIcon/StaticLogicalRule.svg');
    background-repeat: no-repeat;
}

.home-filetype-StaticDecisionTable {
    background-image: url('../images/Home/FileTypeIcon/StaticDecisionTable.svg');
    background-repeat: no-repeat;
}

.home-filetype-StaticExcelMatrix {
    background-image: url('../images/Home/FileTypeIcon/StaticExcelMatrix.svg');
    background-repeat: no-repeat;
}

.home-filetype-LogicalRule-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/LogicalRule.svg');
    background-repeat: no-repeat;
}

.home-filetype-LogicalRule-static-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/StaticLogicalrule.svg');
    background-repeat: no-repeat;
}

.home-filetype-DecisionTable-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/DecisionTable.svg');
    background-repeat: no-repeat;
}

.home-filetype-DecisionTable-static-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/StaticDecisiontable.svg');
    background-repeat: no-repeat;
}

.home-filetype-ExcelMatrix-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/ExcelMatrix.svg');
    background-repeat: no-repeat;
}

.home-filetype-ExcelMatrix-static-black:before {
    background-image: url('../images/Home/FileTypeIcon_black/StaticExcelMatrix.svg');
    background-repeat: no-repeat;
}

/*====================Rule type icons===========================*/

.home-filetype-ParameterScenario {
    background-image: url('../images/Home/FileTypeIcon/EntityBasedScenario.svg');
    background-repeat: no-repeat;
}

.home-filetype-ObjectScenario {
    background-image: url('../images/Home/FileTypeIcon/ObjectBasedScenario.svg');
    background-repeat: no-repeat;
}

.home-filetype-ExcelScenario {
    background-image: url('../images/Home/FileTypeIcon/ExcelBasedScenario.svg');
    background-repeat: no-repeat;
}

.home-filetype-WorkflowMap {
    background-image: url('../images/Home/FileTypeIcon/BPMN.svg');
    background-repeat: no-repeat;
}

/*========================================================================*/

.ERDiagram-wrapper {
    background-color: #434a55;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-family: Monaco, monospace;
}

    .ERDiagram-wrapper .node rect {
        cursor: move;
        shape-rendering: crispEdges;
    }

    .ERDiagram-wrapper .node text {
        pointer-events: none;
        /*text-shadow: 1px 1px 2px #fff;*/
        font-size: 0.9em;
        font-family: sans-serif;
    }

    .ERDiagram-wrapper #tooltip {
        position: absolute;
        pointer-events: none;
        font-size: 0.7em;
        font-family: sans-serif;
        padding: 3px;
        width: auto;
        height: auto;
        background-color: #F2F2F2;
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        -mox-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 5px rbga(0, 0, 0, 0.4);
        pointer-events: none;
    }

    .ERDiagram-wrapper .value {
        white-space: pre-line;
        margin: 0;
    }

    .ERDiagram-wrapper .node .node-name {
        font-size: 1em;
        fill: #FFFFFF;
        font-family: inherit;
    }

    .ERDiagram-wrapper .Highlight-color-block-titles {
        width: 140px;
        height: 50px;
        background: rgba(255,255,255,0.8);
        position: absolute;
        top: 115px;
        left: 20px;
        color: #000000;
    }

        .ERDiagram-wrapper .Highlight-color-block-titles label:before {
            content: "";
            display: block;
            float: left;
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-color: attr(color);
            position: relative;
            left: 2px;
            top: 2px;
            background-position: center;
        }

.cursor-on-hover {
    cursor: pointer !important;
}
