.login-bg {
    background-color:#bfbfbf;
}
.login-holder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 450px;
    margin-top: 10%;
    background: #FFF;
    padding: 40px;
    box-shadow: 0px 0px 30px 10px #999;
}


.login-content {
    width: 100%;
    float: left;
    padding-top:20px;
}


.login-logo {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    color:orange;
}

.login-caption {
    width: 100%;
    float: left;
    font-size: 16px;
    padding-bottom: 5px;
}
.login-input-wrapper {
    width: 260px;
    margin: 0px auto;
}

.login-textbox {
    width: 100%;
    float: left;
    padding: 2px !important;
    box-sizing: border-box;
}


.login-btn {
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #c9c9c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#c9c9c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e5e5 0%,#c9c9c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #5a5a5a;
    padding: 5px 20px !important;
    border-radius: 0px !important;
    color: #333333 !important;
    margin-left: 0px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}
.loading-blocker {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #333;
    opacity: 0.7;
    z-index: 20000000;
}

    .loading-blocker img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80px;
        opacity: 1;
    }

    .loading-blocker div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: auto;
        height: auto;
        border: 1px solid red;
        color: red;
        padding: 10px;
        opacity: 1;
        background-color: white;
    }


  .login-username, .login-password {
    border: 0 !important;
    border-bottom: 2px solid #bfbfbf !important;
    width: calc(100% - 30px);
    float: right;
    transition:.5s all ease-in-out;
    font-size:14px;
}

  .login-username:focus, .login-password:focus
  {
      border-bottom-color:#e77b21 !important;
     
  }

    .login-username-icon
    {
       display:block;
       float:left;
       width:25px;
       height:25px;
      background:url('../images/Home/login-username.png') no-repeat center;
    }

    .login-password-icon
    {
        display:block;
       float:left;
       width:25px;
       height:25px;
        background:url('../images/Home/login-password.png') no-repeat left center;
    }


    .login-content .form-group
    {
        margin-bottom:30px !important;
    }


.login-content ::-webkit-input-placeholder  {
  color:#676767 !important;
  font-style:normal;
  font-size:14px;
}

.login-content :-ms-input-placeholder
 {
  color:#676767 !important;
  font-style:normal;
  font-size:14px;
}






.login-content .form-actions
{
    text-align:right;
}

.btn.login-submit
{
    background:#e77b21;
    color:#FFFFFF;
    border:2px solid #e77b21;
     transition:.3s all ease-in-out;

}

.btn.login-submit:hover
{
    background:#FFFFFF;
   color:#e77b21;

}


.btn.forgot-password
{
    background:#FFFFFF;
   color:#e77b21;
   border:2px solid #e77b21;

}

.btn.forgot-password:hover
{
     background:#e77b21;
     color:#FFFFFF;
     transition:.3s all ease-in-out;
}
.show-login-password {
    background: transparent !important;
    min-width: 39px;
    border: 0;
    border-bottom: 2px solid #bfbfbf !important;
}

.login-password, .login-username {
    height:34px !important;
}


input[type=password]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.userinfo-table {
   height: 83vh;
   overflow: auto;
}
.col-user-left {
    padding-left: 0px;
    margin-left: -12px
}
.col-user-right {
    padding-right: 0;
    margin-right: 12px
}