<div draggable="true" customdraggable dragdata=[parentModel.dictAttributes.sfwNodeID,model.dictAttributes.sfwNodeID] class="node" ng-class="getCssClass(model)" ng-mousedown="onStepSelectChange(model)" context-menu="menuOptions">
    <div class="node-header-container node-header-block {{::model.Name}}-node-icon" logical-rule-editable contenteditable="false" content-editable ng-model="model.dictAttributes.Text" placeholder="Description" description-keydown="onDescriptionKeyDown($event)" model="model"></div>
</div>
