/*html, body, #container { min-height: 91%; height: 91%;}*/
html, body
	{
		font:normal 12px cambria !important;
		height:100%;
		padding:0px;
		margin:0px;
	}
a
	{
		text-decoration:none;
	}
img
	{
		border:none;
	}
#container
	{
		width:100%;
	}
/* Begin: Login Part Styles */
#wrap
	{
		width:550px;
		height:100%;
		margin:0 auto;
		position:relative;
	}	
#loginboxBg
	{
		top:25%;
		left:23%;
		width:751px;
		height:357px;
		margin-top:-70px;
		text-align:center;
		position:absolute;
		margin-left:-230px;
		padding:0px 0px 0px 0px;
	}
#loginAuthenticationBoxBg
	{
		top:15%;
		left:23%;
		width:751px;
		/*height:357px;*/
		margin-top:-74px;
		text-align:center;
		position:absolute;
		margin-left:-230px;
		padding:0px 0px 0px 0px;
	}
#loginAuthenticationBoxDescBg
	{
		top:15%;
		left:23%;
		width:751px;
		height:490px;
		margin-top:-74px;
		text-align:center;
		position:absolute;
		margin-left:-230px;
		padding:0px 0px 0px 0px;
	}
.loginAuthenticationBoxBgBtm
	{
		top:692px;
		width:751px;
		height:30px;
		margin-left:-100px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginAuthenticationTermsBoxBgBtm
	{
		top:685px;
		width:751px;
		height:30px;
		margin-left:342px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginAuthenticationImgBoxDescBgBtm
	{
		top:525px;
		width:751px;
		height:30px;
		margin-left:342px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginAuthenticationImgBoxBgBtm
	{
		top:685px;
		width:751px;
		height:30px;
		margin-left:342px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginQABoxBgBtm
	{
		top:402px;
		top:393px\9;
		width:751px;
		height:30px;
		margin-left:342px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
	@-moz-document url-prefix()
    {
        .loginQABoxBgBtm {top:398px; }
    }

.loginAuthenticatBoxBgBtm
	{
		top:357px;
		width:751px;
		height:30px;
		margin-left:0px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginAuthenticatConfirmBoxBgBtm
	{
		top:357px;
		width:751px;
		height:30px;
		margin-left:0px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginPWDBoxBgBtm
	{
		top:542px;
		width:751px;
		height:30px;
		margin-left:-100px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.loginChangePWDBoxBgBtm
	{
		top:535px;
		width:751px;
		height:30px;
		margin-left:342px;
		position:absolute;
		padding:0px 0px 0px 0px;
	}
.Login_Logo
	{
		float:left;
		width:152px;
		height:58px;
		margin:55px 0px 0px 25px;
	}
.loginRibbon { float:left; width:1440px; height:235px; margin-left:-445px; *margin-left:-456px; }

.loginLeft { float:left; width:300px; }	
.loginLogo { width:265px; height:269px; display:inline-block; margin:35px 0px 0px 10px; }
.loginRight { float:right; width:375px; min-height:357px; padding-right:25px; }
.loginAuthenticationRight { float:right; width:375px; min-height:357px; padding-right:75px; }
.loginPWDRight { float:right; width:420px; min-height:357px; padding-right:25px; }
.loginRight P { width:335px; text-align:justify; margin:12px 0px 0px -40px; line-height:18px; font:normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.loginEssText { width:252px; height:42px; margin:36px 0px 0px 13px; *margin:36px 0px 0px 53px; }
.loginPhraseText { width:416px; height:42px; margin:36px 0px 0px -20px; *margin:36px 0px 0px -20px; }
.loginEssInstructionText { width:301px; height:42px; margin:15px 0px 10px 70px; *margin:36px 0px 0px 53px; }
.loginEssTermsText { width:259px; height:42px; margin:15px 0px 10px 82px; *margin:36px 0px 0px 53px; }
.loginEssChangePWDText { width:356px; height:42px; margin:15px 0px 10px 0px; *margin:36px 0px 0px 0px; }
.loginTxt
	{
		font-size:14px;
		font-weight:bold;
		padding:20px 15px 0px 25px;
	}
.loginPhraseTxt
	{
	    text-align:left;
		font-size:14px;
		font-weight:bold;
		display:inline-block;
		padding:0px 55px 0px 0px;
	}
.loginAsteriskTxt
	{
	    text-align:left;
		font-size:14px;
		font-weight:bold;
		padding:20px 0px 0px 0px;
	}
.loginPhraseResultTxt
	{
	    text-align:left;
		font-size:14px;
		font-weight:bold;
		padding:20px 0px 0px 0px;
	}
.loginInstructionTxt
	{
		font-size:14px;
		font-weight:bold;
		position:absolute;
		margin:25px 0px 0px -303px;
		padding:20px 15px 0px 25px;
	}
.loginSelectContactTxt
	{
		width:358px;
		font-size:14px;
		text-align:left;
		font-weight:bold;
		display:inline-block;
		padding:10px 15px 0px 0px;
	}
.Logintxtbox
	{
		height:30px;
		*height:24px;
		width:193px;
		font-weight:normal;
		padding:0px 0px 0px 7px;
		*padding:6px 0px 0px 7px;
		margin:22px 17px 0px 0px;
	}
	input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none !important;
    }
.Logintxtboxexternal
	{
		height:30px;
		*height:24px;
		width:200px;
		*width:193px;
		font-weight:normal;
		padding:0px 0px 0px 7px;
		*padding:6px 0px 0px 7px;
		margin:5px 17px 0px 0px;
	}
.loginButtonbg
	{
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		font-weight:bold;
		vertical-align:middle;
		margin:22px 118px 0px 0px !important;
		*margin:22px 117px 0px 0px !important;
	}
.loginContinueButton
	{
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		vertical-align:middle;
		margin:22px 53px 0px 0px !important;
		*margin:22px 52px 0px 0px !important;
	}
.loginSubmitButton
	{
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		margin:12px -305px 0px 0px !important;
		*margin:12px -305px 0px 0px !important;
	}
.loginContinueAuthenticationButton
	{
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		vertical-align:middle;
		margin:22px 0px 0px 0px !important;
		*margin:22px 52px 0px 0px !important;
	}
.loginForgotPWDButton
	{
		width:130px;
		padding:0px;
		height:33px;
		cursor:pointer;
		vertical-align:middle;
	    display:inline-block;
		margin:22px -115px 0px 3px !important;
		*margin:22px 52px 0px 0px !important;
	}
.loginResetButton
	{
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		margin:22px 53px 0px -40px !important;
		*margin:22px 52px 0px -40px !important;
	}
.loginContinueTermsButton
	{
	    float:left;
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		margin:22px 55px 0px 0px !important;
		*margin:22px 52px 0px 0px !important;
	}	
.loginCancelButton
	{
	    float:left;
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		margin:22px 53px 0px -40px !important;
		*margin:22px 52px 0px -40px !important;
	}
.loginChangePWDButton
	{
		width:130px;
		padding:0px;
		height:33px;
		cursor:pointer;
		font-weight:bold;
		vertical-align:middle;
		margin:22px 53px 0px 137px !important;
		*margin:22px 52px 0px 137px !important;
	}
input.loginSelectButtonbg
	{
	    border:none;
	    outline:none;
	}
.loginSelectButtonbg
	{
		width:90px;
		padding:0px;
		height:33px;
		cursor:pointer;
		font-weight:bold;
		vertical-align:middle;
		margin:22px 36px 0px 0px !important;
		*margin:22px 47px 0px 0px !important;
	}
.copytxt
	{	
		display:inline-block;
		padding:100px 60px 10px 60px;
		*padding:80px 60px 10px 60px;
	}
.failureText
    {
        padding:5px 0px 5px 0px;
        display:inline-block;
    }
.loginLookUpButton
	{
		cursor:pointer;
		margin:-8px 0px 0px -12px;
		*margin:20px 0px 0px -15px;
	}
.LoginContent
    {
		font-size:12px;
        text-align:left;
		font-weight:normal;
    }
.LoginContent ul li
    {
        list-style:none;
    } 
.LoginContent ul span
    {
        font-size:14px;
        font-weight:bold;
        text-decoration:underline;
    } 
.LoginContent ul
    {
        padding:0px;
        color:#333333;
        list-style:none;
        text-align:justify;
        margin:5px 0px 10px 42px;
    }
.LoginContent ul li
    {
        margin:0px;
        list-style:none;
        line-height:15px;
        text-align:justify;
        padding:3px 15px 3px 15px;
    }
.loginTxtRight
	{
		width:175px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 0px 0px;
		font:normal 14px "Segoe UI",Verdana,Geneva,sans-serif !important;
	}
.loginQA
	{
		width:435px;
		padding:0px 0px 0px 2px;
	}
.Question
	{
		width:285px;
		font-size:14px;
		font-weight:bold;
		text-align:left;
		display:inline-block;
		padding:0px 0px 5px 2px;
		*padding:5px 0px 0px 2px;
	}
.Answer
	{
		width:140px;
		font-size:14px;
		font-weight:bold;
		text-align:left;
		display:inline-block;
		padding:0px 0px 5px 0px;
	}
.securitySelectBox
	{
		height:27px;
		*height:27px;
		width:275px;
		font-size:13px;
		padding:1px 1px 2px 0px;
	}
.securityTxtBox
	{
		height:23px;
		*height:20px;
		width:150px;
		padding:3px 1px 1px 5px;
		*padding:3px 1px 0px 5px;
		vertical-align:top !important;
	}
.securityTxt
	{
		width:200px;
		text-align:justify;
		display:inline-block;
		padding:3px 1px 1px 5px;
		vertical-align:top !important;
	}
.securityTxtHeading
	{
		height:20px;
		width:300px;
		font-weight:bold;
		text-align:center;
		display:inline-block;
		padding:3px 1px 1px 5px;
		vertical-align:top !important;
	}
.securityCustomQuestionTxtBox
	{
		height:19px;
		width:340px;
		padding:3px 1px 1px 5px;
		vertical-align:top !important;
	}
.securityCustomAnswerTxtBox
	{
		height:19px;
		width:300px;
		margin-left:10px;
		padding:3px 1px 1px 5px;
		vertical-align:top !important;
	}
.authenticationCheck
    {
        display:inline-block; width:300px; margin-top:5px;
    }
.authenticationPWD
    {
        display:inline-block; width:416px; margin-top:5px;
    }
/* End: Login Part Styles */
/* Begin: Inner Pages Part Styles */
.innerPgsBody
	{
		height:100%;
	}
/* Begin: Header Part Styles */
#header
	{
		width:100%;
		height:80px;
		cursor
	}
.HeaderTopLeft
	{
		float:left;
		height:80px;
		width:290px;
		display:inline;
	}
.HeaderTopCenter
	{
		width:39%;
		height:80px;
		text-align:center;
		display:inline-block;
		font:bold 12px Times New Roman, Verdana, Geneva, sans-serif !important;
	}
#uppFormTitle
	{
		padding-top:16px;
		font:bold 14px Times New Roman, Verdana, Geneva, sans-serif !important;
	}
.HeaderTopRight
	{
		width:40%;
		*width:41%;
		float:right;
		*margin-top:-70px;
	}
#sp5
	{
		padding:0px 2px 0px 1px;
	}
#lblUserId
	{
		font-weight:bold;
		padding-left:2px;
	}
/*#pnlSmartLinks ul
	{
		list-style:none;
		margin-left:0;
		padding-left:1em;
		text-indent:-1em;
	}*/
#pnlSmartLinks ul
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
#pnlSmartLinks ul li
	{
		margin:2px;
	}
#calAgency
	{
		margin:5px !important;
		border:2px solid #3e5e70 !important;
	}	
#calAgency td
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calAgency th
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calAgency td a:hover
	{
		background:none !important;
	}
#calEvents
	{
		margin:5px !important;
		border:2px solid #3e5e70 !important;
	}	
#calEvents td
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calEvents th
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calEvents td a:hover
	{
		background:none !important;
	}
.dayHover:hover
	{
		background-color:#b0d2d1;
	}	
#pnlSmartLinks ul li
	{
		padding:5px 5px 0px 20px;
	}
#pnlSmartLinks ul li a:hover
	{
		background:none !important;
	}
.headerButtonBg
	{
		width:31%;
		float:right;
		padding:12px 0 0 0;
		*padding:-10px 0 0 0;
	}
.headerButtons
	{
		float:right;
		cursor:pointer;
		margin-right:20px;
		display:inline-block;
	}
.menubg
	{
		width:auto;
		height:25px;
		display:block;
	}
.menuL
	{
		float:left;
		width:17px;
		height:28px;
	}
.menuR
	{
		width:16px;
		height:28px;
		float:right;
		margin-top:-28px;
	}
/* End: Header Part Styles */
/* Begin: Main Content Styles */
/* Begin: Left Content Styles */
		.smartlinks
			{
				margin:0px;
				padding:0px;
			}
		 .smartlinks a
			{
				line-height:15px;
				vertical-align :top;
				text-decoration:none;
			}
		.smartlinks a:hover
			{
				vertical-align:top;
				text-decoration:underline;
			}
		.smartlinks a:visited
			{
				vertical-align:top;
				text-decoration:none;
			}
		.smartlinks ul
			{					
				padding-left:0px;
				padding-top :0px;
				margin:0px !important;
				vertical-align:bottom;
			}
		.smartlinks ul li
			{
				display:block;
				margin:2px 2px 0px 2px;
			}
		.smartlinks ul li a
			{
				padding:5px;
				_height:14px;
				display:block;
				min-height:14px;
				margin-right:5px;
			}
	/* End: Left Content Styles */
	/* Begin: Right Content Styles */
		#pnlSubMenu
			{
				padding-left:10px;
			}
		.Message
			{
				width:100%;
				font-weight:bold;
				margin:7px 2px 5px 6px;
			}
		.Message td
			{
				padding:7px 3px 1px 6px !important;
				*padding:7px 3px 7px 6px !important;
			}
		.loginEntrustMessageBg ul
			{
				padding-left:20px !important;
				color: Red !important;
			}
        .loginEntrustMessageBg ul li
            {
                list-style:none;
            }
        .loginEntrustMessageBg ul li
            {
                line-height:15px;
                padding:2px 0px 2px 0px;
            } 
		#vlsErrors ul
			{
				padding-left:20px !important;
				color: Red !important;
                padding:0px;
                margin:0px;
			}
        #vlsErrors ul li
            {
                list-style:none;
                padding:0px;
                margin:0px;
            }
        #vlsErrors ul li
            {
                line-height:15px;
                padding:2px 0px 2px 0px;
            }
		.rightContent
			{
				float:left;
				width:100%;
			}
		.rightHeader
			{
				padding:7px;
				display:block;
				font-weight:bold;
				margin:7px 2px 0px 6px;
			}
		.headerRtBtn
			{
				float:right;
				cursor:pointer;
				margin:1px 20px 0px -18px;
			}
		.Imagebutton
			{
				cursor:pointer;
				margin:1px 0px 0px 1px;
				*margin:1px 0px 0px 3px;
			}
		.Table
			{
				white-space:normal;
				text-align:left !important;
			}
		.Table td
			{
				padding:0px 5px 2px 3px;
			}
		.Table td a
			{
				text-decoration:underline;
			}
		.Table td a:hover
			{
				text-decoration:underline;
			}	
		.Label
			{
				text-align:right;
				font-weight:bold;
				line-height:20px;
				padding-left:20px !important;
			}
		.ButtonTable
			{
				display:inline-block;
				display:inline\9;
				*display:inline;			
				margin-left:5px;
			}
		.ButtonCell
			{
				border:none;
				height:30px;
				font-weight:bold;
				padding-right:5px;
				display:inline-block;
				margin:7px 3px 0px 0px;
				*margin:5px 3px 0px 0px;
			}
		input.buttonbg
			{
				cursor:pointer;
				border:none;
			}
		input.textboxbg
			{
				height:18px;
				width:150px;
			}
		input.rightAlignControl
			{
				height:18px;
				width:150px;
			}
		input.hasDatepick
			{
				height:18px;
				width:150px;
			}
/*		select.textboxbg
			{
				padding:2px;
			}*/
		.textboxbg
			{
				font-size:1.063em;
				margin:2px 7px 1px 0px !important;
			}
		.rightAlignControl
			{
				font-size:1.063em;
				margin:2px 7px 1px 0px !important;
			}
		select
			{
				height:22px;
				font-size:1.063em;
				margin:2px 7px 1px 0px !important;
			}
		.buttonbg
			{
				height:30px;
				font-size:13px;
				font-weight:normal;
				line-height:25px;
				display:inline-block;
				padding:0px 5px 0px 10px;
				font-family: Times New Roman;
			}
		#cphCenterMiddle_tctHeaderTab
			{
				*border:none !important;
			}
		.Content
			{
				padding:5px;
				vertical-align:top;
			}
			/* Begin: Grid Styles */
			.gridTable 
				{
					border-width:1px !important;
				}
			.gridTable
				{
					display:block;
					padding:0 10px;
				}
			.gridhead
				{
					*height:25px;
					height:25px !important;
				}
			.gridhead a:hover
				{
					font-weight:bold;
					text-decoration:underline;
				}
			.gridhead a:visited
				{
					font-weight:bold;
					text-decoration:none;
				}
			.gridhead th
				{
					padding:3px 4px 3px 4px !important;
				}
			.gridnormal
				{
					padding:10px;
					white-space:normal;
				}
			.gridnormal td 
				{
					white-space:normal;
					padding:3px !important;
				}
			.gridnormal span
				{
					font-weight:bold;
					display:inline-block;
					padding:2px 5px 2px 5px;
				}
			.gridodd
				{
					height:27px;
					/*text-align:center;*/
				}
			.gridodd td
				{
					/*text-align:left;*/
				}
			tr.gridodd span
				{
					*white-space:pre;
					/*text-align:center;*/
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.grideven
				{
					height:27px;
					/*text-align:center;*/
				}
			.grideven td
				{
					/*text-align:left;*/
				}
			tr.grideven span
				{
					*white-space:pre;
					/*text-align:center;*/
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridselected
				{
					height:27px;
					text-align:center;
				}
			.gridselected td
				{
					text-align:left;
				}
			tr.gridselected span
				{
					*white-space:pre;
					text-align:center;
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.primaryaddrcontct td
				{
					padding:3px !important;
				}
			tr.primaryaddrcontct span
				{
					*white-space:pre;
					text-align:center;
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridLabelTextWrap
				{
					font-weight: normal;
					white-space:normal;
				}
		    .HideClientSide
                {
                    display:none;
                    visibility:hidden;
                } 
			/* End: Grid Styles */
	/* End: Right Content Styles */
	/* Begin: Pre-Loader Part Styles */
		.pannelLoader
			{
				top:33px;
				z-index:10;
				left:210px;
				width:250px;
				position:fixed;
			}
		.loaderTxt
			{
				font-weight: bold;
			}
	/* End: Pre-Loader Part Styles */
/* Begin: Footer Part Styles */
.footer
	{	
		left:0px;
		top:auto;
		right:0px;
		bottom:0px;
		width:100%;
		height:27px;
		display:block;
		font-size:11px;
		visibility:visible;
		font-size:12px;
	}
.footerLeft
	{
		float:left;
		margin:0px;
		height:19px;
		padding:7px 0px 0px 7px;
	}
.footerRight
	{
		margin:0px;
		float:right;
		height:19px;
		text-align:right;
		padding:7px 7px 0px 0px;
	}
/* End: Footer Part Styles */
/* Bigin: Mixed Part Styles */
.PanelBodyMiddle
	{
		float: left;
		clear: both;
		width: 100%;
		overflow: auto;
		vertical-align:top;
	}
.PanelBody
	{
		float: left;
		clear: both;
		width: 100%;
		overflow: auto;
	}
.PayeeAccount
	{
		width: 50px;
		text-align: right;
		padding-left: 25px;
		font-weight: normal;
	}
caption
	{
		        width:30%;
				height:25px;
				display:block;
				font-weight:bold;
				margin:7px 2px 5px 6px;
				padding-top:7px;
	}
.PageNavHead
	{
		height:25px;
		font-size: 1em;
		font-weight: bold;
		padding-bottom:10px;
	}
.PanelHeaderLeft
	{
		border:0px;
		width:32px;
		height:23px;
		padding:0px;
		margin-top:2px;
	}
.PanelHeaderMiddle
	{
		width: 100%;
		font-weight: bold;
	}
.PanelHeaderRight
	{
		width:32px;
		height:23px;
	}
.AlignRight
	{
		text-align:right;
	}
.AlignLeft
	{
		text-align:left;
	}
.AlignCenter
	{
		text-align:center;
	}
.ReqInfo
	{
		width: 150px;
		text-align: right;
	}
.lnkAlert
	{
		font-size:0.688em;
		font-weight:normal;
	}
.txtlabel
	{
		width:150px;
		font-size:1em;
		margin-right: 5px;
	}
.text
	{
		margin-right: 5px;
	}
.Divider
	{
		margin-right: 6px;
	}
.TreeNodeMaintenance
	{
		font-weight:normal;
		padding-right:10px;
	}
.TreeNodeLookup
	{
		font-weight:normal;
		padding-right:10px;
	}
#ctl00_cphCenterMiddle_tblCenterMiddle
	{
		padding-top:5px;
	}
.panelbg
	{
		width:100%;
		border:0px;
		margin:0px;
		height:100%;
	}
.PanelMiddle
	{
		margin-top:5px;
		margin-left:5px;
		margin-right:5px;
	}
.panelleft
	{
		height: 100%;
		font-size:0.688em;
		font-weight: bold;
	}
.panelleft a
	{
		font-size:0.688em;
		line-height: 14px;
		font-weight: normal;
	}
.panelleft a:hover
	{
		text-decoration: underline;
	}
.panelbg a:hover
	{
		text-decoration:underline;
	}
.paddingleft25
	{
		padding-left:25px;
	}
.width25
	{
		width:25%;   
	}
.MaskedEditMessage
	{
		font-weight:bold;
	}
.WhiteText
	{
		display:none;
	}
.TDAlignRight
	{
		align:right;
	}
.btnServerSideRefresh
	{
		display:none;
	}
#uppCenterMiddle, #uppMessage
	{
		width:99%
	}
/* End: Mixed Part Styles */
/* End: Main Content Styles */
/* End: Inner Pages Part Styles */

/* Start Of Accordion.css */
div.basic
	{
		width:100%;
		margin:0px;
		padding:0px;
		font-size:1em;
	}
.basic > a
	{
		height:20px;
		outline: none;
		display:block;
		cursor:pointer;
		font-weight:bold;
		line-height:20px;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a.selected
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a.active
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a:hover
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a
	{
		-moz-border-radius-bottomleft:3px !important;
		-moz-border-radius-bottomright:3px !important;
	}
.basic > div.scrolling
	{
		overflow:auto !important;
	}
.basic > div > p
	{
		margin:1.5ex 0px;
		padding:0px 10px 0px 10px;
	}
.basic > div > ul
	{
		margin-top:1ex;
	}
/* End Of Accordian.css */

/* Start Of CollapsiblePanel.css */
.ContainerPanel
	{
		width:100%;
		margin-bottom:7px;
	}
.collapsePanelHeader
	{
		height:23px;
		line-height:23px;
		font-weight:bold;
		position:relative;
		padding-right:33px;
	}
.HeaderContent
	{
		cursor:pointer;
		padding-left:25px;
	}
.ArrowExpand
	{
		bottom:2px;
		width:18px;
		height:18px;
		cursor:pointer;
		float:left;
		left:5px;
		position:absolute;
	}
.ArrowExpand:hover
	{
		cursor:pointer;
	}
.ArrowClose
	{
		bottom:2px;
		width:18px;
		height:18px;
		cursor:pointer;
		float:left;
		left:5px;
		position:absolute;
	}
.ArrowClose:hover
	{
		cursor:pointer;
	}
/* End Of CollapsiblePanel.css */

/* Start Of jquery.datepick.css */
#datepick-div, .datepick-inline
	{
		width:15em;
		margin:0px;
		padding:5px;
		z-index:1000;
		font:bold 11px "Segoe UI", Verdana, Geneva, sans-serif !important;
	}
#datepick-div
	{
		display: none;
		z-index: 9999; /*must have*/
	}
.datepick-inline
	{
		float: left;
		display: block;
	}
.datepick-rtl
	{
		direction: rtl;
	}
.datepick-dialog
	{
		padding: 5px !important;
	}
.datepick-disabled
	{
		z-index: 100;
		opacity: 0.5;
		position: absolute;
		filter: alpha(opacity=50);
	}
button.datepick-trigger
	{
		width: 25px;
		padding: 0px;
	}
img.datepick-trigger
	{
		margin: 2px;
		cursor:pointer;
		vertical-align: middle;
	}
.datepick-prompt
	{
		float: left;
		padding: 2px;
	}
* html .datepick-prompt
	{
		width: 15em;
	}
.datepick-control, .datepick-links, .datepick-header, .datepick
	{
		clear: both;
		float: left;
		width: 100%;		
		font-size:9px;
		font-family: Times New Roman, Verdana, Geneva, sans-serif !important;
	}
.datepick-control
	{
		padding:0px;
		line-height: 20px;
		vertical-align:middle;
	}
.datepick-links
	{
		padding:0px;
		margin-top:3px;
		line-height: 20px;
		vertical-align:middle;
	}
.datepick-links label
	{
		padding: 2px 5px;
	}
.datepick-clear, .datepick-prev
	{
		float:left;
		width:50px;
		height:20px;
		*padding-top:2px;
		text-align:center;
	}
.datepick-rtl .datepick-clear, .datepick-rtl .datepick-prev
	{
		float: right;
		text-align: right;
	}
.datepick-current
	{
		width:50px;
		height:20px;
		float: left;
		margin-left:4px;
		*padding-top:2px;
		text-align: center;
	}
.datepick-close, .datepick-next
	{
		width:50px;
		height:20px;
		float: right;
		*padding-top:2px;
		text-align:center;
	}
#datepick-div a, .datepick-inline a
	{
		margin:0;
		padding:0;
		cursor:pointer;
		font-size:1.188em;
		text-decoration:none;
	}
#datepick-div a:hover, .datepick-inline a:hover
	{		
		cursor: pointer;
	}
.datepick-rtl .datepick-close, .datepick-rtl .datepick-next
	{
		float:left;
		text-align:left;
	}
.datepick-header
	{
		width:95%;
		padding:3px;
		font-weight:bold;
		text-align:center;
		margin:2px 2px 0px 0px;
	}
.datepick-header select
	{
		background:none;
	}
.datepick-header span
	{
		top:3px;
		border:0px;
		position:relative;
	}
.datepick-new-month	
	{
		float:left;
		font:bold 11px "Segoe UI", Verdana, Geneva, sans-serif !important;
	}
.datepick-new-year
	{
		float:right;
		font:bold 12px "Segoe UI", Verdana, Geneva, sans-serif !important;
	}
.datepick
	{
		text-align:center;
	}
.datepick a
	{
		display: block;
		width: 100%;
	}
.datepick-title-row
	{
		font:bold 11px "Segoe UI",Verdana,Geneva,sans-serif !important;
	}
.datepick-title-row th
	{
		text-align: center;
	}
.datepick-days-cell
	{
		padding:3px;
	}
.datepick-title-row .datepick-week-end-cell
	{
		padding:3px;
		font:bold 11px "Segoe UI", Verdana, Geneva, sans-serif !important;
	}
.datepick-today a
	{
		font-weight:bold;
	}
.datepick-days-cell-over
	{
		font-weight:bold;
	}
.datepick-status
	{
		width: 100%;		
		text-align: center;
	}
.datepick-inline .datepick-links a
	{
		font-size:9px;
		padding: 0 5px !important;
	}
.datepick-links a
	{
		font-size:9px;
		padding: 2px 10px 5px 10px !important;
		font-family: Times New Roman, Verdana, Geneva, sans-serif !important;
	}
.datepick-control a
	{
		font-size:9px;
		font-weight:bold;
		padding: 2px 10px 5px 10px !important;
	}
.datepick-one-month
	{
		float: left;
		width: 15em;
	}
.datepick-new-row
	{
		clear: left;
	}
/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover
	{
		top: -1px; /*must have*/
		left: -1px; /*must have*/
		z-index: -1; /*must have*/
		width: 187px; /*must have*/
		height: 187px; /*must have*/
		filter: mask(); /*must have*/
		display: none; /*sorry for IE5*/
		position: absolute; /*must have*/
		display/**/: block; /*sorry for IE5*/
	}
/* End Of jquery.datepick.css */

/* Start Of jquery.flexbox.css */
.ffb-input
	{
		float:left;
	}
/* Drop-down arrow, with sprited image */
.ffb-arrow
	{
		float:left;
		width:18px;
		height:22px;
	}
.ffb-arrow.out
	{ 
		background-position:0;
	}
.ffb-arrow.over
	{
		background-position:-18px 0;
	}
.ffb-arrow.active
	{
		background-position:-36px 0;
	}
.ffb-no-results 
	{
		padding: 2px;
		font-style:italic;
	}
/* Container for dropdown contents */
.ffb
	{
		overflow:hidden;
		position:absolute;
	}
/* Inner div for dropdown */
.ffb .content
	{
		overflow:auto;
	}
.ffb .content .row
	{
		clear:both;
		height:20px;
	}
.ffb-sel
	{
		cursor:hand;
		cursor:pointer;
	}
.ffb-match
	{
		text-decoration:underline;
	}
/* Paging */
.ffb .paging
	{
		margin:2px;
		vertical-align:middle;
	}
.ffb .page, .ffb a.page
	{
		margin:2px;
		float:left;
		padding:2px;
		font-size:85%;
	}
.ffb .box
	{
		float:left;
		width:18px;
		margin:2px;
	}
.ffb .summary
	{
		float:right;
		font-size:85%;
	}
/* Unique IDs */
#ffb8 .row .col1
	{
		float:left;
		width:132px;
	}
#ffb8 .row .col2
	{
		float:left;
		width:232px;
	}
/* End Of jquery.flexbox.css */

/* Start Of jquery-ui-1.7.2.custom.css */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden
	{
		display: none;
	}
.ui-helper-hidden-accessible
	{
		left: -99999999px;
		position: absolute;
	}
.ui-helper-reset
	{
		margin: 0;
		border: 0;
		padding: 0;
		outline: 0;
		font-size: 100%;
		line-height: 12px;
		list-style: none;
		text-decoration: none;
		
	}
.ui-helper-clearfix:after
	{
		height: 0;
		clear: both;
		content: ".";
		display: block;
		visibility: hidden;
	}
.ui-helper-clearfix
	{
		display: inline-block;
	}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix
	{
		height:1%;
	}
.ui-helper-clearfix
	{
		display:block;
	}
/* end clearfix */
.ui-helper-zfix
	{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		filter:Alpha(Opacity=0);
	}
.ui-state-default a, .ui-widget-content .ui-state-default a
	{
		outline: none;
		font-weight: bold;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
	{
		outline: none;
		font-weight: bold;
	}
.ui-state-hover
	{
		outline: none;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-state-hover a, .ui-state-hover a:hover
	{
		outline: none;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
/* Overlays */
.ui-widget-overlay
	{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
.ui-state-active, .ui-widget-content .ui-state-active
	{
		outline: none;
		font-weight: bold;
	}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
		outline: none;
		border-top:0px;
		border-bottom:0px;
		text-decoration: none;
	}

/* Overlays */
.ui-widget-overlay
	{
		opacity: .30;
		filter:Alpha(Opacity=30);
	}
.ui-widget-shadow
	{
		padding: 8px;
		opacity: .30;
		margin: -8px 0 0 -8px;
		-moz-border-radius: 8px;
		filter:Alpha(Opacity=30);
		-webkit-border-radius: 8px;
	}

/* Tabs */
.ui-tabs
	{
		padding: .2em;
		zoom: 1;
	}
.ui-tabs .ui-tabs-nav
	{
		list-style: none;
		position: relative;
		padding:.5em .2em 0 0;
	}
.ui-tabs .ui-tabs-nav li
	{
		float: left;
		position: relative;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li a
	{
		float: left;
		padding: 0px 1em .4em 1em;
		text-decoration: none;		
	}
.ui-tabs-nav li a:hover
	{
		float: left;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
	{
		border-bottom-width: 0;
		padding-bottom: -1px !important;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
	{
		cursor: default;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
	{
		cursor: pointer;
	}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel
	{
		padding:5px;
		display: block;
		margin:-1px 0px 0px 1px;
		*margin:-2px 0px 0px 1px;
	}
.ui-tabs .ui-tabs-hide
	{
		display: none !important;
	}
/* End Of jquery-ui-1.7.2.custom.css */

/* Start Of layout-default-latest.css */
.ui-layout-pane
	{
		padding:0px !important;
		overflow:auto;
	}
.ui-layout-content
	{
		overflow:auto;
		position:relative;
		padding:0px 2px 0px 2px !important;
	}
/*.ui-layout-resizer
	{
		margin-top:1px;
	}*/
.ui-layout-resizer-sliding
	{
		opacity: .10;
		FILTER: alpha(opacity=10);
	}
.ui-layout-resizer-sliding-hover
	{
		opacity: 1.00;
		FILTER: alpha(opacity=100);
	}
.ui-layout-resizer-north-sliding-hover
	{
		border-bottom-width:1px;
	}
.ui-layout-resizer-south-sliding-hover
	{
		border-top-width:1px;
	}
.ui-layout-resizer-west-sliding-hover
	{
		border-right-width: 1px
	}
.ui-layout-resizer-east-sliding-hover
	{
		border-left-width:1px;
	}
.ui-layout-resizer-hover .ui-layout-toggler
	{
		opacity: .60;
		FILTER: alpha(opacity=60);
	}
.ui-layout-resizer-hover .ui-layout-toggler-hover
	{
		opacity: 1.00;
		FILTER: alpha(opacity=100);
	}
.ui-layout-toggler-north
	{
		border-width:0px 1px 0px 1px;
	}
.ui-layout-toggler-south
	{
		border-width:0px 1px 0px 1px;
	}
.ui-layout-toggler-west
	{
		border-width:1px 1px 1px 0px;
	}
.ui-layout-toggler-east
	{
		border-width:1px 1px 1px 0px;
	}
.ui-layout-resizer-sliding ui-layout-toggler
	{
		display:none;
	}
.ui-layout-toggler .content
	{
		font-size:1em;
		padding-bottom:0.35ex;
	}
.ui-layout-center
	{
		padding-right:10px !important;
	}
/* End Of layout-default-latest.css */

/* Start Of menu.css */
#menu
	{
		width:100%;
		display:inline;
		overflow:visible;
		margin-right:50px;
		position:absolute;
		height:28px; !important;
		font:normal 1em  times new roman, Verdana, Geneva, sans-serif !important;
	}
#menu ul
	{
		top:-2px;
		*top:-6px;
		margin:0px !important;
		padding:0px !important;
	}
#Menu1
	{
		margin:0px;
		clear:both;
		padding:0px;
	}
#menu ul li
	{
		float:left;
		padding-left:1px;
		position:relative;
		padding-right:3px;
		padding-top:4px !important;
		*padding-top:8px !important;
	}
#menu ul li a
	{
		display:block;
		font-weight:bold;
		line-height:18px;
		padding:1px 7px 2px 7px !important;
	}
#menu ul li a:hover
	{
		padding:1px 7px 0px 5px;
	}	
#menu ul ul
	{
		left:0;
		top:27px;
		z-index:999;
		width:220px;
		_width:220px;
		position:absolute;
		margin-top:0px !important;
		border-top:none !important;
	}
#menu ul ul li
	{
		margin:0;
		width:100%;
		padding:0px !important;
	}
#menu ul ul li a
	{
		float:none;
		display:block;
		white-space:normal;
		padding:5px 6px 5px 7px !important;
	}
#menu ul ul, 
#menu ul li:hover ul ul,
#menu ul li:hover ul ul ul,
#menu ul li.ieover ul ul,
#menu ul li.ieover ul ul ul
	{
		display:none;
	}
#menu li:hover ul,
#menu ul ul li:hover ul,
#menu ul ul ul li:hover ul,
	{
		display:block;
	}
/* End Of menu.css */

/* Start Of ModalPopup.css */
.modalBackground
       {
              text-align:center;
              border:none !important;
       }
.updateProgress
       {
              width:130px;
              height:60px;
              margin:0px auto;
              margin:-3px -4px -2px -4px !important;
              *margin:-3px -3px -2px -2px;
              border:none !important;
              margin-left:-1px !important;
              text-align:center !important;
              *margin-left:-66px !important;
       }
.progressBarImg
       {
              *margin-left:55px;
              *display:inline-block;
       }
.updateProgressMessage
       {
              font-size:small;
              *margin-left:55px;
              *display:inline-block;
              font-family:Trebuchet MS;
       }


/* End Of ModalPopup.css */

/* Start Of ui.datetimepicker.css */
#datetimepicker_div,  .datetimepicker_inline
	{
		padding: 0;
		margin: 0;
		width: 185px;
		font-size: 12px;
		font-family: Times New Roman, Helvetica, sans-serif;
	}
#datetimepicker_div
	{
		z-index: 10;
		display: none;
	}
.datetimepicker_inline
	{
		border: 0;
		float: left;
		display: block;
	}
.datetimepicker_dialog
	{
		padding: 5px !important;
	}
button.datetimepicker_trigger
	{
		width: 25px;
	}
img.datetimepicker_trigger
	{
		margin: 2px;
		vertical-align: middle;
	}
.datetimepicker_prompt
	{
		float: left;
		padding: 2px;
	}
*html  .datetimepicker_prompt
	{
		width: 185px;
	}
.datetimepicker_control,  .datetimepicker_links,  .datetimepicker_header,  .datetimepicker
	{
		clear: both;
		float: left;
		width: 100%;
	}
.datetimepicker_links
	{
		padding: 2px 0px;
	}
.datetimepicker_control,  .datetimepicker_links
	{
		font-size: 80%;
		font-weight: bold;
		letter-spacing: 1px;
	}
.datetimepicker_links label
	{
		padding: 2px 5px;
	}
.datetimepicker_clear,  .datetimepicker_prev
	{
		width: 34%;
		float: left;
	}
.datetimepicker_current
	{
		width: 30%;
		float: left;
		text-align: center;
	}
.datetimepicker_close,  .datetimepicker_next
	{
		width: 34%;
		float: right;
		text-align: right;
	}
.datetimepicker_header
	{
		height: 3em;
		font-weight: bold;
		padding: 1px 0 3px;
		text-align: center;
	}
.datetimepicker_header select
	{
		border: 0px;
		font-weight: bold;
	}
.datetimepicker
	{
		font-size: 100%;
		text-align: center;
	}
.datetimepicker a
	{
		width: 100%;
		display: block;
	}
#datetimepicker .datetimepicker_daysCell a
	{
		display: block;
	}
#datetimepicker_div a,  .datetimepicker_inline a
	{
		margin: 0;
		padding: 0;
		cursor: pointer;
		background: none;
	}
.datetimepicker_inline .datetimepicker_links a
	{
		padding: 0 5px !important;
	}
.datetimepicker_control a,  .datetimepicker_links a
	{
		padding: 2px 5px !important;
	}
.datetimepicker_oneMonth
	{
		float: left;
		width: 185px;
	}
.datetimepicker_newRow
	{
		clear: left;
	}
.datetimepicker_cover
	{
		top: -4px;
		left: -4px;
		z-index: -1;
		width: 193px;
		height: 200px;
		display: none;
		filter: mask();
		display/**/: block;
		position: absolute;
	}
/* End Of ui.datetimepicker.css */
.watermark
	{
		line-height:25px !important;
		display:inline-block;
	}
/* Start Of extra.css */
#lgnBase_UserNameRequired
	{
		margin-left:-15px !important;
	}
#lgnBase_PasswordRequired
	{
		margin-left:-15px !important;
	}
.failureText
	{
		position:absolute !important;
		/**padding-top:110px;*/
	}
.datepick-trigger
	{
		width:22px;
		height:21px;
	}
	
	#uppAgencyLinks a
	{
	    padding:5px;
	    line-height:22px;
	}
	
	#uppAgencyLinks a:hover
	{
	    background-image:none !important;
	    padding:5px;
	    line-height:22px;
	}
input.buttonbg[disabled] ,input.buttonbg[disabled]:hover
{
    color: gray;
}

.RowSelected
{
    background-color:Yellow;
}

.dialogErrors
    {
        font-family: Times New Roman;
        font-weight: bold;
        color: #FF0000;
    }    
  
.rightAlignTextbox
	{
		 font-family: Times New Roman;
		margin:2px 7px 1px 0px !important;
		text-align:right;
		width:150px;
	}
	
.s-textbox {
    text-indent: 0.16em;
    height:20px !important;
    color: #003f59;
    background-color: #FFFFFF;
    border: 1px solid #878788;
   border-radius: 4px;
    font-size: 100%;
    padding: 2px .3em;
}

.k-i-calendar
{
    margin-top:-5px !important;
}

.k-numerictextbox .k-link
{
    height:10px !important;
}

.k-numerictextbox .k-icon
{
    height:13px !important;
}

.k-datepicker, .k-numerictextbox {
    border: 0px !important;
    padding: 0px !important;
}

.k-picker-wrap, .k-numeric-wrap {
    background: #FFF !important;
    border: 1px solid #878788 !important;
}

.k-timepicker
{
padding:0px !important;
border:0px !important;
}

.rightAlignControl {
    color: #545659;
    margin-right: 5px;
    background-color: #FFFFFF;
    border: 1px solid #a4cad6;
    font-family: Times New Roman !important;
    font-size: 1.063em;
    margin: 2px 7px 1px 0px !important;
    text-align: right;
    height: 18px;
    width: 150px;
}

/* Added for the Global Standards */
     .LeftAlignedLabel
	{
		text-align:left;
		font-weight:bold;
		line-height:20px;
		padding-left:15px !important;		
	}
			
	.LeftAlignedLabelWithReqInformation
	{
		text-align:left;
		font-weight:normal;
		line-height:20px;
		padding-left:3px !important;	
	}
			
	.ReqInformationLabel
	{
		color:Red;		    
		Font-Size:".8em";
		font-family:Verdana;
		padding-left:15px !important;			      
	}			
	
	  .LeftAlignedLabel
	{
		text-align:left;
		font-weight:normal;
		line-height:20px;
		padding-left:15px !important;		
	}
	
	.rightAlignLabelControl
	{
		font-family: Times New Roman;		
		text-align:right;		
	}
	
/* End addition for Global Standards */	

/* Authentication */

.authenticationImageList
    {
        float:left;
        width:80px;
        height:60px;
        display:block;
        list-style:none;
        position:relative;
        vertical-align:middle; /*background-color: #BBCCFF;*/
        -ms-interpolation-mode:bicubic;
    }
.authenticationPhrase
    {
        text-align:center;
        vertical-align:middle;
        background-color:#BBCCFF;
    }
.naviHeadStep
    {
        color:#333;
        float:right;
        font-weight:bold;
		padding:0px 0px 0px 0px;
    }
.authenticationImageListTxt
	{
		font-size:14px;
		font-weight:bold;
		padding:20px 15px 0px 5px;
	}
.naviHeadPara
    {
		float:left;
		margin:0px;
		width:500px;
		padding:0px;
		border:1px dotted #8f8f8f;
    }
.naviHeadPara p
    {
		float:left;
		width:400px;
		*width:392px;
		line-height:16px;
		text-align:justify;
		margin-bottom:10px;
		padding:0px 10px 0px 10px;
    }
.naviHeadPara ul
    {
        padding:0px;
        color:#333333;
        list-style:none;
        text-align:justify;
        margin:5px 0px 10px 22px;
    }
.naviHeadPara ul li
    {
        margin:0px;
        line-height:16px;
        text-align:justify;
        padding:3px 10px 3px 10px;
    }
.termsBtns
    {
        float:left;
        margin:-10px 0px 10px 0px;
    }
.agreeTerms
    {
        float:left;
        margin:10px 0px 10px 0px;
    }
.loginPwdLabel
	{
	    width:155px;
	    text-align:left;
		font-size:14px;
		font-weight:bold;
		display:inline-block;
		padding:20px 5px 0px 0px;
	}   
/* Added for Framework version 6.0.0.24*/
.tag-list {
    list-style-type: none;
    width: calc(100% - 11px);
    border: 1px solid #808080;
    float: left;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    margin: 0px 0px 5px 5px;
}

    .tag-list li {
        float: left;
        box-sizing: border-box;
        margin-right: 5px;
        position: relative;
    }

        .tag-list li .tagcaption {
            display: none;
            position: absolute;
            z-index: 99;
            top: -22px;
            white-space: nowrap;
            background: #CCC;
            padding: 3px;
            border: 1px solid #EEE;
            font-size: 10px;
        }

        .tag-list li a {
            cursor: pointer;
            display: block;
            color: #FFF;
            padding: 5px 20px;
            position: relative;
            background: #808080;
            height: 15px;
        }

            .tag-list li a:hover {
                color: #FFFFFF;
                background: #BBB;
            }

        .tag-list li:hover a:before {
            content: "X";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            border-left-color: #BBB;
            color: red;
        }

        .tag-list li:hover a:after {
            border-left-color: #BBB;
        }

        .slider-container
{
    width: 100%;
    float: left;
}


.ui-slider
{
    width: 80%;
    float: left;
}
.displayImageMail 
{
 
 background-image: url("../Images/mail-icon_2.png");
 
 display: inline-block;
  height: 22px;
 
 text-indent: -9999px;
  width: 25px;
  position: absolute; 
}
.email-icon-wrapper .displayImageMail 
{
  position: relative !important;
  float: right; }
.slider-value
{
    width: 18%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}

/* Add bleow css at the end of common.css */
.nav-store-state {
    background: url('../../Images/store-session-img.png') no-repeat 3px 6px;
}


.nav-store-state:hover {
    background: url('../../Images/store-session-img-hover.png') no-repeat 3px 6px;
}

/* Note: You may need to take the help of UI team*/

/*Add below css at the end common.css*/
   .ui-datepicker{
       z-index: 9999999999 !important;
     }

 /*Freamwork Versoin 6.0.0.26.0*/
.slider-container
{
    width: 100%;
    float: left;
}
 
 
.ui-slider
{
    width: 80%;
    float: left;
}
 
 .slider-value {
    width: 10%;
    float: left;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: -2px;
}
 #slider_sldPageSize
{
    width: 100px;
    border: 1px solid;
}
 
.ui-slider-handle:hover {
   background: #026270 !important;
   border:1px solid;
}

.ui-slider-handle {
   background: #7a7672 !important;
}

#ToolTipDiv{
    opacity: 1 !important;
}

/*Freamwork Versoin 6.0.0.28.0
Add below css at the end of Commn.css*/
	
.HighlightError {
border: 1px solid red !important;
}

.HighlightError_Page {
border: 1px solid red !important;
color: red !important;
}


.HighlightError_Tab {
border: 1px solid red !important;
color: red !important;
}
.HighlightError_Tab a {
/*border: 1px solid red !important;*/
font-weight: bold;
color: red !important;
}

.drplistforcasddl {  background: -webkit-linear-gradient(#eee, #fff); /* For Safari 5.1 to 6.0 */    
                     background: -o-linear-gradient(#eee, #fff); /* For Opera 11.1 to 12.0 */   
                     background: -moz-linear-gradient(#eee, #fff); /* For Firefox 3.6 to 15 */   
                     background: linear-gradient(#eee, #fff); /* Standard syntax (must be last) */ 
} 

 #CenterSplitter {
overflow:auto !important;
} 

.OpenHyperlinkDownload{
    text-decoration: underline !important;    
} 

.hideControl{
    display : none;
}

.ext-wizard #header {
    background: #507fb7;
    height: 66px !important;
    padding-bottom: 0;
}

.ext-wizard .ProgressBarDivParent {
    display: none;
}

.ext-wizard .swMain .stepContainer div.content {
    height: 400px !important;
}

.ext-wizard p, .ext-wizard .literal {
    font-weight: normal !important;
    font-size: 14px;
}

.ext-wizard #logo {
    background-color: #507fb7;
    margin: 0;
    padding: 0;
    height: 66px;
    width: 180px;
    background-position: center;
    position: relative;
}

.ext-wizard #logo:before {
    position: absolute;
    content: " ";
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    right: 0px;
    background: #83a4cc;
}

.ext-wizard div#NorthSplitter {
    height: 67px !important;
    border-bottom: 1px solid #adadad;
}

.ext-wizard .crumDiv {
    float: left;
    width: 100%;
    margin-top: 0px !important;
}

.ext-wizard #wizMain .stepContainer {
    background: #FFFFFF;
    border-bottom: 0 !important;
}

.ext-wizard #wizMain .actionBar {
    background: #4c637e;
    margin-top: 0 !important;
}

.ext-wizard .breadcrumb > li {
    margin: 0 !important;
}

.ext-wizard .breadcrumb input, .breadcrumb li button {
    top: 0 !important;
    margin: 0 !important;
}

.ext-wizard .breadcrumb li a {
    font-weight: normal;
    color: $primary-text-color;
    margin-right: 5px;
}

.ext-wizard ul.breadcrumb {
    margin: 10px 0px 5px 0px !important;
}

.ext-wizard .swMain {
    padding: 0px 20px;
}

.ext-wizard input[type='text'], .ext-wizard input[type='password'] {
    float: left;
}

.WizardDiv .ui-datepicker-trigger {
    position: absolute;
}