<!--<div class="span-head-last">
    <div ng-class="getdisplayClass(items,true)" context-menu="menuOptions" nodeid="{{items.dictAttributes.sfwNodeID}}" ng-mousedown="onStepSelectChange(items)" ng-keydown="onkeydownevent($event,items,objparent)">
        <div class="text-assign-blank" ng-class="getClassForDesc(items,true)">
            <div class="crcl-assign" customdraggable dragdata=[objparent.dictAttributes.sfwNodeID,items.dictAttributes.sfwNodeID]>
                <div ng-class="'{{items.Name}}-block-icon'"></div>
            </div>
            <span class="hidden-span" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.Text" placeholder="Description" description-keydown="onDescriptionKeyDown($event)" model="items"></span>
        </div>
        <div ng-show="iviewmode == 'Developer View'" class="line-assign"></div>
        <div ng-if="items.Name == 'foreach'" ng-show="iviewmode == 'Developer View'" ng-class="getdisplayClass(items,false)">
            <span class="hidden-span-expression" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.sfwItemName" placeholder="ItemName" model="items"></span>
            <span>of</span>
            <span class="hidden-span-expression" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.sfwObjectID" placeholder="Collection" loop-collection-keydown="onLoopCollectionkeyDown($event)" model="items"></span>
        </div>
        <div ng-if="items.Name == 'while' ||  items.Name == 'switch'" ng-show="iviewmode == 'Developer View'" ng-class="getdisplayClass(items,false)">
            <span class="hidden-span-expression" spellcheck=false contenteditable="true" content-editable ng-model="items.dictAttributes.sfwExpression" placeholder="Expression" action-keydown="onActionKeyDown($event)" model="items"></span>
        </div>
    </div>
    <span ng-class="hasChildren(items) ? 'span-right-children-border' : 'css-invisible'"></span>
</div>-->

<div draggable="true" customdraggable dragdata=[parentModel.dictAttributes.sfwNodeID,model.dictAttributes.sfwNodeID] class="node" ng-class="getCssClass(model)" ng-mousedown="onStepSelectChange(model)" context-menu="menuOptions">
    <span class="node-header-container node-header-block {{::model.Name}}-node-icon" logical-rule-editable contenteditable="false" content-editable ng-model="model.dictAttributes.Text" placeholder="Description" description-keydown="onDescriptionKeyDown($event)" model="model"></span>
    <div class="node-expression-container" ng-show="viewMode == 'Developer View'">
        <span class="node-expression-inline" logical-rule-editable spellcheck=false contenteditable="false" content-editable ng-model="model.dictAttributes.sfwItemName" placeholder="ItemName" action-keydown="onActionKeyDown($event)" model="model"></span>
        &nbsp;&nbsp;of&nbsp;&nbsp;
        <span class="node-expression-inline node-expression-inline-long" logical-rule-editable spellcheck=false contenteditable="false" content-editable ng-model="model.dictAttributes.sfwObjectID" placeholder="Collection" loop-collection-keydown="onLoopCollectionkeyDown($event)" model="model"></span>
    </div>
</div>
