<div class="portlet-body">
    <div class="form-body create-new-grid-div">
        <div class="col-xs-12">
            <span>Select the Collection to be displayed in New Grid.</span>
        </div>
        <div class="col-xs-12 full-height">
            <div class="div-entity-object-tree">
                <newentityobjecttreetemplate ischeckboxvisible="false" showonlycollection="true" selectedfield="objCreateNewGrid.SelectedEntityField" lstdisplayentity="objCreateNewGrid.LstDisplayedEntities" 
                                             selectedentityobjecttreefields="objCreateNewGrid.lstselectedobjecttreefields" entityname="formodel.dictAttributes.sfwEntity"></newentityobjecttreetemplate>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objCreateNewGrid.ErrorMessageForDisplay.length>0" ng-bind="objCreateNewGrid.ErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-6">
        <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
        <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" />
        <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-disabled="objCreateNewGrid.IsNextDisable()" ng-click="objCreateNewGrid.OnNextClick()" />
        <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" disabled="disabled" />
    </div>
</div>
