<!--<div class="full-height">-->
<div class="portlet-body file-inbound-content">
    <ul class="nav nav-tabs" ng-init="selectedTab='Details'" ng-show="showExtraFieldsTab">
        <li ng-class="selectedTab=='Details'?'active':''" ng-click="selectedTab='Details'">
            <a data-toggle="tab" aria-expanded="true">
                Details
            </a>
        </li>
        <li ng-class="selectedTab=='ExtraFields'?'active':''" ng-click="selectedTab ='ExtraFields'">
            <a data-toggle="tab" aria-expanded="false">
                Extra Fields
            </a>
        </li>
    </ul>
    <div class="tab-content form-details-label">
        <div ng-class="selectedTab=='Details'?'tab-pane fade active in':'tab-pane fade'">
            <div class="form-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">
                            Name (ID)
                        </label>

                        <input type="text" class="form-control input-sm" title="{{objCorrespondenceDetails.dictAttributes.ID}}" ng-model="objCorrespondenceDetails.dictAttributes.ID" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label class="control-label ">
                            Description
                        </label>

                        <input type="text" class="form-control input-sm" title="{{objCorrespondenceDetails.dictAttributes.sfwDescription}}" ng-model="objCorrespondenceDetails.dictAttributes.sfwDescription" />
                    </div>

                    <div class="form-group">
                        <label class="control-label ">
                            Header Template
                        </label>
                        <template-name-intellisense collection="CorTemplateCollection" modelname="objCorrespondenceDetails.dictAttributes.sfwHeaderTemplate" model="objCorrespondenceDetails" propertyname="'dictAttributes.sfwHeaderTemplate'" validate="true" errorprop="objCorrespondenceDetails.errors.sfwHeaderTemplate"></template-name-intellisense>

                    </div>

                    <!--<div class="form-group">

                        <label ng-if='!objCorrespondenceDetails.dictAttributes.sfwConditionalRule' class="control-label">Conditional Rule</label>
                        <label ng-if='objCorrespondenceDetails.dictAttributes.sfwConditionalRule' class="control-label"><a style="color: #5b9bd1!important;" ng-click='NavigateToEntityRule(objCorrespondenceDetails.dictAttributes.sfwConditionalRule)'>Conditional Rule</a></label>


                        <select ng-options="x for x in lstConditionalRules" title="{{objCorrespondenceDetails.dictAttributes.sfwConditionalRule}}" ng-model="objCorrespondenceDetails.dictAttributes.sfwConditionalRule" class="form-control input-sm"></select>

                    </div>-->

                    <div class="form-group">
                        <resourceintellisensetemplate showvertical="true" resourceid="objCorrespondenceDetails.dictAttributes.sfwResource" model="objCorrespondenceDetails" resourcetext="'Resources'" propertyname="'dictAttributes.sfwResource'" showresourcetext='true'></resourceintellisensetemplate>
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label ">
                            Active
                        </label>
                        <input type="checkbox" ng-model="objCorrespondenceDetails.dictAttributes.sfwActive" ng-checked="objCorrespondenceDetails.dictAttributes.sfwActive"
                               ng-true-value="'True'" ng-false-value="'False'" class="popup-single-checkbox" />

                    </div>-->

                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label ">
                            Template
                        </label>

                        <input type="text" class="form-control input-sm" title="{{objCorrespondenceDetails.dictAttributes.sfwTemplate}}" ng-model="objCorrespondenceDetails.dictAttributes.sfwTemplate" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label ng-if='!objCorrespondenceDetails.dictAttributes.sfwEntity' class="control-label ">Entity Name</label>
                        <label ng-if='objCorrespondenceDetails.dictAttributes.sfwEntity' class="control-label "><a style="color: #5b9bd1!important;" ng-click='NavigateToEntity(objCorrespondenceDetails.dictAttributes.sfwEntity,objCorrespondenceDetails.errors.invalid_entity)'>Entity Name</a></label>
                        <!--<span class="info-tooltip dtc-span" ng-if="objCorrespondenceDetails.errors.invalid_entity" ng-attr-title="{{objCorrespondenceDetails.errors.invalid_entity}}" style="position:relative;color:red !important"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>-->
                        <fileintellisensetemplate filename="objCorrespondenceDetails.dictAttributes.sfwEntity" model="objCorrespondenceDetails" filetype="'Entity'" propertyname="'dictAttributes.sfwEntity'" onfileblur="onEntityChange()" errorprop="objCorrespondenceDetails.errors.invalid_entity" />
                    </div>

                    <div class="form-group">
                        <label class="control-label ">
                            Footer Template
                        </label>

                        <template-name-intellisense collection="CorTemplateCollection" modelname="objCorrespondenceDetails.dictAttributes.sfwFooterTemplate" model="objCorrespondenceDetails" propertyname="'dictAttributes.sfwFooterTemplate'" validate="true" errorprop="objCorrespondenceDetails.errors.sfwFooterTemplate"></template-name-intellisense>
                    </div>

                    <div class="form-group">
                        <label class="control-label" ng-if='!objCorrespondenceDetails.dictAttributes.sfwConditionalRule.trim()'>Conditional Rule</label>
                        <label ng-if='objCorrespondenceDetails.dictAttributes.sfwConditionalRule.trim()' class="control-label "><a style="color: #5b9bd1!important;" ng-click='navigateToConditionalRule(objCorrespondenceDetails.dictAttributes.sfwConditionalRule)'>Conditional Rule</a></label>
                        <div class='input-group full-width'>
                            <span class="info-tooltip dtc-span" ng-if="objCorrespondenceDetails.errors.sfwConditionalRule" ng-attr-title="{{objCorrespondenceDetails.errors.sfwConditionalRule}}" style="color:red !important"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                            <input class="form-control input-sm text-autocomplete" type="text"
                                   title="{{objCorrespondenceDetails.dictAttributes.sfwConditionalRule}}"
                                   ng-model="objCorrespondenceDetails.dictAttributes.sfwConditionalRule"
                                   ng-keydown="onConditionalRuleKeyDown($event)" ng-keyup="validateConditionalRule($event)" />
                            <span class='input-group-addon button-intellisense' ng-click='showConditionalRuleIntellisense($event)'></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label ">
                            Remove Bookmarks After Generation
                        </label>
                        <input type="checkbox" ng-model="removeBookmarksAfterGeneration" ng-change="onRemoveBookmarksAfterGenerationChange()"
                               class="popup-single-checkbox" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label ">
                            Associated Forms
                        </label>
                        <i class="glyphicon glyphicon-refresh" ng-click="refreshAssociatedForms()" style="cursor:pointer"></i>
                        <div class="associated-forms-table">
                            <table class="sws-table">
                                <thead>
                                    <tr>
                                        <th>Form Name</th>
                                        <th>Form Entity</th>
                                        <th>Target Entity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr ng-repeat="obj in lstAssociatedForms" ng-click="onClickWithoutAssociatedForm($index,obj)" ng-class="{'selected':$index==selectCurrentWithoutAF}">
                                    
                                        <td><span ng-bind="obj.dictAttributes.ID"></span></td>
                                        <td><span ng-bind="obj.FormEntity"></span></td>
                                        <td><span ng-bind="obj.dictAttributes.sfwEntityField"></span></td>
                                        <td>
                                            <i class="fa fa-search" ng-click="openAssociatedFormsDialog($index,obj)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-class="selectedTab=='ExtraFields'?'tab-pane fade active in fleft full-width':'tab-pane fade fleft full-width'">
            <extra-field-directive is-file-creation="false" extra-field-model="objCorrespondenceExtraFields" is-tab="showExtraFieldsTab" obj-fn="objDirFunctions" form-name="formName" is-steps="false"></extra-field-directive>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="CorDetailsErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="dialog-btn" ng-click="onOkClick()" ng-disabled="validateCorsDetails()" />
        <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDetails()" />
    </div>
</div>
<!--</div>-->
