<div class="portlet-body">
    <ul class="nav nav-tabs">
        <li ng-class="SelectedTab=='UnMapControl'?'active':''" ng-click="selectControlMappingTab('UnMapControl')">
            <a data-toggle="tab" aria-expanded="true">
                UnMap Controls
            </a>
        </li>
        <li ng-class="SelectedTab=='IgnoreControl'?'active':''" ng-click="selectControlMappingTab('IgnoreControl')" ng-if="lstHtmlIgnoreControl.length>0">
            <a data-toggle="tab" aria-expanded="false">
                Ignore Controls
            </a>
        </li>
        <li ng-class="SelectedTab=='InvalidControl'?'active':''" ng-click="selectControlMappingTab('InvalidControl')" ng-if="lstHtmlInvalidControl.length>0">
            <a data-toggle="tab" aria-expanded="false">
                Invalid Controls
            </a>
        </li>
    </ul>
    <div class="tab-content form-details-label">
        <div ng-class="SelectedTab=='UnMapControl'?'tab-pane fade active in':'tab-pane fade'">
            <div class="table-scrollable">
                <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                    <thead>
                        <tr>
                            <th>Control ID</th>
                            <th>Html Control Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in lstHtmlMapControl">
                            <td><span ng-bind="obj.ControlID"></span> </td>
                            <td><span ng-bind="obj.HtmlControlType"></span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div  ng-class="SelectedTab=='IgnoreControl'?'tab-pane fade active in':'tab-pane fade'">
            <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                <thead>
                    <tr>
                        <th>Control ID</th>
                        <th>Html Control Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in lstHtmlIgnoreControl">
                        <td><span ng-bind="obj.ControlID"></span> </td>
                        <td><span ng-bind="obj.HtmlControlType"></span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-class="SelectedTab=='InvalidControl'?'tab-pane fade active in':'tab-pane fade'">
            <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                <thead>
                    <tr>
                        <th>Control ID</th>
                        <th>Html Control Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in lstHtmlInvalidControl">
                        <td><span ng-bind="obj.ControlID"></span> </td>
                        <td><span ng-bind="obj.HtmlControlType"></span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" ng-click="dialog.close()" value="Close"/>
</div>

