<div ng-controller="FormLinkController"  ng-dblclick="openCommonPropertiesClick()" class="innerWrapper" id="ScopeId_{{$id}}">
    <div class="toolbox-wrapper" ng-hide="FormLinkModel.IsCommonPropertiesOpen==false || selectedDesignSource == true">
        <div class="toolbox toolbox-form">
            <!--<div class="html-inner-container">-->
                <div class="control-common-properties" id="dvcommonProperties" ng-show="FormLinkModel.IsCommonPropertiesOpen">
                    <div class="common-properties-header">
                        <h3 ng-bind="FormLinkModel.SelectedControl.Name" ></h3>
                    </div>
                    <div class="common-properties-content">
                        <commonformlinkpropertiesdirective model="FormLinkModel.SelectedControl" parent="FormLinkModel.SelectedControl.ParentVM" lstloadedentitytrees="lstLoadedEntityTrees" lstloadedentitycolumnstree="lstLoadedEntityColumnsTree" formobject="FormLinkModel"></commonformlinkpropertiesdirective>
                    </div>
                <!--</div>-->
            </div>
            </div>
        </div>
    <div ng-hide="selectedDesignSource" ng-class="FormLinkModel.IsCommonPropertiesOpen==false?'full-width form-area':'col-xs-9 form-area'">
        <div class="inner-container" ng-class="FormLinkModel.IsCommonPropertiesOpen==false?'full-width':''">
            <div class="form-area-header">
                <div class="header-right" align="right">
                    
                </div>
            </div>
            <div id="htmlDiv{{FormLinkModel.dictAttributes.ID}}" class="full-height no-overflow">
                <!--<htmlscreen htmltext="htmlContent"></htmlscreen>-->
                <div class="form-group" style="height: 15px!important;">
                     <label class="pull-left control-label">Search Control</label>
                    <filter-text-list collection="controlList" model="selectedControlId" change-callback="selectElement(obj)" slide-left="true" css-class="col-xs-3"></filter-text-list>
                    <!--<select class="form-control" ng-model="selectedControlId" ng-change="selectElement()" ng-options="control for control in controlList"></select>-->
                    <div class="col-xs-6 pull-right" style="margin-top: -5px;">
                        <label class="col-xs-3 control-label">Select Portal
                            <i style="color: #8ba92a;cursor:pointer" class='glyphicon glyphicon-info-sign' title="If you want to add or manage portal then go to project settings -> portal settings section."></i>
                        </label>
                        <div class="input-group col-xs-5">
                            <select class="form-control input-sm" ng-options="portal.PortalName for portal in lstPortals" title="{{selectedPortalDetails.PortalName}}" ng-model="selectedPortalDetails" ng-change="getTemplateUrl(true)"></select>
                            <span class="input-group-addon" ng-click="openProjectSettings()" title="Go To Settings">  <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <iframe id="iframe{{FormLinkModel.dictAttributes.ID}}" class="full-height full-width" style="height: calc(100% - 20px)!important;"></iframe>
            </div>
        </div>
    </div>
    <div ng-show="selectedDesignSource" class="full-height">
        <div id="editor_{{currentfile.FileName}}" class="ace-editor-div"></div>
    </div>
</div>


