<div class="portlet-body">
    <div class="form-body">

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Workflow Map File </label>
                <select ng-options="Mapfiles  for Mapfiles in objWorkflowMapDetails.lstWorkflowMapFiles"
                        class="form-control input-sm" title="{{Mapfiles}}" ng-model="objWorkflowMapDetails.FileID"></select>

            </div>

            <div class="form-group">
                <label class="control-label"> Path</label>

                <locationintellisensetemplate locationchanged="objWorkflowMapDetails.isFinsihDisable()" locationname="objWorkflowMapDetails.Path" model="objWorkflowMapDetails" validate="true" errorprop="objWorkflowMapDetails.errors.invalid_path"></locationintellisensetemplate>

            </div>


        </div>
        <div class="col-xs-6">

            <div class="form-group">
                <label class="control-label">Workflow Process Type</label>

                <select ng-options="processType.CodeValue as  processType.Description for processType in objWorkflowMapDetails.lstWorkflowMapProcessType" ng-model="objWorkflowMapDetails.ProcessType"
                        class="form-control input-sm" title="{{processType}}"></select>

            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objWorkflowMapDetails.ErrorMessageForDisplay.length>0">{{objWorkflowMapDetails.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input type="button" value="Cancel" class="dialog-btn" ng-click="CloseWorkflowMapClick()" />
        <input type="button" value="Back" class="dialog-btn" wz-previous="onPrevious()"  disabled="disabled"/>
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-disabled="!objWorkflowMapDetails.isWorkflowMapFinsihDisable" />
    </div>
</div>