<div class="innerWrapper" ng-controller="BPMExecutionController">
    <div id="{{Guid}}" class="col-xs-12 full-height">
        <div class="content-container overflowA" onselectstart="return false">
            <div class="form-area-header" ng-show="isIterationDialog">
                <ul class="nav nav-tabs ">
                    <li ng-repeat="iteration in lstIterationsForTab" ng-click="onIterationTabClick(iteration)" ng-class="objTabIteration.Id == iteration.Id?'active':''">
                        <a>
                            {{iteration.Id}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="full-height  fleft">
                <svg id="ExecutionSVG" width="2500" height="2500" style="background:white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <linearGradient id="task" x1="0.5" y1="0" x2="0.5" y2="1">
                            <stop offset="0" style="stop-color:#eaffad;stop-opacity:1" />
                            <stop offset="1" style="stop-color:#cfff4a;stop-opacity:1" />
                        </linearGradient>
                        <linearGradient id="start" x1="0" y1="0" x2="0.5" y2="1">
                            <stop offset="0" style="stop-color:#0b800e;stop-opacity:1" />
                            <stop offset="1" style="stop-color:#18bf18;stop-opacity:1" />
                        </linearGradient>
                        <linearGradient id="end" x1="0" y1="0" x2="0.5" y2="1">
                            <stop offset="0" style="stop-color:#9b1d1d;stop-opacity:1" />
                            <stop offset="1" style="stop-color:#ea3c3c;stop-opacity:1" />
                        </linearGradient>
                        <linearGradient id="exclusive" x1="0.5" y1="0" x2="0.5" y2="1">
                            <stop offset="0" style="stop-color:#FFE2AC;stop-opacity:1" />
                            <stop offset="1" style="stop-color:#FFB32E;stop-opacity:1" />
                        </linearGradient>
                        <linearGradient id="intermediate" cx="0.713" cy="0.256" r="0.737" fx="0.713" fy="0.256">
                            <stop offset="0" style="stop-color:#f7ce98;stop-opacity:1" />
                            <stop offset="1" style="        stop-color: #f7ce98;
        stop-opacity: 1" />
                        </linearGradient>
                        <linearGradient id="headerRect" x1="0" y1="0.5" x2="1" y2="0.5">
                            <stop offset="0" style="        stop-color: #f7ce98;
        stop-opacity: 1" />
                            <stop offset="0.5" style="stop-color:#f7ce98;stop-opacity:1" />
                            <stop offset="1" style="stop-color:#f7ce98;stop-opacity:1" />
                        </linearGradient>
                        <linearGradient id="selectionRect" x1="0.5" y1="0" x2="0.5" y2="1">
                            <stop offset="0" style="stop-color:#e0d5c8;stop-opacity:1" />
                            <stop offset="1" style="stop-color:#e0d5c8;stop-opacity:1" />
                        </linearGradient>
                        <filter id="rectshadow">
                            <feOffset result="offOut" in="SourceAlpha" dx="2" dy="2" />
                            <feGaussianBlur result="blurOut" in="offOut" stdDeviation="4" />
                            <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                        </filter>
                        <filter id="circleShadow">
                            <feGaussianBlur in="SourceAlpha" stdDeviation="1" />
                            <feOffset dx="2" dy="2" />
                            <feMerge>
                                <feMergeNode />
                                <feMergeNode in="SourceGraphic" />
                            </feMerge>
                        </filter>
                        <marker id="arrow" markerWidth="10" markerHeight="10" refX="10" refY="3" orient="auto" markerUnits="strokeWidth">
                            <path d="M0,0 L0,6 L9,3 z" fill="#3a3a3a" />
                        </marker>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>
