<div class="portlet-body">
    <div class="form-body full-height">

        <div class="col-xs-6">
            <div class="form-group" ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label"> Transaction Code Position</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.TransactionCodePosition}}" ng-change="objInboundOutboundDetails.isFinishDisable()" ng-model="objInboundOutboundDetails.TransactionCodePosition" />

            </div>

            <div class="form-group" ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label"> Header Group Position</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.HeaderGroupPosition}}" ng-change="objInboundOutboundDetails.isFinishDisable()" ng-model="objInboundOutboundDetails.HeaderGroupPosition" />

            </div>

            <div class="form-group" ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label"> Inbound Mask</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.InboundMask}}" ng-model="objInboundOutboundDetails.InboundMask" />

            </div>

            <div class="form-group">
                <label class="control-label">  Process In Group</label>
                <input class="single-checkbox" type="checkbox" c ng-true-value="'True'" ng-false-value="'False'" ng-model="objInboundOutboundDetails.IsProcessInGroup" />

            </div>

        </div>
        <div class="col-xs-6">
            <div class="form-group" ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label"> Transaction Code Length</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.TransactionCodeLength}}" ng-change="objInboundOutboundDetails.isFinishDisable()" ng-model="objInboundOutboundDetails.TransactionCodeLength" ng-disabled="objFileDetails.RecordType == 'Delimited'" />

            </div>

            <div class="form-group" ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label"> Header Group Length</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.HeaderGroupLength}}" ng-change="objInboundOutboundDetails.isFinishDisable()" ng-model="objInboundOutboundDetails.HeaderGroupLength" ng-disabled="objFileDetails.RecordType == 'Delimited'" />

            </div>

            <div class="form-group " ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label ">  Record Layout</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.RecordLayout}}" ng-model="objInboundOutboundDetails.RecordLayout" />

            </div>

            <div class="form-group" ng-hide="objFileDetails.FileType == 'Outbound'">
                <label class="control-label">  Process Details</label>
                <input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-model="objInboundOutboundDetails.SfwProcessDetail" />

            </div>


        </div>


        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label"> Base Path</label>
                <input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.BasePath}}" ng-model="objInboundOutboundDetails.BasePath" disabled="disabled" />

            </div>
            

        </div>

  <div class="col-xs-12 file-creation-table">
      
          <table class="sws-table sws-bordered-table" role="grid">
              <thead>
                  <tr>
                      <th></th>
                      <th>Path Code</th>
                      <th>Key</th>
                      <th>Path</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="sws-bordered-table-left-td">Mail Box Path</td>
                      <td><common-intellisense-without-undo-redo collection="lstPopulateCode" display-property-name="'codeValue'" selected-property-name="'codeValue'" selected-item="objInboundOutboundDetails.MailBoxPathCode" change-callback="onChangeOfPathCode(objInboundOutboundDetails.MailBoxPathCode,'MailBoxPath')" model="objInboundOutboundDetails" propertyname="'MailBoxPathCode'"></common-intellisense-without-undo-redo></td>
                      <td><input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.MailBoxKey}}" ng-model="objInboundOutboundDetails.MailBoxKey" /></td>
                      <td><input type="text" ng-disabled="isExistingPath(objInboundOutboundDetails.MailBoxPathCode)" class="form-control input-sm" title="{{objInboundOutboundDetails.MailBoxPath}}" ng-change="objInboundOutboundDetails.isFinishDisable()" ng-model="objInboundOutboundDetails.MailBoxPath" /></td>
                      <td>
                          <button ng-disabled="isExistingPath(objInboundOutboundDetails.MailBoxPathCode)" class="btn btn-default btn-search-popup" type="button" ng-click="SelectFileForPath('MailBoxPath')"></button>
                      </td>
                  </tr>

                  <tr>
                      <td class="sws-bordered-table-left-td">Process Path</td>
                      <td><common-intellisense-without-undo-redo collection="lstPopulateCode" display-property-name="'codeValue'" selected-property-name="'codeValue'" selected-item="objInboundOutboundDetails.ProcessPathCode" change-callback="onChangeOfPathCode(objInboundOutboundDetails.ProcessPathCode,'ProcessPath')" model="objInboundOutboundDetails" propertyname="'ProcessPathCode'"></common-intellisense-without-undo-redo></td>
                      <td><input type="text" class="form-control input-sm" title="{{objInboundOutboundDetails.ProcessPathKey}}" ng-model="objInboundOutboundDetails.ProcessPathKey" /></td>
                      <td><input type="text" ng-disabled="isExistingPath(objInboundOutboundDetails.ProcessPathCode)" class="form-control input-sm" title="{{objInboundOutboundDetails.ProcessPath}}" ng-change="objInboundOutboundDetails.isFinishDisable()" ng-model="objInboundOutboundDetails.ProcessPath" /></td>
                      <td>
                          <button ng-disabled="isExistingPath(objInboundOutboundDetails.ProcessPathCode)" class="btn btn-default btn-search-popup" type="button" ng-click="SelectFileForPath('ProcessPath')"></button>
                      </td>
                  </tr>
                  <tr ng-hide="objFileDetails.FileType == 'Outbound'">
                      <td class="sws-bordered-table-left-td">Staging Path</td>
                      <td>
                          <common-intellisense-without-undo-redo collection="lstPopulateCode" display-property-name="'codeValue'" selected-property-name="'codeValue'" selected-item="objInboundOutboundDetails.StagingPathCode" change-callback="onChangeOfPathCode(objInboundOutboundDetails.StagingPathCode,'StagingPath')" model="objInboundOutboundDetails" propertyname="'StagingPathCode'"></common-intellisense-without-undo-redo>
                      </td>
                      <td><input type="text" title="{{objInboundOutboundDetails.StagingPathKey}}" ng-model="objInboundOutboundDetails.StagingPathKey" class="form-control input-sm" /></td>
                      <td><input type="text" ng-disabled="isExistingPath(objInboundOutboundDetails.StagingPathCode)" title="{{objInboundOutboundDetails.StagingPath}}" ng-model="objInboundOutboundDetails.StagingPath" ng-change="objInboundOutboundDetails.isFinishDisable()" class="form-control input-sm" /></td>
                      <td>
                          <button ng-disabled="isExistingPath(objInboundOutboundDetails.StagingPathCode)" class="btn btn-default btn-search-popup" type="button" ng-click="SelectFileForPath('StagingPath')"></button>
                      </td>
                  </tr>
                  <tr ng-hide="objFileDetails.FileType == 'Outbound'">
                      <td class="sws-bordered-table-left-td">
                          Error Path
                      </td>
                      <td>
                          <common-intellisense-without-undo-redo collection="lstPopulateCode" display-property-name="'codeValue'" selected-property-name="'codeValue'" selected-item="objInboundOutboundDetails.ErrorPathCode" change-callback="onChangeOfPathCode(objInboundOutboundDetails.ErrorPathCode,'ErrorPath')" model="objInboundOutboundDetails" propertyname="'ErrorPathCode'"></common-intellisense-without-undo-redo>
                      </td>
                      <td><input type="text" title="{{objInboundOutboundDetails.ErrorPathKey}}" ng-model="objInboundOutboundDetails.ErrorPathKey" class="form-control input-sm" /></td>
                      <td><input type="text" ng-disabled="isExistingPath(objInboundOutboundDetails.ErrorPathCode)" title="{{objInboundOutboundDetails.ErrorPath}}" ng-model="objInboundOutboundDetails.ErrorPath" ng-change="objInboundOutboundDetails.isFinishDisable()" class="form-control input-sm" /></td>
                      <td>
                          <button ng-disabled="isExistingPath(objInboundOutboundDetails.ErrorPathCode)" class="btn btn-default btn-search-popup" type="button" ng-click="SelectFileForPath('ErrorPath')"></button>
                      </td>
                  </tr>
              </tbody>
          </table>
    
  </div>     
        



    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objInboundOutboundDetails.ErrorMessageForDisplay.length>0" ng-bind="objInboundOutboundDetails.ErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-6">
        <input class="dialog-btn" type="button" value="Cancel" ng-click="CloseWizardClick()" />
        <input class="dialog-btn" type="button" wz-previous="onPrevious()" value="Back" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="!showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-if="showExtraFieldsTab" ng-disabled="!objInboundOutboundDetails.isFileFinishDisable" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="showExtraFieldsTab" disabled="disabled" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-if="!showExtraFieldsTab" ng-disabled="!objInboundOutboundDetails.isFileFinishDisable" />
    </div>
</div>