<div class="portlet-body run-result-main">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Configuration ID</label>
                <input class="form-control input-sm" type="text" title="{{StrExecutionId}}" ng-model="StrExecutionId">
            </div>

            <div class="form-group">
                <label class="control-label">Created Date</label>
                <input class="form-control input-sm form-control-inline date-picker" size="16" type="text" ng-model="EffectiveDate">

            </div>
        </div> 
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Rule Name</label>
                <input type="text" class="form-control input-sm" title="{{RuleName}}" ng-model="RuleName" ng-disabled="RuleNameReadOnly" />
            </div>

            <div class="form-group">
                <label class="control-label">Business Object Name</label>
                <input type="text" class="form-control input-sm" title="{{BusinessObjectName}}" ng-model="BusinessObjectName" />
                            </div>
        </div>
        <div class="col-xs-12">           
                <div class="form-group">
                     <input type="button" class="btn dialog-btn-default dialog-btn-search" value="Search" ng-click="OnSearchClick('Get Rule Configuration Results')" />
                </div>
            </div>
    </div>

    <div class="col-xs-12 run-result-table-outer">
        <div class="run-result-table-inner full-height" ng-scrolldown callback="OnSearchScrollDown()" ngpausescroll="runResult.IsProcessing" ngscrollheight="9">
            <table class="sws-table">
                <thead>
                    <tr>
                        <th ng-repeat="(key, value) in runResult.lstGetRuleConfigResults[0]">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rowdata in runResult.lstGetRuleConfigResults">
                        <td ng-repeat="coldata in rowdata"> <span ng-bind="coldata"></span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
<div class="form-actions">

    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="errorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="btn dialog-btn-default" ng-click="CloseGetRuleConfigDialog()" />
    </div>
  
   
</div>