<div class="portlet-body">
    <div class="form-group">
        <label class="col-md-3 control-label ">User Name </label>
        <div class="col-md-9">
            <input type="text" class="form-control input-sm" placeholder="Enter Text" title="{{UserName}}" ng-model="UserName" ng-change="CheckValidUser()" />
        </div>
    </div>
   
</div>
<div class="form-actions">
    <div class="col-xs-5 text-left">
        <span class="alert-error-msg" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-7">
        <input type="button" value="Get Password" class="dialog-btn" ng-disabled="CheckValidUser()" ng-click="GetPasswordClick()" />
        <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDialog()" />
    </div>
</div>
