<fieldset ng-disabled="$ctrl.isDisabledforVersioning" class="full-width marg-top-8">
    <div class="form-group">
        <label ng-if="!$ctrl.isDisabledforVersioning" class="control-label marg-bottom-8" ng-click="$ctrl.navigateToCallElement($ctrl.model.dictAttributes.calledElement)" ng-class="{'clickNavigateLink' : $ctrl.model.dictAttributes.calledElement }">
            Called Element
        </label>
        <label ng-if="$ctrl.isDisabledforVersioning" class="control-label marg-bottom-8" ng-click="$ctrl.openVersionCallActivity()" ng-class="{'clickNavigateLink' : $ctrl.model.dictAttributes.calledElement }">
            Called Element
        </label>
        <div class="input-group">
            <input type="text" class="form-control input-sm" disabled title="{{$ctrl.model.dictAttributes.calledElement}}" ng-model="$ctrl.model.dictAttributes.calledElement" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.calledElement'" />
            <span class="input-group-addon btn-search-popup cursorP" ng-click="$ctrl.selectCallElement()"></span>
        </div>
    </div>
</fieldset>


