<fieldset ng-disabled="$ctrl.isDisabledforVersioning" class="full-width">
    <div class="form-group">
        <label class="control-label marg-bottom-5">Display Name</label>
        <input type="text" ng-disabled="$ctrl.isDisabledforVersioning" class="form-control input-sm" title="{{$ctrl.model.dictAttributes.DisplayName}}" ng-model="$ctrl.model.dictAttributes.DisplayName" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.DisplayName'" />
    </div>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Description</label>
        <input type="text" ng-disabled="$ctrl.isDisabledforVersioning" class="form-control input-sm" title="{{$ctrl.model.dictAttributes.Description}}" ng-model="$ctrl.model.dictAttributes.Description" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.Description'" />
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-disabled="$ctrl.isDisabledforVersioning" title="{{$ctrl.model.dictAttributes.sfwSLAFromVariable}}" ng-model="$ctrl.model.dictAttributes.sfwSLAFromVariable" undoredodirective model="$ctrl.model" ng-change="$ctrl.onChangeSLAFromVariable()" propertyname="'dictAttributes.sfwSLAFromVariable'" />
            <span class="control-label">SLA from Map Variable</span>
        </label>
    </div>
    <processusertaskcommonproperties model="$ctrl.model" is-disabledfor-versioning="$ctrl.isDisabledforVersioning" datetypevariables="$ctrl.dateTypeVariables" inttypevariables="$ctrl.intTypeVariables" sla-from-variable="$ctrl.model.dictAttributes.sfwSLAFromVariable"></processusertaskcommonproperties>
</fieldset>


