<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">ID</label>                
                    <input type="text" class="form-control input-sm" placeholder="Enter ID" title="{{objNewTest.dictAttributes.ID}}" ng-model="objNewTest.dictAttributes.ID" />              
            </div>

            <div class="form-group">
                <label class="control-label">Effective Date</label>                
                    <input class="form-control input-sm form-control input-sm-inline date-picker" size="16" type="text" ng-model="objNewTest.dictAttributes.sfwEffectiveDate" placeholder="Enter Effective Date">              
            </div>
            </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Description</label>           
                    <textarea type="text" class="form-control input-sm" placeholder="Enter Description" ng-model="objNewTest.dictAttributes.Text" ng-trim="false"/>               
            </div>
        </div>
     </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="ErrorMessageForDisplay" ng-bind="ErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" ng-click="AddNewTest()" ng-disabled="ValidateTestID()" id="btnAddTest" class="dialog-btn"/>
        <input type="button" value="Cancel" ng-click="dialog.close()" id="btnAddTest" class="dialog-btn"/>
    </div>
</div>