<div class="portlet-body scenario-overflow-hide">

    <div class="page-subheading fleft">Fields</div>

    <div id="dvButtons" class="fright">
        <a id="addField" ng-click="AddCollectionField()" title="Add" ng-hide="IsExcelBasedScenario"><img src="images/Common/icon_add_dark.svg" /></a>
        <a ng-hide="IsExcelBasedScenario"><img src="images/Scenario/icon-addcolumns.svg" id="AddColumns" ng-click="AddColumnForCollection()" title="Add Column" /></a>
        <a ng-click="DeleteCollectionField()" title="Delete" id="deleteField" ng-hide="IsExcelBasedScenario"><img src="images/Common/icon_delete_dark.svg" /></a>
    </div>

    <div class="scenario-popup-body">
        <table cellspacing="0" cellpadding="0" class="sws-table" role="grid">
            <thead>
                <tr>
                    <th ng-repeat="objcol in SelectedTestField.lstCollectionColumn" model="objcol" context-menu="menuOptionForCollection">{{objcol.istrName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr collactionrowdirective ng-repeat="objcol in SelectedTestField.Elements" items="objcol" model="SelectedTestField"
                    objentity="SelectedTestField.objentity" objselectedstep="objselectedstep"
                    ng-click="UpdateSelectedCollectionField(objcol)" isexcelbasedscenario="IsExcelBasedScenario" ng-disabled="isexcelbasedscenario" ng-class="{'selected':SelectedTestField.SelectedFieldsVM == objcol}"></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <button ng-click="onCancelClick()" class="dialog-btn-default" >OK</button>
</div>
