
<div class="portlet-body scenario-overflow-hide">
    <div class="form-group checkbox-row" ng-show="objLogicalRule.RuleType == 'DecisionTable'">
        <label class="control-label text-nowrap">Show Only Executed Path</label>

        <input type="checkbox" value="Show Only Executed Path" ng-model="blnShowOnlyExecutedPath" ng-checked="blnShowOnlyExecutedPath" ng-change="ShowOnlyExecutedPath(blnShowOnlyExecutedPath)"
               class="popup-single-checkbox fleft marg-right-10 marg-top-10" />

    </div>

    <div class="scenario-popup-body" ng-class="objLogicalRule.dictAttributes.sfwRuleType == 'LogicalRule' ?  'full-height' : 'excelmatrix-result' ">
        <ruledirectiveforscenarioexecution logicalrule='objLogicalRule' objselectedlogicalrule="objSelectedLogicalRule" scenarioruntype="scenarioruntype"></ruledirectiveforscenarioexecution>
       </div>
</div>
<div class="form-actions">
    <input type="button" value="OK" ng-click="callRuleExecutionDialog.close()" class="fright dialog-btn" />
</div>