<div class="full-height">
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th colspan="9">
                        <a href="#" ng-click="ctrl.populateParameters(constraint)">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </th>
                </tr>
                <tr role="heading">
                    <th>Parameter Name</th>
                    <th>Data Type</th>
                    <th>Value</th>
                    <th>Is Constant</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="param in constraint.parameters">
                    <td ng-bind="param.id"></td>
                    <td ng-bind="param.datatype"></td>
                    <td>
                        <div ng-show="!param.isConstant">
                            <entityfieldelementintellisense validate="true" isempty="true" propertyname="'expression'" modebinding="param.expression" model="param" entityid="ctrl.entityId"></entityfieldelementintellisense>
                        </div>
                        <input  ng-show="param.isConstant" class="form-control input-sm" type="text" ng-model="param.expression" />
                    </td>
                    <td>
                        <input type="checkbox" ng-model="param.isConstant"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-actions right">
        <div class="col-xs-8 text-left">
            <span class="text-danger" ng-bind="errorMessage"> </span><span class="text-danger" ng-if="errorMessage"></span>
        </div>
        <div class="col-xs-4">
            <input type="button" value="OK" class="btn dialog-btn-default" ng-click="okClick()" ng-disabled="errorMessage" />
            <input type="button" value="Cancel" class="btn dialog-btn" ng-click="dialog.close()" />
        </div>
    </div>
</div>