<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=SAGITEC-1886\SQLEXPRESS;Initial Catalog=SWS;Integrated Security=True"/>-->
    <!--<add key="ConnectionString" value="Data Source=SAGITEC-1974\SQLEXPRESS;Initial Catalog=SWS;Persist Security Info=True;User ID=devuser;Password=Sagitec11"/>-->
    <add key="ConnectionString" value="Data Source=PUNE-SQL-03;User ID=devuser;password=Sagitec11;Initial Catalog=SWSNew;TimeOut=10;Persist Security Info=True;Asynchronous Processing=True"/>
    <add key="DataProvider" value="System.Data.SqlClient"/>
    <add key="Port" value="1288"/>
    <add key="DomainName" value="mail.sagitec.com"/>
    <add key="domain:sagitec" value="LDAP://DC=CORP,DC=SAGITEC,DC=COM"/>
  </appSettings>
</configuration>
