<div class="portlet-body" id="$id">
    <div class="form-group">
        <table class="sws-table">
            <thead>
                <tr>
                    <th style="width:30%;">ID</th>
                    <th style="width:20%;">Type</th>
                    <th style="width:50%;">Input Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Elements" ng-class="selectedItem==item?'selected':''" ng-click="OnItemClick(item)">
                    <td><span ng-bind="item.dictAttributes.ID"></span></td>
                    <td><span ng-bind="item.dictAttributes.sfwDataType"></span></td>
                    <td>
                        <input type="text" class="form-control form-filter" title="item.dictAttributes.Value" ng-model="item.dictAttributes.Value" ng-hide="item.dictAttributes.sfwBookmarkType == 'Template' || item.dictAttributes.sfwBookmarkType == 'Table'" />
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="OpenPopup(item)" ng-show="item.dictAttributes.sfwDataType == 'Collection' && item.dictAttributes.sfwBookmarkType == 'Template'" /></a>
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="OpenPopup(item)" ng-show="item.dictAttributes.sfwBookmarkType == 'Table'" /></a>
                        <a><img src="images/Common/icon_add_dark.svg" ng-click="OpenPopup(item)" ng-show="item.dictAttributes.sfwDataType == 'Entity' && item.dictAttributes.sfwBookmarkType == 'Template'" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="groupErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="openAddItemToListForEntity.close()" />
    </div>
</div>
