<div class="portlet-body" style="overflow:hidden!important">
    <div class="col-xs-6 full-height">
        <newentityobjecttreetemplate ischeckboxvisible="false" selectedfield="entityTreeBinding.selectedobject" lstdisplayentity="entityTreeBinding.lstentities"
                                     selectedentityobjecttreefields="entityTreeBinding.lstselectedobjects" entityname="FormEntity"></newentityobjecttreetemplate>
    </div>
    <div class="col-xs-6">
        <table>
            <thead>
                <tr>
                    <th>Parameter Field</th>
                    <th>Parameter Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="objParam in Elements" ng-click="onParameterSelected(objParam)" ng-class="SelectedParameter==objParam?'selected':''">
                    <td><span ng-bind="objParam.dictAttributes.ID"></span></td>
                    <td>
                        <input type="text" class="form-control input-sm" title="{{objParam.dictAttributes.sfwEntityField}}" ng-model="objParam.dictAttributes.sfwEntityField" basequeryparamdroppable dragdata="entityTreeBinding.selectedobject" dropdata="objParam"
                               ng-keydown="onParamFieldChange(objParam,$event)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOkClick()" />
    <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="dialog.close()" />
</div>
