DIV.basic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;font: normal 12px verdana; width:100%;
}
.basic > A {
	font-weight:bold; PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; CURSOR: pointer; COLOR: #336699; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none; outline: none
}
.basic > A.selected {
	PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; CURSOR: pointer; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none; outline: none
}
.basic > A.active {
	PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; CURSOR: pointer; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none; outline: none
}
.basic > A:hover {
	PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; CURSOR: pointer; COLOR: #459cf4; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none; outline: none
}
.basic > A {
	BACKGROUND: url(image/tab.gif) #4c5356
}
.basic > A.selected {
	BACKGROUND-IMAGE: url(Image/tab.gif)
}
.basic > A.active {
	BACKGROUND-IMAGE: url(Image/tab-hover.gif)
}
.basic > A:hover {
	BACKGROUND-IMAGE: url(Image/tab-hover.gif);color:#333;
}
.basic > A.active {
	COLOR: #00c
}
.basic > DIV {
}
.basic > DIV.scrolling {
	OVERFLOW: auto! important
}
.basic > DIV > P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 1.5ex 0px; PADDING-TOP: 0px
}
.basic > DIV > UL {
	MARGIN-TOP: 1ex
}
