/*CollapsiblePanel*/
.ContainerPanel
{
	width:100%;
	overflow:auto;

}
.collapsePanelHeader
{
    background-image: url(Image/Round_Bg.gif);
    background-repeat: repeat-x;
    width: 100%;
    color: #336699;
    font-weight: bold;
    vertical-align:top;
    height:23px;
    cursor:hand;
}
.HeaderContent
{
	float:left;
	padding-left:10px;
	padding-top:2px;
	font-size:11px;
}
.Content
{
	
}
.ArrowExpand
{
	background-image: url(Image/ExpandPanel.jpg);
	background-repeat: no-repeat;
	background-position:top;
	width:24px;
	height:23px;
	float:right;
	padding-right:10px;
}
.ArrowExpand:hover
{
	cursor:hand;
}
.ArrowClose
{
	background-image: url(Image/CollapsePanel.jpg);
	background-repeat: no-repeat;
	background-position:top;
	width:24px;
	height:23px;
	float:right;
	padding-right:10px;
}
.ArrowClose:hover
{
	cursor:hand;
}
