 /**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#mnuMain {
    height:32px;
    position:absolute;
	/*top:60px;*/ /* herizontal menu mouseover background color text links dated on : 11/25/2010 */
	top:86px;
	left:20px;
	width:100%;
}


div#mnuMain ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#mnuMain ul.menu {
    padding-left: 0px;
	
}


div#mnuMain li:hover>ul {
    left: -2px;
}

div#mnuMain a {
    position: relative;
    z-index: 10;
    /*height: 41px;*/ 
	height:22px;	/* herizontal menu mouseover background color text links dated on : 11/25/2010 */
    display: block;
    float: left;
    /*line-height: 41px;*/
	line-height:22px; /* herizontal menu mouseover background color text links dated on : 11/25/2010 */
    text-decoration: none;
    font: normal 11px verdana;
     
}
div#mnuMain a:hover, div#mnuMain a:hover span { color: #fff; background-color:#6fc4d1;}
div#mnuMain li.current a {}

div#mnuMain span {
    /*display: block;*/ /* herizontal menu mouseover background color verticle text links dated on : 11/25/2010 */
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#mnuMain ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(image/item-pointer.gif);
}
div#mnuMain ul ul a.parent:hover span {
    background-image: url(image/item-pointer-mover.gif);
}

/* menu::level1 */
div#mnuMain a {
    padding: 0px 15px 0px 12px;
    line-height: 20px;
    color: #fff;
	font-weight:bold;
}
div#mnuMain a.static {
    padding: 0px 15px 0px 12px !important;
	/*background: url(image/menu_seperate.gif) no-repeat scroll right center transparent !important;*/
}
div#mnuMain span {
    margin-top: 2px;
}/**@replace#1*/
div#mnuMain ul li.static { background: url(Image/menu_seperate.gif) 98% 2px no-repeat; }
div#mnuMain li.last { background: none; }

/* menu::level2 */

div#mnuMain ul ul {
    position: absolute;
    /*top: 28px;*/
	/*display:inline-block !important;*/ /*to display all menu at a time */
	top: 20px !important;  /* dropdown menu padding adjustment for text align verticle center & reduced height dated on : 11/25/2010 */
    left: -999em;	
    /*padding: 5px 0 0 0;*/ /* herizontal menu padding adjustment for spacing between text links dated on : 11/25/2010 */
  /*  background: rgb(45,45,45);*/
  	margin:0px !important;
	 background: url(image/WebResource.gif) no-repeat scroll right center transparent !important;
}
div#mnuMain ul ul a {
    padding: 5px 10px 5px 10px; /* dropdown menu padding adjustment for text align verticle center & reduced height dated on : 11/25/2010 */
    float: none;
    display: block;
    color:#fff;
	/*border-bottom:1px solid #fff !important; */ /* add if needed border*/
	}
div#mnuMain ul ul a:hover
{
    float: none;
    display: block;
    /*padding: 5px 10px 5px 10px;*/ /* dropdown menu padding adjustment for text align verticle center & reduced height dated on : 11/25/2010 */
    background-color:#6fc4d1;
    color:#fff;
}
div#mnuMain ul li ul li  {
	display:block;
	background-color:#2c6169;
	border-bottom:1px solid #fff;
}
div#mnuMain ul li ul li:hover  {
	display:block;
	background-color:#6fc4d1;
	border-bottom:1px solid #fff;
}
div#mnuMain ul ul span {
    margin-top: 0;
    padding: 5px 0px 5px 10px; 
    _padding-right: 20px;
    color:#fff;
}
div#mnuMain ul ul a:hover span 
{
    background-color:#6fc4d1;
    padding: 5px 0px 5px 10px; 
    color: #fff;
    
}
/* menu::level3 */
div#mnuMain ul ul ul.dynamic {
    padding: 0;
    margin: -20px 0 0 0px !important;    
}

/* colors */
/*div#mnuMain ul ul ul { background-color: #6fc4d1; }
div#mnuMain ul ul ul ul { background-color: #6fc4d1; }
div#mnuMain ul ul ul ul { background-color: #6fc4d1; }
*//*div#mnuMain ul ul ul { background: rgb(41,41,41); }
div#mnuMain ul ul ul ul { background: rgb(38,38,38); }
div#mnuMain ul ul ul ul { background-color: rgb(35,35,35); }
*/
/* lava lamp */
#mnuMain a.popout-dynamic 
{
	 background: url(image/SubMenuArrow.gif) no-repeat scroll right center transparent !important;
	 padding:5px 14px 5px 5px !important;
}
div#mnuMain li.back {
    background: url(images/lava1.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#mnuMain li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}
#mnuMain a.popout {
background: url(image/WebResource.gif) no-repeat scroll right center transparent !important;
padding-right:14px !important;
}

#mnuMain ul.static /* framework upgradation changes */
{
    padding-top:0px !important;
}