.modalBackground
{
	border:1px solid #aaa;
	border:none !important;
	background-color:#fff;
	text-align:center;
	background:url("Image/loadingBg.png") no-repeat scroll left 5px transparent;/* framework upgradation */
}
.updateProgress
{
	border:1px solid #aaa;
	border-top:none !important;
	border-right:none !important;
	background-color:#FFFFFF;
	width:130px;
	height:70px;
	margin:0px auto;
	text-align:center !important;
	margin-left:-1px !important;
	*margin-left:-66px !important;
}
/*.progressBarImg
{
	*margin-left:55px;
	*display:inline-block;
}*/

.progressBarImg /* framework upgradation */
	{
		margin-left:-329px;
		margin-top:10px; /* framework upgradation */
	
	}
	
.updateProgressMessage-wait /* framework upgradation */
	{
		color:#2e3a3d;
		padding-top:5px;
		font-size:small;
		font-weight:bold !important;
		font:normal 11px Verdana, Geneva, sans-serif !important;
		float:left;
		margin-left:25px;
	}

.updateProgressMessage
{
	font-family:Trebuchet MS;
	font-size:small;
	margin-left:-218px;
	
}
#pnlPopup /* framework upgradation */
    {
        background:none repeat scroll 0 0 transparent !important;
        border:medium none !important
    }	