
.k-block, .k-widget {
    border-color: #556080;
    background-color: #fff;
    font-size: 8.8pt;
}

.k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link {
    display: block;
    position: relative;
    padding: 3px;
    text-decoration: none;
    font-size: 10pt;
    color: #fff;
}





#CenterLeft .k-panelbar > li > .k-link {
    display: block;
    position: relative;
    text-decoration: none;
    line-height: 32px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    background: #84d9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #84d9f9 0%, #2b96be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84d9f9), color-stop(100%,#2b96be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #84d9f9 0%,#2b96be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #84d9f9 0%,#2b96be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #84d9f9 0%,#2b96be 100%); /* IE10+ */
    background: linear-gradient(to bottom, #84d9f9 0%,#2b96be 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84d9f9', endColorstr='#2b96be',GradientType=0 ); /* IE6-9 */
}


/*.k-i-calendar {
  margin-left: -15px !important;
}*/


.k-menu {
    background-color: #fff;
    font-size: 10pt !important;
}

    .k-menu .k-item {
        color: #ffffff;
        background: #2f5e8e;
        margin-bottom: 1px;
        font-size: 9pt;
    }

        .k-menu .k-item .k-link:hover {
            color: #ffffff;
            background: #000;
            margin-bottom: 1px;
        }




.popbutton {
    font: bold 12px Tahoma, Geneva, sans-serif;
    font-style: normal;
    color: #ffffff;
    background: #e88f30;
    border: 0px solid #ffffff;
    text-shadow: 0px 0px 0px #575757;
    box-shadow: 1px 1px 3px #808080;
    -moz-box-shadow: 1px 1px 3px #808080;
    -webkit-box-shadow: 1px 1px 3px #808080;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 2px;
}

    .popbutton:active {
        cursor: pointer;
        position: relative;
        top: 2px;
    }

    .popbutton:hover {
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    }

.button2 {
    font: normal 13px Verdana, Geneva, sans-serif;
    font-style: normal;
    color: #ffffff;
    background: #06090f;
    border: 3px solid #9399cc;
    text-shadow: 0px 0px 0px #fff;
    box-shadow: 3px 3px 9px #060408;
    -moz-box-shadow: 3px 3px 9px #060408;
    -webkit-box-shadow: 3px 3px 9px #060408;
    border-radius: 30px 0px 30px 0px;
    -moz-border-radius: 30px 0px 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;
    padding: 2px 21px;
    cursor: pointer;
    margin: 0 auto;
}

    .button2:active {
        cursor: pointer;
        position: relative;
        top: 2px;
    }


th .k-link {
    white-space: pre-wrap !important;
}


.k-menu {
    background: #2f5e8e; /* Old browsers */
}

.testBg {
    color: #fff;
    background: #2f5e8e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2NzY2OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NCUiIHN0b3AtY29sb3I9IiMyYzMyNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover, #2f5e8e 0%, #152a3f 74%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2f5e8e), color-stop(74%,#152a3f)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #2f5e8e 0%,#152a3f 74%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #2f5e8e 0%,#152a3f 74%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #2f5e8e 0%,#152a3f 74%); /* IE10+ */
    background: radial-gradient(ellipse at center, #2f5e8e 0%,#152a3f 74%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5e8e', endColorstr='#152a3f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.Chartconfiguration {
    padding: 10px !important;
    padding-left: 20px !important;
}

.LeftSidePanels {
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 5px 20px #aeaeb2;
    -moz-box-shadow: 0px 5px 20px #aeaeb2;
    -webkit-box-shadow: 0px 5px 20px #aeaeb2;
    z-index: 100;
    background: rgb(230,241,246); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZjFmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGNlZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(230,241,246,1) 0%, rgba(180,206,236,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,241,246,1)), color-stop(100%,rgba(180,206,236,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(230,241,246,1) 0%,rgba(180,206,236,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(230,241,246,1) 0%,rgba(180,206,236,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(230,241,246,1) 0%,rgba(180,206,236,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(230,241,246,1) 0%,rgba(180,206,236,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f6', endColorstr='#b4ceec',GradientType=0 ); /* IE6-8 */
}

.GoToLinks {
    color: #333333;
    font-size: 14px;
    display: none;
    position: fixed;
    padding: 10px;
    background-color: #FFFFFF;
    z-index: 1000;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #556080;
    margin-left: 50px;
}

    .GoToLinks ul {
        padding-left: 15px !important;
        list-style: none;
    }

    .GoToLinks li {
        padding-bottom: 5px;
        padding-left: 10px !important;
    }
        .GoToLinks li:last-child {
        padding-bottom:0;
        } 
        .GoToLinks b {
            color: #000;
            padding: 3px;
        }
    .GoToLinks hr {
        display: none;
    }
.s-divGotoLinkUlContents {
    margin: 10px 0;
}

.GoToLinksTrigger {
    position: fixed;
    z-index: 100;
    height: 25px;
    width: 25px;
    background: url(../Images/info.png) transparent no-repeat center;
    border: 0;
    cursor: pointer;
    margin-left: 5px;
}

.scrollit:hover {
    cursor: pointer;
    color: #007acc;
    text-decoration: underline;
}


#DivExportCols {
    -webkit-transition: margin-left 1s ease-in-out;
}

.DirtyFormStar {
    color: red;
    font-size: 2em;
    position: absolute;
    padding: 0px 5px 0px 5px;
}



a.tab-close {
    cursor: pointer;
    z-index: 2;
    font-size: small;
    font-weight: bold;
    color: #000080;
}

    a.tab-close :hover {
        cursor: pointer;
        z-index: 2;
        font-size: small;
        font-weight: bold;
        color: #FFFF00;
        text-decoration: underline;
    }


/************************** Tree View Lines CSS*************************************/

.k-treeview-lines .k-top, .k-treeview-lines .k-mid, .k-treeview-lines .k-bot {
    background-image: url('../../Image/treeview-nodes.png');
}

.k-treeview-lines .k-item {
    background-image: url('../../Image/treeview-line.png');
}

.k-treeview-lines .k-last {
    background-image: none;
}


.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot {
    background-repeat: no-repeat;
    margin-left: -16px;
    padding-left: 16px;
}

.k-treeview-lines .k-top {
    background-position: -91px 0;
}

.k-treeview-lines .k-bot {
    background-position: -69px -22px;
}

.k-treeview-lines .k-mid {
    background-position: -47px -44px;
}

.k-treeview-lines .k-last .k-top {
    background-position: -25px -66px;
}

.k-treeview-lines .k-group .k-last .k-bot {
    background-position: -69px -22px;
}

.k-treeview-lines .k-item {
    background-repeat: no-repeat;
}

.k-treeview-lines .k-first {
    background-repeat: no-repeat;
    background-position: 0 16px;
    background-color: #f6f4e9;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    overflow: auto;
}

.delete-treenode-link {
    width: 12px;
    height: 12px;
    background: transparent url("../../Image/close.png") no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
}

/**************************Left Navigationn CSS*************************************/
ul#navigation {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 20px;
    left: 0px;
    list-style: none;
    z-index: 100;
}

    ul#navigation li {
        width: 20px;
    }

    ul#navigation .navDiv {
        display: block;
        margin-left: -2px;
        width: 100px;
        height: 70px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 2px 2px 3px #94c0d2;
        -moz-box-shadow: 2px 2px 3px #94c0d2;
        -webkit-box-shadow: 2px 2px 3px #94c0d2;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
    }

    ul#navigation .sideitem .navDiv {
        border-width: thin medium thin thin;
        border-color: #152a3f;
        border-right-style: solid;
        border-top-style: solid;
        border-bottom-style: solid;
    }

.k-tabstrip {
    padding: 0 !important;
    border: none !important;
}

    .k-tabstrip .k-content {
        padding: 5px !important;
        border: 0px !important;
    }

.k-widget .k-header .k-tabstrip, .k-panelbar .k-content {
    background-image: none !important;
}

.k-tabstrip .k-content, .k-panelbar .k-tabstrip .k-content {
    border: 1px solid #888888 !important;
    background: #b3e8ff !important;
}

/*.k-tabstrip-items {
}*/

    .k-tabstrip-items .k-state-default .k-link {
        /*non-active state styles - text color*/
        color: #FFFFFF;
    }

    .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item {
        color: #FFFFFF;
        margin-right: 3px;
        background: #509bba; /* Old browsers */
        background: -moz-linear-gradient(top, #509bba 0%, #20495b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#509bba), color-stop(100%,#20495b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #509bba 0%,#20495b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #509bba 0%,#20495b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #509bba 0%,#20495b 100%); /* IE10+ */
        background: linear-gradient(to bottom, #509bba 0%,#20495b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509bba', endColorstr='#20495b',GradientType=0 ); /* IE6-9 */
    }

        .k-tabstrip-items .k-item :hover {
            background-color: #b3e8ff !important;
            background-image: none;
            color: #000;
        }

    .k-tabstrip-items .k-state-active {
        color: #000 !important;
        background-color: #b3e8ff !important;
        font-weight: bold;
        border-bottom: 0px !important;
        border: 1px solid #888888;
    }

        .k-tabstrip-items .k-state-active .k-link {
            background-color: #b3e8ff !important;
            top: 1px;
            position: relative;
            color: #185b80;
            /*active state styles - text color*/
        }

    .k-tabstrip-items .k-first {
        margin-left: 0px !important;
    }


.k-pager-numbers .k-state-selected {
    background-color: #193658 !important;
}

.crumDiv {
    margin-top: 0px;
    padding-left: 35px;
    background: #FFFFFF;
    padding: 0px 10px 0px 0px;
    float: left;
    width: 100%;
}
.userinfo-welcome-menu {
    float: right;
    font-size: 14px;
    width: 100%;
    color: #333;
    padding: 20px 10px 10px;
    text-align: right;
    cursor:default;
}
.crumLinks {
    cursor: pointer;
}

#dropDiv {
    border: thin solid #800080;
    color: #CCC;
    display: none;
    background: #000;
    height: auto;
    z-index: 1999;
    opacity: 0.6;
    position: absolute;
    top: 100px;
    left: 500px;
    height: 400px;
    width: 600px;
    text-align: center;
    vertical-align: middle;
}

.dropTd {
    text-align: center;
    width: 50%;
}

    .dropTd:hover {
        background-color: #f7e40c;
        color: #2e2300;
    }

.k-grid-header .k-header {
    background: #387e9f; /* Old browsers */
    background: -moz-linear-gradient(top, #387e9f 0%, #1975a0 29%, #23617d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#387e9f), color-stop(29%,#1975a0), color-stop(100%,#23617d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #387e9f 0%,#1975a0 29%,#23617d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #387e9f 0%,#1975a0 29%,#23617d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #387e9f 0%,#1975a0 29%,#23617d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #387e9f 0%,#1975a0 29%,#23617d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#387e9f', endColorstr='#23617d',GradientType=0 ); /* IE6-9 */
    white-space: nowrap !important;
}

    .k-grid-header .k-header .k-link {
        color: #FFFFFF !important;
        white-space: normal !important;
        padding: 3px !important;
    }

.k-grid .k-grouping-header {
    background-color: #dcd8d2 !important;
    background-image: none;
}

.k-grid .k-group-indicator {
    background-color: #daecf4;
}



.k-grid td {
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .4em .6em;
    line-height: 1.6em;
    vertical-align: middle;
    white-space: nowrap;
}

.ui-layout-west .k-grid td {
    white-space: normal !important;
}

.k-grid-edit-row .check_row {
    padding-left: 5px;
}

.k-grid-edit-row td {
    padding: 2px !important;
}

/*.k-grid .k-widget {
    height: 27px;
    padding: 5px 11px 3px 11px;
}*/

.k-grid-pager {
    background-color: #D3F1FF !important;
    background-image: none !important;
}


.k-link:link,
.k-link:visited {
    color: #000;
}

.GridLinks {
    height: 100%;
    width: 100%;
    color: #00f;
    text-decoration: none;
}

    .GridLinks a {
        text-decoration: none;
    }

    .GridLinks:hover {
        text-decoration: none;
    }

    .GridLinks a:link {
        color: #e48f36;
        text-decoration: none;
    }

/********************* Sidebar Panel*******************/


div.trigger.left {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    display: block;
    position: relative !important;
    padding-left: 5px;
    z-index: 200;
    cursor: pointer;
    -webkit-transition: background .1s ease;
    -moz-transition: background .1s ease;
    transition: background .1s ease;
    /*vertical-align: bottom;*/
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}

    div.trigger.left:hover {
        background: #acbe78;
    }

div.trigger.right {
    right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.lookups {
    background: url("../../Images/lockups.png") !important;
    height: 118px !important;
}

.org {
    background: url("../../Images/org.png") !important;
    height: 110px !important;
}

.navigator {
    background: url("../../Images/navigator.png") !important;
    height: 117px !important;
}

    .navigator:hover {
        background: url("../../Images/navigator-hover.png") !important;
        height: 117px !important;
    }

.org:hover {
    background: url("../../Images/org-hover.png") !important;
    height: 110px !important;
}

.lookups:hover {
    background: url("../../Images/lockups-hover.png") !important;
    height: 118px !important;
}



.panel {
    border: none;
    position: absolute;
    display: none;
    height: auto;
    z-index: 199;
}

    .panel.left {
        padding-left: 10px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        margin-left: 20px;
        overflow: visible;
        z-index: 999;
    }

    .panel.right {
        right: 0;
        padding-right: 30px;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }

    .panel p {
        font-size: 11px;
    }


.delete-link {
    width: 12px;
    height: 12px;
    background: transparent url('../../Image/close.png') no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}



#SlideOutLookup {
    /*background-color: #acbe78;*/
    background-color: #D4D5C7;
    width: 75%;
    height: 80%;
    padding: 10px 20px 0px 0px;
    -moz-box-shadow: 5px 2px 5px #6b6b6b;
    -webkit-box-shadow: 5px 2px 5px #6b6b6b;
    box-shadow: 5px 2px 5px #6b6b6b;
}


#SlideOutOrgSearchLookup {
    width: 22%;
    height: 60%;
}

#SlideOutTree {
    height: 75%;
    padding: 5px;
    padding-right: 40px;
    margin: 12px 0px 0px 13px;
}




/******* AUTOCOMPLETE FORMS ***********/

.runtimeSelect {
    z-index: 2000;
    overflow: visible;
}

.AutocompleteEditor {
    border: 1px solid black;
    width: 100%;
    overflow: auto;
}

.AutocompleteResult {
    height: 350px;
    width: 100%;
}

.autocompleteUpperDiv {
    border: thin solid #FF00FF;
    padding: 2px;
    margin: 1px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: sans-serif;
    position: absolute;
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-size: small;
    z-index: 20;
}

.SelectTextLink {
    cursor: pointer;
    color: #4ee9e4;
    font-weight: bold;
}

.configpanel {
    background: #feffe8; /* Old browsers */
    background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #feffe8 0%,#d6dbbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #AFAD89;
    padding: 5px;
    margin: 2px;
}

    .configpanel .confighead {
        color: #333;
        font-size: 14px;
        padding: 2px 0px 5px 0px;
    }

.tooltip {
    text-align: center;
    color: black;
    display: none;
    position: absolute;
    z-index: 9999;
}

    .tooltip .text {
        background-color: black;
        color: white;
        margin-top: -15px;
    }

    .tooltip .arrow {
        margin-bottom: 8px;
        margin-top: -5px;
    }

    .tooltip td {
        text-align: left;
        vertical-align: middle;
    }

    .tooltip .leftTd {
        text-align: right;
        padding-right: 5px;
        vertical-align: middle;
    }

#drpLookupNamesParent {
    position: absolute;
    margin: 50px 0px 0px 30px;
    z-index: 999;
}

#LookupNameDiv {
    margin: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    margin-left: 20px;
    background: #483D39;
    border: 2px solid #35262a;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
    position: absolute;
    display: none;
    color: #fff;
    min-width: 200px;
    z-index: 9999;
}

    #LookupNameDiv ul {
        width: 100%;
    }

        #LookupNameDiv ul li {
            width: 100%;
            list-style-type: none;
            height: 20px;
            color: #fff;
        }

            #LookupNameDiv ul li a div {
                padding: 2px 0px 2px 5px;
            }

            #LookupNameDiv ul li a {
                color: #fff;
            }

            #LookupNameDiv ul li:hover {
                background: #ffa200;
                background: -moz-linear-gradient(top, #ffa200, #ffa200);
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffa200), to(#ffa200));
                list-style-type: none;
                color: #fff;
            }

.downarrow {
    background-image: url('../Images/downarrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.LookupDropLink {
    cursor: pointer;
    font-weight: normal;
    color: #660066;
    width: 100%;
    height: 20px;
}

.formNavigationPrev {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    background: url('../Images/arrow-prev.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border: 0;
}

.formNavigationPrevDisabled {
    margin: 0px 5px 0px 5px;
    background: url('../Images/disabled-prev.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border-style: none;
}

.formNavigationNext {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    background: url('../Images/arrow-next.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border: 0;
}

.formNavigationNextDisabled {
    margin: 0px 5px 0px 5px;
    background: url('../Images/disabled-next.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border-style: none;
}



.k-popup .k-list .k-item {
    min-height: 1.8em;
}


/***************************************************** New Styles ***********************************************************/


.SlideoutSplitter {
    background: #03314e !important;
    width: 15px;
    height: 800px;
    position: fixed;
}

.k-pager-wrap .k-textbox, .k-pager-wrap .k-widget {
    padding: 3px !important;
}

.k-pager-info {
    float: none !important;
    color: #333333;
}



.k-pager-numbers li, .k-pager-input {
    margin-left: 5px;
}

.k-pager-input, .k-pager-sizes {
    color: #333333;
}

input[type="checkbox"] {
    margin-right: 5px;
}


.k-editable-area .k-content {
    border: none !important;
    background: none !important;
}

div.k-window
{
    border:0;
    box-shadow:none;
}

/*****************************************  WFM Wizard Styles**********************************************/

.WizardDiv {
    width: 100% !important;
    margin: 20px auto;
    overflow:hidden;
}

.ProgressBarDiv {
    display: block !important;
}

.ProgressBarDivParent {
    padding-top: 5px;
}

.WizardDiv .anchor {
    display: none;
}

.ProgressBar {
    margin-bottom: 0px !important;
}

.ProgressBarCaptionDiv {
    display: none !important;
}

.ProgressBar li {
    height: auto !important;
    /*padding-left: 70px !important;*/
    background: transparent !important;
    padding:0 10px!important;
}

/*.ProgressBar span {
    line-height: 60px !important;
}*/

.ProgressBar li:before {
    /*width: 45px !important;
    height: 45px !important;
    padding: 11px 15px 13px 15px !important;*/
    background: #eee;
    color: #FFFFFF !important;
}

/*.ProgressBar li:first-child:before {
    left: 30px !important;
}*/

.ProgressBar .ProgressHighlight:before {
    background: #556080 !important;
    color: #FFFFFF !important;
}


.ProgressBar .ProgressDone:before {
    background: #a8b776;
    color: #FFFFFF !important;
}

.ProgressBar .ProgressDone .stepSpan {
    color: #777;
}

.ProgressBar .ProgressHighlight {
    background: transparent !important;
}

/*.ProgressBar li:after {
    content: none !important;
}*/

.ProgressBar .stepSpan {
    color: #428bca;
    width: 100%;
    display: block;
    font-size: 17px;
    font-weight: bold!important;
    float:left;
}

/*.ProgressBar span {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
}*/

.swMain .stepContainer .StepTitle {
    display: none !important;
}

.stepContainer .k-panelbar > .k-item > .k-link {
    background: none !important;
    border: 0px !important;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #AAAAAA !important;
    font-size: 18px;
}
/*.stepContainer .k-panelbar:not([data-sfwControltype]) > .k-item > .k-link {
    pointer-events: auto;
}*/
.stepContainer .k-panelbar-collapse {
    background: none !important;
}

.stepContainer ul li .k-content {
    padding-top: 15px;
}

/*#wfmWssRefundProcessWizard0 #Main
{
    border:1px solid #CCCCCC !important;
}*/

.swMain div.actionBar {
    margin-right: 10px;
    margin-bottom: 10px;
}

/*****************************************  Benefit Estimates Wizard Styles**********************************************/

#wizMain .stepContainer {
    height: auto !important;
    /*border: 1px solid #CCCCCC !important;*/
    overflow: auto !important;
}

    #wizMain .stepContainer .Table td hr {
        margin: 0px !important;
    }

    #wizMain .stepContainer .Table td .button {
        display: inline-block;
    }

#wizMain .actionBar {
    padding: 10px 0px !important;
    margin: 10px 0px 0px 0px !important;
}

/*CollapsiblePanel*/
.ContainerPanel {
    margin-bottom: 10px;
    background: url(Images/acctab.png) no-repeat right -23px;
}

.HeaderContent {
    color: #fff;
    *height: 22px;
    background: #81a7ca url(Images/acctab.png) no-repeat left top;
}
/* pir 8613
.ArrowExpand
	{
		background:url(Images/innerbtnbg.png) repeat-x left -253px;
	}*/
.ArrowClose {
    background: url(Images/innerbtnbg.png) repeat-x left -234px;
}
/*.stepSelect
	{
	    float:left;
		width:24px;
		height:24px;
	    color:#014274;
	    font-weight:bold;
	    text-align:center;
	    padding:4px 0px 0px 0px;
		margin:0px 0px 0px 7px;
		background:url(Images/stepSelectBg.png) no-repeat left top transparent;
	}
.stepNormal
	{
	    float:left;
		width:24px;
		height:24px;
	    color:#6c6c6c;
	    text-align:center;
		font-weight:bold;
	    padding:4px 0px 0px 0px;
		margin:0px 0px 0px 7px;
		background:url(Images/stepNormalBg.png) no-repeat left top transparent;
	}
.stepLabel
	{
	    float:left;
	    color:#014274;
	    text-align:center;
		font-weight:bold;
	    padding:4px 0px 0px 0px;
		margin:0px 0px 0px 0px;
	}
.wizbg {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	background-color: #e6e5e5;
	height: 26px;
	*height: 26px;
	padding: 0px;
}
.stepNormal {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	padding: 5px;
	height: 16px;
	*height: 16px;
	background-image: url(Images/stepnormal_r.gif);
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
}
.stepSelect {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	background-color: #3cc1f8;
	background-image: url(Images/wizard_high_bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 3px;
	padding-left: 10px;
	color: #FFF;
	text-align: center;
	height: 16px;
	*height: 16px;
}*/

#wizMain .swMain .steps {
    width: 100% !important;
    float: left !important;
    background: #93d8ef !important;
    margin-left: 0px !important;
    border: 1px solid #888888 !important;
}

/*.captionTd label
{
    display:block !important;
}*/

.swMain .stepContainer div.content {
    position: relative !important;
    height: auto !important;
}

.swMain .stepContainer {
    overflow: inherit !important;
    height: auto !important;
}

.ui-autocomplete {
    z-index: 9999;
}

#capPrimaryAccountFlag {
    display: none !important;
}

#btnStep1Next {
    display: none !important;
}

#wfmBenefitCalculationWebWizard0 .swMain .steps li {
    float: left;
    list-style-type: none;
    padding: 5px 30px;
    color: #555555;
}

#wfmBenefitCalculationWebWizard0 .swMain .steps {
    width: 100%;
    float: left;
    background: #a7e2f5 !important;
    border: 1px solid #a3a3a3 !important;
    margin-top: 10px;
}

    #wfmBenefitCalculationWebWizard0 .swMain .steps .start {
        color: #FFFFFF !important;
        background: #1f92b8;
    }

    #wfmBenefitCalculationWebWizard0 .swMain .steps .startnext {
        color: #FFFFFF !important;
        background: #1f92b8;
    }

.k-expand-padding.k-numeric-wrap .k-input {
    border: 1px solid #AAAAAA;
}

.autocompleteheader {
    background: #ae6ebe !important;
}

.autocompleteUpperDiv {
    background: #1f92b8 !important;
    border: 1px solid #555555 !important;
    width: 93% !important;
}

[controltype="panelbar"] li[aria-expanded='false'] > span {
    border-bottom: 0 !important;
}

.k-block > .k-header, .k-window-titlebar {
    left: 0px;
    font-size: 18px;
    line-height: 25px;
    background: #556080 !important;
    color: #FFFFFF !important;
    border-radius: 3px 3px 0px 0px !important;
}

/*.k-window {
    
    box-shadow: none;
    border-radius: 5px !important;
    width: 90% !important;
    padding-bottom:10px;
}*/

    .k-window .captionTd label {
        font-size: 14px;
    }

    .k-window .ui-datepicker-trigger {
        position: absolute;
    }

div.k-window .k-icon.k-i-close {
    background-image: url(../Images/close-white.svg);
    background-position: center;
    background-size:auto;
}

div.k-window .k-state-hover .k-icon.k-i-close {
    background-image: url(../Images/close-white.svg);
    background-position: center;
}

.k-window-action.k-link.k-state-hover {
    background: none !important;
    border: none !important;
}

.k-window-titlebar .k-window-actions {
    top: -3px;
    right: 10px;
}

.footerChat {
    z-index: 99;
}

.k-window-title {
    font-weight: normal !important;
    font-size: 16px;
}

a.k-window-action.k-link {
    right: 10px;
    position: relative;
    top: 0px;
}


.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

/*.k-panelbar .k-content{
    overflow : hidden !important;
}*/
