
/**************File Upload CSS********************/
.s-file-upload-container
{
    float: left;
    width: 100%;
    padding: 5px;
    border: 1px solid #888;
}



.s-file-button
{
    position: relative;
    float: left;
    padding: 6px 12px;
    background:linear-gradient(to bottom,  #7f7f7f 0%,#3c3c3c 100%);
    cursor: pointer;
    color: #fff;
    border-radius:3px;
}

input[type=file][allowmultiple=True]
{
    position: absolute !Important;
    font-size: small !important;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    opacity: 0;
    top: 0px;
    left: 0px;
    cursor: pointer;
    display: block;
}

.s-fileupload-list
{
    float: left;
    width: 100%;
    margin: 5px 0px;
}

.s-fileupload-button button
{
    position: relative;
    float: left;
    padding: 6px 12px;
    background: #555;
    cursor: pointer;
    color: #fff;
    border:0;
    margin-top:5px;
    border-radius:3px;
    background:linear-gradient(to bottom,  #7f7f7f 0%,#3c3c3c 100%);
}

.s-fileupload-item
{
    width: 100%;
    border: 1px solid #DDD;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0;
    float:left;
}

.s-fileupload-item-success {
          
            background: #eaf7ec url('../../Images/file-upload-success.svg') 99% center no-repeat;
           
        }

.s-fileupload-item-error {
          
            background: #f8a9a9 url('../../Images/file-upload-error.svg') 99% center no-repeat;
           
        }