@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../Images/bg.jpg');
    font-family: 'Poppins', sans-serif;
    color: #252525;
    background-position: right top;
    background-attachment: fixed;
}
::placeholder {
    color: #556080;
}
.login-wrapper {
    max-width: 550px;
    padding: 0px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login-row {
    width: 100%;
    float: left;
    margin: 0px 0px 15px;
    position:relative;
}

.login-caption {
    width: 25%;
    float: left;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

.login-textboxes {
    width: 100%;
    float: right;
    position: relative;
}

.control-label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.form-group, .login-content {
    margin: 10px 0px;
    position: relative;
}

input[type='text'], input[type='password'] {
    display: inline-block;
    width: 100%;
    padding: 5px 5px 5px 40px;
    font-size: 14px;
    border: 1px solid #3c6e7a;
    height: 35px;
}

.login-header {
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #bbb;
}
.login-inner-wrap {
    width: 100%;
    float: left;
    padding: 20px 50px 40px;
}
.logn-name {
    text-align: center;
    text-transform: uppercase;   
}
.logn-name hr {
    width: 100px;
    margin: 10px auto;
    text-align: center;
    display: block;
    border: 0.5px solid #ccc;
}
.logn-box-info{
    margin-bottom:5px;
}
.login-btn {
    background: #ff9100;
    color: #FFFFFF;
    padding: 8px 30px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s all ease-in-out;
    border: 1px solid #ff9100;
    width: 100%;
    text-transform:uppercase;
    margin-top:10px;
    font-weight:600;
}
.login-row label, .login-content label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
.login-btn:hover {
    background: #ff9100 !important;
    color: #FFFFFF;
}

    .login-btn:hover {
        background: #6b8a00;
    }

.alert-danger {
    color: red;
    font-size: 14px;
    text-align: right;
}

.remember-check {
    float: right;
    font-size: 14PX;
    margin-top: 10px;
}

.login-footer {
    float: right;
    font-size: 12px;
}

    .login-footer a {
        color: #0e2738;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        float: right;
        clear: both;
        margin-top: 5px;
    }

.login-neospin-logo {
    float: right;
    clear: both;
    margin-top: 20px;
}

.login-cotent {
    width: 100%;
    float: left;
}

.remember-me {
    float: right;
}

.field-validation-error, .logerror {
    font-size: 14px;
    color: red;
    display:block;
}
.login-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 19px;
    height: 19px;
}
.logerror
{
    float:left;
    width:100%;
}

.selectsearch {
    position: absolute !important;
    top: 7px !important;
    right: 10px;
}

select {
    width: 100%;
    padding: 8px;
}

.login-footer {
    float: right;
    font-size: 12px;
}

    .login-footer a {
        color: #0e2738;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        float: right;
        clear: both;
        margin-top: 5px;
    }

.login-neospin-logo {
    float: right;
    clear: both;
    margin-top: 20px;
}

.login-links {
    text-align: right;
    font-size: 14px;
}

    .login-links a {
        color: #333;
        margin-left: 10px;
        text-decoration: none;
    }

.language-input select {
    display: inline-block;
    width: 375px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #3c6e7a;
    height: 35px;
}

.logn-box-info h3 {
    text-align: center;
    padding: 0px 0px 10px;
    font-size: 12px;
    font-weight: 500;
}

.select-employer-wrapper .login-caption {
    width: 100%;
    text-align: left;
    padding: 10px 0px;
}

.view-inline {
    display: inline !important;
}
.LoginBgESS{
    width:100%;
}