*{
    padding:0px;
    margin:0px;
 }

.wrapper{
    width: 900px;
    height: auto;
    margin: 0px auto;
    position: relative;
    top: 60px;
    padding:10px 0;
}

.panel-head
{
    position:relative;
    width:100%;
    height:90px;
    background:url('../../Images/header-bg.png');
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.panel-body
{
    float: left;
    background:#f0f0f0;
    width: 100%;
    height:auto;
    border:solid 1px #c0c4c7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logoleft{
    background: url('../../Images/logo.png') no-repeat;
    width: 30%;
    height: 60px;
    display: inline-block;
    margin:15px;
    
}


.logoright{
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    color: #fff;
    font-family: 'Segoe UI';
    font-size: 30px;

}

.content{
    width:100%;
    height:auto;
    background:#f0f0f0;

}
input[type="button"]
{
    display:block;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    font-family: verdana;
    color: #fff;
    border: solid 1px #9A9292;
    border-radius:5px;
    width: 90px;
    background: #4c9fdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c9fdf 0%, #1a639b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c9fdf 0%,#1a639b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c9fdf 0%,#1a639b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9fdf', endColorstr='#1a639b',GradientType=0 ); /* IE6-9 */    
}

input[type="text"]:focus{
    outline:none;
}

input[type="button"]:focus{
    outline:none;
}





/* Mutual Authentication   style */

.link{
    width: 100%;
    height: 40px;
    background: white;
    position: relative;
}

.link ul{
 position:relative;
 left:20px; 
 padding:10px;  
}
.link ul li {
    list-style-type:none;
    float:left;
    margin-right:20px;
    border-right:solid 1px #837B7B;
    padding-right:10px;
    height:20px;
    
}
.link li a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #217ECD;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: bold;
    line-height: 10px;
}


.securemsg p{
    padding: 10px;
    font-size: 13px;
    font-family: Segoe UI;
    margin-left: 20px;
}

.secure{
   
    color: #1a639b;
    font-size: 15px !important;
    position: relative;
    font-weight: bold;
    padding: 10px 0px 0px 10px !important;
}

.captcha {
    width: 170px;
    height: 160px;
    display: inline-block;
    position: relative;
    left: 200px;
    top: 10px;
}

.captcha img {
    width: 130px !important;
    height: 130px !important;
    margin: 10px 20px 0px 10px;
    border: solid 1px #9A9595;
}


.captcha-name {
    width: 130px;
    height: 20px;
    border: solid 1px #9A9595;
    margin-left: 10px;
}


#captchalabel{
    margin-left:20px;
}

.captchalabel {
    margin-left: 30px;
}


.rules {
    display: inline-block;
    float: right;
    margin-right: 200px;
    top: 15px;
    position: relative;
    font-family: Segoe UI;
    color: #1a639b;
}
.rules h2{
    text-decoration:underline;
    font-size: 16px;
}

.rulelist  ul{
    list-style: none;
    position: relative;
    top:5px;

}

.rulelist li {
    line-height: 22px;
    color: #000;
    padding-left: 10px;
    font-size: 14px;
    
}


.userdetails {
    position: relative;
    top: 25px;
    display: inline-block;
    left: 30px;
    width: 560px;
    height: auto;
}

.loginTxtBox {
    height: 25px;
    width: 250px;
}




.star{
   color:red;
   position: relative;
   top: 4px;
}

.userdata {
    display: inline-block;
    width: 170px;
    text-align: right;
    line-height: 40px;
    font-size: 15px;
    font-family: segoe UI;
}

.uservalue {
    display: inline-block;
    margin-left: 5px;
}


.uservalue input[type="text"] {
    width: 200px;
    height: 25px;
    margin-left: 4px;
    border: solid 1px #C4CBCD;
    text-indent:15px;
    margin-right: 10px;
}

#mutuala-uthenitication-btn{
    position:relative;
    top:35px;
    margin:0px auto;
}
.uservalue a{
    text-decoration: none;
    color: #FF5E00;
    font-family: verdana;
    font-size: 13px;
}


.lnkbtn {
       text-decoration: none;
    color: #FF5E00;
    font-family: verdana;
    font-size: 13px;
}

/* Mutual Authentication style */

#MAuserdetails
{
    top: 40px !important;
}

#MArules {
    display: inline-block;
    top: -110px!important;
    left: 33px;
}

.MAcontinue{
    top: 100px !important;
    left: 200px !important;
}


.MAbtn {
    top: 50px !important;
    margin: 0px auto;
    margin-bottom: 60px;
    left: 230px;
}




.ErrorMessage {
    color: red;
    font-family: segoe ui;
    font-size: 15px;
    margin-left: 210px;
    position: relative;
}


/* ChallengeQA style*/

#QAuserdetails {
    top: 0px !important;
    width: 100%;
    left: 100px !important;
}


#QApanelbody{
    height:720px;
}

#QAcontinuebtn{
    position: relative;
    top: 20px;
    margin: 0px auto;
    left: 25px;
}

.QRuserdetails {
    width: 250px !important;
}


#QAuserdetails input[type='text'] {
    width: 550px !important;
}


.QAlbl {
    margin-right:5px;
    position:relative;
    margin-top:5px;
}

.QAuserdata {
    display: inline-block;
    width: 580px;
    text-align: right;
    line-height: 40px;
    font-size: 15px;
    font-family: segoe UI;
}

.QAbtn {
    top: 10px !important;
    margin-bottom: 50px;
    left: 250px;
}


    .QAErrorMessage {
    color: red;
    font-family: segoe ui;
    font-size: 15px;
    margin-left: 210px;
    position: relative;
    padding-bottom: 35px;
    bottom: 10px;
    }


.QRbtn{
    margin:0px auto !important;
    margin-bottom:65px!important;
}


.QRErrorMessage {
    color: red;
    font-family: segoe ui;
    font-size: 15px;
    margin-left: 200px;
    position: relative;
    top: 47px;
}


select {
    height: 25px;
    margin-left: 4px;
    border: solid 1px #C4CBCD;
    margin-right: 10px;
    width: 400px;
    text-indent: 15px;
}

.Dropdown {
       height: 25px;
    margin-left: 4px;
    border: solid 1px #C4CBCD;
    margin-right: 10px;
    width: 550px;
    text-indent: 15px;
}

select:focus{
    outline:none;
}


/* Select Agency style*/

#SAselct{
width:250px !important;
}


.SAselect{
width:250px !important;
}
#SApanelbody{
    height:500px !important;
}

#SAcontent {
    height: 400px !important;
}

#SAuserdetails{
    position:relative;
    top:30px;
    left:100px !important;
}


.SAcontinuebtn {
    margin: 0px auto;
    left: 300px !important;
    top:-10px!important;
}



/* MachineRegAndFinished style*/

input[type="radio"] {
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


#MFuserdetails {
    position: relative;
    top: -30px;
    display: inline-block;
    left: 300px;
    width: 530px;
    height: auto;
}



/* select image and phrase style*/


#IPpanelbody{
    height:720px;
}

#IPuserdetails{
   width: 220px;
   top: -50px;
   margin-left: 150px;
}
#IPcaptcha{
    width: 170px;
    height: 190px;
    display: inline-block;
    position: relative;
    top: 10px;
    left:0px;
}

#phrase{
   top: 55px;
    position: relative;
   width: 197px;
}

#image{
   
   width: 197px;
}

#cpt{
        top: -2px;
}

.captachaset {
    position: relative;
    top: -13px;
    padding: 5px;
    border: solid 1px #BFAAAA;
    width: 327px;
    left: 384px;
}



.captachaset img {
    width: 60px;
    height: 50px;
    background: #3F7A90;
    border: solid 1px grey;
}


.SEcaptcha {
    width: 170px;
    height: 160px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.SEcaptchaimg{
    width: 130px !important;
    height: 130px !important;
    margin: 10px 20px 0px 10px;
    border: solid 1px #9A9595;

}

.SEloginTxtBox{
    width:129px;
    height:19px;
}


#selectImage {
   
    display: inline-block;
    text-align: right;
    line-height: 40px;
    font-size: 15px;
    font-family: segoe UI;
    width: 369px;
    position: relative;
    top: 20px;
    margin-left: 5px;
}





#IPcontinuebtn{
    position: relative;
    top: 35px;
    margin: 0px auto;
    left: -20px;
}

.btn{
    position: relative;
    top: 40px;
    margin-left: 136px;
    border-radius: 5px;
    display:block;
    padding: 7px;
    font-size: 15px;
    text-align: center;
    font-family: verdana;
    color: #FFF;
    border: solid 1px #9A9292;
    border-radius:5px;
    width: 90px;
    background: #4c9fdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c9fdf 0%, #1a639b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c9fdf 0%,#1a639b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c9fdf 0%,#1a639b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9fdf', endColorstr='#1a639b',GradientType=0 ); /* IE6-9 */    

}

.ErrorMessage {
}

/* create password style*/



.CPinnerwrapper{
    position:relative;
    margin:0px auto;

}

.CPuserdetails {
    position: relative;
    top: 25px;
    display: inline-block;
    left: 30px;
    width: 440px;
    height: auto;
}

#CPrules 
{
    top: -110px !important;
    left: 100px;
}


.CPbtn{
   
    margin: 0px auto;
    margin-top: 20px;
    left: 140px;
}

.CPErrorMessage {
    color: red;
    font-family: segoe ui;
    font-size: 15px;
    margin-left: 210px;
    position: absolute;
    margin-top: 50px;
    width: 450px;
}


.MASbtn
{
  
    top: 0px;
    margin: 0px auto;
    margin-bottom:20px;
}

.MASErrorMessage {
    color: red;
    font-family: segoe ui;
    font-size: 15px;
    margin-left: 210px;
    position: relative;
    bottom: 15px;
}

.clear{
    clear:both;
}

.internal_msg
 {
    display: block;
    text-align: center;
}

