@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    @page {
        /*margin: 2cm;*/
        size: landscape;
    }

     .s-grid table { page-break-after:auto;}
       .s-grid tr    { page-break-inside:avoid;}
       .s-grid td    { page-break-inside:auto;}
       .s-grid thead { display:table-header-group; }

    [gridimagebutton='true'][base_click='true'] {
        float: left !important;
        width: 25px !important;
        height: 25px !important;
        cursor: pointer !important;
        margin-right: 2px !important;
        border: 0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        margin-top: 1px !important;
        background-color: transparent !important;
    }


    .btnOpen_Click {
        background-image: url("../StaticResources/neoGrid-images/btnOpen_Click.png") !important;
    }

    .btnNew_Click {
        background-image: url("../StaticResources/neoGrid-images/btnNew_Click.png") !important;
    }

    .btnColumnsToExport_Click {
        background-image: url("../StaticResources/neoGrid-images/btnColumnsToExport_Click.png") !important;
    }

    .btnDelete_Click {
        background-image: url("../StaticResources/neoGrid-images/btnDelete_Click.png") !important;
    }

    .btnDisplaychart_click {
        background-image: url("../StaticResources/neoGrid-images/btnDisplaychart_click.png") !important;
    }


    .btnAuditHistory_Click {
        background-image: url('../StaticResources/neoGrid-images/btnAuditHistory_Click.png');
    }


    .btnOpenPrototype_Click {
        background-image: url('../StaticResources/neoGrid-images/btnOpenPrototype_Click.png');
    }


    .btnOpenPopupDialog_Click {
        background-image: url('../StaticResources/neoGrid-images/btnOpenPopupDialog_Click.png');
    }


    .btnExportAllToExcel_Click {
        background-image: url('../StaticResources/neoGrid-images/btnExportAllToExcel_Click.png');
    }


    .btnExecuteServerMethodFromLookup_Click {
        background-image: url('../StaticResources/neoGrid-images/btnExecuteServerMethodFromLookup_Click.png');
    }


    .btnGridViewDelete_Click {
        background-image: url('../StaticResources/neoGrid-images/btnGridViewDelete_Click.png');
    }


    .btnGridViewSelect_Click {
        background-image: url('../StaticResources/neoGrid-images/btnGridViewSelect_Click.png');
    }


    .btnGridViewAdd_Click {
        background-image: url('../StaticResources/neoGrid-images/btnGridViewAdd_Click.png');
    }


    .btnValidateExecuteBusinessMethod_Click {
        background-image: url('../StaticResources/neoGrid-images/btnValidateExecuteBusinessMethod_Click.png');
    }


    .btnExecuteBusinessMethod_Click {
        background-image: url('../StaticResources/neoGrid-images/btnExecuteBusinessMethod_Click.png');
    }


    .btnExecuteBusinessMethodSelectRows_Click {
        background-image: url('../StaticResources/neoGrid-images/btnExecuteBusinessMethodSelectRows_Click.png');
    }


    .btnOpenLookup_Click {
        background-image: url('../StaticResources/neoGrid-images/btnOpenLookup_Click.png');
    }


    .btnWorkflowExecuteMethod_Click {
        background-image: url('../StaticResources/neoGrid-images/btnWorkflowExecuteMethod_Click.png');
    }


    .btnAddNewChild_Click {
        background-image: url('../StaticResources/neoGrid-images/btnAddNewChild_Click.png');
    }


    .btnDownloadFile_Click {
        background-image: url('../StaticResources/neoGrid-images/btnDownloadFile_Click.png');
    }


    .btnDownload_Click {
        background-image: url('../StaticResources/neoGrid-images/btnDownloadFile_Click.png');
    }


    .btnNewPopupDialog_Click {
        background-image: url('../StaticResources/neoGrid-images/btnNewPopupDialog_Click.png');
    }


    .btnOpenDoc_Click {
        background-image: url('../StaticResources/neoGrid-images/btnOpenDoc_Click.png');
    }


    .divButtonViewEditByUserPreference {
        position: absolute;
        display: none;
        overflow: hidden;
        z-index: 99999 !important;
        border: 1px solid;
        background-color: #fff;
    }

        .divButtonViewEditByUserPreference .row {
            padding: 0px 7px;
            font-family: sans-serif;
            font-size: 14px;
        }

    .btnViewOpen_Click {
        background-image: url('../StaticResources/neoGrid-images/btnViewOpen_Click.png');
    }

    .ViewOnlyLink {
        background-image: url('../StaticResources/neoGrid-images/grid-link-view.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 1px;
        background-color: transparent;
        color: transparent !important;
        text-decoration: none !important;
        height: 18px;
        width: 18px;
        /*float: left;*/
        cursor: pointer;
        margin-left: 5px;
    }

    .GridViewOnly {
        background-image: url('../StaticResources/neoGrid-images/grid-link-view.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 1px;
        background-color: transparent;
        height: 18px;
        width: 18px;
        float: left;
        cursor: pointer;
    }

    .GridEditOnly {
        background-image: url('../StaticResources/neoGrid-images/grid-link-edit.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 1px;
        background-color: transparent;
        height: 18px;
        width: 18px;
        float: left;
        cursor: pointer;
        margin-left: 2px;
        margin-right: 5px;
    }

    .s-grid [vieweditlinkbutton="true"], .s-grid [vieweditimagebutton="true"], .s-grid [vieweditlink="true"] {
        display: block;
        /*padding: 3px 0px;*/
        float: left;
    }

        .s-grid [vieweditlinkbutton="true"], .s-grid [vieweditlink="true"], .s-grid [vieweditlink="true"] .GridLinks {
            text-decoration: none !important;
            cursor: default !important;
            color: #333 !important;
        }

    .s-grid-viewedit-container {
        display: inline-flex;
    }

    .s-grid-common-filterbutton {
        cursor: pointer !important;
        display: block !important;
        float: left !important;
        width: 20px !important;
        height: 20px !important;
        margin-left: 2px !important;
        margin-top: 3px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-image: url("../StaticResources/neoGrid-images/grid_common_filter.png") !important;
        border: 0 !important;
        background-color: transparent !important;
    }

    .s-grid-settings-icon {
        cursor: pointer !important;
        display: block !important;
        float: left !important;
        width: 25px !important;
        height: 25px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-image: url("../StaticResources/neoGrid-images/neogrid_settings.png") !important;
    }
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
