/*
  SmartWizard 2.0 plugin
  jQuery Wizard control Plugin
  by Dipu

  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0px solid #CCC;
    overflow: visible;
    float: left;
    width: 100%;
}

    .swMain .stepContainer {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border: 0px solid #CCC;
        overflow: hidden;
        clear: right;
        height: auto !important;
    }

        .swMain .stepContainer div.content {
            display: block;
            float: left;
            margin: 0;
            padding: 5px;
            color: #5A5655;
            /*background-color: #FFFFFF;*/
            text-align: left;
            overflow: auto;
            z-index: 88;
            clear: both;
            height: 500px;
            width: 100%;
            /*border: 1px solid #739500;*/
        }

    .swMain div.actionBar {
        display: block;
        position: relative;
        clear: right;
        padding: 0;
        color: #5A5655;
        /*height: 40px;*/
        text-align: center;
        overflow: auto;
        z-index: 88;
    }

    .swMain div.actionBar {
        font-size: 14px;
    }

    .swMain .stepContainer .StepTitle {
        display: block;
        position: relative;
        margin: 0;
        border-bottom: 1px solid #739500;
        padding: 5px;
        color: #5A5655;
        clear: both;
        text-align: left;
        z-index: 88;
        font-size: 18px;
        font-family: "Open Sans", sans-serif !important;
        font-weight: 600;
        text-shadow: none;
    }

    .swMain ul.anchor {
        position: relative;
        display: block;
        float: left;
        list-style: none;
        padding: 0px;
        margin: 5px 10px 0 0;
        border: 0px solid #CCCCCC;
        background: transparent; /*#EEEEEE */
        display: none;
    }

        .swMain ul.anchor li {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            padding-top: 3px;
            padding-bottom: 3px;
            border: 0px solid #E0E0E0;
            float: left;
            clear: both;
        }
            /* Anchor Element Style */
            .swMain ul.anchor li a {
                display: block;
                position: relative;
                float: left;
                margin: 0;
                /*width: 230px;*/
                text-decoration: none;
                outline-style: none;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                z-index: 99;
            }

                .swMain ul.anchor li a .stepNumber {
                    position: relative;
                    float: left;
                    width: 30px;
                    text-align: center;
                    padding: 5px;
                    padding-top: 0;
                }

.stepDescProgress {
    position: relative;
    display: block;
    float: left;
    text-align: left;
    padding: 5px;
}

.swMain ul.anchor li a .stepDesc {
    position: relative;
    display: block;
    float: left;
    text-align: left;
    padding: 5px;
}

.swMain ul.anchor li a.selected {
    color: #F8F8F8;
    background: #3695e5; /* EA8511 */
    border: 1px solid #3695e5;
    cursor: text;
}

    .swMain ul.anchor li a.selected:hover {
        color: #F8F8F8;
        background: #0c68b5;
    }

.swMain ul.anchor li a.done {
    position: relative;
    color: #FFF;
    background: #8abfed;
    border: 1px solid #8abfed;
    z-index: 99;
    cursor: text !important;
}

.swMain ul.anchor li a.donehover:hover {
    color: #fff;
    background: #0c68b5;
    border: 1px solid #5A5655;
    cursor: pointer !important;
}

.swMain ul.anchor li a.disabled {
    color: #CCCCCC;
    background: #F8F8F8;
    border: 1px solid #CCC;
    cursor: text;
}

    .swMain ul.anchor li a.disabled:hover {
        color: #CCCCCC;
        background: #F8F8F8;
    }

.swMain ul.anchor li a.error {
    color: #6c6c6c !important;
    background: #f08f75 !important;
    border: 1px solid #fb3500 !important;
}

    .swMain ul.anchor li a.error:hover {
        color: #000 !important;
    }

.swMain .buttonNext {
    display: inline-block;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #556080;
    border: 1px solid #556080;
    border-radius: 3px;
}

.swMain .buttonDisabled {
    color: #F8F8F8 !important;
    background-color: #CCCCCC !important;
    border: 1px solid #CCCCCC !important;
    cursor: text;
}

.swMain .buttonPrevious {
    display: inline-block;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #739500;
    border: 1px solid #739500;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.swMain .buttonFinish {
    display: inline-block;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #739500;
    border: 1px solid #739500;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Form Styles */

.txtBox {
    border: 1px solid #CCCCCC;
    color: #5A5655;
    padding: 2px;
    width: 430px;
}

    .txtBox:focus {
        border: 1px solid #EA8511;
    }

.swMain .loader {
    position: relative;
    display: none;
    float: left;
    margin: 2px 0 0 2px;
    padding: 8px 10px 8px 40px;
    border: 1px solid #FFD700;
    color: #5A5655;
    background: #FFF url(../images/loader.gif) no-repeat 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 998;
}

.swMain .msgBox {
    position: relative;
    display: none;
    float: left;
    margin: 4px 0 0 5px;
    padding: 5px;
    border: 1px solid #FFD700;
    background-color: #FFFFDD;
    color: #5A5655;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 999;
    width: 100%;
}

    .swMain .msgBox .content {
        padding: 0px;
        float: left;
    }

    .swMain .msgBox .close {
        border: 1px solid #CCC;
        border-radius: 3px;
        color: #CCC;
        display: block;
        float: right;
        margin: 0 0 0 5px;
        outline-style: none;
        padding: 0 2px 0 2px;
        position: relative;
        text-align: center;
        text-decoration: none;
    }

        .swMain .msgBox .close:hover {
            color: #EA8511;
            border: 1px solid #EA8511;
        }

.WizardDiv {
    width: 99%;
}

.ProgressBarDivParent {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ProgressBarDiv {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    left: 75%\9;
    text-align: center;
}

    .ProgressBarDiv li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        right: 50%;
    }

.ProgressBarCircle {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.ProgressBar {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

    .ProgressBar span {
        width: 100%;
        display: block;
        padding-top: 60px;
        font-size: 17px;
        font-weight: bold;
    }

.ProgressBarCircle span {
    float: left;
    padding: 5px;
    background: #989898;
    width: 25px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #333;
    font-weight: bold;
    font-size: 15px;
}

.ProgressBarCircle .ProgressSaperator {
    background-position: center center;
    width: 80px;
    height: 15px;
    padding: 0px;
    margin-top: 10px;
    border-radius: 0px !important;
    background-image: url('../../Images/arrow.png');
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.ProgressBarCircle .ProgressDone .stepSpan {
    color: #fff;
    background-color: #1476a1;
    font-size: 20px;
}

.ProgressBarCircle .ProgressHighlight .stepSpan {
    color: #fff;
    font-size: 20px;
    background-color: #063549 !important;
}

.ProgressBarCircle .selectable :hover {
    background-color: #2dbfff !important;
    cursor: pointer;
}

.ProgressBarCaptionDiv {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    left: -37px;
    display: none;
}

    .ProgressBarCaptionDiv ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .ProgressBarCaptionDiv li {
        float: left;
        width: 115px;
        text-align: center;
        display: block;
        white-space: normal;
        color: #0b4c82;
    }

.ProgressBar {
    /*centering*/
    display: inline-block;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
}

    .ProgressBar .ProgressDone {
        color: #fff;
    }

        .ProgressBar .ProgressDone:before {
            color: #fff;
            background-color: #777;
        }

    .ProgressBar .ProgressHighlight {
        background: none;
    }

        .ProgressBar .ProgressHighlight:before {
            background: #739500;
        }

        .ProgressBar .ProgressHighlight .stepSpan {
            color: #0d5898;
        }

        /*.ProgressBar .ProgressHighlight:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 110%;
            height: 4px;
            background: #739500;
            content: " ";
        }*/

    .ProgressBar .stepSpan {
        color: #bbb;
    }

    .ProgressBar .selectable:hover {
        background-color: #2dbfff !important;
        cursor: pointer;
    }

        .ProgressBar .selectable:hover:after {
            background-color: #2dbfff !important;
            cursor: pointer;
        }

    .ProgressBar li {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 36px;
        height: 36px;
        color: white;
       
        padding: 0 10px 0 60px;
        position: relative;
        margin: 0px;
    }
        /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/

        .ProgressBar li:last-child {
            border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
            padding-right: 20px;
        }

            /*adding the arrows for the breadcrumbs using rotated pseudo elements*/

        /*we will use the :before element to show numbers*/
        .ProgressBar li:before {
            content: counter(flag);
            counter-increment: flag;
            border-radius: 100%;
            width: 45px;
            height: 45px;
            line-height: 45px;
            margin: 1px 0;
            position: absolute;
            top: 0;
            left: 40%;
            background: #bbb;
            font-weight: bold;
            text-align: center;
            font-size: 16px;
            z-index:99;
        }

        .ProgressBar li:after {
            content: "";
            border-bottom: 1px solid #ccc;
            width: 100%;
            position: absolute;
            top: 22px;
            left: 0;
        }

    .ProgressBar li:first-child:after {
        width: 50%;
        right: 0;
        left: auto;
    }

        .ProgressBar li:last-child:after {
            width: 50%;
            right: auto;
            left: 0;
        }

      

        

           

.Bold {
    font-weight: bold;
}

.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

    .flat a:before {
        background: white;
        box-shadow: 0 0 0 1px #ccc;
    }

    .flat a:hover, .flat a.active,
    .flat a:hover:after, .flat a.active:after {
        background: #9EEB62;
    }

.swMain .stepContainer table {
    width: 100%;
}

.actionBar {
    display: flex!important;    
    justify-items: center;
    justify-content: center;
}
.actionBar a {
    
    display: block;

}