#page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: none;
    background: rgba(0,0,0,.3);
}
table.variablesTable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.variablesTable th {
	background:#b5cfd2 ;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.variablesTable td {
	background:#dcddc0 ;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
