<div control-head class="panel-group accordion scrollable" id="{{panelId}}" ng-init="setVisibility();"  ng-click="selectControl(model,$event)" ng-dblclick="selectControlOnDoubleClick(model,$event)">
    <div class='panel panel-default form-panel-wrapper no-margin' ng-class='{ "active": model.IsVisible, "bckgGrey": model.isAdvanceSearched, "bckgGreen": model.isAdvanceSearched && model.IsSelected,"form-invisible-control" : model.dictAttributes.Visible === "False" }'>

        <div class="panel-content-wrapper">

            <div id="panel_{{$id}}" class="panel-heading form-panel-heading accordion-toggle" context-menu="panelMenuOption" ng-class="!initialvisibilty ? 'collapsed' : ''" ng-click="setInitialVisibility()">
                <span placeholder="{{model.dictAttributes.ID}}" ng-if="model.Name == 'sfwWizardStep'" class="fleft hidden-span font-entityfield" ng-class="{'hasContent' : !model.dictAttributes.Title }"
                      spellcheck=false contenteditable="true" content-editable ng-model="model.dictAttributes.Title" model="model">
                </span>
                <span class="fleft hidden-span font-entityfield" ng-if="model.Name != 'sfwWizardStep'" ng-class="{'hasContent' : !model.dictAttributes.sfwCaption }" spellcheck=false contenteditable="true"
                      content-editable ng-model="model.dictAttributes.sfwCaption" model="model" placeholder="{{model.dictAttributes.ID}}">

                </span>



            </div>
            <div class="panel-collapse" ng-class="(initialvisibilty) ? 'in' : 'collapse'">
                <div class="panel-body form-panel-body">


                    <base-control-view ng-repeat='elem in model.Elements' entitytreename='entitytreename' lstdisplayentities='lstdisplayentities' objparent='model' formodel='formodel' model='elem'
                                       lstloadedentitytrees='lstloadedentitytrees' lstloadedentitycolumnstree='lstloadedentitycolumnstree' buttons-collection='buttonsCollection' modelname="{{elem.Name}}" />

                </div>

            </div>

        </div>

    </div>
</div>
