<div control-head ng-click='selectControl(model,$event)' title="{{getValue(model)}}"
      ng-dblclick='getCodeValue(model,$event);selectControlOnDoubleClick(model,$event)' ng-class=getDisplayClass(model)>

    <img height='18' width='18' src='{{strImageSource}}' class="image-icon-tools" 
         ng-if="strImageSource && !(model.Name == 'sfwLiteral' || model.Name == 'sfwButton' || model.Name == 'sfwLinkButton' || model.Name == 'sfwImageButton' || model.Name == 'sfwHyperLink' || model.Name == 'sfwToolTipButton')"/>

    <span ng-bind="getValue(model)"></span>

</div>
