<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <!--<label class="control-label col-xs-5">Choose Option:</label>-->

            <div class="radio-btn-row col-xs-12" ng-hide="formmodel.dictAttributes.sfwType=='Wizard'">
                <label>
                    <input type="radio" ng-model="AddPanelType" value="AddPanel" id="rdbAddPanel" />Add Panel
                </label>
                <label ng-hide="formmodel.dictAttributes.sfwType=='Tooltip'">
                    <input type="radio" ng-model="AddPanelType" value="AddPanelWithTab" id="rdbAddPanelWithTab" />Add Panel With Tab Container
                </label>
                <label>
                    <input type="radio" ng-model="AddPanelType" value="AddPanelWithGrid" id="rdbAddPanelWithGrid" />Add Panel With Grid
                </label>
            </div>
            <div class="radio-btn-row col-xs-12" ng-show="formmodel.dictAttributes.sfwType=='Wizard'">
                <label>
                    <input type="radio" ng-model="AddPanelType" value="AddWizardStep" id="rdbAddPanel" />Add Wizard Step
                </label>
                <label>
                    <input type="radio" ng-model="AddPanelType" value="AddWizardStepWithTab" id="rdbAddPanelWithTab" />Add Wizard Step With Tab Container
                </label>
                <label>
                    <input type="radio" ng-model="AddPanelType" value="AddWizardStepWithGrid" id="rdbAddPanelWithGrid" />Add Wizard Step With Grid
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" value="OK" class="dialog-btn" ng-click="OkClick()" ng-disabled="validatePanel()" />
        <input type="button" value="Cancel" class="dialog-btn" ng-click="closeDetailDialog()" />
    </div>
</div>