<div ng-controller="AutoCompleteColumnsController" class="full-height">
    <div class="portlet-body series-details-popup" id="ScopeId_{{$id}}">
        <div class="client-visi-layout">
            <div class="client-visi-tree-list">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Columns</span>
                    </div>
                    <div class="client-visi-content">
                        <ul class="list-unstyled">
                            <li ng-repeat="column in lstColumns" retrievalcontroldraggable dragdata="column.CodeID">
                                <input type="checkbox" ng-model="column.isChecked" />
                                <span ng-bind="column.CodeID"> </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="client-visi-layout-inner-button">

                <input type="button" ng-click="AddColumns()" class="button-add-to-right" />

            </div>

            <div class="auto-complete-table">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Parameters</span>
                        <ul class="list-inline pull-right">
                            <li><img src="images/Common/icon_delete_dark.svg" class="fleft" title="Delete Column" ng-click="deleteColumns()" ng-disabled="selectedColumn==undefined" /></li>
                            <li><img src="images/Common/uparrow.png" class="fleft" title="Move Up" ng-click="MoveUp()" ng-disabled="isMoveUp()" /></li>
                            <li><img src="images/Common/downarrow.png" class="fleft" title="Move Down" ng-click="MoveDown()" ng-disabled="isMoveDown()" /></li>
                        </ul>
                    </div>
                    <div id="form-autocomplete-column-param" class="client-visi-content">
                        <table class="table table-condensed table-fixedheader">
                            <thead>
                                <tr>
                                    <th width="30%">Column Name</th>
                                    <th width="25%">Header</th>
                                    <th width="25%">Operator</th>
                                    <th width="20%">Data Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="addedColumn in lstAddedColumns" ng-click="selectColumn(addedColumn)" ng-class="selectedColumn==addedColumn?'selected':''">
                                    <td width="30%"><span ng-bind="addedColumn.ColumnName"></span></td>
                                    <td width="25%"><input class="form-control input-sm" type="text" title="{{addedColumn.Header}}" ng-model="addedColumn.Header" /></td>
                                    <td width="25%"><select class="form-control input-sm" ng-options="operator for operator in lstOperators" ng-model="addedColumn.Operator" /></td>
                                    <td width="20%"><span ng-bind="addedColumn.DataType"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeClick()" />
    </div>
</div>



