<div>
    <i ng-class="lstParameters.IsExpanded?'fa fa-minus':'fa fa-plus'" ng-click="ExpandCollapsedControl(lstParameters,$event)" ng-show="lstParameters.Elements.length > 0"></i>
    <span ng-show="lstParameters.Name == 'sfwPanel' || lstParameters.Name == 'sfwWizardStep' || lstParameters.ID =='Global Parameters'" ng-bind="lstParameters.ID" style="cursor:not-allowed"></span>
    <span ng-bind="lstParameters.ID" ng-show="lstParameters.Name != 'sfwPanel' && lstParameters.Name != 'sfwWizardStep' && lstParameters.ID !='Global Parameters'" retrievalparameterdraggable dragdata="lstParameters.ID"></span>
    <ul ng-if="lstParameters.Elements.length > 0" ng-show="lstParameters.IsExpanded">
        <li ng-repeat="lstParameters in lstParameters.Elements" ng-click="selectParameter(lstParameters,$event)"
            ng-mousedown="selectParameter(lstParameters,$event)" class="common-tree-list marg-left-15">
            <div commonparametertree></div>
        </li>
    </ul>
</div>