<div ng-controller="NavParamGridSearchController" class="full-height">
    <div class="portlet-body" id='Scope_{{$id}}'>
        <div class="col-xs-12 column-inner-align">
            <label>Available Fields</label>
        </div>
        <div class="col-xs-12 column-inner-align" ng-hide="isFormLink || blnIsCorr || blnIsReport">
            <input type="checkbox" ng-model="SelectedObject.IsShowAllControl" ng-change="showAllControlChange($event)" />&nbsp; <label class="control-label" ng-hide="isFormLink">Show All Controls</label>
        </div>
        <div class="col-xs-12 parameter-query-inner-left overflowA">
            <div>
                <ul>
                    <li ng-repeat="field in FieldCollection" class="common-tree-list">
                        <div navigationparamchildtemplate></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOkClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onCancelClick()" />
    </div>
</div>