<div ng-controller="ObjectTreeDragDropController" class="full-height">
    <!--<div class="popup-head">Select Target Control for Data Binding</div>-->
    <div class="portlet-body">
        
        <table class="table table-condensed table-hover table-fixedheader">
            <thead>
                <tr>
                    <th width="25%">Control type</th>
                    <th width="25%">Control ID</th>
                    <th width="25%">Field Name</th>
                    <th width="25%">Control Index</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="control in lstControls" ng-click="selectRow(control)" ng-class="control==selectedControl?'selected':''">
                    <td width="25%" ng-show="control.IsExistingControl"><span ng-bind="control.Controltype"></span></td>
                    <td width="25%" ng-hide="control.IsExistingControl"><select ng-model="control.Controltype" ng-options="x for x in lstValidControls" ng-change="setControlIDByControlType()"></select></td>
                    <td width="25%"><span ng-bind="control.ID"></span></td>
                    <td width="25%"><span ng-bind="control.Name"></span></td>
                    <td width="25%"><span ng-bind="control.Index"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-actions">
        <div class="form-group">
            <div class="pull-left"> Select an existing control from the list for data binding, or last item for creating a new control.</div>
            <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" />
            <input type="button" class="btn dialog-btn" value="Cancel" ng-click="closeClick()" />
   </div>
    </div>
</div>
