<div ng-controller="RetrievalParametersController" id="RetrievalControls" class="full-height">
    <div class="portlet-body series-details-popup" id="ScopeId_{{$id}}">
        <div class="client-visi-layout">
            <div class="retrieve-param-tree-list">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Available Fields</span>
                        <div class="fright" ng-if="formobject.dictAttributes.sfwType != 'FormLinkLookup' && formobject.dictAttributes.sfwType != 'FormLinkMaintenance' && formobject.dictAttributes.sfwType != 'FormLinkWizard' ">
                            <input type="checkbox" ng-model="ShowAll.isShowAll" ng-change="ShowAllControls()" />
                            <span class="heading-span">Show All Controls</span>
                        </div>
                    </div>
                    <div class="client-visi-content">
                        <ul>
                            <li ng-repeat="lstParameters in lstParameters" class="common-tree-list marg-left-15">
                                <div commonparametertree></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="retrieve-param-value-table">
                <div class="client-visi-layout-inner">
                    <div class="client-visi-header">
                        <span>Parameters</span>
                    </div>
                    <div class="client-visi-content">
                        <table class="table table-condensed table-fixedheader">
                            <thead>
                                <tr>
                                    <th width="50%">ID</th>
                                    <th width="50%">Control ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parameter in ParameterCollection">
                                    <td width="50%">
                                        <span ng-bind="parameter.ParameterField"></span>
                                    </td>
                                    <td width="50%">
                                        <input type="text" class="form-control input-sm" title="{{parameter.ParameterValue}}" ng-model="parameter.ParameterValue" retrievalparameterdroppable dropdata="parameter.ParameterValue" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeClick()" />
    </div>
</div>

