<div class="portlet-body" id="ColSpan_Dialog_{{$id}}">
    <div class="col-xs-12 height100P">
        <div class="col-xs-4">
            <div class="form-group">
                <label class="control-label col-xs-5">Column Span</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" title="{{ColumnSpan}}" ng-change="okClick(true)" ng-model='ColumnSpan' numbers-only>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-5">Row Span</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" title="{{RowSpan}}" ng-change="okClick(true)" ng-model='RowSpan' numbers-only>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8 overflowA height100P">
            <base-control-view model="objTableModel" formodel="formodel" is-hidecontrols="true"></base-control-view>
        </div>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn-default" value="OK" ng-click="okClick()" />
    <input type="button" class="dialog-btn-default" value="Cancel" ng-click="closeClick()" />
</div>