<div class="full-height">
    <!--<div class="popup-secondary-head"> Browse for Query <div class="ngdialog-close"></div></div>-->
    <div class="portlet-body ">
        <label>Removed Controls</label>
        <div class="table-scrollable">
            <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                <thead>
                    <tr>
                        <th>Control ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" ng-repeat="cntrl in RemovedControls">
                        <td><span ng-bind="cntrl.ControlID"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label>Above Controls get removed after refreshing, Do you want to continue?</label>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOKClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeDialog()" />
    </div>
</div>
