<div class="full-height" ng-controller="DataKeysController">
    <!--<div class="popup-head">DataKey And Sort Expression</div>-->
    <div class="portlet-body">
        <div class="col-xs-12">
            <table class="table table-condensed table-hover table-fixedheader">
                <thead>
                    <tr>
                        <th width="25%">Field Name</th>
                        <th width="25%">Data Key</th>
                        <th width="25%">Sort Expression</th>
                        <th width="25%">Default Order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="column in lstGridColumns">
                        <td width="25%"><span ng-bind="column.FieldName"></span></td>
                        <td width="25%"><input type="checkbox" class="checkbox" ng-model="column.DataKey" /></td>
                        <td width="25%"><select class="form-control input-sm" ng-options="SortExpression for SortExpression  in lstSortExpression" title="{{column.SortExpression}}" ng-model="column.SortExpression" ng-change="ChangeSortExpression(column)"/></td>
                        <td width="25%"><select ng-disabled="!column.SortExpression" class="form-control input-sm" ng-options="DefaultOrder for DefaultOrder in lstDefualtOrder" title="{{column.DefaultOrder}}" ng-model="column.DefaultOrder" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="okClick()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeClick()" />
  </div>
</div>