<div class="portlet-body">
    <div class="col-xs-12 column-inner-align">
        <div class="form-group">
            <label class="control-label col-xs-4">ID:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control input-sm" title="{{objRepeaterControl.dictAttributes.ID}}" ng-model="objRepeaterControl.dictAttributes.ID" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 repeater-control-entity-tree">
        <newentityobjecttreetemplate ischeckboxvisible="false" showonlycollection="true" iscollectionnextlevelload="false" lstdisplayentity="objRepeaterControl.LstDisplayedEntities" selectedentityobjecttreefields="objRepeaterControl.lstselectedobjecttreefields" entityname="ParentEntityName" selectedfield="objRepeaterControl.selectedobjecttreefield"></newentityobjecttreetemplate>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="ErrorMessageForDisplay.length>0" ng-bind="ErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onRepeaterControlOkClick()" ng-disabled="ValidateRepeaterProp()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="onRepeaterControlCancelClick()" />
    </div>
</div>