<div class="portlet-body" id="dvObjectTree_{{$id}}">
    <div class="col-xs-12" style="height:10%;">
        <div class="col-xs-7">
            <input type="text" class="form-control input-sm" ng-model="searchObjectTree" />
        </div>
        <div class="col-xs-5 fright">
            <input type="checkbox" ng-model="IsSelectAll" value="Select All" ng-change="onToggleSelectionClick(IsSelectAll)" /> Select All &nbsp;&nbsp;&nbsp;
            <img src="images/Common/uparrow.png" ng-click="onLoadPreviosObjectTree(false, false)" title="up" ng-disabled="!(StrObjectTreeText && StrObjectTreeText.trim().length>0)" />
        </div>
    </div>
    <div class="col-xs-12" style="height:90%;overflow:auto;">
        <ul>
            <li ng-repeat="obj in ObjTreeForFields.ChildProperties | filter:{Name:searchObjectTree}" ng-dblclick="onObjectTreeClick(obj, false, false)" style="list-style:none">
                <input type="checkbox" ng-model="obj.IsChecked" ng-checked="obj.IsChecked" ng-show="obj.IsCheckboxVisible"/>
                <img ng-show="obj.DataTypeName == 'Int32'" src="images/Form/icon-integer.png" />
                <img ng-show="obj.DataTypeName == 'Boolean'" src="images/Form/icon-boolean.png" />
                <img ng-show="obj.DataType == 'collection' || obj.DataType == 'List'" src="images/Form/icon-collection.png" />
                <img ng-show="obj.DataTypeName == 'DateTime'" src="images/Form/icon-datetime.png" />
                <img ng-show="obj.DataTypeName == 'Decimal'" src="images/Form/icon-decimal.png" />
                <img ng-show="obj.DataTypeName == 'Int64'" src="images/Form/icon-double.png" />
                <img ng-show="obj.DataTypeName == 'Float'" src="images/Form/icon-float.png" />
                <img ng-show="obj.DataTypeName == 'String'" src="images/Form/icon-string.png" />
                <!--<img ng-show="obj.DataTypeName == 'Int16'" src="images/icon_boolean.svg" />-->
                <img ng-show="obj.DataType == 'TableObjectType'" src="images/Form/icon-collection.png" />
                <img ng-show="obj.DataType == 'BusObjectType'" src="images/Form/icon-collection.png" />
                <img ng-show="obj.DataType == 'CollctionType'" src="images/Form/icon-collection.png" />
                <img ng-show="obj.DataType == 'OtherReferenceType'" src="images/Form/icon-collection.png" />
                {{obj.Name}}
            </li>
        </ul>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn dialog-btn-default" ng-click="onOkObjectTree()" value="OK" />
    <input type="button" class="btn dialog-btn-default" ng-click="onCancelObjectTreeclick()" value="Cancel" />
</div>