<div class="portlet-body">
    <input  class="form-control input-sm" type="text" ng-model="searchEntityFields"  placeholder="Search Here.." />
    <ul>
        <li ng-repeat="objEntityList in lstEntityFields" ng-if="objEntityList.Name=='attribute'" style="list-style:none">
            <input type="checkbox" ng-model="objEntityList.Selected" ng-checked="objEntityList.Selected" ng-show="objEntityList.dictAttributes.ID.toLowerCase().indexOf(searchEntityFields.toLowerCase()) > -1" />
            <span ng-bind="objEntityList.dictAttributes.ID" class="marg-left-10" ng-show="objEntityList.dictAttributes.ID.toLowerCase().indexOf(searchEntityFields.toLowerCase()) > -1"></span>
        </li>
    </ul>
</div>
<div class="form-actions">
    <input type="button" value="Clear All" ng-click="unCheckAll()" class="dialog-btn"/>
    <input type="button" value="Select All" ng-click="checkAll()" class="dialog-btn"/>
    <input type="button" value="OK" ng-click="UpdateData()" id="btnUpdateData" class="dialog-btn"/>
    <input type="button" value="Cancel" ng-click="onCancelClick()" class="dialog-btn"/>
</div>
