<div class="portlet-body file-inbound-content" ng-init="SelectedDialogTab='Details'">
    <ul class="nav nav-tabs" id="menu" ng-show="showExtraFieldsTab">
        <li ng-click="SelectedDialogTab='Details'" ng-class="SelectedDialogTab=='Details'?'active':''">
        <a>Details</a>
        </li>
        <li ng-click="SelectedDialogTab='ExtraFields'" ng-class="SelectedDialogTab=='ExtraFields'?'active':''">
        <a>Extra Fields</a>
        </li>
    </ul>
    <div class="tab-content">
        <div ng-show="SelectedDialogTab=='Details'" ng-class="SelectedDialogTab=='Details'?'tab-pane fade active in':'tab-pane fade'">
            <div class="form-body">


                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">ID</label>
                        <input type="text" title="{{objEntityBasedScenario.dictAttributes.ID}}" ng-model="objEntityBasedScenario.dictAttributes.ID" class="form-control input-sm" disabled="disabled" />

                    </div>

                    <div class="form-group" ng-show="IsObjectBasedScenario">
                        <label class="control-label">Business Object </label>
                        <input type="text" title="{{objEntityBasedScenario.dictAttributes.BusinessObjectName}}" ng-model="objEntityBasedScenario.dictAttributes.BusinessObjectName" class="form-control input-sm" disabled="disabled" />

                    </div>
                    </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <input type="text" title="{{objEntityBasedScenario.dictAttributes.sfwRuleFile}}" ng-model="objEntityBasedScenario.dictAttributes.sfwRuleFile" class="form-control input-sm" disabled="disabled" />

                    </div>
                </div>                                   
                    
                </div>
        </div>

        <div ng-show="SelectedDialogTab=='ExtraFields'" ng-class="SelectedDialogTab=='ExtraFields'?'tab-pane fade active in':'tab-pane fade'">
            <extra-field-directive is-file-creation="false" extra-field-model="objScenarioExtraFields" is-tab="showExtraFieldsTab" obj-fn="objDirFunctions" form-name="formName" is-steps="false"></extra-field-directive>
        </div>
    </div>


</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-if="DetailsErrorMessage.length > 0" ng-bind="DetailsErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="onOKClick()" ng-disabled="validateDetails()" />
        <input type="button" class="btn dialog-btn-default" value="Cancel" ng-click="closeDialog()" />
    </div>
</div>
