<div class="portlet-body">
    <div class="col-xs-6 marg-top-5">
        <messageintellisensetemplate messageid='selectedCurrentRecordRow.dictAttributes.sfwRequiredMessage' isinsidedialog="true" show-tooltip-icons="true"
                                     model='selectedCurrentRecordRow' messagetext="'Required Message'" showmessagetext='true' hide-message-text="true"
                                     new-display-message="displayMessage.message" new-severity-value="displayMessage.severity"></messageintellisensetemplate>
    </div>
    <div class="col-xs-6 marg-top-5">
        <messageintellisensetemplate messageid='selectedCurrentRecordRow.dictAttributes.sfwRangeMessage' isinsidedialog="true" show-tooltip-icons="true"
                                     model='selectedCurrentRecordRow' messagetext="'Range Message'" showmessagetext='true' hide-message-text="true"
                                     new-display-message="displayMessage.message" new-severity-value="displayMessage.severity"></messageintellisensetemplate>
    </div>
    <div class="col-xs-6 marg-top-5">
        <messageintellisensetemplate messageid='selectedCurrentRecordRow.dictAttributes.sfwDataTypeMessage' isinsidedialog="true" show-tooltip-icons="true"
                                     model='selectedCurrentRecordRow' messagetext="'Data Type Message'" showmessagetext='true' hide-message-text="true"
                                     new-display-message="displayMessage.message" new-severity-value="displayMessage.severity"></messageintellisensetemplate>
    </div>
    <div class="col-xs-6 marg-top-5">
        <messageintellisensetemplate messageid='selectedCurrentRecordRow.dictAttributes.sfwLengthMessage' isinsidedialog="true" show-tooltip-icons="true"
                                     model='selectedCurrentRecordRow' messagetext="'Length Message'" showmessagetext='true' hide-message-text="true"
                                     new-display-message="displayMessage.message" new-severity-value="displayMessage.severity"></messageintellisensetemplate>
    </div>
    <div class="col-xs-6 marg-top-5">
        <messageintellisensetemplate messageid='selectedCurrentRecordRow.dictAttributes.sfwCodeMessage' isinsidedialog="true" show-tooltip-icons="true"
                                     model='selectedCurrentRecordRow' messagetext="'Code Message'" showmessagetext='true' hide-message-text="true"
                                     new-display-message="displayMessage.message" new-severity-value="displayMessage.severity"></messageintellisensetemplate>
    </div>
    <div class="col-xs-6 marg-top-5">
        <messageintellisensetemplate messageid='selectedCurrentRecordRow.dictAttributes.sfwDataFormatMessage' isinsidedialog="true" show-tooltip-icons="true"
                                     model='selectedCurrentRecordRow' messagetext="'Data Format Message'" showmessagetext='true' hide-message-text="true"
                                     new-display-message="displayMessage.message" new-severity-value="displayMessage.severity"></messageintellisensetemplate>
    </div>

    <hr style="margin:10px 0px;" />

    <div class="col-xs-8 margin-top-10">
        <label class="fleft control-label" style="margin-top:7px;">Field Mapper Method</label>
        <input type="text" class="form-control fleft" ng-model="selectedCurrentRecordRow.dictAttributes.sfwFieldMapperMethod" style="width:400px;margin-left:10px;" />
    </div>
    <div class="col-xs-12 margin-top-10" style="overflow:auto;height:calc(100% - 185px)">
        <table class="table table-striped table-bordered table-condensed" role="grid">
            <thead>
                <tr>
                    <th colspan="2">
                        <label class="fleft">Field Value Mappers</label>
                        <a href="#" class="fright marg-left-5" ng-click="deleteFieldValueMapper()" ng-disabled="!canDeleteFieldValueMapper();">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" class="fright" ng-click="addFieldValueMapper()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Value</th>
                    <th>File Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fieldValueMapper in selectedCurrentRecordRow.Elements" ng-click="selectFieldValueMapper(fieldValueMapper);" ng-class="selectedFieldValueMapper === fieldValueMapper?'selected':''">
                    <td><input type="text" class="form-control input-sm" ng-model="fieldValueMapper.dictAttributes.value" /> </td>
                    <td><input type="text" class="form-control input-sm" ng-model="fieldValueMapper.dictAttributes.filevalue" /> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <input class="dialog-btn-default" type="button" value="OK" ng-click="okClick()" />
    <input class="dialog-btn-default" type="button" value="Cancel" ng-click="closeDialog()" />
</div>
