<div class="portlet-body">
    <form name="domainForm" class="form-body" ng-init="validateDomain(model)">
        <div class="form-group">
            <label class="control-label">Domain Name</label>
            <input autofocus type="text" class="form-control input-sm" placeholder="Enter Domain Name e.g. if you login as domain\username, set domain here" ng-model="model.DomainName" ng-change="validateDomain(model)">
        </div>

        <div class="form-group">
            <label class="control-label">LDAP Path</label>
            <input class="form-control input-sm" ng-model="model.LDAPPath" placeholder="Enter LDAP Path" ng-change="validateDomain(model)" />
        </div>
    </form>
</div>

<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="$parent.domainValidationMessage" ng-if="$parent.domainValidationMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" ng-disabled="$parent.domainValidationMessage" class="dialog-btn-default" ng-click="saveDomain(model);OkClick();" value="{{model.DomainID<1?'Save':'Update'}}" />
        <input type="button" class="dialog-btn" ng-click="onCancelClick()" value="Cancel" />
    </div>

</div>

