<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-xs-4">Description:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control input-sm" title="{{objHyperLink.Value}}" ng-model="objHyperLink.Value" ng-change="validateHyperLink()" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">URL:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control input-sm" title="{{objHyperLink.URL}}" ng-model="objHyperLink.URL" ng-change="validateHyperLink()" />
            </div>
        </div>
    </div>
</div>
<div class="form-actions">


    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-show="HyperlinkErrorMessages.length>0" ng-bind="HyperlinkErrorMessage"></span>
    </div>
    <div class="col-xs-4">
        <input type="button" class="dialog-btn" value="OK" ng-click="closeNewRuleDetailsHyperlink()" ng-disabled="validateHyperLink()" />
    </div>
 
   
</div>
