<div class="node" ng-class="getCssClass(model)">
    <div class="node-header-container {{::model.Name}}-node-icon">
        <span class="node-header-inline" ng-bind="model.dictAttributes.Text" ng-show="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0"></span>
        <span class="node-header-inline text-italic" ng-hide="model.dictAttributes.Text && model.dictAttributes.Text.trim().length>0">[BLANK]</span>
    </div>
    <div class="node-expression-container" ng-class="getClass()">
        <span class="node-expression-block" ng-bind="model.dictAttributes.sfwQueryID" ng-show="model.dictAttributes.sfwQueryID && model.dictAttributes.sfwQueryID.trim().length>0"></span>
        <span class="node-expression-block text-italic" ng-hide="model.dictAttributes.sfwQueryID && model.dictAttributes.sfwQueryID.trim().length>0">[BLANK]</span>
    </div>
</div>
