
<div ng-controller="SearchActiveFormController" class="full-height">
    <!--<div class="popup-secondary-head"> Search Active Form </div>-->

    <div class="portlet-body">

        <div class="col-xs-12">
            <div class="col-xs-4">
                <label class="control-label">ID:</label>
                <input type="text" ng-keydown="onSearch($event)"  name="ID" class="form-control input-sm" ng-model="ID" />
            </div>
            <!--div class="col-xs-4">
                <label class="control-label">Title:</label>
                <input type="text" name="ID" class="form-control input-sm" ng-model="Title" />
            </div>-->
            <div class="col-xs-4">
                <label class="control-label">Location:</label>
                <div><locationintellisensetemplate locationname="Location" hide-create-button="true" locationchanged="onSearch($event)"></locationintellisensetemplate></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group"></div>
        </div>
        <div class="col-xs-12 full-width-form-table" >
            <table class="table table-bordered table-fixedheader">
                <thead>
                    <tr>
                        <th width="50%">Form ID</th>

                        <th width="50%">Location</th>
                    </tr>
                </thead>
                <tbody ng-if="IsShowSearch" ng-scrolldown callback="OnActiveFormScroll()" ngscrollheight="5">
                    <tr ng-repeat="form in lstActiveForms|filter:{FileName:ID, Location:Location}|limitTo:ActiveFormCount" ng-click="selectActiveFormRow(form)" ng-class="selectedForm==form?'selected':''">
                        <td width="50%">
                            <label ng-bind="form.FileName"></label>
                        </td>
                        <td width="50%">
                            <label ng-bind="form.Location"></label>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
    <div class="form-actions">
        <input type="button" value="OK" class="btn dialog-btn-default" ng-click="OkClick();" />
        <input type="button" value="Cancel" class="btn dialog-btn" ng-click="onCancelClick();" />
    </div>

</div>


