<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-6">

            <div class="form-group relative-parent">
                <label class="control-label  blocked-element"> Form Name(ID)</label>
                <span class="file-prefix">wfp</span>
                <input class="form-control input-sm file-suffix" type="text" title="{{objPrototypeFormDetails.ID}}" ng-change="objPrototypeFormDetails.isFinsihDisable();objPrototypeFormDetails.isNextDisable()" ng-model="objPrototypeFormDetails.ID" />


            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label"> Form Title</label>

                <input class="form-control input-sm" type="text" title="{{objPrototypeFormDetails.sfwTitle}}" ng-change="objPrototypeFormDetails.isFinsihDisable();objPrototypeFormDetails.isNextDisable()" ng-model="objPrototypeFormDetails.sfwTitle" />

            </div>
        </div>


    </div>
</div>

<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objPrototypeFormDetails.ErrorMessageForDisplay.length>0">{{objPrototypeFormDetails.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input type="button" value="Cancel" class="dialog-btn" ng-click="CloseWizardClick()" />
        <input type="button" value="Back" class="dialog-btn" wz-previous="onPrevious()" disabled="disabled" />
        <input class="dialog-btn" type="button" value="Next" wz-next="onNext()" ng-disabled="!objPrototypeFormDetails.isPrototypeFormDetailsNextDisable" />
        <input class="dialog-btn" type="button" wz-finish value="Finish" ng-disabled="!objPrototypeFormDetails.isPrototypeFormDetailsFinishDisable || objNewItems.SelectedOption == 'PrototypeLookup'" />
    </div>
</div>