<div class="portlet-body" id="$id">
    <div id="dvButtons" class="fright">
        <a id="addField" ng-click="AddCollectionRecord()" title="Add"><img src="images/Common/icon_add_dark.svg" /></a>        
        <a ng-click="DeleteCollectionRecord()" title="Delete" id="Delete" ng-disabled="!selectedCollectionRow" ><img src="images/Common/icon_delete_dark.svg" /></a>
    </div>
    <div class="form-group">
        <table class="sws-table">
            <thead>
                <tr>
                    <th ng-repeat="header in lstData track by $index" style="margin-right:10px;width:50px;">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr collectiondirectivefortest ng-repeat="objcol in testfieldmodel.Elements" items="objcol" model="testfieldmodel"
                    objselectedstep="SetSelectedTest" ng-click="SelectedCollectionField(objcol)" mainmodel="correspondencemainmodel" ng-class="selectedCollectionRow==objcol?'selected':''"></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-8 text-left">
        <span class="alert-error-msg" ng-bind="groupErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-4">
        
        <input type="button" class="btn dialog-btn-default" value="OK" ng-click="openAddItemToListForCollection.close()" />
    </div>


</div>
