<fieldset ng-disabled="$ctrl.isDisabledforVersioning">
    <div class="form-body">
        <div class="form-group padding-10">
            <label class="control-label margin-bottom-5">
                Task Key
            </label>
            <common-intellisense is-disable="$ctrl.isDisabledforVersioning" model="$ctrl.referenceIDModel" propertyname="'dictAttributes.sfwTaskKey'" collection="$ctrl.queryParametersValues" selected-item="$ctrl.referenceIDModel.dictAttributes.sfwTaskKey" is-reset="true"></common-intellisense>
        </div>
        <div class="form-group padding-10" style="padding-top:0px !important">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="$ctrl.referenceIDModel.dictAttributes.sfwApprovalActivity" ng-true-value="'True'" ng-false-value="'False'" undoredodirective model="$ctrl.referenceIDModel" propertyname="'dictAttributes.sfwApprovalActivity'" />
                <span class="control-label"> Approval Activity</span>
            </label>
        </div>
        <div class="inner-section">
            <div class="panel-group" id="accordion_{{$id}}_1">
                <div class="panel panel-default">
                    <div class="panel-heading panel-tab-nw" ng-click="showenter=!showenter">
                        <div class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_{{$id}}_1" aria-expanded="false">
                            Enter
                            <img src="images/Common/icon_add_dark.svg" ng-show="showenter" class="pull-left">
                            <img src="images/Common/icon_delete_dark.svg" ng-show="!showenter" class="pull-left">
                        </div>
                    </div>
                    <div id="collapse_{{$id}}_1" class="panel-collapse collapse in" aria-expanded="false">
                        <div class="panel-body">
                            <div class="form-group padding-10">
                                <label class="control-label margin-bottom-5">
                                    Form Mode
                                </label>
                                <select class="form-control input-sm" ng-model="$ctrl.enterFormModel.dictAttributes.sfwFormMode" undoredodirective model="$ctrl.enterFormModel" ng-change="$ctrl.onModeChange()" propertyname="'dictAttributes.sfwFormMode'">
                                    <option value="new">New</option>
                                    <option value="update">Update</option>
                                </select>
                            </div>
                            <bpm-enter-re-enter-form-details is-disabledfor-versioning="$ctrl.isDisabledforVersioning" is-objectbased="$ctrl.isObjectbased" model="$ctrl.enterFormModel" approvalactivity="$ctrl.referenceIDModel.dictAttributes.sfwApprovalActivity.toLowerCase() == 'true'" isenter="true" extelementmodel="$ctrl.extensionElementModel"></bpm-enter-re-enter-form-details>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading " ng-click="showReEnter=!showReEnter">
                        <div class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_{{$id}}_2" aria-expanded="false">
                            Re-Enter
                            <img src="images/Common/icon_add_dark.svg" ng-show="showReEnter" class="pull-left">
                            <img src="images/Common/icon_delete_dark.svg" ng-show="!showReEnter" class="pull-left">
                        </div>
                    </div>
                    <div id="collapse_{{$id}}_2" class="panel-collapse collapse in" aria-expanded="false">
                        <div class="panel-body">
                            <bpm-enter-re-enter-form-details is-disabledfor-versioning="$ctrl.isDisabledforVersioning" is-objectbased="$ctrl.isObjectbased" model="$ctrl.reEnterFormModel" approvalactivity="$ctrl.referenceIDModel.dictAttributes.sfwApprovalActivity.toLowerCase() == 'true'" isenter="false" extelementmodel="$ctrl.extensionElementModel"></bpm-enter-re-enter-form-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

