<div class="full-height full-width overflowA">
    <table class="sws-table">
        <thead>
            <tr>
                <th>Element Name</th>
                <th>Element ID</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="error in errorList">
                <td><span ng-bind="error.ElementName"></span></td>
                <td><span ng-bind="error.ElementID"></span></td>
                <td><span ng-bind="error.Type"></span></td>
                <td><span ng-bind="error.Message"></span></td>
            </tr>
        </tbody>
    </table>
</div>
