<td>
    <span title="{{variable.dictAttributes.id}}" ng-bind="variable.dictAttributes.id" />
</td>
<td>
    <span title="{{variable.dictAttributes.dataType}}" ng-bind="variable.dictAttributes.dataType"></span>
</td>
<td>
    <span title="{{variable.dictAttributes.entity}}" ng-bind="variable.dictAttributes.entity"></span>
</td>
<td>
    <span title="{{variable.dictAttributes.type}}" ng-bind="variable.dictAttributes.type"></span>
</td>
<td>
    <span title="{{variable.dictAttributes.sfwDefaultValueType}}" ng-bind="variable.dictAttributes.sfwDefaultValueType"></span>
</td>
<td>
    <span title="{{variable.dictAttributes.sfwDefaultValue}}" ng-bind="variable.dictAttributes.sfwDefaultValue"></span>
</td>
<td>
    <span title="{{variable.dictAttributes.sfwQueryID}}" ng-bind="variable.dictAttributes.sfwQueryID"></span>
</td>
<td>
    <span title="{{variable.dictAttributes.sfwQueryParameters}}" ng-bind="variable.dictAttributes.sfwQueryParameters"></span>
</td>
