<div class="portlet-body">
    <div class="form-body">
        <div class="form-group">
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="Entity" name="rbitem" class="margin-right-10" id="rdCreateEntity" ng-change="onFileTypeChanged()" /><label for="rdCreateEntity"> Entity</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="Forms" name="rbitem" class="margin-right-10" id="rdCreateForm" ng-change="onFileTypeChanged()" /><label for="rdCreateForm"> Forms</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="Wizard" name="rbitem" class="margin-right-10" id="rdCreateWizard" ng-change="onFileTypeChanged()" /><label for="rdCreateWizard"> Wizard</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="UserControl" name="rbitem" class="margin-right-10" id="rdCreateUserControl" ng-change="onFileTypeChanged()" /><label for="rdCreateUserControl"> User Control</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="Tooltip" name="rbitem" class="margin-right-10" id="rdCreateTooltip" ng-change="onFileTypeChanged()" /><label for="rdCreateTooltip"> Tooltip</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="PrototypeLookup" name="rbitem" class="margin-right-10" id="rdCreatePrototypeLookup" ng-change="onFileTypeChanged()" /><label for="rdCreatePrototypeLookup"> Prototype Lookup Form</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="PrototypeMaintenance" name="rbitem" class="margin-right-10" id="rdCreatePrototypeMaintenance" ng-change="onFileTypeChanged()" /><label for="rdCreatePrototypeMaintenance"> Prototype Maintenance Form</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="PrototypeWizard" name="rbitem" class="margin-right-10" id="rdCreatePrototypeWizard" ng-change="onFileTypeChanged()" /><label for="rdCreatePrototypeWizard"> Prototype Wizard Form</label>
            </div>
        </div>
        <div class="form-group" ng-if="!$root.IsWorkFlowMap">
            <div class="col-xs-3">
                <input id="rdCreateBpm" type="radio" ng-model="objNewItems.SelectedOption" value="BPMN" name="rbitem" class="margin-right-10" ng-change="onFileTypeChanged()" /><label for="rdCreateBpm"> BPMN</label>
            </div>
            <div class="col-xs-3">
                <input id="rdCreateBpmTemplate" type="radio" ng-model="objNewItems.SelectedOption" value="BPMTemplate" name="rbitem" class="margin-right-10" ng-change="onFileTypeChanged()" /><label for="rdCreateBpmTemplate"> BPM Template</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="Correspondence" name="rbitem" class="margin-right-10" id="rdCreateCorr" ng-change="onFileTypeChanged()" /><label for="rdCreateCorr"> Correspondence</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="File" name="rbitem" class="margin-right-10" id="rdCreateFile" ng-change="onFileTypeChanged()" /><label for="rdCreateFile"> File</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="Report" name="rbitem" class="margin-right-10" id="rdCreateReport" ng-change="onFileTypeChanged()" /><label for="rdCreateReport"> Report</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="HtxLookup" name="rbitem" class="margin-right-10" id="rdCreateFormlinkLookup" ng-change="onFileTypeChanged()" /><label for="rdCreateFormlinkLookup"> Htx Lookup</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="HtxMaintenance" name="rbitem" class="margin-right-10" id="rdCreateFormlinkMaintenance" ng-change="onFileTypeChanged()" /><label for="rdCreateFormlinkMaintenance"> Htx Maintenance</label>
            </div>
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="HtxWizard" name="rbitem" class="margin-right-10" id="rdCreateFormlinkWizard" ng-change="onFileTypeChanged()" /><label for="rdCreateFormlinkWizard"> Htx Wizard</label>
            </div>
        </div>

        <div class="form-group" ng-if="$root.IsWorkFlowMap">
            <div class="col-xs-3">
                <input type="radio" ng-model="objNewItems.SelectedOption" value="WorkflowMap" name="rbitem" class="margin-right-10" id="rdCreateWorkflowMap" ng-change="onFileTypeChanged()" /><label for="rdCreateWorkflowMap"> Workflow Map</label>
            </div>
          
        </div>
    </div>
</div>


<div class="form-actions">
    <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
    <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" disabled="disabled" />
    <input type="button" class="dialog-btn" wz-next="OnNextPageLoad();onNext()" value="Next"/>
    <input type="button" class="dialog-btn" wz-finish value="Finish" disabled="disabled" />
</div>