<div class="portlet-body">

    <div class="entity-summary-report">

        <ul>
            <li ng-repeat="item in lstSummaryReport" style="list-style:none">
                <ul>
                    <li ng-repeat="objDo in item.lstDO" ng-show="item.lstDO.length>0" style="list-style:none">
                        <span style="cursor:pointer" ng-click="openCSFileClick(objDo)"><a ng-bind="objDo.ClassName"></a></span> <span class="filepath" title="{{objDo.FileName}}" ng-bind="objDo.FileName"></span>
                    </li>
                    <li ng-repeat="objBus in item.lstBus" ng-show="item.lstBus.length>0" style="list-style:none">
                        <span style="cursor:pointer" ng-click="openCSFileClick(objBus)"><a ng-bind="objBus.ClassName"></a></span> <span class="filepath" title="{{objBus.FileName}}" ng-bind="objBus.FileName"></span>
                    </li>
                    <li ng-repeat="objEnt in item.lstEnt" ng-show="item.lstEnt.length>0" style="list-style:none">
                        <span class="filepath" title="{{objEnt.FileName}}" ng-bind="objEnt.FileName"></span>
                    </li>
                </ul>
            </li>
        </ul>

    </div>


</div>
<div class="form-actions">
    <input class="dialog-btn" type="button" ng-click="closeDialog()" value="OK"/>
 </div>