body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../../Images/Main_Bg.jpg);
	background-repeat: repeat-x;
	background-color: #0d1a1b;
}
.loginTxt
	{
		width:106px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 0px 5px;
		font:normal 14px "Lucida Sans Unicode","Lucida Grande",sans-serif;
	}
.LoginText
{	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #04212d;
	text-decoration:none;
}
.LoginText a 
{	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #04212d;
	text-decoration:none;
}
.LoginText a:hover
{
	text-decoration:underline;
	color:#338695;
}
.secTopBg {	background-image: url(../../Images/Secuirty_Top_Bg.png);
	background-repeat: repeat-x;
	height: 101px;
}
.secMainBg {
	background-image: url(../../Images/Secuirty_M_BG.png);
    width:90%
	background-repeat: repeat-y;
	background-position: left top;
}
.Head_sec {
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #0C5E90;
}
.sectxt {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: black;
}
.secbottomL {
	background-image: url(../../Images/Secuirty_F_L.png);
	background-repeat: no-repeat;
	height: 25px;
}
.secbottomR {
	background-image: url(../../Images/Secuirty_F_R.png);
	background-repeat: no-repeat;
	background-position: right;
}
.conttxt {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #333;
}
.style1
{
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    color: #04212d;
    text-decoration: none;
    height: 19px;
}
.naviHead
    {
		float:left;
		width:525px;
		margin:0px 10px 5px 10px;
		padding:15px 0px 0px 0px;
		border-bottom:1px solid #00377B;
    }
.naviHeadTxt
    {
        color:#014274;
        text-align:left;
		padding:0px 5px 0px 0px;
        font:18px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.naviHeadStep
    {
        float:right;
        color:#014274;
		padding:0px 0px 0px 0px;
        font:bold 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.naviHeadPara
    {
		float:left;
		margin:0px;
		width:525px;
		padding:0px;
		font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.naviHeadPara p
    {
		float:left;
		width:550px;
		padding:0px 10px 10px 10px;
		font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.loginContentMid
    {
        float:left;
		width:525px;
        color:#014274;
        padding:0px 0px 10px 25px;
    }
.loginTxtLeft
	{
		text-align:right;
		display:inline-block;
		padding:0px 5px 0px 0px;
		font:normal 14px "Segoe UI",Verdana,Geneva,sans-serif !important;
	}
.loginTxtRight
	{
		width:175px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 0px 0px;
		font:normal 14px "Segoe UI",Verdana,Geneva,sans-serif !important;
	}
.loginTxtBox
    {
	    height:20px;
	    width:175px;
	    text-align:left;
	    margin:0px 0px 10px 0px;
	    vertical-align:middle;
	    padding:2px 0px 2px 4px;
	    *padding:3px 0px 0px 4px;
	    font:normal 12px "Lucida Sans Unicode","Lucida Grande",sans-serif;
    }
.GeneralLabel
	{
		text-align:right;
		line-height:20px;
		padding:0px 5px 0px 0px;
		font: 11px verdana,tahoma,helvetica !important;
	}
.GeneralLabelBold
	{
		text-align:right;
		line-height:20px;
		padding:0px 5px 0px 0px;
		font: bold 12px verdana,tahoma,helvetica !important;
	}
.ErrorMessage
{
    color: Red;
    font: 14px "Verdana, Arial, Helvetica, sans-serif";
}
.authenticationImageList
{
    width: 100px;
    height: 60px;
    vertical-align: middle; /*background-color: #BBCCFF;*/
    display: block;
    float: left;
    list-style: none;
    position: relative;
    -ms-interpolation-mode: bicubic;
}
.authenticationPhrase
{
    vertical-align: middle;
    background-color: #BBCCFF;
    text-align: center;
}
