<div>
    <div ng-class="field == SelectedField?'selected':''">
        <i ng-if="field.Items.length>0" ng-click="ExpandCollapsedCustomAttrField(field,$event)"
           ng-class="field.IsExpanded?'fa fa-minus':'fa fa-plus'"></i>
        <input type="checkbox" ng-model="field.IsSelected" ng-show="field.IsCheckBoxVisible" />
        <span ng-bind="field.Text"></span>
    </div>
    <ul ng-if="field.Items.length > 0" ng-show="field.IsExpanded" role="group">
        <li ng-repeat="field in field.Items" parameterdraggable dragdata="field.Text" ng-click="SelectFieldClick(field, $event)"
            ng-mousedown="SelectFieldClick(field, $event)" class="marg-left-15 common-tree-list">
            <div navigationparamtreetemplatefornewbutton></div>
        </li>
    </ul>
</div>
