<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-12">
            <div class="col-xs-12 column-inner-align">
                <div class="radio">
                    <label><input type="radio" value="CreateNewGrid" ng-model="objNewButtonDialogForGrid.SelectGridOption" name="rdbgrid" ng-change="OnChangeOfGridOption()">Create New Grid</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="UseExistingGrid" ng-model="objNewButtonDialogForGrid.SelectGridOption" name="rdbgrid">Use Existing Grid</label>
                </div>
            </div>
            <div class="col-xs-12 column-inner-align">
                <div class="form-group">
                    <label class="control-label col-xs-3">Related Control :</label>
                    <div class="col-xs-4">
                        <select class="form-control input-sm" ng-options="ctrl for ctrl in objNewButtonDialogForGrid.lstRelatedGrid" title="{{objNewButtonDialogForGrid.SelectGrid}}" ng-model="objNewButtonDialogForGrid.SelectGrid"
                                ng-disabled="objNewButtonDialogForGrid.SelectGridOption=='CreateNewGrid'"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 column-inner-align">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Select Dialog Panel</legend>
                <div class="col-xs-12 column-inner-align">
                    <div class="radio">
                        <label><input type="radio" value="CreateNewDialogPanel" ng-model="objNewButtonDialogForGrid.SelectDialogPanelOption" name="rdbDialogPanel" ng-change="objNewButtonDialogForGrid.SelectDialogPanel=''">Create New Dialog Panel</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="UseExistingDialogPanel" ng-model="objNewButtonDialogForGrid.SelectDialogPanelOption" name="rdbDialogPanel" ng-change="objNewButtonDialogForGrid.SelectDialogPanel=''">Use Existing Dialog Panel</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Dialog Panel :</label>
                    <div class="col-xs-4">
                        <input ng-show="objNewButtonDialogForGrid.SelectDialogPanelOption=='CreateNewDialogPanel'" type="text" class="form-control input-sm" title="{{objNewButtonDialogForGrid.SelectDialogPanel}}" ng-model="objNewButtonDialogForGrid.SelectDialogPanel">
                        <select ng-show="objNewButtonDialogForGrid.SelectDialogPanelOption=='UseExistingDialogPanel'" ng-options="ctrl for ctrl in objNewButtonDialogForGrid.lstDialogPanel" class="form-control input-sm" title="{{objNewButtonDialogForGrid.SelectDialogPanel}}" ng-model="objNewButtonDialogForGrid.SelectDialogPanel"></select>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objNewButtonDialogForGrid.ErrorMessageForDisplay.length>0" ng-bind="objNewButtonDialogForGrid.ErrorMessageForDisplay"></span>
    </div>
    <div class="col-xs-6">
        <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
        <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" disabled="disabled" />
        <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-disabled="objNewButtonDialogForGrid.IsNextDisable()" />
        <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" ng-disabled="objNewButtonDialogForGrid.IsFinishDisable()" />
    </div>
</div>