<div class="portlet-body">
    <div class="">
        <div newbuttoncommonproptemplate></div>
    </div>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-xs-2">Mode</label>
            <div class="col-xs-10">
                <select class="form-control input-sm" ng-options='mode for mode in objNewButtonGeneralProp.lstMode' ng-model='sfxControl.dictAttributes.sfwMode' undoredodirective model='sfxControl'></select>
            </div>
        </div>
        <div class="form-group">
            <resourceintellisensetemplate textboxclass="'col-xs-10'" resourcelabelclass="col-xs-2 control-label" resourcetextboxclass="col-xs-10" resourceid='sfxControl.dictAttributes.sfwResource' propertyname="'dictAttributes.sfwResource'" model='sfxControl' resourcetext="'Resources:'" showresourcetext='true'></resourceintellisensetemplate>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Security Level</label>
            <div class="col-xs-10">
                <select class="form-control input-sm" ng-options='securityLevel.Code as securityLevel.Description for securityLevel in objNewButtonGeneralProp.lstSecurityLevel' title="{{sfxControl.dictAttributes.sfwSecurityLevel}}" ng-model='sfxControl.dictAttributes.sfwSecurityLevel'></select>
            </div>
        </div>

        <div class="form-group" ng-if="!objNewButtonGeneralProp.IsLookup">
            <visibleruleintellisensetemplate isnavigationlink="false" textboxclass="'col-xs-10'" resourcelabelclass="col-xs-2 control-label" resourcetextboxclass="col-xs-10" model='sfxControl' 
                                             sfwvisiblerule='sfxControl.dictAttributes.sfwVisibleRule' propertyname="'dictAttributes.sfwVisibleRule'" formmodel='formodel'
                                             visibleruletext="'Visible Rule:'" entityid="formodel.dictAttributes.sfwEntity"></visibleruleintellisensetemplate>
        </div>
        <div class="form-group" ng-if="!objNewButtonGeneralProp.IsLookup">
            <visibleruleintellisensetemplate   isnavigationlink="false"textboxclass="'col-xs-10'" resourcelabelclass="col-xs-2 control-label" resourcetextboxclass="col-xs-10" model='sfxControl' 
                                             sfwvisiblerule='sfxControl.dictAttributes.sfwEnableRule' propertyname="'dictAttributes.sfwEnableRule'" formmodel='formodel' 
                                             visibleruletext="'Enable Rule:'" entityid="formodel.dictAttributes.sfwEntity"></visibleruleintellisensetemplate>
        </div>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
    <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" />
    <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-disabled="isAnyErrors()" ng-click="objNewButtonGeneralProp.OnNextClick()" />
    <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" disabled="disabled" />
</div>