/* Important Note: Common classes has been added in Common.css file */

.basic > a
	{
		color:#fff;
		cursor:default !important; 
		white-space:nowrap !important;
		/*border-top:#fff 1px solid;*/
		/* border-bottom:#999 1px solid; */
	}
.basic > a
	{
		border-top:1px solid #eeefef;
		border-bottom:1px solid #eeefef;
		background:url(image/tab.png) #4c5356;
	}
.basic > a.selected
	{
		background-image:url(Image/tab.gif);
	}
.basic > a.active
	{
		background-image:url(Image/tab-hover.gif);
	}
.basic a:hover
	{
		color:#fff;
		background:url(Image/tab.png) repeat-x left top !important;
	}
.basic > a.active
	{
	    border-top:2px solid #eeefef;
		color:#00c;
	}