html, body, #container
{
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
/*    font-weight: bold;*/
}
.SelContbutton
{
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    color: #333300;
    padding: 0px;
    margin-top: 2px;
    background-image: url('Image/login_button_bg.gif');
    background-repeat: repeat-x;
    border: solid 1px #999999;
    cursor: hand;
}

.txtLabelRules
{
    font-size: x-small;
    color: #1C3737;
    font-weight: bold;
}

.txtlabel
{
    font-weight: bold;
    color: #333300;
}

.Login_Bg
{
    background-image: url(Image/Login_Main_Bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #355B5B;
}

.LoginMain_Bg_External
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url(Image/LoginMain_Bg_External.png);
    background-repeat: repeat;
    background-position: left top;
}

.LoginMain_Bg_Internal
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url(Image/LoginMain_Bg_Internal.png);
    background-repeat: repeat;
    background-position: left top;
}

.loginTxt
{
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    color: #515151;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    vertical-align: middle;
    text-align: center;
}

.loginhead
{
    padding-left: 103px;
    text-align: right;
}

.logincontent
{
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    color: #333;
    line-height: 15px;
    padding: 10px;
    text-align: justify;
    height: 81px;
}

.Login_Logo
{
    background-image: url(Image/Login_Logo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 20px;
    height: 116px;
}

.copytxt
{
    font-family: verdana;
    font-size: 10px;
    font-weight: normal;
    color: #333;
}

.Logintxtbox
{
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    color: #333;
    background-image: url('Image/Login_txtLabel_Bg.png');
    background-repeat: repeat-x;
    border: 1px solid #999;
    vertical-align: middle;
    line-height: 25px;
    margin-bottom: 3px;
}

.loginButtonbg
{
    font-weight: bold;
    font-family: Verdana;
    font-size: 10px;
    color: #ffffff;
    padding: 0px;
    margin-right: 0px;
    background-image: url('Image/Login_Btn.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: solid 0px #000000;
    vertical-align: middle;
    cursor: hand;
}

.loginButton
{
    margin-left: 85px;
}

.logfootertxt
{
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #515151;
}

.textboxbg
	{
		font-size:1.188em;
		margin:2px 2px 1px 0px !important;
	}
.authenticationImageList
{
    width: 111.9px !important;
    height: 111.9px;
    margin-bottom:4px;
}
.authenticationImage
{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: #BBCCFF;
}
.authenticationPhrase
{
    vertical-align: middle;
    background-color: #BBCCFF;
    text-align: center;
}
.failureText
{
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
