/* Important Note: Common classes has been added in Common.css file */
.menuTest
    {
        background-color:Lime;
    }
A A:link A:active A:visited
    {
	    font-weight:bold;
	    color: #238fc7;
    }
.loader
    {
	    font-weight: bold;
	    color: #CC0033;
    }
/* Begin: Login Part Styles */
.loginBody
	{
		background:#cbd7e7;
	}
#bg-top { height:99px; background: url(Image/loginHeaderBg.png) no-repeat; }
#bg-bottom { height: 31px; background: url(Image/container-bottom-bg.png) no-repeat; }
#contentWrap { min-height:450px; background: url(Image/container-bg-repeat.png) repeat-y; padding:0px; }
#contentWrapContact { min-height:195px; background: url(Image/container-bg-repeat.png) repeat-y; padding: 14px 0; }
#content { width: 700px; /*background: url(Image/content-gradient-bg.png) no-repeat; margin-bottom: -56px;*/ position: relative; top: -28px; *top:-18px; left: 17px; }
#leftColumn { width: 270px; background: url(Image/divider-shadow.png) no-repeat right -15px; position: relative; z-index: 1; }
#leftColumn h2
    {
        color: #334e61;
        line-height:31px;
        margin:7px 0 12px;
        font:bolder 16px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
#leftColumn P
    {
        color:#334e61;
        /*min-height:175px;
        min-height:135px;*/
        margin:0px 0 20px;
        text-align:justify;
        line-height:18px !important;
        font:normal 11px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
#rightColumn h2
    {
        color: #334e61;
        line-height:31px;
        margin:0px 0 12px;
        font:bolder 16px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
#leftColumn ul
    {
        margin:0px;
        padding:0px;
        color:#2f4b6e;
        list-style:none;
        text-align:justify;
        font:normal 11px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
#leftColumn ul li
    {
        line-height:20px;
        margin:10px 0px 0px 0px;
        padding:0px 0px 0px 10px;
        background:url(Image/login-ess-list-arrow.png) no-repeat left 7px; 
    }
#leftColumn ul li a
    {
        color:#333333;
    }
#leftColumn ul li a:hover
    {
        color:#2f4b6e;
        text-decoration:underline;
    }
.loginCopyrights
    {
        width:243px;
        color:#334e61;
        text-align:center;
        display:inline-block;
        font:normal 10px Myriad Pro,Segoe UI,verdana,tahoma,helvetica;
    }
.midBoxGrey
    {
		width:300px;
        color:#034961  !important;
        cursor:pointer;
        font-weight:bold;
        text-decoration:underline;
    }
.midBoxGrey a
    {
        text-decoration:none;
        color:#034961;
        padding:0px 10px 0px 10px;
        background:url(Image/arrowRight.png) no-repeat scroll left 16px transparent;
    }
.midBoxGrey span
    {
        color:#014274;
        text-decoration:none;
    }
#rightColumn { width:310px; /*background:url(Image/divider.gif) repeat-y;*/ margin-left:-1px; }
#leftColumn, #rightColumn { min-height:220px; float:left; padding:60px 30px 0px 30px; }
#logo { margin:-18px 0px 9px 25px; display:inline-block; }
#logoText { margin:25px 25px 9px 0px; *margin:-25px 25px 9px 0px; display:inline-block; float:right; }
.loginTxt
    {
        color:#334e61;
    }
.loginTxtI
    {
        color:#334e61;
    }    
.loginTxtBox
    {
        color:#334e61;
        border:1px solid #8ba9b8;
        background:url(image/loginTxtBoxBg.jpg) repeat-x left top;
    }
.loginTxtBoxI
    {
        color:#334e61;
        border:1px solid #8ba9b8;
        background:url(image/loginTxtBoxBg.jpg) repeat-x left top;
    }
.btnLogin
    {
        background:url(image/btnLogin.png) no-repeat left top;
    }
.btnLoginI
    {
        background:url(image/btnLogin.png) no-repeat left top;
    }
.LoginTxtBoxSelect
    {
        color:#334e61;
        border:1px solid #8ba9b8;
        background:url(image/loginTxtBoxBg.png) repeat-x left top;
    }
.LoginSelectButton
    {
        background:url(image/btnSelect.png) repeat-x left top;
    }
#lgnBase_UserNameRequired, #lgnBase_PasswordRequired, #rfvContactID
	{
		color:Red;
	}
.loginFailureText
	{
	    color:#f00;
	}	
#lblError
	{
	    color:#f00;
	}
/* End: Login Part Styles */
/* Start Left Menu */
.leftMenuHeading
    {
        background:url(image/left-header-bg.png) no-repeat left 5px;
    }
.leftMenuTxt
    {
        background:url(image/left-menu-line.png) no-repeat -10px bottom;
    }
.leftMenuTxt a:hover
    {
        background:url(image/left-menu-hover.png) repeat-x left bottom;
    }
/* End Left Menu */
.inboxText
    {
        width:180px;
        display:block;
        color:#4d4d4d;
        padding:0px 0px 5px 0px;
        margin:-25px 0px 0px 60px;
        background:url(image/inboxDevider.png) no-repeat -10px bottom;
    }
.innerPgsBody
	{
		background-color:#f2f8fa;
	}
#top_head
	{
		background-color:#c5e2ea;
		background-repeat:repeat-x;
		background-image: url(Image/Header_Top_Bg.png);
	}
.UnreadMessage
	{
		background-color:#ffff9F;
	}
.silhouette
	{
		background-position:center;
		background-repeat:no-repeat;
		background-image:url(Image/silhouette1.png);
	}
.headerDiv
	{
		background-position:center;
		background-repeat:no-repeat;
		background-image:url(Image/headerDevider.png);
	}
/* Begin: Header Part Styles */
#header
	{
		background:url(Image/Header_Top_Center.png) repeat-x left top;
	}
.HeaderTopLeft
	{
		background-repeat:no-repeat;
		background-position:left top;
		background-image:url(Image/Header_Top_Left.png);
	}
.HeaderTopCenter
	{
		color:#fff;
		background:url(Image/Header_Top_Center.png) repeat-x;
	}
.HeaderTopRight
	{
		background:url(Image/Header_Top_Right.png)  no-repeat right top;
	}
.headrightIcon a
	{
		color:#4c7996;
	}
.headrightIcon a:hover
	{
		color:#44a6e5;
	}
.pageFormTitle
    {
        color:#2f4b6e;
		/*background:url(Image/page-Form-Title-Arrow.png) no-repeat left top;*/
    }
#uppFormTitle 
    {
	/*	background:url(Image/page-Form-Title-Arrow.png) no-repeat left 9px;*/
    }   
.pageArrow
    {
        color:#2f4b6e;
		background:url(Image/page-Form-Title-Arrow.png) no-repeat left top;
    }	
.welcomeUser
    {
        background:url(Image/Icon-Welcome-User.png)  no-repeat left 2px;
    }
.menubg
	{
		background:url(Image/MainMenu_Bg.gif) repeat-x;
	}
.menuL
	{
		background:url(Image/MainMenu_Bg.gif) no-repeat left top;
	}
.menuR
	{
		background:url(Image/MainMenu_Bg.gif) no-repeat right top;
	}
.Menuleft
	{
		background-position:left;
		background-repeat: no-repeat;
		background-color:transparent;
		background-image: url(Image/Menu_L.gif);
	}
.MenuCenter
	{
		color:#333;
		background-repeat:repeat-x;
		background-image:url(Image/MainMenu_Bg.gif);
	}
..MenuCenter a
	{
		color:#333;
	}

.MenuCenter a:hover
	{
		color:#3399cc;
	}
.MenuRight
	{
		background-position:right;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Menu_R.gif);
	}
.mpiLogo
    {
         background:url(Image/mpiLogoBg.jpg) repeat-x left top;
    }
.ButtonCell
	{
		color:#000000;
		background:url(Image/innerbtnbg.png) repeat-x right -308px;
		*background:url(Image/innerbtnbg.png) repeat-x right -308px;
	}
.ButtonTable
	{
		color:#000000;
	}
.buttonbg
	{
		color:#000;
		color:#fff;
		background-repeat:repeat-x;
		background:url(Image/innerbtnbg.png) repeat-x left -278px;
		*background:url(Image/innerbtnbg.png) repeat-x left -278px;
	}
input.buttonbg:hover
	{
		/*color:#eaeaea;*/
	}
.MyModalPanel
	{
		background:#fff url(Image/loading.gif) center center no-repeat;
	}

A A:link A:active A:visited
	{
		color:#238fc7;
		font-weight:bold;
	}
.loader
	{
		color:#cc0033;
		font-weight:bold;
	}
.menubg a:link
	{
		color: #ffffff;
		text-decoration: none;
	}
.menubg a:hover
	{
		color:#ffffff;
		text-decoration: none;
	}
.menubg a:visited
	{
		color: #ffffff;
		text-decoration: none;
	}
.submenuitem
	{
		color:#333;
		background-color:#c4e2e2;
	}
.submenu
	{
		background-color:#ffffff;
	}
.submenu a
	{
		color: #333;
	}
.submenuover
	{
		color:#333;
		background-color:#97d3da;
	}
#pnlSmartLinks ul li
	{
		color:#515050 !important;
		background-repeat:no-repeat;
		background-position:3px 0px;
		background-image:url(Image/listArrow.gif);
	}
#pnlSmartLinks ul li a
	{
		color:#515050 !important;
	}
#pnlSmartLinks ul li a:hover
	{
		color:#515050 !important;
	}
#calAgency
	{
		border:2px solid #3e5e70 !important;
	}
#calEvents
	{
		border:2px solid #3e5e70 !important;
	}	
.dayHover:hover
	{
		background-color:#b0d2d1;
	}
.highlightedPanel { background-color:#c4ebfa; }		
/* Begin: Left Content Styles */
		.smartlinks
			{
				color:#4d4d4d;
			}
		 .smartlinks a
			{
				color:#4d4d4d;
			}
		.smartlinks a:hover
			{
				color:#4d4d4d;
			}
		.leftMPIIcon
		    {
		        background:url(Image/Icon_MPI.png) repeat-x left top;
		    }
		.leftSmartNaviIcon
		    {
		        background:url(Image/Icon_Smart_Navigation.png) repeat-x left top;
		    }
		.leftMyBasketIcon
		    {
		        background:url(Image/Icon_My_Basket.png) repeat-x left top;
		    }
/* End: Left Content Styles */
			/* Begin: Grid Styles */
			.gridTable 
				{
					border:1px solid #A8B55B;
					background:none repeat scroll 0 0 #FFFFFF;
				}
			.gridhead
				{
					color:#4e4e4e !important;
					background-color:#d4d5d5 !important;
					/*background:url(Image/table-heading-bg.jpg) repeat-x left top;*/
				}
			.gridhead th a
				{
					color:#191919;
				}
			.gridhead th a:hover
				{
					color:#191919;
				}
			.gridhead a:hover
				{
					color:#191919;
					background:none !important;
				}
			.gridhead a:visited
				{
					color:#191919;
				}
			.gridhead th, .gridodd td, .grideven td, .gridselected td, .primaryaddrcontct td
				{
					/*border:1px solid #fff;
					*border-right:2px solid #84babc !important;*/
				}
			.gridodd td
				{
					/**border-right:1px ridge #69f8fe !important;*/
				}
			.gridnormal
				{
					color:#333333;
				}
			.gridnormal td
				{
					color:#333333;
				}
			.gridnormal span
				{
					border:1px solid #ccc;
					background:#f1f1f1 url(Image/pageNavBg.gif) repeat-x left top;
				}
			.gridnormal a:hover
				{
					color:#005197;
					background:none !important;
				}
			.gridodd
				{
					color:#000;
					background:none repeat scroll 0 0 #f2f1f1;
				}
			.gridodd a
				{
					color:#314553;
					font-weight:bold;
				}
			.gridodd a:hover
				{
					color:#2d3500;
					background:none !important;
				}
			tr.gridodd span
				{
					color:#000000;
				}
			.grideven
				{
					color:#000000;
					background:none repeat scroll 0 0 #e4e4e4;
				}
			tr.grideven span
				{
					color:#000000;
				}
			.grideven a
				{
					color:#314553;
					font-weight:bold;
				}
			.grideven a:hover
				{
					color:#2d3500;
					background:none !important;
				}
			tr.grideven span
				{
					color:#000000;
				}
			.gridselected
				{
					color:#000000;
					background:none repeat scroll 0 0 #f7de96;
				}
			tr.gridselected span
				{
					color:#000000;
				}
			tr.gridodd:hover, tr.grideven:hover, tr.gridselected:hover
				{
					color:#4c493b;
					background:none repeat scroll 0 0 #cfcfcf;
				}
			.primaryaddrcontct td
				{
					background-color:#9bd9a7;
				}
			tr.primaryaddrcontct span
				{
					color:#000000;
				}
			/* End: Grid Styles */
a
	{
		text-decoration:none;
	}
.gridhead a:link
	{
		color:#191919;
		text-decoration:none;
	}
.gridhead a:hover
	{
		color:#333;
		text-decoration:underline;
	}
.gridhead a:visited
	{
		color:#000000;
		text-decoration:underline;
	}
.gridnormal span
	{
		border: 1px solid #CCCCCC;
		background: url(Image/pageNavBg.gif) repeat-x scroll left top #F1F1F1;
	}
.gridselected
	{
		color:#000000;
		background-color:#f0e247;
	}
.Content
	{
		border: solid 1px #8faacf;
	    border-top:none !important;
		background:#fff url(Image/Box_Bg.gif) repeat-x bottom left;
	}
#cphCenterMiddle_tblAuditInfo
	{
		border:solid 1px #d8e6eb;
	}
.DisabledControls
	{
		background-color:#fff;
	}
.ReqInfo
	{
		color: #FF4500;
	}
.txtlabel
	{
		color: #000000;
	}
.Label
	{
		color: #000000;
	}
	
	.LabelBold
	{
	    text-align:right;
				line-height:20px;
				padding-left:20px !important;
				font: bold 11px verdana,tahoma,helvetica !important;
		color: #000000;

	}
.PayeeAccount
	{
		color: #000000;
	}
.Table
	{
		width:100%;
		vertical-align:top;
	}
.Message
	{
		color:#3660b6 !important;
		border:1px solid #629cca;
		background:#c7e1f6 url(Image/msgBg.gif) repeat-x scroll left top;
	}
 caption
	{
		/*border:1px solid #bdbcbd;
		background:url(Image/msgBg.gif) repeat-x scroll left bottom #FFFFFF;*/
	}
.textboxbg
	{
		color:#000000;
		background-color:#FFFFFF;
		border:1px solid #c0c0c0;
	}
.textboxbgnocursor
	{
		color:#000000;
		background-color:#FFFFFF;
		border:1px solid #a3b7c5;
	}
select
	{
		color:#000000 !important;
		background-color:#FFFFFF;
		border:1px solid #c0c0c0;
/*		<!--[if IE 7]>
		*border:1px solid #a4cad6; !important;
		<![endif]-->*/
		*border:1px solid #a4cad6 !important;
	}
option
	{
		/*border:1px solid #a4cad6 !important;
		*border:1px solid #a4cad6; !important;*/
	}
.hasDatepick
	{
		color:#000000;
		background-color:#FFFFFF;
		border:1px solid #c0c0c0;
	}
.Divider
	{
		border:solid 1px #d8e6eb;
	}
.panelbg
	{
		color:#000000;
		/* background-color:#f2f8fa; */
	}
#content
	{
		/*background-color:#d7ecf3;*/
	}
.panelbg a:hover
	{
		text-decoration: underline;
	}
.panelleft a, a:link
	{
		/*color:#4d4d4d;*/
	}
/* Begin: Footer Part Styles */
.footer
	{	
		color:#fff;
		background-color:#004357;
		background:url(Image/footer_strip.png) repeat-x left top;
	}
.footerLeft
	{
		background-color:#004357;		
		background:url(Image/Footer_L.png) no-repeat left top;
	}
.footerRight
	{
		background-color:#004357;
		background:url(Image/Footer_R.png) no-repeat right top;
	}
.loginFooter
    {
        color:#014274;
        background:url(Image/loginFooterBG.png) no-repeat left top;
    }
/* End: Footer Part Styles */
.gridItemThresholdYellow
	{
		color:#000000;
		background-color:#f0e247;
	}
.gridItemThresholdRed
	{
		color:#185373;
		background-color:#FF0000;
	}
.UnreadMessageRow
	{
		background-color:#ffff99;
	}
.otherMonth a
	{
		color:#ccc !important;
	}
#calEvents
	{
		background-color:#fff !important;
	}
#calAgency
	{
		background-color:#fff !important;
	}
.redbanner
	{
		color:#ffffff;
		background-color:#f9786d;
	}
#cphCenterMiddle_tblLinkToolbox
	{
		border:1px solid #84babc !important;
	}
#vlsErrors
	{
		color:#f00 !important;
	}
#vlsErrors a
	{
		color:#f00 !important;
	}
#trvCenterLeft	
	{
		color:#4d4d4d;
	}
#trvCenterLeft a
	{
		color:#4d4d4d !important;
	}
	
.ChangedControlsIE7
    	{
	  background-color:#CCFB5D !important ;
    	}
    
.ChangedControls
	{
	   border: 1px solid red !important;
   	}
	
.textboxbgrightalign
	{
		color:#000000;
		background-color:#FFFFFF;
		border:1px solid #a3b7c5;
		text-align: right;
		margin:0px 2px 3px 0px !important;
		font: 11px verdana,tahoma,helvetica !important;
		width:150px;
	}
	
.ResultLabel
    {
	    text-align: right;
	    font-weight: normal;
	    line-height:10px;
	    padding-left: 25px;
	    margin-right : 25px;
    }
    
    
    .ResultLabelRightAlign
    {
	    text-align: right;
	    font-weight: normal;
	    line-height:10px;
	    padding-left: 25px;
	    margin-right : 25px;
	    float : right;
    }
    
    
    .ResultLabelBold
    {
	    text-align: right;
	    font-weight: bold;
	    line-height:10px;
	    padding-left: 25px;
	    margin-right : 25px;
    }

.bottomTextLeft span
{
    padding-right:5px;
    padding-left :5px;
    padding-top:5px;
    padding-bottom:5px;
}

.bottomTextRight span
{
    padding-right:5px;
    padding-left :5px;
    padding-top:5px;
    padding-bottom:5px;
}


.loginTxtBoxQA
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginSelectBoxQA
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginTxtBoxMM
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginTxtBoxDD
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginTxtBoxYYYY
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginTxtBoxSSN4
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginTxtBoxSSN5
	{
	    color:#014274;
		border:1px solid #6d8fb0;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.loginTxtUserIdentity
	{
		color:#014274;
	}
.loginTxtContact
	{
		color:#014274 !important;
	}
.loginTxtPWD
	{
		color:#014274;
	}
.loginTxtNew
	{
		color:#014274;
	}
.loginTxtRight
	{
		color:#014274;
	}
.loginTxtBoxCQ
	{
		border:1px solid #bcbebf;
		background:url(Images/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.btnSelf
	{
		color:#014274;
		background:url(Images/btnBg.png);
	}