/* Important Note: Common classes has been added in Common.css file */
.mainmenu
	{
		background-image:none !important;
	}
#mnuMain ul li
	{
		background:url(Image/menuDevider.png) no-repeat right 3px;
		*background:url(Image/menuDevider.png) no-repeat right 4px;
	}
#mnuMain ul li a
	{
		color:#243338;
	}
#mnuMain ul li a:hover
	{
		background:#323026;
		color:#555 !important;
	}
#mnuMain ul ul li a.menuVisited
	{
		background-color:#cabc9c !important;
	}	
#mnuMain ul ul
	{
		border:1px solid #848b93;
		border-bottom:none;
	}
#mnuMain ul ul li
	{
		border-bottom:1px solid #848b93;
	}
#mnuMain ul ul li a
	{
		background:url(Image/subMenuBg.gif) repeat-x left top;
	}

#mnuMain ul li a:hover
	{
		color:#ffe6aa;
		background:url(Image/subMenuHoverBg.gif) repeat-x left top;
	}
#mnuMain ul li .subarrow
	{
		background:#625e4b url(Image/downarrow.gif) no-repeat right -16px;
	}
#mnuMain ul li .subarrow:hover
	{
		background:#323026 url(Image/downarrow.gif) no-repeat right -16px;
	}