<div class="portlet-body">
    <div class="form-body">
        <div class="col-xs-12">
            <div class="panel panel-default filter-grid-criteria">
                <div class="panel-heading Result-grid">
                    <!--Result Grid
                    <div class="fright">
                        <img src="images/icon-up.svg" class="fright" title="Move Up" ng-click="objGridField.MoveUpField()"
                             ng-disabled="objGridField.CanMoveUp()" />
                        <img src="images/icon-down.svg" class="fright" title="Move Down" ng-click="objGridField.MoveDownField()"
                             ng-disabled="objGridField.CanMoveDown()" />
                    </div>-->
                    <div class="">
                        <span>Result Grid</span>
                        <ul>
                            <li title="Move Up"><i class="fa fa-arrow-up" ng-click="objGridField.MoveUpField()" ng-disabled="objGridField.CanMoveUp()"></i></li>
                            <li title="Move Down"><i class="fa fa-arrow-down" ng-click="objGridField.MoveDownField()" ng-disabled="objGridField.CanMoveDown()"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body div-form-control-body">
                    <div class="div-form-control">
                        <table class="table table-condensed table-hover table-fixedheader">
                            <thead>
                                <tr>
                                    <th width="10%">Field Name</th>
                                    <th width="10%">Data Type</th>
                                    <th width="10%">Header</th>
                                    <th width="15%">Control Type</th>
                                    <th width="15%">Related Control</th>
                                    <th width="10%">Format</th>
                                    <th width="5%">Key</th>
                                    <th width="10%">Sort Expression</th>
                                    <th width="10%">Default Order</th>
                                    <th width="5%">Visible</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="objfield in objGridField.FieldCollection" ng-click="objGridField.onFieldClick(objfield)"
                                    ng-class="objGridField.SelectGridField == objfield?'selected':''">
                                    <td width="10%">
                                        <span ng-bind="objfield.istrPropertyName"></span>
                                    </td>
                                    <td width="10%">
                                        <span ng-bind="objfield.istrDataType"></span>
                                    </td>
                                    <td width="10%">
                                        <input type="text" class="form-control input-sm" title="{{objfield.istrHeader}}" ng-model="objfield.istrHeader" />
                                    </td>
                                    <td width="15%">
                                        <select class="form-control input-sm" ng-options="controltype for controltype in objGridField.ArrControlTypes" title="{{objfield.istrControlType}}" ng-model="objfield.istrControlType" />
                                    </td>
                                    <td width="15%">
                                        <select class="form-control input-sm" ng-options="controltype for controltype in objGridField.ArrRelativeControl" title="{{objfield.istrRelatedControl}}" ng-model="objfield.istrRelatedControl" />
                                    </td>
                                    <td width="10%">
                                        <select class="form-control input-sm" ng-options="controltype for controltype in objGridField.ArrDataFormat" title="{{objfield.istrFormat}}" ng-model="objfield.istrFormat" />
                                    </td>
                                    <td width="5%">
                                        <select class="form-control input-sm" ng-options="controltype for controltype in objGridField.ArrDataKey" title="{{objfield.istrKey}}" ng-model="objfield.istrKey" />
                                    </td>
                                    <td width="10%">
                                        <select class="form-control input-sm" ng-options="controltype for controltype in objGridField.ArrSort" title="{{objfield.istrSort}}" ng-model="objfield.istrSort" ng-change="objGridField.ChangeSortExpression(objfield)"/>
                                    </td>
                                    <td width="10%">
                                        <select ng-disabled="!objfield.istrSort" class="form-control input-sm" ng-options="controltype for controltype in objGridField.ArrOrder" title="{{objfield.istrOrder}}" ng-model="objfield.istrOrder" />
                                    </td>
                                    <td width="5%">
                                        <input type="checkbox" ng-model="objfield.istrVisible" ng-checked="objfield.istrVisible" ng-true-value="'True'" ng-false-value="'False'" />
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
     <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
     <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" />
     <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-disabled="true" />
     <input type="button" class="dialog-btn" wz-finish ng-click="onFinishButtonWizardClick()" value="Finish" />
</div>
