<div class="portlet-body">
    <div class="form-body">

        <div class="col-xs-12">
            <div class="div-entity-object-tree">
                <newentityobjecttreetemplate ischeckboxvisible="true"  selectedfield="objGridObjectField.SelectedEntityField" lstdisplayentity="objGridObjectField.LstDisplayedEntities"
                                             selectedentityobjecttreefields="objGridObjectField.lstFields" entityname="objCreateNewGrid.SelectedEntityField.Entity" lstselectedmultiplelevelfield="objGridObjectField.lstselectedmultiplelevelfield"></newentityobjecttreetemplate>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-if="objGridObjectField.ErrorMessageForDisplay.length>0">{{objGridObjectField.ErrorMessageForDisplay}}</span>
    </div>
    <div class="col-xs-6">
        <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
        <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" />
        <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-disabled="objGridObjectField.IsNextDisable()" ng-click="objGridObjectField.OnNextClick()" />
        <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" disabled="disabled" />
    </div>
</div>
