
<div class="portlet-body">
    <div class="">
        <div newbuttoncommonproptemplate></div>
    </div>
    <div class="form-body">
        <div class="form-group" ng-show="SelectedButtonDetails.Method == 'btnGridSearchCriteriaReq_Click'">
            <label class="control-label col-xs-2">Object Method :</label>
            <div class="col-xs-10 no-padding">
                <entitymethodsintellisense model="model" entityid="formodel.dictAttributes.sfwEntity"
                                           modelvalue="objNewButtonServerMethod.StrServerMethod" propertyname="'StrServerMethod'"></entitymethodsintellisense>
            </div>
        </div>

        <div class="form-group" ng-show="SelectedButtonDetails.Method == 'btnExecuteServerMethod_Click' || SelectedButtonDetails.Method == 'btnDownload_Click'">
            <label class="control-label col-xs-2">Server Method :</label>
            <div class="col-xs-10">
                <servermethoddirective servermethod="objNewButtonServerMethod.StrServerMethod" formobject="formodel"
                                       model="sfxControl" propertyname="'StrServerMethod'"></servermethoddirective>
            </div>
        </div>

       
            <div class="form-group" ng-show="SelectedButtonDetails.Method == 'btnExecuteBusinessMethod_Click' || SelectedButtonDetails.Method == 'btnValidateExecuteBusinessMethod_Click' || SelectedButtonDetails.Method == 'btnExecuteBusinessMethodSelectRows_Click' || SelectedButtonDetails.Method == 'btnCompleteWorkflowActivities_Click'">
                <label class="control-label col-xs-2">Execute Method Type :</label>
                <div class="radio-btn-row col-xs-10">
                    <input type="radio" ng-model="objNewButtonServerMethod.sfwExecuteMethodType" value="ObjectMethod" ng-change="objNewButtonServerMethod.onMethodTypeChange(objNewButtonServerMethod.sfwExecuteMethodType)" /> <label>Object Method</label>
                    <input type="radio" ng-model="objNewButtonServerMethod.sfwExecuteMethodType" value="XmlMethod" ng-change="objNewButtonServerMethod.onMethodTypeChange(objNewButtonServerMethod.sfwExecuteMethodType)" /> <label>Xml Method</label>
                    <input type="radio" ng-model="objNewButtonServerMethod.sfwExecuteMethodType" value="Rule" ng-change="objNewButtonServerMethod.onMethodTypeChange(objNewButtonServerMethod.sfwExecuteMethodType)" /> <label >Rule</label>

                </div>
           
        </div>
            <div class="form-group" ng-show="SelectedButtonDetails.Method == 'btnExecuteBusinessMethod_Click' || SelectedButtonDetails.Method == 'btnValidateExecuteBusinessMethod_Click' || SelectedButtonDetails.Method == 'btnExecuteBusinessMethodSelectRows_Click' || SelectedButtonDetails.Method == 'btnCompleteWorkflowActivities_Click'">
                <label class="control-label col-xs-2">{{Title}}</label>
                <div class="col-xs-10 no-padding" ng-if="!IsParentAsCollection">
                    <entitymethodsintellisense model="model" entityid="formodel.dictAttributes.sfwEntity"
                                               modelvalue="objNewButtonServerMethod.StrServerMethod" propertyname="'StrServerMethod'" showrules="showRules" showonlyobjectmethods="showObjectMethod" showxmlmethods="showXmlMethod"></entitymethodsintellisense>
                </div>
                <div class="col-xs-10 no-padding" ng-if="IsParentAsCollection">
                    <entitymethodsintellisense model="model" entityid="entityName"
                                               modelvalue="objNewButtonServerMethod.StrServerMethod" propertyname="'StrServerMethod'" showrules="showRules" showonlyobjectmethods="showObjectMethod" showxmlmethods="showXmlMethod"></entitymethodsintellisense>
                </div>
            </div>
    </div>
</div>

<div class="form-actions">
    <div class="col-xs-6 text-left">
        <span class="alert-error-msg" ng-bind="objNewButtonServerMethod.ErrorMessageForDisplay"></span>
    </div>
    <div>
        <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
        <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" disabled="disabled" />
        <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-disabled="objNewButtonServerMethod.IsNextDisable()" ng-click="objNewButtonServerMethod.OnNextClick()" />
        <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" ng-disabled="objNewButtonServerMethod.IsFinishDisable()" />
    </div>
</div>
