
<div class="portlet-body">
    <div class="">
        <div newbuttoncommonproptemplate></div>
    </div>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-xs-2">Related Grid:</label>
            <div class="col-xs-10">
                <div class='select-editable common-prop-select-editable'>
                    <select ng-options='relatedGrid for relatedGrid in objNewButtonFilterGrid.lstRelatedGrid' title="{{sfxControl.dictAttributes.sfwRelatedControl}}" ng-model='sfxControl.dictAttributes.sfwRelatedControl' ng-change="objNewButtonFilterGrid.onRelatedGridChange()" />
                    <input type='text' title="{{sfxControl.dictAttributes.sfwRelatedControl}}" ng-model='sfxControl.dictAttributes.sfwRelatedControl' ng-change="objNewButtonFilterGrid.onRelatedGridChange()" />
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="div-entity-object-tree">
                             <newentityobjecttreetemplate ischeckboxvisible="false" selectedfield="objNewButtonOpenWordDoc.SelectedField" lstdisplayentity="objNewButtonOpenWordDoc.LstDisplayedEntities" 
                                             selectedentityobjecttreefields="objNewButtonOpenWordDoc.lstselectedobjecttreefields" entityname="formodel.dictAttributes.sfwEntity"></newentityobjecttreetemplate>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label col-xs-2">Template Name:</label>
                <div class="col-xs-10">
                    <template-name-intellisense collection="objNewButtonOpenWordDoc.lstCorrTemplates" model="objNewButtonOpenWordDoc" modelname="objNewButtonOpenWordDoc.TemplateName" propertyname="'TemplateName'" validate="true"></template-name-intellisense>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Tracking ID:</label>
                <div class="col-xs-10">
                    <entityfieldelementintellisense  modebinding="objNewButtonOpenWordDoc.TrackingID" model="objNewButtonOpenWordDoc" entityid="formodel.dictAttributes.sfwEntity" propertyname="'TrackingID'" ondragover="onDragOverCommon(event)" ondrop="onTrackingIDDrop(event)" errorprop="objNewButtonOpenWordDoc.errors.TrackingID" validate="true"/>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="Cancel" ng-click="CloseWizardClick()" />
    <input type="button" class="dialog-btn" wz-previous="onPrevious()" value="Back" />
    <input type="button" class="dialog-btn" wz-next="onNext()" value="Next" ng-click="objNewButtonOpenWordDoc.OnNextClick()" ng-disabled="objNewButtonOpenWordDoc.IsNextDisable()" />
    <input type="button" class="dialog-btn" wz-finish value="Finish" ng-click="onFinishButtonWizardClick()" disabled="disabled" />
</div>