/**
    neoGrid Pagination CSS
**/
.s-pager ul.simple-pagination {
    list-style: none;
}

.s-pager.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}

    .s-pager.simple-pagination ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .s-pager.simple-pagination li {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
    }

.s-pager span.ellipse.clickable {
    cursor: pointer;
}

.s-pager .ellipse input {
    width: 3em;
}

/*------------------------------------*	Compact Theme Styles
\*------------------------------------*/
.s-pager.compact-theme a, .s-pager.compact-theme span {
    float: left;
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #AAA;
    border-left: none;
    min-width: 14px;
    padding: 0 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: #efefef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* W3C */
}

    .s-pager.compact-theme a:hover {
        text-decoration: none;
        background: #efefef;
        /* Old browsers */
        background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #bbbbbb));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
        /* Opera11.10+ */
        background: -ms-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
        /* IE10+ */
        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
        /* W3C */
    }

.s-pager.compact-theme li:first-child a, .s-pager.compact-theme li:first-child span {
    border-left: 1px solid #AAA;
    border-radius: 3px 0 0 3px;
}

.s-pager.compact-theme li:last-child a, .s-pager.compact-theme li:last-child span {
    border-radius: 0 3px 3px 0;
}

.s-pager.compact-theme .current {
    background: #bbbbbb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbbbbb), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbbbbb 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbbbbb 0%, #efefef 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(top, #bbbbbb 0%, #efefef 100%);
    /* W3C */
    cursor: default;
}

.s-pager.compact-theme .ellipse {
    background: #EAEAEA;
    padding: 0 10px;
    cursor: default;
}

/*------------------------------------*	Light Theme Styles
\*------------------------------------*/
.s-pager.light-theme a, .s-pager.light-theme span {
    float: left;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 50%;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
    background: #efefef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* W3C */
}

    .s-pager.light-theme a:hover {
        text-decoration: none;
        background: #FCFCFC;
    }

.s-pager.light-theme .current {
    background: #3164a2;
    color: #FFF;
    border-color: #254a77;
    box-shadow: 0 1px 0 white, 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.s-pager .page-link.next, .s-pager .page-link.prev, .s-pager .current.next, .s-pager .current.prev {
    border-radius: 3px !important;
}

.s-pager.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

/*------------------------------------*	Dark Theme Styles
\*------------------------------------*/
.s-pager.dark-theme a, .s-pager.dark-theme span {
    float: left;
    color: #CCC;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #222;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #555;
    /* Old browsers */
    background: -moz-linear-gradient(top, #555 0%, #333 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(100%, #333));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555 0%, #333 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555 0%, #333 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #555 0%, #333 100%);
    /* IE10+ */
    background: linear-gradient(top, #555 0%, #333 100%);
    /* W3C */
}

    .s-pager.dark-theme a:hover {
        text-decoration: none;
        background: #444;
    }

.s-pager.dark-theme .current {
    background: #222;
    color: #FFF;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: default;
}

.s-pager.dark-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

.s-pager li.disabled span {
    background: #FFF !important;
    color: #CCC !important;
    border: 1px solid #CCC !important;
}

/**
    neoGrid Pagination CSS End
**/
/**
    neoGrid CSS
**/
table {
    border-collapse: collapse;
}

    table.s-grid th, table.s-grid td {
        border-left: 1px solid #e6e6e6;
        white-space: nowrap;
        padding: 5px 8px;
    }

.s-grid-container {
    font-family: sans-serif;
}

.s-datepicker-img {
    margin-left: 5px;
    position: absolute;
    background: url("images/calender.png");
    width: 15px;
    height: 18px;
}

th.s-sortable {
    cursor: pointer;
    white-space: pre-wrap !important; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap !important; /* Opera 4-6 */
    white-space: -o-pre-wrap !important; /* Opera 7 */
    word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

.s-grid {
    border: 1px solid #e6e6e6;
}

    .s-grid th {
        position: relative;
        font-weight: bold;
        background: linear-gradient(to bottom, #2d99d2 0%, #015682 100%);
        color: #FFFFFF;
    }

        .s-grid th:before {
            content: " ";
            position: absolute;
            width: 1px;
            height: 100%;
            background: #e6e6e6;
            left: -1px;
            top: 0px;
        }

.s-empty-th:before {
    background: none !important;
}

.s-hdrrow {
    text-align: center;
}

.s-altrow {
    background-color: #e6f2f8;
}

.s-row {
    background-color: #FFFFFF;
}

.s-number {
    text-align: right;
}

.s-empty-td {
    background: #daecf4 !important;
    border-color: #daecf4 !important;
}

.s-group-row td {
    border-color: #daecf4 !important;
}

.s-group-row {
    background: #daecf4;
}

    .s-group-row td.s-group-col {
        font-weight: bold;
    }

.s-group-row-value {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url("images/group-collapse-icon.svg");
    margin-right: 5px;
    position: relative;
    top: 1px;
    background-size: 100% !important;
    cursor: pointer;
}

.s-group-row-value-expand {
    background: url("images/group-expand-icon.svg");
}

.s-group-row-value-collapse {
    background: url("images/group-collapse-icon.svg");
}

.s-groups-list {
    border: 1px solid #a3d0e4;
    margin: 0px;
    box-sizing: border-box;
    background: #dcd8d2;
    height: 30px;
    border-bottom: 0;
    padding-left: 10px !important;
    line-height: 30px;
}

    .s-groups-list li {
        display: inline-block;
        font-size: 12px;
        color: #333;
        border: 1px solid #a3d0e4;
        line-height: normal;
        padding: 3px 5px;
        margin-right: 10px;
        opacity: 1 !important;
        background: #daecf4;
        border-radius: 3px;
        position: relative;
        top: -1px;
    }

        .s-groups-list li.placeholder {
            background: none !important;
        }

.s-groupds-drop-header {
    border: 0 !important;
}

.s-pager ul li:not(.disable) {
    cursor: pointer;
}

.s-grid .GridTextBox, .s-grid .s-textbox {
    width: 100% !important;
    padding: 5px;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 2px;
}

.s-grid .hasDatepicker {
    width: 90% !important;
}

.s-agr-row {
    background-color: #aaa;
}

.FilterBox {
    position: absolute;
    display: none;
    overflow: hidden;
    z-index: 10000;
    border: 1px solid;
    background-color: #fff;
}

.s-FilterTrigger {
    width: 12px;
    height: 12px;
    background: url("images/filter-icon.svg");
    padding: 0px !important;
    position: absolute;
    right: 3px;
    top: 6px;
    background-size: 100%;
}

.s-grid-FilterAdded {
    color: blue;
    border: 1px solid;
}

.s-grid-tooltip {
    padding: 5px;
    background-color: #caf5ff;
    position: absolute;
    border: 1px solid #888;
    max-width: 300px;
}

.GridLinks {
    color: #1170d6 !important;
    display: inline;
}

td[data-container-for='rowSelect'], th[data-field='rowSelect'] {
    text-align: center !important;
    width: auto !important;
}

.s-grid-ui-icon-close:after {
    content: "X";
    font-size: 10px;
    position: relative;
    margin-right: 5px;
    top: -1px;
    cursor: pointer;
}

.s-grid-ui-icon-close {
    cursor: pointer;
}

.s-arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    float: none;
    padding: 0;
    top: 1px;
    left: 3px;
    position: relative;
    background-size: 100% !important;
    margin-right: 10px;
}

.s-desc {
    background: url(images/descending-icon.svg);
}

.s-asc {
    background: url(images/ascending-icon.svg);
}

.FilterBox .row {
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.s-grid-ftrrow, .s-grid-ftrrow td {
    background-color: #daecf4;
    color: #000;
    border-color: #daecf4 !important;
}

.s-groups-list.ui-state-hover {
    background: #dcd8d2 !important;
}

span.s-paging-msg {
    background: none !important;
    border: 0 !important;
}

.ui-draggable-dragging {
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-weight: normal !important;
    border: 1px solid #a3d0e4;
    line-height: normal;
    padding: 3px 5px;
    margin-right: 10px;
    opacity: 1 !important;
    background: #daecf4;
    border-radius: 3px;
    position: relative;
    top: -1px;
}

/******************************Jquey UI Calendar changes********************************/
/*.ui-datepicker.ui-widget
{
    width:180px;
}

.ui-datepicker table
{
    font-size:12px !important;
}


.ui-datepicker .ui-datepicker-title
{
        margin: 0 AUTO !important;
    line-height:normal !important;
    width: 70% !important;
}

.ui-datepicker .ui-datepicker-title select
{
    font-size:12px !important;
}

.ui-datepicker-year
{
    margin-left:4px !important;
}

.ui-datepicker-month
{
    margin-right:4px !important;
}

.ui-widget-header
{
    background:#4b8aab !important;
}

.ui-state-active, .ui-widget-content .ui-state-active
{
     background:#4b8aab !important;
     border:1px solid #c5c5c5;
}

.ui-state-hover, .ui-widget-content .ui-state-hover
{
     background:#4b8aab !important;
     border:1px solid #c5c5c5;
}*/

.btnViewOpen_Click {
    background-image: url('images/btnViewOpen_Click.png');
}

.ViewOnlyLink {
    background-image: url('images/grid-link-view.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1px;
    background-color: transparent;
    color: transparent !important;
    text-decoration: none !important;
    height: 12px;
    width: 18px;
    /*float: left;*/
    cursor: pointer;
    margin-left: 5px;
    display: inline-flex;
}

.GridViewOnly {
    background-image: url('images/grid-link-view.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1px;
    background-color: transparent;
    height: 18px;
    width: 18px;
    float: left;
    cursor: pointer;
}

.GridEditOnly {
    background-image: url('images/grid-link-edit.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1px;
    background-color: transparent;
    height: 18px;
    width: 18px;
    float: left;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 5px;
}

.s-grid [vieweditlinkbutton="true"], .s-grid [vieweditimagebutton="true"] , .s-grid [vieweditlink="true"] {
    display: block;
    /*padding: 3px 0px;*/
    float: left;
}

.s-grid [vieweditlinkbutton="true"], .s-grid [vieweditlink="true"], .s-grid [vieweditlink="true"] .GridLinks{
    text-decoration: none !important;
    cursor: default !important;
    color: #333 !important;
}

.s-grid-viewedit-container{
    display:inline-flex;
}