<div class="portlet-body bpm-body-content">
    <div class="form-body">
        <div class="form-group">
            <label class="col-xs-2"> ID:</label>
            <div class="col-xs-10">
                <input class="form-control input-sm" type="text"  title="{{objConstant.dictAttributes.ID}}" ng-model="objConstant.dictAttributes.ID" ng-change="checkConstantName(objConstant.dictAttributes.ID,objConstant)" />
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="col-xs-7">
        <span class="pull-left text-danger" ng-if="ErrorMessage.length>0" ng-bind="ErrorMessage"></span>
    </div>
    <div class="col-xs-5">
        <input class="dialog-btn-default" ng-disabled="ErrorMessage.length>0" type="button" value="OK" ng-click="OnOkClick()" />
        <input class="dialog-btn-default" type="button" value="Cancel" ng-click="OnCancelClick()" />
    </div>
</div>

