@media print {
	html, body, #container
	{
	    font-family: verdana, helvetica;
	    font-size: 12px;
	    margin: 0px;
	    padding: 0px;
	    font-weight: bold;
	}
	#top_head
	{
	    background-image: url(Image/Header_Top_Bg.png);
	    background-repeat: repeat-x;
	    background-color: #c5e2ea;
	    height: 72px;
	}

	.ReportViewer
	{
	    height: 100%;
	    overflow: auto;
	}

	.WorkflowButton
	{
	    margin-right: 2px;
	}
	.silhouette
	{
	    background-image: url(Image/silhouette1.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    width:16px;
	    height:16px;
	    border:0px;
	}

	.Headleft
	{
	    background-image: url(Image/Header_Top_Left.png);
	    background-repeat: no-repeat;
	    background-color: #c5e2ea;
	    background-position: left top;
	    height: 72px;
	    width: 113px;
	    display: inline;
	    float: left;
	}
	.Headcontent
	{
	    padding-top: 5px;
	    float: left;
	}

	.headrightIcon
	{
	    padding-top: 3px;
	    vertical-align: top;
	}
	.headrightIcon a
	{
	    color: #4c7996;
	    text-decoration: none;
	    font-weight: bold;
	}
	.headrightIcon a:hover
	{
	    color: #44a6e5;
	    text-decoration: none;
	}

	.Menuleft
	{
	    background-image: url(Image/Menu_L.png);
	    background-repeat: no-repeat;
	    background-position: left;
	    background-color: transparent;
	    height: 34px;
	    width: 21px;
	    display: inline;
	    float: left;
	}

	.MenuCenter
	{
	    background-image: url(Image/Menu_Bg.png);
	    background-repeat: repeat-x;
	    height: 34px;
	    display: inline;
	    float: left;
	    color: #333;
	    font-weight: bold;
	    padding-top: 2px;
	    width: auto;
	}
	.MenuCenter a
	{
	    color: #333;
	    font-weight: bold;
	    text-decoration: none;
	}

	.MenuCenter a:hover
	{
	    color: #3399cc;
	    font-weight: bold;
	    text-decoration: none;
	}

	.MenuRight
	{
	    background-image: url(Image/Menu_R.png);
	    background-repeat: no-repeat;
	    background-position: right;
	    background-color: transparent;
	    height: 34px;
	    width: 50px;
	    display: inline;
	    float: left;
	    padding-top: 2px;
	}

	#menu
	{
	    position: absolute;
	    top: 36px;
	    left: 140px;
	    height: 36px;
	    display: inline;
	    overflow: visible;
	    margin-right: 50px;
	    font-size: 12px;
	}
	/*Button Added by sasi 04-02-10 */
	.btnServerSideRefresh
	{
	    display: none;
	}
	.ButtonCell
	{	   
	    height: 22px;
	    border: 0px;
	    margin: 0px;
	    padding-right: 5px;
	}
	.ButtonTable
	{
	    margin-right: 10px;
	    display: inline-table;
	}

	.buttonbg
	{	    
	    background-color: #b5eaff;
	    height: 22px;
	    color: #093a68;
	    font-weight: bold;
	    cursor: hand;
	    border: 0px;
	    width: 100%;
	    margin-left: 5px;
	    padding-right: 5px;
	}
	.Imagebutton
	{
	    cursor: pointer;
	}

	.MyModalPanel
	{
	    background: #fff url(Image/loading.gif) center center no-repeat;
	}

	A A:link A:active A:visited
	{
	    font-weight: bold;
	    color: #238fc7;
	}
	.loader
	{
	    font-weight: bold;
	    color: #CC0033;
	}
	.menubg a:link
	{
	    color: #ffffff;
	    text-decoration: none;
	}
	.menubg a:hover
	{
	    color: #ffffff;
	    text-decoration: none;
	}
	.menubg a:visited
	{
	    color: #ffffff;
	    text-decoration: none;
	}

	.submenuitem
	{
	    margin-bottom: 1px;
	    padding: 5px;
	    font-weight: bold;
	    color: #333;
	    background-color: #c4e2e2;
	    z-index: 20000;
	}
	.submenu
	{
	    background-color: #ffffff;
	}
	.submenu a
	{
	    color: #333;
	}

	.mainmenu
	{
	    padding-left: 10px;
	    margin-top: 1px;
	}
	.level1
	{
	    padding-left: 20px;
	    margin-top: 1px;
	}

	.submenuover
	{
	    background-color: #97d3da;
	    color: #333;
	    padding: 5px;
	    margin-top: 1px;
	}
	a
	{
	    color: #2d7383;
	    text-decoration: none;
	}
	.Content
	{
	    border: solid 1px #aaaaaa;
	    border-top: 0px;
	}

	#cphCenterMiddle_tblAuditInfo
	{
	    border: solid 1px #aaaaaa;
	}

	.DisabledControls
	{
	    background-color: white;
	}

	.Label
	{
	    text-align: right;
	    font-weight: normal;
	    padding-left: 15px;
	}

	.AlignRight
	{
	    text-align: right;
	}

	.AlignLeft
	{
	    text-align: left;
	}

	.ReqInfo
	{
	    text-align: right;
	    width: 150px;
	    color: #FF4500;
	}

	.txtlabel
	{
	    font-weight: bold;
	    color: #333300;
	}

	.Table
	{
	    vertical-align: top;
	    width: 100%;
	}


	.Message
	{
	    background-color: #d7e7ec;
	    width: 100%;
	    height: 30px;
	    margin-top: 1px;
	    padding-left: 5px;
	    font-weight: bold;
	    color: #465a77;
	}
/*	.textboxbg
	{
	    color: #545659;
	    background-color: #FFFFFF;
	    border: 1px solid #a4cad6;
	    margin-right: 5px;
	}*/
	.Divider
	{
	    border: solid 1px #d8e6eb;
	    margin-right: 6px;
	    width: 90%;
	}
	.TreeNodeMaintenance
	{
	    font-weight: bold;
	}
	.TreeNodeLookup
	{
	    font-weight: normal;
	}
	.PanelMiddle
	{
	    margin-top: 1px;
	}
	#footer
	{
	    color: #ffffff;
	    background-color: #4c7996;
	}
}
