/* Main Dark Style Sheet for jQuery UI Datepicker */
 #datetimepicker_div,  .datetimepicker_inline {
	background: #222;
}
 #datetimepicker_div {
	border: 1px solid #07F;
}
 .datetimepicker_dialog {
	border: 4px ridge #222 !important;
}
 .datetimepicker_prompt {
	background: #222;
	color: snow;
}
 .datetimepicker_control,  .datetimepicker_links,  .datetimepicker_header,  .datetimepicker {
	color: #111;
}
 .datetimepicker_control {
	background: #469;
}
 .datetimepicker_links {
	background: #347;
}
 .datetimepicker_links label {
	color: #888;
}
 .datetimepicker_header {
	background: #944;
}
 .datetimepicker_header select {
	background: #944;
	color: snow;
}
 .datetimepicker {
	background: #333;
}
 .datetimepicker .datetimepicker_titleRow {
	background: #733;
	color: snow;
}
 .datetimepicker .datetimepicker_daysRow {
	background: #111;
	color: #AAA;
}
 .datetimepicker_weekCol {
	background: #733;
	color: #FFF;
}
 .datetimepicker .datetimepicker_daysCell {
	color: snow;
	border: 1px solid #222;
}
 #datetimepicker .datetimepicker_daysCell a {
	display: block;
}
 .datetimepicker .datetimepicker_weekEndCell {
	background: #444;
}
 .datetimepicker .datetimepicker_daysCellOver {
	background: #111;
	border: 1px solid #999;
}
 .datetimepicker .datetimepicker_unselectable {
	color: #888;
}
 .datetimepicker_today {
	background: #944 !important;
}
 .datetimepicker_currentDay {
	background: #733 !important;
}
 #datetimepicker_div a,  .datetimepicker_inline a {
	color: snow;
}
 .datetimepicker_inline .datetimepicker_links a {
	padding: 0 5px !important;
}
 .datetimepicker_control a,  .datetimepicker_links a {
	color: snow !important;
}
 .datetimepicker_titleRow a {
	color: snow !important;
}
 .datetimepicker_control a: hover {
	color: #ccc !important;
}
 .datetimepicker_links a: hover,  .datetimepicker_titleRow a: hover {
	background: #111 !important;
	color: #CCC !important;
}
 .datetimepicker_multi .datetimepicker {
	border: 1px solid #944;
}