<div class="portlet-body">
    <ul class="nav nav-tabs" ng-init="selectedExceptionTab='Error'">
        <li ng-class="selectedExceptionTab=='Error'?'active':''" ng-click="selectedExceptionTab='Error'">
            <a data-toggle="tab" aria-expanded="true">
                Error
            </a>
        </li>
        <li ng-class="selectedExceptionTab=='StackTrace'?'active':''" ng-click="selectedExceptionTab='StackTrace'">
            <a data-toggle="tab" aria-expanded="false">
                Stack Trace
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div ng-class="selectedExceptionTab=='Error'?'tab-pane fade active in':'tab-pane fade'">
            <!--<p ng-bind="errorMessage"></p>-->
            <textarea ng-model="errorMessage" readonly style="border:none;background-color:transparent;width:100%;height:500px" />
        </div>
        <div ng-class="selectedExceptionTab=='StackTrace'?'tab-pane fade active in':'tab-pane fade'">
            <!--<p ng-bind="stackTrace"></p>-->
            <textarea ng-model="stackTrace" readonly style="border:none;background-color:transparent;width:100%;height:500px" />
        </div>
    </div>
</div>
<div class="form-actions">
    <input type="button" class="dialog-btn" value="Send Error Report" ng-click="sendErrorReport()" />
    <input type="button" class="dialog-btn-default" value="Close" ng-click="closeDialog()" />
</div>
