<div class="portlet-body">
    <!--<div class="popup-head">Save File List<div class="ngdialog-close"></div></div>-->
    <div class="form-group">
        <div class="col-md-12">
            Save changes to the following items?
        </div>
        <div class="col-md-12">
            <ul>
                <li ng-repeat="fileDetail in lstDirtyFiles"><span ng-bind="fileDetail.file.FilePath"></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="form-actions">
    <input type="button" ng-click="closeSaveListDialog('Yes')" value="Yes" class="dialog-btn" />
    <input type="button" ng-click="closeSaveListDialog('No')" value="No" class="dialog-btn"/>
    <input type="button" ng-click="closeSaveListDialog('Cancel')" value="Cancel" class="dialog-btn"/>
</div>
