<div class="full-width">
    <div class="form-group">
        <label class="control-label marg-bottom-5">Days</label>
        <input type="text" ng-disabled="$ctrl.isDisabledforVersioning" class="form-control input-sm" title="{{$ctrl.model.dictAttributes.Days}}" ng-model="$ctrl.model.dictAttributes.Days" undoredodirective model="$ctrl.model" ng-change="$ctrl.onchangeDuration()" propertyname="'dictAttributes.Days'" />
    </div>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Hours</label>
        <select type="text" class="form-control input-sm" ng-options="n for n in [] | range:1:24" title="{{$ctrl.model.dictAttributes.Hours}}" ng-model="$ctrl.model.dictAttributes.Hours" undoredodirective model="$ctrl.model" ng-change="$ctrl.onchangeDuration()" propertyname="'dictAttributes.Hours'">
            <option> </option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Minutes</label>
        <select type="text" class="form-control input-sm" ng-options="n for n in [] | range:1:60" title="{{$ctrl.model.dictAttributes.Minutes}}" ng-model="$ctrl.model.dictAttributes.Minutes" undoredodirective model="$ctrl.model" ng-change="$ctrl.onchangeDuration()" propertyname="'dictAttributes.Minutes'">
            <option> </option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Seconds</label>
        <select type="text" class="form-control input-sm" ng-options="n for n in [] | range:1:60" title="{{$ctrl.model.dictAttributes.Seconds}}" ng-model="$ctrl.model.dictAttributes.Seconds" undoredodirective model="$ctrl.model" ng-change="$ctrl.onchangeDuration()" propertyname="'dictAttributes.Seconds'">
            <option></option>
        </select>
    </div>
    <div class="form-group" ng-show="$ctrl.model.Name !='userTask'">
        <label class="control-label marg-bottom-5">Process Type</label>
        <select class="form-control input-sm" ng-options="processType.Code as processType.Description for processType in $ctrl.processtypes" ng-model="$ctrl.model.dictAttributes.processType" ng-init="$ctrl.model.dictAttributes.processType = $ctrl.model.dictAttributes.processType.toUpperCase()" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.processType'"></select>
    </div>
    <div class="form-group">
        <label class="control-label marg-bottom-5">Short Description</label>
        <input class="form-control input-sm" ng-disabled="$ctrl.isDisabledforVersioning" type="text" ng-model="$ctrl.model.dictAttributes.shortDesc" maxlength="20" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.shortDesc'" />
    </div>
    <div class="form-group marg-bottom-8" ng-show="$ctrl.model.Name =='process'">
        <label class="checkbox-inline">
            <input type="checkbox" ng-disabled="$ctrl.isDisabledforVersioning" ng-model="$ctrl.model.dictAttributes.onlineInd" ng-true-value="'Y'" ng-false-value="'N'" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.onlineInd'" />
            <span class="control-label">Is Available Online</span>
        </label>
    </div>
    <div class="form-group" ng-show="$ctrl.model.Name =='userTask'">
        <label class="control-label marg-bottom-5">Assignable Count</label>
        <input class="form-control input-sm" ng-disabled="$ctrl.isDisabledforVersioning" type="text" ng-model="$ctrl.model.dictAttributes.assignableCnt" undoredodirective model="$ctrl.model" propertyname="'dictAttributes.assignableCnt'" />
    </div>
    <div class="form-group" ng-show="$ctrl.model.Name =='userTask'">
        <label class="control-label marg-bottom-5">SLA Configuration Date</label>
        <common-intellisense is-disable="$ctrl.isDisabledforVersioning" model="$ctrl.model.extraSettingsModel" propertyname="'dictAttributes.sfwConfigurationDate'" collection="$ctrl.datetypevariables" selected-item="$ctrl.model.extraSettingsModel.dictAttributes.sfwConfigurationDate" is-reset="true"></common-intellisense>
    </div>
    <div class="form-group" ng-show="$ctrl.model.Name =='userTask'">
        <label class="control-label marg-bottom-5">SLA Calculation</label>
        <select class="form-control" ng-model="$ctrl.model.extraSettingsModel.dictAttributes.sfwConfigurationDateMode">
            <option value="">After</option>
            <option value="Before">Before</option>
        </select>
    </div>

    <div class="form-group marg-bottom-8">
        <label class="checkbox-inline">
            <input ng-hide="$ctrl.model.Name =='Duration'" ng-disabled="$ctrl.isDisabledforVersioning" type="checkbox" ng-true-value="'True'" ng-false-value="'False'"
                   ng-model="$ctrl.model.extraSettingsModel.dictAttributes.sfwExcludeWeekends" undoredodirective model="$ctrl.model.extraSettingsModel"
                   propertyname="'dictAttributes.sfwExcludeWeekends'" />
            <input ng-show="$ctrl.model.Name =='Duration'" ng-disabled="$ctrl.isDisabledforVersioning" type="checkbox" ng-true-value="'True'" ng-false-value="'False'"
                   ng-model="$ctrl.model.dictAttributes.sfwExcludeWeekends" undoredodirective model="$ctrl.model"
                   propertyname="'dictAttributes.sfwExcludeWeekends'" />
            <span class="control-label">Exclude Weekends</span>
        </label>
    </div>
    <div class="form-group marg-bottom-8">
        <label class="checkbox-inline">
            <input ng-hide="$ctrl.model.Name =='Duration'" ng-disabled="$ctrl.isDisabledforVersioning" type="checkbox" ng-true-value="'True'" ng-false-value="'False'"
                   ng-model="$ctrl.model.extraSettingsModel.dictAttributes.sfwExcludeHolidays" undoredodirective model="$ctrl.model.extraSettingsModel"
                   propertyname="'dictAttributes.sfwExcludeHolidays'" />
            <input ng-show="$ctrl.model.Name =='Duration'" ng-disabled="$ctrl.isDisabledforVersioning" type="checkbox" ng-true-value="'True'" ng-false-value="'False'"
                   ng-model="$ctrl.model.dictAttributes.sfwExcludeHolidays" undoredodirective model="$ctrl.model"
                   propertyname="'dictAttributes.sfwExcludeHolidays'" />
            <span class="control-label">Exclude Holidays</span>
        </label>
    </div>
    <div class="form-group marg-bottom-8" ng-show="$ctrl.model.Name !='process'">
        <label class="checkbox-inline">
            <input ng-disabled="$ctrl.isDisabledforVersioning" type="checkbox" ng-true-value="'True'" ng-false-value="'False'"
                   ng-model="$ctrl.model.extraSettingsModel.dictAttributes.sfwCanExecuteBpmTaskOnSoftErrors" undoredodirective model="$ctrl.model.extraSettingsModel"
                   propertyname="'dictAttributes.sfwCanExecuteBpmTaskOnSoftErrors'" />
            <span class="control-label">Execute On SoftErrors</span>
        </label>
    </div>
</div>